[2020-06-15 14:17] renatocaval commented on #10338
That happen on a CRON job in 2.8.x

[2020-06-15 15:06] raboof commented on #10338
The publish task used version 10.2.0-M1+112 (https://travis-ci.com/github/playframework/playframework/jobs/349097959#L233) and claims to have saved that to disk (https://travis-ci.com/github/playframework/playframework/jobs/349097959#L5000)

However apparently the sbt job did not pick this up: https://travis-ci.com/github/playframework/playframework/jobs/349097968#L239

[2020-06-15 15:12] raboof commented on #10338
This is because the version is stored in `~/.ivy2/local/AKKA_VERSION` and  `~/.ivy2/local/AKKA_HTTP_VERSION` (https://github.com/playframework/playframework/blob/2.8.x/scripts/publish-local#L18), but only `~/.ivy2/local/com.typesafe.play` is stored in the travis workspace (https://github.com/playframework/playframework/blob/2.8.x/.travis.yml#L46)

[2020-06-15 15:12] raboof commented on #10338
(that problem also appears to exist on master)

[2020-06-15 21:44] mbykovskyy opened #10339 "Form validation not working for optional(nonEmptyText)"
[code]

The form above doesn't validate a request where `name` is empty. I.e.
[code]

### Play Version
2.7.3

### API
Scala

### JDK
1.8.0_251

### Expected Behavior
Form {
    mapping(
      "name" -> optional(nonEmptyText)
    )(Model.apply)(Model.unapply)
  }

### Actual Behavior

1.
2.
3.

### Reproducible Test Case

[2020-06-16 08:52] ignasi35 commented on #10333
hi @scoquelin, I think the first step is to `git bisect` to try and isolate the cause. Also, we could simply bump the sbt version in `project/build.properties` to see if that already fixes the issue. In any case, try running `+ publishLocal` to see what's produced.

[2020-06-16 08:56] ignasi35 commented on #10333
I think the problem is in bebf208de

[2020-06-16 09:56] ignasi35 commented on #10333
Wait a second... is this really a bug?
I've just run `sbt new playframework/play-scala-seed.g8` and set the project to use `2.7.5` and scala 2.13.2. It works as expected.

The reason it works is that `routest-compiler` is used from the `sbt-plugin` which runs on scala 2.12 (because it's sbt 1.x). The routes compiler produces scala code which the scala compiler (in this case the version I chose) wi

[2020-06-16 10:12] ignasi35 commented on #10333
@scoquelin if you want to investigate further, a faster method to locate the commit is using `sbt "show Routes-Compiler/crossScalaVersions"`

[2020-06-16 10:20] ignasi35 commented on #10333
Soem more tips: https://github.com/playframework/interplay/compare/2.0.8..2.1.1

[2020-06-17 07:08] ignasi35 commented on #10338
Again in https://travis-ci.com/github/playframework/playframework/builds/171573503

[2020-06-17 07:10] ignasi35 opened #10340 "[failed] /home/travis/.jabba/bin/jabba does not appear to be a valid binary."
https://travis-ci.com/github/lagom/lagom/builds/171692528 failed.

[2020-06-17 08:03] ignasi35 commented on #10338
Hmmm, play `2.8.x` should not try to download Akka-HTTP `10.2` and, instead, stay on `10.1.x`.

[2020-06-17 09:45] brunoballekens opened #10342 "Logback initialized twice when using custom application loader"
When following the instructions (https://www.playframework.com/documentation/2.8.x/SettingsLogger#Using-a-custom-application-loader) for configuring the logging system when using a custom application loader, logback is initalized twice.

This is because the `play.api.libs.logback.LogbackLoggerConfigurator` calls
https://github.com/playframework/playframework/blob/e34c8a0d56d9df755bd99663ef0cfed886

[2020-06-17 10:39] #10338 closed

[2020-06-17 17:18] wsargent commented on #10342
...I could have sworn I fixed this already, but #8256 shows as open.

@brunoballekens any errors or warnings in Logback?  Do you have a work around?

[2020-06-17 18:35] brunoballekens commented on #10342
Hi,
we had some errors when running inside a docker container because the first initialization picked up some logback.xml that was not meant to be used in the docker container (there was a rolling file appender pointing to a non-existing directory).
The workaround we use is to also specify `-Dlogback.configurationFile=docker-logger.xml` as startup option next to the `-Dlogger.resource=docker-logge

[2020-06-18 03:33] wsargent commented on #10342
@brunoballekens I've done something like that in https://github.com/wsargent/play-jdk13-alpine-slim but I don't remember seeing logback initialized twice.

[2020-06-18 05:23] francisdb commented on #10342
I guess there has to be an error or debug must be on to see the double initialization logs

[2020-06-18 06:46] brunoballekens commented on #10342
@wsargent like @francisdb says, you need to enable logback debug logging (by setting the `debug=true` on the root `configuration` node of the logback.xml (or passing `Dlogback.debug=true` when starting the jvm).
If you do that on your play-jdk13-alpine-slim you also see the double initialization :
[code]

The second inialization start line 20

[2020-06-18 16:41] wsargent commented on #10342
Okay, yes.  This is from https://github.com/playframework/playframework/pull/8809 and is intended behavior (per the PR) to wipe out any prior JUL configuration.

[2020-06-18 23:25] scoquelin commented on #10333
@ignasi35 Some more insights on the use case :

we are using [https://github.com/gradle/playframework](https://github.com/gradle/playframework) to build our play application and it is relying on the `routes-compiler` artifact in order to build its own `play-routes-plugin` [here](https://github.com/gradle/playframework/blob/423796bbc15d278fc8710331e48de1c8287ddb06/build.gradle.kts#L49)

so it would

[2020-06-19 07:43] octonato opened #10346 "Failed: (2.7.x) IdleTimeoutSpec - NPE on sub-second test for Netty"
Happened on 2.7.x

https://travis-ci.com/github/playframework/playframework/jobs/351245721#L1937-L1943

[code]

[2020-06-19 07:44] renatocaval commented on #10346
Note, this is a not a CRON job. This happened after merging https://github.com/playframework/playframework/pull/10330

[2020-06-19 08:26] DraganRaicici opened #10347 "Sending an 2xx 'early' response before end of request"
Hi, this issue seems similar to https://github.com/playframework/playframework/pull/9077 but we can see something similar in Play 2.8.2 as well.

The symptoms:
We're seeing a lot of "Sending an 2xx 'early' response before end of request"-type warnings in our logs from our web applications that are running in docker containers on aws ecs service. We have had difficulties reproducing this locally th

[2020-06-19 09:57] francisdb commented on #10342
Is the issue not that play itself initializes a logger before configuring the logging system?

[2020-06-20 06:12] scoquelin commented on #10333
@mkurz @ignasi35 thanks for the hints !

so this [change](https://github.com/playframework/interplay/compare/2.0.8..2.1.1#diff-42fd8f4837cde6143515264603c35946R228) in `interplay`  triggered the different behaviour after `2.7.3`

Basically in `2.7.x` branch the output of `sbt "++ 2.13.2 -v"` gives :

[code]

and after reverting this [change](https://github.com/playframework/interplay/compare/2.0.8

[2020-06-20 21:13] mkurz commented on #2983
I just had a use case for this feature as well. Actually I also think that it would be nice if Play could provide a native api to access path parameters.
I think about something like this:

[code]

When Play parses the path params it should store it in the request, so we can access it like:
[code]

Note for myself:
Maybe
[code]
is useful somehow.

I will see if I find time to come up with a soluti

[2020-06-21 09:50] mkurz opened #10350 "Support Option/Optional via PathBindable"
I want to be able to use an action like this:
[code]
and make use of it in the routes file like this:
[code]

Unfortunately we do not support `Option`/`Optional` via `PathBindable` yet. The implementation would be probably were similar to [the one of `QueryStringBindable`](https://github.com/playframework/playframework/blob/2.8.2/core/play/src/main/scala/play/api/mvc/Binders.scala#L430-L467).
As a

[2020-06-22 07:39] ignasi35 commented on #10333
The particular needs of the routes compiler (it's a library for an sbt plugin, but it's used in other plugins so it must be cross compiled) mean there's no recipee in `interplay` for it.

I think that's the best move forward. We're in the process of getting rid of `interplay` (see how other projects in the play ecosystem already dropped it). I think overwriting the `crossScalaVersion` and adding a

[2020-06-22 10:07] avdv opened #10351 "docs: Cloud Foundry instructions broken"
### Are you looking for help?

No.

### Play Version

2.6 to 2.8

### API

Java / Scala

### Expected Behavior

The instructions at https://www.playframework.com/documentation/2.8.x/Deploying-CloudFoundry work.

As it stands (see https://stackoverflow.com/a/62506207/4432837 and https://github.com/cloudfoundry/java-test-applications/issues/20) those instructions are no longer applicable. The VMC to

[2020-06-23 09:43] jrudolph commented on #10336
Once again tonight:

[code]

[2020-06-24 11:08] mkurz commented on #2983
To make this work we need to change the generated `Routes.scala` file(s) in the `target` folder so current code like this (just pseudo code):

[code]

will instead become something like this (just quick pseudo code):

[code]
That's the only place where we can pass the route params on with the request, probably as request attributes.
Note: I think it make sense to store the params as `LinkedHashSet

[2020-06-24 12:21] jrudolph commented on #10300
Now we have something in 2.8.x only for the sbt 1.3.x scripted tests but I don't quite understand how these tickets relate to each other:

https://travis-ci.com/github/playframework/playframework/jobs/353063781

It has the same bits as in the original comment (about sbt-plugin missing) but also about Akka-Http 10.2.0

[code]

[2020-06-25 12:30] jrudolph commented on #10336
Still failing:

[code]

[2020-06-25 12:31] jrudolph commented on #10300
https://travis-ci.com/github/playframework/playframework/jobs/353501999

[2020-06-26 08:55] brunoballekens commented on #10342
I'm not sure I follow why this should be intended behavior or how the PR would have made this intententionally

[2020-06-26 11:46] Flo354 commented on #2983
@mkurz  thanks for taking this issue!

But what about array parameters?
https://site.com/route?foo[]=bar&foo[]=qux

So yes, typically we can have multiple parameters with the same name, and in this case, we should be able to do :

[code]

[2020-06-26 11:54] mkurz commented on #2983
@Flo354 With #10355 you will be able to access the action method parameters:

If you have an action:
[code]

You will be able to access the params (in a filter or in action compositon) via:
[code]
As you can see you will get the exact param and you will need to cast it to the correct type.

[2020-06-26 11:59] Flo354 commented on #2983
Ok, that seems good to me.
Do you have a time frame for a release?

[2020-06-26 12:09] mkurz commented on #2983
Not really. Actually there is not much missing (also tests) and I am pretty sure we can backport for the next 2.8.3 release. However I am low on time right now... I will try to finish it before 2.8.3 will be released.

[2020-06-26 13:29] ignasi35 commented on #10351
Thanks for reporting @avdv, would you be intersted in contributing?

[2020-06-26 13:37] avdv commented on #10351
Hi! I barely have any decent knowledge about Cloud Foundry, TBH. So I could only help with removing that section from the docs...

[2020-06-28 23:08] csaltos commented on #7879
you can add JVM options like `--add-opens java.base/java.nio=ALL-UNNAMED` or `--add-opens java.management/sun.management=ALL-UNNAMED` to open the blocked access.

Here's a command to find which module provides which package ->

`java --list-modules | tr @ " " | awk '{ print $1 }' | xargs -n1 java -d`

the name of the module will be shown with the @ while the name of the packages without it

NOTE:

[2020-06-29 01:16] tunesmith opened #10361 "Initial scala play setup doesn't work in IntelliJ"
### Play Version

2.8.2

### API

Scala

### Operating System

Mac 10.14.6

### JDK

1.8.0_171

### Expected Behavior

1. When invoking `sbt new playframework/play-scala-seed.g8` I should be able to use it in IntelliJ (2020.1.2)
2. Or, when starting a new vanilla sbt project (which works in IntelliJ) using Scala 2.13.3 and SBT 1.3.13, I should be able to add the Play sbt plugin and have it work in

[2020-06-29 06:58] gakuzzzz opened #10363 "Generated reverse route method should have empty parentheses () depending on routes file"
### Play Version

2.8.2

### API

Scala

### Operating System

Not related to this problem

### JDK

Not related to this problem

### Library Dependencies

non

### Expected Behavior

No warning in Scala2.13.3.

### Actual Behavior

1. controller

[code]

2. compile

Warning is displayed.

[code]

### Related resources

- https://github.com/scala/scala/pull/8833
- https://github.com/scala/scala/re

[2020-06-29 07:21] mkurz opened #10364 "Fix methods in generated routes to use brackets for empty parameter list"
Methods called like
[code]
need to be called like
[code]
instead.

See
* https://discuss.lightbend.com/t/running-play-on-the-dotty-compiler/6767
* #10363
* scala/scala#8833
* https://github.com/scala/scala/releases/tag/v2.13.3

[2020-06-29 07:22] mkurz commented on #10363
I think you just need to change
[code]
to
[code]
However I think we also need to fix Play's routes generator as well: #10364

[2020-06-29 08:10] gakuzzzz commented on #10363
Hi, @mkurz

Thanks, I think so too.

When the `index` was defined as `def index() = Action{...}`, we need to change to `Redirect(routes.HomeController.index())`.
However the `index` method has no side-effect. so it is defined as `def index = Action{...}`.
We expect that Play's routes generator generates no-parentheses method.

regards,

[2020-06-29 12:20] ignasi35 commented on #10351
Well, it's a start.

We could add another issue indicating the need to create a new set of documentation later.

[2020-06-29 19:01] tunesmith commented on #10361
Believe it or not, everything started working for me when I unchecked "Download sbt sources". The errors return when I check it, and go away again when I uncheck it.

I'm not sure if this is a play bug, an IntelliJ bug, or an sbt bug, but I think this could cross up other developers. Any idea how this should be addressed or where it should be filed?

[2020-06-30 00:48] wsargent commented on #10361
This sounds like an IntelliJ Scala bug.  You could look on https://intellij-support.jetbrains.com/hc/en-us/community/topics/200381545-Scala and see if they have any advice on how to fix it, but it's not Play itself.

[2020-06-30 00:50] tunesmith commented on #10361
I will check there too, but it's notable that the bug didn't manifest until I tried adding the Play sbt plugin.

[2020-06-30 12:47] scand1sk opened #10368 "Send non-breaking space (UTF8 00A0) through Json"
### Play Version

2.8.2

### API

Scala

### Operating System

Linux vion-precision 5.7.0-1-amd64 #1 SMP Debian 5.7.6-1 (2020-06-24) x86_64 GNU/Linux

### JDK

openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_252-8u252-b09-1-b09)
OpenJDK 64-Bit Server VM (build 25.252-b09, mixed mode)

### Library Dependencies

### Expected Behavior

The action Ok(Json.obj("foo" -> "foo\u00a0ba

[2020-06-30 14:59] ignasi35 commented on #10368
Hi @scand1sk, is this a `playframewwork` issue or is it specific to `play-json`?

If the later, I can transfer ths issue to playframework/play-json.

[2020-07-01 07:05] helllamer opened #10369 "QueryStringBindable.bindableString.unbind() produces URL-encoded keys, other binders - don't"
### Play Version
play-`2.8.2`

### API
Scala

### Operating System
`Linux pc 5.7.6-arch1-1 #1 SMP PREEMPT Thu, 25 Jun 2020 00:14:47 +0000 x86_64 GNU/Linux`

### JDK
[code]

### Library Dependencies
None

### Expected Behavior
`implicitly[QueryStringBindable[String]].unbind()` should NOT URL-encode key-part.
[code]

### Actual Behavior
As you can see, the `res3` contains unexpected URL-encoded char

[2020-07-01 08:09] mkurz commented on #10369
@helllamer Do you want to provide a pull request with a fix? Would be great!

[2020-07-01 09:48] scand1sk commented on #10368
Yep, it is probably specific to play-json.

[2020-07-01 10:56] depeiwang opened #10371 "Is it better to use UTF_8 encoding than US_ASCII?"
source code:
https://github.com/playframework/playframework/blob/cd7a6764eeef692e4edf191e71174f9dfda941bb/core/play/src/main/java/play/mvc/BodyParser.java#L280

[2020-07-01 11:47] raboof commented on #10371
The comment above the line details that we use the specified charset when available, and otherwise fall back to https://tools.ietf.org/html/rfc6657#section-4 - so that seems correct to me? Or is there any scenario or update to the standard where UTF-8 should reasonably be allowed without specifying that charset in the content type?

[2020-07-01 16:02] francisdb commented on #10000
At first sight it looks like migrating our tests to ScalaTest fixed this, closing this as nobody else is reporting this issue

[2020-07-01 16:02] #10000 closed

[2020-07-01 20:23] zhye9452 opened #10372 "Play runner failure in MacOS Big Sur"
### Play Version

2.8.2

### API

Scala

### Operating System

MacOS Big Sur Developer Beta Seed 1

### JDK

JDK 11

### Library Dependencies

### Expected Behavior

1. `sbt run`

### Actual Behavior

1. `sbt run` fails to run with below exception
[code]
### Reproducible Test Case

[2020-07-01 20:30] gabfssilva commented on #10347
It may be because the file is streamed. The header is the first thing the server sends, the body is streamed afterwards.

[code]

For this to work properly, your client should support streaming. **Usually** http clients support it with no problems whatsoever.
You should be able to build your own action instead of using `Assets.versioned ` and return the whole response at once. I don't recommend it

[2020-07-01 20:40] mkurz commented on #10372
@gmethvin seems like there is a bug in your [directory-watcher](https://github.com/gmethvin/directory-watcher) lib on upcoming MacOS Big Sur.

[2020-07-01 20:46] gmethvin commented on #10372
@zhye9452 @mkurz Let's report a bug on https://github.com/gmethvin/directory-watcher/issues and discuss there. In the mean time, I suppose we can switch to an alternative watch service for Play.

It looks like that library doesn't exist in Big Sur, so we'll have to figure out if there's an alternative API we can use.

[2020-07-01 20:51] zhye9452 commented on #10372
@gmethvin https://github.com/gmethvin/directory-watcher/issues/52

[2020-07-02 10:52] depeiwang commented on #10371
Yeah, you are right, we should follow the standard.
The background of this question I raised is: When I pass a string of non-English json characters to the endpoint, the string received by the server is truncated, and the content is only part of the original payload.
like this:
payload: {"title": "哈哈", price: 123}
server received: 哈哈", price: 123}
then, json parse crashed

[2020-07-02 10:52] #10371 closed

[2020-07-02 11:06] raboof commented on #10371
Great!

[2020-07-03 16:17] jtjeferreira opened #10373 "Playdevmode compiles twice"
### Play Version

Play 2.8.2

### API

Scala

### Operating System

Arch Linux 5.7.4

### JDK

[code]

### Expected Behavior

1. checkout https://github.com/jtjeferreira/compile-twice-play-seed/tree/master
2. launch sbt
3. compile
4. modify `A.scala` file in `core` module
5. run
6. make a request to http://localhost:9000

Expected that compilation of `A.scala` only happens once

### Actual Behavio

[2020-07-03 16:20] jtjeferreira commented on #10373
In https://github.com/jtjeferreira/compile-twice-play-seed/blob/master/sbt-debug.log you have the logs of `run` with sbt debug mode on

[2020-07-06 08:22] ignasi35 commented on #10372
While there's no fix out of the box, Play users can opt out of the default file watcher using the following play-plugin setting in their sbt build:

[code]

[2020-07-06 08:43] ignasi35 commented on #10361
Since this seems to be unrelated to Play I'll close.

Thanks for reporting and sharing your findings,  @tunesmith !

[2020-07-06 08:43] #10361 closed

[2020-07-06 08:53] ignasi35 commented on #10204
Like in other DSL's and programming lanauges, the `routes` DSL and Play build can't use some _reserved words_, in this case `identity`. I don't think that's a bug in Play.

I will close this issue. Feel free to reopen if you think there's options that would help prevent users fall for this type of issue.

[2020-07-06 08:56] ignasi35 commented on #10160
@will-sargent-eero I will close the issue since you seem to have found tha snwer yourself already. :)

[2020-07-06 08:56] #10160 closed

[2020-07-06 09:55] ignasi35 commented on #10143
Hi @thirdteeth, running play in dev mode for a clustered application is not trivial. The problem is play uses two different `ActorSystem`'s in dev mode and they will compete for a port to start their server-for-clustering.

The two `ActorSystem`'s in play DevMode are used for `Server` and `Application`. When you are clustering you only want the `Application` `ActorSystem` to be clustered which mea

[2020-07-06 10:10] raboof commented on #10204
Could we allow this by referring to the class as `_root_.identity.Routes`?

[2020-07-06 10:33] mikail-khan commented on #10204
I don't have permissions to re-open. Can't this be resolved by the appropriate use of namespaces in Play or via explicit specification of the absolute qualified name?

[2020-07-06 10:43] raboof commented on #10204
I suspect so - would you be interested in preparing a PR?

[2020-07-06 10:50] mikail-khan commented on #10204
Sorry I don't have any spare cycles at the moment to contribute to anything. Just doing my day job is enough :smile:

[2020-07-06 10:57] raboof commented on #10204
No pressure! It's not on my list either, but if someone wants to pick this up go for it!

[2020-07-07 20:11] manuchadha1979 opened #10374 "discuss.playframework.com"
### Play Version

### API

### Operating System

### JDK

### Library Dependencies

### Expected Behavior

1.
2.
3.

### Actual Behavior

1.
2.
3.

### Reproducible Test Case

[2020-07-07 23:06] wsargent commented on #10120
I'm not clear what the request is here.  You can see a 2.5.x implementation of SSE here: https://github.com/playframework/play-scala-streaming-example/tree/2.5.x

[2020-07-08 02:07] #10374 closed

[2020-07-09 05:57] mkurz commented on #10333
@scoquelin Can we closed this issue? I think it's fixed by #10354?

[2020-07-09 20:20] #10333 closed

[2020-07-13 09:08] jrudolph commented on #10300
Master,  "Run scripted tests (c) for sbt 1.x "
https://travis-ci.com/github/playframework/playframework/jobs/360068607

2.8.x:
https://travis-ci.com/github/playframework/playframework/jobs/359678343

[2020-07-13 11:11] mkurz commented on #10373
I can confirm this issue. Pull requests are welcome.

[2020-07-14 06:55] ignasi35 opened #10384 "llegalArgumentException: Serializer identifier [..] of [...] is not unique"
(this is a cross-post from https://github.com/akka/akka/issues/29351)

As @patriknw mentioned in the issue:

It's possible this hasn't surfaced more because there's no Play release using Akka 2.6.6 out, yet. Users facing this are either using Vanilla Akka applications or a Play application with overridden dependencies of Akka.

[2020-07-15 03:52] 17hao commented on #10372
Maybe we should add extra dependency: ["com.lightbend.play" %% "play-file-watch" % "x.x.x"](https://mvnrepository.com/artifact/com.lightbend.play/play-file-watch_2.12) :)

[2020-07-16 09:08] jrudolph opened #10385 "Scripted tests hang on Travis"
https://travis-ci.com/github/playframework/playframework/jobs/361521683

[code]

[2020-07-16 20:07] cfoster opened #10388 "SSLEngineProvider.createSSLEngine not getting invoked"
It appears in Play 2.8.x, certainly Play 2.8.2, the method `def createSSLEngine: SSLEngine` is not getting invoked, at all - when it should be.

`def createSSLContext(): SSLContext` *IS* getting invoked by the Play Framework.

But then the `createSSLEngine` method is NOT getting invoked.

This may well have been working in Play 2.7.4

Please see:

https://discuss.lightbend.com/t/custom-ssl-engine-

[2020-07-17 02:02] aliakhtar commented on #10388
If this method is being deprecated / removed, Play's default SSL implementation needs to receive at least an A grade from https://www.ssllabs.com/ssltest/ . Right now, with the default impl, you get around a B minus because forward secrecy and other issues aren't supported out of the gate.

The previous workaround was to use a custom SSL engine, as per: https://stackoverflow.com/a/38339978/49153

[2020-07-17 09:23] ignasi35 commented on #10328
Again, tonight:

[code]

[2020-07-17 09:25] cfoster commented on #10388
https://docs.oracle.com/en/java/javase/11/security/java-secure-socket-extension-jsse-reference-guide.html#GUID-A41282C3-19A3-400A-A40F-86F4DA22ABA9

May be of some use.

[2020-07-20 08:27] benoit-ponsero opened #10392 "Action still waiting for future running in same executionContext"
Hello,

I don’t understand why a future created with the default play ExecutionContext like the code below is blocking the Action.

I tried in dev & prod mode in a fresh new project with the same results. Action always wait 10 sec for rendering whereas there is no dependency with the future block.

I thought the future would run in another thread of ExecutionContext, can someone explain me why it’

[2020-07-21 12:34] ignasi35 opened #10395 "Review SSL defaults and docs"
When upgrading to Akka-HTTP 10.2.0, we must take into consideration [some changes](https://github.com/akka/akka-http/pull/2983) upstream that may need reviewing the docs.

See also https://github.com/playframework/playframework/issues/10388 and https://discuss.lightbend.com/t/custom-ssl-engine-not-being-called/6811/6

[2020-07-24 14:38] ignasi35 commented on #10337
Again in `/home/play/logs/nightly-deploy-2.7.x-1595474138.log`

[2020-07-26 11:04] cfoster commented on #10395
In my opionion, I would suggest making the SSL defaults to at least [Grade A](https://www.ssllabs.com/ssltest/) by default. This is what users want, whether they know it or not.

If you a user wants to loosen ciphers and enable TLS 1.1 etc, one would have to go out of their way, changing config in order to do so.

[2020-07-29 06:21] chbatey opened #10402 "2.8 snapshot cron not picking up correct version"
`Using Akka SNAPSHOT 2.6.8+10-438e1953 and Akka HTTP SNAPSHOT 10.1.12+14-b9d528cc`

`info] [error] (*:update) sbt.ResolveException: unresolved dependency: com.typesafe.play#sbt-plugin;2.8.2+23-cf4e0cb8-akka-2.6.8+10-438e1953-akka-http-10.1.12+14-b9d528cc: not found
[info] [error] unresolved dependency: com.typesafe.play#sbt-scripted-tools;2.8.2+23-cf4e0cb8-akka-2.6.8+10-438e1953-akka-http-10.1.12+

[2020-07-29 13:56] juanmirocks commented on #4796
For completeness, for the solution in https://github.com/playframework/playframework/issues/4796#issuecomment-223841556, we need these imports:

[code]

[2020-07-31 08:23] nrowley opened #10404 "Form validation not working as I expected."
Following the example on in the documentation, posting form data to be validated within the controller doesn't seem to work.

![Screenshot 2020-07-31 at 09 21 11](https://user-images.githubusercontent.com/47508642/89015686-5b6c0f00-d30f-11ea-8a76-179ed8d304d8.png)
![Screenshot 2020-07-31 at 09 21 25](https://user-images.githubusercontent.com/47508642/89015695-5f982c80-d30f-11ea-92a0-e0de16735408.p

[2020-07-31 10:10] PromanSEW commented on #10404
You need set "name" attribute for inputs, not "id"

[2020-07-31 10:27] nrowley commented on #10404
thanks I will close the issue

[2020-07-31 10:27] #10404 closed

[2020-08-01 19:22] dasteraflop commented on #9634
Are you guys still working on this feature? It is incredibly useful for cases where you want to use parsers like gridFSBodyParser.

[2020-08-02 16:13] Katrix commented on #6919
Not sure if this needs it's own issue, but to add the the discussion here. Implemented a custom naming scheme just fine, but also wanted to change how the revisions are named, multiplying all future revisions by 10. So instead of 123, the next revision would be 1230. This did not seem to work that well with the rest of Play.

[2020-08-03 06:03] ennru commented on #10328
/home/play/logs/nightly-deploy-2.7.x-1596251773.log

[code]

[2020-08-03 06:10] ennru commented on #10336
/home/play/logs/nightly-deploy-2.8.x-1596425854.log

[code]

[2020-08-03 14:20] mkurz commented on #9634
@dasteraflop This feature is high up on my todo list for upcoming Play 2.9
You can follow #9779, I also created a custom Play build with this feature merged already, see https://github.com/playframework/playframework/pull/9779#issuecomment-641158921, maybe you can test and let me know if it works for you?

[2020-08-03 16:01] dasteraflop commented on #9634
@mkurz I certainly can. I have a project coming up where Im going to use it and can report back over next couple weeks.

[2020-08-03 18:22] jamesrcollins opened #10409 "Play 2.8.2 XPath selectText is doing a global document search even when a node is specified"
### Play Version

2.8.2

### API

Both

### Operating System

Windows and Linux 3.10.0

### JDK

1.8.0.251
### Library Dependencies

### Expected Behavior

1. String InternationalAddress = XPath.selectText("//internationalAddress", mailElement);
should only return a value if there is an internationalAddress node inside mailElement
2. It should ignore elements called _internationalAddress_ that are

[2020-08-04 19:39] gabfssilva commented on #10392
You must never block the default execution context. The behavior is unpredictable.

You need to create a custom dispatvher/execution context for blocking stuff. Probably what you want to do is use the `ec2` for the blocking futures:

[code]

[2020-08-07 17:44] rodrigotn opened #10414 "Play 2.8.2 AkkaHttpServe doesn't work with latest version of akka-http (10.2.0)"
Using play `2.8.2` with the latest version of akka-http `10.2.0` I'm getting a class not found exception:

[code]

Thanks!

[2020-08-07 21:45] mkurz commented on #10414
See #10411, seems like you have to wait for Play 2.9

[2020-08-10 01:52] jroper opened #10416 "Undocumented breaking change in play-json 2.8 should be added to migration guide"
play-json 2.8 includes a breaking change - writes is no longer contravariant, it's now invariant. This is a breaking change, causing issues in downstream libraries like [this](https://github.com/jroper/play-geojson/issues/34). Since it's a breaking change, it should be mentioned in the Play 2.8 migration guide.

[2020-08-11 06:53] dasteraflop commented on #9634
I just tried using the custom DBP build and cannot download it. My plugins.sbt -
[code]
and I tried all the permutations of adding it to my build.sbt I could think of - in common settings for all my modules, at top level and `resolvers in ThisBuild`. The resolver does get hit -
[code]
but ultimately I still end up with
[code]

[2020-08-11 08:37] mkurz commented on #9634
Please remove
[code]
from your `project/plugins.sbt` file.
Instead, `scalaVersion` needs to be set in `build.sbt`, the sbt version in `project/build.properties` (like `sbt.version=1.3.12`)
(Also, don't forget to add the `resolvers += ...` to both `project/plugins.sbt` and also `build.sbt`)

[2020-08-11 08:47] jrudolph opened #10418 "If no new data arrives GzipFilter buffers data indefinitely up to the defined chunk size"
The Chunker holds back data indefinitely if the buffer is not filled.

In fact, it's unclear what the purpose of the chunker is in front of the gzip compression in GzipFlow.

~Most likely it is an attempt to make compression work if the input data is chunked to very small pieces. Akka Stream's Compression.Gzip does a [`SYNC_FLUSH`](https://www.bolet.org/~pornin/deflate-flush.html) after each chunk

[2020-08-11 11:16] emrekanca opened #10419 "RUNNING_PID file prevents play app from starting"
Play framework enabled as a system service can't run on system boot up if system was shut down unexpectedly due to RUNNING_PID file existence of the former running play

I suggest play to check if the actual pid does belong to play process on play startup while checking the RUNNING_PID file existence

Or I might be given the option to opt out of such behavior. If the play app can start binding the

[2020-08-11 13:48] schmitch commented on #10418
yeah the chunker was mainly to keep the surface api the same. play can configure a `bufferSize` for gzip. thus to satisfy the api I added the chunker.

yeah it would hold back until no data is incoming anymore, but it should still push all the data out, if the source completes.

yeah maybe it would be better to deprecate the current interface and maybe make the `bufferSize` an `Option[Int]` which

[2020-08-11 16:26] FranklinYinanDing commented on #10418
@jrudolph Maybe I understand it wrong, or something isn't right - [this line](https://github.com/playframework/playframework/pull/6813/files#diff-dc46281aa6759e9b0b71d023b83fc87aR66) uses `splitAt`, when the buffer is smaller than the `chunkSize` (say 3 vs 8192), it will still produce the entire buffer (3) and push. So if the Http.Chunked is a sequence of small chunks, Gzip is still compressing sm

[2020-08-11 18:08] schmitch commented on #10418
that can't happen since the play gzip flow only works on a response body: https://github.com/playframework/playframework/blob/master/web/play-filters-helpers/src/main/scala/play/filters/gzip/GzipFilter.scala#L78

unfortunatly `GzipFlow.gzip` is a public interface, which it probably should not be. since the user should just use the akka stuff directly. the gzip filter of play is mostly designed for

[2020-08-12 09:11] jrudolph commented on #10418
Maybe that's not needed and we can just use `bufferSize = 0` for that. Another possibility would be to keep the interface but ignore the parameter for now.

[2020-08-12 09:15] jrudolph commented on #10418
@FranklinYinanDing

I think that's correct, however, `emitChunk` is only called unconditionally from `onPush`. As you noted elsewhere, `onPull` still has this precondition which will prevent sending smaller chunks:

https://github.com/playframework/playframework/blob/f6ae7c8c50556d79b95c3a42c29dd21eae3261ad/core/play-streams/src/main/scala/play/api/libs/streams/GzipFlow.scala#L43

@schmitch

Why n

[2020-08-12 09:27] schmitch commented on #10418
well if I have a script file that should be gzipped and my stream would "hang" or never complete, the browser would hang forever, since the browser parser would block the remaining execution if the script tag is not defined at the end or with `defer`.

a chunkSize of 0 would not fix that, the stream would still never complete and the browser would still wait either for 1. content-length satisfied

[2020-08-12 09:38] jrudolph commented on #10418
Looking at the code again, you might be able to actually disable the buffer by setting the buffer size to a higher value than any of the input chunks you expect, e.g. like `Int.MaxValue`. In that case, the `splitAt` in `onPush` would always pass on all of the data it receives and no data would ever be buffered.

[2020-08-12 09:53] jrudolph commented on #10418
Fix in #10422 which also explicitly adds the possibility to disable the buffer with a value of `0`.

[2020-08-13 07:44] jrudolph opened #10423 "Failed: "could not retrieve Scala 2.12.10: missing scala.Option""
https://travis-ci.com/github/playframework/playframework/jobs/371486292

Broken artifact on Travis?

[2020-08-14 15:27] mkurz commented on #9634
@dasteraflop Did it finally work for you?

[2020-08-16 19:31] alternegro commented on #10414
@rodrigotn do you get this issue only in Dev mode?

[2020-08-16 21:13] benoit-ponsero commented on #10392
Hi gabfssilva

I'm aware that we shouldn't do that, but it is explained nowhere why in the doc.

What does really do the executionContext ?

I think it should not be injectable if it is so unpredictable.

[2020-08-17 08:43] raboof commented on #10414
Possibly, but not necessarily: `UseHttp2` has been deprecated in Akka HTTP 10.1.x and removed in 10.2.x. If we can avoid referring to it in Play, then downstream projects should be able to update to Akka HTTP 10.2.x even if Play is still on 10.1.x.

Play uses UseHttp2 to implement the `http2.alwaysForInsecure` option. This option was introduced because back then it was not possible to have 'h2c vi

[2020-08-17 08:52] raboof commented on #10414
This code was already removed for 2.9 in a23b5debe1da6d09905f9406ee690bac36c0b6c7, so this might just be a matter of backporting #9980

[2020-08-17 17:11] #10418 closed

[2020-08-17 17:29] ignasi35 commented on #9941
@mkurz making it a bit more explicit (like in https://github.com/akka/akka-grpc/pull/848) shouldn't harm. :-)

[2020-08-18 08:00] mkurz commented on #10414
@raboof Can you we close this issue now that #10427 was merged? (For some reason GitHub did not auto-close it...)
Also I don't think we will upgrade akka-http to version 10.2.0 in the 2.8.x branch, but people should override the dependency themselves?

[2020-08-18 08:43] raboof commented on #10414
I think so, yes!

Indeed!

[2020-08-18 08:43] #10414 closed

[2020-08-19 12:56] AlphaJuliettOmega commented on #1784
Is there a Documentation page on how to mark Play folders correctly for Intellisense?

There's a project I'm working on with 11 modules

The workaround @crfeliz mentioned isn't viable anymore because the structure has changed since 2013

[2020-08-24 09:45] wadouk opened #10433 "Same site should have 4 values : null AND None are different cases (+ Lax, Strict)"
### Play Version

2.7.0

### API

Scala

### Operating System

Linux wadouk-pc 5.4.58-1-MANJARO

### JDK

openjdk version "1.8.0_262"

### Expected Behavior

1. SameSite should have three differents values, and a forth to remove the attribute in the cookie
2. https://web.dev/samesite-cookies-explained/

### Actual Behavior

1. When I put play.http.session.sameSite=null it removes the SameSite attr

[2020-08-24 09:50] mkurz commented on #10433
Which _exact_ version of Play are you using?

[2020-08-24 09:58] wadouk commented on #10433
2.7.0

[2020-08-24 10:01] mkurz commented on #10433
Please upgrade to latest version 2.7.5, it will fix your problem. Since Play 2.7.4 `None` will be recognized:
https://github.com/playframework/playframework/commit/7e34df0978e443231744290d60bc4349b3fb58bf
https://github.com/playframework/playframework/commit/7d343db04c2918d97192a493bfb89f51b5a65196

[2020-08-24 10:13] wadouk commented on #10433
Ok, will be done later, maybe next time, thanks

`Detected java.lang.NoSuchMethodError error, which MAY be caused by incompatible Akka versions on the classpath. Please note that a given Akka version MUST be the same across all modules of Akka that you are using, e.g. if you use akka-actor [2.5.31 (resolved from current classpath)] all other core Akka modules MUST be of the same version. External

[2020-08-24 10:13] #10433 closed

[2020-08-24 10:47] jtjeferreira commented on #10373
@mkurz I will try to have a look this week. You have any pointers where the problem might be?

[2020-08-24 10:50] mkurz commented on #10373
@jtjeferreira Sorry, I don't have time this week and also not the next couple weeks...

[2020-08-25 17:45] jtjeferreira commented on #10373
An workaround is to set `playInteractionMode := play.sbt.StaticPlayNonBlockingInteractionMode`.

A proper fix should be done in the efforts of https://github.com/playframework/playframework/issues/9956

[2020-08-25 17:48] jtjeferreira commented on #9956
Hi @dwijnand is this somehow on the roadmap? Wondering how much this would be a benefit for big Play projects...

[2020-08-25 20:25] dwijnand commented on #9956
No, it's a big job and no one is assigned to it at the moment.

[2020-08-27 15:23] riccardomerolla commented on #10419
A little workaround...

application.conf
[code]

[2020-08-30 23:49] tunesmith opened #10438 "-Dlogger.resource= doesn't cleanly override logback.xml"
### Play Version

2.8.2

### API

Scala

### JDK

1.8.0_171

### Expected Behavior

When starting with `-Dlogger.resource=logback-prod.xml`, the logging initialization should be the same as when using a default `conf/logback.xml` and starting without the system flag, just with the different `logback-prod.xml` file instead.

### Actual Behavior

The app starts up by first loading the found default

[2020-08-31 00:42] wsargent commented on #10438
The assumption in the documentation is that if you're using logger.resource= or logger.file= then you don't have a raw logback.xml file in configuration at all.  This may be easier to add in documentation to make it explicit, and to show the interaction with the "out of the box" logback configuration that loads `logback.xml`:

http://logback.qos.ch/manual/configuration.html#auto_configuration

[2020-08-31 05:27] tunesmith commented on #10438
So if you want your logging configuration to differ by environment, you shouldn't have a `conf/logback.xml` at all? Haha, that wasn't obvious to me at all. :) Thanks, I agree that could be made more clear in the documentation.

[2020-08-31 07:20] raboof commented on #10111
saw it again at Sat, Aug 29

[2020-08-31 07:20] raboof commented on #10111
[code]

[2020-08-31 07:44] hhagblom commented on #10077
I experience the same issue when upgrading from Play 2.6 to Play 2.8 on Java 11

[2020-08-31 08:34] raboof opened #10439 "scripted tests: 'distribution-without-documentation' scaladoc generation failed"
https://travis-ci.com/github/playframework/playframework/jobs/379313364
[code]

[2020-09-02 06:44] raboof commented on #10336
duplicate of #10111

[2020-09-02 06:44] #10336 closed

[2020-09-02 06:45] raboof commented on #10111
Seems like the cause of the error is:

[code]

Haven't been able to reproduce this locally yet, though.

[2020-09-03 00:03] esdiacglobalsystem commented on #10372
How can we add it to a lagom project

[2020-09-03 00:04] brabo-hi commented on #10372
How can we add it to a lagom project

[2020-09-03 13:17] ihostage commented on #10077
@ignasi35 Looks like this issue should be transferred to https://github.com/playframework/play-ws

[2020-09-03 15:11] ignasi35 commented on #10077
I agree, let me handle it.

[2020-09-05 17:05] Tasselmi commented on #9020
I have the same problem with play 2.8.2

[2020-09-10 06:37] Tasselmi opened #10445 "How to mix scala and java code together in a play program"
hey guys.
I see that play framework use sbt as build tool.
there are some scala developers and some java developers in my team. I want to mix them together. so how can I achieve this goal , Is there any doc or example?

[2020-09-10 07:38] riccardomerolla commented on #10445
I think that you need to enable both the Play plugin in your build.sbt file

`lazy val root = (project in file(".")).enablePlugins(PlayScala, PlayJava, DockerPlugin)`

[2020-09-10 07:53] Tasselmi commented on #10445
Thanks for your help.
then how I place my project tree. Is it like this:

[code]

[2020-09-10 13:12] landlockedsurfer commented on #4715
Hi!
I still seem to be running into this issue in Play! 2.8.2.
This repo contains a minimal example to reproduce the issue:
https://github.com/landlockedsurfer/play-default-layout-example

[2020-09-10 18:37] laguiz commented on #9020
Just to add to the context, I got the same issue : message was not clear :

[code]

I am using `.env` and `application.conf` and switching to an other computer I missed to align environment variables.

[2020-09-11 02:15] Tasselmi commented on #10445
I got the answer here: [HERE](https://www.playframework.com/documentation/2.8.x/Anatomy)
thx.

[2020-09-14 11:32] ignasi35 commented on #10445
Since this seems solved, I'll close.

[2020-09-14 11:32] #10445 closed

[2020-09-14 11:39] ignasi35 commented on #10372
https://github.com/playframework/play-file-watch/releases/tag/1.1.13 (with BigSur support) is ready.

[2020-09-16 14:57] seglo commented on #10111
Seen again on `nightly-deploy-master` (vegemite)

[code]

[2020-09-18 17:54] thiagohora opened #10452 "Custom launcher in 2.4.x or 2.5.x"
## Summary

Sorry, I searched in many places but I was not able to find an answer. I'm migrating a **Java Application** from Play 2.3 and to 2.4. I have a custom launcher that does somethings and after starts the application.

In the launcher I have:
[code]

I saw in the packages that now we have `ProdServerStart.main`. However, this is not accessible. So my question is, what would be the correct

[2020-09-18 20:03] satorg opened #10453 ""logger.file" setting has no effect in dev mode when added to `PlayKeys.devSettings`"
### Play Version

2.8.2

### API

Scala

### Operating System

macOS 10.15.6

### JDK

openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment (build 11.0.8+11)
OpenJDK 64-Bit Server VM (build 11.0.8+11, mixed mode)

### Library Dependencies

[code]

### Expected Behavior

1. Move `application.conf` and `logback.xml` from the `conf` directory to some other. Let it be `path/to/dev/config` f

[2020-09-20 17:23] wsargent commented on #10453
Logging is fiddly.  I'm not sure you can classify this a bug, because this isn't a devSetting at all, but a command line option.

https://www.playframework.com/documentation/2.8.x/SettingsLogger#Using--Dlogger.file

This isn't a satisfactory answer by itself, so let's talk about logging.

Dev mode has some real solid differences from prod mode.  In development mode, the server is running consisten

[2020-09-20 17:27] wsargent commented on #10452
I'm a bit confused as to whether you're upgrading to 2.4 or to 2.5 here.

The docs for starting Netty and the prod server are in Embedding Play and should be version consistent:

https://www.playframework.com/documentation/2.4.x/ScalaEmbeddingPlay

https://www.playframework.com/documentation/2.5.x/ScalaEmbeddingPlay

[2020-09-20 17:40] thiagohora commented on #10452
Hey @wsargent

Sorry, to I tried both. But My initial idea was to use 2.4. I saw the list but what a need is a way to start the server after my context has loaded some stuff, and also pass the arguments received in my customer main AppLauncher.

Like this:

[code]

[2020-09-20 21:57] wsargent commented on #10452
The place to load stuff in your context is through your context -- literally, through your application context.  If you want custom command line options, you need to modify the script provided by sbt-native-packager using `bashScriptExtraDefines` in your `build.sbt` files i.e. https://www.scala-sbt.org/sbt-native-packager/archetypes/cheatsheet.html?highlight=bash#extra-defines

This really isn't t

[2020-09-21 10:42] thiagohora commented on #10452
Sure, thank you for your support.

[2020-09-21 10:42] #10452 closed

[2020-09-23 10:05] ignasi35 commented on #10332
https://travis-ci.com/github/playframework/playframework/jobs/389524516#L2640

[2020-09-28 08:38] ennru opened #10457 "[Failure] Scheduled build "Run tests for sbt 1.3.x": sbt appears to be exiting abnormally"
https://travis-ci.com/github/playframework/playframework/jobs/391602523#L265

[code]

I'll try and flush the Travis cache.

[2020-09-28 08:55] ennru commented on #10111
And again on nightly-deploy-2.8.x

[2020-10-01 22:37] kebeda opened #10461 "Security Vulnerability CVE-2020-5421 in old springframework libs"
### Play Version

2.8.2

### API

Java

### Operating System

Linux centos7 3.10.0-1127.19.1.el7.x86_64 #1 SMP Tue Aug 25 17:23:54 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### JDK

openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment 18.9 (build 11.0.8+10)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.8+10, mixed mode, sharing)

### Library Dependencies

[code]

### Expected Behavior

I exp

[2020-10-02 14:55] hertg commented on #9725
@octonato
Sorry for the very late response.

I would be interested in submitting a PR. I'm experienced in using Play but I'm unfamiliar with the playframework source code.

The file of interest to me would probably be [core/play/src/main/scala/views/helper/select.scala.html](https://github.com/playframework/playframework/blob/master/core/play/src/main/scala/views/helper/select.scala.html).
But I c

[2020-10-02 18:21] wsargent commented on #9725
I think it's probably cleaner to add a `groupedSelect.scala.html` helper -- that way you won't have to add two arguments to the existing select helper.

[2020-10-02 19:30] hertg commented on #9725
@wsargent
Thanks for the response. I thought about that too at first: But all of the code, apart from the `<optgroup>`, would be the same in both twirl templates and therefore create a lot of duplicate code. As the contribution guideline advises to respect DRY, i thought this was the cleaner solution. It would also prevent the next developer working on the selects to forget about one of the views.

[2020-10-03 13:59] Christewart opened #10464 "Could not resolve substitution to a value: ${play.server.dir}]"
### Play Version

### API

Scala

### Operating System

### JDK

OpenJDK Runtime Environment GraalVM CE 20.2.0 (build 11.0.8+10-jvmci-20.2-b03)
OpenJDK 64-Bit Server VM GraalVM CE 20.2.0 (build 11.0.8+10-jvmci-20.2-b03, mixed mode, sharing)

### Expected Behavior

1. I have a library that resolves a configuration file [here](https://github.com/bitcoin-s/bitcoin-s/blob/856f88f0ddbb7adc437ecb1cdc6eb

[2020-10-05 09:23] raboof commented on #10461
Who is 'you' here? I looks like this is a comment directed at your project, not at playframework.

master has already been updated to 5.2.9.RELEASE in 92a442eb6fdad78ff1e92885662674dd89a8aebc, so Play 2.9.0 will have this change. I agree it would probably be good to backport this change to the 2.8.x tree.

Would you be interested in providing a PR?

[2020-10-05 14:14] ignasi35 commented on #10461
I've triggered the backport on https://github.com/playframework/playframework/pull/10466#pullrequestreview-502099557

[2020-10-06 07:33] #10461 closed

[2020-10-06 07:52] raboof commented on #10402
again at https://travis-ci.com/github/playframework/playframework/builds/188145761

This was already fixed for master at #10341, I now triggered a backport of that change under #10467

[2020-10-06 09:50] raboof commented on #10300
This is #10402 which should be fixed by #10467 (the version stored in the 'publishLocal' job did not carry over to the scripted test)

This is different: here the version is consistent. the 'publish' task publishes:

[code]

And the scripted task looks there:

[code]

... but doesn't see it. Turns out transferring the published-local travis workspace failed:

[code]

but apparently this doesn't fa

[2020-10-07 17:10] hoxu opened #10469 "Document dev mode not running eager bindings on start"
[Scala Dependency Injection / Eager bindings](https://www.playframework.com/documentation/2.8.x/ScalaDependencyInjection#Eager-bindings):

However, there is no mention that dev mode does not create eager bindings until the first request. It's mentioned in a 2016 thread here:

https://groups.google.com/g/play-framework/c/21G3eEU-3Y8

I think the eager bindings chapter would be a good spot to mentio

[2020-10-08 09:29] raboof opened #10470 "NoClassDefFoundError: akka/protobufv3/internal/MessageLite"
https://travis-ci.com/github/playframework/playframework/jobs/396668130
[code]

[2020-10-08 09:34] raboof commented on #10470
Interestingly we're seeing the same error in akka-http nightlies (https://github.com/akka/akka-http/issues/3510), looking into that

[2020-10-08 14:23] raboof commented on #10470
should be fixed by https://github.com/akka/akka/pull/29719

[2020-10-08 14:23] #10470 closed

[2020-10-08 16:10] PierreAdam opened #10471 "Error when using validation for sub-form."
The validation of sub-form in Play framework cause internal errors.

### Play Version
2.8.2

### API
Java

### Operating System
Windows 10 and ArchLinux

### JDK
11.0.8.10 and 1.8.0.265

### Library Dependencies
None

### Expected Behavior

When having the following code :

[code]

[code]

The controller
[code]

So ... With that code, what happens is that when the route is called, the `MainForm.va

[2020-10-08 19:06] wsargent commented on #10469
I don't think this is right.  It is new eager bindings on start, but the new application doesn't start until there's a new request -- it's request driven.

[2020-10-09 09:37] saptarshidebnath opened #10473 "play.ws.ahc.disableUrlEncoding not working."
### Play Version

2.82.

### API

Only Java

### Operating System

Windows

### JDK

java version "1.8.0_231"
Java(TM) SE Runtime Environment (build 1.8.0_231-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.231-b11, mixed mode)

### Library Dependencies

guice, javaWS
### Expected Behavior

1. With ``play.ws.ahc.disableUrlEncoding`` set to true,  The generated URL should be ``http://example.com/e

[2020-10-12 11:01] xuwei-k opened #10478 "compile error with JDK15"
### JDK

[code]

### Library Dependencies

### Expected Behavior

compile success

### Actual Behavior

[code]

- https://github.com/playframework/playframework/blob/810fca22fb1a5b8111fcf84d524349f9a66c22ab/transport/server/play-server/src/main/scala/play/core/server/ssl/CertificateGenerator.scala
- https://github.com/openjdk/jdk/commit/080b3b83ebffe5149fbc9ac48e921fb5

`sun.security.x509.Algorith

[2020-10-12 12:00] patriknw commented on #10328
nightly-deploy-master failed

The full logs for this task have been saved and can be found in /home/play/logs/nightly-deploy-master-1602385201.log.

[2020-10-14 07:26] marcadella opened #10481 "Consecutive dynamic part routes yield to routing issues"
### Play Version

2.8.2

### API

Scala

### Operating System

Linux

### JDK

openjdk version "11.0.8" 2020-07-14

### Library Dependencies

### Actual Behavior

Having defined the following routes:
[code]
, when I make a GET call to `/x/y`, play returns a 404 error while trying to load a versionedAsset.

What makes me think it is a bug is that
- the asset is present
- if I change the route to `G

[2020-10-14 21:37] mkurz opened #10483 "Add IPFilter to restrict access to whitelisted IPs"
I am writing a service which is allowed to communicate only with 4 fixed ip addresses.
IMHO this is such a basic requirement that it would be nice if Play would offer such a filter out of the box. Should be just a couple of lines. We just need to implement a whitelist which will be checked against `requestHeader.remoteAddress`.
(Don't confuse such an ip filter with the allowed hosts filter, which

[2020-10-17 00:46] pjfanning opened #10484 "Doc Issue: ScalaHttpFilters.md links for filter component classes are broken,"

[2020-10-19 01:30] danellis opened #10486 "Exceptions in controllers are hidden by an exception in the default error handler"
### Play Version

2.8.2

### API

Scala

### Operating System

macOS 10.14

### JDK

`java -version` gives me:

[code]

But note that it's running under 14. I got the same result running under 8, though.

[code]

### Library Dependencies
[code]

### Expected Behavior

1. Application throws an exception inside an action
2. Play logs the exception to the console
3. Play returns HTML page with except

[2020-10-19 11:41] raboof commented on #10478
I suspect even if we fix this compile error, it would still not work since ssl-config also uses the now-removed API: https://github.com/lightbend/ssl-config/pull/269

[2020-10-20 05:33] xuwei-k opened #10490 "Does not work sbt 1.4 remote cache feature"
### Play Version

2.8.2

### API

Maybe both(Java and Scala)

### Operating System

Mac and Linux (also maybe Windows)

### JDK

1.8

### Library Dependencies

unrelated

### Expected Behavior

it should work sbt 1.4 remote cache feature

### Actual Behavior

recompile even if there is cache

### Reproducible Test Case

- https://github.com/xuwei-k/sbt-remote-cache-playframework/commit/0cc2569f46e

[2020-10-20 05:52] xuwei-k commented on #10490
There is one other thing routes-generator embed `@SOURCE` as **absolute path**. I think it may become an obstacle between share caches😢

[2020-10-20 07:29] raboof commented on #10490
I agree it would be better not to include a date there, to make the output more deterministic

[2020-10-20 08:19] xuwei-k commented on #10490
https://github.com/playframework/twirl/blob/a769228cd036e2757c3b1ced0ac7dc590d9d5170/compiler/src/main/scala/play/twirl/compiler/TwirlCompiler.scala#L725

Maybe twirl has same issue :cry:

[2020-10-20 11:28] xuwei-k commented on #10490
workaround:

- https://github.com/xuwei-k/sbt-remote-cache-playframework/commit/0341fb7b967b77401666d1b85a2c609cf7e67be2
- https://github.com/xuwei-k/sbt-remote-cache-playframework/runs/1280612736

[code]

[2020-10-20 13:41] ignasi35 commented on #10490
Could this be the `DATE` of the source file (instead of the timestamp when the source code was created?)

[2020-10-20 13:41] ignasi35 commented on #10490
see https://github.com/playframework/twirl/issues/209

[2020-10-21 08:59] WayneWang12 commented on #10486
Same issue.

[2020-10-21 13:08] mkurz commented on #10486
Ping @eed3si9n

[2020-10-22 20:49] seansabour commented on #10486
+1 Seeing this issue in sbt 1.4.0

[2020-10-23 08:28] mkurz commented on #10206
Fixed by #10492

[2020-10-23 08:28] #10206 closed

[2020-10-24 01:09] danellis commented on #10486
Yes, rolling back to SBT 1.3.13 makes the problem go away.

[2020-10-26 10:24] wadouk commented on #10122
The unwanted behavior that is you are still login because of missing the SameSite flag, the modification of the cookie is refused is still served by chrome

![Capture d’écran_2020-10-26_11-20-16](https://user-images.githubusercontent.com/787448/97161207-c47fe900-177d-11eb-9e75-fe8f194c7c2f.png)

Any workaround ?

[2020-10-26 11:34] ignasi35 commented on #8562
It is possible to use gRPC without TLS (gRPC over `cleartext`).

[2020-10-26 11:36] ignasi35 commented on #10246
related to #9941

[2020-10-26 11:47] jtjeferreira opened #10497 "sbt plugin not compatible with sbt/zinc 1.4.x as it uses internal classes"
### Play Version

2.7.4 (but I think it should also happen in other 2.7.x or 2.8.x)

### API

Scala

### Operating System

5.8.16-2-MANJARO

### JDK

AdoptOpenJDK 11.0.8

### Library Dependencies

sbt 1.4.1

### Expected Behavior

When a runtime error happens in a play application running in sbt 1.4.x I would expect to see the error like in when running with sbt 1.3.x.

### Actual Behavior

Instea

[2020-10-26 17:25] danellis commented on #10497
Dupe of #10486

[2020-10-26 17:34] jtjeferreira commented on #10497
@danellis true

[2020-10-26 17:34] #10497 closed

[2020-10-26 17:35] jtjeferreira commented on #10486
An workaround is to use a custom `HttpErrorHandler` with `sourceMapper` as `None`

[2020-10-26 17:41] eed3si9n commented on #10486
@danellis If this is happening only to sbt 1.4.x, could you create an issue on sbt/sbt please?

[2020-10-26 17:49] jtjeferreira commented on #10486
@eed3si9n this is happening because `sbt.internal.inc.Relations#classes` changed from ` Relation[File, String]` to `Relation[VirtualFileRef, _root_.scala.Predef.String]`, but since this is an internal class I think the problem is with the play plugin....

[2020-10-26 17:53] eed3si9n commented on #10486
I see. Thanks for the clarification.
I guess then Play needs to do some reflection trick or something to workaround this.

[2020-10-26 19:44] mkurz commented on #10122
I am adding this issue to the 2.8.4 milestone, maybe I find time to look into it.

[2020-10-26 20:19] mkurz commented on #10486
Setting the milestone to 2.8.4, let's see if we can find a solution...

(((
Personal notes to myself for kickstart:
* https://github.com/playframework/playframework/blob/2.8.2/dev-mode/sbt-plugin/src/main/scala-sbt-1.0/play/sbt/run/PlayReload.scala#L69
* https://github.com/playframework/playframework/blob/2.8.2/dev-mode/run-support/src/main/scala/play/runsupport/Reloader.scala#L547

Maybe we can u

[2020-10-26 21:28] mkurz commented on #10484
@pjfanning Can you provide a pull request with a fix?

[2020-10-26 21:49] mkurz commented on #10481
I don't fully understand your problem... Based on the routes config you posted
* Calling `/x/y` will should call route:
[code]

Can you please explain once more what the problem is?

[2020-10-27 08:47] wadouk commented on #10122
This missing feature exists only in cross domain, so we need to override the domain part for an other closed use case

Our workaround
[code]

[2020-10-27 20:31] pjfanning commented on #10484
@mkurz https://github.com/playframework/play-generated-docs says not to submit MRs but is the javadoc handled separately?

[2020-10-27 22:38] onilton commented on #9922
Hi guys, I may be late to the party, but I still got a problem related to this issue.

In my investigation, I found out that the main issue is related with `ObjectMapper's visibility` for fields. The previous default implementation used by Play 2.7 that came from Jackson was using PUBLIC_ONLY for field detection.

From https://github.com/FasterXML/jackson-databind/blob/jackson-databind-2.10.5/src/

[2020-10-27 22:43] onilton commented on #9922
Hi guys, I may be late to the party, but I still got a problem related to this issue.

In my investigation, I found out that the main issue is related with `ObjectMapper's visibility` for fields. The previous default implementation used by Play 2.7 that came from Jackson was using PUBLIC_ONLY for field detection.

From https://github.com/FasterXML/jackson-databind/blob/jackson-databind-2.10.5/src/

[2020-10-27 22:43] onilton commented on #9922
I am wondering if I should open a new issue for that. :thinking:

[2020-10-28 07:01] tomp4l opened #10505 "Problem serializing to JSON when upgrading from 2.8.2 to 2.8.3"
### Play Version

2.8.3

### API

Java API

### Operating System

Linux NBSL1380 5.4.0-52-generic #57-Ubuntu SMP Thu Oct 15 10:57:00 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### JDK

openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.8+10)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.8+10, mixed mode)

### Library Dependencies

### Expected Behavior

`pla

[2020-10-28 08:46] raboof commented on #10484
You should not send MRs to the https://github.com/playframework/play-generated-docs repository, but you should send them to the source repository linked from the bottom of the documentation page, instead. In this case, a MR to https://github.com/playframework/playframework/edit/master/documentation/manual/working/scalaGuide/main/application/ScalaHttpFilters.md would definitely be welcome!

[2020-10-28 09:30] octonato commented on #10505
@tomp4l, thanks for reporting it. This is certainly a regression. We did change how the parsing is done for Play Java API. We had a bunch of tests, but we probably missed an edge case.

I hope this is an edge case and is not affecting most users. It will be super helpful if you can provides us an example of json your are trying to read.

I will start to investigate it right now, but if it's an edg

[2020-10-28 10:06] tomp4l commented on #10505
I'm looking to see if I can pin down the root cause, the strange part is we're trying to serialise an object to respond with, but clearly, it's hitting some deserialization code here.

Does seem to be an edge case only affecting one of our endpoints.

[2020-10-28 10:15] tomp4l commented on #10505
I've managed to track down the error to something annotated with `@JsonRawValue` which is either a string containing a JSON object `"{...}"` or the string `"null"`

[2020-10-28 10:28] jrudolph commented on #10505
It seems Jackson does a chain of conversion to implement `toJson`: `Object` -> json -> JsonNode. That explains why the deserializer comes into play. In that particular case, the new deserializer fails here:

https://github.com/playframework/playframework/blob/585590673fa55f0d8218b18a00be7ca9370538d0/core/play/src/main/scala/play/utils/JsonNodeDeserializer.scala#L164-L166

The error message seems w

[2020-10-28 10:34] jrudolph commented on #10505
Here's the original JsonNodeDeserializer code dealing with those embedded objects:

https://github.com/FasterXML/jackson-databind/blob/57482db32f4490f17615e0540a9fdf1c7784abb0/src/main/java/com/fasterxml/jackson/databind/deser/std/JsonNodeDeserializer.java#L679-L700

Should be easy enough to support (once you know that those have to be supported...).

Another possibility could be, to fallback to t

[2020-10-28 13:12] onilton commented on #9922
@marcospereira I am wondering if I should open a feature/bug request in akka (for customization of visibility), or a feature/bug request in playframework (for customization from Play's side).

I think the place we could override this setting in Play is this one:

https://github.com/playframework/playframework/blob/ddf3a7ee4285212ec665826ec268ef32b5a76000/core/play-java/src/main/scala/play/core/Obj

[2020-10-28 16:14] mkurz commented on #9922
@onilton

I think you should, I think it should be a config in akka's `reference.conf`, so apps can override it. Would be interesting why they included private fields by default...

Yes, please also open a new issue in Play as well, so we don't lose track (also because your issue is a different one than the original one discussed here).

[2020-10-28 20:09] octonato commented on #10505
Fixing in #10508

[2020-10-28 20:09] #10505 closed

[2020-10-29 12:08] JFCote opened #10512 "Filter is called but not applied when endpoint throws an exception"
### Play Version

2.8.2, also tried in 2.7.X, same problem

### API

Java

### Operating System

Windows 10

### JDK

java version "1.8.0_191"
Java(TM) SE Runtime Environment (build 1.8.0_191-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.191-b12, mixed mode)

### Expected Behavior

1. If I have a filter that adds a specific header for each response.
2. I call GET http://localhost:9000/message-e

[2020-10-30 08:59] marcadella commented on #10481
I probably misread the error message I get when I submitted this issue. The asset is not missing, it has the wrong Mime type:
[code]
So when I make a call to `x/y`, the route is working fine, but the asset (which is the bundle js loaded from my `main.scala.html`) somehow has the wrong mime type.
It is strange that the error disappears as soon as I change the path to `/:ver/records/:id`.

It might

[2020-10-30 19:31] xuwei-k commented on #8423
https://github.com/playframework/playframework/pull/10513

[2020-10-30 21:17] seglo commented on #10111
Seen again on `nightly-deploy-2.8.x`

[2020-10-31 01:53] xuwei-k commented on #6719
https://github.com/playframework/playframework/pull/10513

[2020-10-31 05:01] PromanSEW commented on #9922
Did #10508 fixed this issue?

[2020-11-02 17:15] ignasi35 opened #10518 "master snapshots published under a confusing version name"
Since using `sbt-dynver` snapshots are published nightly using the dynver-provided version for a snapshot: `x.y.z+count-sha1`.

The `count` and `x.y.z` segments depend on the first tag found when traversing the git tree ancestry from the commit being published. At the moment, `master` tracks back to the tag `2.8.1` si `master` snapshots are published as `2.8.1+694-406da56a-SNAPSHOT` which seems to

[2020-11-03 02:02] onilton commented on #9922
@PromanSEW I have tested with the latest snapshot (2.8.3+8-3b197a7e-SNAPSHOT from Mon Nov 02 04:38:57 UTC 2020).

Unfortunately, no, it does not fix the issue.

[2020-11-03 10:51] ExpandingShapes commented on #5079
Thank you! I was facing the same issue and adding
`libraryDependencies += ehcache`
into my build.sbt file has solved the problem

[2020-11-03 12:08] onilton commented on #9922
@PromanSEW I was not able to run the tests at https://github.com/PromanSEW/play-json-issue/. The tests won't run.

Did I forgot something?

[2020-11-03 14:26] PromanSEW commented on #9922
@onilton I will update and check the project tomorrow. I ran tests from IDEA last time and they were worked... Well, they failed of course, but were able to run

[2020-11-03 18:29] jtjeferreira commented on #10518
Would like to add that the workflow to run scripted test is also affected by the use of `sbt-dynver` because one needs to call `publisLocal` before running the tests...

[2020-11-03 20:07] onilton commented on #9922
@PromanSEW I ran directly from sbt. I use Vscode. It seems the tests are not being recognized by sbt

[2020-11-04 08:52] PromanSEW commented on #9922
@onilton I updated repo with latest deps and set tests directory in `build.sbt`
Tests must run fine now, I checked by `test` command in SBT console

[2020-11-04 14:16] onilton commented on #9922
@PromanSEW after running the tests I am conviced we are describing different issues, although I can find mine in your PR, it doesn't seem to be the main problem. I will open another issue.

[2020-11-04 14:55] PromanSEW commented on #9922
@onilton I ran my test and see that `StackOverflowError` gone after update to 2.6.3, but Ebean fields are still in JSON.
So this issue partially fixed in last releases, looks good anyway

[2020-11-05 11:53] franzgranlund commented on #9922
Did you open another issue for this? I also noted the problem with field visibility. Really strange that they decided to serialize private fields..

[2020-11-06 01:50] onilton opened #10523 "toJson is serializing private fields by default for Jackson. Possible regression in 2.8.x"
### Play Version

2.8.x

### API

Java, but may affect Scala if someone is using Jackson for Json.

### Expected Behavior

Private fields should not be serialized by default when calling toJson (previous behavior in 2.7.x)

### Actual Behavior

Private fiels are being serialized by default when calling toJson

### Reproducible Test Case

Just serialize a class using toJson that has a `private` fie

[2020-11-06 01:50] onilton commented on #9922
Ok, I've opened a new issue for my problem:

https://github.com/playframework/playframework/issues/10523

[2020-11-06 02:55] PromanSEW commented on #10523
**Note:** Private Ebean-specific fields after enhancing are also serialized to Json, but they should not be there

[2020-11-06 08:47] PromanSEW commented on #9922
I think this issue can be closed because `StackOverflowError` is gone, but #10523 is still actual for Ebean fields

[2020-11-06 08:47] #9922 closed

[2020-11-06 09:05] franzgranlund commented on #10523
This is a quite serious bug/undocumented change, since it might expose internal or sensitive information that is hard to detect for the developers when migrating.

[2020-11-06 11:40] ignasi35 commented on #10523
@onilton can you confirm if this issue happens in both Play 2.8.2 and 2.8.4?

[2020-11-06 12:37] ricklambrechts commented on #2854
Hi, this is still a problem with the current version.
For me the solution is:
`set "APP_CLASSPATH=%APP_LIB_DIR%\..\conf\;%APP_LIB_DIR%*"`

[2020-11-06 13:23] onilton commented on #10523
@ignasi35 I can't build an example right now, but looking at the source code, it seems nothing was changed:

[code]
https://github.com/playframework/playframework/blob/2.8.4/project/Dependencies.scala#L10

And in akka 2.6.8:

[code]
https://github.com/akka/akka/blob/v2.6.8/akka-serialization-jackson/src/main/scala/akka/serialization/jackson/JacksonObjectMapperProvider.scala#L248

[2020-11-06 13:44] ignasi35 commented on #10523
@onilton
Other changes in 2.8.3 and 2.8.4 may have introduced the regression.
Also, this may be a different default settings between the jackson versions used in 2.7.x and 2.8.x.

I am no asking for a full reproducer right now (though that would be awesome), but if we could narrow down in what version this bug was introduced we may be able to expedite a workaround and a full-time solution.

[2020-11-06 13:57] onilton commented on #10523
@ignasi35 I think the regression started in 2.8.0 series, I noticed at my first migration to 2.8.x

[2020-11-06 15:59] ignasi35 commented on #10523
@onilton you have a couple of options:

1. disable the `ObjectMapperModule` ( [which is enabled by default](https://github.com/playframework/playframework/blob/585590673fa55f0d8218b18a00be7ca9370538d0/core/play-java/src/main/resources/reference.conf#L7)), then create your own copy of the [play code](https://github.com/playframework/playframework/blob/585590673fa55f0d8218b18a00be7ca9370538d0/core/p

[2020-11-06 16:53] onilton commented on #10523
@ignasi35 that's what I did, the 2. ,as I hinted at the issue description:

The thing that didn't strike me at first is @franzgranlund comment:

And now I realized that is exactly what happened to me, toJson was serializaning a `hashedPassword` field where in Play 2.7.x this was not true, by default.

[2020-11-06 16:58] ignasi35 commented on #10523
@onilton I've raised https://github.com/akka/akka/pull/29797 to standardize how visibility is tuned in Akka-managed `ObjectMapper` instances.

[2020-11-06 17:39] onilton commented on #10523
@ignasi35 great! Added a comment there.

[2020-11-06 19:59] mkurz commented on #9820
I think this can be closed, see corresponding pull request (which was also closed): #9854

[2020-11-06 19:59] #9820 closed

[2020-11-06 20:10] mkurz commented on #10471
Also see https://discuss.lightbend.com/t/form-with-a-list-of-sub-form/7221

Looks like a bug.

[2020-11-09 13:16] jrudolph opened #10527 "Failed: Host repo.scala-sbt.org not found."
Travis issue?

https://travis-ci.com/github/playframework/playframework/jobs/430662733

[code]

[2020-11-09 15:14] ignasi35 commented on #10523
Fixed in #10526

[2020-11-09 15:14] #10523 closed

[2020-11-10 06:41] sripooja commented on #7535
Hi @richdougherty am using play 2.8.4. Still I face the same issue by injecting JPAApi

[2020-11-11 09:44] mkurz commented on #10110
@EdozdeDandez Can you please give more information or an example what your exact problem is?

[2020-11-11 14:33] marcadella commented on #10481
I think I got it: It was just a route conflict. I moved the assets routes up in the route file, (in order to prioritize them) and it solved the isse.

[2020-11-11 14:33] #10481 closed

[2020-11-11 22:04] SethTisue commented on #10478
is this resolved now that https://github.com/playframework/playframework/pull/10487 is merged? (I might be confused.)

[2020-11-12 10:23] jrudolph opened #10533 "Failed: Nightly task nightly-deploy-2.8.x failed"
With two different error messages, failed at least three times in the last few days:

[code]

and

[code]

<details>
<summary>Details</summary>

[code]
</details>

[2020-11-12 10:44] ignasi35 commented on #10478
No, it the same error in different places. `CertificateGenerator` still uses deprecated API. should be same fix than https://github.com/lightbend/ssl-config/pull/269, though.

[2020-11-13 08:00] ennru commented on #10533
Again in /home/play/logs/nightly-deploy-2.8.x-1605242192.log

[2020-11-14 16:14] felipebonezi commented on #10473
@ignasi35 how can I help in this problem?
I forked and try to search for `play.ws.ahc.disableUrlEncoding`, but didnt found anything.

[2020-11-14 17:22] ignasi35 commented on #10473
Hi @felipebonezi, I think this problen is on playframework/play-ws (different repo).

(Not at my laptop ATM)

[2020-11-14 18:43] felipebonezi commented on #10483
@mkurz @ignasi35 I've implemented this filter.
Can you create the `2.9` branch so that I can open my PR?

[2020-11-14 19:14] mkurz commented on #10483
@felipebonezi master branch is the upcoming 2.9, so just use that. Thanks!

[2020-11-15 13:59] felipebonezi commented on #10473
@ignasi35 the problem is in the class `RequestBuilderBase` from the Shaded AHC package.
How can I fix?

![image](https://user-images.githubusercontent.com/1410319/99186802-94e74f80-2731-11eb-8a11-c54e94be98fb.png)

BTW, I found that Scala API is with the same problem.
Can you check if am I right?
https://github.com/felipebonezi/play-ws/commit/040d9b9b91f1b74cc00b3b42e2a83b8dd8ea00a1

[2020-11-15 20:11] mkurz commented on #10473
@felipebonezi Thanks for your work! Please open a pull request in https://github.com/playframework/play-ws and let's discuss over there. thanks!

[2020-11-16 16:37] mkurz commented on #10486
@jtjeferreira Got this fixed by #10458?

[2020-11-16 20:05] jtjeferreira commented on #10486
No

[2020-11-16 23:31] wsargent commented on #10008
Have you looked at the play-samples?

* https://github.com/playframework/play-samples/tree/2.8.x/play-scala-forms-example
* https://github.com/playframework/play-samples/tree/2.8.x/play-scala-hello-world-tutorial
* https://github.com/playframework/play-samples/tree/2.8.x/play-scala-starter-example

[2020-11-17 10:20] ignasi35 opened #10541 "Remove JsonNodeDeserializer"
#10495 introduced a workaround to prevent a stackoverflow on Jackson potentially causing a DoS (see https://www.playframework.com/security/vulnerability/CVE-2020-26883-JsonParseUncontrolledRecursion).

Jackson 2.12 will fix this out of the box. When Play adopts Jackson 2.12 the custom JsonNodeDeserializer in play could be removed.

[2020-11-20 07:54] nicolas-b12 commented on #9043
Same here, sbt 1.3.13 and Play 2.8.2

[2020-11-22 04:08] godenji commented on #10486
Short of reverting to 1.3.x, is there a fix/workaround for this?? Difficult to track down the underlying exception when it's swallowed upstream...

[2020-11-22 09:16] jtjeferreira commented on #10486
Did you try this https://github.com/playframework/playframework/issues/10486#issuecomment-716710331 ?

[2020-11-22 10:27] godenji commented on #10486
@jtjeferreira I did try that, yes, and it doesn't work (Play 2.8.2, sbt 1.4.3, scala 2.13.3).

Reverting to sbt 1.3.11 "fixes" the issue, but I'd prefer to be on the sbt 1.4.x series.

[2020-11-22 10:39] jtjeferreira commented on #10486
And you still have the same exception? Are you sure you are correctly overriding the HttpErrorHandler? Does the stack trace still mentions the default `play.api.http.DefaultHttpErrorHandler`?

[2020-11-22 15:33] godenji commented on #10486
yes

yes

[code]
Not sure what's going on, but it makes Play + sbt 1.4.x unusable.

[2020-11-23 04:02] ttymck commented on #6719
After looking into this, I wanted to ask for feedback on my assessment of the situation; hopefully someone more familiar with the RoutesCompiler will be able to confirm if my understanding is correct:

1. The `compileRoutesFiles` SBT task passes along each individual routes file (`routes`, `a.routes`, `b.routes`) as separate tasks for compilation
2. `RoutesCompiler.compile` operates on each indivi

[2020-11-23 20:35] seglo commented on #10111
Seen again on `nightly-deploy-2.8.x`

[2020-11-26 11:54] almothafar commented on #10486
Play 2.8.5, JDK 11, and still got the same issue with sbt 1.4.3 but works just fine in 1.3.13

[2020-11-26 14:05] jtjeferreira commented on #10486
I am still in play 2.7.x and the workaround works for me...

[2020-11-27 13:54] ndlarsen commented on #8239
Appears to present in 2.7.5.

[2020-11-29 20:49] Captain1653 opened #10552 "Remove unnecessary modifiers from interfaces in play-jdbc-api"
There are some interfaces in the module play-jdbc-api with public-modifiers for methods. Example:
`public interface DBApi {

  **public** List<Database> getDatabases();
...`

These modifiers can be removed. I'm going to fix it.

[2020-11-30 09:39] chbatey opened #10554 "Failed: Error accessing netty jar"
Happened a few times in a row:

[code]

https://travis-ci.com/github/playframework/playframework/jobs/450386317

[2020-11-30 10:22] raboof commented on #10554
in https://github.com/playframework/playframework/pull/10553 it went away after removing the cache (which worked this time :tada: !)

[2020-11-30 10:23] #10554 closed

[2020-11-30 17:35] #10552 closed

[2020-11-30 20:04] Captain1653 opened #10555 "Replace deprecated JUnit-matchers on Hamcrest-matchers in play-guice"
There are some deprecated JUnit-matcher in the module play-guice. They were deprecated in JUnit 4.13
It can be replaced on Hamcrest-matchers. I followed the documentation  https://github.com/junit-team/junit4/blob/main/doc/ReleaseNotes4.13.md#pull-request-1150-deprecate-assertassertthat

I'm going to fix it.

[2020-12-01 08:31] counter2015 commented on #10486
Same problem

[2020-12-01 12:09] #10555 closed

[2020-12-01 20:18] Captain1653 opened #10560 "Wrong parameters order for assertEquals in core/play"
There are some assertions assertEquals with the wrong parameters order. It looks something like that:
`assertEquals(result.getValue(), "myValue")`
but should be
`assertEquals("myValue", result.getValue())`

First - expected value, second - actual value. [Documentation](https://junit.org/junit4/javadoc/latest/org/junit/Assert.html#assertEquals(long,%20long))

[2020-12-01 21:08] Luka-Abey opened #10562 "Outdated 'Slick' dependency in documentation example"
For Play version 2.8.x Slick 5.0.x is [recommended](https://github.com/playframework/play-slick#current-version). In the [documentation](https://www.playframework.com/documentation/2.8.x/PlaySlick) Slick is in 4.0.0.

[2020-12-01 21:12] Luka-Abey commented on #10562
Can't for the life of me find the md file in question, the link at the bottom of [Play-Slick](https://www.playframework.com/documentation/2.8.x/PlaySlick) documentation is broken. Made it to here: https://github.com/playframework/playframework/tree/2.8.x/documentation/manual/working/commonGuide but got lost ! Any nudges warmly welcomed. Cheers

[2020-12-02 11:20] #10560 closed

[2020-12-02 20:31] mkurz commented on #10541
Jackson 2.12 released, however automatic updates via Scala Steward are disabled for Jackson as of #10412

[2020-12-02 20:47] Captain1653 opened #10568 "Not use deprecated methods of static classes from Http.java"
There are some deprecated methods in static classes from Http.java. These methods are used. For example:
`RequestHeade.getQueryString, Session.getOptional`  and ext.

These methods can be replaced on some alternatives.

[2020-12-03 10:39] ignasi35 commented on #10541
@mkurz since Akka requires using Jackson 2.10 we decided to stick with that version for a bit. We will consider a step-bump of Jackson.

[2020-12-03 10:45] felipebonezi commented on #10473
PR opened!

[2020-12-03 11:09] #10568 closed

[2020-12-03 17:54] bchazalet opened #10572 "last-modified of assets contained in jar is wrong when using sbt >= 1.4.0"
### Play Version
2.7.7

### API
Scala

### Operating System
macosx but will affect all I believe

### JDK
Seen on OpenJDK 15 and Oracle Java 8

### Library Dependencies

Sbt 1.4.4

### Expected Behavior

1. Package a play application using `universal:packageZipTarball` and sbt >= 1.4.0
2. Deploy the application
3. Send a GET request for one of the static asset
4. Inspect the last-modified response

[2020-12-03 22:28] Captain1653 opened #10573 "Remove unnecessary exceptions from signature in tests from core/play"
There are some tests in the module core/play with exceptions in the signature. It looks something like that:
`public void someTest() throws Throwable` , but the code doesn't throw any checked exception.

It seems the  "throws Throwable" is unnecessary and can be removed.

[2020-12-03 22:55] Captain1653 opened #10575 "Replace deprecated JUnit-matchers on Hamcrest-matchers in play-java-jdbc, play-java-jpa, play-test"
There are some deprecated JUnit-matcher in the modules: play-java-jdbc, play-java-jpa, play-test.
They were deprecated in JUnit 4.13.  It can be replaced on Hamcrest-matchers. I followed the documentation https://github.com/junit-team/junit4/blob/main/doc/ReleaseNotes4.13.md#pull-request-1150-deprecate-assertassertthat

[2020-12-04 13:37] #10573 closed

[2020-12-04 13:41] #10575 closed

[2020-12-04 19:35] mkurz commented on #10372
I think the long term plan is to completely replace play-file-watch/directory-watcher by sbt's own file watching capabilities, introduced in sbt 1, see #9956

[2020-12-04 21:57] Captain1653 opened #10577 "Replace deprecated asserts, replace deprecated ExpectedException.none(), simplify asserts"
1. There are some deprecated Junit-asserts in the modules core/play and play-integration-test . It can be replaced on Hamcrest-matchers. [JUnit Documentation](https://junit.org/junit4/javadoc/latest/org/junit/Assert.html#assertThat(T,%20org.hamcrest.Matcher))

2. There are deprecated ExpectedException.none . It can be replaced on Assert.assertThrows (Junit 4.13) , [JUnit Documentation](https://jun

[2020-12-04 23:40] Captain1653 opened #10579 "Remove unused imports, use diamond operator, remove unnecessary public from interfaces"
1. Remove unused imports
2. The diamond operator can be used for collections. For example:
`List<String> list = new ArrayList<String>` can be replaced on
`List<String> list = new ArrayList<>`.
3. There are some interfaces in the module  with public-modifiers for methods. Example:
`public interface DBApi {

**public** List getDatabases();
...`

These modifier "public" can be removed.   [Documentati

[2020-12-07 10:16] jrudolph opened #10583 "Failed: Nightly task nightly-deploy-master failed"
Probably related to #10111 and #10328 (but for the master branch).

`The full logs for this task have been saved and can be found in /home/play/logs/nightly-deploy-master-1607227201.log.`

[code]

[2020-12-07 20:35] #10579 closed

[2020-12-07 20:38] #10577 closed

[2020-12-08 14:22] r3dpointsp commented on #9278
What is the status of this epic?

[2020-12-09 10:20] octonato commented on #9278
We are not working on this and possibly we won't continue. The reason is that we have being adding a few things in Akka that would make it trivial to use in Play.

The cluster formation is just a matter of starting the cluster in the loader and use cluster bootstrap. Same for akka management health-checks.

The write-side part is covered by Akka Persistence Typed. It's just a matter of adding the

[2020-12-09 12:35] ennru commented on #10372
Fixed with #10450

[2020-12-09 12:35] #10372 closed

[2020-12-09 12:40] ennru commented on #10473
PR in https://github.com/playframework/play-ws/pull/545

[2020-12-09 21:29] yousuketto opened #10590 "StackOverflowError or NoClassDefFoundError is occurred when received form-data with many fields from multipart/form-data"
### Play Version
2.8.5

### API
Scala

### Operating System
Windows 10 Pro

### JDK
openjdk version "1.8.0_252"
OpenJDK Runtime Environment Corretto-8.252.09.2 (build 1.8.0_252-b09)
OpenJDK 64-Bit Server VM Corretto-8.252.09.2 (build 25.252-b09, mixed mode)

### Library Dependencies
sbt 1.3.13

### Expected Behavior
1. Post form-data with 4,000+ fields from multipart/form-data form.
2. Can execute

[2020-12-10 10:03] ignasi35 commented on #10590
There is a trade-off between stack size and payload size. You can workaround this issue increasing the stack size and reducing the `play.http.parser.maxMemoryBuffer` config value.

I could only reproduce the issue on my local machine by forcing a smaller stack size than the default value and increasing the memory buffer. Using default values and trying out your code with a 10_000 checkboxes I woul

[2020-12-11 01:55] yousuketto commented on #10590
Thanks for reply. @ignasi35

`maxMemoryBuffer` is related value size not only name size.
So, I need some margin if the form has text field.

If there is an attacker that want to down my application, I need to estimate stack size to guard.
I think it is hard work for framework users (at least for me).
So I want an implementation not to need to estimate stack size.

If the implementation will be not

[2020-12-11 08:39] ignasi35 commented on #10590
@yousuketto there's no magic trick, unfortunately.

As a framework user, one can only know the framework limitations (and related trade-offs) and use cases of the application they are implementing to fine-tune the framework limitations to better serve the business with limited or no risk.

As a framework writer, one can only avoid algorithms that are limited by the stack size. We can try to look i

[2020-12-11 17:52] Captain1653 opened #10595 "Refactor CaffeineCacheManager"
The class CaffeineCacheManager use method map.getOrDefault . I think it can be replaced on map.computeIfAbsent .

[2020-12-11 19:56] gokhanoner commented on #2983
@mkurz any update on this one, will this be available for any Play 2.8 version?

[2020-12-11 20:00] mkurz commented on #2983
@gokhanoner See #10355 for a draft. Currently I am very busy with other projects, so I don't know when I will finish that pull request.

[2020-12-12 19:31] Captain1653 commented on #9841
@ignasi35  Is it still needed? I tried to do it, but I need some help. Firstly I thougt about Travis CRON job and it looks something like that:
![Снимок экрана от 2020-12-12 22-24-10](https://user-images.githubusercontent.com/4740207/101993092-e6e7aa80-3cc8-11eb-8f66-8cbff166bdbb.png)

But... It won't work, isn't?  I know about job and stage conditions in Travis. How will it work? Different branch

[2020-12-14 07:19] mkurz commented on #9423
PR: #10398

[2020-12-14 08:20] raboof commented on #10334
saw this failure again at https://travis-ci.com/github/playframework/playframework/jobs/457952029 (for the 2.8.x branch), indeed seems flakey. The actual error seems to be:

[code]

We never see the 'Resource at /slow returned HTTP ...'. Perhaps we were unlucky and the request was not accepted yet within 500ms?

[2020-12-14 08:43] ignasi35 commented on #9841
Hi @Captain1653, this is still needed, yeah.
Unfortunately, since this is a CRON job in the Travis CI build, it won't run on the PR build and we will only be able to test it once it's merged in `master`. Still, I think a PR would be the next step to work in, if you want.

I would suggest a PR with two commits:

1. a commit where you locally run `validateExternalLinks` and fix any issues reported (

[2020-12-14 15:35] #10334 closed

[2020-12-15 10:53] francisdb commented on #6845
This is the filter we use as workaround:

[code]

[2020-12-18 20:47] Captain1653 opened #10607 "Remove using deprecated constructor Http.RequestImpl(RequestHeader header)"
There is deprecated constuctor Http.RequestImpl(RequestHeader header). It is still using. It can be replaced on normal constructor RequestImpl(Request<RequestBody> request) .

[2020-12-22 20:30] #10607 closed

[2020-12-23 19:56] nafg commented on #5816
It's not a DSL

[2020-12-24 08:07] gokhanoner opened #10612 "[ Feature ] Return caches/cache names from CaffeineCacheManager"
Current [CaffeineCacheManager](https://github.com/playframework/playframework/blob/master/cache/play-caffeine-cache/src/main/scala/play/api/cache/caffeine/CaffeineCacheManager.scala) implementation only exposes `getCache(name)` method, which is very limited for a cache manager.

adding a method that returns `cacheMap`, or returning cache names only, will make it much more useful since one can acce

[2020-12-24 19:57] rysh opened #10614 "Play's dependency should require guice, but it is not mentioned in the documentation."
### Play Version
2.6 or higher

### API
documentation/manual/working/commonGuide/build/BuildOverview.md

### Operating System
Darwin ys.local 19.6.0 Darwin Kernel Version 19.6.0: Thu Oct 29 22:56:45 PDT 2020; root:xnu-6153.141.2.2~1/RELEASE_X86_64 x86_64

### JDK
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixe

[2021-01-03 20:55] huntc commented on #10572
To add some context, I think it was me that provided this functionality in Play many moons ago. Assets can of course be provided as Webjars. The date of the webjar is therefore important. My memory on this is vague though.

[2021-01-04 12:29] octonato opened #10618 "Failed: Bind failed for TCP channel on endpoint"
https://travis-ci.com/github/playframework/playframework/jobs/467787617#L4445

[code]

[2021-01-04 14:24] LeComptoirDesPharmacies opened #10619 "Problem between system property and sub project"
### Play Version
Play version : 2.8.7

### API
Project use Java

### Operating System
Windows 10

### JDK
Version : jdk1.8.0_221

### Library Dependencies
Play Ebean version : 6.0.0

### Expected Behavior

1. sbt run of the project
2. Go to localhost:9000
3. Project successfully compile

### Actual Behavior

1. sbt run of the project
2. Go to localhost:9000
3. Project crashed on compile

Here is t

[2021-01-04 17:24] LeComptoirDesPharmacies commented on #10619
Mhhh, after some analysis, it may come from Play Ebean itself and the way they did the migration from Configuration to Config.

I created the following issue on their side : https://github.com/playframework/play-ebean/issues/209

[2021-01-05 11:38] yamakz5555 opened #10622 "play.data.validation.Constraints.Email does not allow hyphen in the first letter"
### Play Version

2.7

### API

Java

### Operating System

Windows 10

### JDK

1.8

### Expected Behavior

1. Implement form validation.
[code]
2. Send the form with email.
[code]
3. Validation is successful.

### Actual Behavior

1. Implement form validation.
[code]
2. Send the form with email.
[code]
3. Validation fails.

[2021-01-05 11:48] yamakz5555 commented on #10622
I searched for Issue.
I read #7140 and realized that it was not fully RFC compliant.

But what I didn't understand was why word boundaries (\b) were implemented.
Word boundaries don't work properly with hyphen.

https://html.spec.whatwg.org/multipage/input.html#email-state-(type=email)
Can you see why it is implemented at word boundaries even though it says `/^ ...... $/` in this content?

[2021-01-06 23:13] gokhanoner commented on #10612
Any update on this request?

[2021-01-07 17:54] Captain1653 opened #10625 "Replace "must_== Some()" on builtin matcher "beSome()" in specs2-tests"
There are many uses `responses(0).headers.get("Authorization") must_== Some("invalid")` in specs2-tests.

It can be replaced on the builtin matcher `must beSome()` and the result will look like that `responses(0).headers.get("Authorization") must  beSome("invalid")`

[2021-01-08 17:15] Captain1653 opened #10627 "Refactor AhcWSSpec.scala"
1. There are some unused local variables. These variables can be removed.
2. Remove old commented tests
3. Replace `new String(bytes, "UTF-8")` on  `new String(bytes, StandartCharsets.UTF-8)` .  [StandartCharsets documentation](https://docs.oracle.com/javase/7/docs/api/java/nio/charset/StandardCharsets.html)

[2021-01-09 21:50] Captain1653 opened #10629 "Rename tests in PathsTest and CallTest from play/core"
There are many tests in PathsTest and CallTest with "general" name like that:

`/** Current Path: /playframework Target Path: /one Relative Path: one */`
`  @Test`
`  public void testRelative1() {`
`    final String startPath = "/playframework";`
`    final String targetPath = "/one";`

`    assertEquals(`
`        "Relative path should return sibling path without common root",`
`        "one",`
`

[2021-01-09 21:53] mkurz commented on #10629
@Captain1653 You don't have to open an issue **and** a pull request afterwards to fix that issue. Just a pull request is enough.

[2021-01-09 21:56] Captain1653 commented on #10629
Thank you @mkurz  . I'll do it next time.

[2021-01-09 22:24] brabo-hi commented on #8446
Hi, still having the same issue
[code]

[2021-01-11 22:31] #10625 closed

[2021-01-11 22:41] #10595 closed

[2021-01-11 22:56] #10627 closed

[2021-01-11 23:13] #10629 closed

[2021-01-12 14:25] hallyhaa commented on #10486
I am also on Play 2.7.x, and the workaround does not work for me.

[2021-01-12 20:46] mkurz commented on #10612
What you could do right now is get the names of the caches from the config:
https://github.com/playframework/playframework/blob/2f67c254d783a2b057d4712210c5d07d4a56571b/cache/play-caffeine-cache/src/main/scala/play/api/cache/caffeine/CaffeineCacheApi.scala#L65-L66
Now you can just iterate over the names and use `cacheManager.getCache(name)` and do what you need to do.

Of course your suggestion is

[2021-01-12 22:34] mkurz commented on #10486
@eed3si9n Is it actually possible to use e.g. a directory like `scala-sbt-1.4` like it's possible to use `scala-sbt-0.13` and `scala-sbt-1.0` folders described here: https://www.scala-sbt.org/1.x/docs/Migrating-from-sbt-013x.html#sbt+version+specific+source+directory
?

[2021-01-13 21:42] gokhanoner commented on #10612
@mkurz I created a PR. Can you pls add the necessary PR reviewers and/or review the changes.
also, I'd really appreciate if this can be released as part of 2.8.X as well :D

[2021-01-13 21:49] mkurz commented on #10612
@gokhanoner I will do my best

[2021-01-14 08:28] patriknw opened #10638 "compilation error in routes-compiler-routes-compilation"
https://travis-ci.com/github/playframework/playframework/jobs/471606111

[code]

[2021-01-14 08:39] raboof commented on #10638
That compile error is actually expected by the test (it also appears in succeeding runs, e.g. https://travis-ci.com/github/playframework/playframework/jobs/471403904#L2169)

The test that fails here seems to be `shutdown-happy-path`, perhaps a duplicate of #10209?

[2021-01-14 08:42] patriknw commented on #10209
https://travis-ci.com/github/playframework/playframework/jobs/471606111

[2021-01-14 08:42] patriknw commented on #10638
ah, thanks

[2021-01-14 08:42] #10638 closed

[2021-01-17 22:02] Captain1653 commented on #10351
It's really interesting for me! It's completely new for me , but I really want to try to deploy. @ignasi35 Will you create the separated issue? Should I create the issue myself?

[2021-01-18 12:35] almothafar commented on #7458
Any update on this?

[2021-01-19 10:43] ignasi35 opened #10644 "[failed] BuiltInComponentsJavaActionCompositionSpec: execute request handler action last is the default and controller composition before action composition"
https://travis-ci.com/github/playframework/playframework/jobs/472931475#L2464

[code]

[2021-01-20 03:10] alev000 commented on #10486
FWIW, the following steps resolved this issue for me, with Play 2.8.7 and SBT 1.4.6:

Add this line to your config file (`application.conf`):
[code]

Add a file named `AppErrorHandler.scala` to your `app/` directory, with the following contents:
[code]

Thanks @jtjeferreira and @godenji for pointing me in the right direction!

[2021-01-20 08:28] mkurz commented on #10486
Just to let you know I have a working patch which I will submit soon hopefully.

[2021-01-20 09:42] #10612 closed

[2021-01-22 10:25] mkurz commented on #10486
Fix for master: #10648
Fix for 2.8.x: #10649
Fix for 2.7.x: #10650

[2021-01-22 10:25] mkurz commented on #10497
Fix for master: #10648
Fix for 2.8.x: #10649
Fix for 2.7.x: #10650

[2021-01-25 14:08] talkdirty commented on #9020
Someone in my team just encountered this. Useless error messages cost easily avoidable time. 2 years since opening the issue, any plans to resolve? Happy to take a look as well if a contributor could point at the likely cause

[2021-01-25 15:36] adamrabung commented on #6658
Here is a small example of statuses generated by Action builders not using the customer error handler. After LoggedIn generates a Forbidden, I was hoping onClientError would be called in CustomerErrorHandler.
HomeController.scala:
[code]
application.conf:
`play.http.errorHandler="controllers.CustomErrorHandler"`

I verified my custom handler was configured correctly by throwing an error from Logge

[2021-01-25 20:28] JFCote commented on #5209
@albuch I know it's been a long time but can you elaborate on the solution for this? What are ClasspathJarPlugin or LauncherJarPlugin? Where do I get them? Thanks!

[2021-01-26 08:40] mkurz commented on #9924
There is and was no problem. You explanation is correct. Travis always uses the `.travis.yml` of the branch your are pushing to (or in case it's a PR the base branch). In the first commit of this issue Ignasi talks about pushing to 2.8.x but refering to `.travis.yml` in the master branch, that was the problem.

[2021-01-26 08:40] #9924 closed

[2021-01-26 20:35] mkurz commented on #9020
I finally had a look at this issue and @ctoomey's is [absolutely correct](https://github.com/playframework/playframework/issues/9020#issuecomment-564184187), it's the `setEditor` in the error handler causing the problem. I already have a working fix I will submit soon (together with other stuff I am working on).

[2021-01-27 09:00] mkurz commented on #10373
Looks like this bug is solved when using sbt 1.4!

@jtjeferreira I changed the sbt version [in your example](https://github.com/jtjeferreira/compile-twice-play-seed/blob/master/project/build.properties) to 1.4.6 (or even 1.4.0) and I can not reproduce the redundant compilation anymore (with the steps you provided in your intial comment).
Please try yourself and let me know if that is true for you

[2021-01-27 10:07] mkurz commented on #9043
I tracked down the core problem of this issue. Here is the fix with explanations what's actually going on: #10661

[2021-01-27 10:46] jtjeferreira commented on #10373
I have been using [this](https://github.com/playframework/playframework/issues/10373#issuecomment-680174967) workaround, but I am also using sbt 1.4 already with someworkarounds, so I will check if sbt 1.4 really fixed it.

[2021-01-27 11:02] mkurz commented on #9020
Fix is here: #10662

[2021-01-27 17:19] #9020 closed

[2021-01-27 21:07] SarpongAbasimi opened #10665 "What is the default payment gateway for Play applications?"

[2021-01-27 21:58] talkdirty commented on #9020
Thanks for making it happen @mkurz  :+1:

[2021-01-27 22:03] laguiz commented on #9020
Thank you for this one. 👍

[2021-01-27 22:16] mkurz commented on #9020
@talkdirty @laguiz Just wondering, is this issue such a big problem for you? I mean it only happens when the config file is invalid (or not?) which should not happen that often or not?

[2021-01-27 22:30] ctoomey commented on #9020
Thanks @mkurz!

[2021-01-27 22:33] laguiz commented on #9020
Not a big deal as you say no worries.

However for newcomers it may be a big deal (like a colleague just today). I told him 'yeah don't worry look at your config 😅'.

It's part of the 'dev experience' we love Play so clean error save time :-)

As an illustration, Angular team recently pushed a big effort on "common errors". For me it's pretty important to have clean errors especially when it's ver

[2021-01-27 22:34] talkdirty commented on #9020
@mkurz indeed it's not a huge deal. I've just witnessed people hitting this issue on multiple occasions now onboarding. These people are generally new to scala/play. The reason is of course them not properly reading the documentation of our packages (i.e., which environment variables to set), however due to the in-transparent message that happened until now they think they've broke something unrel

[2021-01-27 22:35] laguiz commented on #9020
I confirm that in our case it happen (only) when I missed declare a variable in my .env file (using env plugin).

[2021-01-28 09:47] mkurz commented on #9983
This is still not working with sbt 1.4.6... I guess this is to be fixed in Play somewhere... sometime...

[2021-01-28 11:12] mkurz commented on #9983
I did some research.
The behaviour in following code block differs in sbt 1.2 and sbt 1.3:
https://github.com/playframework/playframework/blob/96a5c50b1cb7802819213fb13a5e2bfa513ac9aa/dev-mode/sbt-plugin/src/main/scala/play/sbt/run/PlayRun.scala#L145-L149

In sbt 1.2 `watched.watchSources(state)` will always return the sources that are being watched and the iterator and collect "runs",
in sbt 1.3

[2021-01-29 21:29] mkurz commented on #10471
Fix is here: #10666 - Play will automatically prefix `ValidationError` keys with the parent form's fieldname (in your case e.g. `entries[0].`, where 0 is the index of the current element in the list)

[2021-02-01 14:24] #9043 closed

[2021-02-01 16:41] mkurz commented on #10464
I had a quick look in the code you referenced.
The problem is that you parse all `reference.conf`s, but that doesn't mean they get resolved. That's why `play.server.dir` never gets set because `user.dir` isn't "available", see https://github.com/bitcoin-s/bitcoin-s/blob/856f88f0ddbb7adc437ecb1cdc6ebf3c7128cd76/db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala#L201

I don't have everything

[2021-02-01 16:41] #10464 closed

[2021-02-01 22:58] mkurz commented on #10364
Actually, there is no bug in Play...
If you run in this problem make sure the route defined in `conf/routes` matches the action method.

E.g. if you have in your routes file:
[code]
then the action method also should not have parentheses:

[code]

The other way round it works as well, you have to add parentheses to both:

[code]

[code]

Right now the play-scala seed project is "broken", I fixed t

[2021-02-01 22:58] #10364 closed

[2021-02-01 23:42] mkurz commented on #10363
Fix is here #10671

[2021-02-02 00:27] mkurz commented on #9935
This has been fixed by kamon by introducing a `stop()` method in kamon 2.1.11.
That means you can now call
[code]
to stop kamon and free its resources.

See https://github.com/kamon-io/Kamon/issues/629#issuecomment-771067136 and https://github.com/kamon-io/Kamon/pull/804 for mor info.

There is nothing to fix in Play here.

[2021-02-02 00:27] #9935 closed

[2021-02-02 00:29] mkurz commented on #9935
@jtjeferreira Since you did some work regarding memory leaks, do you think adding parts of the gist into Play core makes sense? See https://github.com/playframework/playframework/issues/9935#issuecomment-585495107

[2021-02-02 03:59] javystyle commented on #10486
What is the status of this? I keep getting java.lang.ClassCastException: class sbt.internal.inc.MappedVirtualFile cannot be cast to class java.io.File (sbt.internal.inc.MappedVirtualFile is in unnamed module of loader sbt.internal.MetaBuildLoader @d35dea7; java.io.File is in module java.base of loader 'bootstrap')

[2021-02-02 10:57] jtjeferreira commented on #9935
In my work project I still have something similar to that gist for:
* DefaultTemporaryFileCreator leak, but this was already fixed in #10498
* Jackson TypeFactory cache
* Logback ContextClassLoader

I think it would make sense to fix the last 2 in Play core...

[2021-02-02 11:09] mkurz commented on #9935
@jtjeferreira Do you want to provide a pull request?

[2021-02-02 11:22] jtjeferreira commented on #9935
I am a bit busy this week. Will try to go for it in the weekend

[2021-02-03 10:10] #10363 closed

[2021-02-03 12:23] mkurz commented on #10473
New PR: https://github.com/playframework/play-ws/pull/552

[2021-02-03 12:24] mkurz opened #10675 "[2.8.8] Release new play-ws version"
Before cutting 2.8.8, https://github.com/playframework/play-ws/pull/552 and its backport https://github.com/playframework/play-ws/pull/553 should be merged and a new play-ws version should be released.
The release should be done from the [2.1.x branch](https://github.com/playframework/play-ws/tree/2.1.x), probably it will be 2.1.3

[2021-02-04 06:35] shkhln commented on #9935
Hmm… Can't remember why I thought the DefaultTemporaryFileCreator leak was fixed in 2.7. Anyway, I updated the gist for Play 2.8.

[2021-02-04 15:34] octonato opened #10676 "[failed] java.lang.OutOfMemoryError: Metaspace when running sbt scripted test"
https://travis-ci.com/github/playframework/playframework/jobs/478802860#L2350

[code]

[2021-02-04 15:40] jtjeferreira commented on #10676
maybe related to #10500, or some leak that was introduced meanwhile... I can try to have a look in the weekend

[2021-02-04 16:14] octonato opened #10677 "[failed] script tests: play-sbt-plugin / dev-mode"
https://travis-ci.com/github/playframework/playframework/jobs/479981496#L1900-L1928

[code]

[2021-02-04 19:13] #10665 closed

[2021-02-04 22:11] #10486 closed

[2021-02-05 12:54] #10471 closed

[2021-02-05 17:42] jxtps opened #10681 "UnsatisfiedLinkError in loader.load should stop the server"
### Play Version: 2.8.7

### API: Both

### Operating System: Ubuntu 20.04

Linux ip-xyz 5.4.0-1037-aws #39-Ubuntu SMP Thu Jan 14 02:56:06 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

### JDK

openjdk version "14.0.2" 2020-07-14
OpenJDK Runtime Environment (build 14.0.2+12-Ubuntu-120.04)
OpenJDK 64-Bit Server VM (build 14.0.2+12-Ubuntu-120.04, mixed mode, sharing)

### Library Dependencies: None

###

[2021-02-05 17:53] jxtps commented on #10681
### Workaround
Inside your `MyApplicationLoader.load`, wrap your code in a `try ... catch case t: Throwable => throw new RuntimeException(t)`.

(Not generally recommended obviously, but that will clear out the PID and stop the java process. Catch `Error` instead of `Throwable` if you prefer)

[2021-02-05 17:57] jxtps commented on #10681
Root cause is that `NonFatal` doesn't catch `LinkageError` (superclass of `UnsatisfiedLinkError`):

[code]
Arguably all of those should still lead to the java process exiting.

[2021-02-07 21:17] mkurz commented on #10681
I think this is a legit suggestion.
@jxtps Do you want to provide a pull request? If everyhing goes well we can include a patch in the upcoming 2.8.8 release.

I did some research to see if someone had a reason to catch `NonFatal` instead of a `Throwable`, but I could not find one:
* The pull request for the pid file deletion: #7883
* Long time ago, instead of catching `NonFatal` to exit the proce

[2021-02-07 21:22] jtjeferreira commented on #10676
I could not reproduce locally this neither in a3cf50fa0 or cbbc97e759e4edb708f3ccd675502239cd29022c

[2021-02-07 21:28] SarpongAbasimi opened #10687 "Iteratees are not working in Scala Play. How are infinite Streams Handled Now?"
I am trying to stream data from twitter but I am getting an infinite stream of data.(View never renders)
I realised that `Iteratees` are no longer being used in Play so I was wondering how streams are handled now.

I have tried using

[code]

but that still does not terminate.

[2021-02-08 09:23] mkurz commented on #10125
Let's close this in favor or #10478

[2021-02-08 09:23] #10125 closed

[2021-02-08 13:22] mkurz commented on #9586
This got fixed by https://github.com/playframework/interplay/pull/101 which dropped support for sbt 0.13 in interplay, which allowed us to get rid of Scala 2.10 and therefore also any `-source` and `-target` flag with `1.6` got removed: https://github.com/playframework/interplay/pull/101/files#diff-9f23263fad304b1ca48c64c38db7d8f20fbd47120c76899715b9913021ab96eeL26
So for Play's `master` branch th

[2021-02-08 13:22] #9586 closed

[2021-02-08 13:55] jtjeferreira commented on #9935
I commented the fixes in my work project for Jackson and Logback, and could not reproduce any leaks, so maybe things are fixed :shrug: ?

[2021-02-08 14:01] mkurz commented on #10681
@jxtps I created the pull request: #10690

[2021-02-08 14:09] mkurz commented on #9920
@oanh-JL you didn't provide any further information, therefore I am closing this issue. You can re-open anytime you want to give us more information what the exact problem is.

[2021-02-08 14:09] #9920 closed

[2021-02-08 14:10] mkurz commented on #10110
Closing because of lack of information.

[2021-02-08 14:10] #10110 closed

[2021-02-08 14:15] mkurz commented on #10619
Issue moved to the play-ebean repo.

[2021-02-08 14:15] #10619 closed

[2021-02-08 15:02] mkurz commented on #9816
Fixed in #9865 long time ago.

[2021-02-08 15:02] #9816 closed

[2021-02-08 16:38] jxtps commented on #10681
Excellent, pull request looks great, thanks!

[2021-02-08 20:36] mkurz commented on #10122
I am not sure why but there was a comment from @wadouk which got deleted (by @wadouk? Or was there a problem with GitHub?)

From my email inbox:

[2021-02-08 21:32] mkurz commented on #10122
A possible fix is here: #10693

[2021-02-09 00:58] #10369 closed

[2021-02-09 02:12] deekayman commented on #10486
I see this is merged, but when will it be released?

[2021-02-09 08:54] wadouk commented on #10122
Don't remember ...
Don't find in the code. Maybe an architecture workaround that set useless this : handling multiple domains in the same app.

[2021-02-09 10:03] mkurz commented on #10486
@deekayman This week I will submit one more pull request which is needed to fully support sbt 1.4 in Play, afterwards I will ask the Play team at Lightbend to release 2.8.8.

[2021-02-10 08:58] ignasi35 commented on #10111
Again in /home/play/logs/nightly-deploy-master-1612929601.log.

[2021-02-10 10:35] mkurz commented on #9882
Turns out that we are missing a Java API for `Cookies.encodeCookieHeader`.
Quickly fixing the above code:

[code]
Not sure, but maybe we can even just add the cookie to a list and later put all the cookie into a single `Set-Cookie` header:

[code]

The way Play puts multiple cookie into a single `Set-Cookie` header is by separating them with a `;;` delimiter:

https://github.com/playframework/play

[2021-02-11 10:31] mkurz commented on #9518
@schub If you question is still relevant, can you please give me more details? What do you mean with "...from a response after a login endpoint is called..."? You can call `request.getCookie("cookiename")` to get a cookie from a request....

[2021-02-11 10:34] mkurz commented on #9518
For Scala users the answer to this issue was given in https://github.com/playframework/playframework/issues/9518#issuecomment-547604774 already.

For Java users the problem is there is no obvious Java API available right now, please see https://github.com/playframework/playframework/issues/9882#issuecomment-776613577 for a workaround. (@vasica38 and @schub)
Let's continue the discussion in #9882

[2021-02-11 10:34] #9518 closed

[2021-02-11 10:36] mkurz commented on #8101
Play Java users please have a look here: #9882

[2021-02-11 10:41] mkurz commented on #8100
Related:
* #8101 and https://github.com/playframework/playframework/issues/8101#issuecomment-547607930
* #9518
* #9882
All those issue are about the same topic that the header and the cookie request attribute(s) are out of sync since #6695
(I am not saying this is a bug however)

[2021-02-12 10:42] mkurz commented on #6298
Warnings still occur with latest Scala 2.13.4, Play 2.8.7 and sbt 1.3.13
Updated reproducer: https://github.com/mkurz/playMoreThan21QueryParams

[2021-02-15 11:16] #10681 closed

[2021-02-15 22:30] domdorn opened #10702 "PlayFramework Blog is down"
blog.playframework.com is down..

[2021-02-16 08:33] mkurz commented on #10490
For the generated routes files i think we can fix this like we did with twirl by removing the generation date and keeping the source comment relative:
https://github.com/playframework/twirl/pull/378

[2021-02-16 08:35] mkurz opened #10705 "[2.8.8] Release new twirl version"
I [backported](https://github.com/playframework/twirl/pull/396) https://github.com/playframework/twirl/pull/378 to Twirls 1.5.x branch.
Please release Twirl 1.5.1 before releasing Play 2.8.8, to make sbt's 1.4 remote cache feature work.

[2021-02-16 17:59] mkurz commented on #10490
Fix is here: #10707

[2021-02-16 19:37] mkurz commented on #10702
Work again.

[2021-02-16 19:37] #10702 closed

[2021-02-16 21:13] mkurz commented on #8490
Closing. The http context ThreadLocal was removed in Play 2.8. Play <2.7 is not supported anymore.

[2021-02-16 21:13] #8490 closed

[2021-02-16 21:46] mkurz opened #10709 "[2.8.8] Release new play-file-watch version"
Would be nice to see https://github.com/playframework/play-file-watch/pull/111 in Play 2.8.8

[2021-02-17 09:56] mkurz opened #10710 "ProvisionException hides PlayException"
Let's say we have an invalid message file (`conf/messages`):
[code]
As you can see the second line will cause a problem.
When Play parses a message file and detects it is invalid, it will throw a `PlayException` which references the line in the invalid file:
https://github.com/playframework/playframework/blob/c395734fa7c838f552843a458e78d0ee9cb805ac/core/play/src/main/scala/play/api/i18n/Messages.

[2021-02-17 10:17] mkurz commented on #9476
Closing.

[2021-02-17 10:17] #9476 closed

[2021-02-17 10:19] mkurz commented on #8445
I think it's OK now to close the issue.

[2021-02-17 10:19] #8445 closed

[2021-02-17 10:27] mkurz commented on #6298
Probably this will not be relevant anymore with Scala 3:
http://dotty.epfl.ch/docs/reference/dropped-features/limit22.html

[2021-02-18 09:43] mkurz commented on #10710
Actually we can enhance the situation even more:
If a component can not be initialized by Play, e.g. because an exception gets thrown in a component's constructor, what you currently see is:
![image](https://user-images.githubusercontent.com/644927/108337448-6916b280-71d5-11eb-9b22-9d251d29c22c.png)
So that again is the Guice `ProvisionException`...

But what we can do is to unwrap the `RuntimeExc

[2021-02-19 09:55] mkurz commented on #10710
Will be fixed by #10711

[2021-02-19 10:40] mkurz opened #10713 "[2.8.8] Release new interplay version(s)"
Before releasing Play 2.8.8 please merge
- https://github.com/playframework/interplay/pull/146 and
- https://github.com/playframework/interplay/pull/147
and release interplay 2.1.6 from the 2.1.x branch and also 3.0.1 (or 3.1.0) from the master branch.
Upgrading to Scala [2.12.13](https://github.com/scala/scala/releases/tag/v2.12.13) allows us to use `@nowarn` and `-Wconf` in Play.

[2021-02-20 12:16] gmethvin commented on #6658
@adamrabung I think you've misunderstood the purpose of the `HttpErrorHandler`. Its purpose is to provide a mechanism for for you to customize the error responses returned by the framework. For example, if a Play body parser wants to return a 400 for a malformed body, it will call `onClientError`.

If your action code is producing the `Result` instance, then Play will use the result you provided.

[2021-02-22 18:46] imanabu commented on #10414
Note: The similar error messages will occur when you have accidentally left in:

           play.server.provider="play.core.server.akkahttp.AkkaHttpServerProvider"

This will likely be forgotten if you are migrating and previously manually enabled the Akka HTTP.

[2021-02-22 23:20] mkurz commented on #10572
sbt 1.5 make this configurable:
https://github.com/sbt/sbt/releases/tag/v1.5.0-M2 (see heading "ThisBuild / packageTimestamp setting)
I think we should at least document this.

[2021-02-23 20:15] Captain1653 commented on #7078
I think the old  issue can be closed. Play 2.5.x are not mantained anymore https://github.com/playframework/playframework/pull/7913#issuecomment-451598007 . And documentation for [2.7.x](https://www.playframework.com/documentation/2.7.x/JavaWebSockets#Rejecting-a-WebSocket) and [2.8.x](https://www.playframework.com/documentation/2.7.x/JavaWebSockets#Rejecting-a-WebSocket) is actual.

[2021-02-23 20:39] #7078 closed

[2021-02-23 21:56] Captain1653 commented on #6074
I think the old issue can be closed. Play 2.5.x aren't mantained anymore. And documentation [2.7.x](https://www.playframework.com/documentation/2.7.x/JavaWebSockets) and [2.8.x](https://www.playframework.com/documentation/2.8.x/JavaWebSockets) doesn't include LegacyWebSocket.

[2021-02-24 06:33] #6074 closed

[2021-02-24 14:40] mkurz commented on #10713
akka 2.6.13 also requires the latest Scala versions now, so we definitely should upgrade, see #10717

[2021-02-24 17:50] ignasi35 commented on #10713
Is there any project still using `interplay`?
The long term goal is to get rid of `interplay` so if we start paying the price of moving away from it it'll be worth it.

[2021-02-24 22:20] mkurz commented on #10713
@ignasi35 Yes, Play is using interplay: https://github.com/playframework/playframework/search?q=interplay

[2021-02-25 07:16] armtuk commented on #7877
I'm having a similar problem, but I'm intentionally using a custom parser. I need the body to be the exact string literal that came in because I have to sign the body, and so the content must be string identical to what the source sent so it can be signed and match the original signature.

I would like to test, but I'm also getting the empty message.  How do I send the write ByteString to the Accu

[2021-02-25 10:56] ignasi35 commented on #10713
Raised https://github.com/playframework/interplay/issues/150

[2021-02-25 11:36] mkurz opened #10720 "[2.8.x] Calling setScalaVersionFromSbtVersion in test-scripted is totally useless"
In the 2.8.x branch we run scripted tests against sbt 0.13.x and 1.2.x:

https://github.com/playframework/playframework/blob/417fe4c436cd206e90a451daaaccaa297482f719/.travis.yml#L72-L73

https://github.com/playframework/playframework/blob/417fe4c436cd206e90a451daaaccaa297482f719/.travis.yml#L84-L85

`test-scripted` calls `setScalaVersionFromSbtVersion`:

https://github.com/playframework/playframew

[2021-02-25 18:34] mcintyre94 commented on #10486
@mkurz Do you have any update on when Lightbend might release this? Doesn't look like there's a 2.8.8 yet

[2021-02-25 19:15] mkurz commented on #10486
@mcintyre94 Sorry not update yet. Stay tuned.

[2021-02-26 07:54] mkurz commented on #10197
This will be fixed by #10724 - Guice 5 supports Java class files for Java 17 already!

[2021-02-26 07:57] mkurz commented on #9171
This will get fixed by #10724 - Guice 5 supports class file versions for Java 17 already.

The origin of the error in this issue here is Guice (or better the ASM version Guice is using):
[code]

[2021-02-26 07:57] #9171 closed

[2021-02-26 08:21] mkurz commented on #8347
@eximius313 Do you still experience this problem with latest Play 2.8 / latest play-ws?

The origin of the error is the (shaded) netty version that play-ws pulls in via ahc. Given this bug report here

* is about unsupported Play 2.6.13, which
  * [uses outdated play-ws 1.1.7](https://github.com/playframework/playframework/blob/2.6.13/framework/project/Dependencies.scala#L268)
    * which [uses th

[2021-02-26 08:21] #8347 closed

[2021-02-26 21:08] mkurz commented on #10211
Fix is here #10726

[2021-02-26 21:09] mkurz commented on #8446
Pull request to upgrade to latest jjwt: #10726

[2021-02-27 10:03] mkurz commented on #8114
@gaurang-sawhney is correct, this has been fixed, for both flash and session cookies, by #8832, which was even backported to 2.7.x: https://github.com/playframework/playframework/pull/8832/files#diff-66b1571391b621b37b6768a9ccc7f8aaae8c1a120a5330f1ebe26ffb944fd0d8R51

[2021-02-27 10:03] #8114 closed

[2021-02-27 10:30] mkurz commented on #10478
PR with fix: #10729

[2021-02-27 19:54] Captain1653 commented on #6358
It's really old issue and I'm not sure... If it is steel needed some link https://www.playframework.com/documentation/2.8.x/JavaDependencyInjection#Configurable-bindings can be added or new text can be created. (the my like as baseline). My english is not so good, but I can try to do it. Or you can close the issue as too old :)

[2021-03-01 15:55] #8446 closed

[2021-03-01 15:55] #10211 closed

[2021-03-02 01:33] ProChirathF opened #10733 "akka-http waits indefinitely for data after sending '100 Continue' when `Content-Length` header is missing or 0"
When two consecutive request(GET or POST) are made with the header Expect:100-continue set, second request receives no response and a idle timeout occurs, First request is serviced immediately, but the second request is not passed to the controller or responded, blocking the client and any intermediate reverse proxy. Idle timeout setting play.server.http.idleTimeout can be used to control Playtime

[2021-03-02 09:01] mkurz commented on #10733
@ProChirathF Does this happen in prod mode as well?

[2021-03-02 09:12] mkurz commented on #10733
Maybe relevant:
- Tests for 100-continue: https://github.com/playframework/playframework/blob/2.8.7/core/play-integration-test/src/it/scala/play/it/http/Expect100ContinueSpec.scala
- Some special handling from akka-http: https://github.com/playframework/playframework/blob/2.8.7/transport/server/play-akka-http-server/src/main/scala/play/core/server/AkkaHttpServer.scala#L403-L411
- https://github.co

[2021-03-02 09:38] ProChirathF commented on #10733
@mkurz
Issue happens in both prod and dev.

[2021-03-02 11:25] mkurz commented on #10246
Pull request: #10734

[2021-03-02 11:25] mkurz commented on #9941
Pull request: #10734

[2021-03-02 14:37] #10710 closed

[2021-03-02 14:43] #10490 closed

[2021-03-02 15:10] #9941 closed

[2021-03-02 15:10] #10246 closed

[2021-03-02 15:16] #10473 closed

[2021-03-02 15:18] octonato commented on #10675
@mkurz both PRs are merged. Can you take care of release play-ws?

[2021-03-02 15:22] mkurz commented on #10675
@octonato I will try (not sure if for the 2.1.x branch release by tag is enabled)

[2021-03-02 15:30] mkurz commented on #10733
@ProChirathF Can you please provide a small reproducer project with some curl commands? Thanks!

[2021-03-03 03:16] ProChirathF commented on #10733
Sample Project

`https://github.com/playframework/play-samples/tree/2.8.x/play-java-hello-world-tutorial`

Curl call
`curl -i -H "Connection: keep-alive" -H "Expect: 100-continue" -X GET http://localhost:9000 -H "Connection: keep-alive" -H "Expect: 100-continue" -X GET http://localhost:9000`

Testing but more, it looks like any subsequent request after an Expect: 100-continue" request is not respo

[2021-03-04 08:55] mkurz commented on #10709
I will do another play-file-watch release because Greg just released a new directory-watcher version with support for Apples' M1: https://github.com/gmethvin/directory-watcher/compare/v0.14.0...v0.15.0

[2021-03-05 00:27] ProChirathF commented on #10733
@mkurz are there any known workaround for the issue, even if it means app code change?
I tried implementing a custom HttpRequestHandler to strip-off this header, and let the route handle these request as non-expect request, it seems server handles the request at a higher level and custom HttpRequestHandler is ineffective.

https://github.com/playframework/playframework/blob/814f0c73f86eb0e85bcae7f

[2021-03-05 07:53] mkurz commented on #10733
@ProChirathF I have no idea yet what is going on. I hope I find time to look into this issue soon.

[2021-03-05 12:50] SoerenSilkjaer commented on #9402
@gilles-degols @schmitch
Guice 5 has come out, do you think that changes anything regarding running play with guice as native-image?

[2021-03-05 15:18] octonato opened #10742 "Failed: Injected component fails (scripted tests)"
Script tests failed
https://travis-ci.com/github/playframework/playframework/jobs/487998500#L4010-L4015

This is new test introduced in #10711. It was green when merged and there is nothing obviously wrong with it.

[2021-03-05 15:21] octonato commented on #10742
Also here:

https://travis-ci.com/github/playframework/playframework/jobs/488391572#L3280-L3285

Now on another file, but same new scripted tests

[2021-03-05 15:24] mkurz commented on #10742
Nothing to worry about, I will increase the timeout to fix that.

[2021-03-05 15:25] octonato commented on #10742
I guessed it was a timeout issue, but I was wondering why we don't see it in other tests. Isn't the timeouts just the same as in other scripted tests?

[2021-03-05 15:31] mkurz commented on #10742
Which other tests do you mean? I can just talk about the `dev-mode-compile-and-config-error-source` test:
https://github.com/playframework/playframework/blob/2a43f632191e2fbc9b4557f25fe80424f2c9073a/dev-mode/sbt-plugin/src/sbt-test/play-sbt-plugin/dev-mode-compile-and-config-error-source/test#L53-L63
It seems 2 seconds sometimes (but no always) is just too low to give the app time to re-compile.
I

[2021-03-05 15:32] mkurz commented on #10742
I will fix that with one of the upcoming pull requests.

[2021-03-05 16:19] octonato commented on #10742
There are similar tests that test recompilation, no?

[2021-03-05 16:22] mkurz commented on #10742
I added scripted tests

- `dev-mode-compile-and-config-error-source`
- `dev-mode-runtime-error-source`

for both of them I will increase _all_ the timeouts in their `test` file.

[2021-03-08 10:02] cayhorstmann opened #10744 "Error in application.conf causes incomprehensible internal server error"
### Play Version

2.8.7

### Operating System

Linux cay-ThinkPad-X390-Yoga 5.4.0-65-generic #73-Ubuntu SMP Mon Jan 18 17:25:17 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

### JDK

openjdk version "11.0.4" 2019-07-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.4+11)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.4+11, mixed mode)

### Expected Behavior

1. Have a malformed `application.co

[2021-03-09 02:23] RichardMarto commented on #7354
Hi, I just found that [play-iteratees](https://github.com/playframework/play-iteratees) has reached End of Life and this issue is from 2017, help is still needed?

[2021-03-09 19:34] mkurz commented on #10744
Duplicate of #9020. This will be fixed in soon to be released Play 2.8.8

[2021-03-09 19:34] #10744 closed

[2021-03-09 19:39] mkurz commented on #10742
Timeouts will be increased by #10655

[2021-03-10 08:10] patriknw commented on #10742
Not sure if it's the same (I don't know how to find the actual test failures in the Play build), but dev-mode-compile-and-config-error-source failed in https://travis-ci.com/github/playframework/playframework/jobs/489354615

[2021-03-10 08:11] patriknw commented on #10742
and https://travis-ci.com/github/playframework/playframework/jobs/488832070

[2021-03-10 08:14] mkurz commented on #10742
@patriknw It's the same. I am increasing the timouts in #10655 to fix that problem.

[2021-03-10 20:36] mkurz commented on #10350
Closing, see https://github.com/playframework/playframework/pull/10703#pullrequestreview-605755053

[2021-03-10 20:36] #10350 closed

[2021-03-11 00:26] marcospereira commented on #7354
Hey @RichardMarto, you are right and this is not relevant anymore. Thanks for the heads up. :-)

[2021-03-11 00:26] #7354 closed

[2021-03-12 06:00] sharewelldev commented on #10486
👋

[2021-03-12 06:03] sharewelldev commented on #10486
agreed. without proper error handling, using Play is not an option

[2021-03-12 08:36] mcintyre94 commented on #10486
FWIW the workaround in https://github.com/playframework/playframework/issues/10486#issuecomment-763298623 is working fine for my team.

[2021-03-13 13:13] #10742 closed

[2021-03-15 19:02] #10720 closed

[2021-03-15 19:32] mkurz commented on #9896
Play 2.7 is EOL and this is not an issue in Play 2.8

[2021-03-15 19:32] #9896 closed

[2021-03-15 20:06] mkurz commented on #10088
@austinfunraise I am unable to reproduce the issue you described with the [test project you provided](https://github.com/austinfunraise/sample-play-cache-timeout-error), using following steps:

The only difference to your setup: I am using `openjdk version "1.8.0_282"` and Ubuntu 18.04 instead of macOS.

I tried several times, each time everything looks OK:

[code]

[2021-03-15 21:03] sb-yb commented on #2484
It would be nice to document this lack of custome error handler as part of
https://www.playframework.com/documentation/2.8.x/JavaErrorHandling
and
https://www.playframework.com/documentation/2.8.x/ScalaErrorHandling

[2021-03-15 21:17] mkurz commented on #10733
The core problem here is that akka-http incorrectly handles a `0` or missing `Content-Length` header. More details and a fix can be found here: https://github.com/akka/akka-http/pull/3786

I don't think so, however this issue is only a problem if you do not send a body. As long as you send a body and the corresponding `Content-Length` header that is > 0, you should be fine.

[2021-03-15 22:27] ProChirathF commented on #10733
@ mkurz Thank you very much for the for the update.
We are running 2.7.9 in productions, can we please have the fix in next 2.7 milestone 2.7.10 as well?

[2021-03-16 06:30] ProChirathF commented on #10733
I can reproduce the issue for POST even when the content length set correctly, 1st request is serviced, 2nd request hangs

Request 1
[code]
Response 1
[code]

Request 2  - Hangs
[code]

[2021-03-16 10:43] mkurz commented on #10733
@ProChirathF I am pretty sure that is because you send `Expect: 100-continue` and also send the request body immediately (without waiting for the `100 Continue` response). I updated https://github.com/akka/akka-http/pull/3786 to make sure it can handle such a case when data gets send early. But to be honest it does not make much sense that you send `Expect: 100-continue` and send all data already,

[2021-03-16 13:40] mariussoutier commented on #10372
lagomFileWatchService := _root_.play.dev.filewatch.FileWatchService.jdk7(_root_.play.sbt.run.toLoggerProxy(sLog.value))

[2021-03-16 17:10] mkurz commented on #10709
https://github.com/playframework/play-file-watch/releases/tag/1.1.16 is here, I will update soon.

[2021-03-16 17:10] #10709 closed

[2021-03-16 22:27] ProChirathF commented on #10733
Thanks, agree it is a not a valid use of Expect: 100-continue to send the body immediately, however as you mentioned akka-http should handle this.

Regarding the the sample request,  the actual payload is password=a&username=b, I just copied whole request from Postman console which had prettified it.

We'll keep an eye for akka-http 10.1.15

Appreciate all the work and great communication!!

[2021-03-17 20:20] mkurz commented on #10713
Interplay 2.1.6 released.

[2021-03-17 20:20] #10713 closed

[2021-03-17 23:07] mkurz opened #10763 "[2.8.8] Upgrade dependencies before releasing"
Just a reminder.

[2021-03-18 07:54] gokhanoner commented on #10763
@mkurz any timeframe for 2.8.8. release?

[2021-03-19 13:47] mkurz commented on #10705
Done

[2021-03-19 13:47] #10705 closed

[2021-03-19 14:05] mkurz commented on #10675
Done.

[2021-03-19 14:05] #10675 closed

[2021-03-19 15:40] mkurz commented on #10763
@gokhanoner We are close, hopefully next week. You can track: https://github.com/playframework/play-meta/issues/176

[2021-03-20 13:08] mkurz commented on #10763
Done

[2021-03-20 13:08] #10763 closed

[2021-03-21 16:36] strelec commented on #10572
Ok,

if this is the case, then let's stop setting the Last-Modified header on assets - obviously it is not correct and will mess up caching.

This header is AFAIK not mandatory, and we are sending ETag as an alterative.

[2021-03-22 21:45] gabrieljones opened #10778 "PlayMinimalScala?"
I see there is a [PlayMinimalJava](https://github.com/playframework/playframework/blob/eedbc75256d772e9a94e65f1a7c83d4549e0518c/dev-mode/sbt-plugin/src/main/scala/play/sbt/Play.scala#L56) plugin
Can we also have a PlayMinimalScala plugin?

[2021-03-23 05:54] sharewelldev commented on #10486
Thanks. However it is always preferable to not have "magic" workarounds.

Do we have any timeline for release?

[2021-03-23 06:07] mkurz commented on #10486
I am pretty sure the release will happen this week.

[2021-03-23 12:18] #10478 closed

[2021-03-24 07:13] mkurz commented on #10541
@ignasi35 Please correct me if I am wrong, but are we talking about about CVE-2020-28491? If so, that got fixed in Jackson 2.11.4 as well: https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.11.4
So, if we upgrade to Jackson 2.11.4 now, we could also remove our JsonNodeDeserializer? Even from the 2.8.x branch before cutting 2.8.8? Am I correct?

[2021-03-24 08:45] ignasi35 commented on #10541
I'm not sure I follow. Here's what I knew:

 - Jackson 2.11.4 solves `CVE-2020-28491` which is critical for CBOR serialization (which Akka uses and recommends)
 - Jackson only solves `CVE-2020-26883` in the 2.12.x branch so we can't undo the custom `JsonNodeDeserializer` from Play once we upgrade to 2.12.x

We can't upgrade to 2.12.x because that's not compatible with 2.11. We want to stick to usi

[2021-03-24 09:31] mkurz commented on #10541
@ignasi35 Thanks for the explanation, that's why I was asking :smile:

You mean "*once we upgrade to 2.11.x*" or no?

[2021-03-24 10:46] mkurz commented on #10778
What you want is the `PlayWeb` plugin, which is the same like `PlayMinimalJava` _minus_ the Java stuff:
https://github.com/playframework/playframework/blob/2.8.7/dev-mode/sbt-plugin/src/main/scala/play/sbt/Play.scala#L38-L46
So that is basically (or _exactly_) the `PlayMinimalScala` plugin what you are looking for.

If you want even less dependencies you can use the `PlayService` plugin
https://gi

[2021-03-24 14:59] mkurz commented on #7895
@raboof I think we can close this issue, it should be fixed by #8860 or not?

[2021-03-25 00:01] zafarella opened #10784 "Add support for `br` filter/encoder"
### Play Version

Next to 2.8.x release probably?

### API

### Operating System

* agnostic

------------
Adding https://github.com/google/brotli filter/encoder would significantly save on some heavy payload applications. The lib seems stable enough and supported by many browsers already.

[2021-03-25 04:51] gokhanoner opened #10785 "Unnecessary/deprecated hibernate-jpa import"
Play has a dependency to `"org.hibernate.javax.persistence" % "hibernate-jpa-2.1-api" % "1.0.2.Final"`

Hibernate 5.4, current Hibernate version used by play, itself already has a dependency to `"javax.persistence" % "javax.persistence-api" % "2.2"` so I don't believe this import is necessary + documentation of this dependency also mentions same  -> https://github.com/hibernate/hibernate-jpa-api

[2021-03-25 05:23] mkurz commented on #10785
Can you provide a pull request?

[2021-03-25 05:28] mkurz commented on #10784
Play supports brotli when delivering assets already, done in #7198
Here is the relevant config:
https://github.com/playframework/playframework/blob/9150e6f7020f67dfb39a6586e2a7f3d8f4712772/core/play/src/main/resources/reference.conf#L942-L955

[2021-03-25 05:55] gokhanoner commented on #10785
@mkurz PR submitted.

[2021-03-25 09:49] ignasi35 opened #10787 "Bump to Akka 2.6.14 (with Jackson 2.11)"
In https://github.com/playframework/playframework/pull/10781/files#diff-ad2642dc77b3679e4ad2c7d3b2f59a2dcf48c1bf5b93a558a4fa44828315a34cR41-R44 there's a few explicit dependencies that are not necessary (they are just aligning versions to prevent Jackson runtime errors).

Once Akka 2.6.14 is released and bumped in play, those explicit dependencies should be removed.

[2021-03-29 17:38] odwrotnie commented on #10372
It makes no change - I have the exception anyway.

[2021-03-30 02:30] godenji commented on #10778
For stripped down Play API server (no twirl, web, etc.) you can do:
[code]
That pulls in the least number of dependencies (N.B. you'll need to use `src/main/scala` maven style layout).

[2021-03-30 08:24] mariussoutier commented on #10372
I think then it's not active, there should be no JNA exception now.

Anyway, I don't need it anymore with Azul JDK 11.0.10, native version works fine now on M1 / BigSur.

[2021-03-30 14:44] AltiorBahA commented on #10618
Hi. i'm facing the same error with lagom 1.6  when i run the runAll command

[2021-03-30 17:14] kiritsuku opened #10792 "Unhandled error in sbt-plugin"
### Play Version

`addSbtPlugin("com.typesafe.play" % "sbt-plugin" % "2.8.7")`

### Problem

After starting the play server with `sbt run`, the play plugin crashes with the following error:
[code]

My Scala application threw an exception, which should be shown in the error output.

I can try to work on a reproducible test case if this would help fixing the issue.

[2021-03-30 17:30] mkurz commented on #10792
That's because you use sbt 1.4+ (check your `project/build.properties` file). Play 2.8.8, which should be released soon, will finally have support for sbt 1.4/1.5.
For now please just use sbt 1.3.13 until Play 2.8.8 is out.

[2021-03-30 17:30] #10792 closed

[2021-03-31 20:50] octonato commented on #10618
@AltiorBahA, that must be something else.

We mark issues with `failed` label when one of our nightly builds fail. In that specific case, that's probably caused by some race condition in our tests.

That shouldn't be the case when running `runAll` in Lagom.  Try to collect more information and post in [our user forum](https://discuss.lightbend.com/c/lagom/9). That must be some misconfiguration.

[2021-04-01 10:11] ecagiral commented on #8387
Do you know any workaround for this issue? I guess using a custom HttpExecutionContext is not possible since it is hard coded as execution context in play.core.j.JavaAction.scala

[2021-04-06 09:08] mkurz commented on #10784
@zafarella I am closing this issue. If you think we are missing something, please let us know.

[2021-04-06 09:10] mkurz commented on #10778
I think there is nothing more to add. Let's close this.

[2021-04-06 09:10] #10778 closed

[2021-04-06 09:12] mkurz commented on #10778
I think there is nothing more to add, let's close this issue.

[2021-04-06 09:12] mkurz commented on #10778
I think there is nothing more to add, let's close this issue.

[2021-04-07 01:24] #10122 closed

[2021-04-08 08:54] matthewmascord commented on #8971
Has this issue been fixed in Play 2.7 and above?

[2021-04-08 10:30] ignasi35 opened #10809 "Sbt warning since using sbt 1.5"
sbt 1.5 has deprecated some old syntax. When bumping the sbt version to 1.5 a handful of syntax warning started appearing.

It'd be good to do a bit of a cleanup.

[2021-04-08 13:35] mkurz commented on #10787
Done!

[2021-04-08 13:35] #10787 closed

[2021-04-09 07:25] sharewelldev commented on #10486
Just a friendly ping. Do we have a release date for this bug fix?

[2021-04-09 07:27] WayneWang12 commented on #10486
seems Play 2.8.8 fixes the issue. It was realeased yesterday. I've already updated it.

[2021-04-09 07:29] sharewelldev commented on #10486
Thank you

[2021-04-09 07:35] sharewelldev commented on #10486
In Play 2.8.8 I get this error when building, that I didn't have before. Did something change about Play's dependencies?

com.fasterxml.jackson.databind.JsonMappingException: Scala module 2.11.4 requires Jackson Databind version >= 2.11.0 and < 2.12.0

[2021-04-09 07:51] sharewelldev commented on #10486
I noticed a bug in Play 2.8.8 right away, related to this issue #10486: When there is an exception in the code, in debug mode the browser displays "Execution exception" with the Scala code where the exception occurred, not the Java code. I'm running Java in Play. Before, in Play 2.7.9, it showed the Java code in the Execution exception.

That means this issue never really got fixed.

[2021-04-09 08:23] mkurz commented on #10486
@sharewelldev Play 2.8.8 upgraded to jackson 2.11.4 (from 2.10.x in Play 2.8.7):
https://github.com/playframework/playframework/blob/2.8.8/project/Dependencies.scala#L39-L48
That is also mentioned in the release notes:
https://github.com/playframework/playframework/releases/tag/2.8.8

Does you project depend explicit on a specific Jackson version? Did you run `sbt clean` before compiling?

[2021-04-09 08:59] Baztoune commented on #10486
Hi guys, the 2.8.8 release fixed the issue for me, thanks ! I also encountered the Jackson exception myself after upgrading, but that's not linked to this original issue. The cause on my project was a version conflict due to a transitive dependency to jackson (coming from [sendgrid-java](https://github.com/sendgrid/sendgrid-java/releases/tag/4.7.2)). You might have to identify a similar version co

[2021-04-09 09:40] mkurz commented on #10373
@jtjeferreira Play 2.8.8 is released with support for sbt 1.4.9 and sbt 1.5.0. I just tried again with your reproducer project and I could not reproduce anymore with these two sbt versions (but I _could_ reproduce with sbt 1.3.13).
So IMHO the solution is to upgrade to sbt 1.4.9/1.5 (and Play 2.8.8)
Can you confirm? Can we close this issue?

[2021-04-09 14:33] almothafar commented on #10486
With 2.8.8 and sbt 1.5.0 I get

[code]

What is this about?

[2021-04-09 14:38] mkurz commented on #10486
@almothafar That is because you are using [play-enhancer](https://github.com/playframework/play-enhancer) which, as you can see in its README, has reached end of life and wont receive updates anymore. As a consequence it is not compatible with sbt 1.4+ anymore. So what you need to do is remove play-enhancer from your project(s). Which means, you need to write the setters/getters yourself, or gener

[2021-04-09 14:40] almothafar commented on #10486
@mkurz  already did that, I mean doing setters and getters, I'll try to play around that, thank you.

[2021-04-09 15:44] ignasi35 commented on #10373
Great news, @mkurz.

It may be good to add this issue to the `2.8.8` milestone and release notes to increase its visibility.

[2021-04-09 15:52] jtjeferreira commented on #10373
Lets close. Thanks for all your efforts with 2.8.8.

[2021-04-09 15:52] #10373 closed

[2021-04-09 16:10] mkurz commented on #10373
@ignasi35 Added to the release notes:
![image](https://user-images.githubusercontent.com/644927/114209358-d2f24380-995e-11eb-8b08-1d72753ffefb.png)

[2021-04-10 05:41] mkurz commented on #10055
Fixed by #10814
I tested with the reproducer project and can confirm it is working now.

[2021-04-10 05:41] #10055 closed

[2021-04-11 11:09] PromanSEW opened #10816 "[Feature] Add support for OptionalInt, OptionalLong and OptionalDouble in routes"
Please add binders for Java `OptionalInt`, `OptionalLong` and `OptionalDouble` in addition to `Optional`

[2021-04-11 12:45] PromanSEW commented on #10816
I try to implement myself in my project, but Play does not recognize them :(
https://gist.github.com/PromanSEW/84b929a0672fa132ae71078f1848d6ff
How to make them working?

[2021-04-12 07:49] mkurz commented on #10816
@PromanSEW You need to add your implicit binders to the routes import in `build.sbt`:
[code]
A pull request is welcome of course.

[2021-04-12 09:36] mkurz commented on #9799
Closing, this was fixed in akka long time ago already.

[2021-04-15 08:47] mkurz opened #10827 "Add SameParty cookie attribute (?)"
If we add it, we should do it with the 2.9 release, because MiMA will complain, so we can't really add it afterwards.
See https://www.chromestatus.com/feature/5280634094223360

[2021-04-20 08:00] #10816 closed

[2021-04-20 11:31] mkurz commented on #4715
@landlockedsurfer I can reproduce as well.

The output of
[code]

tells us that `./play-default-layout-example/core/src/main/twirl` was only added to the core project, but not the app project, unlike `./play-default-layout-example/core/src/main/scala`, which gets added to both.

Not sure, but I think the `core/src/main/scala` gets added to both projects in https://github.com/playframework/playfram

[2021-04-20 11:35] mkurz opened #10831 "Not detecting changes in twirl files in sub-project (when PlayLayoutPlugin is disabled)"
See https://github.com/playframework/playframework/issues/4715#issuecomment-690277992

[2021-04-20 11:35] mkurz commented on #4715
Opened #10831 instead

[2021-04-20 11:35] #4715 closed

[2021-04-20 12:12] #10687 closed

[2021-04-20 21:06] mkurz commented on #10590
Another report: https://discuss.lightbend.com/t/unfathomable-notenoughdataexception/7556

[2021-04-23 06:47] schnoddelbotz opened #10832 "Evolutions broken for SQLite"
Evolutions currently contain SQL incompatible with SQLite:
https://github.com/playframework/playframework/blob/master/persistence/play-jdbc-evolutions/src/main/scala/play/api/db/evolutions/ApplicationEvolutions.scala#L172
See:
https://stackoverflow.com/questions/3789172/sqlite-select-for-update-wait-10-compatibility

[2021-04-23 08:52] mkurz commented on #10832
The SQL in the line you are referring to only will only be executed if you set `useLocks` to `true` in application.conf (by default it is `false`). The documentation about `useLocks` [says](https://www.playframework.com/documentation/2.8.x/Evolutions#Evolutions-configuration):

So I don't think there is anything wrong. When using SQLite, just don't use `useLocks`. That means if you have multiple p

[2021-04-23 09:23] schnoddelbotz commented on #10832
Sorry for eratically assuming a bug here :( -- but thanks a lot for your quick, awesome help!
There's only one instance in my case, so restoring the default of `useLocks=false` should work just fine.
I'm using a pre-built app that allows me to control JDBC URL via environment variables -- but (up to now) 'statically' enables `useLocks=true`.
Thanks!

[2021-04-23 09:23] #10832 closed

[2021-04-26 16:12] wsargent commented on #10687
Please see the streaming, chatroom and websocket examples in https://github.com/playframework/play-samples.

[2021-04-28 02:52] jilen opened #10834 "Make `ApplicationLoader.load` asynchronously."
If `load` involve some blocking,  underlying thread might be parked, and if all other threads in default pool waiting for loading app at same time. Then the loading thread will  be parked forever and app will never get started.

[code]

Another possible  fix is loading app in an isolated pool other than the app pool.

[2021-04-29 17:11] seglo opened #10837 "Failure: playframework cron build cron-test-sbt-1.3.x, can't find snapshots"
The `cron-test-sbt-1.3.x` in the cron builds on master seem reliably broken.

https://travis-ci.com/github/playframework/playframework/jobs/501590146

[2021-04-30 01:18] #10834 closed

[2021-04-30 06:08] mkurz commented on #10837
The problem was a java file [which was not properly formatted](https://github.com/playframework/playframework/pull/10811/files#r621993355). That got fixed in #10836 yesterday _after_ the cron build started.
If you look in the failed job, you will see sbt tries to retrieve artifacts with the version `2.8.1+1141-92828167-akka-2.6.14+11-571aa85a-akka-http-10.2.4+14-adf4278c`. In the [publish job](htt

[2021-04-30 08:43] larousso opened #10838 "play 2.8.8 : JDK 16 class play.utils.Resources$ cannot access class sun.net.www.protocol.file.FileURLConnection"
Running play with the jdk 16 crash when request hit an enpoint using assets with the following error :

[code]

[2021-04-30 08:51] mkurz commented on #10838
Play 2.8 supports "only" Java 8 and Java 11.
However,  I am working to make (not released) Play 2.9 support Java 17.
BTW: The problem that occured to you already got fixed in #10731

[2021-04-30 08:51] #10838 closed

[2021-05-06 23:13] jmodrako commented on #9983
Any news how to get `~run` to run?

This is exactly my problem: https://github.com/playframework/playframework/issues/9983#issuecomment-574801920

[2021-05-11 15:45] mkurz commented on #6183
@gmethvin

I had a look at this and to be honest I don't know why there even is a fallback. I mean does that even make sense? [The docs say](https://www.playframework.com/documentation/2.8.x/JavaAkka#Changing-configuration-prefix):

So clearly if I set `play.akka.config = "my-akka"` I do not want to use the settings from `akka.*`, which I want to use for a completly different actor system, so why

[2021-05-14 09:25] patriknw commented on #10583
Many build failures of nightly-deploy-master and nightly-deploy-2.8.x this week.

[2021-05-14 09:44] mkurz commented on #10583
@patriknw What was the error?

[2021-05-14 10:22] mkurz commented on #10402
As said, this was fixed by #10467

[2021-05-14 10:22] #10402 closed

[2021-05-14 10:30] mkurz commented on #10034
I think this can be closed. A couple of fixes regarding the akka versions have been commited after this issue was raised: #10341 and #10083.
Also the scripted tests run stable since a while now.

[2021-05-14 10:30] #10034 closed

[2021-05-14 10:31] mkurz commented on #10108
I am pretty this will be fixed by #10855

[2021-05-14 10:31] mkurz commented on #10108
Sorry, closed to early...

[2021-05-14 10:34] mkurz commented on #10244
Looks like fixed by #10263 or #10341. If not it will be fixed by #10855

[2021-05-14 10:35] mkurz commented on #10300
I am pretty sure I finally found out what's going on, please see #10855 for a fix.

[2021-05-14 11:41] patriknw commented on #10583
I see now that there might be different errors for 2.8 and master. Sorry if I pinged wrong ticket.

**nightly-deploy-2.8.x**
[code]

**nightly-deploy-master**
[code]

[2021-05-14 13:43] mkurz commented on #10583
@patriknw Looking at
[code]

[2021-05-14 13:43] mkurz commented on #10583
@patriknw About the 2.8.x nightly I am not sure what's going on, but it looks like the docs get generated with Java 11?

[2021-05-17 20:55] mkurz commented on #10583
@patriknw It seems the nightly snapshots are still broken for the master branch, latest is `2.8.1+1148-091b4871-SNAPSHOT` from May 2nd: https://oss.sonatype.org/content/repositories/snapshots/com/typesafe/play/sbt-plugin_2.12_1.0/
Can you please post the latest log?

[2021-05-19 09:09] mkubala opened #10862 "Security vulnerability among indirect dependencies"
One of the indirect play-test 2.8.8 dependencies, `jetty-io` has a major security issue (see https://snyk.io/vuln/SNYK-JAVA-ORGECLIPSEJETTY-1090340).

Here's the full dependency path:
`com.typesafe.play:play-test_2.12@2.8.8 > org.seleniumhq.selenium:htmlunit-driver@2.36.0 > net.sourceforge.htmlunit:htmlunit@2.36.0 > org.eclipse.jetty.websocket:websocket-client@9.4.20.v20190813 > org.eclipse.jetty:

[2021-05-19 09:15] mkurz commented on #10862
Thanks! IMHO this isn't really urgent since only the play-test project is effected, so production apps should not be effected.

[2021-05-19 09:29] mkurz commented on #10676
Todays master cron job [failed again](https://travis-ci.com/github/playframework/playframework/jobs/506279272#L1904):
[code]

[2021-05-19 12:32] mkurz commented on #10676
Even tough the heapdump gets stored on disk, we can't just simpy download that file. We would need to use somethink like https://github.com/travis-ci/artifacts

[2021-05-19 15:03] TheAntimist opened #10863 "Enabling Compression to Websocket"
### Play Version

2.8.8

### API

Java

### Operating System

Windows and Linux

### JDK

[code]

### Actual Behavior

I am currently implementing a websocket server in Play. As part of doing that I noted that the server does not support the `permessage-deflate` Websocket Extension.

Netty had added this as part of their [4.1 release](https://github.com/netty/netty/commit/282d6e73b82ec943a739201f7

[2021-05-19 18:05] eed3si9n opened #10864 "sbt --client causes "java.io.IOException: Stream Closed" error"
This was originally reported as https://github.com/sbt/sbt/issues/6515 by @dkovalenko

### Play Version

sbt version: 1.5.2
Play framework version: 2.7.9

### API

### Operating System

### JDK

### Library Dependencies

### Expected Behavior

1. Take a play project
2. Have sbt server running
3. Try to `run` in `--client` mode: `sbt --client app/run`
4. The app should run

### Actual Behavior

[co

[2021-05-20 10:55] AlbertC15 opened #10866 "Java error executing hello world first example in play framework v2.8"
Hi all,

Thanks for your time. I'm trying to execute the first example "Hello World" in Windows 10. I've installed JDK16 and I've downloaded the play repository with the following command:

sbt new playframework/play-java-seed.g8

And named with "hello".

### Play Version

project/plugins.sbt
[code]

### API

Project is intended to use Java.

### Operating System

Windows 10.

### JDK

[code]

###

[2021-05-20 11:01] mkurz commented on #10866
Play 2.8 supports only Java 8 and Java 11. Java 12+ will cause problems.

[2021-05-20 11:54] #10866 closed

[2021-05-21 09:07] giannoug opened #10867 "java.lang.UnsatisfiedLinkError on Apple M1 with Play 2.8.8"
### Play Version

[code]

### API

[code]

### Operating System

[code]

### JDK

[code]

### Library Dependencies

None at all, project is freshly scaffolded with `sbt new playframework/play-scala-seed.g8`

### Expected Behavior

1. Bootstrap new Play application on an Apple M1 machine
2. After finishing, start the application
3. The application should start and be accessible on localhost:9000 an

[2021-05-25 15:22] Captain1653 opened #10873 "Injection parameters to methods of controllers"
Maybe it relates to #2983 and #10355 (in some way). We use multi-tenant data isolation. Our main entity is AcHost. We need to transfer it in many controllers without copy/paste. We use  [action composition](https://www.playframework.com/documentation/2.8.x/JavaActionsComposition#Composing-actions) .
### Our current solution works like that:
1) Our Action (play.mvc.Action) put some params to reques

[2021-05-25 16:07] mkurz commented on #10300
Should be fixed by #10855

[2021-05-25 16:07] #10244 closed

[2021-05-25 16:08] #10108 closed

[2021-05-26 08:07] KrzysiekAgi opened #10876 "Parsing error in CSP reports"
When trying to publish a CSP report in Play, parsing from an actual browser generated report to `ScalaCSPReport` fails.
Play's `ScalaCSPReport` expects most parameters to be `Option[String]` inlcuding `lineNumber` and `columnNumber`. While [w3.org specification](https://www.w3.org/TR/CSP2/#violation-reports) doesn't suggest any type, one would expect these to be numbers. They are also generated as

[2021-05-26 08:39] mkurz commented on #10676
Once more. Like the above reports, the scripted test `play-sbt-plugin / dev-mode` runs out of memory... (but not every day, just every now and then...)
https://travis-ci.com/github/playframework/playframework/jobs/507767891#L1579

[code]

[2021-05-26 09:00] mkurz commented on #10876
Thanks for the report @KrzysiekAgi

It seems `lineNumber` and `columnNumber` weren't tested in [`JavaCSPReportSpec`](https://github.com/playframework/playframework/blob/master/web/play-filters-helpers/src/test/scala/play/filters/csp/JavaCSPReportSpec.scala) and [`ScalaCSPReportSpec`](https://github.com/playframework/playframework/blob/master/web/play-filters-helpers/src/test/scala/play/filters/csp

[2021-05-26 09:26] mkurz commented on #10676
I will increase the metaspace size to 512m again, like it was before: #10877

[2021-05-27 05:46] KrzysiekAgi commented on #10876
Sure, I'll do that.

[2021-05-27 19:30] Pro100AlexHell commented on #8277
Quote from play doc

Explain please: why do we need to "ensure background threads have been stopped" when we terminate jvm? I mean: when JVM terminates, then all of threads and pools (include logback's thread pool) will terminate automatically WITHOUT DelayingShutdownHook, is't it? Note: I dont wart to wait for compression of logs.. is it safe to NOT add DelayingShutdownHook in this case? i.e. Del

[2021-05-27 19:35] Pro100AlexHell commented on #8277
Async queue have some events, which is not written to log yet, and what is the bad thing - when we terminate jvm? Does this hook will wait until all events to write to log file? Imho it's not nececcary to wait. Then, I dont understand the reason of this hook and the case of when it's usable.

[2021-05-27 21:15] wsargent commented on #10876
At the time that CSP reports were generated, there were multiple conflicting implementations (some of which is detailed in the docs).  If this is cleaned up now and they have standardized on numbers it makes sense that the parsing should be changed, although by its nature this PR will break any reporting that relies on the line number being a string.

[2021-05-27 21:32] mrubinwch commented on #8277
I think it's important (for potential troubleshooting needs, etc.) to have all the log entries the application may have produced written out and not lost due to some buffering/queueing. I think, by default, the application should behave "correctly" and not lose data.

[2021-05-28 08:48] KrzysiekAgi commented on #10876
Yes, it may lead to breaking such implementation. I can't however think of any reason (which doesn't mean it cannot exist, of course) why one would expect a `String` there. In most browsers (I haven't tested Opera and Safari) these fields are numbers, so one would have to manually cast the report and not use `cspReportAction`.

What do you suggest then @wsargent? Reject this PR, accept it, some in

[2021-05-28 15:27] wsargent commented on #10876
At the time the code was written, there were four different implementations of CSP reports: “Blink”, “Firefox”, “Webkit”, and “Old Webkit”.

https://www.tollmanz.com/content-security-policy-report-samples/

If things have settled down to the point where there's only one, then I think breaking it and standardizing is fine.

[2021-05-29 12:31] mverbist opened #10881 "implicit defaultFormBinding not found after migrating from Play 2.8.5 to 2.8.6"
### Play Version

2.8.6

### API

Scala 2.13.4

### Operating System
[code]

### JDK

[code]

### Library Dependencies

### Expected Behavior

1. expect to find the `implicit val defaultFormBinding` from `BaseControllerHelpers` in statement `myForm.bindFromRequest()(request)`

### Actual Behavior

1. not enough arguments for method bindFromRequest: (implicit request: play.api.mvc.Request[_], formB

[2021-05-31 08:43] mkurz commented on #10881
Does that happen with latest 2.8.8 as well?

[2021-05-31 12:43] ianknowles opened #10882 "Play Configuration fails to pick up secret key from env varaiable (Ubuntu)"
Scala Play 2.8.8, Ubuntu LTS 20.04

In `/etc/environment` I have set an environment variable `APPLICATION_SECRET` storing the play secret. Passing `-Dplay.http.secret.key=APPLICATION_SECRET` as a launch option allows play to start in production mode. My current deployment is using the native packager to set this launch option and starts the server as a service with its own service user, confirming

[2021-05-31 13:18] ianknowles commented on #10882
Its not particularly easy to set environment variables in AWS on launch, typically you'd supply a bash script which undermines the supposed ease of use in storing secrets in them. Rather than trying to get play working with every flavour of environment variable it might be better to add a configuration option that lets the key exist in a standalone file in the conf directory that can properly be c

[2021-05-31 14:52] mverbist commented on #10881
I wasn't able to try with 2.8.8, because there I had other issues
But I'll give it an other try. And see if I can fix those other issues, if this issue still persists.
I will keep you posted.

[2021-05-31 15:32] msm opened #10883 "Play fails to run on homebrew-supplied JDK 17ea for M1 Apple Silicon due to JEP 403: 'Strongly Encapsulate JDK Internals' illegal access to internal JDK classes"
### Play Version

2.8.8, although this will be an issue for all previous versions too.

### API

scala, although this will be an issue on the java flavor as well.

### Operating System

This will be a problem across all operating systems.

### JDK

openjdk version "17" 2021-09-14
OpenJDK Runtime Environment Homebrew (build 17+0)
OpenJDK 64-Bit Server VM Homebrew (build 17+0, mixed mode)

### Libra

[2021-05-31 15:40] mkurz commented on #10883
This error was fixed already: https://github.com/playframework/playframework/pull/10731/files#diff-25b6212057b12034d5f7ef976fda2e58d6e67aaeeeff5a5fcaf24732dc03fe75

I am working on Java 17 support here #10819 already, using the latest available AdoptOpenJDK binary build for Java 17 ea.
It looks very promising so far, Play compiles and builds with Java 17, all tests, it tests and scripted tests pas

[2021-05-31 15:40] #10883 closed

[2021-05-31 18:14] msm commented on #10883
@mkurz apologies for not seeing #10819 already. Glad to hear its being worked on!

[2021-05-31 19:30] mverbist commented on #10881
I tried it with Play 2.8.8, same issue occurs

[2021-05-31 21:37] alexmnyc commented on #9986
@octonato  does this automatically clean up user actors on websocket connections closed? https://github.com/playframework/play-samples/tree/2.8.x/play-scala-websocket-example/app/actors

[2021-06-01 07:31] KrzysiekAgi commented on #10876
I am working on the documentation adjustment, but in the meantime, together with my colleague, we came up with possible solution that can read either string or a number. This would add some boilerplate code perhaps, but wouldn't cause any breaking change. I've put a sample in the [gist](https://gist.github.com/KrzysiekAgi/3e148a30191ebbb8e1299db1d17abee9).
Which solution do you think would be best

[2021-06-01 08:09] octonato commented on #9986
@alexmnyc, it should.

If you find out that it is not, please report it on an issue in https://github.com/playframework/play-samples

[2021-06-02 13:44] mkurz commented on #10876
If you can open a pull request with the approach that handles both long and string, I think that would be the best solution.

[2021-06-02 15:00] tsuyoshizawa commented on #10881
This commit has broken compatibility.
https://github.com/playframework/playframework/commit/f453ddabb196966c74e743d27cc5765716f6e73f

It has been released in 2.8.6.

My project also had a compile error after upgrade the version.
I modified the project code to fix the compilation error.

I think that compatibility should have been maintained.

[2021-06-02 15:39] bursauxa opened #10886 "An illegal reflective access operation has occurred"
### Play Version

2.8.8

### API

Scala

### JDK

Java 11

### Expected Behavior

Running a basic Play project should not issue any warning

### Actual Behavior

The following warning is produced at start:

[code]

### Additional information

This warning starts with Java 9, it was not present in Java 8. The root cause is an issue in Guice (https://github.com/google/guice/issues/1133) that is fixe

[2021-06-02 15:47] mkurz commented on #10886
This got fixed in the master branch already. You have to wait for Play 2.9.

[2021-06-02 15:47] #10886 closed

[2021-06-02 15:49] bursauxa commented on #10886
Thanks @mkurz, I will be waiting then :tada:

[2021-06-04 18:54] SJern commented on #9972
Is there any way for me to stick with 2.8.0 and being able to specify an alternate config file?
2.8.1 would force me to jump to 2.6.3 - https://github.com/playframework/playframework/milestone/101?closed=1
but the Akka migration guide also states that
`Due to the changed serialization of the Cluster messages in Akka 2.6.2 a rolling update from 2.5.x must first be made to Akka 2.6.2 and then a seco

[2021-06-04 21:09] mkurz opened #10887 "Add onLoadMessage"
See
* https://github.com/sbt/sbt/blob/develop/build.sbt#L178-L192
* https://github.com/akka/alpakka/blob/master/build.sbt#L56-L72
* https://github.com/scalacenter/sbt-scalafix/blob/main/build.sbt#L10
* https://github.com/scalacenter/scalafix/blob/main/build.sbt#L6

[2021-06-07 12:58] ProChirathF commented on #6246
Is there any workaround/pattern using ActorFlow with streaming data. I have tried Source.conflate to detect backpressure and to accumulate the output and also Source.actorRefWithAck to backpressure the WebSocket handler actor to no avail..

` ActorFlow.actorRef(MyWebSocketActor::props, actorSystem, materializer).conflate((a, b) -> a+b)
`

Is the recommendation of the framework to switch to streams

[2021-06-08 09:12] atropo commented on #3861
Is this solved in Play 2.8 release?

I cannot make it work using the setting in `application.conf`.

[2021-06-08 15:50] gaeljw opened #10892 "Too large evolution script failing not reported"
### Play Version

2.8.8

### API

Scala

### Operating System

Linux

### JDK

Openjdk 11.0.11 2021-04-20

### Library Dependencies

mariadb-java-client 2.7.3 (but doesn't seem related to mariadb or the driver)

### Expected Behavior

Given an evolution which is too big (more than what is accepted in the `apply_script` column in `play_evolutions` table)
I expect to have:
- an error in the logs abo

[2021-06-09 05:37] mkurz commented on #6643
IMHO its time Play finally ships with Junit 5 out of the box now that even sbt-jupiter-interface was transfered to the sbt organization: https://github.com/sbt/sbt-jupiter-interface/issues/46 (original was https://github.com/maichler/sbt-jupiter-interface)

[2021-06-09 05:38] mkurz commented on #5546
Also seee #5546, let's see if we can upgrade to JUnit 5 soon...

[2021-06-09 09:52] mkurz opened #10893 "Add support for Guice's Scopes.NO_SCOPE"
Besides the singleton Scope (which of course is not Guice specific) Guice also offers a [`NO_SCOPE` scope](https://google.github.io/guice/api-docs/5.0.1/javadoc/com/google/inject/Scopes.html#NO_SCOPE):

So if you have an annotated class like

[code]
and you want to remove the singleton scope from it, in Guice you can `bind(...)...in(Scopes.NO_SCOPE)`. That probably makes most sense if you are work

[2021-06-09 15:06] SunPj opened #10894 "Execution exception[[AnormException: 'permalink_changed_at' not found, available columns: namespaces.permalink_changed_at, permalink_changed_at]]""
### Play Version
2.8.7

### API

Project is using Scala

### Operating System

Linux archlinux 5.11.15-arch1-2

### JDK

openjdk version "15.0.2" 2021-01-19
OpenJDK Runtime Environment (build 15.0.2+7)
OpenJDK 64-Bit Server VM (build 15.0.2+7, mixed mode)

### Library Dependencies

"org.postgresql" % "postgresql" % "42.2.18",
"org.playframework.anorm" %% "anorm" % "2.6.8"

### Expected Behavior

I

[2021-06-14 14:28] mkurz commented on #8177
`routeAndCall` should just be used when using the routing DSL. Otherwise just use the `route(...)` method. I will remove the outdated `routeAndCall` methods: #10907

[2021-06-16 07:08] mkurz commented on #8177
Fixed by #10907

[2021-06-16 07:08] #8177 closed

[2021-06-16 07:26] mkurz commented on #10894
Moving issue to the anorm repo...

[2021-06-17 00:29] vsabella opened #10911 "No way to rotate play application secret"
There is no official way in Play Framework to rotate or support multiple application secrets. This is a problem as this secret is used for many things (like cookies) and is difficult to change without end-user impact.

[2021-06-17 08:29] dspasojevic commented on #6672
We were pinged no this issue in a security audit because they view this as an implementation detail leaking to the consumer.

Does anyone know if there a better way of suppressing these particular pieces of information copy-pastaing or regexing it out?

[2021-06-18 00:55] wsargent commented on #10911
The application secret is there for the cookie baker.  You can swap out the cookie baker with your own implementation.

See https://github.com/playframework/playframework/blob/2.8.x/core/play/src/main/scala/play/api/mvc/Cookie.scala#L827

Also check out https://github.com/playframework/play-samples/tree/2.8.x/play-scala-secure-session-example and https://blog.nvisium.com/play-2-6-security-analysis

[2021-06-19 12:49] jguthriedodax opened #10912 "Result.charset() is not set when using json"
From what I can tell, the Result.charset() optional is blank when querying a json Result.

When the content-type is set to `application/plain`, then the charset is set as utf-8, but when its `application/json`, its empty.

### Play Version

### API

### Operating System

### JDK

### Library Dependencies

### Expected Behavior

1. `Result res = Results.ok(Json.toJson("[\"test\": 3]"))`
Expect `res

[2021-06-22 04:56] ProChirathF commented on #6246
I have implemented a Flow that acknowledges to user Websocket actor with WSAck once a message is emitted downstream, handling backpressure. User actor can use WSAck to implement a throttling mechanism. Below Java implementation is for Play2.7/Akka2.5, Play2.8/Akka2.6 should use Source.actorRefWithBackpressure .

[code]

[2021-06-22 11:07] rtyley commented on #10882
Just to offer an alternative, if you're on AWS you may want to consider `play-secret-rotation` as an alternative to putting secrets in production config:

https://github.com/guardian/play-secret-rotation/blob/master/aws-parameterstore/README.md

[2021-06-23 23:45] dspasojevic commented on #6672
For future readers, our solution (as per @francisdb's suggestion) ended up looking like:

[code]

This has all the future maintenance problems that you'd expect, but seemed less bad that other solutions (pre-parsing the possible JSON input, regexing the value out of the location information in an error handler, etc).

[2021-06-24 06:24] 5tefan commented on #10838
For macOS users w/ brew:

[code]

seems to make brew installed sbt and scala use java11.

[2021-06-30 05:50] gmethvin commented on #10912
`charset()` is referring to the `charset` parameter in the `Content-Type`. When Play sends a JSON response, it sets `Content-Type: application/json`, with no `charset` parameter, because the `charset` parameter has no meaning for the `application/json` content type. When Play sends a JSON response it is always encoded as UTF-8, as required by RFC8259.

[2021-06-30 05:50] #10912 closed

[2021-06-30 12:54] JFCote opened #10913 "Running the application using `runProd` ignore configuration file"
### Play Version

Latest at the moment or writing this: 2.8.8

### API

Java

### Operating System

Windows 10

### JDK

[code]

### Expected Behavior

1. In the command line, I run this: `sbt -Dconfig.file=conf\my.conf runProd`
2. The application starts in prod mode using the values in my provided configuration file (database, variables, etc..)

### Actual Behavior

1. In the command line, I run

[2021-07-03 09:09] sathyarr opened #10915 "Unicode text passed to TolerantText BodyParser truncates the actual text input"
### Play Version

2.8.0

### API

Scala

### Operating System

Windows 10

### JDK

java version "1.8.0_281"
Java(TM) SE Runtime Environment (build 1.8.0_281-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.281-b09, mixed mode)

### Expected Behavior

The Inputs to my server can be a Unicode Text.
The Default Body Parser does not help me as it always uses US-ASCII.

So, I thought of using Tolerant

[2021-07-03 09:23] sathyarr commented on #10915
Seems to be fixed in Version **2.8.8**

Would like to know if the approach taken to  preserve the  Unicode characters is right?

[2021-07-06 16:47] ianknowles opened #10917 "IntelliJ run configuration immediately terminates the server"
Play Version **2.8.8**
API **Scala**
Operating System **Win10**
JDK **11**
IntelliJ IDEA 2021.1.2 (Ultimate Edition)
Build #IU-211.7442.40
org.intellij.scala (2021.1.21)

### Expected Behavior

1. Follow the instructions at https://www.playframework.com/documentation/2.8.x/IDE#IntelliJ-IDEA to setup a run configuration that starts the run task in the sbt shell
2. The play app should run and wait f

[2021-07-07 07:52] timlee0119 commented on #9249
@martinb3 Hi, I have an exact same problem, I'm sending HTTP request to other API and even if I set `akka.http.parsing.max-content-length: infinite`, `akka.http.server.parsing.max-content-length: infinite`, `akka.http.client.parsing.max-content-length: infinite`, I still got this error:
[code]
Can you tell me what timeout property did you set? Thank you so much

[2021-07-12 08:23] mkurz commented on #9249
@timlee0119 which version of Play are you using?
For 2.7.x try [this config](https://github.com/playframework/playframework/blob/2.7.9/transport/server/play-akka-http-server/src/main/resources/reference.conf#L53):
[code]
For 2.8.x try [this config](https://github.com/playframework/playframework/blob/2.8.8/transport/server/play-server/src/main/resources/reference.conf#L120):
[code]

[2021-07-12 10:17] mkurz commented on #9972
@SJern Your comment is not related to this issue.
Anyway, I don't think its possible to stick with akka 2.5.x when using Play 2.8.x because I guess from akka 2.5.x to 2.6.x there were api changes which Play makes use of.

[2021-07-12 10:37] mkurz commented on #10915
@sathyarr So can you confirm your problem is fixed in 2.8.8?

What do you mean?

[2021-07-12 10:40] mkurz commented on #10892
Which database are you using? It seems like it has to be mysql, because that is the only db which which uses `mediumtext` with a limit of 16mb for the `apply_script` column. [All others use text for clob](https://github.com/playframework/playframework/blob/2464d6bc32795fe93e24ac03428483566ce803f8/persistence/play-jdbc-evolutions/src/main/scala/play/api/db/evolutions/EvolutionsApi.scala#L543-L607).

[2021-07-12 10:46] sathyarr commented on #10915
@mkurz

yes, the problem is fixed from 2.8.2

With,

I mean, is there any other way to preserve the Unicode characters rather using `TolerantText` instead of `Text` ?

[2021-07-12 11:28] mkurz commented on #3861
Actually that _should_ work in Play 2.8.8 because it uses latest akka-http 10.1.x.
However I am not sure if we need to enable the ping support in Play explicitly somehow.
@atropo Can you please try setting, in your `build.sbt`:
[code]
and in your `application.conf`:
[code]
?
Are you using Play 2.8.8?

[2021-07-12 11:39] gaeljw commented on #10892
Indeed, MariaDB 10.x

I don't have it anymore but the limit was 64kb and my script was something like 100kb.

The limit was far less than 16mb.

Fair enough. I think the least we can except is a clear error message in the logs. UPSERT is a bonus.

[2021-07-12 12:20] mkurz commented on #10915
So let's close this issue then.

Looking at [`BodyParsers.scala`](https://github.com/playframework/playframework/blob/2.8.x/core/play/src/main/scala/play/api/mvc/BodyParsers.scala), I don't think there is, but maybe I am wrong...

[2021-07-12 12:20] #10915 closed

[2021-07-12 13:34] mkurz commented on #10892
OK, interesting.

Can you provide a pull request?

[2021-07-13 13:24] raboof commented on #10583
`nightly-deploy-master` now seems to fail in much the same way as the 2.8 failure pasted above:

[code]

[2021-07-14 09:15] kuscsik commented on #10744
Reproduced on 2.8.8. Can't locate the source of the issue.

[2021-07-14 09:20] mkurz commented on #10744
@kuscsik Can you reproduce the problem? If so, can you please switch to [the netty server backend](https://www.playframework.com/documentation/2.8.x/NettyServer#Netty-Server-Backend), which should give you a much better error message, so we know what is causing the problem. In your `build.sbt` you need to disable the akka-http backend and enable the netty plugin and restart sbt:
[code]
Thanks!

[2021-07-15 06:39] mkurz opened #10927 "In tests, allow changing address to bind to"
An instance of `play.test.TestServer` (and therefore also the `WithServer` helper) always binds to `0.0.0.0`. There is no way to change that. I don't like this approach, since even when running tests I don't want to expose my app to the whole world.

We can already change the port a test server is running on by using the system property `testserver.port`:
https://github.com/playframework/playframe

[2021-07-15 09:48] twrichards opened #10928 "Should `isSameOrigin` in `AbstractCORSPolicy` really use `request.secure` to determine http vs https?"
As you can see in... https://github.com/playframework/playframework/blob/53e55f017f508f0dcdf2a70327bd73153fe87e5e/web/play-filters-helpers/src/main/scala/play/filters/cors/AbstractCORSPolicy.scala#L315

... the `AbstractCORSPolicy` is using `request.secure` to determine whether to compare the scheme/protocol of the `Origin` header with `http` or `https`.

`request.secure` is determined by a variet

[2021-07-15 09:58] twrichards commented on #10928
Here's an example, we have the debugger stopped inside `isSameOrigin`...
![image](https://user-images.githubusercontent.com/19289579/125769292-79d4cda2-5f54-46a8-b889-1ae40346c200.png)
(NOTE: the 403 is caused by this CORS filter - because `isSameOrigin` returns false when it should be true - as they're most def. the same origin)

[2021-07-15 17:26] gaeljw commented on #10892
Opened #10892 to always log the error message

[2021-07-19 01:05] gmethvin commented on #10867
It seems the issue is that sbt uses an older version of JNA that doesn't support Apple M1. See this issue: https://github.com/sbt/io/issues/320

[2021-07-19 08:41] raboof opened #10930 "scripted play-sbt-plugin/dev-mode: configuration error"
https://app.travis-ci.com/github/playframework/playframework/jobs/525069379

So the token is `'?' (Reserved character '?' is not allowed outside quotes)`? Weird.

[code]

[2021-07-19 20:20] fernandoracca commented on #10867
Just tried the code, and didn't fail.

[2021-07-20 17:18] ignasi35 commented on #10867
@giannoug I just noticed you use Zulu JDK11. I wonder if that could be a factor causing the issue.

Could you try this out using AdoptOpenJDK 11.0.x (the latest available)? Thanks

[2021-07-21 14:46] rstento opened #10933 "Change project starter link"
Instead, link to: https://example.lightbend.com/

[2021-07-21 14:48] mkurz commented on #10933
If you mean a link on the website, you probably should open this issue in https://github.com/playframework/playframework.com

[2021-07-21 14:58] rstento commented on #10933
@mkurz, no this is a link in the documentation as shown in the file I changed.

[2021-07-21 17:39] #10933 closed

[2021-07-23 09:17] jilen opened #10936 "Nginx report `upstream prematurely closed connection while reading response header from upstream` while serve binary image"
[code]

The problematic Action looks like (not always problematic, **it appears some hours or few days after server start**)
[code]
Note other request(non-binary) works pretty fine.

It would not recover until I restart `play` server.

The only logs  `akka-http`  reported are
[code]

[2021-07-23 14:52] marcadella opened #10937 "Wrong documentation and bug with body streaming"
### Play Version

2.8.7

### API

Scala

### Operating System

4.15.0-142-generic

### JDK

openjdk version "11.0.10" 2021-01-19

### Library Dependencies

### Expected Behavior

The doc provides an example of how to stream a body in a POST request: https://www.playframework.com/documentation/2.8.x/ScalaBodyParsers#Directing-the-body-elsewhere

Firstly, `ws.url(...)` sets the method to `GET`. So t

[2021-07-24 13:19] toshihidetagami opened #10938 "Docs: Add a link to Open JDK on getting started page."
## Problem

Currently, the documentation suggests installing OracleJDK if you don’t have java installed.
The problem is OracleJDK 11 or higher is commercial and not free. ([reference](https://blog.joda.org/2018/09/do-not-fall-into-oracles-java-11-trap.html))
So I can imagine there will be some beginners who visit on getting started page install the commercial version without realizing it and get i

[2021-07-26 09:43] ignasi35 commented on #10938
thanks @toshihidetagami for raising this. I could find a reference in https://www.playframework.com/getting-started.

Do you have other references on the play's site in mind?

[2021-07-26 09:48] ignasi35 commented on #10938
I found a few other references searching for "Oracle’s JDK Site" under https://github.com/playframework/playframework/blob/master/documentation/

Note the playframework website is the result of combining sources from several repositories. This is why I also raised https://github.com/playframework/playframework.com/issues/445.

[2021-07-26 09:48] ignasi35 commented on #10938
@toshihidetagami would you be able to work on a couple of PRs?

[2021-07-27 06:48] mkurz commented on #10867
@ignasi35 AFAIK this also happens with AdoptOpenJDK, e.g. there is another report: https://github.com/irundaia/sbt-sassify/issues/48.

However the problem got fixed by bumping JNA to the latest version in sbt io, see https://github.com/sbt/io/pull/321. Now we have to wait for a sbt release that includes that patch, see https://github.com/sbt/io/pull/321#issuecomment-882748205.

[2021-07-27 13:17] toshihidetagami commented on #10938
@ignasi35 Yes, I would like to work on this. I have never worked on this project, so I will take some time to read the code in this repository and playframework/playframework.com first.
I will check if other pages have oracle's link, but I think the most important one is getting started page.

Regarding change, will we just replace oracle's link to AdoptOpenJDK 's link? Or any other website in you

[2021-07-28 08:24] ignasi35 commented on #10938
I think it's safe to link to adoptium already.

[2021-07-28 09:13] mkurz commented on #10676
Once more: https://app.travis-ci.com/github/playframework/playframework/jobs/527317158#L2086-L2093

[code]

Looking at this thread here it looks like the OOM exception always happens in the `play-sbt-plugin/dev-mode` scripted test, nowhere else.
I fixed a potential memory leak in https://github.com/playframework/playframework/pull/10939, maybe that helps. It would even make sense if the `play-sbt-

[2021-07-28 09:15] mkurz commented on #5144
FYI: JDK-8151486 was fixed in OpenJDK 8u232 as well (not just JDK 9+):
* https://github.com/openjdk/jdk8u/commit/9b1e583a41f53b36f037f62e297b4adb52ea0a66
* https://mail.openjdk.java.net/pipermail/jdk8u-dev/2019-October/010452.html

[2021-07-28 09:19] mkurz commented on #5144
Just a note: Make sure in tests you call `LoggerConfigurator(classloader).shutdown()` when you stop an app. See #10939

[2021-08-01 05:46] toshihidetagami commented on #10938
Thank you for your answer. I will choose adoptium.

[2021-08-02 08:21] raboof commented on #10439
Still a thing: https://app.travis-ci.com/github/playframework/playframework/jobs/527317158

[2021-08-02 08:33] raboof commented on #10439
Oh, this is not the actual error, it just looks scary. The actual error in this case was `java.lang.RuntimeException: Resource at /assets/new/new.css returned 200 instead of 404` for the original failure and #10930 for the latest

[2021-08-02 08:33] #10439 closed

[2021-08-02 08:34] raboof commented on #10930
Again at https://app.travis-ci.com/github/playframework/playframework/jobs/527317158

[2021-08-03 14:24] raboof commented on #10930
Looking closer, it seems the *real* problem is `[info] java.lang.OutOfMemoryError: Metaspace`...

[2021-08-05 10:08] raboof opened #10943 "PUBLISHED_LOCAL_COMMIT_HASH not found"
The `publishLocal` travis job should write a PUBLISHED_LOCAL_COMMIT_HASH to the workspace, and later picks them up in the jobs performing scripted tests.

This file was not found in https://app.travis-ci.com/github/playframework/playframework/builds/233575133 . The other scripted job used the same workspace (`233575133/published-local.tgz`), though, and did find it. Was it deleted somehow?

[2021-08-05 10:10] raboof commented on #10943
Same in https://app.travis-ci.com/github/playframework/playframework/builds/233838337 for master :thinking:

[2021-08-05 10:11] raboof commented on #10943
https://app.travis-ci.com/github/playframework/playframework/builds/234151598 also looks very similar

[2021-08-05 10:20] mkurz commented on #10943
This is very very strange. Especially for [this build](https://app.travis-ci.com/github/playframework/playframework/builds/234151598):

![image](https://user-images.githubusercontent.com/644927/128333712-24e03a50-d071-433b-ab50-c93f638ac8a8.png)
The first one works, but the others fail (because they can't find the file `PUBLISHED_LOCAL_COMMIT_HASH`)??? I just checked, the file `PUBLISHED_LOCAL_COM

[2021-08-11 08:27] bursauxa opened #10944 "Unicode header values should not cause server errors"
### Play Version

2.8.8

### API

Scala

### Expected Behavior

When receiving headers with Unicode values, Play server should do either of the following:

1. Return HTTP 400, based on the request header being invalid as per [RFC2616](https://datatracker.ietf.org/doc/html/rfc2616#section-4.2)
2. Be lenient and accept Unicode headers just as it accepts Ascii headers (we received this header through

[2021-08-17 15:11] dEajL3kA opened #10955 "Caffeine-based cache (SyncCacheApi) does not have a size limit ➔ prone to "out of memory" JVM crash"
### Play Version

2.8.8

### API

Java / SyncCacheApi

### Operating System

Ubuntu 20.04 LTS
[code]

### JDK

[code]

### Expected Behavior

I think that the **Caffeine**-based cache implementation of Play Framework should have a size limit (by default), just like the **Ehcache**-based cache implementation *does* have.

Even though [the documentation](https://www.playframework.com/documentation/2

[2021-08-20 07:31] gokhanoner opened #10957 "Caffeine-based cache (SyncCacheApi) loose thread locals when using a custom execution context"
Play Version: 2.8.8

API: Java

Due to Caffeine based cache impl doesn't have a dedicated SyncCache implementation & uses DefaultSyncCache over async cache, see [here](https://github.com/playframework/playframework/blob/master/cache/play-caffeine-cache/src/main/scala/play/api/cache/caffeine/CaffeineCacheApi.scala#L155) , it loses thread locals, when using a custom execution context.

Solution is p

[2021-08-24 14:01] iagodvsantos opened #10958 "Slow performance while parsing bigger payloads with BodyParsers"
Lately, we've been noticing a higher latency in some requests to our endpoints on play service (which is a rest-api), and, curiously we haven't deployed or changed anything in the code/dependencies/etc.

<img width="634" alt="Screenshot 2021-08-24 at 15 52 18" src="https://user-images.githubusercontent.com/17990126/130628988-18b79109-3401-4231-a2f1-027f031c73f8.png">

**this is percentile 99**

So

[2021-08-26 17:20] arkangelboss-github opened #10962 "Update jquery.js and jquery.min.js distributed in play-docs jar to version 3.5.0 or newer"
I am looking for assistance in updating the `jquery.js` and `jquery.min.js` packages distributed in the `play-docs` jar (see https://mvnrepository.com/artifact/com.typesafe.play/play-docs_2.12/2.8.8 for reference).

The currently distributed ones are version `3.4.1`, which contain the security vulnerability https://nvd.nist.gov/vuln/detail/cve-2020-11022, and to address that, they should be update

[2021-08-27 13:53] melezov opened #10965 "Release notes refer to @mergify a lot"
Short note that the @mergify bot is referenced 33 times instead of the actual authors in the last release notes:
https://github.com/playframework/playframework/releases/tag/2.8.8

Perhaps a better contributor extractor is required.

[2021-08-28 00:38] mrubinwch opened #10967 "40 second delay within Play framework when receiving a request"
Reopening #6943 as I'm experiencing very similar behavior and there doesn't appear to have been a resolution to that issue.

### Play Version

2.8.5

### API

Scala (2.12.12)

### Operating System

Linux 4.14.238-125.422.amzn1.x86_64 #1 SMP

### JDK

openjdk version "1.8.0_302"
OpenJDK Runtime Environment Corretto-8.302.08.1 (build 1.8.0_302-b08)
OpenJDK 64-Bit Server VM Corretto-8.302.08.1 (build

[2021-08-29 19:21] mkurz commented on #10958
@iagodvsantos Why did you close this issue?Could you resolve it?

[2021-08-30 09:00] iagodvsantos commented on #10958
I closed by mistake.. the issue is still going on

[2021-09-02 08:42] ocordsen commented on #3861
@mkurz Do you have any other hint for me or should I try to find another solution for the next time? If it would help, I could prepare a minimal example repository. Thanks for your help again.

[2021-09-02 09:32] octonato opened #10971 "failed: nightly build failed because of binary incompatible sbt check"
The nightly build is failing since we merged https://github.com/playframework/playframework/pull/10956

I didn't look further, but I suspect this is due to the upgrade to sbt 1.5.5 and the fact that the nightly build uses a akka-http snapshot.

If I understand correct, what was previously an eviction warning is not by default an error.

[code]

[2021-09-02 09:34] octonato commented on #10971
Yep, that's sbt 1.5.5
https://eed3si9n.com/sbt-1.5.0

[2021-09-02 20:01] mkurz commented on #10971
The problem is not really sbt 1.5.x. The master branch is using sbt 1.5.x already since probably half a year or so now and cron jobs were working fine.

The "problem" is that akka 2.6.15 switched to `scala-java8-compat` version 1.0.0. And because the cron job is using the latest akka snapshot, sbt 1.5 is complaining now that the version Play is using and the version akka 2.15+ is using are incompa

[2021-09-02 20:05] mkurz commented on #3861
@ocordsen sorry no other hint right now (I am low on time as well). A reproducer would probably help.

[2021-09-02 20:52] #10876 closed

[2021-09-03 08:52] ocordsen commented on #3861
@mkurz I created a example project: https://github.com/ocordsen/play-framework-web-socket-keep-alive-ping
I tested in dev mode via `sbt run` and in prod mode. The view returned on the route `/` of the project connects to the websocket and logs Connect and Disconnect (in JS console). I cannot see any ping frames in the chrome dev tools network tab and every 75 seconds I have a reconnect.

[2021-09-06 14:49] ocordsen commented on #3861
Additional info: I tried to implement a custom AkkaHttpServer (as described here: https://www.playframework.com/documentation/2.8.x/SettingsAkkaHttp#Direct-Akka-HTTP-configuration) which was successfully loaded by my application but the keep-alive setting didn't work with this approach, too.

[2021-09-07 10:25] ennru commented on #10971
`scala-java8-compat` 1.0.0 is considered bin-compatible with 0.9.1, even though it reads differently.

Akka added this explicit resolution https://github.com/akka/akka/pull/30375 for it.

[2021-09-07 13:38] mrubinwch commented on #10967
The issue (very unexpectedly) was thread starvation.. causing it to look like Play wasn't processing any incoming requests. Closing this issue.

[2021-09-07 13:38] #10967 closed

[2021-09-10 13:06] Dani3lB opened #10972 "Environment variables from envVars sbt key are not passed to the application"
The envVars sbt key does not work with play framework, the given environment variables are not passed to the application.

### Play Version
2.8.8
### API
Scala
### JDK
openjdk 11.0.12 2021-07-20 LTS
OpenJDK Runtime Environment Zulu11.50+19-CA (build 11.0.12+7-LTS)
OpenJDK 64-Bit Server VM Zulu11.50+19-CA (build 11.0.12+7-LTS, mixed mode)

### Reproducible Test Case
1. add key to application.conf t

[2021-09-14 20:57] ihostage commented on #10930
@raboof Looks like can be closed after https://github.com/playframework/playframework/pull/10877 merged.

[2021-09-15 16:26] #10930 closed

[2021-09-17 12:43] JFCote commented on #10512
Is there anyone working on this project anymore? @gmethvin
Thanks!

[2021-09-17 12:44] JFCote commented on #10913
Is there anything I can do to help fix this bug? I can work hand in hands with developer's from the Play Framework if necessary (on slack or gitter, let me know). I just don't know how to code in Scala, so I can propose a PR... @gmethvin
Thanks

[2021-09-20 19:36] mkurz opened #10983 "Should drop Travis CI"
See https://github.com/sbt/sbt-web/issues/183 and https://twitter.com/peter_szilagyi/status/1437646118700175360

Also https://docs.github.com/en/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions

[2021-09-22 20:43] gmethvin commented on #6672
Given that this seems specific to Jackson, is there any opposition to changing the default body parsers to special-case Jackson exceptions and use `getOriginalMessage`? Or at least do that for production applications?

[2021-09-22 21:15] #10944 closed

[2021-09-24 06:38] #10938 closed

[2021-09-24 06:53] #10892 closed

[2021-09-26 01:51] jilen commented on #10936
After upgrade to the latest akka-http version, this seems gets fixed

[2021-09-30 01:00] gmethvin commented on #10928
How else could Play determine the protocol for the origin? Unfortunately this is a challenging problem to solve in a secure way.

[2021-10-01 15:02] kschwarz1116 commented on #8474
Is there a better solution here that doesn't flag `environment` as an unused parameter?

[2021-10-04 17:38] logesh-sahaj commented on #10955
Hi @mkurz/ @jroper Can I pick this up. I feel this can be fixed by having common default maximum size for the Caffeine cache.

[2021-10-05 09:18] dEajL3kA commented on #10955
👍

[2021-10-14 08:04] ohhjulia opened #10999 "routes not support underline as URI pattern"
(Note by @mkurz: I changed `http://xxx.com` to `http://localhost:9000`)

### problem

If I write an URI as below

[code]

when I visit http://localhost:9000/Gx0YLry_RXM.txt, I get an 404 error, but http://localhost:9000/123/Gx0YLry_RXM.txt works.
So I change the route to

[code]

http://localhost:9000/Gx0YLryRXM.txt and http://localhost:9000/123/Gx0YLry_RXM.txt both works,

So I think this is a bu

[2021-10-22 06:22] vigneshbrb opened #11002 "How to run Playframework tests using play scala test in gradle?"
### Are you looking for help?

I have been trying to run play scala test in gradle. Whenever I try to run the test cases, it always reports in IntelliJ that "No test events were received"  With SBT, it works perfectly fine.

![image](https://user-images.githubusercontent.com/20576119/138402908-4049650e-aa65-41b9-bc07-aa5184db0910.png)

Also there are no proper documentations or samples for Playfra

[2021-10-31 10:46] Max-AR commented on #10484
I had a look at this building from the most recent commit on master.

As of `7a3f9d54` the `twirl` api docs are now missing but the `filter` api docs are back. The `filter` docs were present in 2.8.0 and disappeared from 2.8.1 api docs.

The links in the markdown doco are correct, but it looks like the api docs are not generating all the packages that come under the `play` package.

[2021-11-02 15:54] francisdb opened #11004 "scala-java8-compat causing havoc when trying to upgrade akka"
### Play Version

2.8.8

### API

Scala

### Operating System

MacOS

### JDK

openjdk 17.0.1 2021-10-19
OpenJDK Runtime Environment Temurin-17.0.1+12 (build 17.0.1+12)
OpenJDK 64-Bit Server VM Temurin-17.0.1+12 (build 17.0.1+12, mixed mode, sharing)

### Expected Behavior

We can upgrade akka to `2.6.17`

### Actual Behavior

For all project modules that depend on the `PlayScala` plugin we can't

[2021-11-02 16:02] easel commented on #10867
There's a preview build of sbt at https://github.com/sbt/sbt/releases/tag/v1.6.0-M1 that includes the JNA dependency update and appears to be working for me. This is a pretty big deal, for my project build+test is over 4x slower on x86_64 with rosetta2 than on arm64. Thanks @eed3si9n !

[2021-11-03 17:11] bmontuelle commented on #5912
Hi, I'm having a bit of struggle to clear cached entries that could use multiple parameters (complex SQL search query results).
Key is composed of all the optional parameters, and a prefix for each one. So when I need to purge entries I need to generate all possible keys containing a value related to the database entries being updated/deleted.
I could have a great use of something like this
`Cache

[2021-11-03 18:28] ben-manes commented on #5912
@bmontuelle Caffeine provides an `asMap()` view for iterations, such as `cache.asMap().keySet().removeIf(predicate)` might work for you. I believe Ehcache2's `Cache.getKeysWithExpiryCheck()` could be used as an equivalent, but is a more expensive copy rather than a live view. Both would require an O(n) iterations to filter the keys by, so your other options are to keep an auxiliary data structure

[2021-11-11 08:30] davidfurey commented on #10911
You might find https://github.com/guardian/play-secret-rotation useful.

[2021-11-11 15:05] Normal commented on #10206
I can't make it work at all, play (I use 2.7) just ignores `config.override_with_env_vars`, injected `play.api.Configuration` object doesn't override anything meanwhile `ConfigLoader.load` return overridden correct values. Is that a feature of play 2.8 or something?

[2021-11-11 15:54] hertg commented on #6845
We were experiencing this problem in some on-premise installations where there are reverse proxy servers in front of our own managed nginx instance. Has anyone who struggled with this issue tried switching `play.http.forwarded.version` to `rfc7239`? Would switching to `rfc7239` mitigate this issue, or are there other problems that might come up? I saw there there seem to be some issues open relate

[2021-11-12 19:48] mkurz commented on #10206
@Normal [The feature](https://github.com/lightbend/config/pull/620) is availabe since lightbend config version 1.3.4, which is [used since Play 2.7.2](https://github.com/playframework/playframework/blob/2.7.2/project/Dependencies.scala#L197). However there [was a bug](https://github.com/lightbend/config/issues/684), which was fixed in Play 2.8.3, [which comes with lightbend config 1.4.1](https://g

[2021-11-12 20:11] mkurz commented on #10867
@easel That's great news, thanks for sharing.

[2021-11-12 20:54] #10864 closed

[2021-11-13 13:49] mkurz commented on #11004
I am working on this in #10969

[2021-11-15 09:17] abteilung6 commented on #10913
Try `sbt run -Dconfig.resource=application.prod.conf runProd`

[2021-11-15 14:34] KarolPK opened #11017 "Bump FasterXML version"
FasterXML in version used here (2.11.4) has DoS bug described here https://github.com/FasterXML/jackson-dataformats-binary/commit/e35d4a04682ee779050ae9656d8d4ae2738efec3

Some dependency scanners see this as vulerability to block using Play.

It for sure touches Scala 2.8.x version