[2021-11-16 13:24] JFCote commented on #10913
@abteilung6 Thanks for the suggestion, but it doesn't work. I get exactly the same error. It's like the `runProd` completely ignore the configuration file passed in the command line.

[2021-11-18 04:50] thedevd commented on #8125
Is there any solution to this except packaging the custom classes in separate jar file ?

[2021-11-18 05:18] thedevd commented on #6039
Can you share how you did this ?

[2021-11-19 08:44] abhishek-soam-2 opened #11018 "Validation Error on Transient Field present in Model class while binding the request to create form"
### Play Version

Play version is: 2.5.2

### API

Java

### Operating System

Linux sc191user-ThinkPad-T14-Gen-1 5.11.0-40-generic #44~20.04.2-Ubuntu SMP Tue Oct 26 18:07:44 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

### JDK

openjdk version "1.8.0_292"
OpenJDK Runtime Environment (build 1.8.0_292-8u292-b10-0ubuntu1~20.04-b10)
OpenJDK 64-Bit Server VM (build 25.292-b10, mixed mode)

### Library Dep

[2021-11-19 17:46] giridharkannan commented on #5322
any  update on this issue

[2021-11-22 00:14] chipz commented on #10999
I tried this in Java API, Play version 2.7.7 with the example app.
[code]
this came back 200 OK
tried this also in Scala, with the same version 2.7.7. Also got 200 OK.

Do you have any detailed example that we can try? Or is there something I'm missing here?

[2021-11-24 03:15] mkurz commented on #10733
Fixed by #11019

[2021-11-24 03:15] #10733 closed

[2021-11-24 14:29] cyrilfr commented on #10486
I'm using Play 2.8.8 with sbt 1.3.13 and I still have this issue:
[code]
plugins.sbt:
[code]
dependencies:
[code]
Any idea?

[2021-11-25 02:48] mkurz commented on #10862
Like stated already, this dependency only effects play-test, which (should) never make it into production, so I don't think there is a need to upgrade `htmlunit-driver` in 2.8.x (It was upgraded in the master branch to the latest version already however).
IMHO we can cut 2.8.9 without "fixing" this issue.

[2021-11-25 20:34] octonato commented on #10862
Remove the milestone. Since this is affecting a test library, we should not be that worry nor have it to a milestone. If someone wants to fix, PRs are welcome.

[2021-11-26 14:17] haghard opened #11025 "gRPC reflection in Play"
### Problem statement
Although gRPC reflection feature https://doc.akka.io/docs/akka-grpc/current/server/reflection.html works for project where akka-http is used it doesn't work for Playframework apps.

### Reproducible Test Case
I took play-scala-grpc-example from official Play Framework samples and tried to make it work which led me to nothing. See: https://github.com/haghard/play-scala-grpc-ex

[2021-11-29 04:36] tsuyoshizawa opened #11027 "Unable to upgrade to Play Framework 2.8.9"
Play Framework 2.8.9 was released and I tried to upgrade, but I got the following compilation error and could not upgrade.

[code]

I couldn't find the play-ws v2.1.3 tag, so I didn't know exactly which scala-java8-compat version it was specifying.
https://github.com/playframework/play-ws/tree/v2.1.3

### Play Version

2.8.9

### Scala version

2.13.6

### API

Scala and Java

### Operating System

[2021-11-29 08:49] ennru commented on #11027
Thanks for reporting. We're looking into it and will most likely release another patch version.

[2021-11-29 14:47] coding4cc commented on #11027
play-twirl[https://github.com/playframework/twirl] dependency on [org.scala-lang.modules:scala-xml_2.13:1.2.0] also cause this problem

[2021-11-29 15:09] octonato commented on #11027
@coding4cc, could you create an issue in https://github.com/playframework/twirl repo with more details?

Twirl doesn't use `scala-java8-compat`. There are some logic indeed regarding which version of Scala xml is selected, but I guess the issue you are having is different.

[2021-11-29 15:36] coding4cc commented on #11027
my fault:   In my project , when i upgrade scala-xml  version to 2.0.1 cause this problem:
[error] (update) found version conflict(s) in library dependencies; some are suspected to be binary incompatible:
[error]
[error] 	* org.scala-lang.modules:scala-xml_2.13:2.0.1 (early-semver) is selected over 1.2.0

[2021-11-29 17:03] mushu301 opened #11029 "Missing implicit def of HandlerInvokerFactory for Request => WebSocket"
### Play Version
2.8.8

### API
Java

### JDK

openjdk 11.0.11 2021-04-20
OpenJDK Runtime Environment 18.9 (build 11.0.11+9)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.11+9, mixed mode)

### Behavior

It seems that the implicit def for type play.core.routing.HandlerInvokerFactory[scala.Function1[play.mvc.Http.Request, play.mvc.WebSocket]] is missing in play.core.routing.HandlerInvoker.

This causes

[2021-12-01 08:39] ennru commented on #11027
Fixed with https://github.com/playframework/playframework/pull/11028 and https://github.com/playframework/play-meta/issues/198

[2021-12-01 08:39] #11027 closed

[2021-12-01 09:10] tsuyoshizawa commented on #11027
Thank you for the release.
I have confirmed that the compilation completes with Play Framework 2.8.10.

[2021-12-01 14:15] haghard commented on #11025
Now I know how to enable  gRPC reflection

[2021-12-01 14:15] #11025 closed

[2021-12-02 19:16] jaykaysharewell opened #11032 ""use Enter to stop" sbt feature breaks in Play 2.8.11"
### Play Version

2.8.11

### API

Java

### Operating System

macOS Catalina 12.0.1

### JDK

openjdk 11.0.11 2021-04-20
OpenJDK Runtime Environment AdoptOpenJDK-11.0.11+9 (build 11.0.11+9)
OpenJDK 64-Bit Server VM AdoptOpenJDK-11.0.11+9 (build 11.0.11+9, mixed mode)

### Expected Behavior

command line: `JAVA_HOME="/Library/Java/JavaVirtualMachines/adoptopenjdk-11.jdk/Contents/Home" sbt run`

ou

[2021-12-02 22:04] Facsimiler commented on #1249
Could this please be re-opened? It most certainly _does_ make sense to have hidden fields...

Consider this use case: I have a database table, called `users`, that has a primary key of `id`, and string fields for `first_name` and `last_name`. I have a _Scala_ case class representing records from this table:
[code]
I also want to be able to create and edit user names. I can create forms for the cre

[2021-12-03 00:26] jroper commented on #1249
Why not:

[code]

[2021-12-03 01:47] Facsimiler commented on #1249
Sure, that works, if I don't want to see any output at all. But as I showed in my example, it's normally nice to see the identifier's label and value—I just don't it to be editable—and so there's all that other boilerplate (the definition list).

A hidden input template would be more consistent with other form inputs, and would be conducive to improved formatting using a `FieldConstructor`.

Why n

[2021-12-03 02:45] mkurz commented on #11032
Confirmed, this is broken now :disappointed:
@gmethvin Very likely this is caused by #10890, can you have a look?

[2021-12-03 02:58] jroper commented on #1249
I don't think what you're describing there is what most people would expect to see if they used a hidden field template, people would expect that a hidden value should be hidden from the user. If we did provide a hidden field template, it would just render the input element, nothing else, anything else would be a poor developer experience because it would give people something they didn't expect.

[2021-12-03 05:18] gmethvin commented on #11032
I'm not sure I'll get a chance in the next week but I'll try to take a look as soon as I can. It's not obvious to me what the specific issue is.

[2021-12-03 05:20] mkurz commented on #11032
No problem, if I find time over the weekend I'll try to track it down.

[2021-12-03 07:50] mkurz commented on #11032
From @JustinPihony

[2021-12-03 09:18] maxcom opened #11033 "Can't use 2.8.11 with Java 8"
Binaries was build on Java 11 and can't be used on Java 8:

[code]

This is well know problem (see https://www.morling.dev/blog/bytebuffer-and-the-dreaded-nosuchmethoderror/ for explanaition). Please rebuild them under Java 8 so they will be compatible with 8 and any modern version of JDK.

[2021-12-03 09:55] octonato commented on #11033
@maxcom, can you double check it? Play 2.8.10 was wrongly build, but not 2.8.11.

I just unzipped the sbt plugin jar from 2.8.11 and picked one of the class to check, here is the output:

[code]

So I'm pretty sure the JDK version is correct. Of course, we can't exclude that we introduced a regression, but we will need to be able to reproduce this in order to dig deeper.

[2021-12-03 09:59] maxcom commented on #11033
I'll recheck this. Class file version is not enough.

[2021-12-03 10:06] maxcom commented on #11033
Test failed on 2.6.10 + play ws 2.1.6. It passes on 2.6.11. I'm sorry for disturbing you.

[2021-12-03 10:06] #11033 closed

[2021-12-03 10:10] octonato commented on #11033
Uff, you scared me! 😄

[2021-12-03 10:29] prongs commented on #10863
Hey @TheAntimist did you manage to get it to work?

[2021-12-03 10:29] prongs commented on #4186
Any updates on this?

[2021-12-03 13:02] aldenml commented on #11032
I can confirm that if https://github.com/playframework/playframework/pull/10890 is reverted, regular `sbt run` with sbt >= 1.4.0 works as expected. I tried with a modified local build of `sbt-plugin`.

[2021-12-03 14:39] PromanSEW commented on #10497
I updated Play to 2.8.11, SBT to 1.5.5 and still get this error (JDK 1.8.0.301)
When this error will be fixed?
All versions after 2.8.7 with SBT 1.4.0+ have this error, I can't upgrade my project so long

[2021-12-06 00:34] ashraghunath commented on #11029
Facing the same issue. As a result, I'm unable to pass the request object to the controller.

[2021-12-06 02:04] mkurz commented on #10863
Let's add this to the 2.9 release

[2021-12-06 02:51] jilen opened #11034 "Change `play.server.akka.requestTimeout` to a finite value."
Currently it is infinite. Which might cause request hangs as #10936 reports

[2021-12-06 02:57] mkurz commented on #10936
Which Play versions do you use?

[2021-12-06 03:11] jilen commented on #10936
@mkurz Both  `2.8.8` and `2.8.11` have this problem.

[2021-12-06 03:13] mkurz commented on #10936
OK, thanks

[2021-12-06 23:12] PromanSEW opened #11035 "Error converting Play Result for server backend while returning redirect"
### Play Version

2.8.7, cannot be tested the latest (2.8.11) because of bug with play-ebean

### API

Java

### Operating System

Windows 11

### JDK

java version "1.8.0_301"
Java(TM) SE Runtime Environment (build 1.8.0_301-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.301-b09, mixed mode)

### Library Dependencies

Play WS 2.1.2

### Expected Behavior

Successfully return redirect Result fro

[2021-12-07 02:01] mkurz commented on #11035
@PromanSEW Is there also no stack trace on the console or log files? Would it be possible that you put a breakpoint at this line https://github.com/playframework/playframework/blob/2.8.7/transport/server/play-server/src/main/scala/play/core/server/common/ServerResultUtils.scala#L161 and see what the `conversionError` object looks like?

[2021-12-07 09:42] PromanSEW commented on #11035
@mkurz In dev mode in IDEA console there are no stack traces. I tried to start dev mode in Debug instead of Run (Play 2 App configuration), but breakpoints in my code did not work :(
I will try to debug again

[2021-12-07 10:16] PromanSEW commented on #11035
@mkurz here is error from `conversionError`:
[code]

[2021-12-07 17:46] TheAntimist commented on #10863
@prongs Unfortunately not yet.
@mkurz Awesome! Let me try and get a prototype PR out during the upcoming holidays.

[2021-12-07 18:41] PromanSEW commented on #11018
Play 2.5.x is not supported for a long time

[2021-12-08 07:34] PromanSEW commented on #10887
I remember that it was in old Play versions as 2.3 etc. Seems to be...

[2021-12-08 07:57] counter2015 opened #11037 "Play 2.8 in JDK 17 get assets error."
### Play Version

[code]

### API

Scala 2.13.6

### Operating System

[code]

### JDK

[code]
### Library Dependencies

https://github.com/iheartradio/play-swagger
[code]

in route
[code]

### Expected Behavior

It should render swagger ui.

### Actual Behavior

[code]

In JDK 11, it works well.

[2021-12-08 08:07] PromanSEW commented on #11037
https://github.com/playframework/playframework/pull/10819

[2021-12-08 08:14] counter2015 commented on #11037
Thanks your reply.
Is that mean Play does not supoort JDK 17 in 2.8.x, and the 2.9.x will fix it ?

[2021-12-08 16:36] autodidacticon opened #11038 "Not a valid key: runProd"
### Play Version
[code]

### API

Scala

### Operating System

macOs

### JDK

[code]

### Library Dependencies

### Expected Behavior

Play should start a webserver running locally

### Actual Behavior

sbt gateway/runProd
[info] welcome to sbt 1.5.5 (Eclipse Adoptium Java 11.0.13)
[info] loading global plugins from
[info] loading settings for project
[info] loading project definition from
[info]

[2021-12-09 17:55] MikeEngUSA commented on #8330
I'm using v2.8.8, and it seems that it's no longer possible to fork the application. I have `fork := true` and define `javaOptions` in my `build.sbt` file, but, when executing `sbt run`, the web application runs in the same _JVM_ that _SBT_ is using, and none of the options I've defined take hold.

Has this capability been disabled? If so, is there a way to force the application, in dev mode, to b

[2021-12-12 05:59] mkurz commented on #11018
Play does not and never did support any `@Transient` annotation on form fields. I guess you (re-)used a JPA model as form "model"? You probably want to use a separate class to be used as a form.

[2021-12-12 06:00] mkurz commented on #10863
@TheAntimist Sure :wink: I am happy to review.

[2021-12-14 15:52] PromanSEW commented on #11035
@mkurz I surprised by description of this character
https://www.fileformat.info/info/unicode/char/1071/index.htm
I don't think that server can send such symbols, it sends only valid JSON or HTML data, by CRUD operations (REST API)
Jere is documentation, if needed
https://yandex.com/dev/disk/api/reference/content.html

[2021-12-16 05:50] jilen commented on #10936
This still exists, keepalive between `nginx <-> play` must be turned off to prevent it.

[2021-12-16 22:08] Captain1653 commented on #6643
The issue is really old. Is it worth to wait some `WithJUnit5Application extends WithApplicationBase (with the JUnit 5 annotations)` ? It will be useful for play applications.

[2021-12-17 01:17] uncle-betty commented on #11032
When `createReader` is invoked, SBT has already changed `System.in` to be the `proxyInputStream` object from `sbt.internal.util.Terminal`. At least that's what it looks like to me, based on a little bit of poking around with `jdb`.

`proxyInputStream` extends `SimpleInputStream` (to be found in the same source code file), which in turn extends `InputStream`. Neither `proxyInputStream` nor `SimpleI

[2021-12-17 09:25] sven42 opened #11056 "Security Issue with akka-http 10.1.14"
According to this [security announcement](https://doc.akka.io/docs/akka-http/current/security/2021-CVE-2021-42697-stack-overflow-parsing-user-agent.html), the currently used version akka-http 10.1.14 is vulnerable to a DOS attack.

Update to akka-http 10.1.15 or 10.2.7 should fix the issue.

[2021-12-17 09:42] sven42 commented on #11056
I just realized, that the issue is fixed in play 2.8.11 (branch 2.8.x)

[2021-12-17 09:42] #11056 closed

[2021-12-19 16:36] mkurz commented on #11032
I found out what the problem is, PR will follow.

[2021-12-19 23:32] mkurz commented on #11032
Fix is here: #11061

[2021-12-19 23:34] mkurz commented on #11037
I am closing this, even though Java 17 support is not released yet, however this specific issue described here was fixed in the master branch already.

[2021-12-19 23:34] #11037 closed

[2021-12-19 23:37] mkurz commented on #11018
@abhishek-soam-2  I am closing this, because IMHO this is not a bug in Play. If you have questions, please let me now.

[2021-12-19 23:37] #11018 closed

[2021-12-20 06:50] leszekgruchala commented on #7382
For anyone looking for a no-plugin solution, I've come up with a working one for Scala 2.13.7: https://stackoverflow.com/a/70418263/804812

[2021-12-21 09:22] ohhjulia commented on #10999
this issue is about the "*path" in route, not the underline “_”.
In my example, the "*path" and “_” show in the route at the same time, then there will be 404.
So, change you route to /*path/Gx0YLry_RXM.txt, and visit http://xxx.com/Gx0YLry_RXM.txt, you will get a 404 error.

[2021-12-23 15:23] ahjohannessen opened #11073 "Akka 2.6.18"
@mkurz Any chance to get a Play release with Akka 2.6.18 - Reason for asking is that Akka 2.6.18 brings about Scala 3 support. I know that Play is not quite there yet, but it would be great for upstream libs that could start using Scala 3 without getting into issues with 2.6.17 vs. 2.6.18 that Akka checks for.

[2021-12-23 15:52] mkurz commented on #11073
There is already a PR with various version upgrades: #1096 - where akka already gets bumpted to 2.6.17 - I will update to 2.6.18 when I continue to work on it.

[2021-12-23 18:24] ahjohannessen commented on #11073
@mkurz I think your reference is wrong, it points to an issue from 2013 :)

ok, that sounds great :)

[2021-12-23 18:26] ahjohannessen commented on #11073
I assume you mean this #10969

[2021-12-23 18:30] ahjohannessen commented on #11073
@mkurz I see that 2.8.x already has akka 2.6.17, see https://github.com/playframework/playframework/commit/0a60b0f27f7f5f69c0f4a0981c666a155c8217ca

The PR that you point to seems to be a bit more than just akka minor bump.

[2021-12-28 06:58] GKuldeepak-Knoldus commented on #8190
Hi Everyone,
Has this issue been resolved, if not, I would like to take this opportunity! Please confirm the same.

[2021-12-28 08:02] TimMoore commented on #8190
It looks like it has not been resolved, @GKuldeepak-Knoldus.

[2021-12-28 09:01] GKuldeepak-Knoldus commented on #8190
Thanks @TimMoore for confirming, I have raised the PR for the same.

[2021-12-28 20:17] mkurz commented on #11032
Fixed.

[2021-12-28 20:17] #11032 closed

[2021-12-29 00:52] mkurz commented on #11073
Next Play 2.8.12 will use akka 2.6.18, see #11076, also bumped for master branch in #10969

[2021-12-29 00:52] #11073 closed

[2021-12-29 11:30] ahjohannessen commented on #11073
👍

[2021-12-29 19:57] mkurz opened #11078 "Drop support for Java 8"
~I suggest Play 2.9 should be the last release that gets build with Java 8.~
Play 2.9 will drop support for Java 8.

Newer releases of some libraries that Play depends on are already not compatible with Java 8 anymore (but only with Java 11) and more might follow: https://github.com/playframework/playframework/labels/topic%3Ajdk-next
That means we can't upgrade to these new releases which is a bit

[2021-12-29 20:46] mkurz commented on #11078
Reminder to not forget to unpin dependencies [marked as incompatible with Java 8 in `.scala-steward.conf`](https://github.com/playframework/playframework/blob/ce33e56107f69aaeab5a1e289712162071b4865c/.scala-steward.conf#L30). (Also check the `updates.ignore` section as well)

[2021-12-30 00:05] mkurz commented on #11078
Because I just stumbled over it: Also upcoming Hibernate 6 will drop support for Java 8: https://hibernate.org/orm/releases/6.0/

[2021-12-30 10:02] #8190 closed

[2022-01-03 16:38] asaelitz commented on #3212
Hi @jroper.
I have the same issue with `bundleresource` protocol, and seems this solution of `bundle` is fit to this issue.
Can you please check this?

Regards,
Asael

[2022-01-03 23:44] jroper commented on #3212
I don't work on Play anymore, and I very much doubt anyone will take up an issue like this. If you want it fixed, I suggest you create your own PR.

[2022-01-04 11:55] gokhanoner commented on #11078
@mkurz anything specific that prevents removing Java 8 support in 2.9? As long as its announced a couple of months before, its a better option I believe. March 2022 is the end of Premier Support for Java 8 by Oracle, so it makes sense to deprecate Java 8 in the next major 2.x release, which is 2.9

[2022-01-04 15:18] praphull commented on #10512
@JFCote, since you're using custom error handler in your example, you could very well add the additional header [within the error handler](https://github.com/JFCote/play-framework-filter-problem/blob/master/app/handlers/ErrorHandler.java#L37). This gives you more fine grained control over what headers you want to set during server/client errors.

[code]

This doesn't add any headers from other ena

[2022-01-04 16:39] mkurz opened #11082 "Version conflict using Play 2.8.11 / sbt 1.5.+ / play-ws 2.1.6"
[code]
[code]
[code]
[code]

This simple setup makes sbt complain:

[code]

This only happens when `scalaVersion` is set to `2.12.15`. When setting it to scala 2.13.x, the problem vanishes.
That is because akka, as well as Play, does set the `scala-java8-compat` version conditionally depending on the Scala version.

Akka 2.6.18 ([link](https://github.com/akka/akka/blob/v2.6.18/project/Dependencies

[2022-01-04 17:15] GKuldeepak-Knoldus commented on #11034
Hi Everyone,
I would like to work on this issue.

[2022-01-04 21:00] mkurz commented on #11082
Fixed by #11083

[2022-01-04 21:00] #11082 closed

[2022-01-06 15:56] JFCote commented on #10512
@praphull First thing, thanks for taking the time to check this issue.

Unfortunately, I must disagree with you and argue, as you planned, that Security Headers that are in the `application.conf` should be applied at all time. If you think about it as a user of the Play Framework who chose to add security header when starting the deployment of the app (or just let the default). This user don't wan

[2022-01-06 19:16] coderman2022 opened #11085 "how to exclude io.jsonwebtoken:jjwt:0.9.1 from Play's sbt build"
### Play Version
2.8.11

### Operating System
macOS Monterey 12.1

### JDK
OpenJDK Runtime Environment AdoptOpenJDK-11.0.11+9 (build 11.0.11+9)
OpenJDK 64-Bit Server VM AdoptOpenJDK-11.0.11+9 (build 11.0.11+9, mixed mode)

### Expected Behavior
Play has dependencies on io.jsonwebtoken:jjwt:0.9.1. Normally this causes no problems. However, unfortunately I am using a library that uses a different im

[2022-01-06 19:58] coderman2022 commented on #11085
I tried adding this:

`excludeDependencies += "io.jsonwebtoken" % "jjwt",`

after `libraryDependencies ++= Seq(...)`

but when I do `sbt dependencyTree`, the jwt still shows up unfortunately.

[2022-01-06 21:09] MikeEngUSA opened #11086 "When running Play from sbt when piping input/output, web-application shuts down immediately after starting"
I am using _Play_ with _IntelliJ IDEA 2021.3.1 (Ultimate Edition)_, together with the _IntelliJ Play Framework_ plugin (v 213.5744.125). I am reporting this problem here, because I believe the issue lies with how the _Play_ web-server executes, rather than with how _IntelliJ_ runs the _Play_ application. The application is using _SBT_ v1.5.8 to build, with _Scala_ 2.13.7.

The problem is that the

[2022-01-06 21:30] MikeEngUSA opened #11087 "Cannot build Play application with SBT 1.6.1"
I recently attempted to update _SBT_ to v1.6.1, from v1.5.8. The _Play_ application used to build without problem on the earlier version of _SBT_, but fails with a very peculiar error with the latest release.
### Play Version

2.8.12

### API

Scala

### Operating System

Windows 10 Pro 64-bit (21H1)

### JDK

openjdk version "11.0.13" 2021-10-19 LTS
OpenJDK Runtime Environment Zulu11.52+13-CA (bu

[2022-01-06 22:11] MikeEngUSA commented on #11086
In fact, the same problem occurs if the web application is invoked (as `sbt run`) from a _Windows_ batch file in which output is redirected to a file, so this issue has nothing to do with _IntelliJ_.

Doing this used to work with _Play_ v2.8.8.

To reproduce, create a _Windows_ batch file, called, say, `test.bat` with the following contents:
[code]
When you run this command, you'll see `test.log`

[2022-01-07 01:32] MikeEngUSA commented on #11087
This could be an issue in _SBT_, rather than _Play_: https://github.com/sbt/sbt/issues/6774

[2022-01-07 06:28] FXHibon commented on #10512
Hello @JFCote

I've been looking at your filter problem

There is something interesting in the error handling on the **/message-exception** endpoint :

https://github.com/JFCote/play-framework-filter-problem/blob/master/app/controllers/AsyncController.java#L56

The endpoint is describes as :  `public CompletionStage<Result> messageException()` : meaning that success must be wrapped in a **Completi

[2022-01-07 08:58] mkurz commented on #11087
Seems like an probem in sbt, however I keep this ticket open and track it for the 2.8.13 release.

[2022-01-07 09:02] mkurz commented on #11086
Thanks for the report, I will have a look the next days.
Fortunately, meanwhile you can still run `sbt run` from the command line.
@gmethvin I am pretty sure this a is a consequence of #10890.

[2022-01-07 09:19] mkurz commented on #11085
I tried with Play 2.8.11, sbt 1.5.8 and Scala 2.13.7 and `excludeDependencies += "io.jsonwebtoken" % "jjwt"` did work for me.
Did you run `reload` or did you restart sbt after changing `build.sbt`.
If that still does not work, can you please post your `libraryDependencies` config? Also which sbt-plugins have you enabled?

[2022-01-07 11:42] gmethvin commented on #11086
It seems like this might be a Windows-specific bug, as I'm not able to reproduce on macOS.

I created an equivalent shell script:
[code]
and that works as expected.

So I wonder what Windows does that's different here...

[2022-01-07 11:55] JFCote commented on #10512
@FXHibon Thanks for taking the time even if it's not a solution after all. Also, I must say that the example I did was with the async API of Play Framework with `CompletionStage` and all but the real code in production where I discovered this bug is using the regular API and no async so I'm not breaking the contract and still have the bug.

Anyway, thanks for trying! :)

[2022-01-07 12:36] gmethvin commented on #11078
I agree this seems like the right time to drop support.

[2022-01-07 14:58] mkurz commented on #11086
I can reproduce this, let's see if we can fix this on Play's side or if IntelliJ  has to do something against it...

[2022-01-07 16:57] mkurz commented on #11086
@greg Did you use sbt 1.4 or newer? Because I can reproduce on my Ubuntu machine with 1.4.9, 1.5.8 and 1.6.1, but not with 1.3.13 and below. Also I think I have a clue already what's going on...

[2022-01-08 02:04] gmethvin commented on #11086
On macOS it works as expected for me on sbt 1.6.1 and Play 2.8.12.

[2022-01-08 02:58] gmethvin commented on #10512
This seems like a deliberate "feature" of the design of filters, since most filters don't want to try to handle the result after an uncaught exception occurs, and in general it's hard to know whether it's even safe for the filter to do its work at that point. Basically I agree with what @praphull said (https://github.com/playframework/playframework/issues/10512#issuecomment-1004899011):

The secur

[2022-01-08 04:50] coderman2022 commented on #11085
Thanks for your help! My mistake was that I was not putting `excludeDependencies` at the top level of build.sbt, and was only putting it after my own explicitly-listed dependencies. That meant the "exclude" was not affecting Play's transitive dependencies (for example `com.typesafe.play:filters-helpers_2.12:2.8.11` brings in `io.jsonwebtoken`), which do not appear explicitly in the `build.sbt`, bu

[2022-01-08 04:50] #11085 closed

[2022-01-08 09:45] mkurz commented on #11087
I am pretty sure this is a Windows specific sbt bug, so https://github.com/sbt/sbt/issues/6774 is the issue to follow here.

[2022-01-08 09:45] #11087 closed

[2022-01-08 16:05] GKuldeepak-Knoldus commented on #11034
Hi @jilen ,
Any updates on the issue ?

[2022-01-08 16:13] mkurz commented on #11086
@MikeEngUSA @gmethvin Here is a fix: #11088 Can you please help to test it? Instructions in the PR comment, thanks! If everyhing goes well, I will release 2.8.13.

[2022-01-08 16:15] GKuldeepak-Knoldus commented on #10614
Hi Everyone,
Is the issue has been fixed, if not can I pick this issue?

[2022-01-08 16:17] mkurz commented on #10614
@GKuldeepak-Knoldus feel free to open a pull request, I am happy to review it. thanks!

[2022-01-08 16:17] GKuldeepak-Knoldus commented on #10484
Hi Everyone,
I would like to work on this issue!

[2022-01-08 16:19] GKuldeepak-Knoldus commented on #10416
Hi @jroper ,
Can I pick this issue to work on! Please lemme know a bit more about it.

[2022-01-08 17:09] GKuldeepak-Knoldus opened #11089 "Update the external links"
I have been observing that there are few external links that contain `http` and can be upgraded to `https`.

[2022-01-10 01:50] jilen commented on #11034
I thought the it hangs on `AkkaModelConversion`

[2022-01-10 01:51] jilen commented on #11034
As well as `NettyModelConversion`

[2022-01-10 01:52] jilen commented on #11034
[code]
I patched `AkkaHttpServer` enforce timeout like this.

[2022-01-10 14:27] MikeEngUSA commented on #11086
@mkurz: Thanks for the rapid fix! I'm stuck in meetings this morning, but I'll test it this afternoon and report back whether it works for me.

[2022-01-10 14:31] mkurz commented on #11086
@MikeEngUSA No hurry! Thanks!

[2022-01-11 14:47] nemoo commented on #8759
So currently, the 'application.home' property is still not passed to conf/logback.xml in production mode. Can we reopen the issue?

[2022-01-11 15:01] mkurz commented on #8759
@nemoo I just tested, this is working in latest Play 2.8 version. No need to re-open.

[2022-01-11 16:27] MikeEngUSA commented on #11086
@mkurz I ran the tests and it worked for me. Further comments are logged against fix #11088. Thanks!

[2022-01-11 20:25] mkurz commented on #11086
Fixed by #11088

[2022-01-11 20:25] #11086 closed

[2022-01-12 09:20] nemoo commented on #8759
How to reproduce the problem:

- check out my example project that uses file appender as described in the play documentation with ("application.home:-"): https://github.com/nemoo/play-slick-synchronous-example
- sbt clean dist

Then:
 'application.home' is set if the dist shellscript is started from the root directory of the application.
 'application.home' **is not set** if the dist shellscript i

[2022-01-13 00:44] mkurz commented on #10484
@GKuldeepak-Knoldus Sure! Feel free to open a pull request! Thank you!

[2022-01-14 22:45] gmethvin commented on #10484
It seems like this is a broader issue than just the filters page. We need to fix the missing scaladoc.

@GKuldeepak-Knoldus it looks like your pull request just links to other pages or older versions of scaladoc instead, which doesn't solve the real problem unfortunately.

[2022-01-16 22:00] mkurz commented on #8113
With akka 10.2.x I think we could make that finally possible: https://github.com/akka/akka-http/pull/3049

[2022-01-17 15:24] GKuldeepak-Knoldus commented on #10484
Hi @gmethvin ,
Could you please elaborate a bit? As I have updated the links which are redirecting it to 2.8x, I believe which is the latest one.
Either I have to update the docs as well (if it is, please lemme know which one to update), or the entire links in the `documentation/manual/working/scalaGuide/main/application/ScalaHttpFilters.md`.

[2022-01-17 17:14] gmethvin commented on #10484
These are meant to be links to specific classes in the Scaladoc. You changed some of the links to go to general documentation pages like the `GzipEncoding` page rather than the `GzipFilterComponents` Scaladoc page, and you changed others to point to the Scaladoc pages for older versions of Play. Also, you hard-coded the URIs, which means they would need to be updated manually when we release new v

[2022-01-17 22:56] mkurz opened #11112 "Create SECURITY.md"
See https://github.com/playframework/play-samples/issues/151

[2022-01-17 23:55] mkurz opened #11113 "Fix failing tests after upgrade to akka-http 10.2.x"
In #11081 akka-http got upgraded, which resulted in two [failing tests](https://app.travis-ci.com/github/playframework/playframework/jobs/554669370#L2883):
[code]
To move on I just disabled the tests for now (https://github.com/playframework/playframework/pull/11081/files#diff-f4ddb770288fea113964ef88cc5d51deb88afbaf4a0439a2e92d3baa4606198c), however before cutting Play we definitely need to find

[2022-01-18 00:01] mkurz opened #11114 "Remove temporary sonatype snapshot resolver when akka 2.6.19 arrives"
In #11081 and #11109 I [added the sonatype snapshot resolver](https://github.com/playframework/playframework/pull/11081/files#diff-d7bc527911b0ef36c0602f027e30a2a59646ad7c38878c6dbf1f14772f12c5f5) to the `ScriptedTools`. That's because we are using a akka snapshot while waiting for akka 2.6.19. Scripted tests didn't contain the resolver, so they failed.

[2022-01-18 11:46] #10971 closed

[2022-01-18 11:50] mkurz commented on #10971
Finally, more than half a year of broken cron build :partying_face:

[2022-01-19 11:01] Max-AR commented on #10917
@ianknowles This looks like a duplicate of #11086. Upgrading to 2.8.13 should resolve that problem.

[2022-01-19 13:36] Max-AR commented on #10562
https://github.com/playframework/play-slick/pull/646

[2022-01-20 08:16] ndeverge commented on #11089
@GKuldeepak-Knoldus thanks. Could you please create a pull request, or tell us which urls need to be upgraded?

[2022-01-20 08:21] ndeverge commented on #11038
Hello,
It seems to be an issue on your side.
Why do you launch sbt with `gateway/runProd`?
Where does `gateway` come from?

[2022-01-20 15:11] nafg commented on #11078
I plan to drop it in Slick after 3.4.0, after two Scala Steward library upgrades no longer support Java 8, including hikaricp

[2022-01-23 12:55] GKuldeepak-Knoldus commented on #11089
Hi @ndeverge ,
Thanks for responding me back. I have raised a PR for the same which includes some fixes.

[2022-01-23 21:43] #11089 closed

[2022-01-23 22:03] mkurz commented on #10887
Fixed by #11070

[2022-01-23 22:03] #10887 closed

[2022-01-23 22:31] mkurz commented on #10527
I haven't seen this error in a while. We can re-open if it occurs again (also we are switching to GH anyway).

[2022-01-23 22:31] #10527 closed

[2022-01-23 22:44] mkurz commented on #10863
@TheAntimist Will you work on this?

[2022-01-23 22:48] TheAntimist commented on #10863
@mkurz I started work on it, but got covid. Just getting recovered and starting work on this again soon.

[2022-01-23 22:49] mkurz commented on #10863
@TheAntimist Oh, I am sorry, hope you get better soon! I didn't want to push you, just asking if there is still interest. Take your time.

[2022-01-23 23:13] mkurz commented on #8330
@MikeEngUSA Was that ever true in run mode? Can you say with which Play/sbt version it worked?  AFAIK forking `run` never worked in Play because they way it is implemented (overriding sbts `run` task if I remember correctly). Also see #7773
It works for `test` however.

[2022-01-23 23:16] mkurz commented on #8330
BTW: System properties set with `-D...` via `javaOptions` will be picked up even in run mode.
If you want to set anything else you can use the `.sbtopts` file like:
[code]
Also see `sbt -h`.
As alternative you can also use `.jvmopts` file:
[code]

[2022-01-23 23:25] mkurz commented on #6643
We will not add new features to 2.8.x anymore, only bug fixes. The `master` branch is what our focus is now (meaning 2.9.0)

[2022-01-24 00:26] #10614 closed

[2022-01-24 03:53] TheAntimist commented on #10863
@mkurz No worries, I intended on getting it done earlier. I will try to finish this within the upcoming 2-3 weeks once I get recovered.

[2022-01-24 07:19] mkurz commented on #10562
I will see if I can deploy the updated docs later today.

[2022-01-24 18:34] GKuldeepak-Knoldus commented on #11089
Hi @ndeverge ,
I believe that there might be some other links that also need to be updated as well. So, it would be better if we again open this issue for further updates.
Thanks

[2022-01-25 07:54] ndeverge commented on #11089
IMO, the best way is to create a new pull request if new links have to be updated.
And thanks for your contribution!

[2022-01-25 13:45] francisdb commented on #11004
This has been fixed

[2022-01-25 13:45] #11004 closed

[2022-01-25 13:56] francisdb opened #11127 "JDK 17 support"
### Play Version

2.8.13

### API

Scala

### Operating System

MacOS

### JDK

[code]

### Expected Behavior

Running play on JDK 17 works fine

### Actual Behavior

[code]

Some issues we see during tests:

[code]

[2022-01-25 16:06] arixmkii commented on #11127
It is a known issue and JDK 17 support is being worked on, but only for Play 2.9 future releases https://github.com/playframework/playframework/pull/10819

[2022-01-26 02:57] jilen commented on #10958
Might related to #10936

[2022-01-26 05:02] autodidacticon commented on #11038
`gateway` is a playframework module in a multi-module project. The `runProd` task doesnt appear to work in this context.

[2022-01-26 08:30] ndeverge commented on #11038
Thanks for the clarification.
We'd need more information to help, eg the `build.sbt` files from the module and the parent.

[2022-01-26 16:52] autodidacticon commented on #11038
The child module does not have a separate build.sbt.

Here is the relevant snippet from the parent:

[code]

[2022-01-26 22:20] BillyAutrey commented on #11038
This config makes sense to me, but it doesn't seem immediately clear why this is behaving this way.  Do you happen to have a minimal reproducer I can check out?

[2022-01-27 14:32] plouf142 commented on #10486
A workaround, is to provide an alternative HttpErrorHandler, see https://www.playframework.com/documentation/2.8.x/JavaErrorHandling or https://www.playframework.com/documentation/2.8.x/ScalaErrorHandling.

The default samples are working fine! That helps me a lot.

[2022-01-29 22:45] mkurz commented on #10917
@ianknowles does Play 2.8.13 work for you?

[2022-01-29 23:04] mkurz commented on #11127
Like mentioned by @arixmkii we will add Java 17 support in Play 2.9. Closing because we already have #10819

[2022-01-29 23:04] #11127 closed

[2022-01-30 05:00] PromanSEW opened #11133 "[2.8.13] ClassNotFoundException while loading module after update"
### Play Version

2.8.13

### API

Java?

### Operating System

Windows 11

### JDK

java version "1.8.0_301"
Java(TM) SE Runtime Environment (build 1.8.0_301-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.301-b09, mixed mode)

### Library Dependencies

Scala 2.13.5, Guice

### Expected Behavior

Successfully run server after upgrade
Play 2.8.7 -> 2.8.13
Scala 2.12.12 -> 2.13.5
SBT 1.3.13 -> 1.6

[2022-01-30 05:25] PromanSEW commented on #11133
I updated other project without modules, and Play does not see any routes. I looked for Routes.scala everywhere, and compiled classes of project, but I couldn't.
I created sbt dist, and project jar is also empty, without any classes
Maybe this is root problem
P.S. I am running dev server from IDE

[2022-01-30 05:29] PromanSEW commented on #11133
Confirmed. On 2.8.7 folder `target/scala-2.12/classes` has all classes compiled, on 2.8.13 this folder is empty (scala-2.13)

[2022-01-30 05:38] PromanSEW commented on #11133
Fixed. I am idiot
I deleted
[code]
from build.sbt and fix problem
Deprecated syntax was mistakely changed from
[code]

[2022-01-30 05:38] #11133 closed

[2022-01-30 08:57] mkurz commented on #10486
@cyrilfr It looks like your problem is not related to this issue here. A null pointer exception can be caused by any code, so I guess it's a problem in your app code.

[2022-01-31 13:54] PromanSEW opened #11137 "Incompatibility with Heroku (Java 11, GraalVM)"
### Play Version

2.8.13

### JDK

Java 11.0.14 (GraalVM)

### Library Dependencies

Scala 2.13.5, SBT 1.6.1

### Expected Behavior

Successfully deploy on Heroku with Java 11

### Actual Behavior

Errors while deploying and "Application Error" when opening site

Build log:

[code]

[2022-01-31 13:59] mkurz commented on #11137
Please try again with latest Scala 2.13.8

[2022-01-31 14:17] PromanSEW commented on #11137
@mkurz other errors:
[code]

[2022-01-31 14:19] mkurz commented on #11137
I never used GraalVM, maybe this helps: https://www.playframework.com/blog/play-on-graal

[2022-02-01 00:04] rbueker commented on #11137
I had the same issue.

The problem occurs when using (Oracle Corporation Java 11.0.14). This is the current default JDK11 on Heroku.

Setting the system.properties file to:
`java.runtime.version=11.0.13`

Allows the build to proceed using (Oracle Corporation Java 11.0.13) without the various graalvm errors.

[2022-02-01 03:43] PromanSEW commented on #11137
@rbueker I tried this but got Application Error anyway. While using 11.0.13 locally there are no errors, at least in dev mode. I will try to run in production...

[2022-02-01 04:45] PromanSEW commented on #11137
I crteated new app with the same codebase, and it does not crash... LOL
I swap apps, and all works. Thanks @rbueker

[2022-02-03 11:52] mkurz opened #11143 "Correctly set snapshot version"
We use [sbt-dynver](https://github.com/dwijnand/sbt-dynver) to set the version for the Play project based on git tags.
E.g. when you run sbt in the Play project folder you will see:

[code]

You can see even we are on the master branch and even though we are working on Play 2.9 it shows `2.8.1+....`
So the version is based of the 2.8.1 tag, because this is the last tag that sbt-dynver can see on t

[2022-02-06 16:58] gaeljw commented on #11143
@mkurz How would you detect if the `x.y.z` version should be last tag with bugfix incremented by 1 or minor incremented by 1?

For example, if last tag is `2.8.13`, on which criteria should the version be `2.8.14` versus `2.9.0`?
I initially though of using the branch name (`main` meaning increment minor version, anything else meaning increment bugfix version) but this doesn't make much sense as p

[2022-02-06 17:32] mkurz commented on #11143
@gaeljw Since the code will either live in the `main` branch or the `2.8.x` branch, it doesn't really have to check for the branch name. The code in the `main` branch will just increment to `2.9.0` because its the code in the main branch. Same for the 2.8.x branch. No detection needed. Do you know what I mean?

[2022-02-06 17:37] gaeljw commented on #11143
Oh you mean it's "static" and when `main` will be for version 2.10.x we'll manually update the _build.sbt_?

And for branch `2.8.x`, should the `2.8.14` be "static" as well and updated as part of the release process?

[2022-02-07 12:56] ihostage commented on #11143
No, it will be not static. It will be dynamic, but code in the `main` branch will increase a **MINOR** version, and code in other branches will increase a **PATCH** version. 😉

No, code won't change in the release process, because it will work correctly after release just finds a new release tag. 😉

[2022-02-07 12:59] ihostage commented on #11143
`x.y.z` - found latest release tag.

`main` branch:
 **now** - `x.y.z` ➡️ `x.y.z+distance-...-SNAPSHOT`
 **to be** - `x.y.z` ➡️ `x.${y+1}.z-SNAPSHOT`

`2.8.x` branch:
 **now** - `x.y.z` ➡️ `x.y.z+distance-...-SNAPSHOT`
 **to be** - `x.y.z` ➡️ `x.y.${z+1}-SNAPSHOT`

[2022-02-07 16:20] mkurz commented on #11143
Thanks @ihostage, nice explanation. So basically the dynamic part is to increase the minor version in the main branch and to increase the patch version in the 2.8.x branch. However IMHO it is not necessary to detect, based on the branch, if the minor or the patch version should be increased. That can be hardcoded and as soon as we fork the 2.9.x branch from the main branch, we will just change the

[2022-02-08 14:53] mkurz commented on #11112
Should actually go into the [`.github`](https://github.com/playframework/.github) repo: https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/creating-a-default-community-health-file

[2022-02-08 19:30] rbueker commented on #11137
Heroku support should release an updated scala buildpack this week that should fix the graalvm compiler warnings.

[2022-02-10 10:18] mkurz commented on #10965
We should be able to work around that, see https://github.com/playframework/play-meta/issues/216

[2022-02-10 10:56] bmo-at commented on #11025
Do you mind sharing?

[2022-02-10 14:43] jrudolph opened #11163 "PlayBodyParser.file should handle StreamConverters.fromOutputStream failing"
Right now it does `map(_ => Right(...))`, i.e. it assumes that writing to the file worked in all cases, which is not given if the stream was failed in any way. Instead, it should look at the provided IOResult and extract and propagate failures inside.

[2022-02-10 15:07] jrudolph opened #11164 "AkkaHttpServer should use PhaseServiceRequestsDone to drain requests"
`AkkaHttpServer` runs `binding.terminate` inside the `PhaseServiceUnbind` phase:

https://github.com/playframework/playframework/blob/6514ebdad9143cbef4a114997c35eb36720f31f6/transport/server/play-akka-http-server/src/main/scala/play/core/server/AkkaHttpServer.scala#L469-L485

Akka actually provides two phases for unbinding and then for draining existing requests.

Here's how akka-http uses the ph

[2022-02-10 22:12] mkurz commented on #11164
Thanks!
Maybe we can do that as part of the work to switch to akka 10.2.x in #10411

[2022-02-10 22:15] mkurz commented on #11143
@gaeljw You want to work on this? Was our explanation good enough or is there something unclear?

[2022-02-10 22:16] mkurz commented on #11137
Good this is resolved!

[2022-02-10 22:16] #11137 closed

[2022-02-10 22:46] mkurz commented on #11017
"Recommended Security Severity: Low". according to https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=32173.
Also I don't think we will upgrade Jackson in the 2.8.x branch anymore. Users still can override the dependency if desired.

Let's keep this open for Play 2.9 however, we should be able to upgrade to Jackson 2.13.x, even though akka still depends on 2.11, see this comment: https://github

[2022-02-11 11:59] gaeljw commented on #11143
@mkurz Okay, then I can give it a try when I have a bit of time.

[2022-02-11 16:24] mkurz commented on #11035
@PromanSEW Now that we have a new release of ebean, is it possible you test this with latest Play 2.8.13?

[2022-02-11 17:06] mkurz commented on #10958
@jilen I can't see how `play.server.akka.requestTimeout` would affect this issue here. Can you elaborate?

[2022-02-11 17:42] gaeljw commented on #11143
Pushed a quick draft that works for the `main` branch:
[code]

Tested by making a local tag `2.9.x` and running again:
- if no change since tag => `2.9.x`
- any change => `2.10.0-sha-SNAPSHOT`

I have to admit I'm not hyper confident with this, any feedback welcome.

[2022-02-12 08:14] PromanSEW commented on #11035
@mkurz The same error, but with stack trace, there was no stack trace before. This is the one change, unfortunately
`conversionError`:
`Character 1071 cannot match AsciiSet because it is out of range`

[2022-02-13 01:39] TheAntimist commented on #10863
@mkurz Just to let you know I've started work on this last week. Been testing it and checking a few things, hopefully I'll get it completed soon.

[2022-02-13 11:26] jilen commented on #11034
@mkurz  I use that patch to see where hangs happens(in akka-http or play itself). That patch seems make hangs less frequently but not solve the problem

[2022-02-13 11:28] AndySakov commented on #9837
This still need fixing?

[2022-02-13 11:30] jilen commented on #10958
@mkurz  That setting has nothing to do with body parser. But both body parser and result simply depens on `Accumulator`. So I suspect the two issue might be related.

[2022-02-13 11:32] AndySakov commented on #9844
I think I'll work on this

[2022-02-14 10:12] mkurz commented on #9844
@AndySakov Sure, just open a pull request, if you need any help please let us know!

[2022-02-14 16:31] GithubUser8080 opened #11170 "Security issue: Play allows unauthenticated uploads"
Hi, we have encountered a critical security issue using Play 2.8. It looks like bodyparsers are run before any authentication actions. This means that controllers which required a token to be accessed can be used to upload malicious files temporarily without any present authentication, due to the default multipart bodyparser.

We would appreciate any workaround to this, or a potential future fix.

[2022-02-14 17:03] BillyAutrey commented on #11170
Hi @GithubUser8080 - do you have a minimal reproducer that we can examine?

[2022-02-14 17:20] autodidacticon commented on #11038
https://github.com/autodidacticon/sbtplaytestparent

[2022-02-14 19:21] BillyAutrey commented on #11170
Ah, interesting.  So this doesn't even need to technically accept `Action(parse.multipartFormData)`?  Just by using a custom action builder, you're saying that it processes (and accepts upload of) a file on a `POST     /     com.example.MyClass.controller()`?

A minimal reproducer doesn't necessarily need to be in your domain, however.  If you are able to provide a minimal reproducer (and just sha

[2022-02-15 08:14] GithubUser8080 commented on #11170
Thanks @mkurz, your PR is definitely the feature we need. If it makes it in 2.9 it would be great news.  I suppose you can close this issue as a duplicate then!

[2022-02-15 10:28] hertg opened #11171 "Unable to map snake_case JSON to Play Form with camelCase fields (Java)"
### Short description
I use Play forms to validate API request bodies and bind the request to the form as follows:
[code]

When the request body contains `snake_case` fields, they aren't mapped to the corresponding `camelCase` fields on the Play form, even when explicit `@JsonProperty` or `@JsonNaming` strategies are defined.

*Request*
[code]

*Form*
[code]

### Play Version
[code]

### API
[code

[2022-02-15 13:25] #11170 closed

[2022-02-15 22:08] mkurz commented on #11171
Thanks for the reproducer. You are right this isn't working right now.

[2022-02-15 22:45] mkurz commented on #11038
Looks like this is a bug in sbt (?)
All Play does it adds `runProd` to `commands`:
https://github.com/playframework/playframework/blob/a4b4198bf6de7bc599f869971abdf86fa16966c5/dev-mode/sbt-plugin/src/main/scala/play/sbt/run/PlayRun.scala#L205
https://github.com/playframework/playframework/blob/a4b4198bf6de7bc599f869971abdf86fa16966c5/dev-mode/sbt-plugin/src/main/scala/play/sbt/PlaySettings.scala#L

[2022-02-15 22:50] mkurz commented on #11002
I think a better place to ask this question is in the repo of the Gradle Play Plugin: https://github.com/gradle/playframework/

[2022-02-15 22:58] mkurz commented on #11035
@PromanSEW Can you please provide me a reproducer? Thanks!

[2022-02-16 09:09] mkurz commented on #11029
Actually do you need the request object directly in the controller method before you call the method `WebSocket.Text.acceptOrResult(request -> ...)` in which you have access to the request anyway (?)
Just remove the request as param:
`public WebSocket socket() {`
and in the routes file too
[code]
and it should work.

[2022-02-16 09:27] mkurz commented on #11029
I removed the request param from the action method in the docs: #11172

[2022-02-16 10:07] mushu301 commented on #11029
@mkurz Thanks for checking.

We ended up refactoring the code so that it doesn't require the request when building the WebSocket. However, It would have made the migration easier if the request had been implicitly provided to the action.

[2022-02-16 10:10] mkurz commented on #11029
@mushu301 Did you have the need to access the request before calling `acceptOrResult(request -> ...?
Like:
[code]

[2022-02-16 10:17] mushu301 commented on #11029
Not in our case, moving everything in the accept method was fine.

[2022-02-16 10:21] mkurz commented on #11029
Great, so basically this was a documentation bug.

[2022-02-16 10:58] mkurz commented on #10999
Yes. And this is correct. If you look at the error page in dev mode when visiting http://localhost:9000/Gx0YLry_RXM.txt you will see:
<kbd><img width="800" src="https://user-images.githubusercontent.com/644927/154241277-7a8a63b6-f2af-492d-bacd-57e7a6251d6f.png" /></kbd>
You see [Play replaces](https://github.com/playframework/playframework/blob/a4b4198bf6de7bc599f869971abdf86fa16966c5/dev-mode/rou

[2022-02-16 11:01] mkurz commented on #11034
A reproducer would be a nice thing to have.

[2022-02-16 11:03] mkurz commented on #10958
@iagodvsantos Did you find out what's going on here?

[2022-02-16 11:11] mkurz commented on #10957
@gokhanoner Maybe I am confused, but after accessing the cache you should be back on the original thread anyway or not? Or do you want to use the ThreadLocal inside the cache operation?

[2022-02-16 11:16] mkurz commented on #10937
@marcadella Thanks! Do you want to provide a pull request to fix the docs?

[2022-02-16 12:14] mkurz commented on #10972
[Values of `envVars` are only passed when forking the JVM](https://github.com/sbt/sbt/blob/50c3cf10825bae3e89af11b3a2c9741e6d98add5/main/src/main/scala/sbt/Keys.scala#L296):
[code]
By default, when using `sbt run` the JVM doesn't get forked. Therefore everything is ok.
Actually setting `fork := true` for `sbt run` does not even work, see #11120.

However you can set
[code]
and use that env var in

[2022-02-16 12:14] #10972 closed

[2022-02-16 12:26] mkurz commented on #10917
@ianknowles I am closing this as duplicate of #11086, however, if the problem still occurs with Play  2.8.13, please let us know. Thanks!

[2022-02-16 12:26] #10917 closed

[2022-02-16 12:34] mkurz commented on #10911
Seems like https://github.com/guardian/play-secret-rotation is exactly what @vsabella was asking for. We might want to add it to our modules page: https://www.playframework.com/documentation/2.8.x/ModuleDirectory

[2022-02-16 13:11] mkurz commented on #10882
I guess you don't actually mean the variable name, but the value of `APPLICATION_SECRET`?

I tried to reproduce this setting `APPLICATION_SECRET` in `/etc/environment` and `play.http.secret.key=${?APPLICATION_SECRET}` in `application.conf` and for me, when using `sbt stage` and running the app with `./target/universal/stage/bin/test-app` it did work, the secret got picked up and the app started.

[2022-02-16 14:45] mkurz commented on #10873
This would need experimenting to see if something like this is even possible with the way Play's routing and action methods calls work right now.

So, if I understand correctly, you don't want to repeat the call of
[code]
in each action method.

What about adding a small helper method like:
[code]

So, you can just call `acHost(request)` when you need that object. This comes close to just having `

[2022-02-16 14:58] mkurz commented on #10867
I am closing this now that sbt 1.6 is released which should work well with Apple silicon.

[2022-02-16 14:58] #10867 closed

[2022-02-16 15:02] mkurz commented on #10862
I am closing this a fixed because the dependency got upgraded in the main branch already.
For 2.8 there is no need since it's a library only used in tests.

[2022-02-16 15:02] #10862 closed

[2022-02-16 15:59] mkurz commented on #10622
So it turns out we have different regex for the Scala and the Java API:
https://github.com/playframework/playframework/blob/a4b4198bf6de7bc599f869971abdf86fa16966c5/core/play/src/main/scala/play/api/data/validation/Validation.scala#L80
https://github.com/playframework/playframework/blob/a4b4198bf6de7bc599f869971abdf86fa16966c5/web/play-java-forms/src/main/java/play/data/validation/Constraints.java

[2022-02-16 17:44] gokhanoner commented on #10957
Yes. I need that ThreadLocal inside the cache operation. When using
ehcache, it works as expected, since its SyncCache is actually executed in
the same thread, rather than wrapped around the async one.

On Wed, Feb 16, 2022 at 03:11 Matthias Kurz ***@***.***>
wrote:

[2022-02-17 01:42] jilen commented on #11034
Close this in favor of #10936

[2022-02-17 01:42] #11034 closed

[2022-02-17 08:36] PromanSEW commented on #11035
Sorry, but this service requires OAuth authentication for access, I can't provide this data :(

[2022-02-17 11:18] marcadella commented on #10937
There was two things: the doc error, but also the fact that the server receives the request without body (which is the main issue).

[2022-02-18 01:29] will-sargent-eero commented on #11163
It looks like in this case IOResult is always successful, so there wouldn't be anything to check

https://github.com/akka/akka/blob/main/akka-stream/src/main/scala/akka/stream/IOResult.scala#L21

[2022-02-22 13:05] mkurz commented on #9837
@AndySakov I think yes, so if you want to work on this feel free to open a pull request.

[2022-02-23 20:49] Captain1653 commented on #10873
@mkurz Thank you for your response. The helper can help, but our main idea is "Use our domain objects in the signatures of our methods of controllers without additional helpers, Play's `Request` and etc". It will make the code cleaner and simpler.

[2022-02-23 21:38] mkurz commented on #10873
@Captain1653 sure. However, to be honest, such a feature isn't priority right now. Sure it would be nice to have, but there a lot of things which would be nice to have. Feel free to provide a pull request anytime.

[2022-02-24 20:01] Captain1653 commented on #10873
@mkurz Can you give me some starting point for my research? Some classes, documentation and etc... Play Framework [has similar approach](https://www.playframework.com/documentation/2.8.x/RequestBinders), but the approach requires :

Our new approach calls DB or does other HTTP-request (unlikely to happen).

[2022-02-26 18:00] y-yu opened #11174 "Akka coordinated shutdown timeout setting for graceful shutdown"
See also #11144 .

### Play Version

- 2.8.x

### Expected Behavior

For example,

1. Set akka `service-unbind.timeout` by Playframework setting (automatically) 🤔

### Actual Behavior

- If `terminationTimeout` would be longer than `akka.coordinated-shutdown.phases.service-unbind.timeout`, then the server shutdown in `service-unbind.timeout` and doesn't wait for `terminationTimeout` .
    - In #11

[2022-03-03 04:08] jilen commented on #10936
Find out caused by incorrect use of `trampoline` execution context.

[2022-03-03 04:08] #10936 closed

[2022-03-08 21:47] mkurz commented on #10962
Fixed by #11175

[2022-03-08 21:47] #10962 closed

[2022-03-09 15:55] mkurz commented on #10927
@morellik I had a look and I think what needs to be done is:
Below this line we should have a variable that stores the test server address:
https://github.com/playframework/playframework/blob/6e3403ec43ff3f633668ef147172e8c541bacd5e/testkit/play-test/src/main/scala/play/api/test/Helpers.scala#L142
[code]
Now we need to use this variable when creating a test server.
For Play Java that is here:
http

[2022-03-10 07:38] morellik commented on #10927
Ok, I'll try to do it

[2022-03-10 10:27] morellik commented on #10927
I pulled the request. I hope that all works fine

[2022-03-10 11:04] morellik commented on #10955
Fix pulled

[2022-03-10 12:24] mkurz commented on #11035
@PromanSEW Did you find out what's going on? Or did you implement a workaround?
Are you 100% sure that the line
[code]
is the real problem?
It's hard for me to help if I can't have more information. I tried to make a reproducer however `redirect` worked just fine:
[code]

There was a similiar bug once, see #9178. For me it seems there is something wrong with the response of the ws api you call, ma

[2022-03-10 14:27] raboof opened #11194 "Truncated POST request leads to error in the logging"
### Play Version

2.8.8

### API

Scala

### Operating System

Linux rigter 5.16.5 #1-NixOS SMP PREEMPT Tue Feb 1 16:29:20 UTC 2022 x86_64 GNU/Linux

### JDK

openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment AdoptOpenJDK-11.0.11+9 (build 11.0.11+9)
OpenJDK 64-Bit Server VM AdoptOpenJDK-11.0.11+9 (build 11.0.11+9, mixed mode)

### Expected Behavior

1. A client performs an HTTP POST

[2022-03-10 14:46] jrudolph commented on #11194
Isn't the problem only triggered by aborting the connection? In that case, there's no good way to report an error back to the client.

I guess the most important thing would be to avoid the error log in that case.

[2022-03-10 14:49] raboof commented on #11194
It's also triggered by closing the request side normally before finishing writing all the bytes you promised in the `Content-length` header.

Agreed

[2022-03-10 14:53] jrudolph commented on #11194
You mean making use of half-closed connections? Ok, in that case, a client might be able to read the result, though, there's a lot that can go wrong if not the whole pipeline makes it work.

Probably it would be enough to add a new case at

https://github.com/playframework/playframework/blob/6e3403ec43ff3f633668ef147172e8c541bacd5e/transport/server/play-akka-http-server/src/main/scala/play/core/se

[2022-03-10 23:03] mkurz commented on #10937
@marcadella I fixed the documentation here: #11195

However, your claim

isn't true IMHO. The body gets consumed and will be forwarded to the target of `ws.url(...)`, like written [in the docs](https://www.playframework.com/documentation/2.8.x/ScalaBodyParsers#Directing-the-body-elsewhere): "...when you actually don’t want to parse the body, rather, **you want to stream it elsewhere.**"

I created

[2022-03-10 23:17] mkurz commented on #11035
BTW: I tried to reproduce with this project https://github.com/mkurz/playframework-reproducers/tree/main/playframework-11035 but I wasn't able to.

[2022-03-11 13:01] mkurz commented on #10972
BTW: I was using this reproducer: https://github.com/mkurz/playframework-reproducers/tree/main/playframework-10972

[2022-03-11 14:05] mkurz commented on #10999
Here is the reproducer I was using: https://github.com/mkurz/playframework-reproducers/blob/main/playframework-10999
Specially the routes file is interesting: https://github.com/mkurz/playframework-reproducers/blob/main/playframework-10999conf/routes

[2022-03-11 14:19] mkurz commented on #10937
@marcadella Merged the doc fix pr #11195.
I am closing this issue since my reproducer in the above commit works. Please let me know if you think I am wrong.

[2022-03-11 14:19] #10937 closed

[2022-03-14 15:01] PierreAdam opened #11198 "PathBindable vs QueryStringBindable"
Hi there !

Currently, when you make an object `PathBindable` it's impossible to also make it `QueryStringBindable` at the same time.
The reason being that the method `String unbind(String key);` is utilized by both `PathBindable` and `QueryStringBindable` but in two very different way.
The first expect only the value to add to the path which the second expect a query string syntaxe such as `key1=

[2022-03-15 21:20] mkurz commented on #11198
Yeah, I think that would be the prefered solution. However, we should deprecate the old method names and still support them to not break existing apps.
Do you want to provide a pull request?

[2022-03-17 19:46] tareksalem opened #11199 "java.util.concurrent.CompletionException: javax.persistence.RollbackException: Error while committing the transaction Table doesn't exist"
### Play Version
2.8

### API

JAVA

### Operating System

LINUX UBUNTU

### JDK
Java 11

### Library Dependencies

Mysql, JPA, Hibernate

### Problem

I have an entity defuned as the following:
[code]
and here is my `sbt.build` file

[code]
and here is my `application.conf` file
[code]
And here is my controller
[code]

But when I try to make the post request to this controller action, I get the f

[2022-03-18 13:04] mkurz commented on #11199
I hope you mean `build.sbt` file :wink:

The problem is not really related to Play. The problem is the table `SHIPMENTS` does not exist:
[code]

You could create the table with an evolution script, see https://www.playframework.com/documentation/2.8.x/Evolutions
As an alternative you can also set
[code]
in `persistence.xml` which automatically creates you the tables, https://stackoverflow.com/ques

[2022-03-18 15:23] tareksalem commented on #11199
thanks I added this line and worked fine

[2022-03-18 15:23] #11199 closed

[2022-03-21 21:29] mkurz commented on #11114
Fixed in 2.8.x: #11202
Fixed in main: #11203

[2022-03-21 21:29] #11114 closed

[2022-03-23 00:05] #6183 closed

[2022-03-23 10:12] mkurz commented on #8759
I had a look. Looks like (if a am not wrong, because I didn't debug, just looking) `application.home` gets initialized from the `environment` whose `rootPath` is initialized with `new File(".")`, which obviously would use the wrong directory if called from within `/bin`.
Note to myself: Interestingly we also have the `play.server.dir` config key and the `user.dir` property, so maybe we want to ini

[2022-03-23 16:47] cunhazera opened #11208 "Request session data in private tab"
### Play Version

2.7.5

### API

Java

### Operating System

Mac OSX

### JDK

1.8

### Library Dependencies

### Expected Behavior

1. Login with an user on Chrome
2. Go to a private tab using Firefox
3. Request session is empty

### Actual Behavior

1. Login with an user on Chrome
2. Go to a private tab using Firefox
3. Request session contains the Chrome user data

### Reproducible Test Case

[2022-03-23 20:55] kritikaaarora435 commented on #8935
I am using applicationEvolutions.upToDate, but my module is not reloaded again, after the playEvolutions are executed.

[2022-03-26 16:01] francisdb opened #11209 "JDK 17 IllegalAccessError because Play listens to https port in tests"
### Play Version

2.8.14

### API

Scala

### Operating System

Darwin hostname.local 21.4.0 Darwin Kernel Version 21.4.0: Mon Feb 21 20:35:58 PST 2022; root:xnu-8020.101.4~2/RELEASE_ARM64_T6000 arm64

### JDK

[code]

### Expected Behavior

We can run tests using OneServerPerSuiteWithComponents/GuiceOneServerPerTest

### Actual Behavior

We get his error during test startup

[code]

### Reproduci

[2022-03-28 09:11] mkurz commented on #11209
Will look into this today, thanks!

[2022-03-28 13:52] francisdb commented on #11209
@mkurz let me know if you need more info or if you can't reproduce this

[2022-03-28 20:11] mkurz commented on #11209
@francisdb Even though you are not touching anything with certificates yourself probably, this fails because Play binds to both http and https ports when using `OneServerPerTestWithComponents` or `GuiceOneServerPerTest`. I am not going to change that right now in Play 2.8.x but will think about what to do about that in Play 2.9. As a workaround you have to add

[code]
to your `build.sbt` (of cours

[2022-03-28 20:24] mkurz commented on #11078
Well, I guess it makes sense to drop support Java 8 for Play 2.9 already :+1:

[2022-03-28 20:33] mkurz commented on #11209
Also now that #11173 got merged, and in keys we keep the https binding for `DefaultTestServerFactory`, we might want to introduce `Helpers.testServerHttpsPort`... See https://github.com/playframework/playframework/pull/11173#issuecomment-1081109412

[2022-03-28 21:18] mkurz commented on #11208
@cunhazera Login where? It seems that is a problem specific to your source code. Is it possible to providate a small project which reproduces the problem? Thanks!

[2022-03-28 22:04] cunhazera commented on #11208
@mkurz I think it's a problem with the `Http.Request` class. I realized that this problem doesn't happen with the `Context` class

[2022-03-28 22:05] mkurz commented on #11208
@cunhazera I would need more details so I can reproduce the problem. If you have source code or a small project that would be nice.

[2022-03-29 06:33] francisdb commented on #11209
Maybe the https part could be optional so by default everything works as expected without extra config?

[2022-03-29 06:36] francisdb commented on #11209
Thanks for looking into this, put some money in the sponsor jar.

[2022-03-31 07:43] mkurz commented on #11078
One more reason to drop Java 8: Just released Ebean 13 only works with Java 11+ as well: https://github.com/playframework/play-ebean/pull/252

[2022-04-02 04:48] PromanSEW opened #11217 "[2.8.15] CVE-2020-36518 in Jackson"
Looks like Maven shows problem with Jackson in 2.8.15:
https://mvnrepository.com/artifact/com.typesafe.play/play_2.13/2.8.15
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-36518
https://nvd.nist.gov/vuln/detail/CVE-2020-36518
https://github.com/FasterXML/jackson-databind/issues/2816

Fix is available only for 2.12.x and 2.13.x branch, Play uses 2.11.x, there is no information for this bra

[2022-04-05 06:22] amitkumaryadav2 opened #11218 "[2.4.0]Threads are not getting release in play Framework"
We are sending an http request to remote server(Where we are using flask framework) which return stream of data. So when all the data is transferred as a stream from using play framework, the threads are not getting released. Is there a way to release threads. We are just streaming the data from the remote server to the end customer, not reading the data at any place.

### Play Version

2.4.0

###

[2022-04-05 07:29] PromanSEW commented on #11218
2.4.x is EOL many time ago, and does not get updates

[2022-04-05 07:33] amitkumaryadav2 commented on #11218
@PromanSEW Will this issue is resolved if we update our version

[2022-04-05 07:54] PromanSEW commented on #11218
@amitkumaryadav2 sorry I don't know. 2.4 is too old, You need to follow migration guides for correct update to latest 2.8.x version
Your code won't compile without changes, I sure

[2022-04-05 08:32] mkurz commented on #11218
Like said by @PromanSEW already, Play 2.4.x is very out of date, there is no support for it anymore. You should upgrade to latest Play 2.8 as soon as possible, however that will be quite some work. Best thing is to upgrade version after version, so from 2.4 -> 2.5, then from 2.5 -> 2.6, and so on until 2.8.x. You always have to follow the migration guides for each migration step:
* https://www.pla

[2022-04-05 13:42] mkurz commented on #11217
That is the same story as in https://github.com/playframework/play-json/issues/632 and https://github.com/playframework/play-json/issues/633.
So IMHO for the next major release it now makes sense to finally upgrade to latest Jackson for play and  play-json.
For CVE-2020-36518 however I think users should upgrade the dependency themselves when on Play 2.8.x... Since I don't want to introduce breaki

[2022-04-05 14:07] mkurz commented on #10242
In #11219 I see how upgrading to latest jackson 2.13 goes. I needed to override `jackson-module-scala` version that `akka-serialization-jackson` pulls in.

[2022-04-05 16:14] aelgn opened #11220 "[2.8.15] Guice crash on startup using java17 with PlayJava plugin"
### Play Version
2.8.15

### API
Java

### Operating System
alpine

### JDK
jlinked openjdk 17.0.2_8

### Library Dependencies
[code]
etc...

### Expected Behavior

1. Server starts

### Actual Behavior

1. Crash on startup

Using java16 on play 2.8.x and/or java17 on play 2.8.15 with the `PlayJava` plugin results in guice having a meltdown on startup. Best I can tell the Hibernate Validator pollu

[2022-04-06 12:41] nielsbuwen opened #11221 "Unexpected different behavior when validating forms in different ways"
I found this unexpected behavior while validating forms:

- `Form.bind` correctly validates "global" constraints
- `Form.fillAndValidate` does not validate "global" constraints

Why do these cases behave differently?

Here is a minimal example.

[code]

This is only a simplified version of my actual code. There i use `mapping` with a case class. Some constraints can only be defined on the case cla

[2022-04-06 16:22] mkurz commented on #5765
@Gacko why did you close this issue, can you confirm it is fixed? Since multiple people confirm this issue, we should make sure it was fixed before closing.

[2022-04-06 22:40] mkurz commented on #11217
@PromanSEW I added a post on the CVE, please see #11222 how to upgrade to latest Jackson version.
I will close this issue now we have to pull request for 2.13 for the main branch.

[2022-04-06 22:40] #11217 closed

[2022-04-06 22:46] mkurz commented on #11017
Please see https://github.com/playframework/playframework/discussions/11222 how to upgrade Jackson in your Play 2.8 application.
Also this is the pull request to upgrade to latest Jackson 2.13 for the next Play major release: #11219

[2022-04-06 22:46] #11017 closed

[2022-04-07 06:50] tantalate opened #11225 "Adding JAR in /lib caused NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;Ljava/lang/Object;)V"
### 2.8.15

### JAVA

### Windows

### java version "11.0.14" 2022-01-18 LTS
### Java(TM) SE Runtime Environment 18.9 (build 11.0.14+8-LTS-263)
### Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.14+8-LTS-263, mixed mode)

After I added a JAR file in /lib folder, I got the following runtime error (occurred on any request).
The JAR file is an SDK comes from our cooperative team, and it works wel

[2022-04-07 07:56] aelgn commented on #11220
The problem is that an old validation-api artifact is packaged with the target.
The BootstrapConfiguration.getClockProviderClassName method is indeed not a part of the validation-api in versions earlier than 2.0
https://docs.jboss.org/hibernate/beanvalidation/spec/2.0/api/javax/validation/BootstrapConfiguration.html#getClockProviderClassName--

Digging around in the dependency tree reveals that:
[

[2022-04-07 08:40] mkurz commented on #11220
I see. So the problem is that the groupId changed and therefore both artifacts get packaged, because sbt is not evicting the old one:

* `jakarta.validation` (`jakarta.validation-api`)
* `javax.validation` (`validation-api`)

So the solution is to exclude the old api:
[code]

Closing since this is not caused by Play.
@aelgn Thanks again for the report!

[2022-04-07 08:40] #11220 closed

[2022-04-07 08:49] mkurz commented on #11225
Please don't create both an issue and a discussion (#11224) for the same problem.
Continuing at the discussion, since this is very likely not a Play problem (but we will see).

[2022-04-07 08:49] #11225 closed

[2022-04-07 15:03] mkurz commented on #11220
@sleski You have to keep
[code]
and **additionally** add
[code]

[2022-04-07 18:35] sleski commented on #11220
Thanks @mkurz, it works 🎉

[2022-04-08 20:08] cridmann commented on #10622
I can take a look at fixing this for the `2.9.0` release

[2022-04-09 03:57] oldcwj commented on #3106
[error] akka.ConfigurationException: Could not start logger due to [akka.ConfigurationException: Logger specified in config can't be loaded [akka.event.slf4j.Slf4jLogger] due to [akka.event.Logging$LoggerInitializationException: Logger log1-Slf4jLogger did not respond with LoggerInitialized, sent instead [TIMEOUT]]]

[2022-04-09 03:58] oldcwj opened #11229 "akka.ConfigurationException: Could not start logger due to [akka.ConfigurationException:"
jdk:1.8.0
play:2.8.15

[code]

[2022-04-12 14:18] takapi327 commented on #11198
@mkurz
Hi there !

The same seems to be true for PathBindable and QueryStringBindable defined in Scala.
When creating an object that inherits both PathBindable and QueryStringBindable, the unbind and javascriptUnbind and transform methods conflict.
This will cause conflicts even if these three methods are defined under different names as deprecated.

In Scala, would it be better to generate an imp

[2022-04-13 02:47] jilen commented on #11218
Seems you are makeing blocking http call inside default thread pool, that could be very dangerous.

[2022-04-13 19:59] mkurz commented on #11198
@takapi327 If deprecation does not work, we could break compatibility here, rename all the methods (e.g. `bind` becomes `bindQuery` for QueryStringBindable and also `bindPath` for the PathBindable). We can add a note for this in the migration notes for Play 2.9. IMHO that would work, because for major release we don't promise compatibility.

BTW: You work for [Nextbeat](https://www.nextbeat.co.jp/

[2022-04-14 04:48] takapi327 commented on #11198
@mkurz
I see, I can break compatibility by making a note in the Play 2.9 migration notes!

Create a pull request with this improved method.

I learned a lot. Thanks!

I am sorry. I will check on my end.

[2022-04-16 13:01] iammichiel opened #11243 "[2.3.10] unrecognized_name SSL error when using WS"
Hello,

When trying to access a file over HTTPS, I get the following error :

[code]

The line that throws the error :
[code]

From the comments I read online, this seems to be related to the SNI. Switching the url to google.com seems to work. I have tried the following :

- Add `ws.acceptAnyCertificate=true` in configuration,
- Add `ws.ssl.loose.disableHostnameVerification=true`
- Tried adding th

[2022-04-21 10:19] mkurz opened #11246 "Remove 3rd Party Tools page"
https://www.playframework.com/documentation/2.8.x/ThirdPartyTools
`documentation/manual/hacking/ThirdPartyTools.md`

After removing travis #11142
We don't use any third party tools AFAIK.

[2022-04-22 10:31] dEajL3kA commented on #10955
👍

[2022-04-24 18:48] mkurz commented on #10943
Since I guess this was related to Travis I am closing. We use GHA now.

[2022-04-24 18:48] #10943 closed

[2022-04-24 18:49] mkurz commented on #10677
Since this might be related to Travis and we use GitHub actions now, I am closing. We can open new issues if something turns up with GHA.

[2022-04-24 18:49] #10677 closed

[2022-04-24 18:49] mkurz commented on #10644
Since this might be related to Travis and we use GitHub actions now, I am closing. We can open new issues if something turns up with GHA.

[2022-04-24 18:49] #10644 closed

[2022-04-24 18:50] mkurz commented on #10618
Since this might be related to Travis and we use GitHub actions now, I am closing. We can open new issues if something turns up with GHA.

[2022-04-24 18:50] #10618 closed

[2022-04-24 18:51] mkurz commented on #10423
Since this might be related to Travis and we use GitHub actions now, I am closing. We can open new issues if something turns up with GHA.

[2022-04-24 18:51] #10423 closed

[2022-04-24 18:51] mkurz commented on #10385
Since this might be related to Travis and we use GitHub actions now, I am closing. We can open new issues if something turns up with GHA.

[2022-04-24 18:51] #10385 closed

[2022-04-24 18:51] mkurz commented on #10044
Since this might be related to Travis and we use GitHub actions now, I am closing. We can open new issues if something turns up with GHA.
Also we do not use jabba anymore on CI.

[2022-04-24 18:51] #10044 closed

[2022-04-24 18:52] mkurz commented on #10106
Since this might be related to Travis and we use GitHub actions now, I am closing. We can open new issues if something turns up with GHA.

[2022-04-24 18:52] #10106 closed

[2022-04-24 18:52] mkurz commented on #10112
Since this might be related to Travis and we use GitHub actions now, I am closing. We can open new issues if something turns up with GHA.

[2022-04-24 18:52] #10112 closed

[2022-04-24 18:52] mkurz commented on #10117
I haven't seen this error for a long time.
Also since this might be related to Travis and we use GitHub actions now, I am closing. We can open new issues if something turns up with GHA.

[2022-04-24 18:52] #10117 closed

[2022-04-24 18:53] mkurz commented on #10136
We use coursier now on GHA runners to set up the JVM so we can close this.

[2022-04-24 18:53] #10136 closed

[2022-04-24 18:54] mkurz commented on #10306
No more jabba used with GitHub actions which is the new cool kid on the block now.

[2022-04-24 18:54] #10306 closed

[2022-04-24 18:55] mkurz commented on #10139
We are using GitHub actions now. Caching works very different there. Closing.

[2022-04-24 18:55] #10139 closed

[2022-04-24 18:58] mkurz commented on #10337
Many moons have passed since this error. We are not even deploying Play 2.7 anymore.
Also we switched to GHA now and use sbt-ci-release now.

[2022-04-24 18:58] #10337 closed

[2022-04-25 00:08] mkurz commented on #10332
I haven't seen this failure quite a while. Since this might be related to Travis and we use GitHub actions now, I am closing. We can open new issues if something turns up with GHA.

[2022-04-25 00:08] #10332 closed

[2022-04-25 00:09] mkurz commented on #10340
We switched to GitHub actions, there we use coursier. No more jabba.

[2022-04-25 00:09] #10340 closed

[2022-04-25 00:10] mkurz commented on #10457
Outdated. No more Travis. GitHub actions is the new thing. Caching works different there.

[2022-04-25 00:10] #10457 closed

[2022-04-25 00:10] mkurz commented on #10209
Since this might be related to Travis and we use GitHub actions now, I am closing. We can open new issues if something turns up with GHA.

[2022-04-25 00:10] #10209 closed

[2022-04-25 00:13] mkurz commented on #10583
Not sure what was going on here. The last month the nightly job under Travis was working fine, also now with GHA I can not see a problem anymore. Therefore I am closing this issue. We can open new issues if something turns up with GHA.

[2022-04-25 00:13] #10583 closed

[2022-04-25 00:13] mkurz commented on #10533
Since this might be related to Travis and we use GitHub actions now, I am closing. We can open new issues if something turns up with GHA.

[2022-04-25 00:13] #10533 closed

[2022-04-25 00:15] mkurz commented on #10328
vegemite does not exist anymore. We will never know what was the problem here. Also the 2.7.x branch is outdated anyway.

[2022-04-25 00:15] #10328 closed

[2022-04-25 00:16] mkurz commented on #10346
#10330 is about jabba, which we do not use anymore since we moved to GitHub actions. Also the 2.7.x branch is EOL.

[2022-04-25 00:16] #10346 closed

[2022-04-25 00:17] mkurz commented on #10111
Again, vegemite is dead. We will never know what was the problem here.

[2022-04-25 00:17] #10111 closed

[2022-04-25 03:21] PromanSEW commented on #10983
@mkurz it can be closed?

[2022-04-25 04:55] mkurz commented on #10983
Yes, thanks for the reminder!

[2022-04-25 04:55] #10983 closed

[2022-04-25 04:57] mkurz commented on #8708
Not relevant anymore. We use GitHub actions now, coursier is the default anyway and I even added a job to prefetch dependencies.

[2022-04-25 04:57] #8708 closed

[2022-04-26 07:53] asaelitz opened #11251 "Adding support for checking URL with protocol='bundleresource' existence"
Hi.

Can you please add the merged PR: [#11108 ](https://github.com/playframework/playframework/pull/11108) to the next release.

Thanks,
Asael

[2022-04-26 09:57] mkurz commented on #11251
@asaelitz Yes, we can.

[2022-04-26 10:00] asaelitz commented on #11251
Thanks!

[2022-04-26 10:28] asaelitz commented on #11251
For general knowledge, how do you decide which PR you taking for the next release?

[2022-04-26 11:18] mkurz commented on #11251
If you mean the next 2.8.x release, we usually include bug fixes. We are also not reluctant to add (small) new features, as long as they don't break binary compatibility, however every code change could possibly break other behaviour, that's why new features usually should be merged in the the main (=dev) branch, not the 2.8.x one.

[2022-04-27 09:49] vishalsoni89 opened #11254 "com.google.inject.ProvisionException: Unable to provision, see the following errors: Error in custom provider, java.lang.RuntimeException: Failed to build Android Driver."
**I am trying to run the automation tests but constantly getting below errors. Any help would be highly appreciated. Thanks in advance.**

[code]

[2022-04-27 20:47] seansabour opened #11255 "Duplicate filters enabled when in dev mode"
### Play Version

2.8.15

### API

Scala

### Operating System

Mac OS 11.6.4
### JDK

[code]
### Library Dependencies

[code]

### Expected Behavior

Enabling a filter should only add the filter once...

1. Add a GZIP filter to the enabled filters using ```play.filters.enabled += "play.filters.gzip.GzipFilter"```
2. Run your application in dev mode: ```sbt run```
3. View the logs and check to see

[2022-04-28 08:40] mkurz commented on #11255
Hi @seansabour,

I tried to reproduce your problem, but for me the filter was added only once.
Please have a look at the reproducer project I set up: https://github.com/mkurz/playframework-reproducers/tree/main/playframework-11255 and let me know if that works for you.
IMHO probably you made mistake somewhere else in your config(s), but of course I could be wrong. Please let us know, thanks!

[2022-04-28 08:45] mkurz commented on #11254
This has nothing to do with Play. Your project in general is not set up correctly.
[code]
So the project tries to run `adb` (Android Debug Bridge), but it isn't available... So that is a starting point. adb has absolutly nothing to do with Play.

I am closing this, if you need (Play related) help freel free to comment.

[2022-04-28 08:45] #11254 closed

[2022-04-29 18:51] ihostage commented on #11246
What about YourKit? Maybe needs to send a request to YourKit for get a free license for Play maintainers 😄

[2022-04-29 19:04] ihostage commented on #10955
I think that this issue should be open while RP is open

[2022-04-29 19:41] mkurz opened #11260 "Scala 3"
All issues and pull requests for Scala 3 support should be labeled with:
- https://github.com/playframework/playframework/labels/scala3

In preparation of adding support for Scala 3 to Playframework, it is helpful to tackle the support issue on a per-project basis and in an optimal order. The reason is that the PlayFramework build consists of a large number of (sub-)projects where a large number o

[2022-04-29 20:52] mkurz commented on #11246
👍 haha sure we can do that

[2022-04-29 21:32] EirikFinvold commented on #11086
I face what seems like the same issue with 2.8.15 and the latest IntelliJ Idea (IntelliJ IDEA 2022.1 (Ultimate Edition) Build #IU-221.5080.210, built on April 12, 2022). Just like with the problem above it works fine running `sbt run` but not Idea->Run->Debug.
It works perfectly well on linux, but not on two different Windows computers.

Reproduce:
- Create a brand new project with sbt new playfra

[2022-04-29 21:43] mkurz commented on #11086
Thanks for the report. I don't have access to IntelliJ on a Windows machine right now, so it's a bit hard for me to reproduce that issue. Since you can confirm this problem on 2 independent machines running Windows, can you please open a new dedicated issue since this one here already is closed and got the 2.8.13 milestone attached on it. Thanks!

[2022-04-29 21:45] EirikFinvold commented on #11086
Sure, thank you for your quick reply! Have a nice weekend.

[2022-04-29 21:54] EirikFinvold opened #11261 "Not able to Run->Debug in Intellij Idea 2022.1, it shut's down immediately with exit code 2"
I face what seems like a similar issue as #11086  with 2.8.15 and the latest IntelliJ Idea (IntelliJ IDEA 2022.1 (Ultimate Edition) Build #IU-221.5080.210, built on April 12, 2022). Just like with the problem above it works fine running `sbt run` but not Idea->Run->Debug.
It works perfectly well on linux, but not on two different Windows computers.

Reproduce:
- Create a brand new project with `sb

[2022-05-04 10:29] aumann commented on #11261
Just wanted to let you know that we have the same issue, maybe more information helps us track down the issue. In our case, a full reboot of Windows temporarily solves the issue -- it is reappearing though, and an IntelliJ restart does not help. Really strange...

In our case `run` from the sbt shell starts the application without any issues.

However, using the run configuration from IntelliJ fai

[2022-05-04 10:32] mkurz commented on #11261
My guess is that this was introduce in latest IntelliJ 2022.1, maybe open a bug there? See https://youtrack.jetbrains.com/issues?q=Subsystem:%20%7BPlay%20Framework%7D

[2022-05-04 10:32] mkurz commented on #11261
Can you confirm this is working with 2021.3?

[2022-05-04 10:36] aumann commented on #11261
We will check and report back, thanks for the quick reply. We had the issue in 2021.3 but that was probably still with Play 2.8.8 and is thus fixed with #11086

[2022-05-04 10:36] mkurz commented on #11261
Yeah, its easy to get confused, so please make sure to alway test with latest 2.8.15, thanks!

[2022-05-04 14:43] PromanSEW commented on #11251
Fixed by #11252

[2022-05-04 14:47] PromanSEW commented on #11218
Can be closed. `2.4.x` won't get updates

[2022-05-04 14:47] #11218 closed

[2022-05-04 15:05] #11112 closed

[2022-05-04 15:07] PromanSEW commented on #10965
Fixed by #11167

[2022-05-04 15:16] mkurz commented on #10965
I keep this open since this needs to be done for every project that uses mergify (basically every project in the Play org).

[2022-05-04 15:42] PromanSEW commented on #10315
Already fixed
https://example.lightbend.com/v1/download/play-samples-play-java-hello-world-tutorial has sbt 1.6.2

[2022-05-05 09:07] ihostage commented on #10315
Fixed by https://github.com/playframework/play-samples/pull/158

[2022-05-05 09:07] #10315 closed

[2022-05-05 09:08] ihostage commented on #10315
Thanks for notification, @PromanSEW!

[2022-05-05 10:00] aumann commented on #11261
The issue is also present in IntelliJ 2021.3 (`Build #IU-213.5744.223, built on November 27, 2021`), using the current plugin version 2.8.15

We've also tested in 2021.3.3 (`Build #IU-213.7172.25, built on March 15, 2022`)

The output of the run (for 2021.3) was:
[code]

### Workaround - sbt shell is related

**However**, it seems that this is related to an sbt-shell running (in the `sbt-shell` to

[2022-05-05 10:22] PromanSEW commented on #11261
I have the same issue. I got it today when had to `docker:publish`
Also, I did not find sbt shell window, which I used to run SBT without certain command, it disappeared unexpectedly
Running of tasks in sbt window also do not work
Now, to start sbt shell I should open terminal and run the command which prints `Process finished with exit code 2`

[2022-05-05 10:24] mkurz commented on #11261
I need to get my hands on a windows machine to test this. However, it might make sense to open a bug report in the JetBrain issue tracker (youtrack)?

[2022-05-05 11:14] #10622 closed

[2022-05-05 21:37] arpsmack opened #11267 "PlayRunHook's afterStopped method doesn't run on Windows"
### Play Version
2.8.13

### API
Java

### Operating System
Windows 10

### JDK
openjdk version "11.0.13" 2021-10-19 LTS
OpenJDK Runtime Environment Zulu11.52+13-CA (build 11.0.13+8-LTS)
OpenJDK 64-Bit Server VM Zulu11.52+13-CA (build 11.0.13+8-LTS, mixed mode)

### Expected Behavior
1. Install a PlayRunHook with an afterStopped method
2. Run your application in development
3. Stop your applicatio

[2022-05-09 12:11] aumann commented on #11261
One more note: it seems that whenever the `sbt shell` is open in IntellIiJ, even starting another sbt from _powershell_ or _git bash_ is not possible. Running `> sbt` itself immediately terminates, too.

[2022-05-10 11:56] EirikFinvold commented on #11261
I have reported it to JetBrains as well:
https://youtrack.jetbrains.com/issue/IDEA-293783/Not-able-to-Run-Debug-in-Intellij-Idea-2022-1-on-Windows-it-shut

[2022-05-10 15:31] PromanSEW commented on #11261
Moved issue to Scala:
https://youtrack.jetbrains.com/issue/SCL-20206/Not-able-to-Run-Debug-in-Intellij-Idea-2022-1-on-Windows-it-shut?s=Not-able-to-Run-Debug-in-Intellij-Idea-2022-1-on-Windows-it-shut

[2022-05-11 06:48] eloots opened #11282 "Multi-project build module order for Scala 3 support"
In preparation of adding support for Scala 3 to Playframework, it is helpful to tackle the support issue on a per-project basis and in an optimal order. The reason is that the PlayFramework build consists of a large number of (sub-)projects where a large number of them depend on other projects in the same build.

The idea is to apply the process project by project at consecutive 'levels'.

The fol

[2022-05-11 06:52] eloots commented on #11282
Closing as there already was #11260 for this purpose

[2022-05-11 06:52] #11282 closed

[2022-05-16 14:35] mkurz commented on #11267
Does this problem also happen outside of IntelliJ?

[2022-05-17 19:07] arpsmack commented on #11267
I added some logging to our hook and ran SBT manually from the command line, and sure enough both exiting gracefully via the Enter key, and exiting via `CTRL+C` cause the afterStopped hook to run and log, but the node processes never get killed.

It still doesn't log when I exit via the stop button in IntelliJ, but perhaps IntelliJ is detaching the output before the hooks run. I just tested this b

[2022-05-17 19:07] #11267 closed

[2022-05-31 21:41] #11251 closed

[2022-06-01 16:20] philipwhiuk opened #11303 "Fails to convert error to PlayException/UsefulException"
### Play Version

2.8.15

### API

Scala

### Operating System

Windows 10

### JDK

sbt 1.6.2 (Oracle Corporation Java 1.8.0_191-1-redhat)

### Library Dependencies

N/A

### Expected Behavior

Server should either load the page or provide an actual error stack trace

### Actual Behavior

Server fails to convert error:

{code}
2022-06-01 17:12:44 ERROR p.api.http.DefaultHttpErrorHandler  Error wh

[2022-06-03 04:15] xuwei-k commented on #11260
I think done `L0` and `L1` (only compile. except test)

- Routes-Compiler, Play-Streams => Done
  - https://github.com/playframework/playframework/pull/11302
  - https://github.com/playframework/playframework/pull/11304
- Sbt-Routes-Compiler, RunSupportProject => unnecessary. this is Scala 2.12 (sbt) project
- Play-Exceptions, Build-Link => unnecessary. this is only java sources

next is `L2` the

[2022-06-04 10:36] felipebonezi commented on #11246
@mkurz can I remove this page or is it better to wait until you decide about YourKit?

[2022-06-06 13:32] philipwhiuk commented on #11303
One way to reproduce this error is to have a custom Guice Module fail to bind a required property due to an NPE.

Finally found in my project by improving testing on the GuiceModule.

[2022-06-08 14:47] mkurz commented on #11246
Let's remove it fo now, we can add a similar page later if needed

[2022-06-08 17:00] felipebonezi commented on #10273
@wsargent @gmethvin I agree with both and maybe we could mix points of view.
It would be great to have a `request-id` as a `uuid` but we need to provide other information to sort the request like @wsargent article says (`java.time.Instant.now()` value using nanoseconds).

What do you think to have not one or two but all three data?
* `request-id` as `uuid` to use a unique identifier (no matter wha

[2022-06-08 17:58] felipebonezi commented on #7638
@marcospereira @wsargent
Could you review if I'm doing what was suggested? ☝🏻

[2022-06-08 23:29] #11246 closed

[2022-06-09 12:30] felipebonezi commented on #10273
So, is it unnecessary to implement?

[2022-06-09 12:48] ihostage commented on #10273
Maybe 😄 At least I think we have to think about OTel when look for a good way of implementation this issue.

[2022-06-09 22:05] felipebonezi commented on #10273
Do you have any material to guide me?

[2022-06-10 07:00] rlavolee commented on #9837
I found that `defaultSessionCookieBaker.decode` from the `DefaultSessionCookieBaker` class takes a encoded jwt string and returns a decoded Map[String, String]. I tested it last night and it worked as expected.

[2022-06-10 07:17] ihostage commented on #10273
Only [Trace Context W3C spec](https://www.w3.org/TR/trace-context/) and [OTel Tracing API Spec](https://opentelemetry.io/docs/reference/specification/trace/api/) 🤷‍♂️

[2022-06-10 08:59] octonato commented on #11260
Thanks @xuwei-k.
I updated the description to reflect the progress.

[2022-06-11 03:21] gmethvin commented on #11303
My guess is that `getCause` here is returning null: https://github.com/playframework/playframework/blob/a898ec0f88246f1d20f5af698d7d0b6df7c1b366/core/play/src/main/scala/play/api./http/HttpErrorHandler.scala#L365. So maybe in that case we fall back to the original exception.

[2022-06-11 06:22] ProChirathF opened #11323 "Websockt close status code"
When a websocket is closed by the remote client, is there a way to identify the connection close status code?, I am implementing a reconnection feature & it is important to identify if it is a clean close or a abrupt failure. Websockt spec defines these codes
https://datatracker.ietf.org/doc/html/rfc6455#section-7.4.1 7 & browsers do implement these status codes. SockJs server also sends codes suc

[2022-06-13 05:11] xuwei-k commented on #11260
![graph](https://user-images.githubusercontent.com/389787/173283933-269fe925-88b5-4a68-9c72-0d797ef6b753.svg)

[2022-06-23 11:58] EirikFinvold commented on #11261
FYI, a workaround to this issue is to run the application as a "Play2 App" instead of SBT Task, and add this to JVM params: -Dsbt.server.forcestart=true

[2022-06-24 07:41] ProChirathF commented on #11323
There is an open issue with akka-http on this

User API for websocket close with code and reason
https://github.com/akka/akka-http/issues/2458

[2022-07-08 15:20] mkurz commented on #11303
Yeah, most likely `getCause` is `null` here.
@philipwhiuk can you share a code snippet that shows how to enforce this problem, saves me time, thanks!

[2022-07-12 08:37] melezov commented on #10958
We're experiencing similar issues to the closed #10936 - we're getting 502 from Nginx and Nginx is logging in error stream that "upstream prematurely closed connection while reading response header from upstream", while Play is happily continuing to process the request and then thinks it's returning 200, although Nginx disconnected a long time ago.

It happens when we submit "relatively" large req

[2022-07-12 08:40] mkurz commented on #10958
@melezov Can you provide a very small project to reproduce the issue and push it to GitHub, including you ngins settings?

[2022-07-12 08:42] melezov commented on #10958
Roger. We'll make a repro.

[2022-07-12 11:58] melezov commented on #10958
Managed to figure it out by turning on debug logging of akka http:

2022-07-12 13:49:20.306 DEBUG play-dev-mode-akka.actor.default-dispatcher-12 akka://play-dev-mode/system/IO-TCP/selectors/$a/0 New connection accepted
2022-07-12 13:49:20.945 DEBUG application-akka.actor.default-dispatcher-6 [test]: Reading body ...
2022-07-12 13:49:20.945 DEBUG play-dev-mode-akka.actor.default-dispatcher-15 Strea

[2022-07-12 12:01] melezov commented on #10936
If you're getting disconnects behind Nginx, try increasing the default akka.http.server.linger-timeout = 1 min`
See here: https://doc.akka.io/docs/akka-http/current/common/timeouts.html#linger-timeout

[2022-07-21 23:41] risenhoover opened #11365 "Urgent CSRF issue"
### Discussed in https://github.com/orgs/playframework/discussions/11364

<div type='discussions-op-text'>

<sup>Originally posted by **risenhoover** July 22, 2022</sup>
Play Framework 2.7.9 -> As of three days ago, we started getting reports of people not being able to login, even if they present valid credentials. Upon investigation, they were getting the gray "unauthorized" page provided by the

[2022-08-05 01:09] decorum-blb opened #11373 "JDK 17 - sbt-native-packager Docker fails"
### Play Version

2.8.16

### API

Scala

### Operating System

Mac OS (M1 chip)
![system info](https://user-images.githubusercontent.com/7646825/182980286-fd03750d-f108-426e-957a-73d92a95e906.png)

### JDK

JDK 17.0.3
[code]
Scala - 2.13.8
SBT - 1.7.1

### Library Dependencies

### Expected Behavior

1. `sbt docker:publishLocal`
2. Run the docker image produced
3. Access the application at localh

[2022-08-05 16:01] decorum-blb commented on #11373
Ah - after doing some digging, I believe it may have something to do with the image that I was using as a base image not supporting M1 chips. Sorry to bother with this. Will close this issue.

[2022-08-05 16:01] #11373 closed

[2022-08-08 09:00] mkurz commented on #11365
Closing in favor of #11364, since there are more comments already. If we have more details we can later open another issue again.

[2022-08-08 09:00] #11365 closed

[2022-08-12 22:38] sb-yb commented on #6845
@hertg any reason that is preferred over:
[code]
This assumes that incoming http_x_forwarded_proto and http_x_forwarded_for have same length. Is this not a reasonable assumption?

Or something similar (but more complicated) that will match number of entries in `http_x_forwarded_for` by repeating http_x_forwarded_proto and append it with ,scheme?

[2022-08-17 09:48] pk044 commented on #11209
FYI - I receive a similar error when running Play on prod mode:

[code]

[2022-08-22 07:53] sb-yb commented on #6845
Solved this for all cases using only nginx map. The solution is complex enough that I may not actually use it. But posting it here in case someone desperately wants a solution at nginx level that preserves proxy chain:
[code]

Ran following tests:
1. No proxy. Do not pass X-Forwarded-For and  X-Forwarded-Proto
2. X-Forwarded-For: 100.89.234.9 and X-Forwarded-Proto: https
3. X-Forwarded-For: 100.89

[2022-08-25 12:37] bastaware opened #11398 "Expects DELETE body"
It appears that Play expects http DELETE to contain a body, even though it's optional.

I've got a IOS client that can't send a body and this results in "Invalid Json: No content to map due to end-of-input" when trying to handle the Action.

[https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/DELETE](url)
[https://peterdaugaardrasmussen.com/2020/11/14/rest-should-you-use-a-body-for-your-htt

[2022-08-25 13:39] ihostage commented on #11398
Hi, @bastaware! 👋
Why you send the `Content-Type: application/json` header with empty body? 🤔
Empty string is really [invalid json](https://stackoverflow.com/questions/30621802/why-does-json-parse-fail-with-the-empty-string) 😄
Can you try to send a request without `Content-Type` header or change it to something else (`application/octet-stream` for example)?

[2022-08-25 15:43] bastaware commented on #11398
Hi @ihostage

Thanks a bunch. I didn't even consider that as it's default.

The client framework doesn't allow empty Content-Type, but setting it to "application/octet-stream" solved the problem!

[2022-08-25 15:43] #11398 closed

[2022-09-03 07:45] mrooneytrimble opened #11400 "Upgrade slf4j to 2.0.0"
slf4j has recently been upgraded by a major version, in order to use current versions of dependent libraries (logback-core, logback-classic) we need playframework to upgrade the version of slf4j to 2.0.0 as well.

### Play Version

2.8.16

### API

scala

### Operating System

Mac

### JDK

### Library Dependencies

logback-classic, logback-core 1.4.0

### Expected Behavior

The server is able to

[2022-09-03 07:57] PromanSEW commented on #11400
See https://github.com/playframework/playframework/discussions/11399

[2022-09-04 19:16] He-Pin commented on #8010
@mkurz Any update about this, thanks.

[2022-09-05 14:08] mkurz commented on #11400
Let's assign 2.9.0. @jfsoul @mrooneytrimble Do you have time to work on this and provide a pull request?
BTW: I would not upgrade in the 2.8.x branch, to not break anything, but maybe it would be possible to adjust code so at least it would be possible to upgrade by hand when using Play 2.8. Not sure though if that works.

[2022-09-06 09:58] mkurz commented on #8010
@He-Pin Nothing no so far. Did you run into a problem regarding this issue?

[2022-09-07 09:22] gcnyin opened #11401 "Will Playframework use akka 2.7+ and change the license as well?"
As a akka and playframework user, I'm very curious about these two questions.

[2022-09-07 09:59] #11401 closed

[2022-09-07 11:07] henricook opened #11402 "Response to Akka's license change"
I'm somewhat reeling today from reading about Akka's license change: https://alexn.org/blog/2022/09/07/akka-is-moving-away-from-open-source/

Does this mean that using Play commercially may soon involve an Akka license cost?

Can Play keep using an older (open licensed) version of Akka indefinitely?

[2022-09-07 11:12] #11402 closed

[2022-09-07 11:13] henricook commented on #11402
Noted: Playframework exemptions in the license

https://github.com/akka/akka/blob/main/LICENSE

[2022-09-07 20:06] benthecarman commented on #11400
is there a way to resolve this?

[2022-09-08 06:34] ikhoon opened #11404 "Add a new HTTP engine that support HTTP/2"
HTTP/2 is an efficient protocol for performance and it is wildly used in many places.
However, Netty server in Playframe does not support HTTP/2.
Akka HTTP is the only choice for HTTP/2 but it is still in the preview stage.
It would be useful if users can choose a stable HTTP/2 engine out of the box.

[Armeria](https://armeria.dev/) is a light-weight HTTP/1 and HTTP/2 server built top of Netty.
If

[2022-09-08 15:42] jfsoul commented on #11400
@mkurz I had a quick look and I'm wondering whether we can resolve on `2.8.x` fairly simply after all.

In https://github.com/playframework/playframework/compare/2.8.x...jfsoul:playframework:2.8.x if we replace the direct reference to `StaticLoggerBinder` with call to the factory method, then we should be able to work with SLF4J 1 or 2 because the factory finds the logging backend for us.

It look

[2022-09-10 17:42] wsargent commented on #11400
The StaticLoggerBinder isn't significant -- a reference to `LoggerFactory.getILoggerFactory()` will work just as well.

[2022-09-12 13:14] mkurz commented on #11400
Thanks @jfsoul, can you provide a pull request with your change?

[2022-09-12 15:12] mkurz commented on #4186
@ProChirathF @prosasankad
As of today, akka-http does NOT support websocket compression, see https://github.com/akka/akka-http/issues/659, so there is nothing we can do in Play here right now.

For the netty backend it should be quite easy to get this working, see #11169, merging and backporting should do the job.

[2022-09-14 13:19] phelps-sg commented on #5315
In my case I want process data that is `x-www-form-urlencoded` but only if a signature calculated over that same data is valid.  I can't figure out a way to do this through action composition because ActionBuilder has no access to the actual body.

[2022-09-19 11:24] aelfric commented on #11261
Another workaround that seems to work for my team is using `~run` instead of `run` in the Intellij run configuration.

[2022-09-20 05:47] joesan commented on #3861
Is there any update on this? Which version of the Play framework has this support?

[2022-09-20 09:32] mkurz commented on #11404
Actually it should be doable to add another server backend. You find the current backends here: https://github.com/playframework/playframework/tree/main/transport/server That should give you a good starting point on how to add the new backend.
Be aware to implement all the configs that are present in the play-server project: https://github.com/playframework/playframework/blob/main/transport/server

[2022-09-20 09:53] mkurz commented on #11400
Unfortunately two tests are failing when upgrading to slf4j v2, someone wants to help and take a look? For details see: https://github.com/playframework/playframework/pull/11419#issuecomment-1252108130

[2022-09-21 06:57] ikhoon commented on #11404
Thanks for the guidance. I will start implementing the Armeria server backend and send a PR when it is ready. 😀

[2022-09-21 13:11] ashishpmalkar opened #11434 "Can not create custom datasource config"
Unable to config custom datasource. I am trying load custom data source from java class on start up. but every time application start up. default database configuration gets loaded and try to connect database from application.conf file
[code]
I tried to use below still it accessing default database
play.db.prototype.hikaricp.initializationFailFast=false
db.default.migration.initOnMigrate=false
db.

[2022-09-21 14:56] #11400 closed

[2022-09-21 18:04] slisaasquatch opened #11436 "[2.8.16] Adding a dependency that uses SLF4J 2.0.x breaks logging"
### Play Version

2.8.16

### API

Java

### Operating System

Windows 10

### JDK

1.8.0_282

### Library Dependencies

[code]

### Expected Behavior

I expect logging to work when I add a dependency that depends on SLF4J 2.0.x.

### Actual Behavior

When the app starts I get this error message

[code]

And then any SLF4J/Logback logging doesn't work.

### Reproducible Test Case

I modified the h

[2022-09-22 01:30] tototoshi commented on #11434
It is possible that the problem you are having is with the flyway plugin. With a little more information (e.g. screen captures) I might be able to help.

[2022-09-22 05:38] joesan commented on #3861
@mkurz Which example should I look at? I suppose it should be this one https://github.com/playframework/play-samples/tree/2.8.x/play-scala-websocket-example

Could you please update a demo of how that works to keep-alive websocket connections? Is this a workaround as mentioned in the Play Framework documentation?

[2022-09-22 07:43] ashishpmalkar commented on #11434
@tototoshi Thanks for asking

here is my build.sbt  and I am using "org.flywaydb" %% "flyway-play" % "3.2.0",
![image](https://user-images.githubusercontent.com/47938131/191686047-ff229851-643e-4431-80bc-1fd06866ee31.png)

here are some other files
![image](https://user-images.githubusercontent.com/47938131/191687647-5eb59584-91f3-4249-8eb3-09edbeefa7a4.png)
![image](https://user-images.githubuser

[2022-09-22 07:53] ashishpmalkar opened #11437 "Update of Play and Flyway version in existing application"
Play Version (2.5.x / etc)
2.5.14

API (Scala / Java / Neither / Both)
Java 1.8

FlyWay Version 3.2
sbt.version=0.13.11
scalaVersion := "2.11.7"

Expected Behavior

New version i am trying addSbtPlugin("com.typesafe.play" % "sbt-plugin" % "2.8.x")
sbt.version=1.3.10
scalaVersion := "2.13.8"
When i tried to update the play and flayway versions as per below link it should build and run successfully

[2022-09-22 08:17] tototoshi commented on #11437
I'm guessing from the error message. The problem is that the version of sbt-gzip or sbt-play-ebean you are using are not compatible with sbt 1.x.
Please try using the latest version of sbt-gzip or sbt-play-ebean.

[2022-09-22 08:21] tototoshi commented on #11434
Thanks.

Does this mean that every time you start your app you see a page that flyway-play displays?

[2022-09-22 08:31] tototoshi commented on #11434
And if you can figure out the problem is in flyway, please send the feedback to https://github.com/flyway/flyway-play and close this issue.

[2022-09-22 09:28] ashishpmalkar commented on #11434
Whenever i start server it is giving me below error

Oops, cannot start the server.\nConfiguration error: Configuration error[Cannot connect to database [default]]\n\tat play.api.Configuration$.configError(Configuration.scala:155)\n\tat play.api.Configuration.reportError(Configuration.scala:808)\n\tat play.api.db.DefaultDBApi$$anonfun$connect$1.apply(DefaultDBApi.scala:48)\n\tat play.api.db.Defaul

[2022-09-22 13:44] ndeverge commented on #11436
The issue has already been raised at https://github.com/playframework/playframework/issues/11400
and it's fixed (https://github.com/playframework/playframework/pull/11433)

You have to wait for the next release.

[2022-09-22 14:55] #11436 closed

[2022-09-23 03:55] tototoshi commented on #11434
Ok, It doesn't seem to be related to flyway. This error came from Play's DB Module.

DB Module is not disabled by not specifying username and password.
You need to remove the module from dependencies to disable it. Maybe you have `jdbc` or `javaJdbc` in build.sbt. Try removing it.

[2022-09-24 06:02] proudust opened #11439 "Routes cannot route a method whose name is a reserved word."
### Play Version
2.8.16

### API
Java 11, and Scala 2.13.9

### Operating System
Windows 11

### JDK
Microsoft Build of OpenJSK with Hotspot 11.0.16.1+1 (x64)

### Expected Behavior
1. Create methods for Scala reserved words in your [Java](https://github.com/proudust/play-reserved-word/blob/2e99823444e68bc5cbd47f73ef219ee991639dcd/app/controllers/JavaController.java#L8-L10) or [Scala](https://gith

[2022-09-26 08:30] mkurz commented on #11439
I didn't look into the code, however we might be able to escape all the method we generate with backticks, so at least Scala reserved word can be used. However it's not our priority now, since you can easily work around the problem my using other names. If you want to provide a pull request however, feel free to submit one.

[2022-09-27 13:51] #11078 closed

[2022-09-28 19:27] joesan commented on #3861
I have a workaround solution implemented where I spin up a stream that emits a value at regular intervals and I pass the emitted value to the Actor instance which then simply maps that to a HeartBeat message back to the client. This way, I can have a persistent connection enabled. Sort of ugly, but it works.

[2022-09-29 11:42] ihostage commented on #11437
Thank you, @tototoshi!

[2022-09-29 11:42] #11437 closed

[2022-09-29 11:50] ihostage commented on #11434
Thank you, @tototoshi for your help! 👍

@ashishpmalkar Please, use [Discussions](https://github.com/playframework/playframework/discussions) for your questions 😉
BTW, **Play 2.5** don't support 🤷‍♂️

[2022-09-29 11:50] #11434 closed

[2022-09-30 05:03] joesan commented on #3861
Here is a solution that I tried.

https://stackoverflow.com/questions/73904123/play-framework-persistent-websocket-connection

Is that good enough?

[2022-10-02 15:24] phelps-sg opened #11447 "Documentation- several of the authentication and authorisation modules listed in the module directory are no longer maintained"
In the [Module Directory](https://www.playframework.com/documentation/2.8.x/ModuleDirectory), under *"Authentication (Login & Registration) and Authorization (Restricted Access)"*, the following modules are no longer actively maintained, and have outdated dependencies:

- Silhouette
- Deadbolt 2
- Play! Authenticate

[2022-10-04 06:24] arpitbhardwaj commented on #10893
Let me know if can have a look at this issue and start working on it?

[2022-10-04 07:04] mkurz commented on #10893
@arpitbhardwaj sure, feel free to submit a pull request. I think the feature is straight forward.

[2022-10-04 21:07] mkurz commented on #11209
@pk044 Like explained above you need to add the `--add-exports` argument.

[2022-10-04 21:41] mkurz commented on #5473
Since I ran into a problem in the play-samples (https://github.com/playframework/play-samples/pull/176) I am very tempted to finally set the default port in tests to random (=0). Also need to change the docs (mentioned in #11173

Someone wants to provide a pull request?

[2022-10-05 07:32] kernelogic opened #11450 "Tailwind CSS framework support"
Hello, I want to use Tailwind CSS framework in my project, is there any guide to it?

[2022-10-05 08:25] arpitbhardwaj commented on #10893
@mkurz Opened the above PR.

One open question: How to restrict the NoScope annotation for Play Modules only as of now i have given the target as ElementType=Module but i guess this doesn't serve the purpose?

As this is my first contribution to this repo, let me know in case of any shortcomings to my understanding of this issue and respective implementation.

[2022-10-05 13:07] arpitbhardwaj commented on #10911
@mkurz Let me know if add this info under Utilities Section in Module Directory page

[2022-10-07 15:41] mkurz commented on #5473
Again, when working on scalatestplus-play (https://github.com/playframework/scalatestplus-play/pull/373), I ran into problems regarding the default port number for tests. In Play 2.9 M2, because of #11173, the port by default changed to 19001 (instead of being random) when using `DefaultTestServerFactory`:
https://github.com/playframework/playframework/blob/21339e6ec98265c62b1e3d0641bb35e5d466e796

[2022-10-08 12:21] magnolia-k opened #11457 "java.security.AccessController is deprecated at JDK17"
### Play Version

2.8.17

### JDK

17

### issue

[code]

java.security.AccessController is deprecated at JDK17 and will be removed in a future JDK.

see below
https://openjdk.org/jeps/411

[2022-10-08 21:28] mkurz commented on #11457
Thanks! IMHO this is not a pressing issue right now, but we should watch future Java releases in case `AccessController` finally gets removed and if any alternatives popping up.

[2022-10-11 09:37] mickaelmagniez opened #11461 "Dependency issue with last version of scoverage"
Hi

I have an issue while trying to use version 2.0.5 of scoverage on a "bare" play framework project :

First i create a play project from seed with
[code]

And then i add `scoverage` to plugins, so i have
[code]

[code]

And then trying to run, i have
[code]

Seems version 2.0 of scoverage is incompatible with scala 2.12, but my application is 2.13

Thank you for your help.

Best regards

[2022-10-11 13:34] oalyman commented on #11461
Here is a solution for your problem: https://github.com/scala/bug/issues/12632

[2022-10-12 10:20] mkurz commented on #10809
I think we fixed those warnings meanwhile.

[2022-10-12 10:20] #10809 closed

[2022-10-12 11:46] mkurz commented on #11461
There will likely more issues come up like this.
What happened is that some plugins (like [sbt-native-packager](https://github.com/sbt/sbt-native-packager/pull/1514)) started to upgrade to scala-xml 2.x. Then the Scala compiler [followed](https://github.com/scala/bug/issues/12632) in its 2.12.17 release. sbt 1.8.x (unreleased yet) [will upgrade](https://github.com/sbt/sbt/pull/7021) to 2.12.17 as

[2022-10-12 11:55] mkurz commented on #11243
Like said by Proman Play 2.3.x is not supported anymore.

[2022-10-12 11:55] #11243 closed

[2022-10-12 11:59] mkurz commented on #5473
Related to this issue we might want to think about if we really want to listen to the https port by default when spinning up a test server, see: https://github.com/playframework/playframework/issues/11209#issuecomment-1081091857

[2022-10-12 12:40] mkurz commented on #5473
(Kind of) related: #11179

[2022-10-12 15:13] mkurz commented on #11260
So... actually I think it's finally time to tackle Scala 3 once more... I am currently reviewing some more pull requests but want to come back to this one asap. Would be nice if people can help to get this one going.

[2022-10-13 08:39] arpitbhardwaj opened #11467 "[Suggestion] a command alias to format all kind of files"
Currently developer need to remember and run the format commands manually to format different kinds of files in his branch. We can add a below command alias to make life easy and also document this as an step before opening a PR in [contribution guidelines](https://www.playframework.com/contributing).

[code]
to make life easier

_Originally posted by @mkurz in https://github.com/playframework/pla

[2022-10-13 17:38] mkurz commented on #10590
Fixed in #11360

[2022-10-13 17:38] #10590 closed

[2022-10-13 20:05] #10955 closed

[2022-10-13 20:38] #9423 closed

[2022-10-13 23:35] mkurz commented on #10965
Closing, mergify config was synced to all other repos thanks to @ihostage:
* https://github.com/playframework/.github/pull/34
* https://github.com/playframework/.github/actions/runs/3052335818/workflow

and we have https://github.com/playframework/play-meta/issues/216 anyway instead

[2022-10-13 23:35] #10965 closed

[2022-10-18 20:37] mkurz opened #11495 "Make netty http backend default (again)?"
For upcoming 2.9 release, because akka-http currently has no Scala 3 artifacts.
Not sure if that 3for2 thing works out well.

[2022-10-19 15:59] martinariehm opened #11496 "java testing: RequestBuilder.bodyMultipart does not work"
### Play Version

2.8.18

### API

Java

### Operating System

Linux tr-XPS-9320 5.14.0-1051-oem #58-Ubuntu SMP Fri Aug 26 05:50:00 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### JDK

openjdk version "1.8.0_312"
OpenJDK Runtime Environment (Temurin)(build 1.8.0_312-b07)
OpenJDK 64-Bit Server VM (Temurin)(build 25.312-b07, mixed mode)

### Library Dependencies

N.A.

### Expected Behavior

1. Call a

[2022-10-20 09:09] mkurz commented on #11495
We need to be aware that run some netty related tests in only daily, they will be skipped for pull requests and branch builds: https://github.com/playframework/playframework/blob/62ea4e281c14edb51402dafdd8c0fdd3d8cd6d99/core/play-integration-test/src/it/scala/play/it/ServerIntegrationSpecification.scala#L93
We probably want to change that if we do make netty the default.

[2022-10-20 12:54] scand1sk opened #11499 "Play 2.8.18 won't start due to old SLF4J bindings"
**Update**:
Solution can be found in [this comment](https://github.com/playframework/playframework/issues/11499#issuecomment-1285654119) by upgrading slf4j together with logback-classic
<hr>

### Play Version

Play 2.8.18

### API

Scala 2.13.10

### Operating System

[code]

### JDK

[code]

### Library Dependencies

### Expected Behavior

`sbt run` should start Play server

### Actual Behavior

[2022-10-20 14:32] mkurz commented on #11499
You forgot to mention that you upgraded slf4j to 2.0.x yourself, so this does not happen out of the box.
Since we did not upgrade to slf4j 2.0.x in Play 2.8.x this isn't really an issue IMHO.
However what we can do is add a note to the 2.8.17 release notes mentioning that if someone wants to upgrade to slf4j 2.x he/she also needs to upgrade logback-classic:
[code]
What do you think?

[2022-10-20 14:40] scand1sk commented on #11499
Mmh, you are right, I did not dig up my massive dependency tree deep enough
:)
Actually I did not update SLF4J voluntarily: it came from another
dependency (Apache Tika).

Le jeu. 20 oct. 2022 à 16:32, Matthias Kurz ***@***.***> a
écrit :

--
Julien Vion
Maitre de conférences
LAMIH - IUT de Valenciennes

[2022-10-20 14:54] mkurz commented on #11496
Did this occur after an upgrade to Play 2.8.18 - so what I am asking: did this work with Play 2.8.17 or 2.8.16? Or did you just try with Play 2.8.18 in a fresh project? We did fix something regardind multipart form requests in 2.8.18 and wondering if that is related.

[2022-10-20 15:10] martinariehm commented on #11496
It occurred in our project running on 2.8.16. For the test case I created a fresh project which was running on 2.8.18. The same error occurred. However the setup is slightly different in our project so the stack trace might have been a bit different. But the main issue is the same: the Java compatibility layer calls RequestBody.asBytes which does not support MultipartFormData.

I am pretty sure th

[2022-10-20 15:11] mkurz commented on #11496
OK, thanks so this didn't happen because of our changes on the recent 2.8.18 release, thanks.

[2022-10-21 09:20] ihostage opened #11504 "Drop `ColoredLevel` in favor to built-in `%highlight`"
More details in [discussions#11472](https://github.com/orgs/playframework/discussions/11472#discussioncomment-3929422)

[2022-10-21 15:52] YueZhaoDreams commented on #8239
I see it's moved to 2.9. Hopefully this could be addressed. Currently, my code using a workaround like below:
[code]
But as you can see, I'm using the akka.Materializer. According to the new [license change of Akka,](https://www.lightbend.com/akka/license-faq?_ga=2.245952518.349715555.1666288599-183766312.1666288599) I may have to remove the workaround very soon.
Hopefully the new release of Play

[2022-10-22 15:26] adrianlyjak commented on #11496
I submitted a PR fix for this. Looking for feedback and whether its an appropriate solution.

[2022-10-23 17:07] felipebonezi commented on #11499
@mkurz my opinion is it would be good to upgrade SLF4j and Logback because some big projects (such as Firebase) are upgrading as the community requested.

[2022-10-24 08:38] demming opened #11506 "Potential Cache Stampede with Caffeine Cached Endpoint"
### Play Version

2.8.18

### API

Scala

### Operating System

macOS 12.6

### JDK

OpenJDK 19.0.1, target Java 1.8.

### Library Dependencies

[code]

### Expected Behavior

Running (with implicit connection reuse)

[code]

for load and soak testing the endpoint which is expected to retrieve a website's HTML and sanitize it using the OWASP HtmlSanitizer library, I expect that

1. When 100 concur

[2022-10-24 11:48] phelps-sg opened #11507 "Provide API to validate HmacSHA256 signatures on incoming payloads"
### Discussed in https://github.com/orgs/playframework/discussions/11489

<div type='discussions-op-text'>

<sup>Originally posted by **phelps-sg** October 16, 2022</sup>

I have also discussed this issue on StackOverflow (https://stackoverflow.com/questions/73926931/in-scala-play-framework-is-there-a-simple-way-to-verify-signatures-on-form-requ), and the only answer so far suggests that there is

[2022-10-24 15:47] mkurz opened #11508 "Consider upgrading Jackson 2.13 in the stable 2.8 branch"
The reason we never upgraded from Jackson 2.11 in Play 2.8.x was that akka never upgraded as well. So there was a fear that if Play upgraded but not akka that might be problematic. However akka finally upgraded to 2.13.x for their recent akka 2.7 release: https://github.com/akka/akka/pull/31595 According their migration guide:

That pull request didn't break anything and no tests needed changes. A

[2022-10-24 16:09] mkurz commented on #11499
@felipebonezi Usually we try to avoid upgrading major versions in a stable release. There can alway be incompatibilities in newer versions we are not aware of. Looking at #11501 all our tests pass so we might consider upgrading that one if that enables people to easier upgrade to newer slf4j versions. However I still want to take a closer look before merging this.

[2022-10-24 16:19] felipebonezi commented on #11499
Much better, we need to be careful. 👏🏻

[2022-10-24 23:50] adrianlyjak opened #11510 "Upgrade scalafmt from 2 to 3 in order to sort scala imports"
It was brought up in the recent java format changes that playframework should also sort scala imports

https://github.com/playframework/playframework/pull/11502#issuecomment-1289268792

Looks like playframework is on an old version of scalafmt (2.x). That will need to be addressed first, because the import rewrite rule wasn't introduced until scalafmt 3.0.

I made some preliminary changes, but wou

[2022-10-25 12:10] mkurz commented on #11506
Thanks. I added a reproducer here: https://github.com/mkurz/playframework-reproducers/tree/main/playframework-11506
I didn't dig very deep in akka-http but [it seems they are using](https://github.com/akka/akka-http/blob/v10.2.10/akka-http-caching/src/main/scala/akka/http/caching/LfuCache.scala#L126) Caffeines atomic `get` method that takes a method to update an entry.
Currently [we use `get`](htt

[2022-10-25 13:53] mkurz commented on #11506
Given the akka-http example code above:
Akka sets up the expire times only once: https://github.com/akka/akka-http/blob/27598478891acc679c82654f1b0b7dbc6dc04647/akka-http-caching/src/main/scala/akka/http/caching/LfuCache.scala#L75-L83
In Play however using `Cached` users can set difference expire times for different action methods, so that makes it a bit harder for us here to come up with the expi

[2022-10-25 14:40] felipebonezi commented on #11507
I would like to implement this feature following the [RFC-2104](https://www.ietf.org/rfc/rfc2104.txt).

@mkurz what do you think to use Filters instead of Actions?
We could even implement the `routes` filter indicator like `+hmac` above the route endpoint.

[2022-10-25 14:41] felipebonezi commented on #11499
We're considering an upgrade here: #11508
Maybe we could close this issue.

[2022-10-25 14:43] felipebonezi commented on #11510
It would be more careful to first upgrade with minimal effort on changes.
I believe that code format isn't a problem right now and only the `sort` functionality must be our goal for now.

[2022-10-25 15:34] mkurz commented on #11506
Thinking out loud:
Part of the solution IMHO would be to have an override of `getOrElseUpdate` of the cache api that looks like:
[code]
which would mean we can can set the expiration based on the calculcated value. In our case we would have a `Result` that we want to cache so we can use result attributes (#10172) to store the calculated expire date and then set it for the cache like:
[code]

[2022-10-25 21:54] felipebonezi commented on #7638
@francisdb I've finished this task.
Feel free to check the PR #11318

[2022-10-25 23:51] mkurz commented on #11506
Good news is the Java API is not affected because it uses `getOrElseUpdate` since #7624 already:
https://github.com/playframework/playframework/blob/ccf99bae058370fae6905e33ce718e9395ce7927/cache/play-cache/src/main/java/play/cache/CachedAction.java#L28
I [added `reproducer-java`](https://github.com/mkurz/playframework-reproducers/tree/main/playframework-11506) which confirms that, works like inte

[2022-10-26 13:19] phelps-sg commented on #11507
On reflection, I think we can hide a lot of complexity in a helper trait, as illustrated below.  I will think about packaging this up as a Play module.  My only concern is that

[code]

on the controller side:

[code]

[2022-10-26 18:49] demming commented on #11506
Oh wow, thank you. Let me know if I can assist you in this.

[2022-10-26 23:06] mkurz commented on #11506
@demming I published a Play SNAPSHOT version with a potential fix. I applied it to the reproducer projects I host in a branch called `fixed-11506`: https://github.com/mkurz/playframework-reproducers/tree/fixed-11506/playframework-11506

I assume you still have the projects available you used to test this behaviour(?) Would it be possible you upgrade to that snapshot version and let me know if that

[2022-10-27 20:01] demming commented on #11506
@mkurz Amazing, great work, thank you. The mitigation seems to work right. I'm going to test it more thoroughly the next couple of days.

I haven't had a chance yet to take a look at your fix. But have you considered implementing all of the [standard means](https://en.wikipedia.org/wiki/Cache_stampede#Cache_stampede_mitigation) of mitigation so the user gets an option to optimize for it? Apparentl

[2022-10-27 20:04] mkurz commented on #11506
Did you run in prod mode?

[2022-10-28 09:27] demming commented on #11506
Yep

[2022-10-28 21:18] demming commented on #11506
Having now looked at the profiles, I see there's a lot of Framework overhead occupy on additional threads but the two major relevant worker threads are not as good synchronized in Play as in my Akka implementation, which perhaps is due to Akka's Futures being wrapped in Cats Effect IO which should better orchestrate the thread pool. In the Play profiles I captured, the worker threads are suspended

[2022-10-28 22:45] mkurz commented on #3861
I implemented a patch to finally make this a reality: #11521
I am planning to release that in Play 2.8.19.

[2022-10-31 14:56] unkarjedy opened #11522 "Play project doesn't work with sbt 1.7.3 and 1.8.0+"
Create new Play 2.8.18 with sbt 1.7.3
(BTW you can do that easily in IntelliJ IDEA via `File | New | New Project | Play 2 | Create`)

Observe error during SBT project loading:
[code]

**UPD**
Scala Plugin issue: https://youtrack.jetbrains.com/issue/SCL-20731

[2022-10-31 14:59] unkarjedy commented on #11522
Probably related change in SBT and Coursier:
- https://github.com/sbt/sbt/pull/7060
- https://github.com/coursier/sbt-coursier/releases/tag/v2.0.12
- https://github.com/coursier/coursier/pull/2548

[2022-10-31 15:01] unkarjedy commented on #11522
cc @ckipp01 @eed3si9n

[2022-10-31 15:18] mkurz commented on #11522
See https://github.com/sbt/sbt/pull/7021#issuecomment-1254787512
Not sure if this was on purpose...

[2022-10-31 18:19] jamesward commented on #11522
Workaround: https://github.com/sbt/sbt/issues/7007#issuecomment-1221823661

[2022-10-31 18:29] eed3si9n commented on #11522
To summarize various other threads, there's no new regression introduced by sbt 1.7.3 right?
sbt 1.7.x series uses scala-compiler 2.12.16 and scala-xml 1.x which are binary compatible with sbt 1.0.0:

[code]

We will be breaking this binary compatibility in a coordinated effort (https://github.com/sbt/sbt/issues/6997 + https://github.com/scala/bug/issues/12632) in sbt 1.8.x series by bumping up to

[2022-11-01 00:44] mkurz commented on #8286
Turns out `play.server.http.idleTimeout` was actually not working for websockets when using the netty backend, see #11420, will be fixed with Play 2.8.19

[2022-11-01 00:44] mkurz commented on #6847
Turns out `play.server.http.idleTimeout` was actually not working for websockets when using the netty backend, see #11420, will be fixed with Play 2.8.19

[2022-11-01 12:16] mkurz commented on #3861
This has been no been fixed in #11521 and will make its way into Play 2.8.19. Please have a look at the docs I added in that PR (also see [the screenshot](https://github.com/playframework/playframework/pull/11521#issuecomment-1298381513) :wink:)

[2022-11-01 12:16] #3861 closed

[2022-11-01 12:16] mkurz commented on #9209
This has been no been fixed in #11521 and will make its way into Play 2.8.19.

[2022-11-01 20:48] mkurz commented on #11522
@eed3si9n I know you did not upgrade to Scala 2.12.17 nor to scala-xml 2 in sbt itself, the 1.7.2...1.7.3 diff actually not really special: https://github.com/sbt/sbt/compare/v1.7.2...v1.7.3
The problem is caused by the bump to coursier shaded to 2.0.12: https://github.com/coursier/sbt-coursier/compare/v2.0.11...v2.0.12#diff-f45415265fd14a72d0c7d579db5d9e03c9fd5278fefe931e31b1da1b57a152d8R12 which

[2022-11-01 21:01] ManolisPapaspyropoulosAUEB commented on #8286
it worked for me!
Many thanks!

[2022-11-02 07:42] xuwei-k commented on #11522
I think sbt-twirl plugin pulls unused scala-xml dependency.

- https://github.com/playframework/twirl/pull/564
- https://github.com/playframework/twirl/pull/563

[2022-11-07 08:41] atilparikh opened #11526 "On Play 2.8.18, heap memory issues arises on server"
I was using play in my production server (more than 2 years) with below configuration
[code]

And it was working fine, but after updating it with 2.8.18; in 24hrs only it is crashed and asking heap memory issues; I have changed Xmx to 4G also; even though it is crashing. Doing some more optimisation, changes GCs but nothing helps, tried to remove newrelic also but nothing works.

When I port it ba

[2022-11-07 08:47] mkurz commented on #11526
Can you please post the exception that's occuring?

So here is the diff from 2.8.17 to 2.8.18: https://github.com/playframework/playframework/compare/2.8.17...2.8.18

- Which server backend do you use? Netty or akka-http?
- Does you application handle multipart/form-data?

[2022-11-07 08:55] atilparikh commented on #11526
In log, I was getting...

2022-11-06 21:43:29 +0000 [ERROR] from akka.actor.ActorSystemImpl in application-akka.actor.default-dispatcher-14 - exception on LARS’ timer thread
java.lang.OutOfMemoryError: Java heap space
2022-11-06 21:43:29 +0000 [INFO] from akka.actor.ActorSystemImpl in application-akka.actor.default-dispatcher-14 - starting new LARS thread
2022-11-06 21:43:29 +0000 [ERROR] from akk

[2022-11-07 08:59] mkurz commented on #11526
I see you use newrelic, does that give some information what is using all the memory?

[2022-11-07 09:15] atilparikh commented on #11526
Didn't find much through newrelic. Few logs I found are almost same like above. This system is more over campaigning system for sending emails and checking their opening and all.

I found few stuff...
HikariPool-3 - Thread starvation or clock leap detected (housekeeper delta=3m557ms568 s256ns).
HikariPool-2 - Thread starvation or clock leap detected (housekeeper delta=3m45772ms630 s72ns).
Internal

[2022-11-07 09:29] mkurz commented on #11526
And you did only change the Play version, nothing else? Any other code changes, any changes to jvm flags or sbt configs/flags? Java version change?

[2022-11-07 09:31] mkurz commented on #11526
Also regarding `Internal server error, sending 500 response`, would be nice if you could log that error.

[2022-11-07 09:32] mkurz commented on #11526
Not sure if HikariCP `Thread starvation` even matters, see discussion:
- https://github.com/brettwooldridge/HikariCP/issues/679
- https://stackoverflow.com/questions/38703876/log-warning-thread-starvation-or-clock-leap-detected-housekeeper-delta-springh

[2022-11-07 15:41] jtjeferreira commented on #11526
@atilparikh, any chance you can add the JVM flag `-XX:+HeapDumpOnOutOfMemoryError` and then collect the heap dump when the application crashes?

[2022-11-07 19:33] mkurz opened #11527 "sbt 1.8 incompatible with `PlayNonBlockingInteractionMode` - replace it with `bgRun`"
Starting with sbt 1.8.0-RC1 our scripted tests fail with (see #11441):
[code]
This is caused by https://github.com/sbt/sbt/pull/6992 which now [closes the the log](https://github.com/sbt/sbt/blob/v1.8.0-RC1/internal/util-logging/src/main/scala/sbt/util/LoggerContext.scala#L185) after a task ran, which is the case when [using non blocking mode](https://github.com/playframework/playframework/blob/ad

[2022-11-08 01:17] pasindusenevirathne commented on #11508
Hi,

We have updated our Play project to these versions,

Play Version - 2.8.18
Scala version - 2.13.10
Akka version - 2.6.20
Play pac4j version - 11.1.0-PLAY2.8
Pac4j core version - 5.6.1
Pac4j http version - 5.6.1
Pac4j saml version - 5.6.1

However these versions complained me about the **jackson-module-scala** version that we were using **2.12.2**, and we had to update to **2.13.4**.
My questi

[2022-11-08 04:31] pasindusenevirathne commented on #11499
Hi @mkurz

I had the same problem as @scand1sk and updated logback-classic to 1.4.4.
I am using Play 2.8.18.

Do you recommend doing that for this specific version of Play or do you see any future impacts of this update ?

Thanks,
Pasindu.

[2022-11-08 04:57] atilparikh commented on #11526
@mkurz yes there is no other changes than this, and for HickariCP I have checked earlier also, it was not the issue, checked again yesterday, but none.

@jtjeferreira I will integrate it in a day with production; and let's hope we shall have something concrete to work on.

[2022-11-08 22:09] mkurz commented on #6246
First, I think we should change `OverflowStrategy` to `fail` for `ActorFlow.actorRef()`. The interesting thing is the Java API already [does this](https://github.com/playframework/playframework/pull/5955/files#diff-9734b6c079e40531c22165528a767bc04a0911df750a8683b3fd9c35569ad5fdR70).

Second, I think we should provide an implementation using [`Source.actorRefWithBackpressure`](https://doc.akka.io/

[2022-11-08 22:34] mkurz commented on #11499
@pasindusenevirathne I think you want to use logback-classic version 1.3.4 (because 1.4.x switched to `jakarta.*` namespace), which IMHO should be fine. We even thinking about to upgrade to logback-classic 1.3.x in the next Play 2.8.x release, see #11501

[2022-11-08 22:40] mkurz commented on #11508
@pasindusenevirathne It should be fine from Play's perspective. However I highly recommend to upgrade _all_ jackson libraries to 2.13.x, no just `jackson-module-scala` - look here: #11222
Also just make sure before you deploy that all parts of your app that make use of jackson/json are testet and still work correctly.

[2022-11-08 22:41] pasindusenevirathne commented on #11499
Thank you @mkurz .

[2022-11-08 23:02] pasindusenevirathne commented on #11508
Thanks @mkurz . We'll do it.

[2022-11-09 05:16] atilparikh commented on #11526
<img width="657" alt="Screenshot 2022-11-08 at 16 09 29" src="https://user-images.githubusercontent.com/70359650/200744420-94f4645c-ab19-4df7-a277-1da3e3dde35f.png">
<img width="657" alt="Screenshot 2022-11-08 at 16 09 08" src="https://user-images.githubusercontent.com/70359650/200744423-c060c356-1f5b-4849-9130-c31eb4ae6fdd.png">

This is what happened yesterday, I have taken screenshot from NewRe

[2022-11-09 09:49] mkurz commented on #11526
It's hard to tell what's going on. Waiting for the OOM report.
Meanwhile, can you see in NewRelic which classes survive garbage collection?

Also, what happens around 11:35 ? Increase of traffic? How many requests is this app handling? You say it's for email, so is it just serving 1pixel images to check if an email was opened?

[2022-11-09 13:09] pk044 commented on #11526
@atilparikh have you tried testing it on ParallelGC? I had similar problems with running G1GC with Play - memory didn't seem to clear up, and it went OOM after a day/few days. Switching to ParallelGC fixed that.

[2022-11-09 13:54] thanh-ngvt opened #11530 "Evolutions not work for mssql jtds driver"
### Play Version

2.8.18

### API

Java

### Operating System

Window

### JDK

openjdk version "1.8.0_332"
OpenJDK Runtime Environment (build 1.8.0_332-b09)
OpenJDK 64-Bit Server VM (build 25.332-b09, mixed mode)

### Expected Behavior

Evolution script should run when using jtds sqlserver
[code]

### Actual Behavior

Evolution script can not run success fully

Root cause:
[code]
If using db.defa

[2022-11-10 04:55] atilparikh commented on #11526
I agree @mkurz without OOM report it is really hard to find who is the culprit. And I have checked at that time with no unusual data. And yes, this server is responsible to sending emails, serving 1 pixel image and few Akka jobs to update some info inside RDBMS.

@pk044 I have tried ZGC with 2.8.18, but not Parallel one. I shall try it also, and send you findings too.

[2022-11-10 09:02] mkurz commented on #11526
@atilparikh So where does you app handle `multipart/form-data` then if it's only serving 1 pixel images? We did some changes to to how to parse multipart/form-data payloads in 2.8.18, but if you are not using that I am a bit lost what's going on.
Let's wait for the crash report, maybe we can find out more.

[2022-11-10 09:07] atilparikh commented on #11526
Our internal team is using multipart/form-data to upload few data related to campaigns, like campaign details and other stuff like target, criteria etc. Yes, I am also waiting for the same.

[2022-11-10 09:08] mkurz commented on #11526
OK, but how often do they upload anything? Like once per day? I doubt that is the cause of the problem.

[2022-11-10 09:11] atilparikh commented on #11526
Yes maximum 2-3 times a day.

[2022-11-10 09:13] mkurz commented on #11526
OK, I somehow doubt that will be the problem. Do you know what happened at around 1135 in the screenshot you posted? Is it just that around midday people open their newsletters?

[2022-11-10 09:31] mkurz commented on #11530
Hmm..

Let's see:
https://github.com/playframework/playframework/blob/37543872239bd95de6fbaf4b7799cb56aaa15698/persistence/play-jdbc-evolutions/src/main/scala/play/api/db/evolutions/EvolutionsApi.scala#L170-L181

We do use a column list, but explicitely set the ´applied_at` field. I can't see why this code would not work. Do you know if the jTDS driver handles timestamps different?

Anyway, lookin

[2022-11-10 09:35] mkurz commented on #3779
This is about Play 2.3.x using Enumerator, closing.

[2022-11-10 09:35] #3779 closed

[2022-11-10 09:35] mkurz commented on #4637
This is about Play 2.4.x using Enumerator it seems, closing.

[2022-11-10 09:35] #4637 closed

[2022-11-10 09:43] thanh-ngvt commented on #11530
I found that play_evolution table for sqlserver ` applied_at` should be datatime https://github.com/playframework/playframework/blob/37543872239bd95de6fbaf4b7799cb56aaa15698/persistence/play-jdbc-evolutions/src/main/scala/play/api/db/evolutions/EvolutionsApi.scala#L384-L395

but in case we use jtds driver for mssql `applied_at` column is timestamp, because of jtds URL fornat is `jdbc:jtds:sqlserve

[2022-11-10 09:52] mkurz commented on #11530
Good. We could of course also make jTDS use the same sql statements as the mssql driver in Play by simply updating the regex:
[code]
If you want to keep using jTDS you can provide a pull request for that, otherwise we can close this issue.

[2022-11-10 10:01] thanh-ngvt commented on #11530
Thanks a lot, jTDS is too outdated I will use the newer one.

[2022-11-10 10:01] #11530 closed

[2022-11-10 14:14] phelps-sg commented on #11507
I have started work on this at https://github.com/phelps-sg/play-hmac-signatures

[2022-11-10 20:26] mkurz commented on #8277
There is/was no need anymore starting with Play 2.7 to add the `DelayingShutdownHook` to the logback config, even worse it does interfere with Play's coordinated shutdown hooks which will cleanly close the logger context anyway. See #11532

[2022-11-10 21:04] phelps-sg commented on #11507
I have started documenting outstanding issues here: https://github.com/phelps-sg/play-hmac-signatures/issues.  If anyone wants to take any of these on give me a shout.

[2022-11-11 06:22] atilparikh commented on #11526
@mkurz this system is continuous, we have global audience, so traffic is almost same at every time bit up and down depends on demography density.  And checked from 1100hrs to 1145hrs, nothing very special / different I found.

[2022-11-11 09:24] atilparikh commented on #11526
Found yesterday's dump, when I was trying with zgc.
<img width="1400" alt="Screenshot 2022-11-11 at 13 23 53" src="https://user-images.githubusercontent.com/70359650/201309080-66bf6277-3cc6-4b2f-b66c-a5f80fe51315.png">

[2022-11-11 13:55] #7638 closed

[2022-11-11 14:26] #10911 closed

[2022-11-17 16:28] jtjeferreira commented on #11510
This will also be important for scala3 migration #11260

[2022-11-17 20:12] #11496 closed

[2022-11-29 19:30] lenin122 commented on #11526
We have simmilar issuu, play 2.8.18, newRelic 7.11.0
When server starts, it blows to top of heap in 2 minutes. The most strange thing, is that it was working on production almowst a week without any issues. And now without any extra load we see that G1 Old space is filled same as heap ~5Gb, no 00M issue or outOfMemory, server is restarted by healthchecker. But, in new relic akka-dispatcher started

[2022-11-30 04:44] atilparikh commented on #11526
@lenin122 yes exactly same stuff, not able to find exact cause, but few changes I have done now things better but not fully resolved

Changed Xmx to 9G from 2G
Set MinHeapFreeRatio to 20
Set MaxHeapFreeRatio to 40
And ZGC literally sucks, so still continue with G1GC.

It may help to resolve