[2017-08-25 11:39] mkurz commented on #7756
@Flo354
I can not reproduce this issue.
I set up a very simple demo project, which behaves correctly, it displays the value of the `error.invalid.phone` message key:
https://github.com/mkurz/play-dataBinder-issue-7756

Please check out this project and run it via `sbt run`. Enter some string in the textbox and submit the form. You will see it works and the correct message gets displayed.
I think y

[2017-08-25 12:05] Flo354 commented on #7756
Ok, got it!

Logger.debug(submittedForm.errorsAsJson().toString());
it shows me (on your project): {"phone":["Sorry to tell you, but this field in invalid!"]}

Look at the order of the keys:
[code]

[2017-08-25 12:13] Flo354 commented on #7756
What is weird is:
[code]

It output the correct key:

So why the method **errorsAsJson** takes **error.invalid**?

[2017-08-25 12:42] Flo354 commented on #7756
Okay.

From [ValidationError.java](https://github.com/playframework/playframework/blob/master/framework/src/play-java-forms/src/main/java/play/data/validation/ValidationError.java#L70) (lines 70 - 72):
[code]

But from [Form.java](https://github.com/playframework/playframework/blob/master/framework/src/play-java-forms/src/main/java/play/data/Form.java#L725) (line 725):
[code]

You are giving the r

[2017-08-25 12:49] mkurz commented on #7756
Thanks I already found this out and working on a fix.
I think for now we should just reverse the field in the `errorsAsJson` method before passing it to `messagesApi.get` so we don't break compatibility for people currently relying on the order.

[2017-08-25 14:59] mkurz commented on #7756
Fix is here: #7757

@Flo354 thanks for reporting all these issues!

[2017-08-25 15:21] Flo354 commented on #7756
Thanks @mkurz for the explanation on your PR I learned some things on how the translation system works!

[2017-08-25 15:21] #7756 closed

[2017-08-25 16:24] #7519 closed

[2017-08-25 21:13] marcospereira commented on #7682
Thanks for checking, @amatosc.

This is now another problem. Before, we were completely losing the body and now we are not able to use `asJson` because the body is not a `JsonNode`, but instead an `AnyContentAsJson`. That is happening because `RoutingDsl` uses a Scala body parser, not a Java one. This could be annoying to fix in a backward compatible way.

I would say that the ideal way is to use

[2017-08-26 01:12] #7745 closed

[2017-08-26 14:20] godenji commented on #6302
This is pretty unfortunate, with `-Xfatal-warnings` it's impossible to enable warnings on unused imports (since the warnings can't be fixed in user code).

[2017-08-27 16:05] domdorn commented on #7243
hmm... if you separate your app into different submodules, you might get it to work without much changing?
so one module for templates/views, one for view-model classes (and possible "view interfaces" and "route interfaces") and one for the main application.

first compile the view-model classes module.. then compile the templates/views module, in the end bind everything together (e.g. using depen

[2017-08-28 04:47] wsargent commented on #6302
@godenji see https://github.com/ghik/silencer as a possible option

[2017-08-28 09:46] mkurz commented on #7756
@Flo354 All pull requests have been merged and will land in Play 2.6.4. Let me know if it works for you then.

[2017-08-28 15:09] marcospereira commented on #7752
Thank you, @larede.

See #7762 for a fix. It is backward compatible so that we can backport it to 2.6.x later. As a workaround, you can set the timeout to a really long value now.

[2017-08-28 16:20] Flo354 commented on #7756
@mkurz As soon as Play 2.6.4 will be available I will test the and come back to you.

Thanks,

[2017-08-28 20:05] marcospereira opened #7764 "Better error report when compilation fails without reporting any problem"
### Play Version (2.5.x / etc)

2.6.x

### API (Scala / Java / Neither / Both)

Both.

### Expected Behavior

Sometimes the compilation can fail without reporting a clear problem. This usually happens when there is a local environment problem, for example, a corrupted dependency or some problem with JDK installation.

While we can't say for sure what problems caused the compilation error, we can h

[2017-08-28 21:00] richdougherty commented on #7743
OK @gmethvin thanks for explaining. I would like the microbenchmarks to be part of the main project so that we can ensure they don't rot. I'll try to figure out a way that does this and still works with whitesource.

[2017-08-28 21:11] marcospereira commented on #7743
I think it would be enough to have `.disablePlugins(PlayWhitesourcePlugin)` in microbenchmarks project.

[2017-08-28 21:45] richdougherty commented on #7753
Thanks a lot for the report. I'm not sure why we didn't notice this earlier!

I have reproduced now too. I'm on Mac OS 10.12.6 (Sierra) running Java 1.8.0_60-b27. I have reproduced on 2.6.0-2.6.3.

Script 1:
1. remove `target` and `project/target` directories
2. introduce error into application source
3. `sbt`
4. `run`
5. request page in browswer
6. see 3-4 compile errors.

Script 2:
1. remove `ta

[2017-08-28 22:30] udalrich opened #7767 "Support groovy logback configuration"
I have a logback.groovy configuration file which I am trying to use, but it is interpreted as an xml config file (even though the name ends with .groovy).  I have provided details at https://stackoverflow.com/questions/38531771/configure-play-framework-logging-with-logback-groovy.

Since the groovy file is initially parsed, either `play.api.libs.logback.LogbackLoggerConfigurator` could be modified

[2017-08-29 08:05] praveen053 opened #7768 "while creating new project java project with play using 'sbt new playframework/play-java-seed.g8' getting error with 2.6"
### looking for help to understand and fix below described error while creating new java application with play using sbt new playframework/play-java-seed.g8 command.

### Play Version 2.6.x

### API Java

### Operating System Windows 10

### JDK Oracle 1.8.0_72
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed

[2017-08-29 14:32] marcospereira opened #7769 "Infinite timeout when stopping application"
### Play Version (2.5.x / etc)

2.5.x, 2.6.x branches.

### API (Scala / Java / Neither / Both)

Both.

### Expected Behavior

Users should be able to configure a timeout value when stopping the application and it should fall back to `Duration.Inf` if the value is not configured. This will enable a new configuration while keeping the current behavior.

### Actual Behavior

The timeout is `Duration

[2017-08-29 18:23] rmcloughlin commented on #7768
Try running `sbt.bat` instead of `sbt`.

[2017-08-30 07:16] cchantep commented on #7768
Hi, as indicated in the guidelines, pleass use the [MailingList](https://groups.google.com/forum/m/#!forum/play-framework) to  ask for help/questions. Best regards.

[2017-08-30 08:34] etleap-nathan commented on #6229
It'd be great if this were backported for 2.4.x.

[2017-08-30 14:17] pauldraper opened #7773 "Add forked mode to Play"
lt's relatively easy (e.g. #3799) to introduce memory leaks in application reloading. Or have misbeaving application run out of other resources (run out of file descriptors, sockets) or have globalness (loading a native library, setting a system property, registering URL handlers).

The classloader reload is superior for speed, but it would be nice to have the choice to stop and restart an process

[2017-08-30 21:24] richdougherty commented on #7773
Agreed, I would like forked mode too!

The idea I have for dev mode is to have some sort of thin proxy server that holds the HTTP/HTTPS ports open and then forwards traffic to the user's application. The proxy server forwards traffic if the application compiles OK or shows an error message otherwise. However, this is quite a lot of work…

[2017-08-30 23:45] rmcloughlin opened #7774 "SyncCacheApi.get() fails when used in a POST handler"
### Play Version (2.6.3), API (Java), (Ubuntu 16.04), OpenJDK 1.8.0_131

`SyncCacheApi.get()` fails when called from within a POST handler, but works when called from within a GET handler.

Please see my example repo here:  https://github.com/rmcloughlin/play-cache-bug in particular https://github.com/rmcloughlin/play-cache-bug/blob/master/app/controllers/HomeController.java

[code]

`sbt run`
`cu

[2017-08-31 05:04] hepin1989 commented on #7753
I was thought that is triggered by the `sbt-scalariform` plugin,seems not.

[2017-08-31 09:04] hepin1989 commented on #7753
![image](https://user-images.githubusercontent.com/501740/29915324-1babc15a-8e6e-11e7-8c0d-7f48cc671652.png)

it's very annoying，as it is

[2017-08-31 12:00] rmcloughlin commented on #7774
This problem occurs in both dev and prod mode.  It does not occur in Play 2.6.2 (in either mode).

[2017-08-31 12:13] mkurz commented on #7774
Probably related to #7649 / #7672 - I will have a look later today

[2017-08-31 13:53] JFCote opened #7775 "Play seems to generate reverse route even if not requested"
### Play Version (2.5.x / etc)

2.5.15

### API (Scala / Java / Neither / Both)

Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Windows 10

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

JDK 1.8.0_144

### Expected Behavior

1. I have a function in my Controller. This function is NOT listed in the `play.routing.JavaScriptReversRtouer.create` function.
2. No reverse rou

[2017-08-31 14:07] Abrasha opened #7776 "Uncomfortable highlighting style"
I am quiet discouraged about highlighting of key words in manuals.
I think that line spacing should be increased a bit because it is really hard to read.

What do you think?

![horrible_style](https://user-images.githubusercontent.com/11317222/29927347-c021ebf6-8e6e-11e7-908f-b3884e1a2d01.png)

Link: https://www.playframework.com/documentation/2.6.x/GlobalSettings

Browsers: Chrome, Mozilla

[2017-08-31 15:01] marcospereira commented on #7767
Hi @udalrich,

It is already possible to use your own `LoggerConfigurator` as documented here:

https://www.playframework.com/documentation/2.6.x/SettingsLogger#Using-a-Custom-Logging-Framework

The documentation is focusing on how to use another log framework, but `play.logger.configurator` can be used to do what you described.

[2017-08-31 19:31] richdougherty commented on #7753
I'm assuming there's a race condition in our file watching/compiling code.

Yes!

[2017-08-31 19:36] richdougherty commented on #7776
I'm personally happy to change the style. This would be a change over here: https://github.com/playframework/playframework.com

[2017-08-31 19:38] richdougherty commented on #7776
Just to be clear, I'm happy for the style to change, but hopefully someone will contribute an improvement. ;)

[2017-08-31 19:56] Abrasha commented on #7776
@richdougherty I am really happy to contribute, but I am not sure how to achieve this and even which people to tag for pointing

[2017-08-31 20:07] richdougherty commented on #7776
Hi @Abrasha, the first step would be to clone the https://github.com/playframework/playframework.com repo and try and get it to run locally on your machine. Then try changing the styling, e.g. https://github.com/playframework/playframework.com/tree/master/app/assets/css.

If you have any questions you can ask on the dev mailing list or on https://gitter.im/playframework/contributors.

[2017-08-31 20:09] Abrasha commented on #7776
@richdougherty awesome, will take case of it on weekend (:
Will try to keep this ticket up to date to pick up the best solution

[2017-08-31 20:25] richdougherty commented on #7776
@Abrasha, actually would you mind creating a ticket over on the https://github.com/playframework/playframework.com repo instead? We'll see your updates there too.

[2017-08-31 21:59] benmccann opened #7779 "Play 2.4 migration guide appearing in Play 2.6 documentation"
https://www.playframework.com/documentation/2.6.x/PluginsToModules has 2.6.x in the URL

However, the file only exists in the release24/migration24 directory and says "Home > Play releases > Play 2.4 > Migration Guides" when you visit the page.

This page came up on Google for me. It's pretty confusing because it shows code examples that don't work in Play 2.6, but it says Play 2.6 in the URL. It

[2017-08-31 22:10] mkurz commented on #7774
I can reproduce. I have no idea why it works for `GET` but fails for `POST`.
First I thougth maybe it has something to do with the filters that are enabled by default, but the problem also occurs when disabling them via `.disablePlugins(PlayFilters)`.

I have to investigate further. Maybe someone else can have a look as well.

[2017-08-31 22:53] mkurz commented on #7774
I started debugging a bit and I _think_ it has something to do with akka http - how it handles `GET` vs. `POST` requests.
Maybe this is something to look into before releasing Play 2.6.4. It's late here and I am quite tired... :sleeping:

@gmethvin @marcospereira @richdougherty maybe you can have a look?

[2017-08-31 22:57] #7596 closed

[2017-08-31 23:07] mkurz commented on #7774
OK, when using netty then even the `GET` request fails already:
[code]

I think when using the `thread-pool-executor` as default dispatcher you just have to use an own execution context for other blocking operations (like the cache one) by setting `play.cache.dispatcher = "mydispatcher"`. That should work.
But I don't understand why the threads within the default dispatcher block each other... The

[2017-08-31 23:40] gmethvin commented on #7775
This is not a bug. The `JavaScriptReverseRouter.create` method only applies to the *JavaScript code* generated by that method. It does not affect generated reverse routes in the Scala routing code generated by Play.

[2017-08-31 23:40] #7775 closed

[2017-08-31 23:46] gmethvin commented on #7774
Not sure of the exact cause here, but I know the default implementation is not very efficient. The EhCache library itself is blocking, so the async implementation actually blocks, then we block another thread waiting on the future.

[2017-09-01 03:42] richdougherty commented on #7779
Maybe the titles of migration pages need to have versions in them. E.g. _Migrating Plugin to Module_ → _Migrating 2.4.x Plugins to 2.5.x Modules_. Or maybe the page needs an introduction:

[2017-09-01 09:45] sivakumar-raja opened #7781 "Incorrect label on Java Play 2.6.x Examples"
Under Java Play 2.6.x examples section on the following [url](https://playframework.com/download) there are couple of sample projects with the same name, **Play Java REST API Example** but the github link for one project points to [this](https://github.com/playframework/play-java-rest-api-example/tree/2.6.x) and another one point to [this](https://github.com/playframework/play-java-forms-example/t

[2017-09-01 11:56] JFCote commented on #7775
Hi @gmethvin , thanks for the clarification.
Can you explain why Play needs to generate "reverse routes" in the scala routing code?

I ask this because we have awful compilation times. I say compilation times but the compilation itself is like 20 seconds. But then after that, it starts to generates a LOT of files which may take up to 15 minutes. Since these files all have the word "reverse router"

[2017-09-01 14:18] marcospereira commented on #7768
Hi @praveen053,

As explained by @rmcloughlin, in Windows, you need to to use `sbt.bat` instead of `sbt` (which is for *nix systems). Could you please confirm that by using `sbt.bat` you are able to create a new project?

If you want, you can also download one of the example projects from Lightbend Tech Hub:

http://developer.lightbend.com/start/?group=play

Notice these also are generated with a

[2017-09-01 14:31] dimitarp opened #7782 "WS Client timeout when HTTP status code is unknown"
Play Version: 2.6.2, 2.6.3, NOT present in 2.6.1
API: Scala
JDK: Oracle 1.8.0_144

[code]

Reproducible Test Case:

[code]

[2017-09-01 15:10] Daxten commented on #7261
https://github.com/playframework/interplay/pull/32

is the ticket for that, which seems pretty much ready

[2017-09-01 15:29] wsargent commented on #7781
That looks like the example code service, pinging @corruptmemory

[2017-09-02 05:48] gmethvin commented on #7782
@dimitarp Thanks for the bug report. Unfortunately it doesn't seem like I can reproduce it myself. I'm using https://github.com/playframework/play-scala-starter-example/ and just adding your test; everything passes on my end with Play 2.6.3.

Perhaps there is something else about your environment? Also are you noticing any exceptions being thrown?

[2017-09-02 07:33] gmethvin commented on #7775
@JFCote it's hard to say if that's the main cause of the slow compilation times, but you can disable reverse routes generation with:
[code]
in your `build.sbt` (see https://github.com/playframework/playframework/blob/master/framework/src/sbt-plugin/src/main/scala/play/sbt/routes/RoutesCompiler.scala#L23).

If you need more help debugging your slow compilation times, I'd suggest asking on the maili

[2017-09-02 13:43] dietmax commented on #7735
Hey, are there any news on this? We would really like to migrate to Play 2.6 and this blocks us from doing so right now.

[2017-09-02 16:48] JFCote commented on #7775
Ok thanks @gmethvin . But one last question, after that I will use the mailing list.

If I set the `generateReverseRouter` to false, will the Javascript Reverse Routing will work anyway ?

[2017-09-02 20:20] hepin1989 opened #7785 "More useful exception page"
![image](https://user-images.githubusercontent.com/501740/29998498-e9a623ec-905e-11e7-8143-07a8f7feb944.png)

like this one have not gaven the root cause,

So I propose how about we show both the nearest exception , the root cause and clasp other exceptions between them?

like:

[code]

[2017-09-02 20:25] gmethvin commented on #7775
It wouldn't work in the normal way since the JavaScript reverse routes would not be generated. You'd need to write the JavaScript functions yourself.

[2017-09-02 21:39] hepin1989 commented on #7785
the root cause:https://github.com/playframework/play-json/issues/100

[2017-09-02 22:02] hepin1989 commented on #7785
https://github.com/playframework/playframework/blob/master/framework/src/play/src/main/scala/views/defaultpages/devError.scala.html

and the
[code]
play.api.http.HttpErrorHandlerExceptions#throwableToUsefulException

both need a little change,otherwise , useful is little useful:)

[2017-09-03 08:15] nemoo opened #7786 "Dependencies using ehcache cannot be tested"
Scala
Play 2.6.3
Windows
jdk 1.8

I am trying write automated tests for my play application. The application contains classes that use the vanilla play cache and ehcache as the default implementation without any tweaks.
This is how I inject the cache:
`@Singleton
class TaskRepo @Inject()(cache: AsyncCacheApi)
                        (protected val dbConfigProvider: DatabaseConfigProvider) extends

[2017-09-03 11:18] gmethvin commented on #7786
Thank you for the example; I was able to identify the problem fairly quickly by looking at your test. The problem is that your `Injector.inject` helper is using `(new GuiceApplicationBuilder).injector()`. In other words, it's creating an entirely new injector with the default settings (as if for a new application) each time you try to `inject` an instance of something.

This means if you `Injector

[2017-09-03 11:56] nemoo commented on #7786
I dont think I fully understand. I thought putting the injector inside of an Injector **object** made sure that a new injector is NOT created on each call of the inject method?
https://github.com/nemoo/play-slick3-example/blob/silhouette/test/testhelpers/Injector.scala

[2017-09-03 14:48] hepin1989 opened #7787 "Page not found [ libs/json/JsPath.html ]"
Could not found the JsPath document

https://www.playframework.com/documentation/2.6.x/api/libs/json/JsPath.html

[2017-09-03 18:51] benmccann opened #7788 "Document usage of List in routes"
[The docs](https://www.playframework.com/documentation/2.6.x/JavaRouting) mention offhand that `List[String]` is a valid parameter type, but don't say how to use it. I was trying a bunch of stuff like `param=a,b,c,d` that wasn't working. I finally saw somewhere that suggested the usage might be `param=a&param=b&param=c&param=d` (note I haven't tried that syntax, so am not 100% certain it works)

[2017-09-03 18:52] benmccann commented on #7787
I think it's here: https://www.playframework.com/documentation/2.6.1/ScalaJson#JsPath

[2017-09-04 09:08] dimitarp commented on #7782
@gmethvin thank you for looking at this. I'm using the netty http server, not the akka http server, maybe that's the cause... I'll try to prepare a complete project with reproducible test.

[2017-09-04 09:11] eximius313 opened #7790 "Digested assets with no undigested asset equivalent should still be served"
I'm creating the issue as @jroper suggested [Here](https://github.com/sbt/sbt-digest/issues/18#issuecomment-326846494) and [Here](https://github.com/sbt/sbt-digest/issues/20#issuecomment-324311545)

I have and an image sample.png which is processed by sbt-digest so it's served from both urls:
```/assets/images/sample.png```
and
```/assets/images/f563fc66172fc3e21a0370e3d17ad556-sample.png```

When

[2017-09-04 12:47] fgi-github commented on #7751
After some digging, this is the @Inject inside a class where I explicitly use the Play.current().injector().instanceOf() to get an injected class that is called inside a parallelStream context. Hard to provide a complete MWE example on this. But definitely the same troubles as in #7615.

[2017-09-04 16:30] guilgaly opened #7791 "Play database evolutions not closing statements"
### Are you looking for help?

This is an issue tracker, used to manage and track the development of Play. It is not a support system and so it is not a place to ask questions or get help. If you're not sure if you have found a bug, the best place to start is with either the [users mailing list](https://groups.google.com/forum/#!forum/play-framework) or [Stack Overflow](http://stackoverflow.com/qu

[2017-09-04 16:38] marcospereira commented on #7788
The correct syntax is `param[0]=a&param[1]=b&param[2]=c` to have orderered params. You can also use `param[]=a&param[]=b&param[]=c` which does not guarantee any order.

For anyone taking care of this issue, is also possible to populate inner objects like:

[code]

And have parameters like `foos[0].a=somethingA&foos[0].b=somethingB`. A pull request would be very welcomed here. :-)

[2017-09-04 16:41] marcospereira commented on #7787
The correct link would be:

https://www.playframework.com/documentation/2.6.x/api/scala/play/api/libs/json/JsPath.html

[2017-09-04 16:42] marcospereira commented on #7787
By the way, I'm not sure why this is not being picked when running the validate docs task.

[2017-09-04 16:47] marcospereira commented on #7791
Thank you for this report, @guilgaly. Yes, we appreciate if you can submit a pull request to fix this. :-)

[2017-09-04 20:13] richdougherty commented on #7785
Sounds like a good idea!

[2017-09-04 20:50] richdougherty commented on #7790
Thanks for the report. To me, URLs like `/assets/images/sample.png` represent a resource served from a location and the resource content can change. However, URLs like `/assets/images/f563fc66172fc3e21a0370e3d17ad556-sample.png` contain a hash based on their content so they should really only serve the same content. The content should always match the hash IMO.

However, I can see your point about

[2017-09-04 21:25] richdougherty commented on #7751
Any info you can provide, e.g. specific `parallelStream` usage, thread pool config, can be helpful to use in debugging this one.

The solution for #7624 was to be more explicit about which thread pool to use when using the `CompletionStage` API. I did some searching around and it looks like the underlying problem is that many Java APIs use a default fork-join pool (`ForkJoinPool.commonPool`) which

[2017-09-05 07:23] fgi-github commented on #7751
Nice catch, it works by manually creating the pool as you suggest, just creating a ForkJoinPool. Many thanks!

So, to explain more on the "workflow" in my controller's action method :
1. I receive a GET call to retrieve some data from DB (no problem there)
2. map those DB objects into presentation objects into a parallelStream().map().collect()
3. those objects have "manual" injected fields retrie

[2017-09-05 09:43] gmethvin commented on #7786
I'm sorry. I must have misread your code (I thought the `lazy val` in your `Injector` was a `def`). Please disregard my comment.

[2017-09-05 09:59] fgi-github commented on #7751
Some more info on this. The same SecurityException arises when calling an external web service (REST) and chaining with the creation of objects as described upper (with calling the injector().instanceOf() manually for fields). By tracing the execution threads, I found out that:
1. GET call (in controller) is executed into the "application-akka.actor.default-dispatcher-X" thread
2. the REST call is

[2017-09-05 12:02] gmethvin commented on #7786
It appears that two instances of ehcache are being created in this case:
 1. Your `Injector` helper creates a new `GuiceApplicationBuilder` and obtains the injector from that, which tries to create an instance of ehcache when needed for your `ProjectRepo`.
 2. Your `WithApplication` block in specs2 or `GuiceOneAppPerTest` in ScalaTest is used to create a new application for each test. Since your a

[2017-09-05 17:58] marcospereira commented on #7751
You can be explicit about the `Executor` being used by `thenApply` too, but by using `thenApplyAsync` like:

[code]

This is using the default execution context and you may want to avoid it if you are doing block operations inside `thenApplyAsyn`. If you are using Play 2.6, you can inject a [custom execution contexts](https://www.playframework.com/documentation/2.6.x/Highlights26#Defining-a-Custom

[2017-09-05 18:20] fgi-github commented on #7751
ok, thanks. Missed that part of the documentation of CompletionStage-related features.

[2017-09-05 18:40] nemoo commented on #7786
Thanks a lot! Your proposed solution work perfectly!

[2017-09-05 18:40] #7786 closed

[2017-09-05 18:50] rmcloughlin opened #7796 "docs say Mockito is included but it's not"
This page https://www.playframework.com/documentation/2.6.x/JavaTest states

_The Mockito library is included in your project build to assist you in using mocks._

but this doesn't appear to be true.  I needed to include

`"org.mockito" % "mockito-core" % "2.9.0"`

in the `libraryDependencies` section of my `build.sbt` file in order for Mockito classes to be available.

[2017-09-05 23:39] eximius313 commented on #7790
The problem is, that images doesn't change at all, but after redeployment, the hash is changed!
I agree, that if image is modified, then "other version" should not be returned, but in this case image is exactly the same.

[2017-09-06 03:11] richdougherty commented on #7751
Thanks @fgi-github for the extra info!

Note to self (or whoever fixes this)…

From https://github.com/google/guice/wiki/ClassLoading it seems that Guice uses a ClassLoader descended from the target class's ClassLoader. In our case often the target classes will be built-in Play classes, and thus on the non-reloading ClassLoader, but the implementations to load may be the user's application classes

[2017-09-06 07:40] fabgilson opened #7797 "Truncated response from ajax (javascript router) call"
### Play Version (2.6.3) Java API

### Operating System (Ubuntu 16.04 kernel 4.4.0.83)

### JDK Oracle 1.8.0_144

Response from Ajax request (using the play.routing.JavaScriptReverseRouter) is truncated. This feature was working in version 2.5.15 in production code. By trying to curl the call, I get:

`GnuTLS recv error (-110): The TLS connection was non-properly terminated.`

The expected respons

[2017-09-06 08:05] mriehl opened #7798 "2.6.x unsafe if-modified-since handling (breaks assets)"
### Play Version (2.5.x / etc)
2.6.3

### API (Scala / Java / Neither / Both)
Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Linux 4.13

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

hotspot 1.8.0_144

### Expected Behavior

On any play application with an assets route (I'm using `GET           /assets/*file                             controllers.Assets.versioned(pa

[2017-09-06 09:27] mkurz commented on #7798
Yeah, 6 Jul 1997 was a Saturday, not a Monday...

[2017-09-06 10:14] codeepic commented on #2905
@shkhln

This code snippet doesn't work for Play 2.5.2

`watchSources := (watchSources.value
                 --- baseDirectory.value / "app/assets" ** "*"
                 --- baseDirectory.value / "public"     ** "*").get`

When added to `build.sbt` the Play framework never compiles the files and doesn't serve the app in the browser. It's just stuck in a page reload indefinitely.

[2017-09-06 10:29] codeepic opened #7799 "Application reloads on assets or public files changes"
### Play Version (2.5.x / etc)
Play 2.5.2

### API (Scala / Java / Neither / Both)
Scala, Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Windows 10

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
Picked up JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF8
java version "1.8.0_131"
Java(TM) SE Runtime Enviro

This is a known issue [#2905](https://github.com/playframework/playframewo

[2017-09-06 10:55] mriehl commented on #7798
Yes it's a client issue. Still I wouldn't expect the framework to handle this by blowing up. I mean an error code might be a good thing (because silently ignoring it as play 2.5 did will let the issue stagnate) but 500 is pretty rough.

[2017-09-06 12:54] HimanshuArora1234 opened #7800 "Akka MessageDispatcherConfigurator Play2.6 - Non deterministic behaviour"
Hello,
I'm reaching out to you for a little help regarding **MessageDispatcherConfigurator**
We recently migrated to play 2.6. MDC context works well for all the routes of concerned play app except one particular route. When call this route on play server start I get an error message which says `Cannot instantiate MessageDispatcherConfigurator`.
Funny thing is MDC starts working even for that part

[2017-09-06 14:42] #7791 closed

[2017-09-06 14:56] mkurz commented on #1669
Closing because addressed by #7727

[2017-09-06 14:56] #1669 closed

[2017-09-06 20:38] marcospereira commented on #7796
Thank you, @rmcloughlin.

Do you want to submit a pull request to correct the docs?

[2017-09-06 20:42] marcospereira commented on #7800
Hi @HimanshuArora1234,

Is it possible to create a small project that reproduces the problem?

Also, could you edit the issue to add the code as text instead of images? That way it will be findable later when using Github search or Google.

Best.

[2017-09-06 23:45] etspaceman commented on #7261
Looks like the interplay issue was merged today. Very exciting.

[2017-09-07 00:11] gmethvin commented on #7800
It would also be useful if we had the whole stack trace including the cause so we can see where it's coming from.

[2017-09-07 00:35] gmethvin commented on #7735
@dietmax Perhaps I don't understand the problem fully, but if the problem is Play's akka-http server as we suspect it should not be a blocker in updating. You should be able to switch to the Netty server (which is still 100% supported), or you can just use the standard APIs for getting headers, which are case insensitive (e.g. `request.headers.get(AUTHORIZATION)`).

I agree it's a good idea to pre

[2017-09-07 05:26] laguiz commented on #7243
@gmethvin
My most common scenario is Play Java without templating, only rest/json for SPA application.
A quick POC project would be very appreciated for this simpler scenario.

[2017-09-07 12:12] domdorn commented on #7634
which status code would you serve here? still 404? else people might get problems with google+seo+duplicate content, e.g. when some urls where generated wrong in one version of the app and now they cannot get them out of the index because the assets controller returns a 2xx code for urls actually not existing

[2017-09-07 18:37] gmethvin commented on #7798
We should be ignoring the date in this case. See https://tools.ietf.org/html/rfc7232#section-3.3:

So the fix is just to catch the exception and return `None` from `parseModifiedDate`.

[2017-09-07 22:16] gmethvin commented on #7243
@laguiz Then does https://github.com/pfn/kotlin-plugin work for you? That should be all you need. The only issue is https://github.com/pfn/kotlin-plugin/issues/15.

If it does work for you, it would be good to get some feedback on any API improvements we could make to improve the experience for kotlin users.

[2017-09-07 22:46] gmethvin opened #7805 "CacheApi and CacheApi hacks should be removed"
There are several places in the `EhCacheApi` impl that use `SyncCacheApi with CacheApi` to implement both. We should remove these hacks and simplify the code for 2.7.0, since we can then remove the deprecated `CacheApi`.

[2017-09-07 23:05] richdougherty commented on #7805
💝

[2017-09-08 04:40] jroper commented on #7261
Whoever works on this, don't hesitate to get into contact with me, I've now made about 10 sbt plugins cross build, and am familiar with most of the ways that incompatibilities can arise.

[2017-09-08 07:45] HimanshuArora1234 commented on #7800
Hello @marcospereira & @gmethvin Thanks a lot for your prompt reply. Really grateful :-)

I will do what you guys suggested asap. In the mean time we are trying to dive into details of this random bug with my team as well. For now we suspect that one of the following two reasons may cause this bug

1. We have an external lib used in play some of the actions which has its own akka dispatcher which

[2017-09-08 16:02] SethTisue opened #7807 "intermittent failure in AllowedHostsFilterSpec, timeout too short?"
seen in the Scala 2.12 community build at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1890/consoleFull

[code]

perhaps the timeout could be increased?

[2017-09-08 17:30] #7798 closed

[2017-09-09 02:24] wsargent commented on #7261
interplay work is on https://github.com/playframework/interplay/pull/34 but needs publishing

[2017-09-10 11:25] zgrannan commented on #6302
The only use of `ReverseRoutingContext` (which is the type of `_rrc`) I could find is here:
https://github.com/playframework/playframework/blob/7d40b7eb3a6564c185077752c191ddf605ae2988/framework/src/play/src/main/scala/play/api/controllers/Assets.scala#L606
and it looks to me like it's only current purpose is to handle a specific case of adding a `path` variable for Asset routing. Since the `_rrc`

[2017-09-10 12:11] peter057x opened #7811 "Can not connect server side"
playframework v1.25
data 5.1
jdk 1.7

config file ：jvm.memory=-Xms1024m -Xmx2048m

system：Linux 4cores 16G memory

Players can not connect game server when there are around 10k IIS/Internet Information Services. But no error was showed up in log file. Play Status doesn`t work.

Could you help me?

[2017-09-10 23:30] cchantep commented on #7811
Hi, this repository is for Play 2+ (and this issue tracker is for confirmed issue/actionable request for such releases). Please use the appropriate tracker or Mailing list. Best regards.

[2017-09-11 05:55] #7811 closed

[2017-09-11 05:56] gmethvin commented on #7811
@peter057x You might want to try asking on https://groups.google.com/forum/#!forum/play-framework (that is still mostly 2.x but you might find a few 1.x users).

[2017-09-11 07:08] gmethvin commented on #7712
I'm going to close it since there is already discussion going on in the play-ws repo.

[2017-09-11 07:08] #7712 closed

[2017-09-11 08:14] gmethvin commented on #7634
The default should certainly still be 404, but depending on how your SPA is implemented you might not have a way to know on the server side if that path is valid, so it might be more desirable to serve a 200 and deal with the nonexistent page on the client side.

[2017-09-11 10:49] #7063 closed

[2017-09-11 10:51] #7705 closed

[2017-09-11 10:57] #4809 closed

[2017-09-11 12:59] fommil opened #7812 "[2.6.3] NumberFormatExceptions on every incoming query"
Upgrading to sbt-play 2.6.3

I'm seeing exceptions with every request when using the netty backend (not confirmed with akka-httop), I isolated the problem to these two config parameters: https://www.playframework.com/documentation/2.6.x/ScalaBodyParsers#Max-content-length

the config parser is trying to load the defaults (128KB and 10MB) as `Long`, then `Double`, then finally as the custom format.

[2017-09-11 13:06] HimanshuArora1234 commented on #7800
@gmethvin Hey thanks for reply. here goes the complete stack trace

`! @75a82igj8 - Internal server error, for (GET) [/] ->

play.api.http.HttpErrorHandlerExceptions$$anon$1: Execution exception[[ConfigurationException: Cannot instantiate MessageDispatcherConfigurator type [filters.MDCPropagatingDispatcherConfigurator], defined in [akka.actor.default-dispatcher], make sure it has constructor with

[2017-09-11 13:10] marcospereira commented on #7800
Thank you, @HimanshuArora1234.

Is it possible to share the code for `filters.MDCPropagatingDispatcherConfigurator` class?

[2017-09-11 13:13] HimanshuArora1234 commented on #7800
Yes here you go. Thanks a lot @marcospereira for prompt reply. You rock :)

[code]

[2017-09-11 13:18] ssedoud commented on #7800
Hello @marcospereira & @gmethvin,

I am working with @HimanshuArora1234 and we've been able to reproduce the issue in a small project. I have created two projects :

1. [actor-lib-poc](https://ssedoud@bitbucket.org/ssedoud/actor-lib-poc.git) which is a small library that is using an actor to log

[code]

2. [action-builder-poc](https://ssedoud@bitbucket.org/ssedoud/action-builder-poc.git) which is

[2017-09-11 13:38] HimanshuArora1234 commented on #7800
Just FYI, this bug only appears in dev mode. MDC works fine in prod mode.

[2017-09-11 15:21] marcospereira commented on #7807
@SethTisue, increasing the timeout should be enough here. Thank you for let us know about it.

See #7815 for a fix. :-)

[2017-09-11 21:18] #7807 closed

[2017-09-12 05:47] #7774 closed

[2017-09-12 11:04] jazmit opened #7817 "Allow graceful handling of illegal websocket requests"
When a request to a websocket URL does not contain the 'Upgrade' header, play fails with an Error and the application-provided handler is never invoked:

https://github.com/playframework/playframework/blob/7945944fd032261c7d8fbf11a3c8aba1935b3dd3/framework/src/play-akka-http-server/src/main/scala/play/core/server/AkkaHttpServer.scala#L270

We get several hundred of these in our logs every day, pro

[2017-09-12 12:13] cchantep commented on #7812
Please paste the stacktrace

[2017-09-12 12:23] fommil commented on #7812
I don't have it anymore. I fixed the bug and moved on.

[2017-09-13 02:42] gmethvin commented on #7812
Do you mean an *uncaught* exception or simply an exception that is thrown and caught by the config parser? What did you modify to fix it?

Not knowing your app it's hard to know if you're running into an unusual edge case, but the `HttpConfiguration` should be created once when your app starts. Afterward there is no need to read the configuration again. I don't see how it could happen on every req

[2017-09-13 06:40] fommil commented on #7812
Exceptions kill performance, that's what I care about. Fire up yourkit against any play app and watch the exceptions counts rise and rise.

[2017-09-13 09:32] gmethvin commented on #7812
I agree, exceptions kill performance and we should certainly avoid exceptions happening on every request.

I just tested with a very simple Play running locally with yourkit. I'm not seeing `NumberFormatException`s on every request. Exception counts do not go up just from making an HTTP request, at least not with the Netty server.

With Akka HTTP, I actually do see two exceptions:
 - akka.http.imp

[2017-09-13 09:52] fommil commented on #7812
we're not running dev mode, this is prod.

I've already moved on from the code that produced this, so I'm not able to reproduce the stacktrace for you, but from internal notes we were seeing the exceptions raised from `HttpConfiguration` specifically these lines

[code]

https://github.com/playframework/playframework/blob/2.6.3/framework/src/play/src/main/scala/play/api/http/HttpConfiguration.scal

[2017-09-13 10:07] fommil commented on #7812
ah, no, you're right about akka-http... I'm also seeing loads of NotEnoughDataException or RuleNotFoundException. Can't be good for performance... I'm seeing it for every request.

[2017-09-13 10:08] fommil commented on #7812
and also a lot of parboiled2 exceptions. These I can stacktrace, but I'll create a separate ticket for them.

[2017-09-13 10:12] fommil opened #7822 "[2.6.6] akka-http exceptions on every user request"
I'm seeing many many exceptions with every user request when using the akka-http backend

![2017-09-13-110948_1918x1078_scrot](https://user-images.githubusercontent.com/1914041/30371953-18633022-9874-11e7-9819-061822396eb5.png)

YourKit really doesn't make it easy to export these things, but here's the best I could get

[akka-http-exceptions.zip](https://github.com/playframework/playframework/file

[2017-09-13 11:14] carstenlenz opened #7823 "Documentation on new default filters is inconsistent with implementation"
Hello,

The documentation on the new `play.filters.enabled` configuration says:

The implementation of this does not **append** as it is says but sets it:
[code]
What I tried is to add a new filter in my libraries `reference.conf` by appending like:
[code]
But depending on classpath ordering my append gets overwritten or not.
To get it to work I have to set it explicitly in the `application.conf`

[2017-09-13 12:03] francisdb commented on #6845
Another use case where this causes issues:
App deployed on Google cloud with kubernetes, load balancer and ingress controller https termination.
`X-Forwarded-For` contains both the ip of the user and the ingress controller where `X-Forwarded-Proto` contains a single `https`

[2017-09-13 17:05] marcospereira commented on #7822
Hi @fommil, anything special about the requests (some specific non-standard header, for example)?

[2017-09-13 17:06] mkurz commented on #7823
Sounds reasonable for me. Opened a pull request: #7824

[2017-09-13 17:25] fommil commented on #7822
just GET requests, with reasonably large lists of parameters (maybe 10 to 20)... btw @gmethvin has also seen this and prompted me to take a closer look.

[2017-09-13 18:53] carstenlenz commented on #7823
Thanks :)

[2017-09-13 20:39] #7823 closed

[2017-09-13 20:42] #7752 closed

[2017-09-13 20:45] mkurz commented on #7823
@carstenlenz This will be fixed in the upcoming Play 2.6.4 release, which should happen soon (I think). Let us know if it does work for you then. Thanks for reporting!

[2017-09-13 23:29] gmethvin opened #7827 "text/javascript mime type is obsolete"
Since the `text/javascript` content type is obsolete, we may consider switching to `application/javascript` for our constants in Play 2.7 and/or provide an alternate simple way to use the `application/javascript` type.

(See https://www.iana.org/assignments/media-types/text/javascript)

[2017-09-14 08:35] jrudolph commented on #7822
@fommil Parsing in akka-http uses exceptions for flow control, so these exceptions are expected. They don't collect stack traces and usually shouldn't be in the fast path, so there should be no performance hit. It might make sense to get rid of the `RuleNotFoundException`, though, since that might trigger for every unknown header.

Do you observe any wrong behavior corresponding to those exception

[2017-09-14 08:40] jrudolph commented on #7822
Looking at the `parseMethod` exception, I think we could optimize that as well. I wonder, though, what kind of requests these are? Are there HTTP pipelined requests? Any chance you could share some of those requests?

[2017-09-14 08:59] seprich opened #7829 "Request attribute HandlerDef not available"
### Play Version
2.6.3
### API
Scala
### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
[code]
### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

Paste the output from `java -version` at the command line.
[code]
### Library Dependencies

[code]

### Expected Behavior
HandlerDef should be available both in filter and in request handler.

### Actual Behavior
On request handler I had th

[2017-09-14 09:59] fommil commented on #7822
ok cool, good to know. I am seeing stack traces in yourkit though ... is that being added by the instrumentation? Since we run with yourkit/newrelic instrumentation in prod it may mean that we still get hit by the stack traces.

[2017-09-14 12:13] wwbakker commented on #7261
All of the dependencies mentioned by the original poster seem to be done.

[2017-09-14 13:16] jrudolph commented on #7822
It's one of the best ways of writing well-performing suspendable parsers in a straightforward way without having to employ code generation. A comparable functional variant would need the ability to return a continuation at each single point where a single char is read (= `Iteratee` like structure). This is at least an order of magnitude slower or a manually created state machine which is so much m

[2017-09-14 13:16] jrudolph commented on #7822
Anyway thanks for the traces, I think they will help improving a few things ;)

[2017-09-14 16:28] jrudolph commented on #7822
One of those traces seems to point to an issue with parsing `X-Forwarded-For` headers. You should probably see warnings in the log for those that couldn't be parsed. Would be interesting to see what's going on there. So, if you could post the warning or an example of such a header that would be useful, @fommil.

[2017-09-14 16:44] hepin1989 commented on #7753
[code]

[2017-09-14 16:51] fommil commented on #7822
interesting... the headers that we're sending out from the server, or the ones we're receiving?

[2017-09-14 19:54] gmethvin commented on #7829
It looks like you're using a custom router instead of the routes file. `HandlerDef` is meant to convey information from the parsed routes file to your actions. I'm not sure what you'd expect it to do here.

[2017-09-14 20:29] seprich commented on #7829
Well I thought that router would be able to collect the route information to HandlerDef also from this this SIRD type of construct (the project I work on already uses sird and switching to routes file would mean major refactoring).
I am trying to collect metrics per route in a filter, and filter gets the RequestHandler which contains .path but that not useful in order to determine which routing en

[2017-09-15 07:01] PromanSEW opened #7832 "[2.6.5] Eviction warnings appeared after update from 2.6.3"
### Play Version (2.5.x / etc)

2.6.5

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

macOS 10.12.6

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

### Upgrade changes

[code]

[code]

### Behavior after upgrade

I see these warnings in IntelliJ IDEA consol

[2017-09-15 09:24] mkurz commented on #7756
@Flo354 Play 2.6.5 is out (don't use 2.6.4)

[2017-09-15 09:25] mkurz commented on #7823
@carstenlenz Play 2.6.5 is out with the fix (don't use 2.6.4)

[2017-09-15 10:59] Flo354 commented on #7756
@mkurz problem solved!

Thanks again

[2017-09-15 11:05] mkurz commented on #7756
@Flo354 Good to hear :+1:

[2017-09-15 11:30] fommil commented on #7822
@jrudolph it turned out to be simple to find this. we're using `"X-Forwarded-For" -> "forwarded"` in gatling.

Regarding exceptions for control flow... did you know that in Emacs Lisp (and common lisp) the `throw` and `catch` are not for error handling but for non-local exits :grinning: https://www.gnu.org/software/emacs/manual/html_node/elisp/Catch-and-Throw.html#Catch-and-Throw

It's amazing how

[2017-09-15 12:03] megri commented on #7261
Tangentially, there is an [open issue](https://github.com/sbt/sbt/issues/3527) with SBT that causes triggered reloads to preform very poorly on macos. It would be nice to consider this before defaulting to SBT 1.0+

[2017-09-15 14:37] marcospereira commented on #7832
Hi @PromanSEW,

This is how sbt shows evictions now:

http://developers.lightbend.com/blog/2017-06-15-sbt-1-0-beta2/index.html#eviction-warning-presentation

These warnings were presented before too, but with a different (and more compact) format. You can change the log level to log only error messages if you want. Just add the following configuration:

[code]

We don't plan to [manually exclude t

[2017-09-15 14:58] PromanSEW commented on #7832
@marcospereira Thanks.
I have set
[code]
I think it is optimum configuration for me.

And about excluding: I think Akka dependencies should be fixed at least
WDYT?

[2017-09-15 17:39] connyduck opened #7834 "Values in cache expire much faster than expected"
### Are you looking for help?

No

### Play Version

2.6.5

### API

Java

### Operating System

Windows 10

### JDK

java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

### Expected Behavior

when calling `SyncCacheApi.set(key, value, expiration) ` the value expires after `expiration` seconds as per the j

[2017-09-15 18:38] godenji commented on #7261
@megri there is no default, it's up to the user (i.e. sbt version in `build.properties` will determine play 0.13 or 1.0).

[2017-09-15 22:04] gmethvin commented on #7834
@connyduck you're right, it's assuming milliseconds and should be seconds. I'll submit a pull request to fix this.

[2017-09-15 22:29] gmethvin commented on #7834
Note that this only appears to affect the Java `SyncCacheApi` implementation. So as a workaround you can use the `AsyncCacheApi`

[2017-09-15 23:39] gmethvin commented on #7829
I'm not even sure what you would expect to see in the SIRD scenario as much of the information provided by `HandlerDef` (controller and method for example) would not make sense there.

There are other ways you could structure your code to obtain the same information in your filter. Since you are defining the router yourself, you have complete control over how the request is mapped to actions and w

[2017-09-15 23:39] #7829 closed

[2017-09-16 02:06] PromanSEW commented on #7832
@jrudolph please look

[2017-09-16 15:02] KukkadapuSushma commented on #7796
Can I take up this issue, as a new beginner here!
Also, I would like to know, whether this issue is about changing " mockito build"  information presented in docs?

[2017-09-17 04:34] zgrannan commented on #6302
Since it wasn't too much work, I implemented something similar to the above here: https://github.com/playframework/playframework/pull/7838. It doesn't change the definition of `ReverseRouteContext` in order to maintain binary compatibility.

[2017-09-18 08:20] schmitch commented on #7735
well basically it might be a good idea, but actually http headers are case-insensitive. This matters a lot on http2 where a lot of implementations do lowercase every header even on http/1.1 for forward compatibility.

[2017-09-18 08:58] schmitch commented on #7261
also triggered reloads are not a problem on play since, play uses his own reload technique.

[2017-09-19 06:02] #7781 closed

[2017-09-19 06:02] gmethvin commented on #7781
Should be fixed now

[2017-09-19 06:11] gmethvin commented on #7796
In the [Java testing docs](https://www.playframework.com/documentation/2.6.x/JavaTest#mocks) we should mention the need to add the mockito dependency (`libraryDependencies += "org.mockito" % "mockito-core" % "2.9.0"`)

I also noticed in the [docs on ScalaTest with Mockito](https://www.playframework.com/documentation/2.6.x/ScalaTestingWithScalaTest#Mockito) we have the wrong package name in the lin

[2017-09-19 22:26] KoenDG commented on #7242
@richdougherty You said

Would you consider an application which's main task is to query a database many times in a single call to be such a workload. It seems like it to me, but I'm wonder if that kind of task needs LIFO or FIFO

[2017-09-20 09:36] scadgek commented on #2484
Hi @jroper,

Just wanted to inquire whether you haven't changed your position after 3 years. I can find a few counterarguments to your claim that we don't need to test `onError()`'s behaviour when testing controllers. In my view, when I test a _controller_, what I want to accomplish is to emulate someone issuing an HTTP request to my service and test the result _he receives_, which is in this case

[2017-09-20 20:30] richdougherty commented on #7242
I think you'll get more throughput if you use a LIFO/stack structure for scheduling. You'd need to profile to check though. :)

[2017-09-20 23:45] #7834 closed

[2017-09-21 15:31] marcospereira commented on #7776
Closing in favor of playframework/playframework.com#170.

[2017-09-21 15:31] #7776 closed

[2017-09-21 17:19] Gacko commented on #5765
Can someone confirm this issue on latest releases?

[2017-09-22 08:41] dietmax commented on #7735
@gmethvin Switching to the netty server is definitely something we will look into, thanks for that tip 👍 Regarding the standard API for getting headers, my understanding is, that `request.headers` is just a wrapper around a `Map[String, String]` and HeaderNames.AUTHORIZATION is the String "Authorization". Therefore `request.headers.get("Authorization")` will only return Uppercase authorization hea

[2017-09-22 21:41] wsargent commented on #7045
Something odd happening with sbt-sassify https://github.com/playframework/play-scala-slick-example/pull/47#issuecomment-331560115

[2017-09-23 00:15] gmethvin commented on #7735
@dietmax The `Headers` class internally uses a `Map` but it is a `TreeMap` with a [case insensitive ordering](https://github.com/playframework/playframework/blob/2.6.x/framework/src/play/src/main/scala/play/api/mvc/Headers.scala#L101). Headers are case-insensitive, so the headers API is case insensitive.

[2017-09-23 18:39] Shruti9520 commented on #6935
Hi,
@gmethvin @benmccann @marcospereira Can I work on this issue? :)

[2017-09-24 02:44] gmethvin commented on #6935
@Shruti9520 Sure. Note that this is only in the 2.5.x docs (not in master) so you have to submit your pull request there. I think we can just remove the GlobalSettings example.

[2017-09-24 13:47] Shruti9520 commented on #6935
@gmethvin My PR's Travis CI test is failed. I am getting errors like- Internal server error, the application secret has not been set, and we are in prod mode, your application is not secure etc. Is it because I submitted a PR in branch- 2.5.x and the tests are written for the latest version (2.6.x)? Will you please help me out, it is my first PR ? :)

[2017-09-25 07:21] irundaia commented on #7045
@wsargent regarding the weird behaviour of sbt-sassify. This should be fixed with version 1.4.11. :)

[2017-09-25 10:05] codeepic commented on #7799
Guys, is there any resolution to this or at least a rough estimate whether it can be solved.
It's a big hurdle for our front-end team. Every time the .js or css file is changed, Play recompiles the whole project. The time it takes to wait for the browser to refresh is 90 seconds. If you consider how often these changes are made and the number of front-end guys working on it we are losing 20 hours

[2017-09-25 14:49] marcospereira commented on #6935
@Shruti9520 the build failure was not related to your changes. The PR was merged and we can now close this issue.

Thank you!

[2017-09-25 14:49] #6935 closed

[2017-09-25 14:57] #7009 closed

[2017-09-25 22:12] SethTisue opened #7849 "intermittent test failures (EhCacheApiSpec, ResourcesTest) in Scala 2.12 community build"
in https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1987/ `play.api.cache.ehcache.EhCache​ApiSpec` failed

and in https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1988/
`play.libs.ResourcesTest` failed

the next build (1989) was green

[2017-09-26 00:50] jroper opened #7850 "CORS filter overwrites VARY header"
I was doing a quick audit of the CORS filter to ensure it is not vulnerable to the same issue that Tomcat was vulnerable in [CVE-2017-7674](https://nvd.nist.gov/vuln/detail/CVE-2017-7674) (from what I can see it's not), but I found a possible bug. The Play CORS filter will overwrite any existing `VARY` headers in the result.

You can see here Play adding the `VARY` header to the header builder:

h

[2017-09-26 05:02] shkhln commented on #7799
All of them? What do you see when you touch java code? Does incremental compilation work properly in that case?

[2017-09-26 14:35] Shruti9520 commented on #7669
@richdougherty Can I work on this? :)

[2017-09-26 14:39] #7796 closed

[2017-09-26 15:21] marcospereira commented on #7669
Hi @Shruti9520,

Yes, feel free to work on this. 👍

[2017-09-26 15:46] mindas commented on #6862
@almothafar have you managed to get to the bottom of this issue? I have the same problem. Thanks.

[2017-09-26 17:48] SethTisue commented on #7849
in [run 1990](https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/1990/consoleFull), `EhCache​ApiSpec` failed again

[2017-09-26 17:48] gabrielgiussi commented on #7497
@wsargent What it means with

It really matters if the futures completes or fails from the point of view of the pool? In the end we need some thread to execute the callback onSuccess or onFailure.

[2017-09-27 00:35] #7850 closed

[2017-09-27 15:43] carstenlenz commented on #7823
I just upgraded our apps.
Works for me! 👍

Thank you very much :)

[2017-09-27 16:02] Shruti9520 commented on #7788
@marcospereira @benmccann Can I work on this issue? :)

[2017-09-27 16:29] benmccann commented on #7788
Yes. Thank you!

[2017-09-27 17:11] amtj commented on #7788
@Shruti9520 Sorry for the pull request. Did not see your comment. Hope you can work on any other issue :)

[2017-09-27 17:18] Shruti9520 commented on #7788
@amtj No worries. :)

[2017-09-27 17:33] Shruti9520 commented on #6573
@wsargent Can I take this issue? :)

[2017-09-27 21:05] wsargent commented on #6573
Absolutely!

[2017-09-28 08:43] HimanshuArora1234 commented on #7800
@marcospereira & @gmethvin

Hi, I see that this issue is still labeled as `needs info`. So just wanted to let you know that all the information asked for and a small POC project reproducing the bug have been supplied in the previous comments on this thread. Thanks a lot. Your help is sincerely appreciated. Looking forward to hearing from you :)

[2017-09-28 10:54] scadgek opened #7857 "Stange single-threaded behaviour in controller method"
### Play Version (2.5.x / etc)

2.5, 2.6

### API (Scala / Java / Neither / Both)

Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Linux Mint
[code]

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

Oracle Java 8
[code]

### Issue description

Take the [default starter app for java](https://github.com/playframework/play-java-starter-example) and add the following to `Home

[2017-09-28 11:08] cchantep commented on #7857
Hi @scadgek , please use the [MailingList](https://groups.google.com/forum/#!forum/play-framework) to ask questions/for help (this tracker is for confirmed issue, see [guidelines](https://playframework.com/contributing)). Best regards.

[2017-09-28 11:18] scadgek commented on #7857
Thanks @cchantep and sorry for messing it up. I've created a topic at google forums (probably it's on moderation now).

[2017-09-28 11:18] #7857 closed

[2017-09-28 16:16] #7669 closed

[2017-09-28 18:13] domdorn commented on #7733
puh... I just stumbled on the same issue with my new client, when trying to migrate to play 2.6
They also use the "Link" header to indicate which urls are "prev", "next" and "self".. the client also expects the quotes to be there.

I'm not sure on how to use the workaround with `RawHeader` as I'm in a Play-Action and the only methods for headers only takes Strings or a Date..

Sample code looks li

[2017-09-28 19:14] SethTisue commented on #7849
in [run 1997](https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/1997/consoleFull), `ResourcesTest` failed again

[2017-09-29 00:26] gmethvin commented on #7849
@SethTisue Thanks for the report. I think these issues are fixed by #7861 and #7862.

[2017-09-29 11:26] joymufeng opened #7863 "FileNotFoundException thrown after enabling ws cache."
### Play Version
2.6.5

### API
Scala

### Operating System
Windows 10 & CentOS Linux 7

### JDK
Oracle 1.8.0_72

### Expected Behavior
WS cache should works normally with the configuration as following:
[code]

### Actual Behavior
It works normally in dev mode on Windows 10, however, FileNotFoundException thrown after deploying to linux server(CentOS 7).
[code]

[2017-09-29 11:57] joymufeng commented on #7863
@gmethvin Hi gmethvin, I fix this issue by #7864 , could you please have a check!  I find that the test already exists in play.api.libs.ws.ahc.OptionalAhcHttpCacheProviderSpec.

[2017-09-30 07:15] gmethvin commented on #7799
It would be useful if we had a project to test. #2905 seems to have a lot of people with different experiences, so the more information we have the better.

[2017-09-30 07:17] #7417 closed

[2017-09-30 15:15] rmcloughlin opened #7866 "Useful error message when result is null"
### Are you looking for help?

No.

### Play Version (2.5.x / etc)

2.6.3

### API (Scala / Java / Neither / Both)

Java

### Behavior

If a controller method returns null (for a `Result`) the error message is not useful.  See below.  The exceptions don't contain any info about my own code.  The web page also just shows "NullPointerException: null"

[code]

![exception](https://user-images.githubu

[2017-10-01 15:41] jn-se commented on #7017
Try to use _sbt update_ before _sbt dist_. Maybe that is a cleaner solution instead of the dependencyOverrides approach. That solved it for me. Reproducible on two environments with the same problem.

[2017-10-02 06:32] richdougherty commented on #7866
Good idea!

[2017-10-02 07:49] phillip055 commented on #5275
I am working on this 👍

[2017-10-02 12:00] almothafar commented on #6862
@mindas yes with tricky way only, anyway I'll post a minified version of the code, so do what you want:

on for `onDevServerError` and `onProdServerError`:

[code]

for ` getHandledErrorCompletionStage(exception);` this is doing the job here to handle this case with recursive calls if needed:

[code]

For more about `logServerError` it helps to reduce logs:

[code]

[2017-10-02 20:03] richdougherty commented on #7017
That's strange, I would have thought that _dist_ already triggers an _update_...

[2017-10-02 20:30] richdougherty commented on #7799
@codeepic, Sorry to hear this is affecting you so much. I'll check up what's happening with this issue. I know we've got some file reloading issues on our radar but not sure what the plan is for this specific issue.

Just so you know, this kind of issue can be very tricky to resolve because it spans several subsystems - sbt, sbt-web, file change notifications, Play's reloading, classloaders, etc.

[2017-10-02 21:33] jn-se commented on #7017
I expected it too, but it seems the update is not performed. When you change the dependency versions the files are not copied into the bundle in the correct version (check the lib folder). Only manual _dist update_ solves it. Reproducible with Play 2.6.x on two systems.

[2017-10-03 01:10] gmethvin commented on #7787
Should be correct now (see https://www.playframework.com/documentation/2.6.x/ScalaJson#JsPath)

[2017-10-03 01:10] #7787 closed

[2017-10-03 12:08] Abrasha opened #7877 "Unable to test simple Controller with JSON Body"
### Are you looking for help?

No

### Play Version

2.6.5

### API

Scala

### Operating System

MacOS:

    Darwin ***.local 17.0.0 Darwin Kernel Version 17.0.0: Thu Aug 24 21:48:19 PDT 2017; root:xnu-4570.1.46~2/RELEASE_X86_64 x86_64

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

    java version "1.8.0_144"
    Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
    Java HotSpot(TM) 6

[2017-10-03 12:15] Abrasha opened #7878 "Feature request: assign application/json content type"
### Are you looking for help?

No

### Play Version

2.6.5

### API

Scala

### Operating System

MacOS:

    Darwin ***.local 17.0.0 Darwin Kernel Version 17.0.0: Thu Aug 24 21:48:19 PDT 2017; root:xnu-4570.1.46~2/RELEASE_X86_64 x86_64

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

    java version "1.8.0_144"
    Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
    Java HotSpot(TM) 6

[2017-10-03 17:03] Shruti9520 commented on #7692
@richdougherty Can I work on this issue? :)

[2017-10-03 17:25] Shruti9520 commented on #7692
@richdougherty I think, get() method in Java Cache already accepts type parameter. What do you think?

[2017-10-03 19:00] #6412 closed

[2017-10-03 20:04] richdougherty commented on #7877
Thanks for the report. I'll take a look at this now.

[2017-10-03 20:42] richdougherty commented on #7878
Sounds like something worth investigating. Since this is for testing, we would still need to be able to send the body without the `Content-Type` header, e.g. so users can test failure conditions in their application.

[2017-10-03 20:46] Abrasha commented on #7878
Hi @richdougherty,

For these purposes users can use `withBody` method or explicitly set no headers like

    FakeRequest()
        .withJsonBody()
        .withHeaders()

Testing with no content type headers is much more rare scenario than testing controllers at all.
What do you think?

[2017-10-04 01:00] markehammons opened #7879 "Play 2.6.5 does not work with Java 9"
### Play Version (2.5.x / etc)

 2.6.5

### API (Scala / Java / Neither / Both)

Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Fedora 26

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

openjdk version "9.0.0.15"
OpenJDK Runtime Environment (Zulu build 9.0.0.15+181)
OpenJDK 64-Bit Server VM (Zulu build 9.0.0.15+181, mixed mode)

### Expected Behavior

I expect my appli

[2017-10-04 01:18] jroper commented on #7879
I imagine this will be the easiest issue to fix of all the JDK9 compatibility issues that we're going to encounter.

[2017-10-04 01:20] richdougherty commented on #7877
Hi @Abrasha, if you add type annotations into your test you can sort of see what's happening:

[code]

The problem is that `acceptAction.apply` is overloaded - you can either pass a `RequestHeader` or a `Request[JsValue]`. Since you're trying to pass a `Request[AnyContentAsJson]` this matches the `RequestHeader` version. This returns an `Accumulator`.

When you call `homeController.accept.apply` y

[2017-10-04 01:20] #7877 closed

[2017-10-04 01:22] richdougherty commented on #7879
Thanks for the report @markehammons. Agree it would be good to get working with Java 9!

[2017-10-04 03:26] marcospereira commented on #7879
Hey @markehammons, which version of Scala is your app is using?

I was able to create a play app as I described here: https://groups.google.com/forum/#!topic/play-framework/e3KLg94j5_M

Could you please try with Scala 2.12.3 and report back if it works for you?

[2017-10-04 04:06] richdougherty commented on #7878
I'm open to the idea. Would you like to sketch out the API changes? One thing to consider is that existing methods should continue to behave the same way—existing tests should preserve their behaviour. Another thing to think about is how this looks in equivalent the Java API.

[2017-10-04 08:30] Abrasha commented on #7878
Yes, I will try to make initial drop in few days. And I think we can than move this discussion closer to code - PR.

[2017-10-04 09:21] markehammons commented on #7879
I'm using scala 2.12.3

[2017-10-04 16:20] lousanna commented on #5546
The assertThat() function has been removed with JUnit 5:
http://junit.org/junit5/docs/current/user-guide/#writing-tests-assertions-third-party

[2017-10-04 18:27] agebhar1 commented on #7832
Eviction warnings for Akka
[code]
should be resolved by following Akka's compatibility guideline [»Akka HTTP 10.0.x with Akka 2.5.x«](https://doc.akka.io/docs/akka-http/current/scala/http/compatibility-guidelines.html#akka-http-10-0-x-with-akka-2-5-x) as mentioned at akka/akka-http/issues/1452.

[2017-10-04 18:43] dwickern commented on #7646
Thanks, can confirm this is working now

[2017-10-04 19:28] lousanna commented on #5275
Hi @phillip055, are you still working on this?

[2017-10-04 20:37] #5510 closed

[2017-10-04 21:13] marcospereira commented on #7879
Hi @markehammons,

The Scala issue was https://github.com/scala/scala/pull/5276 and it was released in 2.12.1 and [preliminary suppor](https://github.com/sbt/sbt/blob/v0.13.14-RC1/notes/0.13.14.markdown#improvements) was added in sbt 0.13.14.

Is it possible to create a small project to reproduces the problem? I'm running the following build of Java 9:

[code]

[2017-10-04 22:09] #7261 closed

[2017-10-04 22:45] gching2 commented on #7017
Been facing this for a while, and it happens really randomly too, but the above responses  did not help me but instead, updating the `sbt-play-ebean` plugin made it work for me:
[code]
in `plugins.sbt`

I think this should be reopened because these random fixes + it still happening randomly means it must be more then just dependency issues. I know its flaky and only reproducible for a selected few

[2017-10-04 22:46] gching commented on #7017
Been facing this for a while, and it happens really randomly too, but the above responses  did not help me but instead, updating the `sbt-play-ebean` plugin made it work for me:
[code]
in `plugins.sbt`

I think this should be reopened because these random fixes + it still happening randomly means it must be more then just dependency issues. I know its flaky and only reproducible for a selected few

[2017-10-05 08:06] Spenhouet commented on #7879
I had the same issue. It's just not possible to use Play with Java 9 at the moment.
Scala doesn't support the released Java 9 as of yet:
https://github.com/scala/scala-dev/issues/139

It seems that they are far from ready and I don't see any progress.

[2017-10-05 12:13] marcospereira commented on #7879
Hi @Spenhouet, what other issues did you find?

Java support will probably come in two waves here, one to ensure that everything runs fine on Java 9 and other to use new features (like the module system) and APIs. We first need to ensure that Play applications can run fine on Java 9. The same is happening with sbt and Scala, that is why sbt support in 0.13.14 was described as preliminary and see h

[2017-10-05 15:29] Spenhouet commented on #7879
@marcospereira Oh, it seems I had a different issue. After looking up and solving the issue described in this thread I got a new error.
`scala.reflect.internal.MissingRequirementError: object java.lang.Object in compiler mirror not found.`
At this point I gave up and blamed it on the long list of tasks for the Java 9 support for scala (https://github.com/scala/scala-dev/issues/139).

I just found

[2017-10-05 17:35] DReigada commented on #7866
I can take this one!

[2017-10-05 19:39] gmethvin opened #7892 "Common tests for Akka HTTP and standard Headers implementations"
We currently have the `play.core.server.akkahttp.AkkaHeadersWrapper` in the akka-http-server implementation and `play.api.mvc.Headers`. We should add tests for both and if possible share some of the specification. This could be done by creating a new integration test or having the akka-http-server tests depend on the core play tests.

[2017-10-05 19:40] gmethvin commented on #7892
See also #7885

[2017-10-05 20:51] marcospereira commented on #7879
Thank you for the feedback, @Spenhouet.

You can try with one of the nightly built snapshot, for example, this version: `2.6.6-2017-10-05-829d140-SNAPSHOT`. You will need the following resolver too:

[code]
And of course change `build.properties` to use sbt 1.0.2.

Can you check and see if it works?

[2017-10-05 22:54] richdougherty commented on #7646
Great! Thanks for checking. :)

[2017-10-06 02:46] chetankm-cs commented on #5275
Hi, if its still available I want to work on this.
Also should we add scala api for the same use case ?

[2017-10-06 03:04] #7554 closed

[2017-10-06 04:30] phillip055 commented on #5275
Yes, will send pr today

[2017-10-06 09:02] Spenhouet commented on #7879
@marcospereira I've tried that and is resolves the error

`[error] unresolved dependency: com.typesafe.play#sbt-plugin;2.6.5: not found`

but it still leaves me with the following errors:

[code]
Are there snapshot versions of these libraries two?

[2017-10-06 11:50] oripwk commented on #3893
For anyone who's reading this in 2017, the method is now called `JsError.toJson`.

[2017-10-06 11:53] raderio commented on #7243
https://github.com/67726e/gradle-twirl

[2017-10-06 12:01] raderio commented on #7243
https://github.com/playframework/twirl/issues/156

[2017-10-06 12:52] efiko12 opened #7895 "Websocket sub protocol response"
Hi,

We switched to Play 2.6 backend with Akka http and we have problem with one of our websocket clients that isn't getting sub protocol header in the handshake response.

When we're running it with Netty there is not problem, please look in [Netty's PlayRequestHandler](https://github.com/playframework/playframework/blob/2.6.x/framework/src/play-netty-server/src/main/scala/play/core/server/netty/

[2017-10-06 14:38] AlNedorezov commented on #4665
@gmethvin is there a solution that works with play 2.6?
I have tried https://github.com/remithieblin/play-spring-loader, but doesn't work with 2.6, as it gives the following internal server error, for (GET) [/]:

[code]

[2017-10-06 16:12] codeepic commented on #7799
@richdougherty

So we have an Angular 2 application in public folder. I just changed 1 of the TypeScript files, which are watched by Webpack. Webpack recompiled the files into .js bundles in /dist folder inside public. Now I hit refresh button on the browser to see the changes, 57 seconds later I can see them. This happens every time, for all front-end devs at our company. Here is the log from Pla

[2017-10-06 19:09] marcospereira commented on #7879
@Spenhouet, you are right. There are still work to be done for sbt-jshint, sbt-rjs and play-enhancer. We really appreciate if you can help here.

[2017-10-06 19:11] marcospereira commented on #4665
Hi @AlNedorezov, we don't have an official module to support Spring and [remithieblin/play-spring-loader](https://github.com/remithieblin/play-spring-loader) is what we usually recommend. But looks like it does not supports Play 2.6 yet.

Right now we don't have time to help to maintain the project, so maybe you can submit a PR there?

[2017-10-06 19:40] lousanna commented on #7892
I'll begin working on this.

[2017-10-06 19:53] AlNedorezov commented on #4665
@marcospereira Thanks for a quick reply.
I'll see what I can do.

[2017-10-06 20:08] ekosutopo commented on #7892
Working

Pada tanggal 7 Okt 2017 2:40 AM, "Lousanna" <notifications@github.com>
menulis:

[2017-10-06 21:36] markehammons commented on #7879
after upgrading to 2.6.6 and sbt 1.0.2, play now launches my app, but it crashes while rendering the home page with this error:

java.lang.NoClassDefFoundError: javax/xml/bind/DatatypeConverter
        at io.jsonwebtoken.impl.Base64Codec.decode(Base64Codec.java:26)
        at io.jsonwebtoken.impl.DefaultJwtBuilder.signWith(DefaultJwtBuilder.java:106)
        at play.api.mvc.JWTCookieDataCodec$JWTF

[2017-10-06 21:48] markehammons commented on #7879
Using the solution here:

I was able to get my application to load and run (at least for all basic tasks). So the next question is can
the module adding be done without changing sbt? I tried adding javaOptions += "--add-modules=..." to my build and fork := true, and unfortunately play still crashes unless i export the option before i run sbt.

[2017-10-07 00:00] hayd opened #7898 "Incremental ~run on 0.13.16 with 2.6.6 can't 'obtain files to watch'"
Play Version 2.6.6 (sbt 0.13.16)
Scala 2.12.2
OS OSX
JDK (javac 1.8.0_60)

This can be demonstrated on [play-scala-starter-example](https://github.com/playframework/play-scala-starter-example) by setting the sbt version to `0.13.16`.

### Expected Behavior

1. `sbt ~run` should compile without an error

### Actual Behavior
[code]
### Reproducible Test Case

See above

---

Note: This worked in 2.6

[2017-10-07 02:36] hayd commented on #7832
@agebhar1 perhaps I am missing something but inserting the suggested to build.sbt e.g. in the [scala starter example](https://github.com/playframework/play-scala-starter-example) seems to make the eviction warning even worse:
[code]

[2017-10-07 18:08] Shruti9520 commented on #7779
Likewise, https://www.playframework.com/documentation/2.6.x/Highlights24#Dependency-Injection also has 2.6.x in the URL.

[2017-10-08 07:35] almothafar commented on #7832
With sbt 0.13.15 no warnings shown, with sbt 0.13.16 and 1.0.2 getting this:

[code]

[2017-10-08 14:44] agebhar1 commented on #7832
@hayd you didn't miss something. I was to optimistic about Akka's compatibility guideline [»Akka HTTP 10.0.x with Akka 2.5.x«](https://doc.akka.io/docs/akka-http/current/scala/http/compatibility-guidelines.html#akka-http-10-0-x-with-akka-2-5-x).

The warning from sbt regarding to »akka-actor« and »akka-stream« is okay since

To not disable *all* eviction warnings you can [override a version](http:

[2017-10-08 16:22] almothafar commented on #7832
@hayd what is the problem with my comment to thumb down?

[2017-10-08 17:13] hayd commented on #7832
@almothafar your post is 1. essentially the same error as first message (and `withWarnTransitiveEvictions(false)` is known workaround*), 2. CoordinatedShutdown is different issue to evictions, though actually I think that is expected output now.
Hence the 👎 , but please don't take offense to it.

*imo workaround not solution

[2017-10-08 21:29] almothafar commented on #7832
@hayd  did not take it as offense, I just was wonder why is this 😄
I posted it as support for the issue, follow up, just more details, and not said it is a solution either a workaround, it is just a confirm for what @PromanSEW  posted.

Anyways, I'm looking for solution for this, for now removing warnings helpful for me as a temp solution so DevOps do not get confused :)

[2017-10-09 03:02] richdougherty commented on #3893
By the way #6171 captures the discussion about improving error handling generally.

[2017-10-09 03:02] richdougherty commented on #5782
By the way #6171 captures the discussion about improving error handling generally.

[2017-10-09 03:03] richdougherty commented on #6672
By the way #6171 captures the discussion about improving error handling generally.

[2017-10-09 05:24] methikas opened #7905 "encoding does not escape + characters"
Hi,
when encoding a url that has '+' character as part of it's data, play 2.5 does not seem to escape the +'s.
Eg: http://www.example.com/path/?name="string1" "string2" "stringA+B"

Is there away this can be done..?

Regards
Nalu

[2017-10-09 09:23] arnbak commented on #7898
I'm seeing the same thing.

[2017-10-09 10:06] Rovak commented on #7898
I'm experiencing the same problems with `run`, where refreshing the webpage does not trigger an incremental compile. It works the few first minutes and then randomly after a while it stops detecting file changes and a refresh does nothing.

[2017-10-09 11:01] Daxten commented on #7898
I have the same problem as @Rovak , switching to polling seems to make it better, but it still just stops getting updates after some time (Triggers "Compilation Complete" but actually does not compile anything)

[2017-10-09 11:15] caeus commented on #5043
Sorry to bother, but I tried this wrapper and it worked. But know I'm itching because I don't understand why it worked. Could you explain?

[2017-10-09 11:50] Neverminder commented on #7879
I'm facing the same issue. With `javacOptions += "--add-modules=java.xml.bind"` added I can now `sbt compile`, however `javaOptions in Universal += "--add-modules=java.xml.bind"` doesn't do anything (tried in dev mode), even though application launches, it crashes with the first http request with `Uncaught error from thread [play-dev-mode-akka.actor.default-dispatcher-3]: javax/xml/bind/DatatypeCo

[2017-10-09 15:45] Flo354 commented on #7898
Same problem here.
On IntelliJ IDEA, the project doesn't even start.

[2017-10-09 21:16] richdougherty commented on #7895
Thanks for the report. It sounds like we should try and fix our Akka HTTP backend so it works the same way that Netty did. Would you be able to give some more info about sent/received/expected headers and behaviours so that we can make sure we reproduce and fix this properly.

[2017-10-09 21:20] richdougherty commented on #7895
Akka WebSocket HTTP handling:

https://github.com/playframework/playframework/blob/4b9599de8e79b885950286231efbfa47ec8b1b31/framework/src/play-akka-http-server/src/main/scala/play/core/server/AkkaHttpServer.scala

https://github.com/playframework/playframework/blob/4b9599de8e79b885950286231efbfa47ec8b1b31/framework/src/play-akka-http-server/src/main/scala/akka/http/play/WebSocketHandler.scala

Doc

[2017-10-09 21:38] richdougherty commented on #7799
Thanks @codeepic - how long does the TypeScript/Webpack build take vs the rest of the time for stopping/starting the application?

If the time is dominated by the actual restarting logic then a fix may would be to:
- watch **all** files for changes
- **always** run a build - will rebuild any files that have changed
- **conditionally** restart the application
  - do a restart if a Java/Scala class,

[2017-10-09 21:41] richdougherty commented on #7799
And the reason we don't need to restart here is because the `Assets` controller will always read the latest CSS, JavaScript, etc files directly from the drive. It doesn't need to be restarted to pick up changes to the files.

[2017-10-09 22:37] marcospereira commented on #7898
Thank you guys for reporting the problem.

See #7907 for a fix.

[2017-10-10 06:35] akkie commented on #7428
As a note. It's also possible to set it in your build file:

[code]

[2017-10-10 06:36] venugopalc450 opened #7909 "DB is unavailable or service down play framework was not throwing any exception and framework was blocking at that point how to handle that situation ??? any help"
### Are you looking for help?

This is an issue tracker, used to manage and track the development of Play. It is not a support system and so it is not a place to ask questions or get help. If you're not sure if you have found a bug, the best place to start is with either the [users mailing list](https://groups.google.com/forum/#!forum/play-framework) or [Stack Overflow](http://stackoverflow.com/qu

[2017-10-10 07:29] cchantep commented on #7909
Hi, please use the [MailingList](https://groups.google.com/forum/m/#!forum/play-framework) to ask for help/question (this issue tracker is for confirmed/actionable Play issue). Best regards.

[2017-10-10 07:32] gmethvin commented on #7909
Please post to the mailing list with detailed information on your problem and we'll try to help you. This issue tracker is for actionable bugs in Play.

[2017-10-10 07:32] #7909 closed

[2017-10-10 07:33] #7898 closed

[2017-10-10 07:37] #7523 closed

[2017-10-10 07:40] #7892 closed

[2017-10-10 07:45] efiko12 commented on #7895
Thanks richdougherty,

Actually I think it's better not imitate Play-Netty behavior, the logic there is to return the same protocol which the client side ask for. I feel it's a "no brain no worries" solution.

Akka HTTP webscoket allows us to return flow and subprotocol in the same response.
I've done something similar in my [https://github.com/efiko12/playframework](fork).

Here is a usage exampl

[2017-10-10 08:32] Abrasha opened #7910 "Feature request: default prefix package"
### Are you looking for help?

No, it is a feature request

### Play Version (2.5.x / etc)

2.6.3

### API (Scala / Java / Neither / Both)

Both

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

    Darwin <*>.local 17.0.0 Darwin Kernel Version 17.0.0: Thu Aug 24 21:48:19 PDT 2017; root:xnu-4570.1.46~2/RELEASE_X86_64 x86_64

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

    j

[2017-10-10 09:07] Abrasha commented on #7910
Linking:
- https://github.com/playframework/playframework/issues/3470
- https://stackoverflow.com/q/24214570/5091346

[2017-10-10 10:04] fommil commented on #7822
@jrudolph our header was easy to fix, but I'm still seeing `HeaderParser$RuleNotFoundException` and `NotEnoughDataException` on every query with stacktraces.

This is flagged as "needs info"... is there anything else I can provide?

[2017-10-10 10:17] fommil commented on #7822
oh, I see, your changes were in akka-http. I really wish github had a way of saying at the bottom of every PR "this is included since version tag ..." not just github hashes

[2017-10-10 12:29] RomanIakovlev opened #7911 "Request headers are dropped when compressed `Content-Encoding` is used"
## Most of request headers are dropped when `Content-Encoding` header with values `gzip` or `deflate` is sent with the HTTP request.

### Play Version: 2.6.6

### API: Scala

### Operating System: any

### JDK (Oracle 1.8.0_144)

### Library Dependencies: no

### Expected Behavior
Regardless of `Content-Encoding`, the unrelated headers like `Authorization` or custom headers should be preserved. Pa

[2017-10-10 12:38] RomanIakovlev commented on #7911
I've just tested the same project with Netty as a backend, and then this issue is not reproducible. It seems this problem comes either from Akka Http, or from its integration with Play.

[2017-10-10 21:51] marcospereira commented on #7898
@hayd, @arnbak, @Rovak, @Daxten and @Flo354.

Could you please try with version `2.7.0-2017-10-10-ad9e06d-SNAPSHOT`. It is a nightly build so you need to add the following resolver:

[code]
If it works with this version, then we can consider this as fixed. If not, at least we should get a stack trace to better debug why reload is failing.

[2017-10-10 22:19] richdougherty commented on #7895
Link to the PR: https://github.com/playframework/playframework/pull/7901

[2017-10-10 22:23] lousanna opened #7917 "Automatically generate table of contents for certain docs"
Some pages of documentation (see dependency-injection docs for example) are especially long with multiple subheadings.
Rather than split them all into separate pages or have to manually create/edit the ToC, it would be nice to have a way of automatically generating the ToC in certain pages.

[2017-10-10 22:38] jroper commented on #7895
I think a more generalised solution would be better. Play currently doesn't allow the response to be customised at all, I think a better solution would allow the user to return a response with any arbitrary headers added, and the sub protocol can just be one of those arbitrary headers, perhaps with a helper for adding it.

[2017-10-11 04:29] hayd commented on #7898
@marcospereira Works for me, thanks for the quick fix!

[2017-10-11 09:32] georgeathanasopoulositt opened #7918 "Returned error for "db cannot connect" reveals sensitive information of application.conf"
### Play Version (2.5.x / etc)
lazy val root = (project in file(".")).enablePlugins(PlayJava)

### API (Scala / Java / Neither / Both)
Scala 2.11.7
Java 1.8

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
MacOS 10.12 but was reproduced on Windows also

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

Paste the output from `java -version` at the command line.

### Library Depend

[2017-10-11 10:34] ignasi35 commented on #7895
Hi @jroper, when describing the handshake response format, the [spec](https://tools.ietf.org/html/rfc6455) could be interpreted as "the handshake response must have exactly these headers" or it could be interpreted as "the handshake must have at least these headers".

I'm inclined to interpret it as "the handshake response must have exactly these headers". When describing the format of the request

[2017-10-11 12:12] ManognaMutyala commented on #7617
@marcospereira  I have a  doubt regarding this issue and would like to work on this.Should the documentation https://www.playframework.com/documentation/2.6.x/SettingsAkkaHttp with the note at the bottom   https://www.playframework.com/documentation/2.6.x/Configuration#Using-with-the-run-command  has to be replaced with https://www.playframework.com/documentation/2.6.x/ConfigFile#Using-with-the-ru

[2017-10-11 16:02] marcospereira commented on #7918
Hi @georgeathanasopoulositt,

This only happens in DEV mode (using `sbt run`) where the developer already has access to all these information by simply reading `application.conf` file. This does not happen in [PROD mode](https://playframework.com/documentation/2.6.x/Production) though since the error pages aren't showing any of this information. As documented [here](https://playframework.com/docum

[2017-10-11 16:05] georgeathanasopoulositt commented on #7918
Of course. Sounds great. Didn't want to find out myself on prod! Thanks you can close the issue

Best Regards,
George Athanasopoulos
________________________________
From: Marcos Pereira <notifications@github.com>
Sent: Wednesday, October 11, 2017 7:03:28 PM
To: playframework/playframework
Cc: Athanasopoulos, George; Mention
Subject: Re: [playframework/playframework] Returned error for "db cannot

[2017-10-11 17:23] root-talis commented on #5414
Thanks for closing this issue without sharing a solution.

[2017-10-11 19:41] richdougherty commented on #7911
Thanks for the report. I'll take a look at this one.

[2017-10-11 20:51] Rovak commented on #7898
@marcospereira the issue still occurs when using `run`. I'm not sure if i should see the  `Error occurred obtaining files to watch.  Terminating continuous execution...` message during `run` or the trace when it stops triggering incremental compiles, i'm not seeing any messages or errors in the console or log files.

[2017-10-11 22:26] lousanna commented on #7917
See discussion under #7903.

[2017-10-11 23:05] raychenon opened #7920 "Reusable block in Play 2.6 cannot render an image from its URL"
### Are you looking for help?

Yes, this issue has been posted on https://stackoverflow.com/questions/46547126/cannot-embed-image-url-in-play-2-6-reusable-block but remained unanswered

Not sure if this is a bug or I miss a configuration.

### Play Version (2.6.3 / etc)

### API ( Scala )

### Operating System (MacOS 10.10)

MacOS 10.10 on local , Linux on server

### JDK (Oracle 1.8.0_121)

jdk1.

[2017-10-12 02:35] PromanSEW opened #7922 "Mention SBT 0.13.16 / 1.0.x in Play 2.6 Migration Guide"
https://www.playframework.com/documentation/2.6.x/Migration26#sbt-upgrade-to-0.13.15
There is only SBT 0.13.15 now here

[2017-10-12 03:59] PromanSEW commented on #7832
Here are my final settings for my project:
[code]
Thanks @agebhar1 a lot!

[2017-10-12 09:14] #7918 closed

[2017-10-12 09:25] Daxten opened #7923 "[feature] move parts of play.data.Form into own project to crossbuild it"
This way the validation logic could be reused.

Any Input on this? Yay / Nay ?

[2017-10-12 09:28] garethdn commented on #7799
@richdougherty Can you give an example of the conditional application restart that you mention?

I can tell you that the Webpack build generally takes an average of 500ms to 1000ms, with stopping and starting of the application taking from 90 seconds to 120 seconds.

If it makes any difference, I can tell you that some of our public assets are referenced in `xxx.scala.html` files using:

`@routes.

[2017-10-12 12:25] shkhln commented on #7799
I'm pretty sure any Play application with default settings already works that way. The aforementioned refactor deals with exactly that issue.

The restart itself takes about 12 seconds according to the timestamps in the provided log excerpt. I don't believe sbt is completely silent for the rest of time, so I'm baffled why the usual compilation output was omitted. It likely very relevant to your pr

[2017-10-12 12:26] adamrabung commented on #5912
By return Option, callers can't distinguish between cache miss & IO errors reaching the cache. This is problematic for some types of caches. It would be really ugly, but a Either[String, Option[T]] version of get would be really helpful.

[2017-10-12 12:59] SWhelan opened #7924 "n"
### Are you looking for help?

This is an issue tracker, used to manage and track the development of Play. It is not a support system and so it is not a place to ask questions or get help. If you're not sure if you have found a bug, the best place to start is with either the [users mailing list](https://groups.google.com/forum/#!forum/play-framework) or [Stack Overflow](http://stackoverflow.com/qu

[2017-10-12 13:01] SWhelan commented on #7924
I don't know how I inadvertently created this. I was trying to control + n to a new window... Sorry.

[2017-10-12 13:01] #7924 closed

[2017-10-12 13:03] codeepic commented on #7799
@shkhln So you think it may be an issue with our sbt setup since the logs go silent after initial 12s restart?

@richdougherty as @garethdn said, the Webpack rebuild is 1-2s so it's not dominating the restart time.
We don't need to restart the application - the issue we have is: we can't prevent Play from restarting the app. I checked Play documentation and it only mentions how to start local serv

[2017-10-12 13:10] shkhln commented on #7799
No, restart happens *after* compilation. It look like something is triggering java/scala recompilation and that is actually what you should look at, not restart. See https://www.playframework.com/documentation/2.6.x/SBTDebugging#Debugging-incremental-compilation.

[2017-10-12 14:14] codeepic commented on #7799
@shkhln From what I understand Play observes `public` folder and any file changes in there (be it .js, .css or .java, .scala) triggers recompilation and then restart. In that case it will always recompile and then restart (reload recompiled files). Am I correct?

[2017-10-12 14:40] marcospereira commented on #7898
Thanks for the feedback, @Rovak.

Some questions:

1. Which OS are you using? Windows? Mac?
2. Is this reproducible using a new application created with `sbt new`?
3. Is the problem happening after editing some specific file type (assets, views, or just any file)?

Again, thanks!

[2017-10-12 14:44] Rovak commented on #7898
@marcospereira

1. Ubuntu 16.04
2. Not sure, will try that later today
3. Any file

[2017-10-12 14:50] shkhln commented on #7799
Assets are not directly served from `public` directory, sbt  copies both managed (`app/assets`) and unmanaged (`public`) assets to the `target/web/public/main/` directory. And that's why it watches `public` directory.

[2017-10-12 15:25] moqichenle commented on #7799
two questions related:
1. after we run "sbt run", we have sth like this:
![image](https://user-images.githubusercontent.com/3297592/31504081-5d76884c-af69-11e7-8ee1-cdd427a6a863.png)
then it kinda freezes there **forever...(over 10mins or longer)**
What is it doing that takes so long and no logs showing at all?
2.How to set watchSources only with scala and java files. The doc says it defaults to s

[2017-10-12 15:53] shkhln commented on #7799
Eh, compiling? You can try setting logging to level to 'debug' (http://www.scala-sbt.org/0.13/docs/Howto-Logging.html).

That's not correct.

[2017-10-12 16:06] moqichenle commented on #7799
![image](https://user-images.githubusercontent.com/3297592/31506134-80024248-af6e-11e7-8bc3-25486248530b.png)

If that s not correct, how to set it only reload for scala &java classes only?

[2017-10-12 16:34] shkhln commented on #7799
Do you write anything to conf directory as part of asset building process?

[2017-10-12 16:49] moqichenle commented on #7799
We have several modules and every of them has their conf files.

[2017-10-12 17:16] shkhln commented on #7799
Right. Be that has nothing to do with my question.

[2017-10-12 17:18] Rovak commented on #7898
@marcospereira i can reproduce this consistently on the latest master branch in a new application by dumping around 2k files in the `public` folder and then modifying something in a `view` file

[2017-10-12 19:08] moqichenle commented on #7799
Hi Sorry What I wanted to say was we have different conf settings under sub-modules. The logs show that all the conf files from different modules were copied to target.
Usual normal application conf files under those folders, some csv files used by scala classes.
Is the Assets versioning in routes file the key problem here?

[2017-10-12 19:36] shkhln commented on #7799
Can you please clone [play-scala-starter-example](https://github.com/playframework/play-scala-starter-example), checkout 2.5.x branch and test whether updating files in the `public` directory reloads application?

Unlikely. However, you can easily test that yourself.

[2017-10-12 23:05] gmethvin commented on #7898
@Rovak I think what you're experiencing may be a separate issue. I'm unable to repro on Mac but I'll check on Linux later and see if I can. Does `~run` work?

You can also try using the polling watch service:

[code]

[2017-10-12 23:14] richdougherty commented on #7911
Verified in an integration test. Headers are present at the first level of Akka parsing, but are missing by the time Play receives Akka's request object. I'll debug a bit more to find when/why the headers disappear. This will probably require a patch to Akka HTTP.

[2017-10-13 13:01] dietmax commented on #7735
Thanks to @gmethvin s comment I finally came around to the fact that `request.headers.keys.contains(HeaderNames.AUTHORIZATION)` does not behave in the same way that `request.headers.get(HeaderNames.AUTHORIZATION).isDefined` does. Transforming the `TreeMap` to a `Set` works around the logic that enables case insensitivity. That is where our error came from. Thank you!

[2017-10-13 16:35] garethdn commented on #7799
After cloning the starter project (2.6x branch) and running in debug mode I've noted that the load time (GET `http://localhost:9000/`) when there are no changes averages at **10 - 15ms**

After changing `hello.js` the subsequent load time averages at **1300 - 1440ms**. That's about 100 times slower. I don't whether this can be extrapolated to much larger projects.

Debug output on this reload is:

[2017-10-13 17:03] shkhln commented on #7799
Okay, so no `--- (RELOAD) ---` message here, as expected. Now you need to add webpack/typescript configuration to the starter project in similar way you have it set up in your actual project.

[2017-10-13 22:06] ayubsarker opened #7928 "Application could not serve the requests if application is stated first then database start"
i am using play 2.5 and HikarCP as connection pool. I start application in following way

- Shutdown the Database
- Start application
- send requests to application that have some database transaction
- I can see the log, Pool could not connect the database which ok as database is down
- Start Database
- I can see the log, Pool connected to the database.
 - then i sent request to application it is

[2017-10-14 06:11] gmethvin commented on #7920
As answered on StackOverflow, this is an issue with your `Content-Security-Policy` settings. I can tell because I see these errors in the console in Chrome:

thankyou:6 Refused to apply inline style because it violates the following Content Security Policy directive: "default-src 'self'". Either the 'unsafe-inline' keyword, a hash ('sha256-Wi3+8jbn12vus9Oq4FOqEUCOpuRG3clBaVvLZZ2b9Fs='), or a nonce

[2017-10-14 06:11] #7920 closed

[2017-10-14 07:18] gmethvin commented on #7905
Please post questions to the mailing list. This is an issue tracker for bugs in Play framework. Likely you want to encode your `+` as `%2B`.

[2017-10-14 07:18] #7905 closed

[2017-10-14 09:25] vidma commented on #4717
yeah, smells non-sense madness...

[2017-10-14 17:35] gmethvin commented on #7898
I was unable to repro on a Linux machine. I tried creating a bunch of random files in `public`:

[code]
then I tried editing a file both during and after those files are being written. In both cases the app reloads as expected.

If you have a sample project that consistently reproduces it on your machine, perhaps you could open an issue with a link to the project? Also try with the polling watch s

[2017-10-14 18:15] backboardo2 commented on #7832
@PromanSEW @agebhar1 Hi guys. Thank you. Props.

++= Set(         would not compile using sbt run BUT maybe because I'm using sbt version 1.0.2
used ++= Seq(     and now dependency warnings are re mediated properly, mostly. So all good for now.

[2017-10-14 18:17] gmethvin commented on #7923
Which parts? Are you just talking about the custom constraints? Most of the validation logic is done by the Hibernate validator.

[2017-10-14 21:42] Daxten commented on #7923
Ah okay didn't know that, yes I was talking about the validation logic

[2017-10-14 21:42] #7923 closed

[2017-10-15 02:17] richdougherty commented on #7911
I've submitted a fix for this: #7930.

[2017-10-15 04:02] PromanSEW commented on #7832
@backboardo2 I added a note about `Set`, thanks

[2017-10-15 14:08] agebhar1 commented on #7832
Thank you both @PromanSEW and @backboardo2 for your feedback :smiley:

[2017-10-16 10:31] Elvis5566 opened #7934 "Cannot handle gziped request since updated to 2.6"
### Are you looking for help?
Yes,
I am sending gziped request to play. everything works great on version 2.5.
But it's not working anymore since updated to 2.6.

### Play Version
2.6.6

### Operating System
Ubuntu 16.04 / MacOS 10.12.6

### Expected Behavior
Should be able to handle gziped requests.

### Please describe the expected behavior of the issue, starting from the first action.

I have a

[2017-10-16 14:43] To-om opened #7936 "File upload fails without exception if disk is full"
When I upload a file to Play server, if the disk has not enough space to store the file, the file is silently truncated.
No exception is raised so application can't show appropriate error message to user.

My environment:
 - Play Scala 2.6.3
 - Oracle Java 1.8.0_144
 - Linux

[2017-10-16 16:22] wsargent commented on #7936
Can you provide a reproducible test case?  You should be able to replicate a full filesystem with https://github.com/sbridges/ephemeralfs as the backing store.

[2017-10-17 00:30] richdougherty commented on #7617
Yes the link should be fixed.

From  https://www.playframework.com/documentation/2.6.x/Configuration:

This text is partly correct but should be clarified.

"Application" settings are reloaded every time the application code or config changes. "Server" settings are only loaded when dev mode first starts. This is because in dev mode Play the server component has a different lifecycle to the applica

[2017-10-17 03:04] rmcloughlin opened #7937 "Java Forms documentation refers to "Model""
The section of the documentation on `DynamicForm` uses the term "related to a `Model`" https://www.playframework.com/documentation/2.6.x/JavaForms#Handling-a-form-that-is-not-related-to-a-Model but what is a `Model`?

[2017-10-17 03:45] PromanSEW commented on #7937
`Model` is a defined class with fields that can be binded to a `Form` by `bindFromRequest` method

[2017-10-17 03:54] rmcloughlin commented on #7937
The capitalization and formatting of the word `Model` makes it seem as if this is a real class or interface within Play Framework but as far as I can tell it is not.  There is nothing named `Model` in https://www.playframework.com/documentation/2.6.x/api/java/index.html and the word doesn't appear anywhere else in the Java forms documentation.

[2017-10-17 03:55] wsargent commented on #7937
It's a good bug -- the `User` class above is an example of a model:

https://www.playframework.com/documentation/2.6.x/JavaForms#Defining-a-form

but is never explicitly described as such.

[2017-10-17 08:03] To-om commented on #7936
I've created a project with the test case : https://github.com/To-om/play-issue-7936

[2017-10-17 14:42] erwan commented on #7166
@wsargent what's the ticket on netty-reactive-streams?

[2017-10-17 15:17] marcospereira opened #7940 "Scala 2.13 support"
We need to have Scala 2.13 build. This obviously depends on other libraries support Scala 2.13. The current version of Scala 2.13 is a `2.13.0-M2`, so we need to start from there and have builds for more relevant milestones.

## Dependencies

This **is not** a complete list:

### Direct dependencies:

- [x] `[merged]` `[released]` interplay playframework/interplay#37
- [x] `[merged]` `[released]`

[2017-10-17 15:55] #7934 closed

[2017-10-17 16:00] Elvis5566 commented on #7934
I suppose this is a bug.
I will ask this on https://groups.google.com/forum/#!forum/play-framework first.

[2017-10-17 16:16] saosebastiao commented on #7898
I haven't fully played around with everything yet, but for a while I was experiencing this bug exactly as @Rovak was. Also on Ubuntu 16.04, using sbt 1.0.2 and play 2.6.6. I figured there was a bug in the SBT plugin and decided to roll back to sbt 0.13.16 and play 2.5 and wait it out. @marcospereira convinced me to check out this issue and I've since tried reproducing it, but haven't been able to

[2017-10-17 16:40] saosebastiao commented on #7898
Okay, I've already been able to reproduce. It takes a few edit cycles before it shows up.

I get the regular info messages

[code]

I'm serving up a case class using play json, testing by randomly inserting `println("boop")` in the class body. I'll try to reproduce using a template and post that here.

[2017-10-17 16:54] marcospereira commented on #7879
@Spenhouet just to let you know that we now have releases of sbt-rjs and sbt-jshint for sbt 1.0:

- https://bintray.com/sbt-web/sbt-plugin-releases/sbt-rjs/1.0.10
- https://bintray.com/sbt-web/sbt-plugin-releases/sbt-jshint/1.0.6

[2017-10-17 16:54] saosebastiao commented on #7898
Okay, I've successfully reproduced using a template https://github.com/saosebastiao/bug_repro

Environment is Ubuntu 16.04, editing in Intellij, using their sbt build repl.

Steps to reproduce:

1: enter dev mode with `~run`

2: edit `conf/application.conf`, changing `foovalue` to whatever you want.

3: run `curl localhost:9000/`

4: repeat steps 2 and 3 repeatedly until results from `curl localho

[2017-10-17 17:00] gmethvin commented on #7937
I agree it's confusing, especially with the code formatting and capitalization of `Model`. It actually doesn't matter whether it's related to a "model" in your domain. Anytime you know the names of the fields up front it would be possible to map it to a Java class, and that would have benefits in terms of type safety.

Perhaps we should just say "handling a form with dynamic fields"?

[2017-10-17 18:16] SethTisue commented on #7940
the Scala community build doesn't build 100% of Play, but the parts we do build are a good initial target. here is the community build's view of a small sample Play app's transitive dependencies (transitively including test dependencies):

`[info] Project play-webgoat`
`[info]   depends on: akka-actor, akka-http, akka-more, cachecontrol, genjavadoc, kind-projector, macro-compat, macro-paradise, pc

[2017-10-17 18:57] marcospereira commented on #7940
Thank you, @SethTisue!

[2017-10-17 21:24] To-om commented on #7936
I think that the problem is in the multipart body parser ([Multipart.scala#L125](https://github.com/playframework/playframework/blob/master/framework/src/play/src/main/scala/play/core/parsers/Multipart.scala#L125)). The materialized value IOResult provided by FileIO.toPath is not checked.

Maybe something like
[code]
could solve the problem. But I don't know if it is enough.

[2017-10-17 21:36] marcospereira commented on #7928
Hi @ayubsarker,

This is more a pool (HikariCP) configuration question than an issue with Play.

Commonly, when using a database connection pool, connections are established and reused until they reach some time to live time limit (imposed by the pool or by the database server). In HikariCP, you have `maxLifetime` [see the docs](https://github.com/brettwooldridge/HikariCP) where you can configure

[2017-10-17 21:36] #7928 closed

[2017-10-18 06:15] #7911 closed

[2017-10-18 15:03] gmethvin commented on #7911
The fix for this will be in 2.6.7 and is in the latest 2.6.x [nightly snapshot](https://playframework.com/documentation/2.6.x/Repositories#Accessing-nightly-snapshots), version [2.6.7-2017-10-18-e1366be-SNAPSHOT](https://oss.sonatype.org/content/repositories/snapshots/com/typesafe/play/sbt-plugin_2.12_1.0/2.6.7-2017-10-18-e1366be-SNAPSHOT/).

[2017-10-18 16:10] gavares commented on #7733
We're also suffering from this problem as our Bearer headers have `...,scope="blah.io",service=...` converted to `...,scope=blah.io,service=...`.

One additional bit of info, when one of the fiels is empty, the quotes are left in place. So `...,service=""` is left unchanged and only fields with values in them seem to have the quotes stripped.

[2017-10-18 19:44] JohnMurray commented on #3106
Just a note that I have seen this in Play 2.5.12. Not sure why, but found this thread when searching for the issue.

[2017-10-19 06:52] MysterionRise commented on #7922
@PromanSEW, so the idea of the migration guide is that Play 2.6 requires at least 0.13.15, right? Does it makes sense to mention that or specify that Play 2.6 could be used with 0.13.15+/1.0.0 version?

[2017-10-19 08:03] cchantep commented on #7910
Hi @Abrasha, I don't see a prior discussion about a feature request for that. Better to discuss it before raising a ticket (this tracker is for confirmed issue/actionable feature requesr). Best regards.

[2017-10-19 09:00] PromanSEW commented on #7922
@MysterionRise see #7801 and #7832
Play Framework 2.6.5 and newer versions supports both SBT 0.13.16 / 1.0.x

[2017-10-19 11:23] mkurz commented on #7879
`sbt-less` also needs a new release urgently, see https://github.com/sbt/sbt-less/pull/100 - thanks!

[2017-10-19 11:23] mkurz commented on #7045
`sbt-less` also needs a new release, please see https://github.com/sbt/sbt-less/pull/100 - thanks!

[2017-10-19 11:31] mkurz commented on #7879
I was wrong, there is a recent `sbt-less` release but it looks like the git tag wasn't pushed to remote: https://github.com/sbt/sbt-less/commit/f008176629e89ebeb3882c0d0bba5ded78397f3a#commitcomment-25075088 Sorry for the noise.

[2017-10-19 11:31] mkurz commented on #7045
I was wrong, there is a recent `sbt-less` release but it looks like the git tag wasn't pushed to remote: https://github.com/sbt/sbt-less/commit/f008176629e89ebeb3882c0d0bba5ded78397f3a#commitcomment-25075088 Sorry for the noise.

[2017-10-19 14:55] davojan opened #7943 "Evolutions hang when using Netty instead of AkkaHttp"
### Play Version

2.6.6

### API

Scala

### Operating System

MacOS 10.12.6

### JDK

java version "1.8.0_111"
Java(TM) SE Runtime Environment (build 1.8.0_111-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.111-b14, mixed mode)

### Library Dependencies

[code]

### Expected Behavior

1. Create a new evolution (or change the existing one)
2. Refresh the play app in browser, "Database need evolu

[2017-10-19 15:03] MysterionRise commented on #7922
I've opened PR #7942 to address the issue

[2017-10-19 16:44] Flo354 commented on #7898
I just updated IntelliJ IDEA to the latest version (EAP and stable release), and I can't start anymore in 2.6.5 (previously only with 2.6.6).

[2017-10-20 07:00] #7726 closed

[2017-10-20 16:09] marcospereira commented on #7898
Hey @saosebastiao, could you please test with your repository but changing:

1. The version to use a snapshot version as explained here: https://github.com/playframework/playframework/issues/7898#issuecomment-335619184
2. Change the `fileWatchService` as explained here: https://github.com/playframework/playframework/issues/7898#issuecomment-336304757

So that we can better isolate the problem.

[2017-10-20 16:10] marcospereira commented on #7898
@Flo354 sorry, I didn't understand what problem you are describing. What do you mean by "can't start anymore". Start what? How?

[2017-10-20 17:01] Flo354 commented on #7898
@marcospereira for me the problem occurred only when I start play with IntelliJ IDEA. Initially, I had the problem only with version 2.6.6. But as of yesterday, there was an update of the IntelliJ's scala plugin and I can't start anymore with version 2.6.6 nor 2.6.5.

But when I type "sbt run" within the console, I can start play

[2017-10-20 17:24] saosebastiao commented on #7898
@marcospereira

Just tried it out.

#1 didn't do anything.

#2 worked for both 2.6.0 and 2.7.0 SNAPSHOT, at least as far as 20 edits or so.

[2017-10-22 01:42] gmethvin commented on #7910
This has been discussed on https://groups.google.com/forum/#!topic/play-framework/k5MT68xFzDA. I agree the ability to do something like this is a good idea, but it probably does not make sense to use configuration, since configuration is a runtime thing rather than a compile-time thing. We should also keep in mind that there may be multiple routers used by the same app, so a single global setting

[2017-10-22 06:22] gmethvin commented on #7910
One solution is to change the naming of the routes file. For example if I wanted to have my prefix be `com.example.myapp`, we could place our routes in a file named `com.example.myapp@routes`. (I just arbitrarily chose `@` as the separator; it can be something else.) The part before the `@` is the package to generate in. Everything generated by the routes compiler will be generated in that package

[2017-10-22 06:43] gmethvin opened #7946 "Bindables docs needs improvement"
Our [Java bindables docs](https://www.playframework.com/documentation/2.6.x/RequestBinders) have a few issues:
 - No "Java" prefix in the URL (e.g. `JavaRequestBinders`) which confused me at first.
 - Java class examples are cut off (no closing curly brace).

And some issues that are also present in the [Scala bindables docs](https://www.playframework.com/documentation/2.6.x/ScalaRequestBinders)

[2017-10-22 09:16] MysterionRise commented on #7946
Okay, I think, I could take care of this

[2017-10-23 04:52] gmethvin commented on #6168
I have a proof of concept here: https://github.com/gmethvin/play-java-functional-actions

We need to add some new API to make this work well, like a `withSession`/`withFlash` on Java `Result`, and new Java API for action helpers like `Cached`.

[2017-10-23 04:58] gmethvin opened #7947 "Java Result should have helper methods for manipulating session and flash"
Outside of regular Java actions that have a `Http.Context` in scope there's no convenient API to manipulate session and flash scopes. Right now it's possible to do it using `Result#withCookies` but not very convenient. It would be nice to have `withSession` and `withFlash` as well.

This will be more important when we provide an alternative Java Action API based on `EssentialAction`.

[2017-10-23 15:36] joantune commented on #7898
This is also happening with me:

OS: Mac OS X 10.11.6 - with case sensitive FS

sbt: 0.13.15 and 0.13.16
Play: 2.6.6

it doesn't happen with Play 2.6.3

Also, if possible, please change https://github.com/playframework/playframework/blob/6c246b56863c821b6fc4799bc66a9644347f8e6c/framework/src/sbt-plugin/src/main/scala/play/sbt/run/PlayRun.scala#L152
to have the exception with the error? i.e.
`log.e

[2017-10-23 16:10] marcospereira commented on #7922
Fixed in #7942.

[2017-10-23 16:10] #7922 closed

[2017-10-23 16:22] joantune commented on #7898
Debugging and evaluating e.getStrackTraceString() yields the following errors. Either: can't assign Tuple8 to Throwable or Cannot evaluate parameter index
I'm downgrading to 2.6.1 as I'm also having other issues with 2.6.3

[2017-10-23 16:56] joantune commented on #7898
@marcospereira: yup, `2.7.0-2017-10-10-ad9e06d-SNAPSHOT` works well, I'm guessing that there won't be a 2.6.7 with this fix.. any idea more or less when 2.7 will be out?

[2017-10-23 18:51] marcospereira commented on #7898
Hi @joantune,

#7907 was actually backported to 2.6.x here: https://github.com/playframework/playframework/commit/009e4001c036c00f985ca56ad39bddf8fae0b95b. So this fix will be part of 2.6.7. I was suggesting using a 2.7 snapshot because that is what our nightly build script publishes. :-)

[2017-10-23 19:11] joantune commented on #7898
Great! Obrigado!

I am nervous to run with a SNAPSHOT, surely 2.6.7 won't be as far away as
2.7.

Cheers

On Mon, Oct 23, 2017, 19:51 Marcos Pereira <notifications@github.com> wrote:

[2017-10-23 19:30] marcospereira commented on #7898
De nada. :-)

Yep, 2.6.7 is a smaller release fully compatible with 2.6.6. And by the way, there are 2.6.x snapshots, my mistake:

https://oss.sonatype.org/content/repositories/snapshots/com/typesafe/play/play_2.12/

[2017-10-23 21:49] mberndt123 opened #7949 "potential deadlock in DefaultApplicationLifecycle"
Hi there,

I ran into an interesting bug today. In `DefaultApplicationLifecycle`s `stop()` method, there is a comment that reads as follows:
[code]
The problem is, we actually do care. If "one hook" is a hook that synchronously shuts down a thread pool (i. e. it waits for all threads to terminate) and "another hook" is a hook that executes in a thread in that thread pool. Then, the hook that waits

[2017-10-24 01:27] gmethvin commented on #7898
I believe the issue with `run` is fixed with #7951.

If you want you can test it out by adding to `plugins.sbt`:
[code]
That will just update the file watcher dependency and make no other changes.

[2017-10-24 03:03] #7863 closed

[2017-10-24 03:05] #6997 closed

[2017-10-24 07:49] MysterionRise commented on #7946
@gmethvin start to look at this issue, some of this a pretty easy to fix, however, when we are talking about cut off classes, it's hard to since it's rendered by declaration comments like

[code]

so, if you will move the declaration tag, it will be included fully in the documentation.

[2017-10-24 08:14] gmethvin commented on #7946
we can hack it using the `replace` directive. See for example https://github.com/playframework/playframework/blob/master/documentation/manual/working/javaGuide/main/tests/code/javaguide/tests/ControllerTest.java#L30

[2017-10-24 08:15] gmethvin commented on #7946
the javaguide/scalaguide in the package names can be fixed the same way

[2017-10-24 08:18] MysterionRise commented on #7946
Got it.

[2017-10-24 11:56] joantune commented on #4159
I keep having nasty classloading issues with hot reloading and the latest Play version 2.6.6 and Play-pac4j derived classes that I'm using for authentication.

I keep getting Class A cannot be cast to Class A, because there are different classloaders. I tried following the advice of getting the `Application`'s classloader and loading the classes with `classloader.loadClass(` where those errros occ

[2017-10-24 13:36] joantune commented on #7898
hmmm, @gmethvin, @marcospereira  CPU usage is constantly up the roof when doing `~run` when executing `run` it isn't so I'm guessing that there's some polling going on instead of 'watch'

May I suggest that a warning should be printed out if this is the case when doing the ~run is doing polling

Also, weirdly enough `~compile` behaves just fine.

ATM I'm using sbt 1.0.2

[2017-10-24 13:49] joantune opened #7953 "EhCache with `diskPersistent=true` and Play 2.6.6 on development mode"
### Play Version (2.6.6 )

### API (Java  / Both (?) )

### Operating System (MacOS 10.11.6 )

### JDK (Oracle 1.8.0_121-b13)
[code]
### Expected Behavior & Actual behaviour

When having changes on the file, all classes should be ok, yet we have Class A cannot be cast into Class A because of EhCache using its own classloader

This is related with https://github.com/playframework/playframework/issu

[2017-10-24 14:21] joantune commented on #7898
PS: I just confirmed that the same doesn't happen with sbt 0.13.15 and play 2.6.3

[2017-10-24 14:47] joantune commented on #7953
This issue is also solved by doing what is stated here:

https://www.playframework.com/documentation/2.6.x/JavaCache#Setting-the-execution-context

i.e.  adding this:

[code]

to the config

[2017-10-24 19:05] wsargent commented on #7953
@joantune If it's EhCache calling `Class.forName` then there's not a lot that can be done on Play's end.  Please provide stack traces and reproducible steps to help show what is happening.

[2017-10-24 20:56] marcospereira commented on #7898
@joantune just to be clear here:

1. When using Play 2.6.6 and sbt 1.0.2 which `fileWatchService` are you using?
2. And which one for Play 2.6.3 and sbt 0.13.15?

Could you please test with `2.6.7-2017-10-24-df85f53-SNAPSHOT` and without changing `fileWatchService` to polling and confirm that:

1. It works for you
2. You have CPU usage compatible with what you are seeing for Play 2.6.3 and sbt 0.1

[2017-10-24 22:02] joantune commented on #7898
I was using:
[code]
by Greg's suggestion

Play's 2.6.3 default - i.e. I commented that explicit dependency that I added before for 2.6.6

what do you mean by 'without changing fileWatchService to polling'? not using Greg's explicit dependency should work, right? I didn't change anything else.

I'm assuming that the answer above is yes and I'm trying it now with sbt 0.13.15 and `2.6.7-2017-10-24-df

[2017-10-24 22:04] joantune commented on #7953
@wsargent on a side not: the contexts setting seemed to fix the issue but it actually didn't, it apparently made it happen less often (??) as I made quite some changes and it didn't break.

@wsargent: yes they are, but we can do something like @mdii s suggestion here:

https://github.com/playframework/playframework/issues/6207#issuecomment-237003022

as a workaround, no?

[2017-10-24 22:12] gmethvin commented on #7898
Just to be clear, there are actually two bugs people are discussing here. The first is a bug specifically with `~run` and the second is a bug in the watch service that also occurs with `run`. Both should now be fixed if you upgrade to `2.6.7-2017-10-24-df85f53-SNAPSHOT`, without a custom `fileWatchService` configuration. We will release a final 2.6.7 soon and it should work like that.

[2017-10-24 22:47] joantune commented on #7898
@marcospereira:

so, with `2.6.7-2017-10-24-df85f53-SNAPSHOT` **~compile** yields a 30% CPU usage, similar to the 20% of 2.6.3

~run with  `2.6.7-2017-10-24-df85f53-SNAPSHOT` yields a 50-70% CPU usage versus around 20% with 2.6.3

now I'm thinking this warrants me to go back to 2.6.3 to sample a bit more thoroughly the CPU usage to make sure it's ~40% higher with the 2.6.7 SNAPSHOT. Does the fact

[2017-10-24 23:38] joantune commented on #7898
Yes, I just confirmed that `2.6.3` has a lower baseline CPU usage - from ~25 - 35% vs 50-70%

[2017-10-26 00:35] guilhebl commented on #6509
Just tested with play 2.6.3 and scala 2.11.11 and I get:
` -> Vector(a=b,c)` when running the app and when using FakeRequest with PlaySpec I get:
`-> ArrayBuffer(a)`

[2017-10-26 15:38] GeorgiChochov opened #7957 "AkkaHttp on Dev uses play.runsupport.NamedURLClassLoader, produces ClassNotFoundException on reflection"
### Play Version (2.6.6)

### API (Java)

### Operating System (Windows 10)

### JDK (Oracle 1.8.0_112)

I am upgrading the Play version of a project from 2.5.14 to 2.6.6. I use JsonDoc lib ("org.jsondoc" % "jsondoc-core" % "1.2.10") for API documentation and am running into this issue on Dev. The fault isn't in the lib, but it was what revealed the issue to me.

### Expected Behavior

Using refle

[2017-10-26 16:55] Rogach opened #7958 ""Refused to apply inline style" for error pages"
### Play Version 2.6.6

### API Scala

### Operating System ArchLinux 4.13.5-1-ARCH

### JDK
[code]
### Expected Behavior

Pretty styled page with formatting and colors when `Action Not Found` error happens.

### Actual Behavior

No styles are applied, console lists following errors:
[code]

### Reproducible Test Case

Here's a link to the repository: https://github.com/Rogach/playframework-test-a

[2017-10-26 17:34] nithinc989 commented on #7768
I am also facing the same issue and indeed I am using sbt.bat just so you know
My environment is similar  but with one difference it is that, I am behind a corporate proxy
There is only one difference with stack trace that is,
instead of ``` org.eclipse.jgit.api.errors.TransportException: git@github.com:playframework/play-java-seed.g8.git: Connection timed out: connect``` I am getting  ```org.ecli

[2017-10-26 18:02] rmcloughlin commented on #7958
Duplicate of https://github.com/playframework/playframework/issues/7662

[2017-10-26 19:41] #7958 closed

[2017-10-27 08:58] mkurz commented on #7898
I didn't really follow that thread here, but sbt 1.0.3 is out, maybe that helps?
https://github.com/sbt/sbt/releases/tag/v1.0.3

[2017-10-27 11:36] sankarpatw commented on #7878
Hey @Abrasha, @richdougherty
Anybody working on this issue? If not I can take this up.

[2017-10-27 11:46] amatosc opened #7962 "Configuring WS SSL doc isn't available"
### Play Version (2.6.x)
### API (Both)

At this page [Configuring WS SSL](https://www.playframework.com/documentation/2.6.x/WsSSL)
almost all link to Typesafe SSLConfig  are down. Eg: [Typesafe SSLConfig](https://typesafehub.github.io/ssl-config)

[2017-10-27 19:39] krishtyagi opened #7966 "Same File Have different ETag on from different server response with Play 1.2.10,"
Hi Team,
I am working on old play 1.2.10 application , where we use activator start/run to launch the web application. I have load balance server as apache and two server instance of application. I want to generate same ETag from both server. Cloud you please help me , where I can find and fix this. I am new to play and we are using java controller.
I tried to disable using below conf parameter in

[2017-10-27 19:44] mkurz commented on #7966
You are wrong here. This GitHub repo is only for Play >= v2.x. The Play 1.x repo - where you should raise your issue instead - is that one: https://github.com/playframework/play1

[2017-10-27 19:44] #7966 closed

[2017-10-27 22:19] diegoagd10 opened #7968 "Request from error handler is different from Action request"
### Play Version 2.6.x

### API (Scala)

### Operating System (Windows 10)

### JDK (OpenJDK 1.8.x)

java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

### Library Dependencies
None

### Expected Behavior

1. Add attrs to the request from a Filter.
2. Controller action throws an exception.
3. Error handle

[2017-10-28 05:21] gmethvin commented on #7962
Oops. This probably happened because we moved all those repositories to lightbend, e.g. https://lightbend.github.io/ssl-config/. Basically we need to replace typesafehub with lightbend everywhere.

[2017-10-29 01:34] gmethvin commented on #7968
The top level exception handler only knows about the top level request. If you want to pass along the request with the modifications made in the filter, you need to handle it at that level, for example:

[code]

[2017-10-29 02:39] gmethvin commented on #7949
Just curious, is this something you encountered in a real Play app? We sort of assume that Play controls the thread pool in which stop() is happening.

I'd be ok with using the default thread pool here though. I can't see a huge benefit to using trampoline.

[2017-10-29 20:12] richdougherty commented on #7949
Yeah it's fine to use the default thread pool here. The trampoline is a performance measure that's not really needed during shutdown. If we use the default thread pool we'd want to be careful about how it's shut down. It would need to be the last shutdown hook executed. Perhaps it would be safest for the shutdown code to make its own temporary thread or thread pool.

[2017-10-29 20:23] richdougherty commented on #7968
I agree that @gmethvin's suggestion is the best way to handle this. If Play had a mutable request scope then we could use that scope to store attributes. Instead Play has immutable requests. This means that the original request isn't changed when you add new attributes. The error handling code only has access to the original request, not to the modified request. To get access to these your modifie

[2017-10-30 04:15] wsargent commented on #7166
@erwan https://github.com/playframework/netty-reactive-streams/issues/30

[2017-10-30 05:48] gmethvin commented on #3893
Duplicate of #5782

[2017-10-30 05:48] #3893 closed

[2017-10-30 07:45] amatosc commented on #7962
@gmethvin thanks for the link!

[2017-10-30 14:57] Spenhouet commented on #7879
@marcospereira I tested the compilation with the new sbt-rjs and sbt-jshint release and now I can build with sbt 1.0.2 and Java 9.0.1.

Compiling with sbt 1.0.2 gives me the following warning:

Which is resolved but not released: https://github.com/sbt/librarymanagement/issues/169

I can't compile with sbt 1.0.3 (getting multiple errors). Should this work normally?

[2017-10-30 15:25] mkurz commented on #7879
@Spenhouet sbt 1.0.3 is broken: https://github.com/sbt/sbt/issues/3684 / https://github.com/sbt/sbt/issues/3690 - just use sbt 1.0.2 for now until 1.0.4 is released.

[2017-10-30 16:35] diegoagd10 commented on #7968
Hi @gmethvin and @richdougherty, I agree with you, this is a great workaround and I'm going to proceed to close this issue.

Thanks a lot.

[2017-10-30 16:35] #7968 closed

[2017-10-30 16:44] samupra commented on #7962
Is anyone taking this? If not, I'll work on it now.

[2017-10-30 17:12] samupra opened #7971 "Java Config Migration 2.6 docs not available"
Similar to issue #7962. I have created this issue so that I can refer to it. I am fixing it right now

[2017-10-30 18:03] gmethvin commented on #7962
Yes, feel free to take any open issues unless they are assigned.

[2017-10-30 18:05] #7962 closed

[2017-10-30 21:21] richdougherty commented on #7957
@GeorgiChochov, thanks for the report. This is probably a change because we now run user code on the server threads in dev mode. The "safe" way to do classloading in Play is to use the `Environment` object to get the application `ClassLoader`. Then, when using reflection, always explicitly use that `ClassLoader`. If you use a library that doesn't let you explicitly provide a `ClassLoader` then you

[2017-10-30 21:36] #7971 closed

[2017-10-31 03:40] samupra commented on #7827
I am working on this.. can you please assign it?

[2017-10-31 03:41] samupra commented on #7827
Oops, looks like someone already is. Never mind.

[2017-10-31 03:45] samupra commented on #7949
I will be taking this.. :)

[2017-10-31 04:19] benmccann commented on #6168
Having to wrap everything in an `action()` call is more verbose than the API we have today and also will make it difficult to migrate. I suppose it'd be fine if it were optional and you wanted to muck with the `BodyParser` or something, but I'm not sure I'd want to do it for all my controllers.

[2017-10-31 04:20] benmccann commented on #7953
We should make sure to file a bug with EhCache if it's causing issues for Play users

[2017-10-31 07:21] ben-manes commented on #5912
Would there be interest in moving off Ehcache 2 as the default implementation? That version was obsoleted by v3, which probably wasn't adopted due to not supporting explicit expiration settings. Both are fairly slow and inefficient from my analysis.

I'm about to release Caffeine 2.6, which extends the API to capture your use-case of setting the expiration explicitly in a `put` call. The policy-sp

[2017-10-31 08:11] GeorgiChochov commented on #7957
@richdougherty, thanks for the reply. I take it this is as intended then. Could I ask why user code runs on the server threads in dev mode now?

[2017-10-31 08:30] gmethvin opened #7974 "Caffeine cache API"
[Caffeine](https://github.com/ben-manes/caffeine) is a much better choice for a local cache and we should recommend it over ehcache in the future. We should create a cache API implementation for caffeine that provides similar features to the current ehcache implementation.

We should support the ability to configure specific named caches and inject them using `@NamedCache("mycache")`. Parts of thi

[2017-10-31 08:32] gmethvin commented on #5912
@ben-manes I agree caffeine is a better option than ehcache. We've already separated the cache api from the implementation, so we need to create a `play-caffeine` module that implements the cache API. I created issue #7974 for this.

[2017-10-31 20:20] piercelamb commented on #3608
If you're using play 2.6.6 and sbt 1+ and encountering this issue, rollback your sbt version to 0.13.16 and it fixes the issue. (do this in project/build.properties)

[2017-11-01 13:16] mberndt123 commented on #7949
@gmethvin, Yes, I did encounter this in a real app. We use a DB connection pool and, since we use a blocking driver, a dedicated thread pool that runs all the code that interacts with the DB. The thread pool registers its shutdown hook first, and then the connection pool registers its shutdown hook, and of course the latter runs the DB shutdown code in the aforementioned thread pool. This led to t

[2017-11-01 13:36] margussipria commented on #5334
Tolerant text is required if there is request signature involved. We just found this same issue.

[2017-11-01 13:59] eximius313 opened #7976 "Evolutions doesn't work when 0 is at the begining of the file"
### Play Version (2.5.x / etc)
2.6.6

### API (Scala / Java / Neither / Both)
Neither

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Windows 7

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

### Library Dependencies
N/A

### Expected

[2017-11-01 14:12] cchantep commented on #7976
Hi, BTW the naming is explicitly documented in the page referenced by the mentioned link:

[2017-11-01 15:38] eximius313 opened #7977 "Please support Project Lombok in Twirl templates"
### Play Version (2.5.x / etc)
2.6.6

### API (Scala / Java / Neither / Both)
Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Windows 7

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

### Library Dependencies
[Project Lombok](htt

[2017-11-01 16:19] cchantep commented on #7976
Not having a leading 0 doesn't prevent to go up to 10 and more.

[2017-11-01 16:51] eximius313 commented on #7976
yeah, and every IDE sorts it as:
[code]
funny as hell ;)

[2017-11-01 17:39] joantune commented on #7953
@benmccann yeah, so, if my memory serves me right they use Class.forName at some point which they might always have to do when doing stuff like deserializing whole objects (??) most likely they serialize the classname and the contents or something similar (?) of the cache and deserialize it

as far as I understood, making sure that the Thread's classloader is Play application's one would solve thi

[2017-11-01 17:41] benmccann commented on #7953
Yes, anything that uses Class.forName should take a classloader as a parameter so that we can pass in the appropriate one

[2017-11-01 17:44] joantune commented on #7953
Yes, so, after re-reading issue #4159 I went looking for a way to parameterize EhCache's classloader, and it appears that it's possible:

[code]
from:
http://www.ehcache.org/documentation/3.4/class-loading.html

[2017-11-01 19:26] cchantep commented on #7976
@eximius313 You can find it "funny", but not everybody is using an IDE, nor the same as yours,  moreover the fact that your IDE doesn't list the evolution as you would expect it doesn't mean there is a blocker on Play side about evolution execution/management.

A custom file naming could be discussed as improvement, on the [MailingList](https://groups.google.com/forum/#!forum/play-framework) first

[2017-11-01 19:29] wsargent commented on #7974
This would help with the play-ahc-ws-cache as well.

[2017-11-01 19:39] ben-manes commented on #7974
For this adapter I think it would be something like

[code]

[2017-11-01 22:03] marcospereira commented on #3608
@piercelamb this is probably #7898. See comments there about how to use a snapshot version to verify this was fixed for you.

[2017-11-01 22:08] marcospereira commented on #7976
Is this "the same" as #6919?

[2017-11-01 22:27] mkurz commented on #7976
@marcospereira I don't think so. #6919 is about on how to (completely) customize the evolutions scripts filenames - which can already be achieved by implementing your own `EvolutionsReader`. I did assign #6919 to me a while ago because all that needs to be done is to update the documentation with an example of an `EvolutionsReader`.

This issue here is about the "limitation" that Play doesn't acce

[2017-11-01 22:56] marcospereira commented on #7977
Hi @eximius313,

I'm not a Lombok user, but I suspect this is happening because of the order things are happening:

1. Twirl templates are compiled to Scala code
2. Scala code generated by Twirl is compiled
3. Lombok does its magic

So, since Lombok phase only happens **after** Twirl, then you get an error. As I said, I don't know how Lombok works, but a possible solution here is to move the class

[2017-11-01 22:56] #7977 closed

[2017-11-01 23:08] mkurz commented on #7977
@eximius313 Also see https://github.com/playframework/playframework/pull/4006#issuecomment-81049150 for additional information. Like Marcos said you have to put your classes/models that use lombok and that you want to use in twirl templates into a sub-project so you can use them in the main projects twirl templates.

[2017-11-01 23:26] mkurz commented on #7976
Pull request: #7978

[2017-11-01 23:48] eximius313 commented on #7976
@mkurz, you understood perfectly what I meant ;)

[2017-11-01 23:52] eximius313 commented on #7977
@marcospereira, what you proposed is clearly just a workaround not a solution, so I'd kindly ask you for reopening this issue.
Forcing someone to create artificial subproject in order to use such a widely adopted library is bad...

[2017-11-02 01:53] gmethvin commented on #7949
@mberndt123 Sorry, that's not what I meant to say. The problem is that Play currently assumes it has the freedom to decide where the stop hooks are executed. The assumption is that you don't care where the thread that creates the future is executed, and if you had something that was sensitive to which thread pool it's in, you would return a Future that explicitly uses a specific thread pool.

To b

[2017-11-02 09:26] gitssie opened #7981 "Why Deprecated play.Configuration class ?"
I see the play.Configuration class was be @Deprecated，Use {@link Config} instead.

then how I use conf.getInt("ws.hystrix.poolsize",100) method?; let me make a tool class to do that?

because the typesafe Config class unsupported conf.getInt("xxxx",default) or conf.getString("xx",default)

[2017-11-02 09:57] PromanSEW commented on #7981
All values must have defaults described in `application.conf`

[2017-11-02 11:10] eximius313 opened #7982 "Please document EvolutionsReader"
@mkurz described in his [comment](https://github.com/playframework/playframework/issues/6919#issuecomment-276018274) very nice feature - ```EvolutionsReader```.
I think it's necessary to add it to the [Documentation](https://www.playframework.com/documentation/2.6.x/Evolutions)

[2017-11-02 13:32] marcospereira commented on #7981
Hi @gitssie,

As @PromanSEW said, the idea is that you always declare some (default) value for your configuration, even if the value is `null`. This is [recommended by config](https://github.com/lightbend/config#how-to-handle-defaults) library. So Play moved to this style and, because of that, `play.Configuration` not only lose its value but also becomes against the recommendation. Then it was dep

[2017-11-02 13:32] #7981 closed

[2017-11-02 15:43] GeorgiChochov opened #7984 "[2.6.6] Using play.mvc.Filter on Dev produces to inconsistent ExecutionContexts"
### Play Version (2.6.6)

### API (Java)

### Operating System (Windows 10)

### JDK (Oracle 1.8.0_112)

### Expected Behavior
Using a `play.mvc.Filter` should not affect the ExecutionContext (or ClassLoader) used inside a Controller's actions. Should always use `play-dev-mode-akka.actor.default-dispatcher-*` on Dev.

### Actual Behavior
This behaviour is only observed on Dev with a `play.mvc.Filt

[2017-11-02 16:06] Abrasha opened #7985 "Fix an issue with h2 header"
<img width="855" alt="screen shot 2017-11-02 at 18 05 13" src="https://user-images.githubusercontent.com/11317222/32336627-7733a14e-bff8-11e7-992d-bbaed9af783c.png">

Link with anchor: https://www.playframework.com/documentation/2.6.x/Migration26#play.api.libs.concurrent.Execution-is-deprecated

Maybe it should be replaced with `###` in markup instead of `##`?

[2017-11-02 16:07] Abrasha commented on #7985
Closing. It is related to another repo.

[2017-11-02 16:07] #7985 closed

[2017-11-02 22:18] gmethvin commented on #7984
On your example app I'm getting something like:

[code]

For `BEFORE` and `ACTION` I always get `play-dev-mode-akka.actor.default-dispatcher` and not `application-akka.actor.default-dispatcher` so maybe I'm missing something.

The thread pool used didn't seem random to me either. The `AFTER` logs inside `thenApply`'s lambda are all on `ForkJoinPool.commonPool`, while the `BEFORE` and `ACTION` logs

[2017-11-02 22:42] benmccann opened #7987 "Specifying content encoding when not necessary"
I'm wondering if we should stop specifying the charset and let utf-8 be assumed? TechEmpower is suggesting we would do better on there benchmarks that way. I'm not sure if there are other considerations

     Additional response bytes may negatively affect benchmark performance.
     See http://frameworkbenchmarks.readthedocs.org/en/latest/Project-Information/Framework-Tests/#specific-test-require

[2017-11-02 22:45] gmethvin commented on #7987
I'm pretty sure we are already doing that. We used to send `charset` in the past but I think that was removed. Is there a specific test you can point me to?

[2017-11-02 22:48] benmccann commented on #7987
I saw it in the Travis logs for my PR https://github.com/TechEmpower/FrameworkBenchmarks/pull/3034 to upgrade one of the projects to Play 2.6.6
https://travis-ci.org/TechEmpower/FrameworkBenchmarks/jobs/296489436

[2017-11-02 22:57] gmethvin commented on #7987
Actually, you're right. There is different logic for the Java `sendJson`: https://github.com/playframework/playframework/blob/2.6.7/framework/src/play/src/main/java/play/mvc/StatusHeader.java#L356. We really should be using a constant there.

I also found it a bit odd that that project is using a controller annotation for something that could be done in a filter: https://github.com/TechEmpower/Fra

[2017-11-03 06:53] GeorgiChochov commented on #7984
Thank you for the detailed explanation it's quite helpful, however, I just tried my example app on a different machine (Windows 10 again), and it took a fair few page refreshes to produce the following [dev.log](https://github.com/playframework/playframework/files/1440237/dev.log). On the actual app where I ran into this, it happens much more frequently for reasons yet unknown, but it does occur h

[2017-11-03 11:02] mkurz commented on #7982
Related: #2813 and #6919

[2017-11-03 12:25] mkurz commented on #7977
@eximius313

I think having the models in a sub-project isn't that bad. We use that approach for some of our projects and it turned out to be a good decision. This allows you to write different frontents(projects) for your models. E.g. think about the "normal" application you offer to your endusers and and admin panel only you should have access to. That could be two completely different applicati

[2017-11-03 13:18] Freshwood opened #7990 "Can not override 'max-header-value-length'"
### Play Version 2.6.6
Hey Guys,
we have actually the problem that we can not override the standard akka http parsing settings.
**akka.http.parsing.max-header-value-length**
We have to override this settings cause our jwt token is at this time over 9000 Bytes. (Authorization Http Header)
I tried it with every possible combination:
- play.server.akka.http.parsing.max-header-value-length
- akka.http

[2017-11-03 14:07] eximius313 commented on #7977
@mkurz thank you for your very comprehensive reply
I'll go with sub-project

[2017-11-03 16:54] godenji opened #7991 "[2.6.7] Provide *PlayMinimal* Autoplugin"
Rationale: in many cases play users are shuffling around JSON and have no need whatsoever for the UI features in the framework.

While the added production "weight" isn't important, paying the compile "tax" in development very much is, just look at the output of `sbt -Dsbt.task.timings=true` and see all of the work being done on every `compile`.

By providing a `PlayMinimal` autoplugin (no sbt-web

[2017-11-03 17:56] mkurz commented on #7984
I can confirm what @GeorgiChochov is experiencing.

When hitting the sample app with 1000 requests
[code]
there a quite a lot of occurences of `application-akka.actor.default-dispatcher` (only for ACTION):
[code]
When removing the filter it's 0.

[2017-11-03 23:22] mberndt123 commented on #7949
@gmethvin, IIRC Play's default execution context is the actor system's dispatcher. Since the actor system itself is also shut down using a stop hook, I doubt that's going to work.

To me it seems that the stop hooks should run in the thread that calls the ApplicationLoader's load method when the application is started. That would mean blocking that thread while it's waiting for the futures to comp

[2017-11-05 01:28] eximius313 opened #7993 "Evolutions doesn't work on Stage when hibernate.hbm2ddl.auto is set to validate"
### Play Version (2.5.x / etc)
2.6.7

### API (Scala / Java / Neither / Both)
Neither

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Any

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
Any

### Library Dependencies
evolutions, jdbd

### Reproducible Test Case
I have ```hibernate.hbm2ddl.auto``` set to ```validate```. When I run the app by ```sbt run``` evolutions kicks in bef

[2017-11-05 12:46] mrubin commented on #7634
From the perspective of a new user (of Play) and knowing nothing about the implementation, I absolutely vote for a "default asset" approach. I shouldn't have to subclass something when this is a 3-word one-liner in nginx. My expectation would be that I could achieve this in the routes file only.

If people have a need to subclass, let them. But make what should be a simple thing easy (and allow ha

[2017-11-05 12:54] mrubin commented on #7634
As far as the http status, if index.html (or wherever the default asset is) gets successfully served up, then that should absolutely be a 200.

Greg is correct that the server has no way of knowing what routes exist in the SPA. The front-end has to deal with that.

[2017-11-05 13:37] gmethvin commented on #7634
Maybe it would be best to have something explicit:

[code]

[2017-11-05 20:48] richdougherty commented on #7949
Are you observing the shutdown hooks running in _reverse_ order, because that's what should be happening? The DB shutdown code should run before the thread pool shutdown code, so the DB shutdown code should have a normal, functioning thread pool while it's shutting down.

[2017-11-05 20:52] richdougherty commented on #7634
Can we clarify what sort of "default asset" we're talking about…

Are we talking about the situation where a user requests `/foo/bar/` and we serve them `/foo/bar/index.html`? I think this is what @mrubin is talking about and I agree it's a very common case.

Or are we talking about an asset that's served whenever there's a 404, e.g. a user requests `/foo/bar/no-such-asset.html` and gets `/index.h

[2017-11-05 20:55] richdougherty commented on #7957
I believe it is for performance reasons - it avoid a thread switch. However, ClassLoader issues have always been a problem in dev mode.

[2017-11-05 20:57] richdougherty commented on #7984
See related issue #7957. There are some unfortunate differences between the environment used by a Play application in dev mode and in prod mode. E.g. in dev mode there are two ActorSystems, two thread pools, multiple ClassLoaders, etc.

[2017-11-05 21:03] richdougherty commented on #7993
Hmm that doesn't sound like a great experience. It sounds like Hibernate is initialising before the tables have been created by Evolutions.

Implementation thoughts: Evolutions has a weird place in the application lifecycle. It runs inside the Application but it really overrides part of the application. In a way, Evoltuions should load before the rest of the application. It needs to run code on st

[2017-11-05 22:11] marcospereira commented on #7634
@richdougherty if I understand it correctly, both @jroper and @mrubin are talking about the same use case: SPA that does some kind of client-side routing and then serving some default asset when the required route does not exist.

This is not about serving an `index.html` there is present inside `/foo/bar` folder.

[2017-11-05 22:15] mrubin commented on #7634
@richdougherty You're close.

The nginx logic of `try_files $uri /index.html` says: "If I can serve what the user requested, I will. Else, serve up the contents of /index.html (without rewriting the url in the browser)."

So in our case, if the routes file said:

`GET /*file  Assets.at(path = "/public", file, fallback = "index.html", fallbackStatus = OK)`

There's a bit of ambiguity as to the path

[2017-11-05 23:44] mrubin commented on #7634
To add a further note.. in this kind of model, the only reason we need to serve up anything other than `index.html` is the static assets that the React app needs. There is nothing going on in the server otherwise.. no logic other than "serve up a static file we have or serve up the contents of index.html"

(There is a related topic of "server-side rendering" for React apps... but we can leave that

[2017-11-06 05:30] #6696 closed

[2017-11-06 09:56] Spenhouet commented on #7879
I upgraded to sbt 1.0.3, scala 2.12.4 and play 2.6.7 but now I can't build with Java 8 nor with Java 9.

I can start the play application build with java 9 in my IDE but if I push it with `docker:publish` to a docker repository and then run it with `docker run --rm -p 9000:9000 eu.gcr.io/my-docker-image:1.0` I get an `UnsupportedClassVersionError`.

At first I didn't thought this has anything to d

[2017-11-06 16:52] ignasi35 opened #7995 "Race condition on Akka-HTTP Websocket handling"
When https://github.com/akka/akka-http/pull/1516 is released the dependency to Akka-HTTP should be bumped to fix the race condition.

This is related to https://github.com/lagom/lagom/pull/1054

[2017-11-06 19:44] mnmami commented on #3608
How odd?! in case someone slid into this situation as I did. I imported the project using Intellij. What happened next is that the views render (after I refresh the page) only upon the first change, any subsequent changes are not captured, until I interrupt the application (Ctrl-c) and 'sbt run' it again (same with ~run). I can see the changes saved to file when I open it using another text editor

[2017-11-06 21:51] eximius313 opened #7997 "Illegal header: Illegal 'user-agent'"
### Play Version (2.5.x / etc)
2.6.7

### API (Scala / Java / Neither / Both)
Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
SMP Debian 4.4.6-1~bpo8+1 (2016-03-20) x86_64 GNU/Linux

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
java version "1.8.0_74"
Java(TM) SE Runtime Environment (build 1.8.0_74-b02)
Java HotSpot(TM) 64-Bit Server VM (build 25.74-b02, mixed mode)

##

[2017-11-06 22:36] gmethvin commented on #7997
It looks like this is https://github.com/akka/akka-http/issues/687

[2017-11-06 22:49] gmethvin commented on #7997
One workaround here is to switch to the [Netty backend](https://www.playframework.com/documentation/latest/NettyServer).

[2017-11-07 09:45] gitssie commented on #7981
Thanks

[2017-11-07 19:52] marcospereira commented on #3608
Very odd indeed. Anything in idea logs?

If there are errors and exceptions there you may want to open an issue with them.

[2017-11-07 20:45] SethTisue opened #8000 "sample ScalaFileUpload code is insecure (allows overwriting files in other dirs)"
at https://github.com/playframework/playframework/blob/master/documentation/manual/working/scalaGuide/main/upload/code/ScalaFileUpload.scala

this code:

[code]

is insecure. @pwntester, who noticed the problem, writes:

[2017-11-07 23:21] mberndt123 commented on #7949
@richdougherty, I don't think it's useful to discuss the details of my application. I have written the above example code precisely to allow you to understand the problem without having to worry about any of that stuff, and I assure you that it captures the essence of what's going on in my application.

I have also updated it just now to print some more useful messages and trigger the bug more con

[2017-11-08 03:52] richdougherty commented on #7949
Hi @mberndt123, thanks for the info you've provided so far. You have indeed clearly shown how there can be a dependency between the shutdown code for a thread pool and the thread pool itself, resulting in a deadlock. I think we can straightforwardly reproduce and fix the bug based on the code you showed above.

My question was about something slightly different. Your message [here](https://github.

[2017-11-08 10:43] mberndt123 commented on #7949
Hi @richdougherty, I surprised you think so, because I don't think my phrasing suggests that. In any case, it is not what I meant. The shutdown hooks run in the correct order in my application.

[2017-11-08 14:08] nemoo opened #8003 "Error when using custom logback appender"
### Play Version 2.6.7 Scala  Windows 7  JDK 8

### Expected Behavior

When using logback, I expect to be able to add custom logback appenders to the default appenders in play framework. The additional appender should be initiated correctly and used for logging.

### Actual Behavior

The custom appender is not instantiated and not used. Instead this error is thrown:
`14:52:28,831 |-ERROR in ch.qos

[2017-11-08 18:15] richdougherty opened #8004 "Add documentation for simple form use case"
When I was trying to answer a [Stack Overflow question](https://stackoverflow.com/questions/47170406/java-play-how-to-make-a-simple-form-with-2-fields-and-send-values-to-controler) I realised Play's forms documentation could be improved.

For the simple use case of an HTML form, we should have a single place in the documentation that shows:
1. The routes with both `GET` and `POST` routes
2. The co

[2017-11-08 19:28] richdougherty commented on #7949
Thanks for confirming.

[2017-11-08 20:25] richdougherty opened #8005 "Incremental refactoring of request processing pipeline"
There are some changes we can make to play that will make request processing simpler and more maintainable without breaking things for users. These aren't changes to Play's HTTP model, just changes to how it accepts requests and serves results. Ideally we can make these changes incrementally, in simple stages. An ordering for changes is given below.

**Stage 1** - _move request processing into `De

[2017-11-08 21:08] wsargent commented on #8004
The documentation also doesn't point to https://github.com/playframework/play-scala-forms-example or integrate with it in a meaningful way (i.e. point at the same models)

[2017-11-08 21:11] wsargent commented on #8003
You probably need a custom log configurator for that -- see https://www.playframework.com/documentation/2.6.x/SettingsLogger#Using-a-Custom-Logging-Framework

[2017-11-08 22:16] antonha commented on #7017
After banging my head against this issue for way too long, I have a theory. This is running play 2.6.7, but I think it probably applies to earlier versions as well.

The `DataSource user is null?` message gets printed when creating an `EbeanServer`. `EbeanServer` instances are created, and registered, through the static `Ebean` class.

The Play framework (at least in most examples) tries to create

[2017-11-08 22:32] antonha commented on #7017
Reading up on the original reporter's issue, I think that my 'theory' was for a different bug than what was originally reported, but with the same symptoms. Might still be valid for others though.

[2017-11-08 22:48] Freshwood commented on #7990
I found a hint to a fallback configuration where the user has the opinion to override the default akka http properties.

`      // Resolve another .conf file so that we can override values in Akka's
      // reference.conf, but still make it possible for users to override
      // Play's values in their application.conf.
      val playOverridesConfig: Config = ConfigFactory.parseResources(classLoa

[2017-11-09 16:42] gmalouf commented on #7382
I just want to chime in I am seeing what I believe is the same warning except in my template files:

scala 2.12.4
play 2.6.7

[code]

[code]

[2017-11-09 19:23] gmalouf commented on #7382
Disabling -Xlint gets rid of the warnings - having said that this feels like a regression.

[2017-11-10 00:14] richdougherty commented on #7512
See also: https://stackoverflow.com/questions/47140930/how-to-stream-zipped-file-on-the-fly-via-play-framework-2-5-in-scala

[2017-11-10 06:01] dusanstanojeviccs commented on #7974
Hi, I would love to implement this.

Should I just fork the master repo, and create src/play-caffeine and make implementation like play-ehcache?

[2017-11-10 22:51] gmethvin opened #8008 "Provide safer API for getting filenames of uploaded files"
The `FilePart` of `MultipartFormData` just uses the raw `filename` provided by the client. While this API is technically correct, it is very easy to mistakenly use the filename in unsafe places, such as in a path to write to a file on the system. This leaves users open to directory traversal attacks.

Instead of a `filename` method that returns the filename, we could perhaps have an `unsafeFilenam

[2017-11-10 23:05] #8000 closed

[2017-11-10 23:35] wsargent commented on #8008
There's a combination of `normalize`, `resolve` and `startsWith` in the Files NIO package which could be useful for this:

https://stackoverflow.com/questions/33083397/filtering-upwards-path-traversal-in-java-or-scala

[2017-11-10 23:36] wsargent commented on #8004
Also see https://www.theguardian.com/info/developer-blog/2015/dec/30/how-to-add-a-form-to-a-play-application

[2017-11-11 12:16] rayronvictor commented on #7991
+1
Or add a doc section showing how to archive this.

[2017-11-13 01:48] mkurz opened #8010 "A Java no-op Filter decreases performance by ~ 83% (!!!)"
This is really bad.

[`play.mvc.Filter`](https://github.com/playframework/playframework/blob/2.6.7/framework/src/play/src/main/java/play/mvc/Filter.java) has a *serious* performance issue.

While working on https://github.com/TechEmpower/FrameworkBenchmarks/pull/3061 I discovered a massive performance decrease as soon as you add a simple no-op filter to a play-java application.
When I was running

[2017-11-13 02:00] mkurz commented on #7987
@gmethvin

Turns out there is no need anymore to set the `Server` and `Date` header via a controller annotation: The `Server` header can simply be set via `play.server.akka.server-header = ...` in `application.conf` now and the `Date` header will be send for each response by Play anyway - maybe that wasn't the case in older Play releases when these benchmarks tests were written.
So I removed the `

[2017-11-13 02:19] mkurz commented on #8010
If you want to try yourself you can git check-out my `slowFilter` branch [here](https://github.com/mkurz/FrameworkBenchmarks/commits/slowFilter) containing the above examples: https://github.com/mkurz/FrameworkBenchmarks/commit/ffb49e1860c85f4087e2497268659d9e0d0d6188

[2017-11-13 04:32] wsargent commented on #8010
Can you see if those results are repeatable with EssentialFilter, rather than Filter?  I think the Materializer is at fault here.

[2017-11-13 07:08] gmethvin commented on #8010
For reference, here are some tests results with `wrk` on my machine:

with filter:
[code]
without filter:
[code]

So it's about a 50% drop here. I suspect it's very dependent on system resources as well.

We knew there was a drop associated with `Filter` because it has to materialize the stream and introduces some extra context switches, but that drop seems larger that we'd noticed before. The ove

[2017-11-13 11:52] luca-emme commented on #7682
Hi @marcospereira any news about this issue? Is there any workaround to read json body with RoutingDsl?
Thank you!

[2017-11-13 22:34] gmethvin commented on #7974
@dusanstanojeviccs That's great. Yes, the module should look similar to play-ehcache and should depend on play-cache (the cache api) just like the ehcache one does: https://github.com/playframework/playframework/blob/master/framework/build.sbt#L316

[2017-11-14 01:46] gmethvin commented on #8010
At the very least we should note in the documentation that there is a performance penalty associated with using `Filter` and that `EssentialFilter` is preferred if that fits your use case.

[2017-11-14 17:05] nurturingmyself commented on #5079
@srhtcn Have you fixed the above problem.. Am getting the same exception at dev environment too..
It would be helpful if you could share the solution

[2017-11-14 17:11] srhtcn commented on #5079
@nurturingmyself , I don't remember. This was quite a long time ago.

[2017-11-14 17:15] nurturingmyself commented on #5079
@srhtcn Oh ok.. Do you have any clues on specifying the implementation for CacheApi in configuration to help the spring to pick tat instance

[2017-11-14 17:17] srhtcn commented on #5079
I don't sorry. I did not use Play for a long time now.

[2017-11-14 17:33] nurturingmyself commented on #5079
Thats ok.. Thanks for your reply :+1:

[2017-11-14 23:23] richdougherty commented on #7879
For those Googling, you can solve the `java.lang.NoClassDefFoundError: javax/xml/bind/DatatypeConverter` problem shown by @markehammons by using `SBT_OPTS="--add-modules java.xml.bind" sbt`.

[2017-11-14 23:23] richdougherty commented on #7879
I'm taking a look at this issue now.

[2017-11-14 23:24] richdougherty commented on #7879
Note to self: when this is working update https://wiki.openjdk.java.net/display/quality/Quality+Outreach to include Play.

[2017-11-14 23:45] mkurz commented on #7879
If you don't want to write `SBT_OPTS=...` in front of every `sbt` call and also don't want to always `export _JAVA_OPTIONS="--add-modules=..."` here is how I solved it:

There are three "levels" were you need to define the modules.

1. For compiling. For that you can put in your `build.sbt`:
[code]
In case you use sub-modules you have to defined that javac options for all your sub-modules.

2. Whe

[2017-11-14 23:52] mkurz commented on #7879
BTW: I first tried to solely set `javaOptions ++= Seq("-J--add-modules=module1,module2")` but that didn't work for `sbt run` and of course also not for compiling. I also tried to set `fork := true` but that didn't help in dev mode for `run` as well. However it did work for `sbt runProd` and `sbt stage` (see comment above).

[2017-11-15 00:00] mkurz commented on #7879
It would be great if we could just define our modules at one single place and they will be picked up for compiling, devmode run (`sbt run`) and for distribution (`sbt stage`, docker images, etc.)

[2017-11-15 00:09] mkurz commented on #7879
One more comment: `sbt runProd` does pick up the `javaOptions` because it just runs `stage` and then spins a new process and [passes that options to that process](https://github.com/playframework/playframework/blob/2.6.7/framework/src/sbt-plugin/src/main/scala/play/sbt/run/PlayRun.scala#L240-L254). That doesn't work for `sbt run` even though when `fork := true` because we don't even extract any `-

[2017-11-15 08:52] mkurz commented on #7879
BTW: `sbt -jvm-debug <port>` doesn't work yet as well: https://github.com/sbt/sbt-launcher-package/issues/185

[2017-11-16 06:55] dataich commented on #7943
same for me

[2017-11-16 09:19] richdougherty commented on #7879
Thanks for the analysis @mkurz. We may have to wait for sbt needs to get a "Java 9" upgrade before this is a smooth experience in Play. For the moment we can fix breaking bugs and provide documentation.

For me, at least, I can get a simple Play app running with the `--add-modules` option mentioned [here](https://github.com/playframework/playframework/issues/7879#issuecomment-344433851). All your

[2017-11-16 12:07] nemoo commented on #8003
The additional (GELF) appender should work on top of the existing appenders. You wrote that I probably need a custom log configurator. So I would have to reimplement standard play logging first with logback with a custom log configurator so that default logging into the console and a log file works? And then I can hopefully add an additional custom appender to logback?

[2017-11-16 12:53] oripwk commented on #4430
This causes unexpected behavior during builds. Every build, different Reverse Route appears in the package, and integration tests using reverse routes fail randomly. If it would fail during compile time instead of silently overriding it would be much better

[2017-11-16 17:08] mkurz commented on #7879
The `sbt -jvm-debug <port>` issues has been fixed: https://github.com/sbt/sbt-launcher-package/pull/197 / https://github.com/sbt/sbt-launcher-package/issues/185

[2017-11-16 18:06] wsargent opened #8015 "play-socket.io not mentioned in documentation and examples"
### Play Version (2.5.x / etc)

2.6.x

### API (Scala / Java / Neither / Both)

both

### Actual Behavior

The clustered chat client for socket io is not mentioned in the main play documentation and the chatroom examples don't mention it either:

* https://github.com/playframework/play-socket.io/tree/master/samples/scala/clustered-chat
*  https://github.com/playframework/play-socket.io/tree/master

[2017-11-16 21:27] richdougherty commented on #8010
It would be great to add a test for this into the microbenchmark test suite so we can easily debug and track this issue.

I see this line inside the `Filter` code:

[code]

Can you try changing that to use a trampoline instead?

[code]

[2017-11-16 21:37] mkurz commented on #8010
@richdougherty I will try asap.

[2017-11-16 21:59] richdougherty commented on #7879
@markehammons, @mkurz, et al: I'd like to organise this issue a bit more so that we can address Java 9 compatibility in a systematic way. Here's my plan, let me know if any objections:

1. Close this ticket because I believe the original issue was fixed by an upgrade to Play 2.6.7 and sbt 1.0.
2. Make a new issue to track Java 9 compatibility at a high level. This issue will stay open until we get

[2017-11-16 22:10] mkurz commented on #7879
Sounds fine to me.

Which issue? Can you reference?

[2017-11-17 03:43] masahitojp commented on #7943
Also happening in our environment.

[2017-11-17 18:13] marcospereira commented on #7879
@richdougherty agree with all of your points, just want to make some comments.

Maybe we can do more than document here. Play can detect Java 9 and add the required modules, at least the ones we need out of the box.

Can't this be all part of the Java 9 high-level issue?

If [this answer](https://stackoverflow.com/a/47356730/4600) is correct then it was just a configuration issue.

[2017-11-17 20:42] #4611 closed

[2017-11-17 23:50] AlexITC commented on #1842
@cchantep  your solution worked for me thanks, I wonder why this is not already provided by play? is there any reason to not include this custom parser? @gmethvin

[2017-11-18 12:34] mkurz commented on #8010
@richdougherty I tried your suggestion now but it didn't help at all. The performance is still ~ 83 % worse on my machine... :cry: That's what I changed: https://github.com/mkurz/playframework/commit/8cddcab5b7dabd0b0c13032537e19a5d5fbb569e

Any other idea(s)?

[2017-11-18 16:21] NathanC opened #8019 "Multiple "generated dev mode secret" logs upon startup"
Upon starting the application, I get multiple notifications on the dev mode secret being generated. It's not really an issue for me, but I'm curious if other people are seeing it. Here are the logs (from running `sbt run`):

[code]
I'm using scala version 2.12.3, Play version 2.6.7, and sbt version 0.13.16.

[2017-11-18 20:24] wsargent commented on #8010
Last time I touched this was pass through materialization https://github.com/akka/akka/issues/22587

[2017-11-18 22:10] gmethvin commented on #1842
As @cchantep explained, his custom body parser is a workaround and does not support chunked responses. Now that we've moved to Akka streams, we can pass the error through as a failed `Accumulator`.

If you are still seeing an issue like this in Play 2.5 or 2.6, it may be best to open a new issue to discuss, since much has changed in Play since this bug was created.

[2017-11-19 09:17] dusanstanojeviccs commented on #7974
@gmethvin Hey, I've implemented this and all tests are passing. So should I update cache/ScalaCache.md docs and cache/JavaCache.md and make a PR?

[2017-11-19 13:24] mberndt123 opened #8020 "Play sbt plugin shouldn't affect compiler flags"
Currently, `play.sbt.Play` contains code like this:
[code]
While this is certainly well-intended and I don't want to question the merits of these flags, I think it's the project developers who should decide what compiler flags they want to compile their code with, not the Play developers.

We stumbled upon this when trying to migrate to Play 2.6. The problem is that when combined with `-Xfatal-war

[2017-11-19 18:28] richdougherty commented on #8010
@wsargent, so basically there's an 'async boundary' inside the Akka streams code?

[2017-11-20 07:51] gmethvin commented on #8020
How are you setting `scalacOptions`? You should be able to override Play's setting completely with `scalacOptions := Seq(...)`? That should allow you to set whatever custom options you want. It's not really a "workaround", just overriding a default.

FWIW, I believe the reason `-deprecation` was added was because otherwise sbt will give a warning like `there were 5 deprecation warnings; re-run wit

[2017-11-20 08:06] gmethvin commented on #7974
@dusanstanojeviccs Yes, don't hesitate to make a PR, even if it's still a work in progress.

We should update the doc to recommend using the caffeine cache module instead of the ehcache module, but still point out that the ehcache module exists. We can give you more detailed feedback on the PR.

[2017-11-20 08:18] gmethvin commented on #7827
@samupra fyi this is still open; @benmccann's PR just updated one usage of the existing constant.

[2017-11-20 10:31] mberndt123 commented on #8020
Hey @gmethvin,

Thanks for responding.
yes, I think that the starter templates are a more appropriate place for this. We fixed the problem by adding `scalacOptions -= "-deprecation; scalacOptions += `-deprecation:false` to our build. What I don't like so much about that is that when you start using `-=`, `:=` etc. it suddenly matters where in your .sbt files you put settings. That's not the case i

[2017-11-20 14:13] Spenhouet commented on #7879
Yes, you are right. It was just a configuration issue. Still can't use Java 9 since other libraries are not up-to-date but this has nothing to do with Play.
The issue of this thread and my issues with Play & Java 9 are resolved.
Thank you 👍

[2017-11-20 22:00] richdougherty opened #8023 "Don't ignore exceptions thrown during JPA rollback"
I noticed this bit of code [in the JPA implementation](https://github.com/playframework/playframework/blob/cdc2210758d906055774cd9573921d9cdfaaa106/framework/src/play-java-jpa/src/main/java/play/db/jpa/DefaultJPAApi.java#L150-L154) where we're catching a `Throwable` and ignoring it. See the `catch (Throwable e) {}` below:

[code]

1. We should try and avoid catching `Throwable` - maybe catch `NonF

[2017-11-21 01:04] mrubin commented on #7634
Another consideration that I'm now running into while trying to host a React front-end with Play is cache headers. The React build will put some hash characters into the asset filenames, depending on a hash of their contents, as a "browser cache busting" technique. e.g. asset.js will become asset.abc123.js at build time. If the contents of asset.js change in the future, the next time you do a prod

[2017-11-21 01:42] dusanstanojeviccs commented on #7974
Got it awesome, I'll do it in a few hours when I get home 👍

[2017-11-21 03:32] ktoso commented on #3861
This would be best implemented on the Akka side, and Play make use of that.
Help is very welcome on this, feel free to help out by doing a PR!  akka/akka-http#102

[2017-11-21 07:37] dusanstanojeviccs commented on #7634
I think that this is the best approach:

GET /*file  Assets.at(path = "/public", file, fallback = "index.html", fallbackStatus = 200)

It is easy to write for beginners and will offer enough control to serve the SPA index page.

If that is what needs to be done I can probably do it tomorrow.

[2017-11-21 16:42] schmitch commented on #8010
well even worse, the stream gets materialized and feed into a new source. This happens inside ` Accumulator.flatten`.

Worse is that if we make a GET request without a body, we still do that. I think we could improve the performance by just checking if the Body might be empty, if yes we just ignore the content of the accumulator and never call `Accumulator.flatten`
this will already improve all re

[2017-11-21 17:41] schmitch commented on #8005
if you start with `Move ForwardedHeaderHandler into DefaultRequestHandler - moves duplicated logic out of AkkaModelConversion and NettyModelConversion`  it would be great if you could ping me, because I'm actually creating a Conversion method for Servlet's.

[2017-11-21 18:37] petenattress opened #8026 "[2.6.7] CSRFFilter not setting session cookie when response has Cache-Control header"
### Play Version (2.5.x / etc)

2.6.7

### API (Scala / Java / Neither / Both)

Java (probably also affects Scala but not tested)

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Windows 10

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

[code]

### Library Dependencies

n/a

### Expected Behavior

Please describe the expected behavior of the issue, starting from the first ac

[2017-11-21 21:00] marcospereira commented on #8003
Hi @nemoo,

Yes. What @wsargent was suggesting is that you can add a custom appender customizing the way Logback is initialized. The way you do that is by creating a custom LoggerConfigurator. If you want to preserve all the existing behavior of the default logger configurator, then you can extend it or use it just as a start point to create your own.

I'm not sure it is an issue with Play and the

[2017-11-21 21:00] #8003 closed

[2017-11-22 09:12] tsuyoshizawa commented on #8026
I have met a problem on my project is using custom HttpErrorHandler with i18n.
The custom HttpErrorHandler couldn't get Cookie value.

My project could reproduce the error with Cache-Control header.

I paste the stack trace.

[code]

[2017-11-22 12:04] schmitch commented on #8010
Actually this might solve it:
[code]

untested and it can be used as flatten:
[code]

the only problem than would be `Accumulator.source` (which is not used by play, it's only a public method for users)

[2017-11-22 19:51] marcospereira commented on #7682
Hi @luca-emme, we still don't have a solution for this problem.

As explained in my previous comment above, the problem here is that, since `RoutingDsl` is using a Scala body parser, we are getting a `play.api.mvc.AnyContentAsJson` instead of a `com.fasterxml.jackson.databind.JsonNode`. I don't think we currently have a quick workaround.

But keep in mind we are talking about having this prioritiz

[2017-11-22 21:42] #7991 closed

[2017-11-22 21:42] richdougherty commented on #7997
Tagged as 2.6.8 milestone because we should try and fix this on the 2.6.x branch.

[2017-11-22 21:44] richdougherty commented on #7895
Tagged as 2.6.8 because this is probably an Akka HTTP backend related regression that we should fix on the 2.6.x branch.

[2017-11-22 21:44] richdougherty commented on #7737
Tagged as 2.6.8 because this is an Akka HTTP backend related regression that we should fix on the 2.6.x branch.

[2017-11-22 21:44] richdougherty commented on #7733
Tagged as 2.6.8 because this is an Akka HTTP backend related regression that we should fix on the 2.6.x branch.

[2017-11-22 21:45] richdougherty commented on #7719
Tagged as 2.6.8 because this is an Akka HTTP backend related regression that we should fix on the 2.6.x branch.

[2017-11-22 21:52] richdougherty commented on #7943
Note to whoever fixes this 😄 : Evolutions is handled in a special way by Play's server backends - using an internal API called `WebCommands`. This may be a bug in how Netty handles it vs Akka HTTP. Be aware that the `WebCommands` implementation has changed a lot on the *master* branch in #7986.

[2017-11-22 22:33] renatocaval opened #8031 "[2.6.8] Extends play.api.db.Database with origianl Configuratilon object"
The idea is to extends `play.api.db.Database` trait with an extra method to access the `Configuration` object that was used to build the DB.

This can be quite useful, especially in Lagom and when using Slick to access some extra configuration.

For instance:
https://github.com/renatocaval/lagom/blob/f0c50ce4d28fbc2b5d0caa6a0257e9eb26e72fdc/persistence-jdbc/core/src/main/scala/com/lightbend/lagom/

[2017-11-23 04:58] ktoso commented on #7737
Would an option to keep along RawHeader for everything or selected headers work for this?
I could not find a ticket for this in akka-http yet, let me know if there isn't one or if I'm blind, sounds like we should solve it in there indeed :)

[2017-11-23 05:39] gmethvin commented on #7737
@ktoso It would be great if we could just get RawHeaders for everything since we currently have no mechanism to use typed headers in Play.

[2017-11-23 09:53] cchantep commented on #8020
I guess this can eventually go on with the MailingList, to check whether there is something actionable about.

[2017-11-23 13:00] stephenjeba opened #8037 "Allow CORS from origin file://"
Tried with the below configuration, but still 403 forbidden error.

play.filters.cors {
  allowedOrigins = null
}

I have tried also with allowedOrigins = ["file://"] but still issue.

[2017-11-23 21:23] marcospereira opened #8039 "Add documentation for new PlayServices/PlayWeb sbt plugins"
This is follow up of #8011. We need to add documentation highlighting these changes and also how to use them.

[2017-11-24 05:37] richdougherty commented on #7997
Akka HTTP apparently follows the format given here: https://tools.ietf.org/html/rfc7231#section-5.5.3. However the header format is marked as "SHOULD", not "MUST" in the RFC, so we should allow headers that don't follow that format.

[2017-11-24 06:12] richdougherty commented on #7997
Added issue to track this upstream: https://github.com/akka/akka-http/issues/1550

[2017-11-24 06:13] richdougherty commented on #7737
Added issue to track this upstream: https://github.com/akka/akka-http/issues/1550

[2017-11-24 06:13] richdougherty commented on #7733
Added issue to track this upstream: https://github.com/akka/akka-http/issues/1550

[2017-11-24 10:48] #7827 closed

[2017-11-24 16:24] #7936 closed

[2017-11-24 19:11] #7866 closed

[2017-11-25 19:31] NathanC commented on #8037
Seems related to this: https://github.com/playframework/playframework/issues/5193

[2017-11-27 01:01] gmethvin opened #8047 "StaticRoutesGenerator should be removed"
We should remove the StaticRoutesGenerator (which is currently deprecated) for Play 2.7.

[2017-11-27 05:02] gmethvin opened #8050 "play.allowGlobalApplication should default to false"
We should default to not allowing the global application instance. We probably should keep a few tests around that use it to make sure it still works for now.

We also should document a migration path for users that are still relying on static state. Usually static injection is a good temporary fix.

[2017-11-27 16:06] #6573 closed

[2017-11-27 16:47] marcospereira commented on #8031
I think it won't be possible to directly add the method to `play.api.db.Database` (or Java version `play.db.Database`) in a binary compatible way. That is because to provide a default implementation, we would need access to `Configuration` inside the trait, but there is no method to do that now.

A possible alternative is to have a method like:

[code]
But would that be useful for Lagom?

[2017-11-27 19:38] gmethvin opened #8051 "runAll support"
Play should have support for starting multiple microservices at once inside the same JVM using a `runAll` command. Currently this functionality is part of Lagom but we should also be able to do the same with Play, then Lagom can utilize that functionality.

We might want to have a special sbt plugin for microservices meant to be used with runAll, or we can just use `PlayService`.

[2017-11-27 21:03] gmethvin commented on #8031
We could probably add a type-safe configuration class they could use directly, rather than having to manually work with the raw configuration.

[2017-11-28 08:16] renatocaval commented on #8031
This was more a nice to have to improve the code on the Lagom side. We should not add it if it breaks binary compatibility and without a stronger case.

@gmethvin I always prefer to have type-safe config objects, but in this particular case, it's about reading values from the config that are not known by Play.

So, maybe better to simply add a type-safe config on Lagom's side and have a method lik

[2017-11-28 13:13] domdorn commented on #7977
@eximius313 I assume, you tried
`compileOrder in Compile := CompileOrder.JavaThenScala`
? ( http://www.scala-sbt.org/1.x/docs/Java-Sources.html )

[2017-11-28 15:06] tanaka-de-silva commented on #8037
You can configure Play to serve content for any origin by using play.filters.cors.serveForbiddenOrigins = true.

[2017-11-28 20:27] marcospereira commented on #8031
I think the point here it to get all the database configuration, including pool configuration which can have properties specific to HikariCP, BoneCP or another one.

[2017-11-29 01:42] rmcloughlin opened #8052 "docs related to security and caching actions could be improved"
On this page https://www.playframework.com/documentation/2.6.x/JavaActionsComposition there is this text:

_Note: [play.mvc.Security.Authenticated](https://www.playframework.com/documentation/2.6.x/api/java/play/mvc/Security.Authenticated.html) and [play.cache.Cached](https://www.playframework.com/documentation/2.6.x/api/java/play/cache/Cached.html) annotations and the corresponding predefined Act

[2017-11-30 07:52] sergeych commented on #7753
It is very annoying. Why do you keep postponing it?

[2017-11-30 20:25] hparkerfly opened #8057 "Exception when adding new value to an existing header through StandaloneAhcWSRequest::addHeader()"
### Play Version (2.5.x / etc)
2.6.6

### API (Scala / Java / Neither / Both)
Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Ubuntu 16.04 LTS
Linux 4.4.0-101-generic #124-Ubuntu SMP Fri Nov 10 18:29:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-

[2017-12-01 01:31] richdougherty commented on #8004
Another question on Stack Overflow: https://stackoverflow.com/questions/47582394/play-framework-post-route-does-not-run-when-submitting-a-form/47585330

[2017-12-01 02:37] tenstriker opened #8058 "Need to get rid of generic error message: No configuration setting found for key 'play'"
### Play Version (2.6.6 or 2.6.7)
### API (Scala 2.11.11)
### JDK (Oracle 1.8.0_72)
Play Maven Plugin Version - 1.0.0-rc1

Following stacktrace bleeds on log in multiple situation. I have seen it on hot reload error due to compilation issue, missing configuration, when Modules or Routers are not loaded, Dependencies are missing or conflicting.
Sometime hitting the same url gives different error me

[2017-12-01 02:59] richdougherty commented on #8057
Hi @hparkerfly, thanks for the report. Would you mind opening a report over at the Play WS project? https://github.com/playframework/play-ws

In addition it would be useful to include the following information:
- stack trace
- version of Play WS that you're using

[2017-12-01 03:06] richdougherty commented on #8058
Hi @tenstriker, thanks for the report.

The problem appears to occur when getting sub-configuration for `play.http.forwarded` from here: https://github.com/playframework/playframework/blob/2.6.7/framework/src/play-server/src/main/scala/play/core/server/common/ForwardedHeaderHandler.scala#L233. Since we're getting an error about missing config for the key `play` I assume that Play is somehow missin

[2017-12-01 19:25] tenstriker commented on #8058
I added steps and version information in op. FYI, I am using play-maven not play-sbt.

[2017-12-01 20:11] defrancea opened #8061 "NettyServer shares the same event loop for both boss and workers"
### Play Version (2.5.x / etc)
2.6.3

### API
Scala

### Operating System
CentOS Linux release 7.4.1708 (Core)

### JDK
java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.151-b12, mixed mode)

### Library Dependencies
N/A

### Behavior
I'm considering using play for writing an app managing a large amount of web sockets and as

[2017-12-01 23:01] francisdb opened #8062 "HttpEntity.Streamed swallows stream failure exception"
Play `2.6.7`

When a request throws an exception you normally get a `500` response and an exception is logged. This behavior can be modified in the `HttpErrorHandler`. Eg sending the exception to a bug tracking system.

But for streamed responses where the stream fails the exception is just swallowed and the connection is closed. (curl: (56) Recv failure: Connection reset by peer)
I guess that for

[2017-12-03 04:02] gmethvin commented on #8062
If you have ideas we're happy to accept a PR. This is something I'd really like to improve.

[2017-12-03 04:15] gmethvin commented on #8058
We don't support the play2 maven plugin. Is it possible to repro with a plain maven project? If not it may be a problem with the way the maven plugin is loading the server.

Also `play-ws` is the ws API and does not provide an implementation. You probably want `play-ahc-ws`.

[2017-12-03 05:52] gmethvin commented on #8037
Since this has already been discussed in #5193 I'm closing. If you are getting the 403 error returned to your client, then you can probably deal with this using `play.filters.cors.serveForbiddenOrigins = true`. It's hard to say what the right thing to do is without more context though.

[2017-12-03 05:52] #8037 closed

[2017-12-03 08:30] defrancea commented on #8023
I'll be happy to take this one.
Regarding the exception's type being caught and according to [the doc](https://docs.oracle.com/javaee/6/api/javax/persistence/EntityTransaction.html#rollback()), one option is to:
1. Check isActive() before calling rollback
2. Catch `PersistenceException` only

Then we cal log the exception as @richdougherty proposed.

[2017-12-04 02:12] gmethvin opened #8066 "Scala 2.11 support should be dropped"
Play (master) should drop support for Scala 2.11. Scala 2.11 is no longer actively maintained, so it is best for existing Play users to upgrade to Scala 2.12.

[2017-12-04 08:52] francisdb commented on #8062
It would be a good start to just log the exception as level error in the default play logs.

[2017-12-04 13:34] sam-lex commented on #2854
Play 2.6 - same problem. @frosforever solution works, but needs to be done every time before starting server.

`set "APP_CLASSPATH=%APP_LIB_DIR%\*.jar`
`set "APP_CLASSPATH=%APP_LIB_DIR%*"`

Both of these two gives ClassNotFountError.

Is there a permanent solution?

[2017-12-04 14:29] ronalexander4 commented on #2854
Permanent solution: Don't use the play framework. It's a scam to extract
support money from you after you've implemented your system on top of it
(gotten pregnant with them). They make major changes in every version
requiring significant porting efforts, their documentation is practically
non-existent, and they refuse to offer *any* help unless you pay them
minimum $25,000. Been down that road, ne

[2017-12-04 16:04] schmitch commented on #5242
actually I think we should make `WebKeys.exportedMappings in Assets := Seq()` the default in play.

[2017-12-04 18:39] sam-lex commented on #2854
Got it working again without any changes to the .bat file, and it was to move it into a "short" path, something like: `C:\app`.

Originally it was into a folder like: `Downloads\test_app\server`

[2017-12-04 21:53] richdougherty commented on #8066
Ticket for adding Scala 2.13 support: https://github.com/playframework/playframework/issues/7940

[2017-12-05 21:21] #7995 closed

[2017-12-07 05:09] TimMoore opened #8075 "play.http.secret.key should only be required when using features that use it"
Currently, Play always requires the `play.http.secret.key` configuration to be set in production or else it will fail at startup, but only uses it (AFAICT) when signing cookies. There are some use cases for Play where signed cookies are not required. For example, using Play as a pure HTTP API server or when used within Lagom.

Failing fast on misconfiguration is nice from a developer UX perspectiv

[2017-12-07 05:34] gmethvin commented on #8075
I'm not opposed to a simpler short term fix, but the main issue is that many components only use a small part of the `HttpConfiguration` (which includes the `SecretConfiguration` and many other things) even if they only need one small piece. The best thing might be to just deprecate `HttpConfiguration` and use the more specific configuration classes instead. Then the CSRF filter and cookie bakers

[2017-12-07 05:46] gmethvin commented on #8075
For anyone interested in working on this: the solution would be to deprecate the old constructors that take `HttpConfiguration` and switch them to inject only the specific configurations they need (`ParserConfiguration`, `ActionCompositionConfiguration`, etc.). Then each of these configurations should be loaded separately. [`HttpConfiguration.fromConfiguration`](https://github.com/playframework/pl

[2017-12-07 14:33] amarjanica commented on #7017
In addition to @antonha answer, his solution didn't entirely work in my case.
I'm posting this to help others with similar bug. (play 2.6.7, sbt-play-ebean 4.0.6, scala 2.12.4)

I think @antonha is right about the race condition, so I started ebean server from guice module.
My `application.conf` looks something like this:
[code]
And here's the module:
[code]

[2017-12-08 07:05] costabas opened #8081 "Bug in FormError format method"
### Play Version (2.5.x / etc)
2.6.7

### API (Scala / Java / Neither / Both)
Scala 2.12.4

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
macOS 10.12.6

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
Picked up _JAVA_OPTIONS: -Xms1024m -Xmx2048m
java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.151-b12, m

[2017-12-08 13:56] halfninja commented on #7817
This affects us as well, and is cluttering up our logs in a way that the Netty server didn't. I tried implementing workarounds for it, but it's not possible to write a Handler that could conditionally delegate to WebSocket as AkkaHttpServer of course does its type check before any handler code can run. Filters only run on Actions.

I'm also happy to submit or collaborate on a PR.

[2017-12-08 17:16] #7682 closed

[2017-12-08 18:10] #5957 closed

[2017-12-08 20:57] #8023 closed

[2017-12-10 19:51] richdougherty commented on #8081
Thanks for the detailed report - down to finding the line of code responsible and writing a test case!

I've marked this as a **good first issue** and **help wanted** because I believe someone should be able to take what you've written and produce a fix pretty easily.

Steps:
1. reproduce and verify in a simple project and comment on this ticket when you've done that
2. add a test to [`FormSpec.sc

[2017-12-10 20:02] richdougherty commented on #8062
Picking up on @gmethvin's idea, we could have an extra method in `HttpErrorHandler` to handle streaming errors.

We could pass this method the `RequestHeader` and the `ResponseHeader`. We might also be able to pass the number of bytes streamed so far, which would allow the user to handle an empty response differently from a partly streamed response.

This method could log the error by default and

[2017-12-10 21:28] richdougherty commented on #8061
Thanks this is very interesting. I believe I made the change to merge the thread pools a few years ago. The reason was probably performance because of fewer thread switches when handling a request. I knew there would be a trade off but wasn't sure of the exact effect. Do you get the same performance (throughput/latency) if the event loop and workers run in separate pools or does one configuration

[2017-12-10 23:55] richdougherty commented on #7799
Possibly related: https://stackoverflow.com/questions/47701806/playframework-always-recompiles-everything-even-just-editing-a-css-file

[2017-12-11 00:17] #8047 closed

[2017-12-11 09:25] richdougherty commented on #8005
@schmitch sure will ping you. I don't think this is something I'll be working on anytime soon anyway because there are other priorities at the moment.

[2017-12-11 09:29] richdougherty commented on #8005
@schmitch sure will ping you. I don't think this is something I'll be working on anytime soon anyway because there are other priorities at the moment.

[2017-12-11 09:29] richdougherty commented on #7650
See also the #8005 for a plan that would probably fix this issue.

[2017-12-11 20:13] FranklinYinanDing opened #8089 "Exception from Filter is not caught by HttpErrorHandler.onServerError"
### Play Version (2.5.x / etc)

2.6.x

### API (Scala / Java / Neither / Both)

Both

### Expected Behavior

Please describe the expected behavior of the issue, starting from the first action.

1. When a `Filter` throws an exception, it should be caught by `HttpErrorHandler.onServerError`.

### Actual Behavior

Please provide a description of what actually happens, working from the same starting p

[2017-12-11 20:23] FranklinYinanDing commented on #8089
This behavior was correct in 2.4.x.

For Akka HTTP server, it blows up around [here](https://github.com/playframework/playframework/blob/2.6.x/framework/src/play-akka-http-server/src/main/scala/play/core/server/AkkaHttpServer.scala#L285), when a request is applied to the Filter to get the Accumulator. The Filter tries to call the first `apply` from the second `apply` [here](https://github.com/play

[2017-12-11 20:27] FranklinYinanDing commented on #8089
I think it might be fixed by catching the exception [here](https://github.com/playframework/playframework/blob/2.6.x/framework/src/play/src/main/scala/play/api/mvc/Filters.scala#L57).

[2017-12-12 00:45] hepin1989 opened #8090 "rewrite doc with paradox"
### Are you looking for help?

This is an issue tracker, used to manage and track the development of Play. It is not a support system and so it is not a place to ask questions or get help. If you're not sure if you have found a bug, the best place to start is with either the [users mailing list](https://groups.google.com/forum/#!forum/play-framework) or [Stack Overflow](http://stackoverflow.com/qu

[2017-12-12 01:03] gmethvin commented on #8089
The main issue here is that the Play server assumes that your `Future` will include any exceptions that happen during the production of your result. Of course that's not the case if the exception is thrown before the future is even created. The fix you proposed works for `Filter`, but not for `EssentialFilter`. If you create an `EssentialFilter` and your code throws an exception while the new `Acc

[2017-12-12 02:00] wsargent commented on #8090
@hepin1989 are you volunteering?

[2017-12-12 03:08] DanielKulesza commented on #8081
Hi @costabas @richdougherty,

Is anyone working on this issue? If not, I can tackle it.
Seems like a good way to start contributing to the Play framework open source.

Thanks,
Daniel

[2017-12-12 03:24] gmethvin commented on #8081
@DanielKulesza Nope, feel free to take it.

[2017-12-12 08:22] KarelCemus opened #8092 "AssetsConfiguration always emits warning"
### Play Version 2.6.9

### API Both

### Actual Behavior

1. start the application
2. see application log
3. there is always a warning something like:

[code]

I suppose that warning logs should be emitted only when there is something wrong. However, PR #7996 introduced [this piece of code](https://github.com/playframework/playframework/blob/master/framework/src/play/src/main/scala/play/api/contr

[2017-12-12 14:59] marcospereira commented on #7682
Hi @amatosc, @stefanhartmann123, and @luca-emme,

This issue was fixed in 2.6.9. Could you please check and confirm it is working for you guys?

[2017-12-12 17:08] hepin1989 commented on #8090
@wsargent first you need a paradox-play plugin:)

[2017-12-12 21:38] defrancea commented on #8061
Got it, I guess that you are referring to this change: https://github.com/playframework/playframework/commit/1757a44bdcc36d48e5b856baa079d6e7ac62f2c0
Controlling context switching is typically done by a proper sizing of event loop thread pool though which is already configurable by `eventLoopThreads`
As you said it's all about tradeoff but then how about making it configurable?
We can keep it simp

[2017-12-12 23:35] shkhln commented on #7753
Well, it looks like Play indeed [triggers](https://github.com/playframework/playframework/blob/c6d639d709b85c2802b135156ea9aed425494815/framework/src/play-server/src/main/scala/play/core/server/DevServerStart.scala#L123) compilation [4 times per request](https://gist.github.com/shkhln/9781b9e062bbf791b6f2c162f334b24c).

[2017-12-12 23:47] jamesward opened #8095 "LogbackLoggerConfigurator Does Not Use Standard logback-test.xml"
### Play Version (2.5.x / etc)

2.6.7

### API (Scala / Java / Neither / Both)

Scala

### Expected Behavior

Please describe the expected behavior of the issue, starting from the first action.

1. A custom `logger-configurator.properties` is used
2. A `test/resources/logback-test.xml` file defines the logger config
3. According to the [Logback docs](https://logback.qos.ch/manual/configuration.htm

[2017-12-13 00:09] wsargent commented on #8095
Technically it should run through the entire discovery mechanism:

https://github.com/playframework/playframework/blob/master/framework/src/play-logback/src/main/scala/play/api/libs/logback/LogbackLoggerConfigurator.scala#L56

[2017-12-13 02:35] rowanl commented on #7017
How exactly do you then load this module in to Guice / Play?

[2017-12-13 03:56] rowanl commented on #7017
Essentially it's not loading the EbeanDynamicEvolutions
if you create your repository class like this you can make it work

`
    private final EbeanServer ebeanServer;
    private final DatabaseExecutionContext executionContext;
    private final EbeanDynamicEvolutions ebeanDynamicEvolutions;

    @Inject
    public YourRepository(EbeanConfig ebeanConfig, EbeanDynamicEvolutions ebeanDynamicEvolut