[2019-08-09 13:38] dwijnand commented on #9546
Ah yes, that makes more sense.  OK, so:

Duplicate of #6702

[2019-08-09 13:38] #9546 closed

[2019-08-09 13:38] dwijnand commented on #9546
Duplicate of #6702

[2019-08-09 16:48] eed3si9n commented on #6702
Given that this creates runtime and/or compile-time errors, could we at least show some warning at some earlier point, like whichever the code responsible for generating `Routes.scala` and `routes.java` can mutually check if there's already other in the managed directory or something, and print a warning saying that they are entering a world of pain?

[2019-08-13 12:28] domdorn commented on #9545
@lylqccnu please provide an english explanation to your bug report.

[2019-08-13 13:56] jcstritt commented on #8873
Release 2.7.x of Play has become very complicated to manage the session! (please KISS). How to manage a session timeout as suggested in the following article (https://www.javacodegeeks.com/2014/04/how-to-implement-a-session-timeout-in-play-framework-2.html), since the request session attributes are now not mutable (I can't reset my timeout timestamp in) ? Have you any exemple (Java) to have mutabl

[2019-08-13 19:26] jcstritt commented on #8873
I finally found the answers to my questions myself. It would have been nice to find an example like the one below in Play's documentation. Finally, managing the session in Play 2.7 is not that complicated.  Have a nice day.

[code]

[2019-08-15 03:05] lylqccnu commented on #9545
I want to use
public CompletionStage register() {
return completedFuture(redirect("http://www.baidu.com"));
}
 jump to www.baidu.com how to achieve?

[2019-08-15 19:32] eximius313 opened #9573 "AssetsController should not clear flash"
### Play Version
2.6.21

### API
Java

### Operating System
Windows 10

### JDK
JDK 9.0.4

### Library Dependencies
N/A

### Expected Behavior
AssetsController should not clear `PLAY_FLASH` cookie

### Actual Behavior
AssetsController clears `PLAY_FLASH` cookie

### Reproducible Test Case
1. Browser makes request to /foo, which sets request flash
2. Browser makes request to /assets/js, which clear

[2019-08-15 19:46] mkurz commented on #9573
The flash scope is used for redirects usually, [see docs](https://www.playframework.com/documentation/2.7.x/JavaSessionFlash#Flash-scope).
It's discouraged to use it for anything but redirects. You will even see a warning in dev mode:
https://github.com/playframework/playframework/blob/d0dea6ca990f4bd7a212ca723e54cc9c175a1a21/core/play/src/main/scala/play/api/mvc/Results.scala#L113-L124

So when a

[2019-08-15 21:53] eximius313 commented on #9573
I'm sending the redirect, but because of frontend framework, I can't just do 301 with location (because then fronend framework can't do it's stuff) so I send such json: `{redirect: "/bar"}` and then user is redirected there by frontend framework

[2019-08-21 06:48] dwijnand opened #9586 "Build on Java 12"
From https://github.com/scala/community-builds/issues/957 it looks like building Play on Java 12 throws:

[code]

[2019-08-21 08:30] ignasi35 commented on #8850
Part of the confusion on this discussion is caused by [a customization](https://github.com/playframework/play-samples/blob/2.7.x/play-scala-rest-api-example/app/RequestHandler.scala#L30) on https://github.com/playframework/play-samples/blob/2.7.x/play-scala-rest-api-example which handles the case of a missing slash.

[2019-08-21 16:51] marcospereira commented on #9545
Hey @lylqccnu,

It is documented here: https://www.playframework.com/documentation/2.7.x/JavaAsync

Besides that, our [forums](https://discuss.playframework.com) would be a better place to discuss this. Github issues are for reporting bugs and feature requests in Play, not for general discussion and getting help. Given that, I'm closing this.

Best.

[2019-08-21 16:51] #9545 closed

[2019-08-22 12:41] #9438 closed

[2019-08-22 15:43] ignasi35 commented on #9573
@eximius, this sounds to me like your code should recreate the flash cookie or use session cookies instead when doing this _manual redirect_. IMHO this is not an issue.

[2019-08-22 15:48] eximius313 commented on #9573
But it's not *my code* that "steals" the FLASH (I woudn't create issue then), but AssetsController in PlayFramework (that's the issue about)

[2019-08-22 15:51] marcospereira commented on #9573
Yeah, does not look like an issue to me as well. Flash is working as designed here. Maybe you shouldn't be using flash but instead another cookie.

@eximius313 I'm closing this. But let us know if we are missing something here.

Best

[2019-08-22 15:51] #9573 closed

[2019-08-22 19:16] #8588 closed

[2019-08-25 15:23] mkurz commented on #8167
I finally found time to write a test to confirm `SecurityException` will not be thrown anymore when using `map`, `filter`, etc. on a **parallel** stream within a Play action method. See #9594

However, when using `CompletableFuture.supplyAsync(...)` you still have to pass an explicit ec, because Java uses the common thread pool for this method by default. There is nothing Play can do about this (i

[2019-08-25 15:35] mkurz commented on #7751
I finally found time to write a test to confirm `SecurityException` will not be thrown anymore when using `map`, `filter`, etc. on a **parallel** stream within a Play action method. See #9594

However, when using `CompletableFuture.supplyAsync(...)` and `thenxxxAsync` methods you still have to pass an explicit ec, because Java uses the common thread pool for this method by default. There is nothin

[2019-08-25 15:35] mkurz commented on #7615
I finally found time to write a test to confirm `SecurityException` will not be thrown anymore when using `map`, `filter`, etc. on a **parallel** stream within a Play action method. See #9594

However, when using `CompletableFuture.supplyAsync(...)` and `thenxxxAsync` methods you still have to pass an explicit ec, because Java uses the common thread pool for this method by default. There is nothin

[2019-08-27 07:26] lionello opened #9595 "Broken link in sbtSettings docs: More-About-Settings.html"
The doc at https://www.playframework.com/documentation/2.7.x/sbtSettings which is https://github.com/playframework/playframework/blob/7c196b9d6fc1032cbd75aa729ba55a81d62fcaa3/documentation/manual/working/commonGuide/build/sbtSettings.md#L6

refers to a moved document at https://www.scala-sbt.org/release/docs/More-About-Settings.html

### Play Version

Doc for 2.7.x

[2019-08-27 09:28] renatocaval commented on #9595
@lionello, thanks for reporting this.

I created a PR to fix it (#9597).

[2019-08-27 10:11] #9495 closed

[2019-08-27 16:56] #9595 closed

[2019-08-27 17:00] #7751 closed

[2019-08-27 17:00] #8167 closed

[2019-08-27 19:30] mkurz commented on #7650
Looks like this got fixed by #8166

[2019-08-27 19:30] #7650 closed

[2019-08-29 09:49] renatocaval opened #9602 "Inconsistent parsing of json payloads leading to different behaviours"
We have different APIs that are parsing json using Jackson and they show different behaviours due to how Jackson itself will convert a String to JsonNode.

The problem came up in an application reading a third-party remote app using play-ws in which the payload was not encoded in UTF-8.

For a payload encoded in ISO_8859_1 as:

[code]

We will have the following results:

[code]
Results in,

[code

[2019-08-29 10:01] renatocaval commented on #9602
I published a reproducer here: https://github.com/renatocaval/reproducer-play-9602

[2019-08-29 19:06] slisaasquatch opened #9606 "[Feature Suggestion] Gzip filter should avoid compressing small response bodies"
### Play Version
2.7.3

### API
Java

### Operating System
Windows 10

### JDK
Oracle 1.8.0_171

### Library Dependencies
N/A

### Expected Behavior
If the response body is really small, gzipping it can actually make it larger. Expressjs by default avoids compressing anything smaller than 1 KB, and I think Play Gzip filter can probably do the same.

### Actual Behavior
Play's Gzip filter will gzip

[2019-08-31 17:38] gurkankaymak commented on #9602
Hi @renatocaval
I created a pull request for this in the `play-ws` repository
https://github.com/playframework/play-ws/pull/392

[2019-09-01 23:16] bpiper opened #9612 "Support SameSite = None in 2.6.x and/or 2.7.x"
This is just a request to please port/cherry-pick the change that added `None` to the allowed values for `SameSite` in `play.api.mvc.Cookie.SameSite` to 2.6.x and 2.7.x (or at least the latter).  Chrome 80 will require some of us to use that value, and although that Chrome release is still probably 4+ months away, the alternatives of upgrading to Play 2.8.x (which doesn't yet have a final release)

[2019-09-02 08:12] renatocaval commented on #9612
We usually don't backport minor bugs. If the cherry-pick happens without conflict we can go for it.

Note that you can also do the backport yourself and send us a PR. If the community jump-in, we are more then happy. :-)

[2019-09-02 08:21] renatocaval commented on #9612
@bpiper, both backports worked without conflict. However, we won't cut a release just because of this issue. We try to accumulate as much bug fixes as possible to avoid release overhead.

[2019-09-02 10:47] renatocaval commented on #9612
Both PRs merged. Closing...

[2019-09-02 10:47] #9612 closed

[2019-09-02 10:51] renatocaval commented on #9606
@slisaasquatch, thanks for the suggestion.

Would you be interested in sending a pull-request for this?

[2019-09-02 10:52] hepin1989 commented on #9606
set a threhole.

[2019-09-02 22:06] bpiper commented on #9612
Thanks @renatocaval , much appreciated, and understood that it may be some time before there's another 2.6 or 2.7 release.

[2019-09-03 15:56] slisaasquatch commented on #9606
I don't think I can at this moment since I don't have a Scala dev environment setup.

[2019-09-03 15:57] slisaasquatch commented on #9606
I don't think it's that simple. Right now the `chunkedThreshold` parameter `GzipFilter` accepts is for chunking the result.

[2019-09-04 18:27] #8953 closed

[2019-09-04 20:37] #6275 closed

[2019-09-05 10:50] niketsharmagit commented on #5431
How to solve this error? please add solution link.

[2019-09-06 15:34] marcospereira commented on #8492
I'm closing this since there is an issue on play-iteratees already and the module is now community maintained, so we don't have specific plans for it now.

[2019-09-06 15:34] #8492 closed

[2019-09-06 16:02] marcospereira commented on #8980
There is a page here that needs some care:

https://www.playframework.com/documentation/2.7.x/Releases#About-Play-releases

I don't think it answers all the questions you listed, but at least is where we should add such information.

[2019-09-09 09:45] ignasi35 opened #9619 "ClassCastException: slf4j's SubstituteLogger cannot be cast to logback"
`ClassCastException: org.slf4j.helpers.SubstituteLogger cannot be cast to ch.qos.logback.classic.Logger`  in a [recent CRON job](https://travis-ci.com/playframework/playframework/jobs/232209731#L5721-L5729).

I suspect the issue is related to recent changes in Akka itself wrt the logging infrastructure causing the cast to not hold anymore. Or maybe internal changes in Logback caused by a transitiv

[2019-09-09 10:15] ignasi35 commented on #9619
Reproduce using:

[code]

[2019-09-09 14:20] renatocaval opened #9620 "Allow user to tweak configure cluster sharding settings"

[2019-09-09 14:23] renatocaval opened #9621 "[play-cqrs] Document why events must be tagged"
Lagom enforces the usage of tagging when persisting events. We must do the same in play-cqrs and we need to document the motivations for it.

[2019-09-09 14:30] renatocaval commented on #9345
On a chat with @ignasi35, we considered the option to have Lagom's PlayJsonSerializer moved into Play so users can optionally choose it over Akka's default - this should support serialization of `ActorRef[T]` + document migration concerns

[2019-09-09 14:40] ignasi35 commented on #9619
Closing since I can no longer reproduce (neither locally or in Travis).

[2019-09-09 14:40] #9619 closed

[2019-09-09 15:26] mkurz commented on #9447
@marcospereira @ignasi35 I had a look at this... How do you want to change the input helpers without breaking compatibility? E.g.
https://github.com/playframework/playframework/blob/f47d8884a6d825c7f2c22282685ea92ace8cffd9/core/play/src/main/scala/views/helper/input.scala.html#L4
How do you change `args: (Symbol, Any)*` to  `args: (String, Any)*` within this twirl template (and within [all the oth

[2019-09-09 21:06] Ekzer commented on #9606
I think it can be achieved simply by adding a check in **shouldCompress** :
`  private def shouldCompress(result: Result) =
    isAllowedContent(result.header) &&
      isNotAlreadyCompressed(result.header) &&
      !result.body.isKnownEmpty`
I can give a try if you want

[2019-09-10 07:42] ignasi35 opened #9622 "Extend Docs around Functional unit testing of Controllers"
The docs in https://www.playframework.com/documentation/2.7.x/ScalaFunctionalTestingWithScalaTest#Testing-a-controller lack some details that can lead to pitfalls and trap causing users to move away from fast, small unit tests of controllers.

E.g. using a `Materializer` different from `NoMaterializer` to tests POST ops or providing their own `Writeable` into `FakeRequest`.

[2019-09-10 08:36] mkurz commented on #9447
The only way I can think of right now to deprecate the input helpers is to copy them into a new package e.g. `views.helpers`, change them to use `(String, Any)`  and deprecate the old ones in the old `views.helper` package... (difference being the `s` at the end)

[2019-09-10 20:08] Ekzer commented on #9606
Okay after a test on my computer, it seems that it is already handled by editing shouldGzip function in GzipFiltersConfig as I thought :
Example :
`
class SmallBodyFilters @Inject()(implicit val mat: Materializer, implicit val ec: ExecutionContext) extends HttpFilters {
    def filters = {
      val gzipFilter: GzipFilter = new GzipFilter(shouldGzip = (request, response) => {
        response.body

[2019-09-11 08:05] mkurz commented on #8336
Will be fixed by #9625

[2019-09-11 08:41] mkurz commented on #8336
@wyb008 @maljukan A bit late, but I guess all you need to configure is:
[code]
Nothing more, you can remove all your other settings (actually you _should_ remove `play.server.akka.max-content-length` or set it at least at the same value like `maxDiskBuffer`).
This is actually [documented](https://www.playframework.com/documentation/2.7.x/ScalaBodyParsers#Max-content-length): File uploads via `mult

[2019-09-11 11:13] maljukan commented on #8336
@mkurz I've tried to set only:
[code]
But when i try to do an upload via `multipart/form-data` i always get:
`Error: Request Entity Too Large (413)`
Some default limit somewhat under 10MB is always applied no matter what i've tried following the documentation for **play 2.6.x** and also AkkaHttpServer. Tried all possible combinations like `g GB m MB k KB` but nothing worked out.

[2019-09-11 11:55] mkurz commented on #8336
@maljukan
- First: How large is the file you want to upload?
- Second: Are you running your app behind a reverse proxy (nginx,..)? Maybe this one already catches a big file upload and returns 413 before even passing the requeest to your Play app?
- Third: Be aware that **in dev mode** you have to set any `play.server.*` configs in `build.sbt` via `PlayKeys.devSettings` to take effect:
[code]
All `

[2019-09-11 11:59] mkurz commented on #8336
But actually you do not even have to set `play.server.akka.max-content-length` because it's `infinite` by default anyway...

[2019-09-11 13:45] maljukan commented on #8336
Thanks @mkurz
* The file is about 23MB
* Yes, maybe it's caught by nginx although i've put `client_max_body_size 100MB` in `nginx.conf` and `sites-available/site.conf` I'll try to find a way to eliminate that possibility but... not sure how to validate this assumption atm
* It's a production and i've put `Dplay.server.akka.max-content-length=infinite` to avoid redeploying after removing that entry

[2019-09-11 15:53] maljukan commented on #8336
@mkurz Oh i just saw you referenced the status issue fix.
Great! Then it's something along the way. The server is a VM instance on the Google Cloud Platform. No load balancing but you pointed me to correct direction. Thanks for chewing it for me!

[2019-09-11 15:55] mkurz commented on #8336
@maljukan Let me know when you find the cause :wink:

[2019-09-12 00:42] AngeloChecked opened #9626 "examples in website not found"
https://www.playframework.com/documentation/2.7.x/LearningExamples

the two urls are not found.

[2019-09-13 10:52] ignasi35 commented on #9626
Good catch @AngeloChecked !  Thanks for reporting. This was fixed in [`master`](https://github.com/playframework/playframework/pull/9440) but never backported.

I just request the [backport](https://github.com/playframework/playframework/pull/9633) and it should be fixed in a few minutes.

[2019-09-13 12:01] ignasi35 commented on #9622
`NoMaterializer` is ongoing some changes in both Play (see https://github.com/playframework/playframework/pull/9618) and Akka. It's even possibel `NOMaterializer` will be completely removed in upcoming versions so we should reconsider the need for this docs.

[2019-09-13 13:08] mkurz opened #9634 "Config to defer body parsing after action composition(?)"
Right now a request is processed as follows:

1. Filters run (with `RequestHeader` which doesn't have a body)
1. Body gets parsed by, yes, a body parser :wink: Now we get a `Request` (including parsed body)
1. Actions from action composition run (with the `Request` from step 2)
1. Finally the action method runs, again with the `Request`

This applies to both to the Scala and Java API.

Now here is

[2019-09-13 14:12] co-category opened #9635 "Unable to Materialise a Request Body in a Action Filter"
### Play Version

addSbtPlugin("com.typesafe.play" % "sbt-plugin" % "2.7.3")

### API

scalaVersion := "2.12.8"

### Operating System

Linux sirius 5.2.11-1-MANJARO #1 SMP PREEMPT Thu Aug 29 07:41:24 UTC 2019 x86_64 GNU/Linux

### JDK

openjdk version "1.8.0_222"
OpenJDK Runtime Environment (build 1.8.0_222-b05)
OpenJDK 64-Bit Server VM (build 25.222-b05, mixed mode)

### Library Dependencies

###

[2019-09-13 16:32] ignasi35 commented on #9635
Related to https://github.com/playframework/playframework/issues/9634

[2019-09-13 17:09] co-category commented on #9634
I came across this issue as I am implementing a service which receives a callback from a third-party service. In order to verify that the callback is indeed coming from this third-party and not any malicious agent, they add a request header attribute which is essentially a hash of the full url + request body (form url encoded). The receiver of the callback then has to essentially reconstruct this

[2019-09-13 17:12] ignasi35 commented on #9635
Hi @co-category, I think you are mis-using the API. Please note the following code:

[code]

does produce the output:

[code]

Please refer to https://github.com/playframework/playframework/issues/9634 and https://www.playframework.com/documentation/2.7.x/ScalaActionsComposition for details.

[2019-09-13 17:12] #9635 closed

[2019-09-13 17:13] ignasi35 commented on #9635
I closed the issue since this looks more like a question than an actual bug.

Feel free to reopen if I misinterpreted your intention.

[2019-09-13 18:04] co-category commented on #9635
Hi @ignasi35 ,

I may possibly be expecting too much, but my requirement is to be able to access the contents of the request body as a Map[String, Seq[String]] type (ie form url encoded) or any other type for that matter inside the filter so that I can use it to construct a digital signature (see my comment on #9634 which explains this in more detail).

In your example, I still face the same probl

[2019-09-13 18:32] mkurz commented on #9634
@co-category I don't think this problem is related to my idea here. You need to access the already materialized request, which is exactly what you can do today when using an action that is part of action composition. I just saw Marcos already commented in your original issue: https://github.com/playframework/playframework/issues/9635#issuecomment-531342439 is what you are looking for.

[2019-09-13 19:02] co-category commented on #9635
Hi @marcospereira ,

I do have a materialised request when inside the Action of the controller method. However, I want to access the materialized request body when inside the filter method of the Action Filter. Is that possible? That is the cruz of the problem I am facing. The reason why I want that is that I need to have that information to determine if the request should be blocked or allowed to

[2019-09-13 19:08] co-category commented on #9635
The only option I can see at the moment is not to use an Action filter but just use the standard Action of my controller method and the apply the authorization logic accordingly:

[code]

The reason why I want to split off the authorisation logic into an Action Filter is that this authorisation logic is quite convoluted and by placing it inside the main controller method it will make the business

[2019-09-13 19:11] co-category commented on #9634
@mkurz Yes you can do it that way but I wanted to do it inside the filter method of the Action Filter so that I don't end up writing a shed load of authorisation logic inside the main Action of the controller method (see my (latest comment)  [https://github.com/playframework/playframework/issues/9635#issuecomment-531354686] )

[2019-09-13 19:14] mkurz commented on #9635
As Marcos said you should be able to use `request.body.asFormUrlEncoded`, also within your ActionFilter:
[code]

[2019-09-13 19:15] co-category commented on #9634
Just to make it super clear, this is what I want to do inside the Action Filter:

[code]

[2019-09-13 19:17] mkurz commented on #9634
Please see https://github.com/playframework/playframework/issues/9635#issuecomment-531358246 and let's keep the conversation over there.

[2019-09-13 19:19] mkurz commented on #9635
Maybe there is a misunderstanding: An `ActionFilter` is _not_ a "real" filter in the sense of Play filters: https://www.playframework.com/documentation/2.7.x/ScalaHttpFilters
`ActionFilter` is part of action composition: https://www.playframework.com/documentation/2.7.x/ScalaActionsComposition#Different-request-types
Maybe the naming is a bit confusing here.

[2019-09-13 19:25] co-category commented on #9635
@mkurz , that code doesn't compile for me and it is whole reason why I went down the route of trying to materialise the request body myself, did it compile for you?

See here:

[code]

Compiler error:

[code]

[2019-09-13 19:51] marcospereira commented on #9635
Hey @co-category,

Our [forums](https://discuss.playframework.com) would be a better place to discuss this. Github issues are for reporting bugs and feature requests in Play, not for general discussion and getting help. My suggestion is to open a thread there and link it so people interested can see how the conversation evolved.

[2019-09-13 19:58] co-category commented on #9635
@marcospereira appreciate that but I have already posted this on [SO](https://stackoverflow.com/q/57915146/3248346) and have not received a response yet. I posted here because I just want a quick yes/no answer from the developers on Play whether this is possible or not. I thought it would be quick to answer.

[2019-09-13 20:16] marcospereira commented on #9635
We don't pay a lot of attention to StackOverflow since https://discuss.playframework.com/ exists. As I said before, better to move the conversation there.

[2019-09-13 20:19] co-category commented on #9635
@marcospereira moved the discussion over to the forum [here](https://discuss.lightbend.com/t/unable-to-materialise-request-body-in-action-filter/5056)

[2019-09-16 02:07] AppyCat opened #9640 "Play not installing via sbt run"
When I generate a new seed java app via:

    sbt new playframework/play-java-seed.g8

Its fine. Once I run sbt run, I get the following errors:

[code]

[2019-09-17 08:47] mkurz opened #9646 "Make Java Headers and RequestBuilder immutable"
https://github.com/playframework/playframework/blob/3843d256c8b5635da3eb386152b17218e5fe01b9/core/play/src/main/java/play/mvc/Http.java#L50

https://github.com/playframework/playframework/blob/3843d256c8b5635da3eb386152b17218e5fe01b9/core/play/src/main/java/play/mvc/Http.java#L470

both are not immutable. Should be. (Just ran into this when adding headers to a `RequestBuilder` in the wrong believe

[2019-09-17 15:50] mkurz commented on #8336
Partially fixed by #9625, will be completely fixed by #9649.

[2019-09-18 12:08] AppyCat opened #9652 "Non SBT dependency fetching for java version"
Would it be possible to have the java version of the framework fetch dependencies via Maven or Gradle?

The 'sbt run' process is problematic due to the cert issue, slowing what could otherwise be a straight line path.

[2019-09-18 12:43] #9504 closed

[2019-09-18 21:50] ihostage commented on #9652
@AppyCat See https://gradle.github.io/playframework/ and https://github.com/play2-maven-plugin/play2-maven-plugin
And [Discuss](https://discuss.lightbend.com/c/play) is more good place for questions. 😉

[2019-09-19 21:05] mkurz commented on #9178
@eximius313 In case you have not solved this yet, the solution is to encode the filename:
[code]
(utf-8 is used because that is what you use in the `Content-Disposition` header as well.

This is not a bug in Play, this is just how it works. You must encode filenames in such cases.

[2019-09-19 21:05] #9178 closed

[2019-09-19 21:13] mkurz commented on #9190
Fixed by #9191 already (Looks like GitHub forgot to close this one here after the pull request got merged)

[2019-09-19 21:13] #9190 closed

[2019-09-20 11:50] marcadella opened #9657 "Action body restarts every 75s"
### Play Version

2.7.1

### API

Scala

### Operating System

Linux marcadella-Precision-T3600 4.15.0-58-generic #64-Ubuntu SMP Tue Aug 6 11:12:41 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### JDK

openjdk version "1.8.0_222"
OpenJDK Runtime Environment (build 1.8.0_222-8u222-b10-1ubuntu1~18.04.1-b10)
OpenJDK 64-Bit Server VM (build 25.222-b10, mixed mode)

### Library Dependencies

### Expected B

[2019-09-20 14:03] rtyley opened #9658 "Routes compilation fails for projects with more than one PathBindable"
### Play Version

2.7.3

### API

Scala

### Operating System

MacOSX

### JDK

openjdk version "1.8.0_202"

### Library Dependencies

None

### Expected Behavior

1. Add a second pathbinder to a project which already has one pathbinder
2. sbt compile
3. compilation succeeds

### Actual Behavior

1. Add a second pathbinder ('Apple') to a project which already has one pathbinder ('Dog')
2. sbt comp

[2019-09-20 17:45] mkurz commented on #9208
Thanks for reporting @SattaiLanfear. Fix is here: #9659

[2019-09-20 22:50] #9626 closed

[2019-09-23 08:26] eximius313 commented on #9178
But then the result is: `This+is+ń` which is not exactly what I want...
Do I really need to do `URLEncoder.encode("This is ń", "UTF-8").replaceAll("+", StringUtils.SPACE);` manually ?

[2019-09-23 12:59] mkurz commented on #9178
@eximius313 Sorry, I was too fast... Here is the solution now:

For Play 2.7:

[code]
[code]

In Play 2.8, thanks to #9589, you will be able to just write:

[code]
Also in Play 2.8 I added a helper to create the `Content-Disposition` header: #9574

[2019-09-23 16:08] skatturi opened #9666 "How to Run Lagom on Https"
Hello guys,
     **1st issue:**
 I am trying to run lagom service on https port, There is no proper documentation. It is very direct in spring just by adding the ssl cert and pointing to that cert and give the custom port number.
--> can i know the process how to setup the lagom services to run on HTTPS.

**2nd Issue:**
--> How to implement rest template in lagom. I am trying to make a 3rd party s

[2019-09-23 17:06] ihostage commented on #9666
Hi, @skatturi! 👋
It's a Playframework repository, not Lagom 😄
[Forum](https://discuss.lightbend.com/c/lagom) is a more good place for questions about Play and Lagom.

1st: See [Lagom documentation](https://www.lagomframework.com/documentation/current/java/ConfiguringServicesInDevelopment.html#Using-HTTPS-in-development-mode) about using HTTPS.
2nd: You can use Play WS, or you can write Lagom Servi

[2019-09-23 19:11] renatocaval commented on #9666
Hi @skatturi, I'm closing this one.
As @ihostage mentioned, the forum is a more suitable place for questions.

[2019-09-23 19:11] #9666 closed

[2019-09-23 19:44] decoded4620 commented on #8563
The code above doesn't work for Play 2.6 (asJava method on RequestAttrKey.Session() doesn't exist)

[2019-09-24 07:29] renatocaval commented on #9657
@marcadella, this is due to this feature in akka-http. https://doc.akka.io/docs/akka-http/current/client-side/host-level.html#retrying-a-request

You can disable it if you want. I find it strange that you observe a retry after 75s, because by default it's 100s and Play is not overriding it. But it can be due to a change in defaults in previous akka-http version. I didn't check it though.

That's p

[2019-09-24 08:03] renatocaval opened #9667 "Fix documentation on AssetsBuilder"
Initially reported in Discuss.
https://discuss.lightbend.com/t/play-2-7-3-released/4459/10

[2019-09-24 09:09] strelec opened #9668 "When you cannot match a type in routes file, return 404 rather than 400"
I have this route:

GET      /player/proxy/:what       controllers.Player.proxy(what: Char)

If I want to pass more than 1 character for :what, I get this response:

(400,Cannot parse parameter what with value '3a' as Char: what must be exactly one digit in length.)

It would make much more sense to consider the route unmatched, continue traversing the rest of the routes, and return 404 at the end

[2019-09-24 10:14] landlockedsurfer opened #9669 "Support for Supplemental Akka HTTP Routes"
Hi!

I wondered if it would be possible to enhance the _Play Framework_ to support user provided Akka HTTP routes.

**Motivation:** I've used the [Tapir](https://tapir-scala.readthedocs.io/en/latest/) library to implement some endpoints using Akka HTTP as backend. At the moment I'm starting a dedicated Akka HTTP server instance to serve those endpoints. However for our medium sized _Play_ applicat

[2019-09-24 19:34] marcospereira commented on #9657
That is for the Akka HTTP Client and I'm pretty sure this is not a bug in Play. What I think it is happening here is that the action is timing out according to `play.server.http.idleTimeout` (which defaults to 75 seconds) and the client is retrying the request.

@marcadella can you reproduce this using `curl`? If not, which HTTP client are you using to make the request?

[2019-09-25 07:15] marcadella commented on #9657
Thanks a lot to both of you. I didn't know about those connection pools. I summarized your answer [here](https://stackoverflow.com/a/58092992/4965515).

[2019-09-25 13:21] mkurz commented on #9668
I think it's a valid idea. E.g. routes like

[code]
will compile and app will run, but when calling `/player/proxy/ab` you will get `400... Cannot parse parameter... what must be exactly one digit...` instead of choosing the second route.

Maybe we want to keep the default as it is right now, but introduce a config which enables this new behaviour (?)

@strelec Do you want to provide a pull reques

[2019-09-25 13:42] mkurz commented on #8563
@decoded4620 I just tested with Play 2.6.23 and it worked.

[code]

[code]

[2019-09-25 13:44] mkurz commented on #8563
And yeah, starting with Play 2.7.0 you can just use `requestHeader.session()`

[2019-09-25 13:55] eximius313 commented on #9178
Thanks @mkurz !

[2019-09-25 13:56] mkurz commented on #9178
You are welcome @eximius313!

[2019-09-25 17:37] #9208 closed

[2019-09-25 17:58] #8336 closed

[2019-09-25 19:32] marcadella commented on #9657
@marcospereira Sorry I had mis-understood your comment. You're right, it has nothing to do with the connection pool. I will try with curl, but I'm sure that the ajax call is performed only once.

[2019-09-25 22:06] #9652 closed

[2019-09-25 22:19] mkurz commented on #9086
Play 2.7 uses latest version of HikariCP. For Play 2.6 you can upgrade manually as described by Renato.

[2019-09-25 22:19] #9086 closed

[2019-09-25 22:28] mkurz commented on #9640
@AppyCat Is this still happening? I think this was just a temporary connection problem(?)

[2019-09-26 02:50] AppyCat commented on #9640
Thank you for checking in. I tried it again and its still giving the same problem, I’ll post some of the output below. Do you think perhaps doing dev in a Docker container might be a better path at the moment?

[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	::          UNRESOLVED DEPENDENCIES         ::
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	:: com.typesafe.

[2019-09-26 08:22] mkurz commented on #9606
I like this idea and therefore created a pull request: #9680
(I kept the threshold to 0 bytes for now, but we of course can discuss if this should be a higher value)

[2019-09-26 08:46] Ekzer commented on #9606
@mkurz I'm gonna follow this pull request. Thanks :)

[2019-09-26 09:25] ignasi35 commented on #9640
@AppyCat I don't think native OS or Docker are the issue here.

I suspect your `sbt` command is running on a non Java-8 JVM whith different SSL trusted CAs or settings causing the connection to bintray to fail the SSLHandshake.

Can you try again with a JVM version 1.8 or a Java 11 latest?

Thanks,

[2019-09-26 09:26] ignasi35 commented on #9640
PS: please note the file causing the error _exists_ in bintray: https://bintray.com/playframework/sbt-plugin-releases/play-sbt-plugin#files/com.typesafe.play/sbt-plugin/scala_2.12/sbt_1.0/2.7.3/ivys

[2019-09-26 09:58] mkurz opened #9683 "Add missing Java Body Parsers"
There are two Scala Body Parsers left which do not exist in the Java API:
- https://github.com/playframework/playframework/blob/678014185eee5d98e1700af8f8debdf3abac213e/core/play/src/main/scala/play/api/mvc/BodyParsers.scala#L870
- https://github.com/playframework/playframework/blob/678014185eee5d98e1700af8f8debdf3abac213e/core/play/src/main/scala/play/api/mvc/BodyParsers.scala#L743-L747

Maybe I

[2019-09-26 10:56] AppyCat commented on #9640
Hi, this is my java version info below. It seems to a cert issue and I am not so lear on which cert, where to get it and how and where to add it.

laptops-MacBook-Pro:~ laptop$ java -version
java version "1.8.0_25"
Java(TM) SE Runtime Environment (build 1.8.0_25-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.25-b02, mixed mode)

[2019-09-26 16:38] ignasi35 commented on #9640
@AppyCat you JDK (1.8.0_25) is very old. Please update it to a newer jdk 1.8 since it'll upgrade the list of trusted certificates, supported cryptographic algorythms, etc...

[2019-09-27 13:30] #9277 closed

[2019-09-30 13:52] #8900 closed

[2019-09-30 15:37] #9606 closed

[2019-10-01 05:30] decoded4620 commented on #8563
My app uses the gradle plugin. Last i checked, its not compatible with 2.7. Just waiting until then in the meantime.

[2019-10-01 08:33] mkurz commented on #9640
@AppyCat Did upgrading your JDK work?

[2019-10-02 10:02] ignasi35 commented on #9640
hi @AppyCat, please don't use Java 13.

Consider moving away from OSX-provided JDK installers and using [jabba](https://github.com/shyiko/jabba#jabba--) to get a JDK8 installed and setup on you machine.

[2019-10-02 10:57] ihostage commented on #9640
@AppyCat @ignasi35 or [SDKMAN](https://sdkman.io/) 😄

[2019-10-02 11:16] AppyCat commented on #9640
Thank you Ignasio and Sergey, finally success with adopt@1.8.0-222  :)

Is there any particular version you would recommend? IAny real difference between Oracle JDK vs Open JDK?

Also what are your thoughts on Graal?

[2019-10-02 12:01] ignasi35 opened #9703 "Use sbt-dynver"

[2019-10-02 19:05] marcospereira commented on #9640
Hey @AppyCat,

Our [forums](https://discuss.playframework.com) would be a better place to discuss this. Github issues are for reporting bugs and feature requests in Play, not for general discussion and getting help. Given that, I'm closing this.

We continually test with AdoptOpenJDK 8, and the master branch of Play is tested with AdoptOpenJDK 11 too.

It is exciting, and we have done some experim

[2019-10-02 19:05] #9640 closed

[2019-10-08 12:28] ignasi35 opened #9713 "[master/2.7.x] CRON builds fail on scripted tests"
For about 3 weeks now, the `CRON` builds for the `2.7.x` branch fail the `scripted` tests jobs (both `0.13` and `1.x`).

The failure is caused by a [failure to resolve](https://travis-ci.com/playframework/playframework/jobs/237766102#L1575) Akka (and Akka-HTTP) snapshots from the builds on the `scripted` tests.

~This doesn't seem to happen in either `master` not `2.6.x` `CRON` builds.~

**UDPDATE

[2019-10-08 13:32] ignasi35 commented on #9713
I suspect the latest passing build was: https://travis-ci.com/playframework/playframework/builds/127938141

And the first build failing: https://travis-ci.com/playframework/playframework/builds/128273921

Both are running on:

[code]

 - - - - - - - - -

Possible causes:

 * the Travis cache for `2.7.x` had the artifacts already and was cleaned between builds.

[2019-10-09 09:09] ignasi35 commented on #9713
I think that after the [linked build](https://travis-ci.com/playframework/playframework/jobs/239682764#L4323), Akka introduced the "`AbstractBehavior` needs `ActorContext`" masking the issue in `master`.

[2019-10-09 10:13] ignasi35 commented on #9713
https://github.com/playframework/playframework/pull/9656 could be related to this issue except #9659 wasn't backported 🤔.

[2019-10-09 12:19] mkurz commented on #9713
@ignasi35 You mean #9656, not #9659?

[2019-10-09 13:30] ignasi35 commented on #9713
Slightly related to https://github.com/playframework/play-meta/issues/78

[2019-10-09 15:13] gabfssilva opened #9714 "Values cached using play.api.cache.Cached never expire"
### Play Version

2.7.3

### API

Scala

### Operating System

Ubuntu

### JDK

OpenJDK 11 - OpenJ9

### Library Dependencies

cache, play-redis

### Expected Behavior

Using Cached, I want to set a timeout for a value to expire, using default.

So, after 10 seconds the value expires from the cache so the action is executed once again.

### Actual Behavior

The value never expires

### Reproducibl

[2019-10-09 18:10] ignasi35 commented on #9713
So it looks like the issue could be:

1. play itself runs on sbt `1.3.0`
2. doing a publisLocal populates the `.coursier` cache
3. `scripted` tests run on sbt `1.2.8` (because [interplay](https://github.com/playframework/interplay/blame/6b62f572294d63a690adaab8348020abf7541377/src/main/scala/interplay/PlayBuildBase.scala#L26))
4. `scripted` tests use ivy (instead of coursier)  and so find the cach

[2019-10-09 18:14] ignasi35 commented on #9713
The good news is that interplay [was already updated to use `1.3.2`](https://github.com/playframework/interplay/pull/93) but that the bad news is it hasn't been released yet.

- - - -

And the weird news is that this "populating the cache" theory sounds strange when checking the `show fullResolvers` in a project using sbt `1.3.x`:

[code]

when displaying `show fullResolvers` in `play-jdbc` (for a

[2019-10-10 11:18] ignasi35 commented on #9713
We couldn't pinpoint the actual cause for this issue, but decided to push #9717 forward as a workaround to get `cron` jobs for `scripted` tests back online (even at the cost of duplicate code).

[2019-10-10 15:07] ignasi35 opened #9719 "Travis doesn't run some tasks for all scala/sbt versions"
For example, the recent https://github.com/playframework/playframework/pull/9710 introduced a change in the copyright header. Travis didn't detect that files under `**/scala-sbt-0.13/**` didn't get the new header.

I think at least `scalafmt*` and `headerCreate` need to be run for every scala/sbt combination.

[2019-10-10 15:32] #9713 closed

[2019-10-10 16:01] #8940 closed

[2019-10-11 09:17] mkurz commented on #7788
@marcospereira Your [above comment](https://github.com/playframework/playframework/issues/7788#issuecomment-326999740) is not correct.

This is not true how lists are handled regarding query parameters. The only valid way to define a list in query params is via the `param=a&param=b&param=c&param=d` syntax. What you are talking about is how lists in _forms_ [can be bound](https://www.playframework.

[2019-10-11 09:30] #7788 closed

[2019-10-11 09:52] ignasi35 opened #9724 "`scripted` failure on `sbt 0.13` in CRON builds"
See https://travis-ci.com/playframework/playframework/jobs/244428342#L322

This worked on jobs for `scripted` tests run on `sbt 1.x` but fails when running on `sbt 0.13`:

[code]

I can't reproduce that error locally. I tried using:

`$ TRAVIS_EVENT_TYPE=cron sbt -Dakka.version=2.6-20191010-210113 -Dakka.http.version=10.1.10+15-4a5c3c79 ++2.10.7 "Sbt-Plugin/scripted play-sbt-plugin/*1of3"`

_Origi

[2019-10-11 09:53] hertg opened #9725 "grouping options inside html select elements"
I've already had use cases where i needed to group options inside my `<select>` elements with the `<optgroup>` element. *(see https://developer.mozilla.org/de/docs/Web/HTML/Element/optgroup)*

Unfortunately, i need to implement the element myself for this to be possible, since the current select helper doesn't allow me to group my options.

It would be quite neat if the select helper would also ac

[2019-10-11 14:49] ignasi35 commented on #8588
related to https://github.com/lagom/lagom/pull/2316

[2019-10-11 14:59] ignasi35 commented on #9719
Fixed in #9720 and #9722

[2019-10-11 14:59] #9719 closed

[2019-10-11 15:22] ignasi35 commented on #9657
hi @marcadella, were you able to run your tests? Do you still think this issue is a bug and/or needs more work? Can we close the issue?

[2019-10-11 16:45] marcadella commented on #9657
Sorry, I completely forgot about this issue. I'm still a bit unsure about what was the cause of the retries, but I guess there is something in my browser sending new requests.

[2019-10-11 16:45] #9657 closed

[2019-10-11 23:27] #9646 closed

[2019-10-12 16:15] SethTisue commented on #9586
this is easily reproducible outside dbuild, and on JDK 13 as well:

[code]

not sure if https://github.com/playframework/interplay/pull/94 might do the trick, or what

[2019-10-14 13:56] renatocaval commented on #9725
Thanks for reporting this.

I added this issue to the backlog, but it can take sometime before someone can find time to pick it.

Would you be interested in sending a PR?

[2019-10-15 11:22] mickaelmagniez opened #9737 "Play doesn't wait for request to be terminated before stop (TERM signal)"
### Play Version
2.7.3

### API
Scala

### Operating System
Linux laptop 5.0.0-29-generic #31-Ubuntu SMP Thu Sep 12 13:05:32 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### JDK
openjdk version "11.0.4" 2019-07-16

### Expected Behavior
When sending TERM to play app, current request should finish

### Actual Behavior
When sending TERM to play app, current request doesn't finish

### Reproducible Test

[2019-10-15 11:47] ignasi35 commented on #9737
A `SIGTERM` triggers the execution of the Play's shutdown mechanism (which is implemented using Akka`s Coordinated Shutdown). The shutdown mechanism uses some default timeouts which can be tuned/relaxed but in `2.7.x` Play already uses Akka-HTTP's `unbind` which stops accepting requests but should allow in-flight requests to complete.

I see in you reproducer that the code in the `Action` sleeps f

[2019-10-15 11:59] mickaelmagniez commented on #9737
Same problem with 3 seconds, and clearly application stops immediately after sending SIGTERM, no delay

[2019-10-15 15:08] #8605 closed

[2019-10-17 14:40] dwijnand commented on #9278
@renatocaval If you get a chance, could you review the state of this epic please?

[2019-10-17 16:01] tmccombs opened #9745 "Feature request: split Configuration into standalone library"
Play's `Configuration` class (scala) is a nice wrapper around typesafe config. Would it be possible to split it out into a standalone library so that scala projects that don't need all of Play can use it? Similar to how play-json was split out into a separate library.

[2019-10-21 09:35] ignasi35 opened #9753 "Cleanup the `play.utils` package"
`play.utils` contains miscellaneous code, in some cases [¿even obsolete?](https://github.com/playframework/playframework/blob/6e9431e7ab1d6ad3e79e3baac625207a55560dd8/core/play/src/main/scala/play/utils/Conversions.scala#L12).

In response to the request in https://github.com/playframework/playframework/issues/9745, `Configuration` could be moved out to a one-class artifact. And, similarly, some o

[2019-10-21 20:23] gmethvin commented on #9668
Should we consider paths separately from query string params? I feel like 404 is appropriate for paths, whereas 400 is still more appropriate for query string params. Both could be configurable though.

[2019-10-22 03:30] patientplatypus opened #9755 "`sbt new playframework/play-scala-seed.g8` directory structure does not follow docs"
After initiating a new scala play seed using the command `sbt new playframework/play-scala-seed.g8` I then looked at the next page (going from here: https://www.playframework.com/documentation/2.7.x/NewApplication to here: https://www.playframework.com/documentation/2.7.x/Anatomy) and find that the directory structure that was created is not listed.

For example, `app` has a `controllers` and a `v

[2019-10-22 09:26] mkurz commented on #8632
@techmoksha I tried hard, but I can not reproduce the exception using Play-Scala 2.6.13.
Can you provide us a reproducer that "works" (throws the exception)?

I used following test, because the example you give in the original discussion does compile...
[code]

[2019-10-22 09:59] renatocaval commented on #9345
The current decision is to let Scala users fallback to Akka Jackson for commands with a `replyTo:ActorRef[Reply]` and use `play-json` for the other cases.

There is a hidden case here, that we need to verify. Inter-node command serialization will go through Akka Jackson, but when returning the `Reply` at service level, we most probably will need a `play-json` serializer for it.

[2019-10-22 10:03] renatocaval commented on #9345
Issue https://github.com/lagom/lagom/issues/2371 to track it in Lagom.

[2019-10-22 13:23] sdyura opened #9757 "unable to test POST with no body"
### Play Version
2.7.3

### API

java

### Operating System

Linux 4.15.0-65-generic #74-Ubuntu SMP Tue Sep 17 17:06:04 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
### JDK

openjdk version "1.8.0_222"
OpenJDK Runtime Environment (build 1.8.0_222-8u222-b10-1ubuntu1~18.04.1-b10)
OpenJDK 64-Bit Server VM (build 25.222-b10, mixed mode)

### Library Dependencies

none

### Expected Behavior

1. I want to t

[2019-10-22 21:41] marcospereira commented on #9755
Hey @patientplatypus, yes, you can just add them. :-)

They are documented because they are part of the convention adopted by Play. But they aren't part of the seeds because the seeds are supposed to be minimal.

Moreover, our [forums](https://discuss.playframework.com) would be a better place to discuss this. Github issues are for reporting bugs and feature requests in Play, not for general discu

[2019-10-22 21:41] #9755 closed

[2019-10-24 10:07] renatocaval commented on #9757
relates to https://github.com/playframework/playframework/issues/8632

[2019-10-24 10:08] renatocaval commented on #9757
Thanks for reporting this.

I added this issue to the backlog, but it can take sometime before someone can find time to pick it.

Would you be interested in sending a PR?

[2019-10-25 12:39] renatocaval commented on #9278
The main description is accurate. Everything that is not scrapped is still valid, but we won't do it for 2.8 anymore. Without akka-projections and cluster bootstrap, all of this become less relevant for 2.8.

[2019-10-25 13:41] maaartinko opened #9780 "FormFactory: multiselect value only returns first selected option"
### Play Version

2.7.3

### API

Java

### Operating System

Windows 10

### JDK

java version "1.8.0_221"
Java(TM) SE Runtime Environment (build 1.8.0_221-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.221-b11, mixed mode)

### Library Dependencies

none

### Expected Behavior

1. Submitting a form (GET) including a `<select name="testSelect" multiple="multiple">`.
2. Using the injected `FormF

[2019-10-25 13:52] maaartinko commented on #9780
Just in case:
It makes no difference if the `<select>` is generated with the helper or in plain HTML.

So this would also return a String with the value `"one"`
[code]

[2019-10-25 16:23] HealthyPeace opened #9784 "play.server.websocket.frame.maxLength configuration cannot be overwritten in some environment"
## Abstract
**play.server.websocket.frame.maxLength** configuration cannot be overwritten in some environment.

## Details
I'm writing an app utilizing WebSocket in Environment A shown below and I found WebSocket connections close every time I send binary larger than approx. 64kB.
This keeps the same even when I set **play.server.websocket.frame.maxLength = 256M** in application.conf.

Since 64kB

[2019-10-26 21:59] giannoug commented on #9022
This is still relevant in 2.7.1. Running `set JAVA_TOOL_OPTIONS="-Dfile.encoding=UTF-8"` fixes the issue.

[2019-10-27 19:09] strelec commented on #9668
I think that in this case, rather than making it configurable, is to pick the most sensible way of doing it, and announcing it as breaking change in the next major version of Play.

I fully agree that 400 is appropriate for a missing mandatory query string param, since the path matched.

[2019-10-27 20:58] knittl commented on #9757
I'm trying to cook up a PR. This is only happening when using Java, Scala is behaving correctly (so `hasBody` returns `false`, as expected). It looks like the Java controller receives a `RequestBody` with an empty `RawBuffer`, which is not handled by the `hasBody` implementation.

Adding a new case to the match clause is easy and probably suffices, but I'm not sure if that's the proper fix and why

[2019-10-27 21:33] lalkhum opened #9788 "[sbt-assembly et al] Got NullPointer Exception when hitting a route on a running play app"
I packaged the application using "sbt assembly" then run using "java -jar jarname".

Then, I got the following error although it was perfectly running fine when running as "sbt run"
`Cannot invoke the action, eventually got an error: java.lang.NullPointerException`

Note: Play 2.3 is a bit old but once this is sorted, there is a good chance my project/app will start using later/latest version of p

[2019-10-28 08:28] mkurz commented on #9022
@giannoug Can you please remove your `target` folder and then try again (without ´JAVA_TOOL_OPTIONS` set)? I am pretty sure this was fixed with Play 2.7.1

[2019-10-28 08:32] mkurz commented on #9784
I think it makes sense to use latest Play 2.7.3 in both environments so we can make sure that a minor release is not the caues of this behaviour.

[2019-10-28 08:38] mkurz commented on #9780
Can you please also post your `TestForm`?

[2019-10-28 08:42] mkurz commented on #9780
Or even better, push a small project that reproduces the problem here on GitHub, thanks!

[2019-10-28 09:07] mkurz commented on #9634
Summarizing the discussions we had about this feature:

We do not want to pass `null` as request body when a user opts into deferred body parsing.
Therefore we have to find a way how to not pass `null`...

* Passing `Either[RequestHeader, Request[A]]` to an `Action` instead of `Request[A]`
  * Not so good I think because we would have to change too much (`ActionBuilder`s `invokeBlock`, which shoul

[2019-10-28 09:30] mkurz opened #9789 "Converting Scala Request to Java Request throws exception"
Play-Scala 2.7.3

Simple `GET` route:
[code]

Action:
[code]

Exception:
[code]

Problem is that Scala's `AnyContent` can not be mapped to Java's `Http.RequestBody` class.
Also [this line](https://github.com/playframework/playframework/blob/48f2b6cd1e4d2040907505d16f71d67fb2cf582d/core/play/src/main/scala/play/api/mvc/Request.scala#L82) causes a problem because the `case` clause should not be ente

[2019-10-28 09:39] giannoug commented on #9022
@mkurz Sorry for not providing more information. I can't really reproduce this. It seems to happen randomly. I tried reproducing it yesterday and couldn't make it, but it happened twice later in the day. Its weird because I'm using the same cmd window. I'll try manually deleting my `target` folder and see if it happens again.

For the record I'm using a combination of the Scala plugin for IntelliJ

[2019-10-28 10:33] HealthyPeace commented on #9784
Hi, thank you for your comment.

I dug into the problem and found that the key difference is not versions of tools but how I refer the config file (application.conf).

My project structure is like below:
[code]
and play.server.websocket.frame.maxLength = 256M is set in application.conf.

## When I refer it with **-Dconfig.resource=application.conf** or without any option
the problem happens.

## W

[2019-10-29 07:14] mkurz commented on #9784
I guess `-Dconfilg.file` was a typo here (should be `-Dconfig.file`)

Are you running your application in PROD mode?

[2019-10-29 07:14] mkurz commented on #9447
Maybe it's time to implement a mechanism to deprecate a constructor in twirl, e.g. like (pseudo code):
[code]
Maybe there is another way already how to achieve this in twirl, I did not really check.
However this was needed before as far as I remember.

[2019-10-29 07:14] mkurz commented on #9780
The solution is to append `[]` to the name of the `select`:
[code]
See https://www.playframework.com/documentation/2.7.x/ScalaForms#Repeated-values

Unfortuntaly this section is missing in the [Java docs](https://www.playframework.com/documentation/2.7.x/JavaForms).

[2019-10-29 07:14] #9780 closed

[2019-10-29 08:01] tsuyoshizawa commented on #9612
Play 2.6 is already released including the patch, but Play 2.7 is not released yet.
Do you have a plan to release include the patch on Play 2.7?

Chromium announced Developers: Get Ready for New SameSite=None; Secure Cookie Settings https://blog.chromium.org/2019/10/developers-get-ready-for-new.html

[2019-10-29 08:22] maaartinko commented on #9780
I haven't been able to work on the example project for this issue, so thanks for the research! I tested it on my project and it work.

[2019-10-29 20:03] mkurz commented on #9518
This is not a bug. This is expected since Play 2.6, introduced by #6695.
That pull request also added a small section about the change to the migration guide:
https://www.playframework.com/documentation/2.7.x/Migration26#Calling-FakeRequest.withCookies-no-longer-updates-the-Cookies-header

There is nothing we need to fix here.

[2019-10-29 20:10] mkurz commented on #9518
Also see #8101

[2019-10-29 20:11] mkurz commented on #8101
See #9518

This is not a bug. This is expected since Play 2.6, introduced by #6695.
That pull request also added a small section about the change to the migration guide:
https://www.playframework.com/documentation/2.7.x/Migration26#Calling-FakeRequest.withCookies-no-longer-updates-the-Cookies-header

There is nothing we need to fix here.

[2019-10-29 20:12] #8101 closed

[2019-10-30 10:37] mkurz commented on #8632
I had a look again because I was working on related code. However, I am still not able to reproduce this. The only place where `jRoute` is called is [inside Java's `route` helper](https://github.com/playframework/playframework/blob/cfd5c815b196210e1bb364f9cce78bdadd2a8a3b/testkit/play-test/src/main/java/play/test/Helpers.java#L473-L474). And because this Java `router` helper method expects a `Requ

[2019-10-30 10:37] #8632 closed

[2019-10-30 18:25] HongyiFu opened #9794 "Play Java Form#Field with DirectFieldAccess not binding default values"
### Play Version

2.7.3

### API

Java

### Operating System

Mac OS Catalina 10.15

### JDK

openjdk version "1.8.0_232"
OpenJDK Runtime Environment (Zulu 8.42.0.21-CA-macosx) (build 1.8.0_232-b18)
OpenJDK 64-Bit Server VM (Zulu 8.42.0.21-CA-macosx) (build 25.232-b18, mixed mode)

Scala 2.13.0

### Library Dependencies

None, other than Play javaForms included by default

### Expected Behavior

P

[2019-10-31 15:08] HealthyPeace commented on #9784
Thank you for pointing the typo and it was fixed.
I'm running my app in DEV mode with IntelliJ IDEA.

[2019-10-31 16:04] mkurz commented on #9784
@HealthyPeace
First, please have a look at [this part of the documentation](https://www.playframework.com/documentation/2.7.x/ConfigFile#Using-with-the-run-command):

Because in `DEV` mode (not in `PROD` however!) the backend server starts before the Play application starts, the backend server can not access the values defined in `application.conf`. More detailed: Usually, the configuration will b

[2019-11-01 09:42] HealthyPeace commented on #9784
Thank you for your detailed explanation. The problem mentioned in my first post must be a kind of it.

Considering your explanation, using **-Dconfig.file** rather than **-Dconfig.resource** seems much better for me, in that it is free from the necessity of duplicated configuration.

Anyway the problem was solved and I'm to close this issue.

[2019-11-01 09:42] #9784 closed

[2019-11-04 08:18] mkurz commented on #9794
Thanks for reporting @HongyiFu. I can confirm this is broken.
I know how to fix this already, will provide a pull request when I find more time.

[2019-11-04 13:08] mkurz commented on #9447
I will implement a twirl tag that allows us to deprecate template arguments so we have smooth transition here:
https://github.com/playframework/twirl/pull/273
My intention is to finish this pull request before the next major release (Twirl 1.6 / Play 2.9)

[2019-11-05 12:11] ignasi35 commented on #9724
Hasn't reproduced in latest builds

[2019-11-05 12:11] #9724 closed

[2019-11-05 13:03] ignasi35 commented on #9788
Hi @lalkhum, this sounds more like a request for help. I suggest you post a question in https://discuss.lightbend.com/c/play.

[2019-11-05 13:49] ignasi35 commented on #9669
This will probably be a hard one to pull off.

To begin with, the HTTP backend remains abstracted out so Netty or Akka HTTP can be swapped. Next, as you mentioned, the dev mode runs the Akka HTTP server separately (in a different `ActorSystem` and even a different `Classloader`) from the `Application` where the user code runs.

[2019-11-05 15:15] ignasi35 commented on #9658
I think the issue is that both `implicit val pathBinder` you implemeted for `Apple` and `Dog` use the same name so when the code is generated and the imports:

[code]

added, one import shadows the other.

I've sent a [PR](https://github.com/guardian/play-pathbindable-issue/pull/1) to your project.

[2019-11-05 15:15] #9658 closed

[2019-11-06 10:25] jrudolph opened #9799 "WebSocket performance regression with Scala 2.13 with akka-http backend"
We got a report about a serious performance regression in WS with Scala 2.13 in https://github.com/akka/akka-http/issues/2788.

We found one potential culprit in the Akka ByteString implementation for Scala 2.13 (see akka/akka#28116).

I'm filing the issue here mostly for the record since the performance regressions seems to be much worse in combination with play than with just akka-http (where I

[2019-11-06 17:34] ignasi35 opened #9802 "Deprecate ApplicationLifecycle"
As part of https://github.com/lagom/lagom/pull/2426 Lagom decreased the dependence on `Applicationlifecycle` and it surfaced how `Applicationlifecycle` may gradually become irrelevant and even deprecated and removed in favour of Akka's `CoordinatedShutdown`.

A nice improvement in `CoordinatedShutdown` (as opposed to `Applicationlifecycle`) is the naming of each registered task so even at startup

[2019-11-07 09:51] mkurz commented on #9757
Fixed by #9787

[2019-11-07 09:51] #9757 closed

[2019-11-07 09:52] mkurz commented on #9794
Fixed by #9798

[2019-11-07 09:52] #9794 closed

[2019-11-07 16:14] marcospereira commented on #9802
Duplicate of #8444.

[2019-11-07 16:14] #9802 closed

[2019-11-07 20:11] ignasi35 commented on #9802
I am veeeeery eager to get this done! 😅

[2019-11-07 22:44] lalkhum commented on #9788
Done https://discuss.lightbend.com/t/sbt-assembly-et-al-got-nullpointer-exception-when-hitting-a-route-on-a-running-play-app/5374
Thanks @ignasi35

[2019-11-13 13:10] marcospereira commented on #9788
Closing since the conversation is now happening on Discuss.

Thank you, @lalkhum.

[2019-11-13 13:10] #9788 closed

[2019-11-13 13:54] #9602 closed

[2019-11-13 17:18] patientplatypus opened #9815 "Play Framework File Upload Not Working (React/Scala)"
Write up here: https://stackoverflow.com/questions/58842311/play-framework-file-upload-not-working-react-scala

[2019-11-13 20:16] marcospereira commented on #9815
Hey @patientplatypus,

As you figured it out at the question, this is not a problem with Play, but with the client side code. So I'm closing this issue.

Thanks.

[2019-11-13 20:16] #9815 closed

[2019-11-14 13:43] lobax opened #9816 "play.api.mvc.Session uses global app state"
### Play Version
2.7.3

### API
Scala

### Operating System
SMP Debian 5.2.17-1kali2 (2019-10-17) x86_64 GNU/Linux

### JDK
openjdk 11.0.5 2019-10-15

### Library Dependencies

### Expected Behavior
Session methods should be either deprecated or not use plays global state.

I.e. methods like `Session.decode` should be usable without having to set `play.allowGlobalApplication = true`

### Actual Be

[2019-11-15 08:55] hmagrahi opened #9820 "Request.contentType discard the boundary of the form-data"
- Play version 2.7.3
- Project using Scala
- Linux 4.15.0-66-generic #75-Ubuntu SMP Tue Oct 1 05:24:09 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- Java 8
### Expected Behavior

We use a microservice play as a **proxy** (gateway) for all other microservices, when importing a file using content-type from-data, our client (the front) generate a request with a header contains a **content-type: multipart

[2019-11-17 20:16] limpid-kzonix commented on #9476
Issue is fixed since Play 2.8

[2019-11-18 09:01] gurkankaymak commented on #9745
Hi, I can work on this, how this separation process is being handled? should I create a new repository and transfer it to you when the work is done, or you provide an empty repo and I submit a pr to it

[2019-11-18 21:43] Many opened #9823 "SLF4J issue in a Non Maven project. Multiple bindings"
Hi everyone.

I'm working in a non maven project which runs in a WebSphere Server application 8.5. I'm now trying to migrate this application from a development environment to a local environment. During this process when I try to deploy the application in server the console shows the following error: "slf4j class path contains multiple slf4j bindings", and the installation, although finished the

[2019-11-18 22:17] ihostage commented on #9823
You are right. You need to remove duplicate libraries from your runtime classpath.

A [discussion forum](https://discuss.lightbend.com/c/play) is a more good place for questions 😉

[2019-11-19 06:24] marcospereira commented on #9745
Hey @gurkankaymak,

You won't need to isolate this in another repository. It should be enough to have a new sbt sub-project (that will then produce a new artifact) and move the code there.

[2019-11-19 13:52] Many commented on #9823
Thanks.

[2019-11-19 14:01] Many commented on #9823
Yes, but the thing is that I don't know how avoid that this "logback-classic" download the slf4j and there's no conflict with the other one. I tried removing my slf4j from my classpath, but when I deploy the application shows me an error because of the class not found the import for slf4j. On this point, I don't know what do.

[2019-11-19 19:42] xiawang opened #9826 "play.api.mvc.Cookie SameSite does not support None"
### Play Version

2.6.24

### API

Java

### Operating System

Mac OS 10.14.6

### JDK

1.8.0.72

### Library Dependencies

play.api.mvc.Cookie

### Expected Behavior

1. Should be able to set cookie for RequestBuilder with SameSite attribute equal to None.
2.
3.

### Actual Behavior

1. Got NPE when setting the cookie for RequestBuilder.
2.
3.

### Reproducible Test Case

### Bug Explanation

A b

[2019-11-19 20:25] #9826 closed

[2019-11-19 20:26] xiawang commented on #9826
Already fixed.

[2019-11-20 11:08] mkurz commented on #9448
Such a Scalafix rule already exists:
* https://github.com/scalacenter/scalafix/issues/977
* https://github.com/scala/scala-rewrites/blob/2e40d60acdd5ef37e6368ff1830d4df1bd1d948d/rewrites/src/main/scala/impl/Substitutions.scala#L125-L127

Be aware however it won't have any effect on twirl files. scalafix obviously only works for `.scala` and `.sbt` files:
* https://github.com/scalacenter/scalafix/b

[2019-11-22 10:35] rp1214 opened #9835 "[Query/Feature request]Ability to specify the custom table name for the play_evolutions"
This is not actually a bug or an issue but a feature request to be able to provide customize name for "play_evolutions" for evolution storage table. this could be very similar to how we can provide the play database schema.

In my case,  i have one play projects with two sub modules which are not dependent on each other. All the database evolution scripts resides in root project.

Now there is a r

[2019-11-22 16:57] its-billa commented on #7017
Confirming that I see this issue in Play 2.7.3 + play-ebean 5.0.0

**CloudWatch logs:**

[code]

[2019-11-23 00:53] patientplatypus opened #9837 "Decode PLAY_SESSION cookie string to map?"
I know this must be possible somewhere, but it doesn't appear to be in the Cookies documentation and I've been hunting around the `play.api.mvc.Cookies` (and other) classes, but I don't see how I can take a PLAY_SESSION hashed cookie string and get back a map.

I've documented the issue here (https://stackoverflow.com/questions/59002570/decode-cookie-string-with-scala-play-framework-2-7-x), but th

[2019-11-24 07:02] edmonl opened #9839 "Evolutions throws NullPointerException with MySQL, useLocks = true and cacheResultSetMetadata = true"
### Play Version
2.7.3

### API
Both

### Operating System
Linux autumn 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2+deb10u2 (2019-11-11) x86_64 GNU/Linux

### JDK

openjdk version "1.8.0_222"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_222-b10)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.222-b10, mixed mode)

### Library Dependencies
"mysql" % "mysql-connector-java" % "8.0.18",

### Exp

[2019-11-24 12:29] dwijnand opened #9840 "CaffeineCacheApiSpec is flaky"
Here's an example https://travis-ci.com/playframework/playframework/jobs/259832913

[code]

[2019-11-25 09:31] ignasi35 opened #9841 "Run `validateExternalLinks` at least nightly"
Oh, this is the play repo. I assumed that task was on the Ci build already. Let's PR separately so the `validateExternalLinks` runs at least nightly.

_Originally discussed in_ https://github.com/playframework/playframework/pull/9827

[2019-11-25 13:29] ignasi35 opened #9843 "Allow more flexible HTTP bindings"
Play allows binding a single port for `http` traffic and a single port for `https`. Each port will serve exactly the same routes.

This issue is to track an improvement where multiple ports can be bound for `https` (for example) where each port serves traffic using different settings (e.g. `HTTP/1.x` vs `HTTP/2`[1])

[1] that's a bad example because HTTP/1 and HTTP/2 should coexist in a single por

[2019-11-26 08:47] ignasi35 opened #9844 "Uncouple Server and Logger lifecycles"
(from https://github.com/akka/akka/issues/28212#issuecomment-558525124)

`NettySevrer` and `AkkaHTTPServer` add a Coordinated Shutdown task that invokes `super.stop()` knowing that the super trait closes the Logger on that call.

This should be decoupled and the Logging infrastructure should be stopped [at a later stage, probably](https://github.com/akka/akka/issues/28212#issuecomment-558505395)

[2019-11-26 11:20] ignasi35 opened #9845 "Play-twirl support imports deprecated API (scala 2.13)"
The Java minimal imports:

https://github.com/playframework/playframework/blob/576c0def93c7abe8df7802fb3549b2e02475005b/dev-mode/build-link/src/main/java/play/TemplateImports.java#L32

imports `scala.collection.JavaConverters` which is deprecated in scala 2.13. This triggers the warning/error (dependinc on your `scalac` options):

[code]

Maybe fixable in this [`PlaySettings`](https://github.com/p

[2019-11-27 08:23] acmoune opened #9848 "Support for request refinement before they get to a SIRD Router"
Let's say I have this SIRD Router:

[code]

And this Action Refiner:

[code]

Then in my `conf/routes` file I have this

   ` ->   /admin   adminRouter`

What I would like is to apply the `securedAction` **action refiner** to all requests sent to the `adminRouter` before they get to it. So the `adminRouter` will just assume that all requests have a `username` field if they managed to get to him.

[2019-11-27 13:10] acmoune commented on #9848
One way this could have been possible if this an Action could return another Router, and if Routers could do partial pattern matching against the `RequestHeader`, a little bit like with `AkkaHttpServer` `Directives`

Something like this:

[code]

But it is not supported yet,

[2019-11-27 16:19] BillyAutrey opened #9852 "Create a BodyParser to parse MultipartFormData directly to a stream"
### Play Version

2.7

### API

Scala (Ideally, both)

### Feature Description

As of now, the documentation only details how to use `parse.multipartFormData` and `parse.temporaryFile`.  Both approaches store temporary files, which is not ideal in a Dockerized deployment.  The alternative that is suggested is to create your own BodyParser to handle the bytes as they stream in.

I propose that a mu

[2019-11-28 12:08] renatocaval commented on #9852
Hi @BillyAutrey,

Thanks for the suggestion.
I added this issue to the backlog, but it can take sometime before someone can find time to pick it. Would you be interested in sending a PR?

We can guide you throught it if needed.

[2019-11-28 12:14] renatocaval commented on #9848
You can achieve this by adding a handler, see https://www.playframework.com/documentation/2.7.x/ScalaHttpRequestHandlers#HTTP-Request-Handlers

However, if you want to have a specific type, like in `SecureRequest`, then you need to have an Action Builder.

[2019-11-28 12:30] BillyAutrey commented on #9852
Hey @renatocaval,

Sure!  I can give it a shot.

[2019-11-28 13:18] renatocaval commented on #9839
Thanks for reporting this.

I added this issue to the backlog, but it can take sometime before someone can find time to pick it.

Would you be interested in sending a PR?

[2019-11-28 13:21] renatocaval commented on #9837
Thanks for reporting this.

I added this issue to the backlog, but it can take sometime before someone can find time to pick it.

Would you be interested in sending a PR?

[2019-11-28 13:27] renatocaval commented on #9835
Thanks for reporting this.

I added this issue to the backlog, but it can take some time before someone can find time to pick it.

On the other hand, I would advise having two applications sharing the same database, but I don't know your real requirements. That said, this is a request for a very specific case.
Play being an open-source project, you will need to have more people interested in this

[2019-11-28 13:33] renatocaval commented on #9823
Hello @Many,  

In this sbt page (https://www.scala-sbt.org/1.x/docs/Library-Management.html), you can find more information about how to exclude a library.

I will close this issue, because as said before, it's better to ask for help on the forums and use GitHub to report issues or request features.
Best.

[2019-11-28 13:33] #9823 closed

[2019-11-28 13:42] renatocaval commented on #9820
Thanks for reporting this.

I added this issue to the backlog, but it can take some time before someone can find time to pick it.

Would you be interested in sending a PR?

[2019-11-28 13:49] hmagrahi commented on #9820
Hello,

Thank you for your response,
Yes absolutly sir! I'll take care of it,

[2019-11-28 13:56] renatocaval commented on #9816
Thanks for reporting this.

Indeed, that should not be the case. We will need to investigate this further and see how we can remove the dependency on the global application.

[2019-11-28 20:31] acmoune commented on #9848
Thank you Renato, I will study those request handlers.

[2019-11-28 20:31] #9848 closed

[2019-11-29 11:40] renatocaval commented on #9816
hi @lobax,

I look further to understand why you are not getting a deprecation warning when calling `Session.decode`. As you can see [here](https://github.com/playframework/playframework/blob/2.7.x/core/play/src/main/scala/play/api/mvc/Session.scala#L149-L193), all methods in `Session` are deprecated and we recommend to inject `SessionCookieBaker` instead.

However, the `decode` method is part of

[2019-12-02 20:46] ilyaspiridonov opened #9872 "Tool proposal for managing translations"
Hi,
Please consider using [GitLocalize](https://gitlocalize.com) for managing documentation translations.
It's free and supports .md

[2019-12-02 21:09] renatocaval commented on #9872
How is the translation done? Is that done by any kind of automatic, AI powered, algo? How would we check the quality of the translations?

[2019-12-02 21:45] ilyaspiridonov commented on #9872
@renatocaval It's basically a platform to arrange the process: a free alternative to the PR-based translations. The actual translations can be contributed by the community members, professional translators etc.

There's also Machine Translate option available, but it basically uses the Google Translate engine.
Check out how Google is translating [WebFundamentals](http://github.com/google/WebFundam

[2019-12-03 21:07] renatocaval commented on #9872
Thanks, @ilyaspiridonov,

Unfortunately, the hard reality is that most of the translations we have are running behind by the simple fact that most people don't have time to put on keeping the translated docs up-to-date.

We, the main maintainers, we don't have that bandwidth, although we could by ourselves cover at least 7 languages. The community neither. I don't even remember when we got a PR fo

[2019-12-03 23:10] marcospereira opened #9880 "Support ["*"] when configuring play.filters.cors.allowedOrigins"
### Play Version

Play 2.7+.

### API

Java and Scala APIs.

### Description

`Access-Control-Allow-Origin` header uses `*`wildcard to tell browsers to allow any origin to access the resource. Play, on the other hand, uses `null` to indicate that all origins are allowed. It would be better for developer experience if the configuration in Play supported wildcard too, making it closer to the specifi

[2019-12-04 08:47] dirkhillbrecht commented on #9518
I'm stumbling upon this right now. The migration doc mentioned above says: "If you still need the old behavior you can still use Cookies.encodeCookieHeader to convert the Cookie objects into an HTTP header then store the header with FakeRequest.withHeaders." What does that mean? What is "Cookies.encodeCookieHeader"? Config setting? Static method? Where??? I mean, I have some code like this in Play

[2019-12-04 09:06] dirkhillbrecht opened #9882 "Session cookie retrieval in unit tests in Play 2.6 unclear"
Play 2.6 has changed the session cookie handling and cookie handling in general, I understand. This seems to be the reason that the following Play-2.5-based unit test Java code does not work anymore:

[code]

Actually, `result.cookies()` is empty and neither `result.session()` nor `result.header()` contains `PLAY_SESSION`.

The migration doc says in https://www.playframework.com/documentation/2.7.

[2019-12-04 10:51] ilyaspiridonov commented on #9872
Thanks for the insight, @renatocaval
So time seems to be the main issue. Do you believe crowd-funded translations could help? We are considering making a feature on GitLocalize for maintainers to be able to invite their community to "sponsor" translations (actual translations could then be done by professional translators on a paid basis).
The main idea is that apparently there are people who woul

[2019-12-06 05:18] aravind-karthikeyan commented on #9839
Can I work on this Issue?

[2019-12-08 01:19] wsargent commented on #9516
It looks like the sbt-native-packager already deals with the PID issue mentioned

[code]

https://www.scala-sbt.org/sbt-native-packager/recipes/play.html#application-configuration

[2019-12-09 04:15] wsargent commented on #9516
Also https://medium.com/jeroen-rosenberg/lightweight-docker-containers-for-scala-apps-11b99cf1a666

[2019-12-10 15:51] vasica38 commented on #9518
@dirkhillbrecht have you managed to solve the problem ?

[2019-12-10 15:57] dirkhillbrecht commented on #9518
No, @vasica38 , but I opened https://github.com/playframework/playframework/issues/9882 . You might add yourself there, so far nothing happened...

[2019-12-10 19:06] ctoomey commented on #9020
We're getting this too, and when using http/2 requests as needed for gRPC we don't get any error log at all, which is even worse.

The reason for this is that when the config. can't be loaded, the [default error handler](https://github.com/playframework/playframework/blob/2.7.x/core/play/src/main/scala/play/api/http/HttpErrorHandler.scala#L474) is used, and  its implementation of `onServerError` f

[2019-12-11 11:50] ignasi35 opened #9896 "[2.7.4] Regression using SSL in Java 11"
Both [Play `2.7.3`](https://github.com/playframework/playframework/blob/2.7.3/project/Dependencies.scala) and [Play `2.7.4`](https://github.com/playframework/playframework/blob/2.7.4/project/Dependencies.scala) explictly depend on `"com.typesafe" %% "ssl-config-core" % "0.3.8"` but in Play `2.7.3` there probably was a transitive dependency to `"ssl-config-core" % "0.4.0"`.

The workaround is to ex

[2019-12-11 14:51] auribe commented on #7017
Am I missing something? This issue is 2 years old and I only see a work-around. I can confirm this is sporadic and unpredictable. Been running without issue for months, and in an instant all of a sudden deployments start failing on startup because of:

[code]

EbeanServerProvider.java
[code]

GuiceModule:
`bind(EbeanServer.class).toProvider(EbeanServerProvider.class).asEagerSingleton();`

applicat

[2019-12-12 12:41] ignasi35 opened #9903 "Complete the play-omnidoc cleanup"
PR #7134 removed `play-omnidoc` from dev mode but some [`PlaySettings`](https://github.com/playframework/playframework/blob/a90d453833ecffd17b76a0ed8805725fb99e08f7/dev-mode/sbt-plugin/src/main/scala/play/sbt/PlayImport.scala#L112-L115) (e.g. `playOmnidoc`) were leftover.

On top of that, we've been maintaining (and [documenting](https://www.playframework.com/documentation/2.8.x/Migration28#Defaul

[2019-12-12 12:49] renatocaval commented on #9903
🤦‍♂

[2019-12-12 13:54] ignasi35 commented on #9903
🤦🏼‍♂️

[2019-12-12 19:09] ignasi35 opened #9906 "Simplify CrossJava code"
https://github.com/playframework/playframework/pull/9395 introduced `docs/project/CrossJava.scala` with `JavaVersion` which includes a note:

[code]

Well, sbt `1.3` is here so it's time to remove that duplication.

See also https://github.com/lagom/lagom/issues/2553

[2019-12-13 10:05] #9903 closed

[2019-12-13 10:07] ignasi35 opened #9908 "Broken links in documentation (RDBMS)"
#9511 made some renames on the docs for RDBMS. That broken some links in the docs and also made some content inaccessible.

The changes to fix this affect both `play/play` and `play/playfw.com`

[2019-12-13 10:49] #9908 closed

[2019-12-13 12:02] renatocaval opened #9910 "Document evolutions bootstrap order"
We got a few users reporting issues with evolutions and bootstrap logic that needs DB access.

https://discuss.lightbend.com/t/startup-timing-issues-w-database-initialization-and-evolutions/2458
https://discuss.lightbend.com/t/play-2-7-3-slick-3-3-evolutions-not-executed/5186

Users can workaround it by using `ApplicationEvolutions.upToDate`, but we should better explain why this is happening how

[2019-12-13 19:40] edmonl commented on #9839
Are you working on this now @aravind-karthikeyan ? If you are not and still interest, you can work on it. I'll appreciate it.

[2019-12-14 18:35] bastaware opened #9918 "Error in download link 1.5"
https://www.playframework.com/documentation/1.5.x/install

Links to wrong download site:

Install Java.
**Download the latest Play binary package and extract the archive.**
Add the ‘play’ command to your system path and make sure it is executable.

Should be [https://www.playframework.com/releases] I guess...

[2019-12-16 07:08] oanh-JL opened #9920 "Error upload file"
### Play Version
2.8.x

### API
upload file in scala

### Operating System
macOS

### JDK
1.8

### Library Dependencies

### Expected Behavior

i found the problem in post file by uploadfile API
1. `val filename    = Paths.get(picture.filename).getFileName`
2. `picture.ref.copyTo(Paths.get(s"/tmp/picture/$filename"), replace = true)`

### Actual Behavior

I found the resolve, at least it work for

[2019-12-16 15:58] PromanSEW opened #9922 "[2.8.0] Regression in play.libs.Json.toJson"
### Play Version

2.8.0

### API

Maybe both, Java checked

### Operating System

Windows 10 x64 Build 1909

### JDK

java version "1.8.0_221"
Java(TM) SE Runtime Environment (build 1.8.0_221-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.221-b11, mixed mode)

### Library Dependencies

Ebean

### Expected Behavior

1. Create Ebean model
2. Try to serialize it to JSON using Json.toJson(Object)
3.

[2019-12-16 16:57] ignasi35 opened #9924 "Branch condition is wrong in .travis.yml"
https://github.com/playframework/playframework/blob/master/.travis.yml#L5

declares a condition to prevent unnecessary builds. The final condition `... OR branch IN (master, 2.7.x, 2.6.x)` is missing `2.8.x` but merges on `2.8.x` are actually being built. So:

 - the list is wrong
 - the list is ignored anyways...

[2019-12-16 17:25] PromanSEW commented on #9922
Maybe this issue must be moved to `play-json` instead

[2019-12-17 08:16] PromanSEW commented on #9922
@rbygrave please can you take a look?

[2019-12-17 08:49] ignasi35 commented on #9703
The play build (and probably related scripts in `vegemite`) have custom manipulation of the version. See for example:

https://github.com/playframework/playframework/blob/14e73eee9371069a0551d0a908c5949cb6ada4dc/project/Docs.scala#L137

[2019-12-17 09:15] rbygrave commented on #9922
Response on the Ebean google group ... I'll copy it here:

Well it looks to me like the JSON marshalling is including the _ebean_intercept field.  This field in turn has a reference to persistenceContext ... which in turn can reference back to the entity  (so this is creating an infinite loop).

With Ebean enhancement we have the option of enhancing the _ebean_intercept field as transient.

Now ge

[2019-12-17 09:20] PromanSEW commented on #9922
@rbygrave I try to fix this problem by custom serializer. But earlier all was working fine while serializing this model (TourType in my test case)

[2019-12-17 12:00] PromanSEW commented on #9922
@rbygrave I try to use `Ebean.json().toJson()` but got empty object without fields :(

[2019-12-17 12:16] PromanSEW commented on #9922
I fixed the problem by custom serializer
But it is still regression

[2019-12-17 12:17] scartech commented on #9922
I'm experiencing this same issue - infinite recursion (stack overflow) when using Json.toJson() for code that previously worked. I didn't use any of the RC versions, so I'm not sure if it was present there, but I'm seeing it in 2.8.0.

[2019-12-17 13:17] PromanSEW commented on #9922
@scartech use custom `JsonSerializer` before this issue will be fixed

[2019-12-17 13:45] scartech commented on #9922
@PromanSEW, thanks! I don't need to upgrade to 2.8.0 right away, so I think I'll wait for the fix. I've got a fairly large application that's using Json.toJson in quite a few places. It will be more efficient if I just wait to upgrade.

[2019-12-17 21:52] marcospereira commented on #9922
Thanks for reporting, @PromanSEW.

It is okay to keep it here. If anything, we can later move to play-ebean repository since it appears to be related to that.

Is your application also using Ebean?

[2019-12-18 12:05] PromanSEW commented on #9922
@marcospereira I provided the reproducible test case, what info do you need?

[2019-12-18 12:16] scartech commented on #9922
@marcospereira yes, I'm using Ebean also.

[2019-12-18 14:12] ignasi35 commented on #9920
Hi @oanh-JL, can you detail what was the problem you found?

PS: This seems to be a topic better suited for our [discuss forum](https://discuss.lightbend.com/c/play).

[2019-12-18 15:06] dwijnand commented on #9703
Use `isSnapshot.value` instead.  sbt-dynver honours that, see https://github.com/dwijnand/sbt-dynver#detail

[2019-12-18 16:38] galbarm commented on #9799
https://github.com/akka/akka/issues/28114#issuecomment-567108603

[2019-12-18 19:43] ornicar opened #9935 "classloader leak in run command"
`kamon.Kamon.counter("foo")` causes a classloader leak when using `run`. This causes OOM after a few runs, depending on the application size, and makes the dev workflow unusable.

Here's a minimal project with instructions to reproduce the issue: https://github.com/ornicar/play-cdi-leak/tree/kamon

My setup:
- Linux 5.4.2
- openjdk version "13.0.1" 2019-10-15
- scala 2.13.1
- playframework 2.8.0
-

[2019-12-18 21:24] ornicar commented on #9935
I observed the same leak, this time with lettuce.

Demo project: https://github.com/ornicar/play-cdi-leak/#playframework-dev-workflow-classloader-leaks

It seems that when a scala `object` has a reference to a resource,
it prevents the resource from being released after a `run`,
and causes the entire application instances and classes to remain loaded forever.

It's arguably not great to have a ref

[2019-12-18 21:57] ornicar commented on #9935
Maybe I'm just supposed to clear that state manually with `lifecycle.addStopHook`? It wasn't necessary with play 2.4.

[2019-12-19 10:27] ignasi35 commented on #9703
There's some more logic wrt `SNAPSHOT` suffix detection in [playfw.com](https://github.com/playframework/playframework.com/blob/7e4a847d828df993eaf0abff43543d73136b5a72/app/actors/DocumentationPollingActor.scala#L93)

[2019-12-19 15:17] ornicar commented on #9935
Kamon and sbt 0.12.8: same leak. Reproduce with https://github.com/ornicar/play-cdi-leak/tree/kamon-sbt-0.12.8

[2019-12-19 15:25] ornicar commented on #9935
Kamon and sbt 0.13.18: same leak. Reproduce with https://github.com/ornicar/play-cdi-leak/tree/kamon-sbt-0.13.18

[2019-12-19 15:54] ornicar commented on #9935
Kamon, play 2.7.4, sbt 1.3.2: same leak. https://github.com/ornicar/play-cdi-leak/tree/kamon-play-2.7

[2019-12-19 16:09] ornicar commented on #9935
play 2.6.25: same leak. I'm very confused now.

- Linux 5.4.2
- openjdk 11.0.5
- scala 2.12.10
- playframework 2.6.25
- sbt 1.2.8

Again, all application instances and classes remain loaded in memory forever. How can anyone use `run` in these conditions? Is it just me? Please try and reproduce: https://github.com/ornicar/play-cdi-leak/tree/kamon-play-2.6

[2019-12-20 07:50] #8959 closed

[2019-12-20 12:24] ignasi35 opened #9941 "Make ALPN optional"
Seince adding support for JDK11 Play no longer needs to add the ALPN Agent everytime HTTP/2 is used since JDK11 supports ALPN out of the box.

We should allow users to disable the dependency to `jetty-alpn-agent` when using `PlayAkkaHttp2Support`.

See related: https://github.com/akka/akka-grpc/issues/772

[2019-12-20 15:11] risingsmoke commented on #9880
Hi, if it is still open, can I work on this?

[2019-12-20 20:46] mkurz commented on #9839
@edmonl @aravind-karthikeyan I guess the fix is to just change this line here:
https://github.com/playframework/playframework/blob/b57ab8f2c048fc7d342c28a9e347664673ff46ed/persistence/play-jdbc-evolutions/src/main/scala/play/api/db/evolutions/ApplicationEvolutions.scala#L271

However, please be aware that changing to `query` also effects other databases. Would be nice if you could test not just my

[2019-12-20 20:49] mkurz commented on #9918
The documentation page you are refefering here is maintained in the Play 1 GitHub repo here:
https://github.com/playframework/play1/blob/master/documentation/manual/install.textile#installation-from-the-binary-package

Please open an issue or pull request at https://github.com/playframework/play1

[2019-12-20 20:49] #9918 closed

[2019-12-20 20:57] mkurz commented on #9924
@ignasi35 Fixed in #9923 already?

[2019-12-20 22:11] marcospereira commented on #9880
Hey @risingsmoke,  Yes, it is still open, so feel free to work on it. :-)

Thanks!

[2019-12-21 05:48] PromanSEW commented on #9922
@marcospereira I think regression is the result of using Akka's `ObjectMapper` in 2.8.0

[2019-12-24 09:40] ranmx opened #9942 "Hello World page does not work"
### Play Version

2.8.x

### API

nop

### Operating System

linux

### JDK

java version "12.0.1" 2019-04-16
Java(TM) SE Runtime Environment (build 12.0.1+12)
Java HotSpot(TM) 64-Bit Server VM (build 12.0.1+12, mixed mode, sharing)

### Library Dependencies

nop

### Expected Behavior

1. copy and paste examples in https://www.playframework.com/documentation/2.8.x/ImplementingHelloWorld should wo

[2019-12-24 12:51] ranmx commented on #9942
it's due to the fact that the examples in play-samples-play-scala-starter-example are different from that of in playframework

[2019-12-26 08:25] sampleblood opened #9947 "websocket stop accidently"
play version: 2.6.20
api : java
os:   x86_64 GNU/Linux
java version: openjdk version "1.8.0_232"

I make reference  "https://github.com/playframework/play-java-websocket-example" to create a websocket framwork, running at three aws c5.large instance, each have 200+ connections in average.
there are 4 channels, the problem is after about one week or two, one channel stoped without any exception.

d

[2019-12-27 19:52] ornicar commented on #9935
Using caffeine's system scheduler also causes the leak. https://github.com/ornicar/lila/commit/356828b67410a170c900ccb392b92300be63036b#diff-2c97c4926d21143282d73716e78e6dbdR10-R11

[2019-12-28 00:33] wsargent commented on #9447
Would an implicit conversion from `(Symbol, Any)` be easier here?

[2020-01-02 16:21] dwijnand opened #9956 "Replacing play-file-watch"
https://github.com/playframework/play-file-watch incurs some amount of maintenance, and we're considering removing it.

After speaking with Ethan, who has put in a lot of time working on sbt 1.3's file watching, he suggests looking at sbt/io's `Glob`, `FileTreeRepository`, and `FileEventMonitor` (which is a wrapper for the repository, aggregating callbacks) as the replacement for the usage of play

[2020-01-02 16:22] dwijnand commented on #9924
No, that was the PR that highlighted that something is wrong with the condition: 2.8.x was missing but it was building anyways.

[2020-01-07 05:46] marcospereira commented on #9922
How so? Do you think some specific module is impacting it? It should be possible to confirm that by creating and using your own `ObjectMapper`. Do you have the time to further investigate this in your reproducer?

Best.

[2020-01-07 08:06] PromanSEW commented on #9922
@marcospereira I provided a reproducible test case with minimal code which have described problem

[2020-01-07 12:18] henricook opened #9972 "Specifying a custom config.resource causes a "resource not found on classpath" in Play 2.8"
### Play Version

2.8.0

### API

Scala

### Operating System

Linux bob 5.3.0-24-generic #26-Ubuntu SMP Thu Nov 14 01:33:18 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### JDK

java version "1.8.0_221"
Java(TM) SE Runtime Environment (build 1.8.0_221-b11)
Java HotSpot(TM) 64-Bit GraalVM EE 19.1.1 (build 25.221-b11-jvmci-19.1-b01, mixed mode)

### Library Dependencies

N/A

### Expected Behavior

1.

[2020-01-07 12:47] dwijnand commented on #9972
The ability to redefine the classpath resource to use as the config is built into the config library, so that diff shouldn't impacted this.  But clearly something's up, so I'll triage this today or tomorrow.

[2020-01-07 12:52] henricook commented on #9972
Thanks @dwijnand  - i thought it might have something to do with this removed `parseResources`:
[code]

But as i say, just a guess

Thanks again

[2020-01-07 21:52] marcospereira commented on #9922
I don't think that is the case. There is no code in play-ebean to configure `play.libs.json.Json` object mapper.

What I think is happening is that Jackson 2.10.x somehow is not working with Ebean. And your [comment here](https://github.com/playframework/playframework/issues/9922#issuecomment-566512189) makes me think that only using Ebean's `ObjectMapper` won't solve the problem.

How is this cus

[2020-01-08 07:06] PromanSEW commented on #9922
[code]

[2020-01-08 07:39] gavinbaumanis opened #9976 "Docs Improvement : Forms, nested values"
Improve the Play documentation of  forms, nested values to better illustrate multiple nested values.

At the moment the [documentation](https://www.playframework.com/documentation/2.8.x/ScalaForms#Nested-values) illustrates a single nested value at the **end** of the _form_;
[code]
Here (AddressData.apply)(...unapply) - directly precedes the (UserAddressData.apply)(...unapply)

What isn't clear (f

[2020-01-09 09:54] ignasi35 commented on #9942
You're right. The tutorial is incorrect since `main` requires an `assetsFinder` paramter since https://github.com/playframework/play-samples/commit/dc2b3feaae073211d635899cb958ad7fabc3ca42

[2020-01-09 11:35] ignasi35 commented on #9942
The tutorial is incorrect for `scala` only. The problem is there's a single tutorial for both `java` and `scala` and the sample code the tutorial is based on differs in each implementation.

The commit https://github.com/playframework/play-samples/commit/dc2b3feaae073211d635899cb958ad7fabc3ca42 moved the `play-scala-starter-example` to config-based `Assets` (and use of `AssetsFinder`) but the `pla

[2020-01-09 14:58] Flo354 commented on #9839
Hi there,

In the meantime, is there a workaround?
(other than disabling evolutions or cacheResultSetMetadata)

Thanks,

[2020-01-09 15:37] malliina opened #9983 "Triggered execution does not work on Windows 10 with sbt 1.3.x"
### Play Version

Play 2.8.0 with sbt 1.3.4

### API

Scala

### Operating System

Windows 10 Pro

### JDK

openjdk version "11.0.5" 2019-10-15
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.5+10)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.5+10, mixed mode)

### Expected Behavior

1. git clone git@github.com:playframework/play-samples.git
2. cd play-samples/play-scala-hello-world-tuto

[2020-01-10 05:37] marcospereira commented on #9983
Hi @malliina,

Is this happening exclusively for `~run` or any command using triggered execution? For example, if you run `~test`, does it re-executes the tests on file changes?

Best.

[2020-01-10 06:59] malliina commented on #9983
Hi @marcospereira,

This is happening exclusively for `~run`. Others like `~test` and `~compile` re-execute on file changes as expected.

[2020-01-10 22:48] marcospereira commented on #9983
I can confirm this is happening in macOS as well. Thanks for reporting, @malliina.

When running with `sbt --debug ~run`, I can see the following after changing a file:

[code]

And the following after firing a request:

[code]

So, it looks like sbt is correctly detecting the file changes, but Play `~run` is failing to react to that.

[2020-01-10 22:49] marcospereira commented on #9983
@malliina could you please run with `--debug` as I did above and confirm if you are observing something similar?

[2020-01-11 15:56] malliina commented on #9983
@marcospereira I ran `sbt --debug ~run` and it appears I have similar behavior:

After a file change:

[code]

Subsequently after making a request:

[code]

[2020-01-11 16:01] harshajayaweeraXHJ opened #9986 "Akka Typed actor in play websocket"
I'm developing a web-socket application in play and using actor based websocket implementation according to their official tutorial (https://www.playframework.com/documentation/2.8.x/JavaWebSockets)

In controller
`public WebSocket socket() {
    System.out.println("socket connecton received");
    return WebSocket.Text.accept(
            request -> ActorFlow.actorRef(WebSocketActor::props, actor

[2020-01-11 20:08] lupari commented on #9922
For our project this issue is a blocker for upgrading to 2.8. While our data model is quite large and having relied on play-json's ability to deal with Ebean enhanced POJO's in lots of places, writing dedicated serializers for each case is not something we would like to do. Yes it could be done but I think this should work out of the box while both play-ebean and play-json being part of the same t

[2020-01-12 22:46] Heyrows opened #9987 "SameSite Cookies in Play 2.3.x using netty"
### Play Version

2.3.10

### API

Scala

### Operating System

Linux - Debian 9.5

### JDK

java version "1.8.0_181"
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)

### The Issue

Hello, i'm a developper at Prismic.

Chrome 80 is coming out in February 2020 and it will bring some new changes to the way cookies are being handl

[2020-01-13 10:33] renatocaval commented on #9987
Hi @Heyrows,

The default Scala version in 2.3.x is 2.10, you need to first switch to 2.11 by calling `++2.11.12` inside sbt.

[code]

Note that Play 2.3.x is a very old version of Play. The latest Play 2.3.x released is from August 2015, 4.5 years ago! We don't make releases for old branches like this one. That said, sending a PR won't make much sense.

We strongly recommend you to upgrade. I kno

[2020-01-13 10:34] renatocaval commented on #9987
@Heyrows, I will close the issue. As explained above, branch 2.3.x is EOL.

[2020-01-13 10:34] #9987 closed

[2020-01-13 12:38] renatocaval commented on #9986
There is a sample showing how to use Typed actors with Websocket in Play. You can find it here: https://github.com/playframework/play-samples/tree/2.8.x/play-java-websocket-example

On a side note, our [forums](https://discuss.playframework.com) would be a better place to ask questions like this. Github issues are for reporting bugs and feature requests in Play, not for general discussion and gett

[2020-01-13 12:38] #9986 closed

[2020-01-14 10:47] lpld opened #9991 "Json macro doesn't support generic case classes with higher kinded type parameters"
Hello. Sorry if this is a duplicate, but I haven't found such an issue.

I have an API that provides CRUD operations for some entities. Read and write models are almost the same, i.e. they have same sets of fields, but different constraints on them:

[code]

What I'm trying to do is to define a single case class for both models:
[code]
In reality I have more complex models, plus some other modes (

[2020-01-14 17:47] scartech commented on #9922
I'm in the same boat as @lupari. I have a pretty large application, so writing lots of serializers isn't feasible. We'll have to wait to upgrade until this is resolved unfortunately.

[2020-01-15 11:24] co-category commented on #8423
I just got hit with this bug today. I posted on your forum before seeing this ticket [here](https://discuss.lightbend.com/t/two-routes-files-pointing-to-same-package-reverse-routes-seem-to-be-overwritten/5742). Is there an ETA for this fix as it would be a really useful feature to have?

[2020-01-15 13:59] dwijnand commented on #9840
Fixed in #9851

[2020-01-15 13:59] #9840 closed

[2020-01-15 14:01] dwijnand commented on #9972
Fixed in #9978.  Coming in 2.8.1.

[2020-01-15 14:01] #9972 closed

[2020-01-15 18:57] eed3si9n commented on #9983
Here are some observations.

### ~compile

[code]

When I type `~compile`, I see that
1. first sbt compiles 10 Scala sources (executing `compile`) then
2. the watcher logs "Monitoring source files for root/compile".

### ~run

[code]

Similarly, `run` first gets executed. This would start the dev mode, but watcher hasn't started.

Now if I enter `Ctrl-D`, it then goes into watching...

[code]

[2020-01-16 04:17] neilchaudhuri commented on #9043
Reproduced on 2.7.4 FYI

[2020-01-16 04:39] marcospereira commented on #9922
Luckily, you don't need to. :-)

A simpler workaround is to annotate your models with `@JsonIgnoreProperties({"_ebean_intercept", "_$dbName"})` so that those properties will be ignored. As @rbygrave, those are the properties that are triggering the circular reference.

I don't know if there is a way in Jackson to globaly ignore such fields, though.

[2020-01-16 06:49] rbygrave commented on #9922
As stated previously there is an option for ebean enhancement to add these fields with the transient modifier.  I _suspect_ Jackson would then ignore these fields. I have been considering making a change to the ebean enhancement such that those fields have by default the transient modifier because other serialisation libraries work by ignoring transient fields and it's likely to be the better defa

[2020-01-16 11:10] PromanSEW commented on #9922
@rbygrave sorry, I mistakely wrote about Ebean's `ObjectMapper`. I tried to serialize `List<Model>` instead of `Model` itself. When I understood this mistake I forgot to edit my answer.

[2020-01-17 10:49] dwijnand opened #9999 "JNA error running ~run"
### Play Version

A build off of the 2.8.x branch, current HEAD is da4a19d69e8c45a0163fe34df1e6528e52d6eed9.

### Operating System

macOS

### JDK

[code]

### Library Dependencies

sbt 1.3.6

### Expected Behavior

1. Running `~run`
2. the server is started
3. the code is compiled
4. file watching is started

### Actual Behavior

The execution of the `Compile / run` task fails with:

[code]

###

[2020-01-17 10:52] dwijnand commented on #9999
The problem is that sbt/io uses JNA 4.5.0: https://github.com/sbt/io/blob/v1.3.1/project/Dependencies.scala#L12

So Directory Watcher needs to use JNA 4.x's API, not JNA 5.x API.

[2020-01-17 17:10] francisdb opened #10000 "PlayScala plugin causes duplicate test reports on sbt 1.3.7"
Play `2.8.0`

since we switched to Sbt `1.3.7` we have duplicate test reports for all the play modules in our multi-module build (the ones with `enablePlugins(PlayScala)`)

for those modules the `target/test-reports` looks like this
[code]
where for non-play modules we only have the `TEST-`-prefixed files

The sbt release notes mention a change in the junit reporting output
https://github.com/sbt/

[2020-01-19 02:19] wsargent commented on #10000
10000!

[2020-01-19 08:18] francisdb commented on #10000
What do I win? 💰

[2020-01-19 09:41] renatocaval commented on #10000
Congrats @francisdb. Nice that you are the winner.
I pay you a beer next time we meet!

[2020-01-20 19:42] marcospereira commented on #10000
It looks like this is https://github.com/sbt/sbt/pull/4343.

[2020-01-20 19:46] ignasi35 commented on #10000
4343 introduced the report duplication and https://github.com/sbt/sbt/pull/5350 introduced the means to enable a format or the other to avoid duplicates and still generate the reports using the filename that's more convenient for each user.

[2020-01-20 19:55] marcospereira commented on #10000
Yes, but no in a way that makes this possible:

Since this is not a setting we can override, but a JVM property that needs to be set when starting sbt.

Or am I missing something?

[2020-01-21 10:22] francisdb commented on #10000
I currently don't have the time to dig deeper into this but if nobody else can reproduce the issue it must be something else in our build causing this.

[2020-01-21 10:36] mkurz commented on #9976
@gavinbaumanis that would be a nice addition to the docs. Do you want you provide a pull request? The file you would need to change is: https://github.com/playframework/playframework/blob/2.8.x/documentation/manual/working/scalaGuide/main/forms/ScalaForms.md

[2020-01-21 10:42] mkurz commented on #9942
Fixed by https://github.com/playframework/playframework/pull/9982 and https://github.com/playframework/play-samples/pull/83
@ignasi35 please re-open if I am wrong.

[2020-01-21 10:42] #9942 closed

[2020-01-21 12:08] ignasi35 commented on #9942
You are not wrong @mkurz. :-)

[2020-01-21 12:56] mkurz commented on #9924
Just a guess: `type != push` comes first, which therefore (probably) is the first condition that will be evaluated, will be true for any pull request, no matter what's the current branch.
And because all conditions are `OR`d nothing else will be evaluated anymore.
So not the list is wrong (it wont even be evaluated), the `OR` logic is wrong.

[2020-01-21 13:08] mkurz commented on #9447
@wsargent I will think about it, not sure if that works for all scenarios (Java API,...)

[2020-01-21 13:17] dwijnand commented on #9924
The problem isn't the pull requests, though.  It's about the branch merges, which are `type = push` (merge) commits.

So at the time it should have evaluated to:

[code]

[2020-01-21 13:56] mkurz commented on #9924
Note (to myself)
Looking at the Travis "Requests" list I see that the _merge commit_ 35e4ca6 of pull request #9982, which was opened 12 days ago, failed the `if` condition:

![image](https://user-images.githubusercontent.com/644927/72809168-6278dd00-3c5b-11ea-8e64-edf3d33d33d5.png)

The interesting thing to note here is that the list showed in the tooltip is missing `2.8.x`, meaning that the `.tra

[2020-01-21 13:59] mkurz commented on #9924
Another thought (probably wrong, but still to note): Maybe `.travis.yml` (or its settings) gets cached?

[2020-01-21 14:14] dwijnand commented on #9924
OK, so looks like we need/should've backported the 2.8.x change in .travis.yml to the 2.8.x branch.

I guess none of us remembered how Travis CI uses the .travis.yml of the branch (or, in the case of PR builds, the target branch), rather than just the single .travis.yml on the default branch (aka `master` for Play).  This is as opposed to Mergify, which just uses teh default branch's .mergify.yml.

[2020-01-21 15:23] PromanSEW commented on #9922
@rbygrave what about adding support for serializing collections of beans by Ebean's `ObjectMapper`?
It will be useful when you need to serialize result of `ExpressionList.findList()`

[2020-01-21 20:11] #9346 closed

[2020-01-21 20:11] #9345 closed

[2020-01-21 21:28] roti opened #10004 "Sbt Plugin 2.5.x not available in official repos"
Play sbt-plugin is not available in the official repo anymore (apparently): https://www.playframework.com/documentation/2.5.x/Repositories#Typesafe-repository

I have found it via Google in another repo, but I need the official one, hence this ticket. I appreciate the help.

Razvan

[2020-01-21 23:11] mkurz commented on #9839
Fix is here: #10005, hopefully it makes it into 2.8.1

[2020-01-21 23:15] mkurz commented on #9910
For the record: There is a bit of explanation in the [migration guide](https://www.playframework.com/documentation/latest/Migration27#Application-starts-when-evolutions-scripts-need-to-be-applied-in-DEV-mode) already, which we could recycle and put into a section of https://www.playframework.com/documentation/latest/Evolutions.

BTW: I will have a look at what @gmethvin is talking about in https:/

[2020-01-21 23:41] gavinbaumanis commented on #9976
I have PR 10006,
Please let me know if there is anything I missed.

[2020-01-22 20:00] benmccann opened #10007 "Java dependency injection docs reference outdated default setting"
[The docs say to set `routesGenerator := InjectedRoutesGenerator` to enable dependency injection](https://www.playframework.com/documentation/2.8.x/JavaDependencyInjection#Dependency-injecting-controllers
). I have not done this and dependency injection still works. I think the docs are outdated. The 2.5 migration guide says this is the default. The 2.7 migration guide says the static routes gener

[2020-01-22 20:02] benmccann commented on #10007
Another thing to check, does the `@` symbol in the routes file still have special meaning?

[2020-01-22 20:23] mkurz commented on #10007
Yeah, the docs are outdated. The `InjectedRoutesGenerator` is the default one and no other exist anymore (the static one got removed). AFAIK the `@` symbol still has the meaning described in the docs, so no change here.

[2020-01-23 04:19] gavinbaumanis opened #10008 "Code samples in documentation should match a seed project."
The code samples in the documentation are not complete.
It is often unclear where the code snippet provided should go.
Does it go in a model?
Does it go in a controller?

And if the file is mentioned, it is often like;
"In your controller
<code snippet here> "

But it is "just" a snippet and there is no clear instruction as to where it goes.
Is it in the pseudo constructor?
Is it in a specific met

[2020-01-25 19:44] mkurz commented on #9839
Fix will be included in Play 2.8.1

[2020-01-25 19:44] #9839 closed

[2020-01-27 09:58] roti commented on #10004
I found the problem. It's due to the fact that sbt-plugin for play 2.5 is available only for scala 2.10, and apparently sbt plugins always run with scala 2.10 for sbt 0.13, regardless of the scalaVersion of the project. In my case however, I needed to add `addSbtPlugin` to `build.sbt`, since my project was an sbt plugin itself. So the only real problem was that sbt-plugin needs scala 2.10 (in cont

[2020-01-27 09:58] #10004 closed

[2020-01-27 20:22] gavinbaumanis commented on #9976
@all;
I have signed the CLA, multiple times.
I am not sure why it is still saying I need to do it again.

[2020-01-27 20:31] rbygrave commented on #9922
@PromanSEW ... maybe outline more of what you mean?  Ebean's JsonContext can serialise collections of entity beans already.

We need to be careful about talking about ObjectMapper as strictly speaking Ebean generally isn't using a Jackson objectMapper (it only uses a Jackson ObjectMapper for non entity bean complex types).

[2020-01-27 23:50] ademshin commented on #2484
6 years after same question...

[2020-01-28 03:43] PromanSEW commented on #9922
@rbygrave I got empty object when I used `DB.json().toJson()` with `List<Model>`
This problem is reproducible in my test case here:

https://github.com/PromanSEW/play-json-issue/blob/4a133e2d0e69c4ad86c94ed2b97e0d27cc7e521b/tests/controllers/RestControllerTest.java#L25

Just uncomment this line and see console input while test is failing

[2020-01-28 04:08] rbygrave commented on #9922
I'd rather you create an Ebean test that runs without Play framework or review the existing Ebean tests which cover this like:
https://github.com/ebean-orm/ebean/blob/master/src/test/java/io/ebean/text/json/JsonContextTest.java#L44

There are a lot of uses of `DB.json().toJson()` in the Ebean tests.

[2020-01-28 06:09] harshajayaweeraXHJ opened #10012 "OutOfMemoryError: unable to create new native thread] Error"
I have an endpoint which calls every 5 seconds from front-end to query database and get data like below:

[code]
dbExecutionContext is a custom execution context class created by me like below.

[code]
Also in application.conf
[code]

Server was running for few hours without any issues and front-end was calling above end-point continuously every 5 seconds then it gave following error.

play.api.Un

[2020-01-28 08:44] renatocaval commented on #10012
Hello,  

A quick search on Google gives several results, for instance: https://plumbr.io/outofmemoryerror/unable-to-create-new-native-thread

It's hard to know why your app is throwing out of memory errors without knowing more context, but in a nutshell, it's trying to allocate new threads and there is not enough memory for it. Your application has reached the limit of threads it is allowed to al

[2020-01-28 08:44] #10012 closed

[2020-01-28 08:45] renatocaval commented on #9976
Resoled by #10006

[2020-01-28 08:45] #9976 closed

[2020-01-28 08:57] harshajayaweeraXHJ commented on #10012
Thanks. Sure i'll post this on the forum. Yes I also saw the similar answers to this (https://plumbr.io/outofmemoryerror/unable-to-create-new-native-thread) But I was wondering whether it has something to do with custom execution context I created since i'm using CompletionStage. Whether it could be play specific configuration or any anti pattern i'm following when using CompletionStage with custo

[2020-01-29 01:08] SethTisue commented on #9935
there's discussion on this, and at least a partial resolution, at https://github.com/ornicar/play-cdi-leak/pull/1, thanks to @wsargent

[2020-01-29 07:49] dwijnand commented on #9737
Fixed in #9970.

[2020-01-29 07:49] #9737 closed

[2020-01-29 07:49] dwijnand commented on #8453
Fixed in #9970

[2020-01-29 07:49] #8453 closed

[2020-01-29 14:17] tiagoaleff commented on #8286
Is there a difference between _play.server.http.idleTimeout=180**s**_  and _play.server.http.idleTimeout=180 **seconds**_ ?

[2020-01-29 15:40] ihostage commented on #8286
@tiagoaleff Nop. See [this section](https://github.com/lightbend/config/blob/master/HOCON.md#duration-format) of HOCON docs for details.

[2020-01-29 17:48] marcospereira commented on #9935
Hey @ornicar, I'm not sure if there is something we can do on our side related to that. As @wsargent explained, if a resource has some sort of initialization that needs to be undone, like the Kamon agent apparently does, then we already provide the APIs to make that happen (although I'm not sure Kamon has something like `shutdown`, `close`, etc.).

This is what I'm getting after commenting out the

[2020-01-29 17:51] marcospereira commented on #9935
A possible workaround is to have a flag to activate Kamon in dev mode, maybe? So that you can run something like `sbt -Dkamon=true` and check for this property in the application loader. But I'm not sure how this impacts other places where Kamon API is used.

[2020-01-31 21:01] #9999 closed

[2020-02-02 05:42] ignasi35 opened #10027 "Improve Graceful termination"
Play `2.8.1` introduces graceful termination when using the `Akka-HTTP` backend (default). See #9970 .

As mentioned in https://github.com/akka/akka-http/issues/1210#issuecomment-484344006, there's an even better approach. The improvement is small and trivial and relies on the fact that, on `AkkaHTTP`, `.terminate` invokes `.unbind` and `.unbind` is idempotent. So, instead of just calling `.termin

[2020-02-02 15:16] mkurz commented on #9835
@MarcinAman I saw you did some work in your [`specify-evolutions-table` branch](https://github.com/MarcinAman/playframework/commits/specify-evolutions-table). Do you want to open a pull request with that fix?

[2020-02-04 15:50] mkurz commented on #9799
@jrudolph I guess this can be closed now, Play 2.8.1 got released with akka 2.6.3 already - which should contain the fix AFAIK?

[2020-02-05 07:54] octonato opened #10034 "Failed: Scripted tests failed with mixed akka versions in classpath"
This happened on a CRON job on `master`.

The offending scripted test is `http-backend-akka-http`. Really not clear how Akka 2.6.2 was pulled in.

https://travis-ci.com/playframework/playframework/jobs/283666697#L331

[code]

[2020-02-05 09:39] awouda opened #10036 "overriding configuration in devSettings not being picked up 2.8.0"
### config.file in devSettings

Hi,

We we're behind in upgrading, coming from 2.6.
In our build.sbt we had:

`devSettings := Seq("config.file" -> (baseDirectory.value / "lokaal" / "conf" / "application-lokaal.conf").toString)
`

After upgrading to Play 2.8.0, this setting does not seem to be picked up.
We have a workaround by using
`javaOptions in Runtime ....`
and setting the config.file system

[2020-02-05 09:41] mkurz commented on #10036
This is fixed in 2.8.1, see #10010

[2020-02-05 09:49] mkurz commented on #10036
@awouda Let us know if upgrading directly to Play 2.8.1 works for you. If not, please re-open this issue.

[2020-02-05 09:49] #10036 closed

[2020-02-05 09:54] awouda commented on #10036
Ok, missed it in my search to fix it. Did not check the issues here, sorry.
We'll use 2.8.1.

Thanks

[2020-02-05 14:30] mkurz commented on #9835
See #10039

[2020-02-06 09:08] mkurz commented on #9910
References #10030

[2020-02-06 21:44] slisaasquatch opened #10040 "GzipFilterConfig threshold not exposed in Java API"
### Play Version

2.8.1

### API

Java

### Operating System
N/A

### JDK
1.8.0_232

### Library Dependencies
N/A

### Expected Behavior
### Actual Behavior
`GzipFilterConfig` has a property called `threshold`, but it's missing the method `withThreshold`, making it difficult to set it in Java.

### Reproducible Test Case
N/A

[2020-02-06 21:54] mkurz commented on #10040
@slisaasquatch Do you want to provide a pull request to add the method? Here is the source you need to change: https://github.com/playframework/playframework/blob/2.8.1/web/play-filters-helpers/src/main/scala/play/filters/gzip/GzipFilter.scala

[2020-02-07 08:51] octonato opened #10044 "Failed: failed to connect to GitHub"
Happened on CRON job in 2.7.x

https://travis-ci.com/playframework/playframework/jobs/284719424#L224

[code]

[2020-02-07 09:01] renatocaval commented on #10044
Also happenend on CRON job in master

https://travis-ci.com/playframework/playframework/jobs/284719439#L183

[2020-02-07 13:32] renatocaval opened #10045 "Failed: when executing Jabba"
Failed CRON job on 2.8.x

Same as in https://github.com/lagom/lagom/issues/2679
https://travis-ci.com/playframework/playframework/jobs/284795866#L261

[2020-02-10 10:16] renatocaval opened #10047 "Failed: Akka - Detected possible incompatible versions on the classpath"
On CRON master

https://travis-ci.com/playframework/playframework/jobs/285313693#L752

This is flaky and odd. I have seen it before. The scripted test fails with

[code]

while I don't see any reason for 2.6.3 being used instead of the snapshot version. Somewhere, something is pulling 2.6.3. What is odd, is why this is not always failing.

[2020-02-10 10:32] renatocaval opened #10048 "Failed: JNotifyAdapterLinux"
On CRON job 2.7.x

https://travis-ci.com/playframework/playframework/jobs/285313669#L2151

[code]

[2020-02-10 10:33] renatocaval commented on #10048
@dwijnand, don't we have already a fix for that?

Maybe it's just a matter of backporting it to 2.7.x?

[2020-02-11 08:36] renatocaval commented on #10047
Happened again on CRON master

https://travis-ci.com/playframework/playframework/jobs/285739395#L1013

[2020-02-11 12:15] amanteaux opened #10055 "Java Routing DSL does not work with Java 12 onwards"
This is the same as issue #5136: from Java 9 onward users see this error:
[code]

It looks like it is related to https://github.com/jhalterman/typetools/issues/52, but since this issue is inactive since April 2019, maybe it is time to move away from typetools library. Is this library really required?

### Play Version
2.8.1

[2020-02-11 12:30] bursauxa opened #10056 "JSON body parsers do not support maxLength in the type-checking version"
### Play Version

Play 2.8.0 on Scala 2.12.10

### Description

There are currently three overloads of the function `json` in trait `PlayBodyParsers`:
- `json: BodyParser[JsValue]` -> uses default maxLength and weakly typed
- `json(maxLength: Long): BodyParser[JsValue]` -> takes maxLength parameter and weakly typed
- `json[A](implicit reader: Reads[A]): BodyParser[A]` -> uses default maxLength and

[2020-02-11 12:40] amanteaux opened #10057 "Java Routing DSL does not enable to stream requests body"
Java Routing DSL enables to stream responses using the `play.routing.RoutingDsl.PathPatternMatcher.routingAsync()` method. However Java Routing DSL does not enable to stream a request body.
Indeed, even the `play.mvc.Http.Request.body().asRaw()` method returns an object where the whole body request is loaded into memory (as a `String` field).

By looking at the documentation, I can see that body p

[2020-02-12 08:52] renatocaval commented on #10047
Again https://travis-ci.com/playframework/playframework/jobs/286195049#L758

This is clearly not a flaky test anymore.

[2020-02-12 12:02] tiagoaleff commented on #8286
Thanks for the answer

[2020-02-13 00:57] shkhln commented on #9935
I'm afraid the only working solution there involves resetting static fields in third party code through reflection. See [classloader-leak-prevention](https://github.com/mjiderhamn/classloader-leak-prevention) for an example of this approach.

Personally, I'm using the code from this [gist](https://gist.github.com/shkhln/b8ee1f6d2930da11f2d2de262fafa987) for Play 2.6 and reloads _within_ a single r

[2020-02-13 12:53] q-lukasz commented on #8716
I also didn't get any earlier exceptions.
@wsargent , would you consider reopening the issue?

[2020-02-13 16:58] wsargent commented on #8716
@q-lukasz https://github.com/playframework/playframework/issues/9020 is open and has a reproducing test case replicating the issue here, so it's better to continue discussion on that thread.

[2020-02-14 05:54] marcospereira commented on #10056
You don't need to do that, though. You can do something like:

[code]

I think this is a better alternative than trying to add more overloads out-of-the-box.

[2020-02-15 03:54] marcospereira commented on #10055
Hi @amanteaux,

Can you provide a reproducer? I tried with Java 11 and it works like expected. This is the Java version I'm using:

[code]

[2020-02-15 04:02] marcospereira commented on #10048
Closing since the latest cron build is green: https://travis-ci.com/playframework/playframework/builds/148903597

[2020-02-15 04:02] #10048 closed

[2020-02-17 09:53] raboof commented on #10047
The diagnostics in https://travis-ci.com/playframework/playframework/jobs/287932905#L2899 show that the `com.typesafe.play:play_2.12:2.8.1+223-64a580d8` that is used in this test depends on Akka 2.6.3 instead of Akka 2.6.3+65-56c13dcd.

Do we want the cron travis build to:
* build against Akka 2.6.3 for both the main build and the scripted tests
* build against Akka snapshot for both the main buil

[2020-02-17 12:50] ennru opened #10072 "URI parsing fails for `//`"
References #6802, #3629

The problematic code is in
https://github.com/playframework/playframework/blob/6df5da49c1ddc334e92b5d5f856d99995ff09a30/transport/server/play-server/src/main/scala/play/core/server/common/PathAndQueryParser.scala#L36

### Play Version

2.8.1 (and earlier)

### Expected Behavior

~~The URI double slash `//` should be interpreted to be just `/`~~.
The illegal URL should not

[2020-02-17 13:33] jacwah opened #10073 "Database password revealed in logs"
Play version: 2.7.3
Language: Scala

If the database password is specified using the query string of the JDBC URL, the password is leaked in the logs. According to [OWASP Logging Cheat Sheet](https://owasp.org/www-project-cheat-sheets/cheatsheets/Logging_Cheat_Sheet), authentication passwords and database connection strings should never be logged in plain text.

Example:

    [info] p.a.d.DefaultD

[2020-02-17 19:10] amanteaux commented on #10055
Hi @marcospereira,

Sorry, my mistake about Java 9, I was actually using Java 12...

The issue occurs with Java 12 and Java 13.
I created a minimal example to reproduce it at: https://github.com/amanteaux/play-dsl-java12
This example contains a single class that raises the error: https://github.com/amanteaux/play-dsl-java12/blob/master/src/main/java/playdsltest/Application.java

Do not hesitate if

[2020-02-18 15:36] bursauxa commented on #10056
Having out-of-the-box HTTP 400 for invalid JSON was important to me, which is why the simple `map.as` was not enough.

On the other hand I saw your more detailed answer to the pull request (#10059) and went with that, so the overload described in this issue is not as necessary as I thought it was.

[2020-02-18 18:40] marcospereira commented on #10056
Thanks, @bursauxa.

I'm closing this issue then, and any further discussion is necessary, we can make it happen in the PR.

[2020-02-18 18:40] #10056 closed

[2020-02-18 20:11] marcospereira commented on #10055
Thanks, @amanteaux.

I was able to reproduce the problem using your project and Java 13 (the version I had installed already). The full stack trace is:

[code]

And, yes, it looks like it is related to jhalterman/typetools#52 and [reflection changes in Java 12](https://bugs.openjdk.java.net/browse/JDK-8210522).

Yes, and I don't think it is a good idea for us to bake our own reflection tools, so t

[2020-02-18 20:41] marcospereira commented on #9935
Hey @shkhln,

Thank you for pointing that out. It looks like some of those clean ups in the gist we need to do out-of-the-box (the one for `DefaultTemporaryFileCreator`, Jackson, and Logback at least).

Do you want to submit a PR for that?

[2020-02-18 21:12] shkhln commented on #9935
The `DefaultTemporaryFileCreator` fix does not apply to the subsequent Play versions, don't bother with that one.

Obviously not. Most of these fixes (by necessity) completely ignore public APIs.

[2020-02-19 22:48] sandeepsingh74 opened #10077 "Kerberos Authentication issue: SpnegoEngineException: No LoginModules configured for ""
### Play Version
2.8.1

### API
Scala

### Operating System
CentOS Linux release 7.7.1908 (Core)

### JDK
OpenJDK Runtime Environment (build 1.8.0_232-b09)

### Library Dependencies
N/A

### Expected Behavior
The playframework doc says it supports KERBEROS AuthScheme (https://www.playframework.com/documentation/2.8.x/ScalaWS#Configuring-WS). I am trying to connect an end-point which requires Kerbe

[2020-02-20 08:24] gmethvin commented on #10072
This was also discussed in https://github.com/playframework/playframework/issues/4933, where @jroper explained why returning a 400 here is the correct behavior according to the URI spec. I suppose you're saying it makes more sense to ignore the spec here for the sake of usability.

I do feel like logging at `warn` doesn't make sense, because it makes it appear that something is wrong with Play. We

[2020-02-20 08:56] jroper commented on #10072
I definitely don't think we should silently drop the slash, I would rather pass an invalid URI to the user than a different URI to what Play received. Imagine if you were expecting a load balancer to never forward requests to /, for stove security reason, but then it does foreward //, and then Play treats that as /, very bad. Perhaps we could special case // and not parse it using URI, instead jus

[2020-02-20 13:07] ennru commented on #10047
This still fails
https://travis-ci.com/playframework/playframework/jobs/289135295#L3745

[2020-02-20 19:33] gmethvin commented on #10072
I would also prefer not to deviate from the spec. If we're concerned about users being confused, we can perhaps improve the error message in this case to make it more clear.

[2020-02-21 08:57] renatocaval commented on #10047
I won't have much time to continue on this today. And next week I'm off.

I will unassign myself.

[2020-02-21 09:05] ennru commented on #10072
You're right, the HTTP response should not be changed.

Not reporting illegal request URIs as warnings would be better.

[2020-02-21 09:22] dwijnand commented on #10047
Good call, Arnout.  The whole point of sbt-dynver is try and create stable versions (with nicer names than the hash of the contents).  But the setup doesn't take into account that TRAVIS_EVENT_TYPE=cron is changing the contents.  Let's propagate that in the version number (in dynver I use timestamp, which I think might be a good fix here).

Btw, I think this might've regressed since https://github

[2020-02-21 11:02] axuan25 commented on #8439
We had similar errors in our logs. Just in case, here's what we were doing wrong just in case someone might be doing the same.

`RequestHeaders.acceptLanguages` fetches a list of recognized languages:
[code]
`Lang.get` works by using a `Try` on on `Lang.apply`:
[code]
That's because `Lang.apply` can throw an exception:
[code]

In our language support trait, we first fetched the list of accepted la

[2020-02-22 11:19] AnamikaSingh-DataScience opened #10081 "Not able to parse the Json file with its relation_tree and split into multiple Json file for each child without any hard coding of Node/Tag (As structure of Json is not always same also very lengthy json). Input and Output is pasted below :"

[2020-02-24 10:25] jrudolph commented on #10047
Failed a few more times in

https://travis-ci.com/playframework/playframework/builds/150127608
https://travis-ci.com/playframework/playframework/builds/150181900
https://travis-ci.com/playframework/playframework/builds/150238220

[2020-02-25 04:12] iurisman commented on #7910
I haven't read all the comments so forgive me if this has been mentioned. Already, in 2.8 at least, I can use in `build.sbt` something routes imports: `routesImport += "com.mydomain.mypackage._"`  Seems like if only I could use not just classes but packages with this same facility, the problem would be neatly solved.

[2020-02-25 07:16] raboof commented on #10047
seems to have done the trick (https://travis-ci.com/playframework/playframework/builds), let's reopen when it pops up again

[2020-02-25 07:16] #10047 closed

[2020-02-25 18:12] austinfunraise opened #10088 "TimeoutException when accessing AsyncCacheApi and then blocking on the resulting CompletableFuture"
### Play Version

2.8.0

### API

Java

### Operating System

macOS Mojave 10.14.3

### JDK

java version "1.8.0_202-ea"
Java(TM) SE Runtime Environment (build 1.8.0_202-ea-b03)
Java HotSpot(TM) 64-Bit Server VM (build 25.202-b03, mixed mode)

### Library Dependencies

n/a

### Expected Behavior

1. Client makes request to controller method that accesses an AsyncCacheApi and blocks on the response

[2020-02-27 18:08] b-gyula opened #10093 "`JsonHttpErrorHandler.error` shall be protected to let inherited classes to override"
### Play Version

2.8.1

### API

scala

### Operating System
ALL

### JDK

All

### Expected Behavior

`play.api.http.JsonHttpErrorHandler.error` could be protected to let inherited classes to override

### Actual Behavior

Now if someone wants to have JSON error structure to be returned other than the
[code]
the complete class needs to be rewritten,

[2020-03-01 07:06] flicken opened #10099 "Form Mapping#unbindAndValidate doesn't apply global verifications"
### Play Version
2.8.0 (has been present since at least 2.6.x)

### API
Scala

### Operating System
Mac OS X

### JDK
openjdk version "11.0.5" 2019-10-15
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.5+10)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.5+10, mixed mode)

### Library Dependencies

N/A

### Expected Behavior

1. Create mapping with a global verification, eg

2. Unit test v

[2020-03-02 20:01] seglo commented on #10045
Seems to be an intermittent issue on Play! framework 2.7.x branch as well.

https://travis-ci.com/playframework/playframework/jobs/292032877?utm_medium=notification&utm_source=email

[2020-03-02 20:28] marcospereira commented on #10045
It looks like the last failure is related to Github having some issues last week. Maybe we can ask `curl` to `--retry` some times. 🤔

[2020-03-03 10:42] #10045 closed

[2020-03-03 18:07] marcospereira commented on #10057
We can eventually add a `asSource` returning a `akka.stream.javadsl.Source<akka.util.ByteString>`, which would be more consistent with other APIs and still interoperable with Reactive Streams.

But, I think the ultimate problem here, regarding, Java Routing DSL is this one:

Priority wise, this is not on our backlog, so contributions are very welcome.

[2020-03-03 19:32] marcospereira commented on #10027
Maybe something to be fixed after https://github.com/akka/akka-http/issues/2955?

[2020-03-03 21:04] seglo opened #10106 "Failure: scripts/test-scripted 'play-sbt-plugin/*3of3'"
https://travis-ci.com/playframework/playframework/jobs/292654863?utm_medium=notification&utm_source=email

[code]

There wasn't much other information to go on.  See build log.

[2020-03-03 21:05] seglo commented on #10106
https://travis-ci.com/playframework/playframework/jobs/292689750?utm_medium=notification&utm_source=email

[code]

Probably related.

[2020-03-03 21:06] seglo commented on #10106
https://travis-ci.com/playframework/playframework/jobs/292689820?utm_medium=notification&utm_source=email

[2020-03-04 06:12] marcospereira commented on #10073
Thanks, @jacwah.

As a workaround, I would suggest not configuring the password in the url, but I definitive fix would be rather log the url only in DEV mode:

https://github.com/playframework/playframework/blob/2.8.x/persistence/play-jdbc/src/main/scala/play/api/db/DBModule.scala#L92

So it won't happen in production, where it matter most. Or we can just completely omit the url from the log entry

[2020-03-04 06:14] marcospereira commented on #10081
Hello @AnamikaSingh-DataScience,

Our [forums](https://discuss.playframework.com) would be a better place to discuss this. Github issues are for reporting bugs and feature requests in Play, not for general discussion and getting help. Given that, I'm closing this.

Best.

[2020-03-04 06:14] #10081 closed

[2020-03-04 13:44] jrudolph opened #10107 "AkkaHttpServer handler might fail with NPE in handleRequest"
Originally report by @juli1: https://github.com/akka/akka-http/issues/2979
Play 2.8.0

[code]

The line in question:

https://github.com/playframework/playframework/blob/3c008185a851c26c8cf82ee46ddb0882086fce7b/transport/server/play-akka-http-server/src/main/scala/play/core/server/AkkaHttpServer.scala#L299

Probably an initialization and/or visibility problem. Since `createServerBinding` is run in

[2020-03-04 21:25] seglo opened #10108 "Failed: unresolved dependency: com.typesafe.play#build-link (snapshot)"
https://travis-ci.com/playframework/playframework/jobs/293818725?utm_medium=notification&utm_source=email

[code]

[2020-03-05 10:01] ipanpapan opened #10109 "Hi,"
### Play Version

### API

### Operating System

### JDK

### Library Dependencies

### Expected Behavior

1.
2.
3.

### Actual Behavior

1.
2.
3.

### Reproducible Test Case

[2020-03-05 10:55] EdozdeDandez opened #10110 "Manually adding error on form"
### Play Version

2.8.0

### API

Java

### Operating System
Mac OS

### JDK

openjdk version "1.8.0_202-release"
### Library Dependencies

### Expected Behavior

1. Return a form withError
2. Retrieve form errors and display
3. The returned error should be among the form errors

### Actual Behavior

1. Form is returned withError
2. Form errors are retrieved
3. Nothing is displayed

### Reproducib

[2020-03-05 11:02] mkurz commented on #10110
First: It it depends if you added a global error or a error for an form element. Please read https://www.playframework.com/documentation/2.8.x/JavaForms#Handling-binding-failure
Please also read: https://www.playframework.com/documentation/2.8.x/JavaFormHelpers

Second: You should post some code so we can reproduce the problem.

Third: If this is a question, please open a thread in our discussion

[2020-03-05 15:01] ersefuril commented on #8421
I've this issue as well with Nginx 1.14 and Play framework 2.6.20. It's really weird because we receive this error from time to time only, the app seems to run without any issue.

**build.sbt**
[code]

**project/plugins.sbt**
[code]

[2020-03-05 15:11] seglo opened #10111 "Failed: Java doc generation failure on nightly-deploy-2.8.x"
[code]

[2020-03-05 15:15] seglo opened #10112 "Failed: validate-code script failure on 2.8.x master"
All the validation tasks are failing

https://travis-ci.com/playframework/playframework/jobs/294852023

[code]

[2020-03-06 10:24] ksv510 opened #10113 "Upload empty file"
We have found the following PR https://github.com/playframework/playframework/pull/8882/files#diff-20801290d88b7f6470285127f95c3f0dR559

Why do you think that there is no sense to upload an empty file?

For example, I have implemented TODO list based on files. And file name is something like category. In this case, I cannot create empty category.

I know that this example is far-fetched. But all f

[2020-03-06 10:42] mkurz commented on #10113
Interesting. Maybe we can make that configurable. For the multipartform body parser and globally via application.conf.
Do you use java or scala?

[2020-03-06 10:53] ksv510 commented on #10113
we use Java. It would be great if we can configure it. Thank you for the fast reply.

[2020-03-09 08:51] chbatey opened #10117 "Failed: verifyResourceContains"
[code]

https://travis-ci.com/playframework/playframework/jobs/295578910?utm_medium=notification&utm_source=email

[2020-03-09 17:37] kujosHeist commented on #8177
any work around for this?

[2020-03-09 22:45] phaus opened #10120 "[Docs] MigrationGuide from 2.4 to X for EventSource is unspecific"
I am currently migrating a Play 2.4 Application to a newer Version of Play.
The current Application also uses SSE and that currently with the `LegacyEventSource`.

https://github.com/playframework/playframework/blob/master/documentation/manual/releases/release25/migration25/StreamsMigration25.md#migrating-server-sent-events-eventsource

However, the documentation provides some hints:

----

* To m

[2020-03-11 03:16] barathguna opened #10122 "Cookie.DiscardingCookie is not setting sameSite value"
### Issue
When Session is cleared using `withNewSession` or `data` map is empty in Session then the play_framework code applies `DiscardingCookie` which reset the `PLAY_SESSION`.
But `DiscardingCookie` is not using `sameSite` settings. So the set-cookie is ignored by browser.

### Play Version
2.7.4

### API
[DiscardingCookie()](https://github.com/playframework/playframework/blob/master/core/play/

[2020-03-11 18:19] jschwendt opened #10125 "Java 14 Support"
Given that Java 14 is due to launch on March 17, 2020, it would make sense to start working towards adding support for it in the upcoming versions of Play.  Here's what's new: https://medium.com/better-programming/whats-new-in-java-14-a472ec291c05

The new garbage collection model is very attractive!

[2020-03-11 21:25] dmitchellmim opened #10126 "Play running on Akka HTTP occasionally fails to respond to TLS False Start, taking 75 seconds or more to load the page"
### Play Version
2.7.4 (though I've also reproduced this in 2.6)

### API
Java (though I believe it doesn't matter)

### Operating System
MacOS 10.14.6 (though I've also reproduced this on Windows Server 2020 and CentOS)

### JDK

OpenJDK 11.0.2+9 (though I've also reproduced this with JDK 8)

### Library Dependencies

N/A

### Expected Behavior

1. Open any HTTPS page in Firefox.
2. The page load

[2020-03-12 07:35] JoeSilentJoe commented on #10113
The same problem. When can I wait for the ability to download empty files to return?

[2020-03-12 07:37] mkurz commented on #10113
I am very busy right now with other things, however maybe I can have a look in the next couple of days.

[2020-03-12 08:11] JoeSilentJoe commented on #10113
Thanks! It would be great!

[2020-03-13 14:33] #10073 closed

[2020-03-14 16:41] AlexITC opened #10131 "Evolutions enhancements"
After playing a bit with the play evolutions, I found some annoying details when `autoCommit` is `false`.:
- All scripts are applied in the same transaction ([code](https://github.com/playframework/playframework/blob/master/persistence/play-jdbc-evolutions/src/main/scala/play/api/db/evolutions/EvolutionsApi.scala#L213)), ideally, each script is applied on it's own transaction, so that a failure in

[2020-03-15 21:35] mkurz commented on #10131
I am not sure if that is better than the current behaviour of applying all the scripts within one single transaction. For example: If a deployment of a new _application feature_ changes/adds/removes (many) database objects, these DML statements could also reside in different evolution files (specially if you are in a team where different people add different evolution files). Now if one of the las

[2020-03-16 01:22] AlexITC commented on #10131
That's right, and it's the reason why I suggested the config.

In my case, I have an application that use the evolutions to perform costly migrations, rejecting the last script required the server to apply everything again which took hours. In this case, I end up fixing the last error manually (because there is no other simple way on this app), which lead me to the other case, when the transaction

[2020-03-17 06:10] aollin commented on #9043
Reproduced on 2.8.0 and sbt 1.3.8

[2020-03-17 12:59] amigossq opened #10135 "UnmappableCharacterException instead real exception"
When i try to migrate my project from 2.6.24 to 2.8.1, i found strange bug.

In this example i forgot insert semicolon

[code]
i get

`[error] D:\works\projects\tmp\play-samples\play-java-rest-api-example\app\controllers\HomeController.java:14:1: ';' expected`

That's correct message. But if my code contain cyrillic symbol "И" and only it!
[code]
I receive
[code]

That's useless exception info.

#

[2020-03-17 14:37] amigossq commented on #10135
I used decision from here https://github.com/playframework/playframework/issues/8449
`-Dfile.encoding=UTF8`

[2020-03-17 14:37] #10135 closed

[2020-03-19 07:48] JoeSilentJoe commented on #10113
Hello @mkurz !

Is there any progress on this issue?

[2020-03-19 20:01] octonato opened #10136 "Failed: Jabba - Syntax error near unexpected token `newline'"
Cron in `2.8.x`
https://travis-ci.com/github/playframework/playframework/jobs/299807852?utm_medium=notification&utm_source=email

Error fetching Jabba. Returned a html page instead of a file with shell script.

[code]

[2020-03-19 20:02] renatocaval commented on #10136
Happened on another job on the same build:

https://travis-ci.com/github/playframework/playframework/jobs/299807850?utm_medium=notification&utm_source=email

[2020-03-20 11:47] mkurz commented on #10113
@JoeSilentJoe Not yet, sorry. Even if I would fix this today, a new Play release will take a while anyway I guess. I put it onto my TODO list, hopefully the next days.

[2020-03-20 12:33] octonato opened #10139 "Failed: Travis failing to download artifacts"
Travis network flakiness

[code]

[2020-03-20 12:54] raboof commented on #10139
shouldn't those have been cached anyway?

[2020-03-20 13:53] raboof commented on #10108
This was fixed by https://github.com/playframework/playframework/pull/10083 on master, but this failure was on 2.8.x, so I just requested a backport to 2.8.x

[2020-03-21 11:56] apflieger commented on #10125
I found an incompatibility with the ebean plugin. The sbt play ebean plugin depends on a version of ebean-agent that doesn't support java14. An update might be sufficient

Details : The current ebean-agent does that https://github.com/ebean-orm/ebean-agent/blob/1aa70aeab69afd95afa849db8ee1eb5e00021671/src/main/java/io/ebean/enhance/asm/ClassReader.java#L182
It has been updated here https://github.

[2020-03-21 12:28] mkurz commented on #10125
@apflieger You should report that in https://github.com/playframework/play-ebean

[2020-03-21 13:31] apflieger commented on #10125
Done https://github.com/playframework/play-ebean/issues/194

[2020-03-22 16:19] almothafar opened #10141 "Remove ebean.properties from main project"
First of all, I think this file is not belong to this project, as ebean is a different plugin and not necessary to use it anyway, also I see the file is already empty:

https://github.com/playframework/playframework/tree/master/core/play-java/src/main/resources

The second point that this file making a log warning about deprecated file:
[code]

This warning started since the latest version of ebea

[2020-03-22 17:11] mkurz commented on #10141
@almothafar do you want to provide a pull request?

[2020-03-22 17:36] almothafar commented on #10141
I can do if you want too

[2020-03-22 19:14] #10141 closed

[2020-03-23 08:53] renatocaval commented on #10139
🤷‍♂

[2020-03-23 23:41] kcsham commented on #9987
@Heyrows do you have the workaround posted or in a public fork for play 2.3?

[2020-03-24 08:52] Heyrows commented on #9987
@kcsham I have a fork on my account with a branch called ac/SplitSetHeaderCookie.
I reused what was done in recent versions and modified the encoding of cookies.
To complete it, you need in your project:
- add a cookie on a response like before
- get the header Set-Cookie and modify it to add the samesite attribute (cookies are now parse using ";;")
- set the header Set-Cookie on your response wit

[2020-03-24 13:24] thirdteeth opened #10143 "error in sbt run when enable akka ClusterMetricsExtension in a lib"
### Play Version 2.8.1

### API Java

### Operating System Mac

### JDK OpenJDK 1.8

### Library Dependencies

     "com.typesafe.akka" %% "akka-cluster-metrics" % "2.6.3",
      "com.typesafe.akka" %% "akka-distributed-data" % "2.6.3",
      "com.typesafe.akka" %% "akka-discovery" % "2.6.3",
      "com.typesafe.akka" %% "akka-http-spray-json" % "10.1.11",
      "com.typesafe.akka" %% "akka-http"

[2020-03-25 04:06] fusuiyi123 commented on #10072
Hi @ennru I am not sure if I follow the conversation here, is this issue still pending? Thanks!

[2020-03-25 04:39] fusuiyi123 commented on #9753
Hey @ignasi35 I am new to this and would love to work on this issue. Where can I start on this? refactor https://github.com/lagom/lagom/blob/50ecfbf2e0d51fe24fdf6ad71157e1dff97106b9/dev/build-tool-support/src/main/scala/com/lightbend/lagom/dev/ConsoleHelper.scala#L91 to a separate artifact? Thanks!

[2020-03-25 14:44] ignasi35 commented on #9753
Hi @fusuiyi123, I'm affraid I won't be very availalble for the next few days to assist you on this task. The main problem with this issue is that each file in [`play.utils`](https://github.com/playframework/playframework/tree/master/core/play/src/main/scala/play/utils) may need to go to a different place.

I think a first task would be to decide where each file should go.

[2020-03-26 02:24] fusuiyi123 commented on #9753
Hi @ignasi35 thanks for your reply, will it be similar to https://github.com/playframework/playframework/issues/9745 ?

[2020-03-26 07:59] hosschao opened #10145 "Access log doesn't work"
### 2.8.0

### Scala

### MacOS 10.15.3

### JDK 1.8

java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)
### Library Dependencies

### Expected Behavior

I follow this post to enable the access logger:
https://www.playframework.com/documentation/2.8.x/SettingsLogger

1. sbt run
2. visit http://localhost:90

[2020-03-26 09:34] ignasi35 commented on #9753
#9745 covers only `Configuration`. This issue is the generalization for all classes in `play.utils`.

[2020-03-26 09:39] ignasi35 commented on #9753
Yeah, similar to that, but for each of the other classes.

[2020-03-27 07:03] fusuiyi123 commented on #9753
understood, thank you

[2020-03-28 04:52] fusuiyi123 commented on #9753
does it mean they all go to one separate sub-project or different project..?

[2020-03-28 05:38] fusuiyi123 commented on #9753
seems https://github.com/playframework/playframework/pull/9887 already moved the utils to `play-utils`

[2020-03-28 19:03] mkurz commented on #7910
@iurisman This can easily be solved already, the only comment you need to read is [this one](https://github.com/playframework/playframework/issues/7910#issuecomment-453666277).

[2020-03-28 19:27] fusuiyi123 commented on #9187
Hey @gmethvin I added a pr for this issue:)

[2020-03-29 02:37] #9187 closed

[2020-03-29 05:08] fusuiyi123 commented on #9845
Hi @ignasi35 may I work on this? But what does `branch over scalaVersion?` means? thanks!

[2020-03-30 09:42] raboof commented on #9845
I'm not aware of anyone currently working on this, so go for it!

It means creating an 'if' where we import either 'CollectionConverters' or 'JavaConverters' depending on the targeted scala version

[2020-03-30 09:49] #8474 closed

[2020-03-31 01:07] fusuiyi123 commented on #9845
Hey @raboof I sent a pr, could you suggest how to test it locally? Should I publish a snapshot to local and use a sample play project with the local snapshot version? If then what sample project should I use to test? Thanks!

[2020-03-31 08:29] raboof commented on #9845
Cool, thanks!

Yes, that would be great.

Any sample should do - for example the hello world from https://github.com/playframework/play-samples/tree/2.8.x/play-scala-hello-world-tutorial ?

[2020-03-31 19:14] fusuiyi123 commented on #9845
seems I cannot reproduce the error, I entered localhost:9000 and I get
[code]

[2020-03-31 19:24] will-sargent-eero opened #10160 "ActorSystemProvider should allow for DI aware ActorSystem"
### Play Version

2.8.x

### API

Both

### Expected Behavior

I'm using a Play application which has some custom Akka remoting serialization classes.  The constructor has to be a single arg `ExtendedActorSystem`, with the expectation that you're using an Akka custom extension to pull everything out:

https://doc.akka.io/docs/akka/current/serialization.html

and

https://doc.akka.io/docs/akka/curr

[2020-03-31 20:19] will-sargent-eero commented on #10160
Nevermind, this is trivial:

[code]

[2020-04-01 08:11] mkurz commented on #10040
Fixed by #10042.

[2020-04-01 08:11] #10040 closed

[2020-04-01 09:03] raboof commented on #9845
Perhaps if you add `-Xfatal-warnings` to the `scalacOptions`?

[2020-04-01 11:10] mkurz commented on #9703
Fixed by #9929

[2020-04-01 11:10] #9703 closed

[2020-04-01 13:29] jrudolph commented on #10139
https://travis-ci.com/github/playframework/playframework/jobs/310851800

[2020-04-01 13:30] jrudolph commented on #10139
https://travis-ci.com/github/playframework/playframework/jobs/310853206

[2020-04-01 13:33] jrudolph commented on #10139
https://travis-ci.com/github/playframework/playframework/jobs/311068938

[2020-04-01 13:34] jrudolph commented on #10139
We should probably look at why the caches are not working. That should bring down the error rates on days like this.

[2020-04-01 20:32] fusuiyi123 commented on #9845
yes I have this in the default hello-world repo, let me remove it to test

[2020-04-01 20:39] fusuiyi123 commented on #9845
still the same

[2020-04-02 02:16] neilchaudhuri commented on #9020
I get this error simply by upgrading to Play 2.6.25 from 2.6.17 and from SBT 0.13 to 1.3.5. My `application.conf` works in 2.6.17, so I don't know why these changes to versions would generate this obscure error...

[2020-04-02 10:39] sreddy-aie opened #10163 "DefaultHttpErrorHandler.onNotFound is not invoked for 404 Errors"
### Play Version
Play Version : 2.8.0
Lagom Version : 1.5.5

### API

Java

### Operating System

Windows

### JDK

JDK1.8

### Library Dependencies

### Expected Behavior

Actually, I am trying to override the Rest API response from HTML content to meaningful Error Json Response during an Exception or any rest api not found.

onNotFound() method of DefaultHttpErrorHandler.java should be invoked e

[2020-04-03 14:50] patriknw commented on #6183
I just run in to this when investigating why the Lightbend Config Checker is confused by the configuration of Lagom systems. I agree, that the [documentation](https://www.playframework.com/documentation/2.8.x/JavaAkka#Configuration) is wrong.

I would also suggest that we remove this line when default "akka" is used as `play.akka.config`:

https://github.com/playframework/playframework/blob/eede96

[2020-04-03 23:23] fusuiyi123 commented on #9117
Hey @marcospereira since I don't see any further updates in this issue, may I work on this? Any pointer would be helpful thanks!

[2020-04-04 07:47] an-tex commented on #9117
Hi @fusuiyi123 , sorry I totally forgot about that. From my side feel free to take over.  Cheers

[2020-04-05 08:06] #10145 closed

[2020-04-05 14:22] cnmuc commented on #9882
Any way to work around this?

[2020-04-06 00:53] fusuiyi123 commented on #8507
Hi @marcospereira I sent a pr for this

[2020-04-06 03:28] fusuiyi123 commented on #8459
may I work on this:)

[2020-04-06 14:35] brbrown25 commented on #9683
@mkurz if this is still an open issue, I wouldn't mind contributing.

[2020-04-06 14:38] mkurz commented on #9683
@brbrown25 Feel free to work on this. Just keep in mind that Play's Form handling is quite different in the [JavaAPI](https://www.playframework.com/documentation/2.8.x/JavaForms) than in the [ScalaAPI](https://www.playframework.com/documentation/2.8.x/ScalaForms).

[2020-04-06 14:39] brbrown25 commented on #9683
@mkurz noted, I will start looking into this today!

[2020-04-06 14:40] mkurz commented on #9683
:+1:

[2020-04-07 13:04] ignasi35 commented on #9845
Hi @fusuiyi123, thanks for stepping in and fixing this. The issue will only manifest when you are using the Java API of Play since the import causing the warning is only added if the `PlayJava` sbt plugin is used.
I see on your console output (pasted above) the project you use is named `play-samples-play-scala-hello-world-tutorial` so I'm assuming you are using the play scala sample (which won't m

[2020-04-07 14:38] seglo commented on #10108
Seems to still be a problem on master.

https://travis-ci.com/github/playframework/playframework/jobs/315634652#L1500

[2020-04-08 00:14] fusuiyi123 commented on #9845
<img width="1920" alt="Screen Shot 2020-04-07 at 17 13 25 (2)" src="https://user-images.githubusercontent.com/13977613/78730987-392f2b00-78f3-11ea-88bc-83c8d2e42fcf.png">

[2020-04-08 03:39] fusuiyi123 commented on #7692
Is this issue still open:)

[2020-04-08 15:25] ignasi35 commented on #9845
Oh, thanks for trying. I guess it's a particular usage. I originally saw the issue in `play-java-forms-example/app/views/listWidgets` (see the description in the issue above).

[2020-04-09 02:12] #9880 closed

[2020-04-09 02:53] fusuiyi123 commented on #9845
thanks, just reproduced the error in `play-java-forms-example`

[2020-04-09 12:28] lupari commented on #9922
I wonder if this was fixed in play-ebean 6 because I don't seem to be running into this problem any longer now that I got back to this after two months. I guess we were at play-ebean version 5 last time.

[2020-04-09 14:07] mkurz opened #10172 "Add Result attributes"
Just like "[Request attributes](https://www.playframework.com/documentation/2.8.x/Highlights26#Request-attributes)" we should also add "Result attributes".
Multiple times I was in a situation were I wanted to pass internal information via a Result down the Java action chain. E.g. when using [Java Action composition](https://www.playframework.com/documentation/2.8.x/JavaActionsComposition) I want t

[2020-04-09 23:24] wsargent opened #10176 "[doc] Hello World tutorial does not compile"
### Play Version

2.8.0

### Actual Behavior

The Hello World documentation at https://www.playframework.com/documentation/2.8.x/ImplementingHelloWorld does not compile if you follow the instructions.

The problem is the `(implicit assetsFinder: AssetsFinder)` added in the [first section](https://www.playframework.com/documentation/2.8.x/ImplementingHelloWorld#1.-Create-the-Hello-World-page).

The

[2020-04-10 01:06] #10176 closed

[2020-04-10 05:10] fusuiyi123 commented on #9845
I updated the pr

[2020-04-12 23:23] fusuiyi123 commented on #9837
seems the author already managed to solve it in his own from what I see in stackoverflow

[2020-04-12 23:40] fusuiyi123 commented on #8379
Hi @raboof may I work on this? and it could be great if you provide me some pointers

[2020-04-13 07:01] #10072 closed

[2020-04-13 13:08] harpocrates opened #10181 "tolerantText does not fallback properly after consuming some input"
`tolerantText` claims to try to decode the body text by trying several different character sets. However, it can inadvertently crop a prefix of the body if initial decoding failures do not occur at the very front of the input.

Here is the offending code in question. Note how the `byteBuffer` does not get set back to an initial position before re-retrying.

https://github.com/playframework/playfra

[2020-04-14 22:26] #10181 closed

[2020-04-15 08:51] bartschuller opened #10194 "temporary file folder no longer unique"
### Play Version

2.8.0-M4+

### API

Scala

### Operating System

`Linux primary 4.15.0-96-generic #97-Ubuntu SMP Wed Apr 1 03:25:46 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

### JDK

openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-8u242-b08-0ubuntu3~18.04-b08)
OpenJDK 64-Bit Server VM (build 25.242-b08, mixed mode)

### Library Dependencies

### Expected Behavior

1. We

[2020-04-15 08:53] mkurz commented on #10194
Thanks for the report. I will check. Let's target Play 2.8.2 with a fix if necessary.

[2020-04-15 08:54] mkurz commented on #10194
@bartschuller Do you want to provide a pull request with a fix?

[2020-04-15 09:01] bartschuller commented on #10194
Sorry, I don't have one.

[2020-04-15 09:06] mkurz commented on #10194
It's ok, I will take a look.

[2020-04-15 12:18] #9845 closed

[2020-04-15 13:57] ignasi35 commented on #10125
@jschwendt Java 14 is not an LTS so we'll probably hold until JDK 17 for any major work on supporting newer JDK's. Still, if you are only looking for GC improvements, I think running play in PROD mode on a JDK 14 "Should Work"™️.

[2020-04-16 09:59] Razormx90 opened #10197 "java.lang.IllegalArgumentException: Unsupported class file major version 57 - Guice 4.2.2"
### Play Version

2.8.1

### API

Java

### Operating System

Mac OS Catalina - 10.15.3

### JDK

java version "14.0.1" 2020-04-14
Java(TM) SE Runtime Environment (build 14.0.1+7)
Java HotSpot(TM) 64-Bit Server VM (build 14.0.1+7, mixed mode, sharing)

### Library Dependencies

guice 4.2.2

### Expected Behavior

1. Request a page that displays a list of items taken from a DB
2. Show the page

###

[2020-04-16 12:48] mkurz commented on #10197
The problem here is your are using Java 14. However Play officially supports Java 8 and 11 only.
The specific problem here is that guice comes with an asm version that does not support Java 14 yet.
The fix is to use Java 11.

[2020-04-16 12:48] #10197 closed

[2020-04-16 13:17] Razormx90 commented on #10197
Retried 3 times changing Java each time These are the version I tried:

java version "1.8.0_45"
Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.45-b02, mixed mode)

java version "1.8.0_251"
Java(TM) SE Runtime Environment (build 1.8.0_251-b08)
Java HotSpot(TM) 64-Bit Server VM (build 25.251-b08, mixed mode)

java version "11.0.7" 2020-04-14 LTS
Java

[2020-04-16 13:21] mkurz commented on #10197
Remove the `target` folder before trying again.

[2020-04-20 13:18] plippe opened #10201 "Put / Patch / Delete form"
Hey,

I was expecting the `helper.form` to behave similarly to the [Ruby on Rails one](https://guides.rubyonrails.org/form_helpers.html#how-do-forms-with-patch-put-or-delete-methods-work-questionmark), but it creates a form with unsupported methods.

This missing feature was raised as an [issue](https://github.com/playframework/playframework/issues/5313) before.

I have a working solution.

It use

[2020-04-20 15:52] mkurz commented on #10201
Not really sure if we should include this hack in Play itself, see the discussion in the issue you referenced.
Since it looks like this could be a common issue, we could either document your workaround or, as you suggested, you could create a play module which we could reference from the play docs.

[2020-04-20 16:47] plippe commented on #10201
Hi @mkurz;

Thank you for your answer.

Because it isn't "standard web", a library does make sense.
Similarly, it makes sense to include features found in other popular web frameworks.
...

I will start working on the module.
I am also happy to add my workaround in the documentation if that is something you wish.

[2020-04-20 17:20] mkurz commented on #10201
@plippe Let us know when your module is ready for prime time :+1:

[2020-04-21 12:08] mikail-khan opened #10204 "Unable to create a routes file with same name as a method in Predef"
I created a Play routes file with

[code]

The compiler barfed with this:

[code]

Looks like the compiler can't differentiate between a user-defined name for a route file and the Predef `identity` method. Is this a bug in Play.

[2020-04-21 16:13] GMShuhr opened #10206 "CONFIG_FORCE_: Environment variables appear twice in Configuration"
### Play Version

2.8.1

### API

Scala 2.12.8

### Operating System

MacOS 10.15.4

### JDK

java version "1.8.0_171"
Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.171-b11, mixed mode)

### Library Dependencies

### Expected Behavior

1. Define an environment variable (e.g. CONFIG_FORCE_dummy_foo_bar=1) on the command line according to the namin

[2020-04-21 22:09] plippe commented on #10201
Hey @mkurz;

I have a library up and running: https://github.com/plippe/play-form.
There are versions for play 2.6 to 2.8 as well as scala 2.11 to 2.13.

Code isn't perfect (build.sbt is 🤮), but everything should work.

I hope it helps.

[2020-04-21 22:15] mkurz commented on #10201
Nice!
You can add it to the Play modules directory: https://www.playframework.com/documentation/2.8.x/ModuleDirectory
Source: https://github.com/playframework/playframework/blob/master/documentation/manual/ModuleDirectory.md
Just open a pull request, thanks!

[2020-04-22 07:54] octonato opened #10209 "Failed: Test script error: File(s) did not exist"
Failed on `master` buiild.

https://travis-ci.com/github/playframework/playframework/jobs/321927314#L2408

[code]

[2020-04-22 08:20] plippe commented on #10201
Thank you for your help

[2020-04-22 08:20] #10201 closed

[2020-04-22 23:07] benmccann opened #10211 "Play uses outdated jjwt artifact and version"
From `./project/Dependencies.scala`:

    val jjwt = "io.jsonwebtoken" % "jjwt" % "0.9.1"

That library hasn't been updated since 2018. We should instead be using `jjwt-api`, `jjwt-impl`, and `jjwt-jackson`. The latest version is 0.11.1

For more details, see https://github.com/jwtk/jjwt#maven

[2020-04-22 23:21] benmccann commented on #10211
It looks like there was discussion of upgrading in https://github.com/playframework/playframework/issues/8446

Based on that discussion, if we upgrade jjwt then we can revert https://github.com/playframework/playframework/pull/8382

[2020-04-23 00:01] benmccann commented on #8446
Play fails with the latest jjwt:

[2020-04-23 00:22] benmccann commented on #8446
Ah, default in `reference.conf` is `changeme`, which is 8 bytes or 64 bits.

[2020-04-23 00:55] benmccann commented on #8446
Hmm, that doesn't seem to be it. I put `vQU@MgnjTohP?w>jpu?X0oqvmz21o[AHP;/rPj?CB><YMFcl?xXfq]6o>1QuNcXU` (generated by `playGenerateSecret`) in `core/play/src/main/resources/reference.conf` and `core/play/src/test/resources/reference.conf` and `testOnly play.api.mvc.CookiesSpec` still fails. I'm at a loss now as to what's going on. I'm going to give up on this for now unless anyone else has ideas

[2020-04-23 07:16] raboof opened #10215 "Scripted tests fail when akka/akka-http are released concurrently"
https://travis-ci.com/github/playframework/playframework/builds/161408298

When a new snapshot of akka or akka-http is released while a nightly build against those snapshots is running, the versions can get inconsistent between jobs in which case the resources won't be found.

I think we should write the play version into a file on the workspace so the scripted tests always pick the exact versions

[2020-04-23 10:49] mkurz opened #10216 "Allow to configure Caffeine's executor"
Caffeine uses an executor [when running async tasks](https://github.com/ben-manes/caffeine/wiki/Population#asynchronous-manual) (and for other stuff like remove listeners). (_Right now_, this has nothing to do with the current `play.cache.dispatcher` however (yet).)
By default that executor is the common fork join pool. Example:
[code]
One more:
[code]
I think it makes sense to have full control o

[2020-04-23 12:14] renatocaval commented on #10215
Happened again:
https://travis-ci.com/github/playframework/playframework/jobs/322481888#L557

[2020-04-23 15:13] mkurz opened #10218 "Rename HttpExecution[Context] classes?"
I think it makes sense to rename following three classes:
- [HttpExecutionContext](https://github.com/playframework/playframework/blob/2.8.1/core/play/src/main/java/play/libs/concurrent/HttpExecutionContext.java)
- [HttpExecution](https://github.com/playframework/playframework/blob/2.8.1/core/play/src/main/java/play/libs/concurrent/HttpExecution.java)
- [HttpExecutionContext](https://github.com/pl

[2020-04-23 21:19] mkurz commented on #10218
Also see https://www.playframework.com/documentation/2.8.x/ThreadPools#Switching-threads:
The class names do not make sense anymore. They made sense when there still was the http context/threadlocal, as you can see from the _same_ section, but in the 2.7.x docs: https://www.playframework.com/documentation/2.7.x/ThreadPools#Java-thread-locals

It's about the classloader now.

Same here: https://www

[2020-04-23 21:23] mkurz commented on #10218
I also think to about to add a `current()` method, [like we have in `HttpExecutionContext`](https://github.com/playframework/playframework/blob/2.8.1/core/play/src/main/java/play/libs/concurrent/HttpExecutionContext.java#L49-L51) to the class [CustomExecutionContext](https://github.com/playframework/playframework/blob/2.8.1/core/play/src/main/java/play/libs/concurrent/CustomExecutionContext.java),

[2020-04-24 03:50] benmccann opened #10219 "Allow returning JSON String"
### Feature Description

Allow returning a JSON `String`. [The documentation](https://www.playframework.com/documentation/2.8.x/JavaJsonActions) does not describe how to do this nor can I figure it out from the API. I believe that today it's only possible to return a Jackson `JsonNode`.

### Use Case

I'm working with an API that returns me a JSON `String`. The only way I can figure out how to ret

[2020-04-24 13:36] octonato opened #10221 "Multiple (non-implicit) parameters to a symbolic/infix should be avoided"
In #10199 we added symbolic methods to TypeMap, but as signaled by @NthPortal we should avoid this.

Triggered by:

I'm a bit late to the party here, but multiple (non-implicit) parameters to a symbolic/infix method are highly discouraged,  and planned to be deprecated. See scala/scala-dev#496 and https://github.com/lampepfl/dotty/pull/4311#issuecomment-435593905.

_Originally posted by @NthPortal

[2020-04-24 13:38] renatocaval commented on #10221
From my part we can remove all the new symbolic operators.

[2020-04-24 13:56] mkurz commented on #10221
Just to make things clear, not symbolic methods should be avoided, but multi-params for this methods.

[2020-04-24 14:58] raboof commented on #10126
Very weird. I indeed see the problem in your wireshark dump, but when I try your reproducer I don't see the problem even after refreshing for a couple of minutes... I do see FireFox (I'm on 75.0, if that matters) do the 'application data in the middle of the handshake' thing when I look with wireshark, but it just replies as expected. Not sure how to proceed from here...

[2020-04-24 15:04] mkurz commented on #10219
`StatusHeader.sendJson` sets the content type to `application/json`:
https://github.com/playframework/playframework/blob/48295bc1bbf3c055c07ff5e3e0c47c797a9353b2/core/play/src/main/java/play/mvc/StatusHeader.java#L1895
What's wrong with that? Why you want/need to set it explicitely?

Adding a String overload sounds like a good idea.

[2020-04-24 15:23] benmccann commented on #10219
The `String` overload would work fine for me. I do indeed want the content type set to `application/json`.

There other thing I was suggesting an overload to `Results.status` or `Results.ok` that let me specify the content type might also let me accomplish what I'm trying to do. Today if you pass a `String` to either of those it forces the content type to be `text/html` which isn't what I want. Pe

[2020-04-24 15:41] mkurz commented on #10219
What about:
[code]

[2020-04-24 21:43] benmccann commented on #10219
Aha! I missed that. That's great. Thanks for the pointer

I'll send a PR

[2020-04-25 06:33] renatocaval commented on #10221
Yes, but we will have an imbalance in the API if we remove only a those with multi-params.

[2020-04-25 14:05] #10219 closed

[2020-04-26 15:52] mkurz commented on #10113
@ksv510 When you say empty category/empty file, do you mean you upload a file without body but with a filename? Or is the filename also non-existent? Can you post how the request (headers) looks like?

[2020-04-27 15:03] mkurz commented on #10113
@ksv510 @JoeSilentJoe Here is the fix: #10236
Starting with Play 2.9 you will be able to set
[code]
in `conf/application.conf` to globally allow empty file uploads.

However, because of compatibility reasons that config can't be backported to 2.8.x and 2.7.x.

**But** what I did is in #10237 and #10238 I backported the needed coded so you will be able to write your own body parsers that allow empt

[2020-04-27 20:01] mkurz commented on #10113
Probably we can't backport to Play 2.7 because of problems its Scala 2.11 support is causing, see https://github.com/playframework/playframework/pull/10238#issuecomment-620201491

[2020-04-28 01:52] godenji opened #10239 "Config File Merge: Resolution Order"
### Play Version

2.8.1

### API

Scala

### Operating System

Linux localhost.localdomain 5.4.12-200.fc31.x86_64

### JDK

openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-b08)
OpenJDK 64-Bit Server VM (build 25.242-b08, mixed mode)

### Library Dependencies

Macwire 2.3.3

### Expected Behavior

Parent `application.conf` should take precedence over child project(s) `appli

[2020-04-28 08:41] raboof opened #10240 "JsonRequestSpec: stream with adhoc request filter"
https://travis-ci.com/github/playframework/play-ws/jobs/323723859
[code]

[2020-04-28 09:39] raboof commented on #10239
In general Akka applications, the loading order of `application.conf` and `reference.conf` resources from the classpath is undefined. For that reason, we recommend libraries to have a `reference.conf`, only the 'top-level' application to have an `application.conf`, and to avoid having overlapping keys in `reference.conf` files.

I don't think Play does anything to make the classpath order consiste

[2020-04-28 11:42] godenji commented on #10239
That's what I'm trying to find out, I've had cascading `application.conf` files since Play 2.4, and after the upgrade from Play 2.6.19/Sbt 1.2.3/Lightbend Config 1.3.3 to Play 2.8.1/Sbt 1.3.10/Lightbend Config 1.4.0, everything broke due to the *least* specific config file taking precedence over the others, a complete reversal of the previous behavior.

Yes, `reference.conf` for dependent subproje

[2020-04-28 17:57] slisaasquatch opened #10242 "Play 2.8.1 does not work with Jackson 2.11.0"
### Play Version

2.8.1

### API

Java

### Operating System

Windows 10

### JDK

1.8.0_232

### Library Dependencies

Jackson Databind 2.11.0

### Expected Behavior

### Actual Behavior

Including Jackson Databind 2.11.0 will cause the following error:
[code]

### Reproducible Test Case
N/A

[2020-04-28 18:05] mkurz commented on #10242
Please see #10232

[2020-04-28 18:06] #10242 closed

[2020-04-28 22:14] ihostage commented on #10239
It's an incorrect understanding. "Dependency graph" © is actual only on build time. But in runtime, we just have a class loader that loads classes from jars without a contract of ordering.

How says @raboof you need to use a `reference.conf`. Or specify name all configurations and explicitly include theirs with needed ordering. For example:
Project A -> `application_a.conf`
Project B -> `applicati

[2020-04-29 01:20] godenji commented on #10239
So, why did the ordering change when it worked through 3 major version of Play (2.4 to 2.6)? Presumably something in Play/Sbt/LB Config changed that caused this "without a contract of ordering" to now produce a new ordering in latest Play/Sbt/LB Config.

How will project A and B be run independently in the proposed config setup? IIRC, Lightbend Config looks specifically for an `application.conf` f

[2020-04-29 07:12] raboof commented on #10242
You could of course try also upgrading `com.fasterxml.jackson.module:jackson-module-scala` - but as discussed in #10232, jackson usually has a good reason to update the minor version, so we can't guarantee that this will work.

[2020-04-29 07:58] ennru opened #10244 "[Failed] [2.8.x] unresolved dependency: play sbt-plugin"
[code]

https://travis-ci.com/github/playframework/playframework/jobs/324222531#L489

[2020-04-29 08:06] raboof commented on #10244
Looks like this is #10215

[2020-04-29 15:03] ignasi35 opened #10246 "Recommend using a recent JDK version, de-emphasize jetty-alpn"
See https://github.com/akka/akka-http/issues/3100
See https://github.com/akka/akka-grpc/issues/942

This includes, the plugin, docs and (¿)tests(?).

[2020-05-01 13:26] ignasi35 opened #10250 "Multiple test failures usin JDK 8u252+"
Related https://github.com/akka/akka-grpc/issues/946

JDK 8u252+ backported some improvements in ALPN handling. As a consequence, using HTTP/2 no longer requires a 3rd party ALPN agent (aka jetty-alpn-agent). At the same time, though, there's been some extra change causing several tests to break.

At the time of this writing (May 1st, 2020) Jabba still doesn't provide JDK8u252 so this can't yet be

[2020-05-02 04:57] fusuiyi123 commented on #10215
Hi @raboof may I work on this? But i would like some pointers to start! thanks!

[2020-05-02 08:13] mkurz commented on #7431
The `reference-overrides.conf` also makes sense when writing Play modules that include other (third party) modules. E.g. I have like a "master" module which I use for many projects, with configs and classes that I basically need in every project anyway. In this module I also add some third party modules as dependency (e.g. deadbolt), however I am not happy with all the default settings of those th

[2020-05-02 13:29] mkurz commented on #10239
The ordering never was guaranteed. A order is not documented, also was never specified. Maybe you were just lucky it worked.

For your specific use case (with dependency graph like A -> B -> C), please have a look at this comment: https://github.com/playframework/playframework/issues/7431#issuecomment-622848600 What you could do is: In project A use a `conf/application.conf`, in project B use `con

[2020-05-02 13:36] mkurz commented on #10206
@GMShuhr even though Play may be affected by this behaviour, it is an issue with https://github.com/lightbend/config, therefore please open a bug report there, thanks!

[2020-05-03 01:40] godenji commented on #10239
@mkurz thanks, that's helpful. Is `reference-overrides.conf` documented anywhere?

Inevitably developers who rely on base functionality (what you call a "master" module in your #7431 comment) for their projects are going to run into this issue, so having it clearly stated in the documentation would help Play users understand why their config settings may be overwritten by seemingly less specific c

[2020-05-03 07:37] mkurz commented on #10239
@godenji #7431 is exactly about documenting this "feature". Actually it was introduced to override some akka configs, however it looks like it makes sense to also document this for developers.

[2020-05-04 08:02] GMShuhr commented on #10206
A copy of this issue was opened as [Config issue 684](https://github.com/lightbend/config/issues/684)

[2020-05-05 00:55] mcanalesmayo commented on #3106
We are also experiencing this in Play 2.6.21 with Gradle build

[2020-05-05 14:11] mkurz commented on #1120
This was fixed long time ago, eg: #5948

[2020-05-05 14:11] #1120 closed

[2020-05-05 16:49] seglo commented on #10215
https://travis-ci.com/github/playframework/playframework/jobs/327261314

[2020-05-05 22:25] iurisman opened #10257 "DOC: Add info on HTTPS redirect filter to the chapter on HTTPS"
### 2.8

The chapter on configuring HTTPS is missing the info on adding the auto redirect filter, which is critical in an HTTPS configuration. Although the said filter is documented in the build-in HTTP filters, it requires extra knowledge and extra search.

[2020-05-06 06:58] som-snytt commented on #6302
They added `@annotation.unused` for definitions but `-Wconf` (aka silencer) for misc warnings such as unused imports. Also `@nowarn`.

[2020-05-06 07:48] mkurz commented on #6302
For reference: https://github.com/scala/scala/pull/8373

[2020-05-06 09:31] raboof commented on #10215
@fusuiyi123 of course! currently, in `.travis.yml` you can see that the phase with name `Run publishLocal` run `scripts/publish-local` and creates a workspace called `published-local`.

Since `scripts/publish-local` starts by cleaning `~/.ivy2/local`, I think we can just look in that directory to find the version number.

The scripted tests run `scripts/test-scripted`. It will use the Akka version

[2020-05-06 18:45] schub commented on #9518
@mkurz Sorry, if this is a stupid question, but the doc is about how to send a cookie along with a request. What I need to know is, how can a get a cookie from a response after a login endpoint is called.

[2020-05-07 07:32] mkurz commented on #7019
@wsargent

Now that we have the `JsonHttpErrorHandler`, the `HtmlOrJsonHttpErrorHandler` and the more generic `PreferredMediaTypeHttpErrorHandler`, can this issue be closed? Are these error handlers addressing this issue here?
See
- https://www.playframework.com/documentation/2.8.x/ScalaErrorHandling#Handling-errors-in-a-JSON-API
- #8299
- #8540

[2020-05-07 07:40] mkurz commented on #6171
Adding another point to the list here:
Because now that we have the `JsonHttpErrorHandler` (#8299), the `HtmlOrJsonHttpErrorHandler` and the more generic `PreferredMediaTypeHttpErrorHandler` (#8540) (also [see docs](https://www.playframework.com/documentation/2.8.x/ScalaErrorHandling#Handling-errors-in-a-JSON-API)), it might make sense for the `onClientError` method to not just accept a `String` a

[2020-05-07 09:12] mkurz commented on #6171
This is a very very good point.

I have/had various use cases where I want(ed) to know _where_ an error comes from. Specially for client errors: Usually client errors (the 4xx range) originate from within actions methods where filters are processed already (like not found / bad request etc.). There is one exception however: When the server backend returns early because the request was too large (4

[2020-05-08 02:35] fusuiyi123 commented on #10215
thanks for your response. It's very helpful, I will send a pr:)

[2020-05-08 04:25] fusuiyi123 commented on #10215
I raised https://github.com/playframework/playframework/pull/10263 , not sure if I am doing it correctly.

[2020-05-08 06:43] #10215 closed

[2020-05-08 15:57] amanteaux commented on #10057
Thank you @marcospereira for your answer!

I finally succeed to customize body parsers in the routing DSL.
I was thinking in making the `play.mvc.Http.RequestBody.asSource()` method a contribution to Play, however it looks like implementing this method would mean a major refactoring. Currently the issue with `play.mvc.Http.RequestBody` is that is contains already a parsed body. To expose an intere

[2020-05-08 17:28] #7019 closed

[2020-05-10 20:28] suv1sh commented on #8511
How to resolve it?

[2020-05-11 06:47] mkurz commented on #10257
@iurisman Do you want to provide a pull request?

[2020-05-11 08:32] philliptaylorpro commented on #8511
https://www.playframework.com/documentation/2.5.x/ScalaHttpFilters#Using-filters

You have to add this bit:
[code]

like it says in the documentation and point your config at that class, not at the class name for the first piece of code you copy and pasted.

[2020-05-11 09:09] mkurz commented on #10250
@ignasi35 252 arrived in Jabba and as expected some tests fail: https://travis-ci.com/github/playframework/playframework/jobs/331365730#L1047

Let's see if #10268 fixes them.

[2020-05-11 09:27] mkurz commented on #10246
For upcoming Play 2.9 how about to just completely remove `jetty-alpn` and just make JDK 8u252 the minimal JDK 8 requirement?

[2020-05-11 09:33] mkurz commented on #7374
See #10246, now that JDK 8u252 has native ALPN support, no agent is needed anymore. Play 2.8.2 should  then support that as well: #10268
I guess "better dev experience" is to just use Play >= 2.8.2 and JDK >= 8u252 then?

[2020-05-11 09:37] mkurz commented on #9941
Reading through https://webtide.com/jetty-alpn-java-8u252/, with `jetty-alpn-agent` version `2.0.10` (#10268) adding the agent when using JDK >= 8u252 is a no-op, so I think making ALPN optional is not that urgent.

[2020-05-11 12:36] mkurz commented on #10093
The `error` method is very simple:
https://github.com/playframework/playframework/blob/6bac5dadfd1879600074de868b7c1432ea96a812/core/play/src/main/scala/play/api/http/HttpErrorHandler.scala#L363
Actually I am going to remove it.

You should instead just override `devServerError`, `prodServerError` or `onClientError`. You can  also always just call `super.onClientError`,... if you want to reuse the

[2020-05-11 12:36] #10093 closed

[2020-05-11 13:17] mkurz commented on #10206
Lets reopen this issue, maybe we can release and upgrade typesafe-config so https://github.com/lightbend/config/pull/686 makes it into Play 2.8.2

[2020-05-11 14:42] b-gyula commented on #10093
I know it's very simple, but all 3 methods are using it. So if someone wants only a different JSON structure, then all 3 methods has to overridden / duplicate instead of just changing one singe line.

And the fix would be just change the visibility, that does not harm any logic...

[2020-05-11 22:12] gmethvin opened #10273 "Auto-generated request UUIDs"
Currently the Play request `id` is implemented as an auto-incrementing long integer, which is likely to have collisions within a Play deployment consisting of multiple instances. This means it is only a suitable identifier for the request in the context of the currently running application instance.

It seems like it would make sense to have to have an additional request `uuid` and generate a rand

[2020-05-12 04:43] fusuiyi123 commented on #9447
is this still open? perhaps I can take a look at it:)

[2020-05-12 06:19] mkurz commented on #9447
@fusuiyi123 I did some work on this already, see https://github.com/playframework/playframework/issues/9447#issuecomment-549345520

[2020-05-12 14:34] wsargent commented on #10273
A random UUID has a couple of problems.

* It can't be sorted, so ordering request ids via request id doesn't work.
* The OOTB java implementation uses synchronized public void nextBytes(byte[] bytes) which can cause [blocking issues](https://braveo.blogspot.com/2013/05/uuidrandomuuid-is-slow.html) since only one thread can run `nextBytes` at a time.

Using a non-blocking id generator like https:/

[2020-05-12 18:54] mkurz commented on #10250
Fixed with #10268

[2020-05-12 18:54] #10250 closed

[2020-05-12 20:10] #9835 closed

[2020-05-13 13:08] #10172 closed

[2020-05-13 13:26] #10194 closed

[2020-05-13 15:12] mkurz opened #10279 "Play 2.8.2: Release and use new interplay version"
https://github.com/playframework/interplay/pull/116 Scala 2.13.2 fixes a bug where wrong bytecode gets generated: https://github.com/scala/scala/pull/8514 (Actually I ran into that bug)

Play 2.8.2 should be compiled with Scala 2.13.2

[2020-05-14 12:30] mkurz commented on #6171
Pull request to track origins of errors: #10270

[2020-05-14 17:10] #10216 closed

[2020-05-15 18:40] balagez commented on #7382
With Scala 2.13.2's [configurable warnings](https://github.com/scala/scala/pull/8373) you can suppress all warnings like this:

[code]

[2020-05-18 20:46] mkurz commented on #10122
You are correct that `DiscardingCookie` does not set the `SameSite` flag, however the set-cookie works fine in latest Chrome and Firefox anyway. To unset a cookie, the `SameSite` flag does not matter.. I can not see any issues here. Which browser are you using? Maybe you got confused in the browser dev tools, Chrome still shows the cookie after the page, which comes with the response that un-sets

[2020-05-19 14:11] ignasi35 commented on #10206
I have my doubts.

It is possible the statement `In the running application` implies starting a play application using an `sbt` task but spawning a forked JVM in which case it is possible the env var may not be visible (depending on how it was created?). I think this needs more information (or even a repdorucer)

[2020-05-19 15:01] #10113 closed

[2020-05-19 20:22] #9411 closed

[2020-05-19 22:20] mkurz commented on #10279
Fixed by #10291

[2020-05-19 22:20] #10279 closed

[2020-05-20 07:17] JoeSilentJoe commented on #10113
Upload a file without body but with a filename

[2020-05-20 13:08] ignasi35 commented on #10273
What is the use case for "order requests by id"? And, if implemented, does it still apply?

[2020-05-20 15:36] wsargent commented on #10273
The issue may be specific to Logback, which creates a timestamp for logging that uses System.currentTimeMillis, meaning that it's only accurate to the millisecond.  If you have several requests inside of a millisecond, then you have them all show up as .333 and there's no indication of which request came first, which is important for debugging changes in state.

If you have a monotomic request id,

[2020-05-22 14:03] renatocaval opened #10300 "failed: failed to find snapshot plugin when running scripted tests"
https://travis-ci.com/github/playframework/playframework/jobs/338089212#L681-L698

[code]

[2020-05-22 14:03] renatocaval commented on #10300
I thought we have solved that before. @raboof, does it sound a bell?

[2020-05-22 14:06] renatocaval opened #10301 "Failed: Jabba - invalid binary (?)"
/home/travis/.jabba/bin/jabba does not appear to be a valid binary.

Check your Internet connection / proxy settings and try again.
If the problem persists - please create a ticket at https://github.com/shyiko/jabba/issues.
The command "bash jabba-install.sh && . ~/.jabba/jabba.sh" failed and exited with 1 during .

https://travis-ci.com/github/playframework/playframework/jobs/338286693

[2020-05-22 14:08] renatocaval commented on #10301
Also here:

https://travis-ci.com/github/playframework/playframework/jobs/338286691#L371-L375

[2020-05-22 14:10] renatocaval commented on #10300
Similar to previous

https://travis-ci.com/github/playframework/playframework/jobs/338786318#L436-L453

This time when fetching akka snapshots.

[2020-05-22 14:23] mkurz commented on #10300
@renatocaval Not sure it that has something to do with akka. Whats weird is that the other two scripted tests passed:
![image](https://user-images.githubusercontent.com/644927/82677170-e792f380-9c47-11ea-9206-50675dd8d820.png)
I experienced cases where all three, sometimes just two or, like here, just one failed, with the same problem like here.

A way to "fix" this is to re-run `publishLocal` job

[2020-05-22 14:25] raboof commented on #10300
Looks related to #10083 indeed, looking

[2020-05-22 14:34] raboof commented on #10300
No, it's different from #10083 ;)

Indeed it seems like a problem with the artifacts from `publishLocal` carrying over to the scripted job, in this case /home/travis/.ivy2/local/com.typesafe.play/sbt-plugin/scala_2.12/sbt_1.0/2.8.1+553-7bf54dd6/ivys/ivy.xml . publishLocal published it (https://travis-ci.com/github/playframework/playframework/jobs/338089204#L1138) but scripted can't find it (https:

[2020-05-22 14:39] raboof commented on #10300
This is a different problem: here the nightly akka-http version changed between the publishLocal (https://travis-ci.com/github/playframework/playframework/jobs/338786301#L1414) and the scripted test. I think someone worked on that but can't find the PR right now...

[2020-05-23 13:41] noelmcloughlin opened #10303 "[BUG] getting-started/newApplication failure"
### Play Version

Any

### API

Any

### Operating System

Any

### JDK

### Library Dependencies

### Expected Behavior

1. Follow instructions at manual/getting-started/newApplication.md
2. Play should run

### Actual Behavior

1. The command `sbr-run` produces an error:

[code]

### Reproducible Test Case

[2020-05-23 16:28] #10303 closed

[2020-05-25 06:46] raboof opened #10305 "nightly-deploy-2.8.x: error uploading play-docs-sbt-plugin"
/home/play/logs/nightly-deploy-2.8.x-1590118926.log

[code]

[2020-05-25 06:47] raboof commented on #10305
again in /home/play/logs/nightly-deploy-2.8.x-1590205384.log

[2020-05-25 06:48] raboof commented on #10305
again in /home/play/logs/nightly-deploy-2.8.x-1590291844.log

[2020-05-25 06:48] raboof commented on #10305
again in /home/play/logs/nightly-deploy-2.8.x-1590378419.log

this seems to be failing consistently

[2020-05-25 08:55] raboof opened #10306 "Failed to download jabba from github"
Github returning 500's, curl correctly retrying but eventually giving up.

One improvement we could do here is to not download jabba at all when one is already found in the cache.

https://travis-ci.com/github/playframework/playframework/jobs/339133182

[2020-05-25 09:01] raboof commented on #10306
Also https://travis-ci.com/github/playframework/playframework/jobs/339133155

[2020-05-25 10:43] smadarasmi commented on #9852
@BillyAutrey Was there any progress on this? I would like to tackle this.

@renatocaval This would be my first contribution to Play. I've went over the Contribution guide.

What would be the best way to go about this? Should I provide some details in this issue about the approach I would take, or should we communicate elsewhere?

[2020-05-25 10:58] raboof commented on #10301
Again in https://travis-ci.com/github/playframework/playframework/jobs/339515637

[2020-05-25 13:50] GMShuhr commented on #10206
The bug is not that environment variables are invisible. The bug is that (if -Dconfig.override_with_env_vars=true ALL is set) ALL environment variables also end up in the configuration object without any name transformation.

The ones starting with "CONFIG_FORCE_" appear twice:
1. in the original form like all the other variables
2. in the correct transformed form, as described in [the documentati

[2020-05-25 14:47] ignasi35 commented on #10301
Should we move to `sdkman`? Or even use the [`scala/scala-dev`](https://github.com/scala/scala-dev/blob/scala-dev/travis/default.yml) as a parent template.

[2020-05-25 14:58] ignasi35 commented on #10305
I think this could be related to the fact that Play `2.8.x` is already using `sbt-dynver`. So, the cron job deploying the snapshot should embrace `sbt-dynver` and stop using the [play-especific versioning strategy](https://github.com/lightbend/vegemite/blob/4cbea69ff32f144f22b64f9983141f86c13d42af/deploy/utils) (which produces  version names like `2.8.2-2020-05-21-bc1badd-SNAPSHOT`).

[2020-05-26 06:56] renatocaval commented on #9852
@smadarasmi, thanks for willing to take a stab on it.

The best approach is to send a pull request. It doesn't need to be a finished/perfect one. Just start with it and we iterate on the PR giving suggestions and polishing it until it gets ready for merge.

You can also drop here your thoughts about how you want to implement, but a PR is a better because the code is always the best form to explain

[2020-05-26 07:14] patriknw commented on #10305
similar "Nightly task nightly-deploy-2.8.x failed"

/home/play/logs/nightly-deploy-2.8.x-1590378419.log

[code]

[2020-05-26 07:14] patriknw commented on #10305
ah, that ^ was already reported above

[2020-05-27 18:12] ignasi35 opened #10311 "Document lazyness loading router"
Play Version: 2.8.2

From https://github.com/playframework/playframework.com/pull/383#pullrequestreview-418115280: `Should we document this somewhere?`

[2020-05-28 14:10] #10305 closed

[2020-05-29 06:50] kajmagnus commented on #10107
This error happens to me when a HTTP request arrives *whilst Play is starting*. Otherwise I think I've never seen it.

`addSbtPlugin("com.typesafe.play" % "sbt-plugin" % "2.8.1")`

Here's my full call stack:

[code]

[2020-05-29 17:03] eed3si9n opened #10315 "sbt dist included in Hello World projects is old"
This is more of a bug report to Example Code Service (https://example.lightbend.com/) than Play per se, but it affects Play new users mostly.

### Play Version

2.8.2

### API

Scala

### Operating System

macOS

### JDK

openjdk version "1.8.0_232"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_232-b09)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.232-b09, mixed mode)

### Expected Be

[2020-06-02 09:07] jrudolph opened #10320 "Clean up AkkaHttpServer not to do startup in initializer"
The problem with that is that `handleRequest` might be already handling requests when the initializer is still running. The most obvious problem was observed in #10107 where some fields might just not be initialized.

A solution could be to create an `init` method that runs all startup code. That `init` method should be invoked in the factory methods before the `AkkaHttpServer` instance is handed

[2020-06-04 14:23] ennru opened #10324 "[2.8.x failure] sbt tests can't find Play `sbt-plugin`"
All sbt tests (0.13 and 1.x) fail to resolve the Play sbt-plugin since the update to sbt 1.3.12 in https://github.com/playframework/playframework/commit/99f4b080f0d704117d18ac7c4910557d0b868cef

`module not found: com.typesafe.play#sbt-plugin;2.8.2+4-80bad4f7-akka-2.6.5+106-33d64f9d-akka-http-10.2.0-M1+103-0d857b48`

https://travis-ci.com/github/playframework/playframework/builds/169568254

[2020-06-04 14:56] raboof commented on #10324
This is the issue that's fixed by #10302 I think

[2020-06-04 15:59] ennru commented on #10324
Great, let's see how it goes tomorrow.

[2020-06-05 16:12] pschichtel commented on #9487
I would say defaulting pidfile.path to /dev/null makes sense even outside of docker. Forking services into background is less common these days, for me the RUNNING_PID file always caused issues.

[2020-06-07 05:16] alternegro opened #10326 "2.8.2 slick.dbs.default.profile java.lang.ClassNotFoundException"
### Play Version

2.8.2

### API

Scala 2.13.2

### Operating System

macOS 10.15.5

### JDK

java version "14.0.1" 2020-04-14

### Library Dependencies
"com.github.tminglei" %% "slick-pg" % "0.19.0"
"org.postgresql" % "postgresql" % "42.2.13"
"com.typesafe.slick" %% "slick" % "3.3.2"
"com.typesafe.slick" %% "slick-hikaricp" % "3.3.2"
"com.typesafe.play" %% "play-slick" % "5.0.0"
"com.typesafe.pla

[2020-06-08 15:15] seglo commented on #10301
Same thing in https://travis-ci.com/github/playframework/playframework/jobs/344642865

Another solution might be to add the Jabba binary to the Jabba cache.  This may reduce instances like this (assuming the file got corrupted on download?) and #10306.

[2020-06-08 16:13] seglo commented on #10301
https://travis-ci.com/github/playframework/playframework/jobs/345664865

[2020-06-08 16:25] seglo opened #10328 "Failed: 2.7.x, sbt.inc.Doc$JavadocGenerationFailed"
Raised on 2.7.x nightly build from vegemite.

[code]

[2020-06-09 07:59] ignasi35 commented on #10301
The `.jabba/` folder has been in [the cache](https://github.com/playframework/playframework/commit/72475f9b6793c70ad75d801107439a781ba1eaea#diff-354f30a63fb0907d4ad57269548329e3) for a couple of weeks. Maybe the caching code is wrong of the cache got cleaned up recently.

[2020-06-09 08:12] ignasi35 commented on #10301
Oh, the last two failures reported by @seglo are `jabba download`failures on the CRON job for `2.7.x` (which doesn't have the `.jabba/` folder in the cache).

[2020-06-09 08:14] ignasi35 commented on #10301
Triggered backports: https://github.com/playframework/playframework/pull/10307#issuecomment-641113092

[2020-06-09 08:14] raboof commented on #10301
I don't think that change is on the 2.7.x branch.

[2020-06-09 12:55] ignasi35 commented on #10301
there's backports for both 2.8.x (https://github.com/playframework/playframework/pull/10329) and 2.7.x (https://github.com/playframework/playframework/pull/10330)

[2020-06-09 15:07] seglo opened #10332 "Failed: javaguide.ehcache.JavaEhCache.http assertion failure"
On cron build

https://travis-ci.com/github/playframework/playframework/jobs/346380224#L2785

[code]

[2020-06-09 22:47] scoquelin opened #10333 "[2.7.x] [Scala 2.13] routes-compiler artifact not published for 2.7.4 and 2.7.5"
It seems that only version `2.7.3` has been published for `routes-compiler_2.13`

See [https://search.maven.org/artifact/com.typesafe.play/routes-compiler_2.13](https://search.maven.org/artifact/com.typesafe.play/routes-compiler_2.13)

Ready to help and open a PR if someone can point me in the right direction :wink:

Thanks!

[2020-06-10 11:56] jrudolph commented on #10107
Fixed in #10321 and #10323.

[2020-06-10 11:56] #10107 closed

[2020-06-10 13:58] seglo opened #10334 "Failed: shutdown-happy-path sbt task"
On master cron build

https://travis-ci.com/github/playframework/playframework/jobs/346905060#L5012

Didn't see a more informative error.  Not sure if it has something to do with `routes-compiler-no-package-declaration-in-routes-file`

[code]

[2020-06-11 14:51] mkurz commented on #10334
This has nothing to do with `routes-compiler-no-package-declaration-in-routes-file`. Why should it? Just because that's the previous test before the failing one? `routes-compiler-no-package-declaration-in-routes-file` ran totally fine.

[2020-06-11 14:53] mkurz commented on #10333
Indeed, that looks strange. For Scala 2.12 it has been published:
- https://repo1.maven.org/maven2/com/typesafe/play/routes-compiler_2.12/2.7.4/
- https://repo1.maven.org/maven2/com/typesafe/play/routes-compiler_2.12/2.7.5/

For 2.13 it was not:
- https://repo1.maven.org/maven2/com/typesafe/play/routes-compiler_2.13/

@ignasi35 you cut the releases, seems something went wrong here?

[2020-06-11 14:55] mkurz commented on #10324
Looks good now, I guess this issue can be closed?

[2020-06-11 14:56] mkurz commented on #10334
Anyway, todays' cron build are all green, can we close this issue?

[2020-06-11 15:23] ignasi35 commented on #10333
I'd have to investigate. Maybe a bug in `interplay` causing the `routes-compiler_2.13` artifact to not be produced?

[2020-06-11 16:09] ennru commented on #10324
Yes, thanks for the ping.

[2020-06-11 16:09] #10324 closed

[2020-06-11 21:15] seglo commented on #10334
I agree it probably has nothing to do with `routes-compiler-no-package-declaration-in-routes-file`. I'm on surface this week and one of the responsibilities is to flag build failures, transient or otherwise. I think we should keep it open for awhile to see if it occurs again.

[2020-06-15 08:20] ignasi35 opened #10336 "Failed: 2.8.x, sbt.inc.Doc$JavadocGenerationFailed"
(this is a 2.8.x equivalent to https://github.com/playframework/playframework/issues/10328)

The nightly build task nightly-deploy-2.8.x failed.

The full logs for this task have been saved and can be found in /home/play/logs/nightly-deploy-2.8.x-1592019343.log.

[code]

[2020-06-15 08:21] ignasi35 opened #10337 "Failed: Sonatype upload failed (502: Bad Gateway)"
The nightly build task nightly-deploy-2.7.x failed.

The full logs for this task have been saved and can be found in /home/play/logs/nightly-deploy-2.7.x-1592104503.log.

[code]

[2020-06-15 14:16] renatocaval opened #10338 "Failed: akka-http artifacts not found"
Failed to download artifacts:

https://travis-ci.com/github/playframework/playframework/jobs/349097968#L1575-L1582

[code]

Should have been fixed when #10083 was backported to 2.8.x, which was done in #10140.