[2018-12-14 16:44] eximius313 commented on #8323
that would be AWESOME!

[2018-12-14 17:46] wsargent commented on #8788
Also see https://github.com/playframework/playframework/pull/4281

[2018-12-14 20:56] marcospereira commented on #6999
I'm closing this, but we can reopen it later if there is more information about the problem.

[2018-12-14 20:56] #6999 closed

[2018-12-14 21:38] marcospereira commented on #8861
Thanks for reporting this, @iwanek9ld.

I think we have the same behavior for 2.7.x (where we are using Caffeine instead of Play). Although I don't think this behavior makes sense for pac4j, keep in mind the cache API was created for a general use case, not specifically for keeping sessions alive based on last read. So, it is not purely accidental.

What I think it would make sense here is to make

[2018-12-14 22:15] marcospereira commented on #8853
Hi @Steinliiippp,

I was not able to reproduce this. I'm using exactly this controller here:

[code]

And when running `curl -I http://localhost:9000/download`, I'm seeing the `Content-Length` header as expected:

[code]

And it matches the file size I see when running `ls -l ~/tmp/dummy.zip`:

[code]

Could you create a project that reproduces this problem?

[2018-12-14 22:43] almothafar commented on #8879
@marcospereira sure thing I will do that, ASAP, but do you want me to close this after I reopen this in playframework/play-ebean project?

[2018-12-15 22:03] marcospereira commented on #8879
Yes, please.

[2018-12-15 22:15] marcospereira opened #8885 "Add copyTo to temporary uploaded files"
It would be good to add a new `copyTo` method and make it clear that `moveTo` should not be used if you are also using the reaper and intents to keep the file.

_Originally posted by @marcospereira in https://github.com/playframework/playframework/pull/8881#issuecomment-447430110_

[2018-12-16 10:09] almothafar commented on #8879
OK after I got already a repo with almost the same structure and I updated it with most changes I got in real one, it seems the problem is not happening with official https://github.com/playframework/play-ebean repo, but happens with forked version https://github.com/payintech/play-ebean which is working with JDK 11 and got latest versions for ebean, I'm not sure if that will happen with official

[2018-12-16 10:37] almothafar commented on #8879
OK even with the official plugin it is happening for 2.7.0-RC8/5.0.0-RC2

[2018-12-16 10:44] almothafar commented on #8879
@marcospereira I'm closing this, issue opened in https://github.com/playframework/play-ebean

[2018-12-16 10:44] #8879 closed

[2018-12-17 08:50] iwanek9ld commented on #8861
@marcospereira

In my opinion, in general use of cache, it would be more logical that entries that are queries more often stay in cache but that may be seen in different way probably.

I would appreciate any solution and I wouldn't like to propose any specific as I don't know other use cases of this API. One small thing, names like `ExpirationPolicy.ExpireAfterCreation` and `ExpirationPolicy.Expir

[2018-12-18 00:53] dwijnand commented on #8792
Yeah we should release Play 2.6.21...

[2018-12-18 10:01] ben-manes commented on #8861
You probably want to use TTL and recalculate it, based as (now - creation time + duration). The TTL in ehcache is from when the entry was originally inserted, not last written, which was probably the Play API intent. The TTI will cause the lifetime to be extended on every read, which is not obviously what the API conveys. Having both options at once is weird and more confusing, as it mixes the con

[2018-12-18 10:33] iwanek9ld commented on #8861
@ben-manes

I think it would be nice to allow `ExpirationPolicy`. Both policies TTL and TTI make sense for certain use cases. It really depends what is the characteristic of value you want to cache.

TTL works if you want to cache values that are mutable and are changing over time.
TTI is better for cached entry that are immutable and will not change, like sum of spendings of user for previous mon

[2018-12-18 14:20] almothafar commented on #8879
Just for the record here, replacing `;` with `;;` didn't work, got the same error:

[code]

![image](https://user-images.githubusercontent.com/13887564/50159982-c4d90e80-02e0-11e9-8a6b-525c99cd17fb.png)

[2018-12-18 14:38] mkurz commented on #8879
Replace `delimiter $$` with `DELIMITER "$$";`
[code]

[2018-12-18 15:18] ben-manes commented on #8861
Sorry, yes both make sense independently. I was thinking the api proposal was to allow both to be used concurrently on an item, which seemed odd.

[2018-12-18 15:37] gabbah opened #8892 "Support additional HTTP response statuses"
Playframework should support additional HTTP status codes, such as 428 Precondition Required, as specified in https://tools.ietf.org/html/rfc6585#section-3

(I know I can manually return any status code)

### Play Version (2.5.x / etc)
2.6

### API (Scala / Java / Neither / Both)
Both

[2018-12-18 17:55] marcospereira commented on #8892
Hey @gabbah,

Make sense to me. Do you want to submit a PR to add these additional status codes? This would need to be done for both Java and Scala APIs.

[2018-12-18 19:01] gabbah commented on #8892
Sure. The question I asked myself was if the additional status codes should be added in the existing Status trait, or if should be a new trait: ...status.Additional ?
I think the current idea is that Status holds the standard status codes, as specified in [rfc 2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html). Perhaps the additional status codes, in rfc 6585, should not be mixed in th

[2018-12-18 19:33] marcospereira commented on #8861
Time To Live and Time to Idle are more common names in cache space, so we should then I think. Of course, we can use `TimeToLive` instead of `TTL` to make it more clear.

Well, the proposal I've made above would allow both to be used concurrently, which I understand that may be confusing (as you explained). So maybe what the user needs is a configuration that affects the cache as a whole.

WDYT?

[2018-12-18 19:36] #8066 closed

[2018-12-18 19:50] mkurz opened #8895 "RequestBuilder.bodyMultipart(...) creates wrong body type"
Create a request via `new RequestBuilder().bodyMultipart(...).build()`. Now try to retrieve the multipart form data from this request via `request.body().asMultipartFormData()`.

It will not work :sob:

Why? Because the body created by the `RequestBuilder` is an instance of `play.mvc.Http.RawBuffer`:
https://github.com/playframework/playframework/blob/5f5f5395faa98322e1b376025ca13b74e8ac7e0f/frame

[2018-12-18 20:09] ben-manes commented on #8861
A problem with having both concurrently is that the implementation has to support two timestamp fields. While Ehcache2 does, v3 and others do not. Instead they allow setting a new duration or configuring a strategy to calculate one on usage (`Expiry`). If you have a cache that is heterogeneous where different strategies are desirable depending on the entry, then the implementations punt by expecti

[2018-12-18 21:00] marcospereira commented on #8892
Hey @gabbah,

It is okay to use the `Status` trait since it does not make a distinction between the original and additional status. Also, it already has status `429` for example.

[2018-12-18 21:49] gabbah commented on #8892
Ah ok, good point (didn't notice that before). I'll add it to Status trait then.

[2018-12-19 13:50] kuzkdmy commented on #7458
There is only one way to make it works -- usage of aspects
I'm almost sure that Lightbend have implemented this in this way.
Generally, this is not so complex as it seems, as an example or maybe even as a solution, can be used Kamon logback project
https://github.com/kamon-io/kamon-logback

[2018-12-19 14:32] snemarch commented on #8788
@wsargent, this is a breaking change in 2.6.20 compared to previous versions. It also goes against the usage from the documentation – i.e. the ScalaFileUpload which @Sivabalarajan linked to shows using ref.moveTo, and has text like "Any temporary files that _are not moved_ are deleted" (emphasis mine).

I guess the documented behaviour was a bug fixed by #8614? Would it be possible/desirable to ma

[2018-12-20 09:12] #8703 closed

[2018-12-20 11:33] marcospereira commented on #8031
Thanks for bringing this to our attention, @mkurz.

This is not a priority for Lagom right now, so we can handle this in Play 2.8.

[2018-12-20 18:04] gutoMQS commented on #7086
Guys, I'm using the SameSite ( = lax) attribute in my application, however I'm facing a weird issue when trying to open dev tools (F12) on Chrome (version greater than 70.X) and also on IE11, my application auto logout and I try to inspect any object. My question is, do you guys already experiencied something like this ? Looks like when I press F12 and try to inspect the elements my JSESSIONID is

[2018-12-20 20:00] marcospereira commented on #7086
Hey @gutoMQS,

Our [forums](https://discuss.playframework.com) would be a better place to discuss this. Github issues are for reporting bugs and feature requests in Play, not for general discussion and getting help. You can also discuss this using [our Gitter channel](https://gitter.im/playframework/playframework).

Best.

[2018-12-20 21:09] #8220 closed

[2018-12-20 21:36] wsargent commented on #8788
@snemarch It's not #8614, it's https://github.com/playframework/playframework/pull/8881#issuecomment-447430110 and https://github.com/playframework/playframework/issues/8885 at issue here.

[2018-12-21 15:07] eximius313 commented on #8323
I can't wait to use it! Finally normal validation for files! Thanks @mkurz !

[2018-12-21 15:13] mkurz opened #8900 "Fix spring-bean bug"
Reminder to myself to provide a upstream patch to spring-beans.
See https://github.com/playframework/playframework/pull/8898/files#diff-c1b056e971f17bd27c15edab3c9c6759R66

[2018-12-21 17:10] slisaasquatch opened #8901 "[2.7.0-RC8] Bug - routes with explicit Request cannot have Integers before Strings"
### Are you looking for help?

This is an issue tracker, used to manage and track the development of Play. It is not a support system and so it is not a place to ask questions or get help. If you're not sure if you have found a bug, or if you have a feature request, the best place to start is with either the [Discuss Play Forum](https://discuss.playframework.com) or [Stack Overflow](http://stackov

[2018-12-21 20:06] mkurz commented on #8901
I can **not** reproduce this issue using exactly your route and your controller with RC8.
Here is the project I was using: https://github.com/mkurz/PlayFramework-8901
Please run it and tell me if it's working for you by calling
http://localhost:9000/demo?int1=23&int2=14&str1=hello
in your browser.
I added a couple of `println` in the action method. Everything worked, all parameters are set.

For y

[2018-12-21 21:03] mkurz commented on #8901
Are you upgrading a project from 2.6.x to 2.7.0-RC8?
Do you have action methods with the same name like the failing one (overloaded methods)?

[2018-12-21 21:05] mkurz commented on #8901
Did you define any `routesImport` in your `build.sbt` file?
[code]

[2018-12-21 21:11] slisaasquatch commented on #8901
🤦‍♂️
I'm really sorry because I just found out that the version I'm using is actually RC3. I updated the version to RC8 on a different branch. I feel really stupid right now. I'll close the ticket.

[2018-12-21 21:11] #8901 closed

[2018-12-25 16:06] landsman commented on #8109
Still without formatter?

[2018-12-25 21:19] wsargent commented on #8109
https://github.com/sbt/sbt-java-formatter seems functional but only uses Google Java Format.

There's also a standalone IntelliJ IDEA formatter:

https://confluence.jetbrains.com/display/IDEADEV/Command-Line+Source+Code+Formatter

https://www.jetbrains.com/help/idea/command-line-formatter.html

[2018-12-26 23:44] coryfklein commented on #7679
In addition, this allows them to be [supplied to Java annotations](https://stackoverflow.com/a/47721108/446554).

[2018-12-27 14:21] zanella opened #8904 "Remove/Clean the RabbitMQ module page"
The [official docs](https://www.rabbitmq.com/devtools.html#alt-jvm-dev) for RabbitMQ on the scala section point to this page: https://www.playframework.com/modules/rabbitmq-0.0.9/home

1. It's not for Scala, it's for Java
2. It seems to be unmaintained

Maybe it's a good idea to remove/clean it ?

Even better would be to point to a "better/right way" of using RabbitMQ w/ Scala + Play.

[2018-12-27 20:59] wsargent commented on #8904
This is something that exists for Play 1, which is Java based, and is not maintained by this project team.  There are people who still use Play 1, so the documentation is valid for them.

It's also on the RabbitMQ documentation, so you should file a bug on the RabbitMQ project.

[2018-12-27 20:59] #8904 closed

[2018-12-28 04:36] emonmishra commented on #6999
@marcospereira I am also getting this error. How was it fixed?

but if I look at DB, this table is there in 'dbname' .

[2018-12-31 22:00] gmethvin commented on #8109
I'm currently using sbt-java-formatter in https://github.com/gmethvin/directory-watcher which is a mixed Scala/Java project. It works fine for my purposes. The main downside is lack of customizability, and I'm not a huge fan of the way it formats some more "functional" Java code. It's a matter of opinion though, and I guess I'd prefer to standardize on something even if it's not perfect.

[2019-01-02 20:51] #8885 closed

[2019-01-02 21:07] hepin1989 commented on #8109
@gmethvin that's true,can't do anything....

[2019-01-02 22:04] slisaasquatch opened #8910 "[2.7.0-RC8] "The method render() is ambiguous" error in Eclipse"
### Play Version (2.5.x / etc)
2.7.0-RC8 (This time I can confirm it's actually RC8)

### API (Scala / Java / Neither / Both)
Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Windows 10

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
Oracle 1.8.0_181

### Library Dependencies
None

### Expected Behavior
### Actual Behavior
I have `index.scala.html` with:
[code]
I'm calling

[2019-01-02 22:24] slisaasquatch opened #8911 "[2.7.0-RC8] Bad example for JavaJavascriptRouter"
### Play Version (2.5.x / etc)
2.7.0-RC8

### API (Scala / Java / Neither / Both)
Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
N/A

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
N/A

### Library Dependencies
N/A

### Expected Behavior
### Actual Behavior
The example [here](https://www.playframework.com/documentation/2.7.0-RC8/JavaJavascriptRouter#router-resource) is i

[2019-01-02 23:00] mkurz commented on #8911
Yeah, my bad, this needs to be fixed.

[2019-01-02 23:05] mkurz commented on #8910
So that is "just" a problem within Eclipse? The app however works correctly?

[2019-01-02 23:05] slisaasquatch commented on #8910
That is correct.

[2019-01-03 03:46] TimMoore commented on #8910
This sounds like this Scala compiler bug: https://github.com/scala/bug/issues/11271

It's fixed in Scala 2.12.8. I _think_ that updating `scalaVersion` in your project should be enough to fix it for Twirl templates (because the `render` method is generated).

[2019-01-03 15:59] #8853 closed

[2019-01-03 16:03] #8592 closed

[2019-01-03 16:58] slisaasquatch commented on #8910
You are right. I changed my `build.sbt` to have this `scalaVersion := "2.12.8"` and that fixed it. I think Play 2.7 sample projects should be updated with this as well, because that's the only reason I was using 2.12.7. I'll close this ticket.

[2019-01-03 16:58] #8910 closed

[2019-01-03 17:20] marcospereira commented on #8850
Let's keep this open, but with a different focus on create a test suite for how routers handle trailing slashes.

[2019-01-03 17:24] dwijnand commented on #8850
Are we running out of issues?

[2019-01-03 18:01] marcospereira commented on #8850
Be my guest. :-)

[2019-01-03 18:03] marcospereira commented on #8850
To give a proper answer, I don't see the point of creating a new issue since all the discussion is here. It would just create a new level of indirection to read all the information and conversation regarding this matter.

But feel free to compile a new issue with all the information around here.

[2019-01-04 02:34] daric93 commented on #8474
Hi, can i work on it?

[2019-01-04 15:35] marcospereira commented on #8474
Hi @daric93,

Yes, thanks for that.

[2019-01-04 15:46] marcospereira commented on #6999
@emonmishra is it possible to create a reproducer for the problem? Also, which version of Play are you using?

[2019-01-04 16:49] mkurz commented on #8323
Fixed by #8898. Will be available in Play 2.7

[2019-01-04 16:49] #8323 closed

[2019-01-04 21:07] akkie commented on #3544
Any news here? In my opinion, the Play API is inconsistent in this case, because Play can handle duplicate request headers. It should also support duplicate response headers.

[2019-01-05 04:05] hepin1989 commented on #8383
seems like this will be apart of 2.8:)

[2019-01-05 06:56] hepin1989 commented on #8789
This will helps a lot for people who migrating from the *boot thing:)

[2019-01-05 07:54] PromanSEW commented on #1459
Can be closed because of #8887

[2019-01-05 07:56] PromanSEW commented on #4147
Activator is not used anymore. Can be closed

[2019-01-07 13:46] #8911 closed

[2019-01-08 05:09] marcospereira commented on #4147
Yes, fork run plugin does not even exist anymore (since 2.6).

[2019-01-08 05:09] #4147 closed

[2019-01-08 05:10] #1459 closed

[2019-01-08 08:18] renatocaval commented on #8792
@NthPortal, we are going to release 2.6.21 built with Scala 2.12.8.

I'm closing this issue, therefore. Thanks.

[2019-01-08 08:18] #8792 closed

[2019-01-08 11:17] realjax opened #8921 "Using custom ObjectMapper doesn't work when deployed?"
### Play Version 2.6
### API  Java
### JDK OpenJDK 1.8.0_191

I am using the Play framework (2.6) in which I have set a custom ObjectMapper to create JsonNodes as per the documentation.

[code]

[code]
application.conf:

[code]

This works as expected in development mode and null fields are excluded in the generated json. However, when running the binary version created using SBT's dist task this

[2019-01-09 10:35] mkurz commented on #8829
If we fix this I think we are pretty close to make all Java 11 tests green.

[2019-01-09 18:58] nextdtinc opened #8926 "play.http.session.maxAge inconsistencies in application.conf"
### Play Version (2.7 RC8)

### API (Both)

### Operating System (MacOS 10.14.2)

### JDK

openjdk version "11" 2018-09-25
OpenJDK Runtime Environment 18.9 (build 11+28)
OpenJDK 64-Bit Server VM 18.9 (build 11+28, mixed mode)

### Expected Behavior

Most people would expect `play.http.session.maxAge` to be specified in units of seconds, as this is standard for cookie.

The [documentation](https://

[2019-01-10 12:58] realjax commented on #8921
Not at the moment I'm afraid.  Will try at some later time.

[2019-01-10 15:30] marcospereira opened #8931 "Document how Akka HTTP and Netty server backends handle Transfer-Encoding"
### Play Version (2.5.x / etc)

2.6.0+

### API (Scala / Java / Neither / Both)

Both.

### Description

When making a `POST` request to Play using `Transfer-Encoding: chunked` **and** setting `Content-Length` header, Akka HTTP and Netty backend work differently:

1. Akka HTTP follows what is described in [RFC 7230 section 3.3.2](https://tools.ietf.org/html/rfc7230#section-3.3.2) that says "_a sen

[2019-01-10 15:37] mkurz commented on #8931
Refs #8824  (?)

[2019-01-10 16:10] #8892 closed

[2019-01-11 11:22] renatocaval opened #8934 "Document changes in FileInfo and FilePart in Migration27.md"
PR #8878 introduces a new `dispositionType: String` on FileInfo and FilePart, but this is not being mentioned on the migration guide.

play-scala-fileupload-example sample got broken because of that.
https://travis-ci.org/playframework/play-scala-fileupload-example/jobs/478091440#L951-L956

[2019-01-11 11:31] dwijnand commented on #8934
I don't think we should introduce another breaking change with that PR.

[2019-01-11 11:40] mkurz commented on #8934
Hmm... But `FilePart` already is broken by requiring `dispositionType` when used in `case` statement.
Now #8913 requires to add `fileSize` as well... So for migration this is not really another breaking change, in total it's more or less just one (by requiring two params, this can be documented in one section).

[2019-01-11 11:44] dwijnand commented on #8934
Sounds like #8878 wasn't ready to be merged then.

[2019-01-11 12:52] mkurz commented on #6702
Relevant issues: https://github.com/scalacenter/scalajs-bundler/issues/30 / https://github.com/scalacenter/scalajs-bundler/pull/36

Like mentioned already this bug effects case insensitive file systems like used by default in Windows and in macOS. However it looks like [starting with Windows 10 April 2018 Update (version 1803)](https://www.windowscentral.com/how-enable-ntfs-treat-folders-case-sens

[2019-01-11 13:15] mkurz commented on #8423
I think this is the same bug like reported already in #6719 (?), one of the two routes override the other routes' `ReverseRoutes.scala` and `routes.java` files...

[2019-01-11 13:16] mkurz commented on #6719
Also see #8423, I think it's the same bug (but not 100% sure)

[2019-01-11 14:09] Marc2017 opened #8935 "2.7-RC9: Play-Modules are started before DB-Mirgation Script was executed"
### Play Version (2.5.x / etc)

2.7-RC9

### API (Scala / Java / Neither / Both)

Java (Both)

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Windows 8.1.

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

1.8.0_181

### Library Dependencies

### Expected Behavior
### Actual Behavior

When a DB-Evolution script is needed to be executed and autoapply is not set to true the user

[2019-01-11 14:33] renatocaval commented on #8934
@mkurz, although I agree that is one breaking change affecting two fields, we need to cut things somewhere.

It was a mistake to introduce a breaking change in an RC. We need to stabilize it otherwise we never get to release 2.7.0.

May I ask you to split the changes on the migration guide in #8913 and send it in a separated PR?

#8913 will need to be scheduled for 2.8.x.

[2019-01-11 15:04] mkurz commented on #8935
That's a result of how we fixed the evolutions bug in #8875...

Can you be more specific about "_If the Modules need the database_"? Do you mean when making queries against the db from within a module which would need an updated database?

[2019-01-11 15:09] marcospereira commented on #8446
This is not a blocker for 2.7.0.

[2019-01-11 15:09] Marc2017 commented on #8935
Yes, exactly.

I get an Exception in a module that is executed on play-startup and needs to accesss the db.

Eg. fresh DB and there are no tables yet and "1.sql" needs to be executed first (for example) before the module can insert initial data.

before RC9 the modules were started after the evolutions were executed.

best regards
marc

[2019-01-11 15:16] mkurz commented on #8935
Hmm.. I am not sure how to fix this right now... I have to think more about it...
The easiest for now would probably be to check if the table exists and only insert data if it does?

[2019-01-11 15:19] mkurz commented on #8935
(that "table exists" check would only be necessary in dev mode however like: `if(mode != dev || table_exists) { run your sql }`)

[2019-01-11 15:31] mkurz commented on #8935
Yes it will be executed again. That's because after the evolutions got applied the application will be restarted (and all modules will start again):
https://github.com/playframework/playframework/blob/2.7.0-RC9/framework/src/play-jdbc-evolutions/src/main/scala/play/api/db/evolutions/ApplicationEvolutions.scala#L397

Can you give my approach a try and let us know if that works for you?

[2019-01-11 15:37] Marc2017 commented on #8935
Yes I´ll try.

is there a "does need evolution" check I can access from the java module?
(better than compare if a table exists, because perhaps another evolution needs to be applied - or a drop first, or...).

thanks.
marc

[2019-01-11 15:46] mkurz commented on #8935
Not yet ;) I was thinking about the same actually ;)

So I guess you injected a `ApplicationEvolutions` instance into your `OnStartupService`? I think we could expose something like `applicationEvolutions.finished` or similiar (naming suggestions welcome) that indicates if all evolutions have been eventually applied.

[2019-01-11 15:52] Marc2017 commented on #8935
not yet, but I think I could use it that way.

would be ok (or something like isUptodate(), .needsEvolution(), ...).
(but I have no clue about how to implement this - currently)

best regards
marc

[2019-01-11 15:57] mkurz commented on #8935
I could implement this for you ;)
However if you can try with "if table exists" for now and let me know if that works for you that would be great, so we know how to move on here.

[2019-01-11 16:17] Marc2017 commented on #8935
yes I think it will work this way:

-> I included the check for the table and it asks for evolution if it does not exist (no exeption anymore).
-> (The evolution script then has an error, I need to check this, perhaps its an "new" ebean related issue)
-> if I click "mark as resoolved" then it starts the server.
-> on a second run (db was created before) no evolution is executed and the server is s

[2019-01-11 16:22] mkurz commented on #8935
@marcospereira what do you think? Is there may be another solution?

[2019-01-11 21:42] mkurz commented on #7910
There is a way to solve this in Play already, no need to introduce a config or a special symbol.

Based on the requirements above I created a sample project:
https://github.com/mkurz/play-routes-file-prefixes

Assuming you have a package [`com.foo.bar.service.people.v1.controller`](https://github.com/mkurz/play-routes-file-prefixes/tree/master/app/com/foo/bar/service/people/v1/controller) that con

[2019-01-11 21:47] mkurz commented on #7910
(Labeled with `documentation` because I think we should document this.)

[2019-01-11 21:49] mkurz commented on #3470
There is a way to use relative classnames, see here: https://github.com/playframework/playframework/issues/7910#issuecomment-453666277

[2019-01-11 22:45] annacox opened #8937 "Version of com.google.guava:guava used in 2.6.x contains known security vulnerability"
### Play Version (2.5.x / etc)
2.6.x

### API (Scala / Java / Neither / Both)
Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
all

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
1.8.0_192

### Library Dependencies
com.google.guava:guava

### Expected Behavior

The current version of `com.google.guava:guava` (23.6.1-jre) that is being used by playframework 2.6.21 contains

[2019-01-12 00:02] mkurz commented on #8934
@dwijnand @renatocaval I agree that it was a mistake to merge #8878 in the final RC phase. I shouldn't have labeled it `needs-backport`... Sorry for that. @marcospereira probably also overlooked that it was breaking when he backported it (A pity that [SI-6524](https://issues.scala-lang.org/browse/SI-6524) isn't resolved yet...)

I also 100% fully agree it's finally time to release 2.7.0 soon - and

[2019-01-12 07:46] dwijnand commented on #8934
I'd be fine with backporting straight into 2.7.0.  I just don't want an RC10.

[2019-01-12 11:54] diamondo25 commented on #6719
That is correct, the play router generator doesn't split per route file per classname.

[2019-01-12 17:20] gslowikowski commented on #8592
Hi. Currently, after upgrading of test projects to Play! 2.7.0-RC9, loading evolutions in dev mode in:
- [play-scala-anorm-example](https://github.com/playframework/play-scala-anorm-example/tree/2.7.x) - works
- [play-java-ebean-example](https://github.com/playframework/play-java-ebean-example/tree/2.7.x) - **does not work**
- [play-scala-slick-example](https://github.com/playframework/play-scala-

[2019-01-13 09:46] hepin1989 opened #8939 "Code style:more `final` modifier in Java source code."
I would like to see more `final` modifier in Java sources code:
[code]
would be more safer and nicer
[code]

[2019-01-13 12:17] meherbenahmed07 commented on #2662
install node and all is good

[2019-01-13 18:08] hepin1989 opened #8940 "WebSocket did not take type parameter in document"
![image](https://user-images.githubusercontent.com/501740/51088986-3ea9ce00-17a1-11e9-8bce-94acdd421a20.png)

The `WebSocket` class does not take a type parameter, the document is wrong.

[2019-01-13 22:10] mkurz commented on #8592
@gslowikowski That's because `play-slick` and `play-ebean` need a new release. Right now they still use broken `play-jdbc-evolutions` from Play `RC8`:
* https://github.com/playframework/play-ebean/blob/master/build.sbt#L5

* https://github.com/playframework/play-slick/blob/master/project/plugins.sbt#L3
* https://github.com/playframework/play-slick/blob/master/project/Dependencies.scala#L21

After

[2019-01-13 23:39] mkurz commented on #8934
I will update the migration notes in #8913 tomorrow.

[2019-01-14 12:41] mkurz commented on #8935
See #8943. I implemented `ApplicationEvolutions.finished` which you can check for to see if all evolutions were applied successfully in `DEV` mode instead of checking if the table exists already (actually you don't need to check for dev mode, just checking `finished` is enough).

[2019-01-14 14:57] mkurz commented on #8934
I updated the migration notes in #8913 to include the changes in `FileInfo` and `FilePart`.

[2019-01-14 18:46] gslowikowski commented on #8592
Thanks for quick `-RC3` releases. Now it works.

[2019-01-14 21:20] renatocaval opened #8945 "Set MiMa to check on 2.7.0 on branch 2.7.x"
This should be the first issue we work after 2.7.0 release.

On branch 2.7.x, MiMa must be configured to check against 2.7.0 GA. It's not checking against the latest RC (ie: RC9).

We have some MiMa exclusions introduced in #8944. Those should be removed as they will become obsolete in 2.7.0.

[2019-01-15 08:21] #8934 closed

[2019-01-15 10:52] mkurz opened #8946 "No snapshots are generated anymore"
Doc [says](https://www.playframework.com/documentation/2.6.x/Repositories#Accessing-nightly-snapshots) we provide nightly snapshots, however this isn't the case anymore...

* https://oss.sonatype.org/content/repositories/snapshots/com/typesafe/play/play_2.12/
* https://oss.sonatype.org/content/repositories/snapshots/com/typesafe/play/sbt-plugin_2.12_1.0/
* https://oss.sonatype.org/content/reposito

[2019-01-15 13:04] Squeng opened #8947 "Play 2.7.0-RC9 fails to evolve database"
might be related to https://github.com/playframework/playframework/issues/8935

### Play Version (2.5.x / etc)

2.7.0-RC9

### API (Scala / Java / Neither / Both)

Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Windows 10

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

java version "11.0.1" 2018-10-16 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.1+13-LTS)
Java

[2019-01-15 13:11] mkurz commented on #8947
Can you please provide more information? Are you running your application in dev mode?
Do you have a module which runs a query against the database?

[2019-01-15 13:18] Squeng commented on #8947
Yes, I'm running in DEV mode:
`[FiLe-App] $ run -Dhttp.port=9000 -Dhttps.port=9443`
with
`play.evolutions.autoApply=true`
in application.conf.

I've restarted my app with
`play.evolutions.autoApply=false`

So there is a workaround.

[2019-01-15 13:20] mkurz commented on #8947
Do you have any modules that access the database?

[2019-01-15 13:34] Squeng commented on #8947
Thanks for having edited my comment from before, @mkurz !

I'll try to remember to do so myself in the future.

[2019-01-15 13:36] mkurz commented on #8947
Hmm... after looking at the exception log maybe this is not releated to evolutions...
[code]

https://github.com/playframework/playframework/blob/cc8eacf3d6fe40fb8c91e692eef0729b852101a8/framework/src/play/src/main/scala/play/core/j/JavaHelpers.scala#L172

https://github.com/playframework/playframework/blob/cc8eacf3d6fe40fb8c91e692eef0729b852101a8/framework/src/play/src/main/scala/play/api/mvc/Req

[2019-01-15 13:59] Squeng commented on #8947
# first
I've re-set application.conf to say
`play.evolutions.autoApply=false`
(Note that I originally got it wrong in https://github.com/playframework/playframework/issues/8947#issuecomment-454391584)

I've added another SQL script:
[code]

Play 2.7.0-RC9 is back to failing:
[code]

# second
I've stopped the app (and exited the sbt console) and then removed the `target` folder as requested by http

[2019-01-15 14:12] renatocaval opened #8948 "Update Tutorials page once 2.7.0 is out"
https://www.playframework.com/documentation/2.7.x/Tutorials

[2019-01-15 14:40] #8895 closed

[2019-01-15 14:41] #8935 closed

[2019-01-15 14:55] mkurz commented on #8947
@Squeng would it be possible to provide us a test project so we can test ourselves? You could remove all stuff that is not relevant for this issue here, and upload to GitHub?

[2019-01-15 19:38] Squeng commented on #8947
@mkurz After having stripped the project of all that seemed irrelevant, Evolutions are working ...

I'll have to re-strip the project less aggressively; maybe I can figure out what the tipping point is.

[2019-01-15 19:58] mkurz commented on #8947
Interesting. Let us know what you find out along the way.

[2019-01-15 22:47] jroper commented on #8075
The secret is used to sign Play's JWT cookies. All nodes in the cluster need to have it so that they can share and trust each others JWTs.

This might be Yak shaving, but it might be worth creating a pluggable API for providing the secret, with lazily on demand from configuration being the default and initially only implementation. Other alternatives for implementations might include Hashicorp Vau

[2019-01-16 00:04] TimMoore commented on #8075
Definitely yak shaving :smile:

I think a pluggable API would be more useful for other things such as credentials to remote systems (databases, other services) that might be rotated periodically. I think a general solution would be more useful than something that is specific for this secret, which really can't be rotated without invalidating existing sessions AFAIK.

[2019-01-16 01:11] nextdtinc opened #8952 "No migration for using F.Promise in Actions, in Play 2.7?"
### Play Version (2.7 RC9)
### API (Java)
### Operating System (MacOS Mojave 10.14.2)
### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
openjdk version "11" 2018-09-25
OpenJDK Runtime Environment 18.9 (build 11+28)
OpenJDK 64-Bit Server VM 18.9 (build 11+28, mixed mode)

### Expected Behavior

Before Play 2.7, you could `return F.Promise.pure(badRequest(result));`, but `F.Promise` has been taken

[2019-01-16 08:01] golemiso opened #8953 "i18n matching inversely"
### Play Version (2.5.x / etc)

2.6

### API (Scala / Java / Neither / Both)

Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

MacOS 10.12 (Sierra)

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

[code]

### Expected Behavior

1. application.conf is like below

[code]

2. access with `Accept-Language: en-GB`

3. `en` is chosen for rendering

### Actual Behavior

3. defa

[2019-01-16 08:35] nextdtinc commented on #8952
According to documentation in https://www.playframework.com/documentation/2.5.1/api/java/play/libs/F.Promise.html `F.Promise` is deprecated, it says to use `CompletableFuture.completedFuture` instead. What changed in Play 2.7 is that `F.Promise` was finally removed entirely.

I believe the correct Play 2.7 way is thus: `return CompletableFuture.completedFuture(r);`

[2019-01-16 08:35] #8952 closed

[2019-01-16 10:02] mkurz commented on #8873
@nextdtinc I guess we can close this issue since you found a way to solve this?

[2019-01-16 10:05] mkurz commented on #8953
The play way to handle this is to add `en-GB` to the supported languages:

[code]

If you have a `messages.en-GB` file it will be used, if not it will fall back to `messages.en`, if this doesn't exist neither then the `messages` file kicks in.

[2019-01-16 12:08] golemiso commented on #8953
I know how it works. `en-GB` was only an example.
In my opinion, it is preferable for all English users such as `en-AU`, `en-CA`,  `en-IN`, etc. to render in English. However it is not useful to enumerate all possible `en-*` locales. (plus all variant like`en-Latn-US`)

It is nice and clear to add only `en` to the supported languages to support all English users.
I am not only talking about Englis

[2019-01-16 12:35] mkurz opened #8954 "Option to not delete file when moving/copying it out of Play temp folder"
Have a look at [this](https://github.com/playframework/playframework/pull/8889/files#r248240569) and [that](https://github.com/playframework/playframework/pull/8889/files#r248244196) comment.

If I use any of the `copyTo`, `moveTo` or `atomicMoveWithFallback` methods to copy/move a file **out** of the play temp folder, we always keep a "finalize" reference on the "new" file for each of these three

[2019-01-16 12:43] mkurz commented on #8788
@wsargent @marcospereira I think your analysis here and in Marcos comment referenced above was wrong. I think this has nothing to do with the Inode and also not with the file reaper.

First: If I move or copy a file out of the play temp folder, the file reaper does not matter anymore, since it just lists the files in the play temp folder, checks the age of the files and deletes them if they are ol

[2019-01-16 12:43] mkurz commented on #8954
Also see https://github.com/playframework/playframework/issues/8788#issuecomment-454765760

[2019-01-16 12:46] mkurz commented on #8954
Other options how to fix this would be:
* Just never create/hold a "finalize" reference onto a moved or copied file
* Detect if we move/copy a file **out** of the Play temp folder, and if so, only then do not create/hold a "finalize" reference onto such a file

[2019-01-16 12:57] mkurz commented on #8954
Also look what the [docs say](https://www.playframework.com/documentation/2.6.x/ScalaFileUpload#Cleaning-up-temporary-files):

However this is not how it just works now, the GC will also cause to delete files which actually *do get moved out* of the "temporary file system"...

Actually I think the option
* Just never create/hold a "finalize" reference onto a moved or copied file

isn't so bad actu

[2019-01-16 16:31] Squeng commented on #8947
@mkurz After quite some old-fashioned trial & error, I have realized that Evolutions work fine if I get rid of my `ErrorHandler`:
[code]
Maybe it's because of the changes I made to it for 2.7.0-RC8:
![differrorhandler](https://user-images.githubusercontent.com/7399173/51263335-5b6a1f80-19b4-11e9-89f9-1b5ac81c0eae.png)

[2019-01-16 16:43] mkurz commented on #8947
Alright, can you debug which `if` branch is called and also again post the *whole* exception? Thanks!

[2019-01-16 16:44] mkurz commented on #8947
I mean the `onNotFound` in your error handler will even be called or not?

[2019-01-16 17:09] marcospereira commented on #8946
Yes, we need to adapt our nightly script to generate the snapshots for 2.7.x branch instead of only for 2.6.x one.

[2019-01-16 18:01] wsargent commented on #8954
Oh good grief.  You're right, it's right there in the API:

[code]

A TemporaryFile is temporary, and should be deleted.  I think this should return `File`.

[2019-01-16 18:40] mkurz commented on #8954
I will provide a pull request for the 2.6.x branch which does not break compatibility.

[2019-01-16 18:52] Squeng commented on #8947
@mkurz No, it's not. And the `ErrorHandler`is even causing trouble in the following stripped-down version and when I'm entering a URL (for robots.txt) that exists:
[code]
The log message and the stack trace are (the `Subsystem = play.api.http.DefaultHttpErrorHandler` part was generated by `Subsystem = %class` in my `logback.xml`):
[code]

[2019-01-16 18:52] mkurz commented on #8946
Snapshots for 2.7.0 where generated already, however that stopped in October:
`2.7.0-2018-10-24-c19a9bd-SNAPSHOT`

[2019-01-16 18:56] mkurz commented on #8947
Can you post your whole `logback.xml`?

Also can you remove your `logback.xml` and try again?

[2019-01-16 19:55] mkurz commented on #8947
Alright, would it be possible that you upload your project to GitHub or provide it via a zip or gz file so I can debug myself?

[2019-01-16 22:22] wsargent commented on #8954
s/File/Path/

[2019-01-17 05:45] TimMoore commented on #8946
The snapshots are generated from the `master` and `2.6.x` branches. October must be when `2.7.x` was branched from `master`.

[2019-01-17 09:54] mkurz commented on #8946
@TimMoore This makes sense of course :+1:

[2019-01-17 11:16] dwijnand commented on #8946
https://github.com/playframework/interplay/blob/master/bin/stableSnapshots#L18

[2019-01-17 11:24] dwijnand opened #8957 "Document new stable branch procedure"
(Dual of https://github.com/lagom/lagom/issues/1664)

- when should we and when should we _not_ branch the stable branch?
- how should we coordinate/communicate with existing PRs/contributors?
- change the target whitesource project
- add the branch to templatecontrol (check if there are multiple locations)
- make sure nightly artefacts are published from the new branch
- make sure nightly docs ar

[2019-01-17 11:32] mkurz commented on #8954
Fix is here #8958

[2019-01-17 11:54] dwijnand opened #8959 "Drop support for sbt 0.13"
sbt 0.13 is publically EOL, and will eventually be EOL for Lightbend subscribers.
 When that is the case (or in the run-up to it) we can, and I propose should, drop support for sbt 0.13.  Optimistically putting in the 2.8.0 milestone.

Not to be confused with #8383, which is about moving Play's build from sbt 0.13 to sbt 1, which is related but neither blocks one another.

[2019-01-17 13:35] Squeng commented on #8947
- cf. https://github.com/Squeng/Playverderber
- `PS C:\Users\Paul\Desktop\Playverderber> sbt`
- `[FiLe-App] $ h2-browser` -> note the empty DB (no PLAY_EVOLUTIONS table yet)
- `[FiLe-App] $ run -Dhttp.port=9000 -Dhttps.port=9443` and open https://localhost:9443/filewaf/bankers (accepting the Play-generated certificate)
- "Database 'default' needs evolution!" -> "Apply this script now!" => note the

[2019-01-17 14:45] marcospereira commented on #8947
I did some minimal debug so far, but since others may be handling this, let me share my findings:

I think the problem starts here:

https://github.com/playframework/playframework/blob/master/framework/src/play-server/src/main/scala/play/core/server/Server.scala#L101-L116

1. Play manages to get an application
2. It then calls the application request factory, which is [where the request id is popu

[2019-01-17 14:51] mkurz commented on #8947
@Squeng thanks for providing the project, I can reproduce the problem. Thanks!

@marcospereira Nice - will you provide the fix? I could test your pull request then ;)

[2019-01-17 16:54] renatocaval commented on #8946
PR is on its way: https://github.com/playframework/interplay/pull/57

[2019-01-17 22:30] #8946 closed

[2019-01-18 08:49] renatocaval commented on #8946
The fix worked and snapshots are back:

https://oss.sonatype.org/content/repositories/snapshots/com/typesafe/play/play_2.12/2.7.0-2019-01-17-a68fc6d-SNAPSHOT/

https://oss.sonatype.org/content/repositories/snapshots/com/typesafe/play/play_2.12/2.8.0-2019-01-17-45b903d-SNAPSHOT/

[2019-01-18 08:56] mkurz commented on #8946
Nice!

[2019-01-18 10:21] mkurz commented on #8947
@Squeng we are working on a fixed here: #8965

[2019-01-18 10:40] mkurz commented on #8954
Fixed via #8958

[2019-01-18 10:40] #8954 closed

[2019-01-18 14:42] london-coder opened #8968 "Would the project consider dropping unnecessary external library dependencies?"
### Are you looking for help?

This is an issue tracker, used to manage and track the development of Play. It is not a support system and so it is not a place to ask questions or get help. If you're not sure if you have found a bug, or if you have a feature request, the best place to start is with either the [Discuss Play Forum](https://discuss.playframework.com) or [Stack Overflow](http://stackov

[2019-01-18 15:08] dwijnand opened #8969 "Create a test suite for how routers handle trailing slashes"
_Originally posted by @marcospereira in https://github.com/playframework/playframework/issues/8850#issuecomment-451213652_

See #8850 for the discussion.
See #8854 for the implementation.

[2019-01-18 15:08] #8850 closed

[2019-01-18 21:16] mkurz commented on #8947
Fixed by #8965

[2019-01-18 21:16] #8947 closed

[2019-01-19 10:19] damien-roche commented on #7243
Over the last 12 months I went from 6 years of Ruby to Elixir and Go. I would jump to Kotlin and Play in a heartbeat if Play had the support. I understand the interop with Java means it makes sense to start with Play and Java, but it would be a major draw if the messy integration work was already done.

I tried Play many years ago with Scala and enjoyed it, but if I'm tackling the JVM them I'm goi

[2019-01-19 15:02] denisname opened #8971 "CSRFCheck does not respect configured handler"
In Play 2.6 with Scala, the `play.filters.csrf.CSRFCheck.apply` method, when not given a handler, does not respect `play.filters.csrf.errorHandler` configured value and always default to `CSRF.DefaultErrorHandler`. See [CSRFActions.scala](https://github.com/playframework/playframework/blob/8793cfaa568f79e822cb11c1d6a156331ca9ba74/framework/src/play-filters-helpers/src/main/scala/play/filters/csrf/

[2019-01-19 20:42] raderio commented on #7243
@damien-roche just use https://github.com/micronaut-projects/micronaut-core + https://github.com/fizzed/rocker

[2019-01-19 20:52] mkurz commented on #8318
The problem here is caused by this code:
https://github.com/playframework/playframework/blob/3935bfa9025cfa071b3658efcecb033021dc2fb1/framework/src/play-java-forms/src/main/java/play/data/Form.java#L473-L480

If you now have an empty `MessagesApi` (meaning "it exists/is present", but actually does not contain any messages) no error keys are added to the builder at all, causing an `ValidationError`

[2019-01-19 21:06] mkurz commented on #8318
See #8972 and #8973 for fixes.
The fix is that we just have to make sure that we add the default error key (namely `error.invalid`) as validation error key if binding fails and if no error key was found in messages. Easy.

[2019-01-20 03:35] damien-roche commented on #7243
Appreciate the suggestion, but that's a micro framework. I have use for a full-featured MVC framework, not micro-services. I may use `micronaut` for something else, though, so thanks for the ref.

[2019-01-20 11:34] cchantep commented on #8953
Hi, please first use the [mailing list](https://discuss.lightbend.com/c/play) to discuss feature change/request. Best regards

[2019-01-20 13:22] raderio commented on #7243
MIcronaut is just like Spring Boot. It was inspired by Spring Boot, but has compile time dependency injection.

[2019-01-21 08:49] gaurang-sawhney commented on #8114
Is this issue already fixed by the require statement [here](https://github.com/playframework/playframework/blob/4de771202fabe90a6ab7f64ab56c46ce6c699696/framework/src/play/src/main/scala/play/api/mvc/Session.scala#L61).
Similarly Flash also have this check.

[2019-01-22 07:19] dwijnand commented on #7940
Duplicate of #8857

[2019-01-22 07:19] #7940 closed

[2019-01-22 08:35] dwijnand opened #8980 "Document the version policy"
In particular:

* when features/enhancements are introduced
* when APIs are deprecated
* when deprecated APIs are removed
* when source compatibility is maintained/broken
* when binary compatibility is maintained/broken

Note the version policies/guidelines upstream:
* https://docs.scala-lang.org/overviews/core/binary-compatibility-of-scala-releases.html
* https://docs.scala-lang.org/overviews/cor

[2019-01-22 10:37] jtjeferreira commented on #8857
@dwijnand I see you set the Play 2.8.0 milestone, that mean 2.13 will only land in 2.8.x, or would be possible to introduce it later in the 2.7.x series?

[2019-01-22 11:30] Flo354 commented on #2983
I am also interested by this feature.
Any news?

[2019-01-22 11:59] mkurz commented on #2983
Is
[code]
what you are looking for?

[2019-01-22 12:02] mkurz commented on #2983
Also have a look what else you can access here:
https://github.com/playframework/playframework/blob/2.6.21/framework/src/play/src/main/java/play/routing/HandlerDef.java

[2019-01-22 12:02] kiamesdavies commented on #2983
I was able to do this on one of our projects
Assume u have a path  like /users/:appUserId/ and u want to extract  appUserId

You can extract it like this

`getParameterValue(ctx, "appUserId")`

[code]

[code]

[2019-01-22 12:06] Flo354 commented on #2983
@mkurz no I am searching exactly for the solution provided by @kiamesdavies.

I am wondering why this isn't available natively within play?

[2019-01-22 13:31] dwijnand commented on #8857
To be decided.  And also I added it to the 2.8 milestone because I _hope_ we can deliver it, but it's no guarantee.  For 2.7 we'll be able to tell when we see what it means to support Scala 2.13.

[2019-01-22 21:19] naferx opened #8981 "Remove support for `play.crypto.secret` & `application.secret` in 2.7.x"
They have been marked as deprecated for a while

`application.secret` since https://www.playframework.com/documentation/2.4.x/Migration24#Configuration-changes and `play.crypto.secret` since https://www.playframework.com/documentation/2.6.x/Migration26#Other-Configuration-changes

[2019-01-23 09:37] dwijnand commented on #8857
Upgraded play-ws.

We're going to release play-ws 2.0.1 shortly (for Play 2.7), at which point this can be PR'd.

[2019-01-23 11:08] Guisanpea opened #8984 "Document Authotication"
Currently there is no documentation on version 2.6.x on how to use the Authenticators for simple authentication procedures in Java (I haven't checked on Scala). The most recent documentation about it that I have found is in [Play 2.2 documentation](https://www.playframework.com/documentation/2.2.x/JavaGuide4).

I am sure that there is a reason for not including it on recent releases but I wonder w

[2019-01-23 14:23] EdgeCaseBerg commented on #6845
This also seems to occur when upgrading from 2.3 to 2.4. Play 2.3 seems to not mind multiple remote addresses in the forwarded for header so long as you've got `trustxforwarded` set to true and the proto header reads `https` if I'm reading [this code right](https://github.com/playframework/playframework/blob/2.3.x/framework/src/play/src/main/scala/play/core/server/netty/PlayDefaultUpstreamHandler.

[2019-01-23 14:35] marcospereira commented on #8981
A pull request would be very welcomed here.

[2019-01-23 15:40] dwijnand commented on #8857
Welp!  https://github.com/playframework/play-ws/issues/274#issuecomment-456838316  😄

[2019-01-23 16:17] 0xbaadf00d opened #8985 "Possible security issue: request A get result from request B"
### Description
When Play is on charge and Action composition is slow for any reasons, Play don't return the right result for a specific request. It could be a security issue and more dangerous if user A get result from user B request.

### Play Version
Play 2.6.21 (Java) with scalaVersion=2.12.8

### Operating System

CentOS 7 x64 and Windows 10 X64 (both up-to date)

### JDK

 java-1.8.0-openjdk

[2019-01-23 17:52] jtjeferreira commented on #8857
I can give this a try...

[2019-01-23 19:37] dwijnand commented on #8857
Marcos started, and realised we need play-docs still.

[2019-01-23 23:37] mkurz commented on #8985
You marked `UserSessionRequiredImpl` as `@Singleton`. That's the problem.
[code]
When you remove the singleton it works correctly.

Because you marked this action as singleton, what happens is, that when getting an instance of a `UserSessionRequiredImpl` action, we always get the **same** instance:
https://github.com/playframework/playframework/blob/9ba5a9d67a561e3c13173fb31ba2530dfc883ffd/framewo

[2019-01-23 23:42] mkurz commented on #8318
Fixed.

[2019-01-23 23:42] #8318 closed

[2019-01-24 08:56] 0xbaadf00d commented on #8985
Thank you @mkurz ! Indeed, it would be interesting to put a big warning about the use of the Singleton annotation on filters and not just a small note

[2019-01-24 08:58] mkurz commented on #8985
Probably we should also actually log a warning when the singleton annotation is detected...

[2019-01-24 10:15] jtjeferreira commented on #8857
Well I have pushed what I got into #8986 and there are some errors in the `it:tests` that I need to look into.

However I don't understand whats the problem with play-docs

[2019-01-24 10:44] naferx commented on #8981
A PR will be arriving ;)

[2019-01-24 15:48] octonato opened #8987 "Highlight new orElse method in Play 2.7.x"

[2019-01-24 16:19] london-coder commented on #8968
Hi, It would have been encouraging if you addressed the points I was raising! What versions of Play have removed the dependency on Akka 2.4.20 and depend on later version, after all, Akka 2.5.0 was released in April 13 2017...

[2019-01-24 16:59] mkurz commented on #8985
Actually user A would get the path and/or query params from user B. The request/http.context instance should be ok. However still, leaking path/query params to another user is bad. Very bad.

I was thinking about this. I think we should not just warn, but throw an exception if an action is a singleton, given that it would then be possible that data from user A could leak to user B.
In your example

[2019-01-24 17:08] mkurz commented on #8985
I will provide a pull request later today...

[2019-01-24 17:40] dwijnand commented on #8968
Play 2.6.21 (the latest, stable version, which is what we recommend using) depends on Akka 2.5.19, which is also the recommended latest, stable version of Akka.

If you're looking for more specifics I think you should be able to self-serve them via the git history and maybe even the highlights or migration guide sections of the versioned docs.

[2019-01-24 21:41] mkurz commented on #8985
Turns out there is a note in the docs already:

https://www.playframework.com/documentation/2.6.x/JavaActionsComposition#Composing-actions

[2019-01-24 21:48] mkurz commented on #8985
See #8989

[2019-01-25 14:15] rmmeans commented on #3234
For others that are still finding this thread and having problems with assets being available in test runs we found success on Play 2.6 for our functional tests ( our functional tests are just another suite that extends the `Test` configuration: ```lazy val FunctionalTest = config("functional") extend Test``` by adding this one line:
[code]

This was hidden in the details of the `sbt-web` README.

[2019-01-26 13:13] eximius313 opened #8991 "Allow for using dot in query string parameter"
### Play Version (2.5.x / etc)
2.6.18

### API (Scala / Java / Neither / Both)
Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Windows 7

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
JDK 9.0.4

### Library Dependencies
N/A

### Expected Behavior
[code]

should be allowed

### Actual Behavior
Neither `myCallback(test.x: java.util.Optional[String])` nor `myCallback("test.

[2019-01-26 20:08] dwijnand opened #8992 "Reformat and unnest"
Hi!  So there's a number of repository structure issues the @playframework/core team would like to resolve so we've come up with this plan, which we're sharing with the @playframework/integrators team, in case there's anything we didn't consider.

The plan is to:
* send 1 massive PR (rather than several big PRs)
* in which the scope is to:
  * use scalafmt & sbt-java-formatter, and
  * unnest the

[2019-01-27 03:59] Ove-Karlson commented on #8921
@realjax I managed it with the the Provider<T> interface. Have a look at  following snippet:
[code]

And then bind it into a module like:
[code]

Have a look into the original ObjectMapperModule, they are almost the same.
Hope it helps

[2019-01-28 07:10] dwijnand commented on #8987
@renatocaval are you going to/please can you take this?

[2019-01-28 09:53] renatocaval commented on #8987
Yes, I just drop it here so we don't forget.

[2019-01-28 14:23] mkurz commented on #8991
This won't be straightforward to implement given that in Java it's not allowed to have dot's in a variable name (think of the params in the action methods). Given that most of the generated router code is Scala however, we could just use Scala's backtick syntax (``` `my.var` ```) inside that generated code.
For the Java params we probably have to come up with some form of aliases (e.g. params with

[2019-01-29 07:05] gaurang-sawhney commented on #8383
Hi,
I would like to work on this issue. Should we upgrade to `1.2.8`?

[2019-01-29 07:12] dwijnand commented on #8383
Yes, we should use 1.2.8, and do the necessary migration away from private APIs.

[2019-01-29 16:34] SethTisue commented on #8959
I don't see how the EOL status at Lightbend affects the decision here? It seems to me that you can drop 0.13 support in 2.8 regardless of 0.13's EOL date.

[2019-01-29 17:10] dwijnand commented on #8992
Now I'm not sure if I'll make it for Friday, but I'll try.

Akka's PR is https://github.com/akka/akka/pull/26220

[2019-01-29 19:14] dwijnand opened #8997 "Use sbt-pull-request-validator"
Konrad Malawski developed in the Akka build a system that allowed it to help it's PR validation by only building and testing what was changed in the PR.  James Roper extracted that into a standalone plugin.

Let's use it to improve out PR validation times!

https://github.com/sbt/sbt-pull-request-validator

[2019-01-29 20:10] #8857 closed

[2019-01-29 20:45] dwijnand opened #8999 "Support Akka Typed"
- [ ] Write a provider for Akka Typed `ActorSystem`
- [ ] Write binders for Akka Typed `ActorRef[A]`
- [ ] Allow for web socket backends to be defined by a typed actor

For the first two @marcospereira started exploring Akka Typed in a Play over in https://github.com/marcospereira/play-typed-actors-scala.

[2019-01-29 20:53] #8987 closed, assigned to octonato

[2019-01-29 21:09] dwijnand opened #9000 "Check crossScalaVersions sync programmatically"
In akka-grpc I developed a script to enforce syncing inside the repo: https://github.com/akka/akka-grpc/blob/9530233068ba35e5cbbd4a23dd666f34b1422b13/project/GrpcVersionSyncCheckPlugin.scala

We could use that instead of

[code]

[2019-01-30 09:06] gaurang-sawhney commented on #8383
@dwijnand I am trying to push the code but getting a forbidden(403) error
[code]
Does anybody need to authorize me here?

[2019-01-30 09:33] dwijnand commented on #8383
@gaurang-sawhney you need to fork the repo and send a pull request: https://help.github.com/articles/about-pull-requests/

[2019-01-30 10:47] ignasi35 commented on #8992
I take the idea from Lagom's folder structure:

<img width="448" alt="screen shot 2019-01-30 at 11 33 05" src="https://user-images.githubusercontent.com/762126/51975579-e0f4d180-2482-11e9-95e6-41ef18d0e2f6.png">

When navigating Play's flat structure I find confusing having to scroll too much or `grep` the whole project. I was thinking about something on the lines:

[code]

Note: in the proposal a

[2019-01-31 07:14] mkurz commented on #8945
Fixed in #9003

[2019-01-31 07:14] #8945 closed

[2019-01-31 14:25] ignasi35 opened #9005 "Scripted tests should not use scalatest+play"
`scripted` tests in Play itself should not use scalatest+play as that introduces a circular dependency.

Currently [both tests in the `shutdown` test suite use `scalatestplu-play`](https://github.com/playframework/playframework/blob/master/framework/src/sbt-plugin/src/sbt-test/shutdown/downing/build.sbt#L18).

[2019-01-31 17:50] SethTisue commented on #8857
should this ticket have been closed? (have artifacts been published for M5?)

[2019-01-31 17:55] raboof commented on #8857
Jup, for example https://search.maven.org/artifact/com.typesafe.play/play-server_2.13.0-M5/2.7.0/jar

[2019-01-31 17:57] dwijnand commented on #8857
Published but not released/announced.

[2019-01-31 19:52] Mat2095 opened #9006 "max-age configurable for language-cookie"
The max-age for the session-cookie can be configured with `play.http.session.maxAge`.
The max-age for the language-cookie however cannot be changed, it is always transient (https://github.com/playframework/playframework/blob/2.7.0/framework/src/play/src/main/scala/play/api/i18n/Messages.scala#L519).
I think it might be a good idea to add the possibility to configure this as well.

[2019-01-31 19:56] mkurz commented on #9006
@Mat2095 Could you provide a pull request for this?

[2019-01-31 20:08] Mat2095 commented on #9006
@mkurz I guess I can try to. However, I haven't done anything in this project yet, I haven't written a single line of scala yet, and I've just played around with a project that is using play for a few days. So it might take some time for me to get into this. But yes, I'll try.

[2019-01-31 20:09] mkurz commented on #9006
@Mat2095 Thanks, let me know if you need some help.

[2019-01-31 20:43] SethTisue commented on #8857
ok, I see. I wanted to try play-webgoat, but it's blocked by omnidoc (https://github.com/playframework/playframework/issues/8492)

[2019-01-31 20:45] SethTisue commented on #8857
scala/make-release-notes@85f5accf480d413fb0edd1ded076161893fd229b

[2019-01-31 21:57] ignasi35 commented on #8992
@renatocaval yeah, I wasn't sure where to put `evolutions`.

I would like to keep all the `WebCommands` together, though:

[code]

The other items I'm not so sure about anymore are:

[code]

I put them in `dev/` but they are projects used during development of play itself and not tools provided to the end user for the `Mode.Dev`.

[2019-02-03 17:43] eximius313 commented on #8603
@marcospereira I have exactly the same problem now with newest Mapstruct (1.3.0.Beta2).
* Play 2.6 + 1.2.0.Final = work fine
* Play 2.6 + Mapstruct 1.3.0.Beta2 = work fine
* Play 2.7 + 1.2.0.Final = work fine
* Play 2.7 + Mapstruct 1.3.0.Beta2 = error:
[code]

[2019-02-04 12:14] marcospereira commented on #8992
I would prefer to have `play-jdbc-evolutions` inside `persistence` instead of trying to have all the web commands together. Some suggestions:

1. Rename `dev` to `dev-mode` to make it clear what is it about
1. Move `play-integration-test` and `play-microbenchmark` to `core` makes more sense to me. As you said, this is part of the framework testing (and these projects aren't published anyway).

[2019-02-05 19:34] ignasi35 commented on #8992
@marcospereira what do you think about `play-docs-sbt-plugin` and `play-docs`?

[2019-02-08 16:21] marcospereira commented on #8992
Hey @ignasi35 I'm okay with keeping them in `dev`/`dev-mode`.

[2019-02-08 16:25] ignasi35 commented on #8992
Summing up previous comments:

[code]

[2019-02-08 22:04] marcospereira commented on #8992
It looks great to me, @ignasi35. Thanks for compiling all the comments here. One final observation is that `play-java` belongs in `core`.

[2019-02-09 00:48] fushar commented on #4820
@marceloemanoel Sorry, you are right. This is resolved. The problem was in our nginx config, we did `proxy_pass` to  `https`. Changing that to `http` solved the problem. Thank you!

[2019-02-11 08:15] SattaiLanfear opened #9020 "Malformed Config Files Kill Server With Useless Error Message [2.7.0]"
### Play Version (2.5.x / etc)

2.7.0

### API (Scala / Java / Neither / Both)

Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Linux 4.15.0-45-generic #48-Ubuntu SMP Tue Jan 29 16:28:13 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

openjdk version "1.8.0_191"
OpenJDK Runtime Environment (build 1.8.0_191-8u191-b12-2ubuntu0.18.0

[2019-02-12 17:04] dwijnand commented on #8992
This will subsume #8109 too.

[2019-02-13 07:32] zoyaforever opened #9022 "java.nio.charset.MalformedInputException: Input length = 1"
### Play Version (2.7.0)

### API (Java)

### Operating System (Windows 10)

### JDK (Oracle 1.8.0_202)

java version "1.8.0_202"
Java(TM) SE Runtime Environment (build 1.8.0_202-b08)
Java HotSpot(TM) 64-Bit Server VM (build 25.202-b08, mixed mode)

### Library Dependencies

### Expected Behavior

1. My codes compile successfully in 2.6.21,  when I changed to 2.7.0,  it should be OK,  but it faile

[2019-02-13 08:50] dwijnand commented on #8992
So after preparing by experimenting with the formatting setup in another repo, I've actually got cold feet on doing _both_ reformat _and_ the unnest in one massive PR.

Because I fear it might take time for CI validation to pass, and then feedback might delay the PR from merging, which makes it go stale (or freeze the PR queue), then there's potential for a bikeshedding session to break out.  Ther

[2019-02-13 11:16] renatocaval commented on #9022
Hi @zoyaforever, could please post here your routes file or a reproducer that we can use to investigate it further.

I suspect that there is a regression on the routes compiler that only comes to the surface in some specific case which may explain why nobody detected it before and this is hitting you now. The clue is in your routes file. :-)

[2019-02-14 00:52] zoyaforever commented on #9022
@renatocaval Thanks for your help.

This is routes file: [routes](https://github.com/playframework/playframework/files/2862837/routes.zip)

[2019-02-14 09:08] renatocaval commented on #9022
Thanks @zoyaforever.

The file is quite large and I don't see anything wrong if it at first sight.

May I ask you do run the following:

1. remove all entries from the file
2. compile it
3. add a small section of the original file
4. repeate 2 and 3 until you find an offending entry.

[2019-02-14 10:13] zoyaforever commented on #9022
@renatocaval

Ok thanks, I will do it and tell you the result.

[2019-02-14 10:14] dwijnand opened #9024 "Upgrade to Twirl 1.4"
We should use twirl 1.4 final here someday:

https://github.com/playframework/playframework/blob/99dc256d8a4d38e3baa0dbf7deb5752ade5a077c/documentation/project/plugins.sbt#L20

_Originally posted by @mkurz in https://github.com/playframework/playframework/pull/9023_

[2019-02-14 10:19] mkurz commented on #9022
This is definitely a bug and needs to be fixed in 2.7.1.

I am pretty sure this is caused by the removal of `commons-io` in #8443.

Have a look at what changed in `RoutesCompiler.scala` and in `RoutesFileParser.scala` below here:
https://github.com/playframework/playframework/pull/8443/files#diff-7e7d903be0be4ca55af014f9a33b7295
Line 43 (`Files.readAllLines(...)`) is exactly the line that fails ac

[2019-02-14 10:24] mkurz commented on #9022
One more thing: On my Ubuntu machine I tried to find out the encoding of the `routes` file @zoyaforever provided:
[code]
It's `us-ascii` because all the chars in the file just fit into this encoding. But I guess we are using UTF-8 in Java to read the file...

However, as soon as I add a UTF-8 character to the file e.g. the german umlaut `ä` it's recognized as UTF-8 file:
[code]

@zoyaforever Can y

[2019-02-14 10:47] zoyaforever commented on #9022
@renatocaval @mkurz

- If I remove all of the content of routes(an empty file), the error still exists
- If I copy a example routes file from [routes](https://github.com/playframework/play-java-ebean-example/blob/2.7.x/conf/routes) here, and remove all contents, the error still exists
- If I add the '# ä' to the top of the routes file, the error still exists

[2019-02-14 11:04] mkurz commented on #9022
I still think the problem is what I described above. Probably you have some default encoding on your Windows 10 machine or the Java installation that causes the problem.

[2019-02-14 11:11] zoyaforever commented on #9022
hi @mkurz

I write a small test code in another java project:

`
Files.readAllLines(new File("routes").toPath(), Charset.forName("UTF-16"))
`

it produces the same error as in Play 2.7.0:

`
java.nio.charset.MalformedInputException: Input length = 1
	at java.nio.charset.CoderResult.throwException(CoderResult.java:281)
	at sun.nio.cs.StreamDecoder.implRead(StreamDecoder.java:339)
	at sun.nio.cs.Str

[2019-02-14 11:14] zoyaforever commented on #9022
By the way, I have already added the following section in build.sbt

`
javacOptions ++= Seq(
  "-encoding", "UTF-8"
)
`

[2019-02-14 12:00] renatocaval commented on #9022
Ok, let's fix it after the unnesting PR #9023 to avoid one more PR to migrate.

@zoyaforever have you tried to force your file to be UTF-8 in Windows? That might be an easy workaround for now.

And thank @mkurz for the archaeology work! ;-)

[2019-02-14 15:04] mkurz commented on #9022
@zoyaforever One more idea for a workaround: Let's try to set the default (file) encoding for Java to UTF-8 into an environment variable. You are using Windows 10 arent you? Open the command prompt:
[code]
Let me know if that worked for you.

[2019-02-14 15:21] mkurz commented on #8782
Also see if we can deprecated `HttpExecutionContext`:
https://discuss.lightbend.com/t/play-2-7-java-issues-with-deprecated-http-context/3377/9

[2019-02-15 01:17] zoyaforever commented on #9022
Hi @mkurz ,thanks for your help

If I run it as you mentioned in Windows CMD, it compiles successfully. (I add an extra '=' between JAVA_TOOL_OPTIONS and "-Dfile.encoding=UTF-8")
`
<pre>
set JAVA_TOOL_OPTIONS="-Dfile.encoding=UTF-8"
sbt clean
sbt compile
</pre>
`

If run it in Windows PowerShell, It fails.

But if I set the environment variable in here (desktop -> right click the Computer icon ->

[2019-02-15 10:03] mkurz commented on #9022
@zoyaforever Great! Let's see if we can come up with a fix until 2.7.1 so you can get rid of the env variable.

[2019-02-15 12:50] denisftw opened #9028 "Initialization code that relies on evolutions fails with exceptions"
### Description

Initialization code that runs immediately after evolutions and relies on them being applied causes exceptions in Play 2.7, but works well in Play 2.6.20.

### Play Version

2.7.0

### API

Scala

### Operating System

Linux dell 4.4.0-142-generic #168-Ubuntu SMP Wed Jan 16 21:00:45 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### JDK

openjdk version "1.8.0-adoptopenjdk"
OpenJDK Runti

[2019-02-15 12:54] mkurz commented on #9028
This is documented in the migration guide:
https://www.playframework.com/documentation/2.7.x/Migration27#Application-starts-when-evolutions-scripts-need-to-be-applied-in-DEV-mode

What you need to do is to check if the database is up-to-date:
[code]

[2019-02-15 13:33] denisftw commented on #9028
@mkurz Yeah, you're right! I guess I needed to pay more attention to migration notes ><

Now I checked [this discussion](https://github.com/playframework/playframework/issues/8935), but I'm not convinced that the flag is the best solution. If I add this condition, then I'll avoid the exception, but the code will never be executed either.

I agree that making evolutions more user-friendly is a good

[2019-02-15 13:35] mkurz commented on #9028
Happy to help.

[2019-02-15 13:35] #9028 closed

[2019-02-15 14:08] mkurz opened #9030 "[Bug] It's impossible to set Netty native socket transport options"
In Linux, when using
[code]
and you want to set *a native socket transport specific* option, e.g. `TCP_FASTOPEN`, **this is just not possible in Play right now (!)**

You might think you can just do it by setting it under the `child` key:
[code]
you end up with this warning (**when staging the app, not in dev mode!!!** Because `play.server` key gets ignored in dev mode):
[code]
But wait... `SO_KEE

[2019-02-15 14:12] mkurz commented on #9030
Here we go: #9031

[2019-02-15 15:50] sizer opened #9032 "Broken link found at playframework.com"
Hi there I'm newbie but interested in this nice framework ;)

I found broken link at playframework.com.
Should I report it here? If I'm wrong, let me know where should I report.

### Expected Behavior

Open correct page.

### Actual Behavior

Page not found...

### Reproducible Test Case

Open
https://www.playframework.com/getting-started

Click "Introduction to Play" under "New to Play?" > "Learn

[2019-02-15 16:16] ihostage commented on #9032
I can't reproduce. After click opened page https://www.playframework.com/documentation/latest/Introduction redirected to https://www.playframework.com/documentation/2.7.x/Introduction

[2019-02-16 03:40] sizer commented on #9032
When I open
https://www.playframework.com/documentation/latest/Introduction redirected to
https://www.playframework.com/documentation/ja/2.4.x/Introduction
And that is Not Found Page.

I'm in Japan. Thus, the location 'ja' is not problem.
But, it looks like strange behaviour that some programmers who live in Japan can NOT open link correctly.

In my opinion, When not found Japanese translation, sh

[2019-02-16 05:20] ihostage commented on #9032
Can you share result of next command?
[code]

[2019-02-16 08:19] #8992 closed

[2019-02-16 08:38] sizer commented on #9032
@ihostage

I did it and results are below.
When I send request without header, I could open page.
But, send with `Accept-Language: ja,en;` as Header, I got not-found-page.

#### `curl -v https://www.playframework.com/documentation/latest/Introduction`

[code]

#### `curl -v -H 'Accept-Language: ja,en;' https://www.playframework.com/documentation/latest/Introduction`

[code]

[2019-02-17 02:42] yangmingsen commented on #2865
`[error] java.lang.ExceptionInInitializerError
[error]         at play.twirl.compiler.TwirlCompiler$TemplateAsFunctionCompiler$.getFunctionMapping(TwirlCompiler.scala:425)
[error]         at play.twirl.compiler.TwirlCompiler$.generateCode(TwirlCompiler.scala:326)
[error]         at play.twirl.compiler.TwirlCompiler$.generateFinalTemplate(TwirlCompiler.scala:377)
[error]         at play.twirl.compi

[2019-02-17 02:44] yangmingsen commented on #2865
What is the problem?

[2019-02-18 00:58] TimMoore commented on #9032
Thanks for the report, @sizer and the analysis @ihostage! This looks like the same issue reported at https://github.com/playframework/playframework.com/issues/252 so I'll close this one. Note that issues with the website are tracked in that repository rather than this one.

[2019-02-18 00:58] #9032 closed

[2019-02-18 14:18] dwijnand commented on #8992
Entirely completed:
* unnest master: https://github.com/playframework/playframework/pull/9023
* unnest 2.7.x: https://github.com/playframework/playframework/pull/9027
* unnest 2.6.x: https://github.com/playframework/playframework/pull/9029
* reformat master: https://github.com/playframework/playframework/pull/9026
* reformat 2.7.x: https://github.com/playframework/playframework/pull/9034
* reforma

[2019-02-19 02:17] malkaviano opened #9042 "play.api.Logging cannot be found."
Play 2.7 docs

Documentation refers to play.api.Logging but I cannot found it in github and compiler says it does not exist.

Cheers.

[2019-02-19 13:12] notflorian opened #9043 "Log4j MatchError in console when terminating with Ctrl + C an application launched with sbt run"
### Play Version (2.5.x / etc)

I encounter this issue with Play 2.7.0 and not with Play 2.6.20.

### API (Scala / Java / Neither / Both)

Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Fedora 29

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

openjdk version "1.8.0_201"
OpenJDK Runtime Environment (build 1.8.0_201-b09)
OpenJDK 64-Bit Server VM (build 25.201-b09, mixe

[2019-02-19 13:38] mkurz commented on #9022
@zoyaforever Can you please tell me what `java.nio.charset.Charset.defaultCharset()` returns on your machine? Just use `System.out.println(java.nio.charset.Charset.defaultCharset());` somewhere in your code to print the value. Thanks!

[2019-02-19 13:39] mkurz commented on #9022
But please remove the environment variable before you do this! Thanks!

[2019-02-19 13:46] #9030 closed

[2019-02-19 15:17] malkaviano commented on #9042
Totally my mistake, was using play 2.6.

[2019-02-19 15:17] #9042 closed

[2019-02-19 15:44] marcospereira commented on #8109
Closed by https://github.com/playframework/playframework/pull/9026.

[2019-02-19 15:44] #8109 closed

[2019-02-19 16:10] notflorian commented on #9043
Update to this issue thanks to the suggestion of @loicdescotte : If I stop the application with Ctrl + D, I don't get this error log in the console.

[2019-02-19 16:37] Ophirr33 opened #9046 "Can't search play 2.7 scaladoc on Firefox/Chromium"
While trying to search the 2.7 scaladoc (https://www.playframework.com/documentation/2.7.x/api/scala/index.html?search=json), no search results are displayed and content security policy errors are logged to the console.

### Firefox

![play-framework-csp-errors](https://user-images.githubusercontent.com/15920577/53030834-a525aa00-3439-11e9-9b4c-ce09e8d3278e.png)

Version: 65.0

### Chromium

![pla

[2019-02-19 21:56] #8985 closed

[2019-02-19 23:00] marcospereira commented on #9043
I wonder if this is an sbt problem. Did you also update sbt version? If so, could you downgrade to the version you were using before to confirm/deny it is sbt problem?

[2019-02-19 23:47] marcospereira commented on #8984
No secret reason at all. :-)

A pull request to better document, with examples for both Java and Scala, would be very welcomed.

[2019-02-19 23:50] marcospereira commented on #8957
Should we move this to play-meta? Looks like a policy that we want to all projects under play & lagom orgs.

[2019-02-19 23:53] marcospereira commented on #8873
Closing.

@nextdtinc fell free to add some more information later if you think we should reopen this. :-)

[2019-02-19 23:53] #8873 closed

[2019-02-20 01:16] zoyaforever commented on #9022
hi @mkurz
After I remove the environment variable, it prints: GBK
"GBK" is the default charset in China.

[2019-02-20 06:09] dwijnand commented on #8957
I don't mind, but I thought there would play/lagom main repo specifics, so I opened the individual issues.

[2019-02-20 09:26] notflorian commented on #9043
I tried with sbt 1.1.6 and 1.0.4 and got the same error log in play 2.7.0.
Then I tried the same sbt versions with play 2.6.21 and didn't got the error log.

Maybe between the 2.6.21 and 2.7.0 a transitive dependency of log4j change from log4-core to log4j-api and that causing a conflict with sbt?

[2019-02-20 14:10] mkurz commented on #9022
Here is an idea how to this: #9052

[2019-02-21 18:49] byF opened #9055 "Binding both HTTP and HTTPS ports when running in dev"
### Play Version (2.5.x / etc)
2.6.15

### API (Scala / Java / Neither / Both)
Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
macOS 10.14.3

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
Oracle 1.8.0_181

### Library Depedencies
`play-sbt`

### Expected Behavior

I bind the ports for development in sbt with:
[code]

Using `run` should start listeners for both HTTP and

[2019-02-22 08:51] mkurz opened #9059 "Akka HTTP server should also set the Server request attribute"
According to https://www.playframework.com/documentation/2.7.x/NettyServer#Verifying-that-the-Netty-server-is-running:

IMHO the Akka HTTP backend should also set the attribute (most likely to `akka-http`). I mean in theory we could add other server backends as well and I think it makes sense to identify them correctly.
There are tests in place already which do check that request attribute, so the

[2019-02-22 14:04] domdorn commented on #6765
for anyone stumbling over this, you can just put two semicolons in your evolutions to escape them. e.g. I just created my stored procedure like this in my evolution:
[code]

[2019-02-22 14:16] chipz commented on #8981
Hi guys, I created a PR on removing the `play.crypto.secret` and `application.secret` on https://github.com/playframework/playframework/pull/9061

[2019-02-22 16:42] marcospereira commented on #6765
I think the correct path is to integrate something like FlywayDB, which will probably fix other issues as well. Of course, we need to add it in a way that does not break existing applications using the current evolutions mechanism. What I mean here is that I prefer to have Flyway, which is more mature, well tested and feature rich than Play Evolutions as the default, than evolve Play Evolutions to

[2019-02-22 19:26] ihostage commented on #6765
@marcospereira I like Flyway and I think that it's a good idea 👍
But...BUT... Flyway [Undo](https://flywaydb.org/documentation/command/undo) is not free unlike Evolutions Down feature 😢
And Flyway DB has two problems:
- If you use a one migration script for the one release version, you have a problem with failing migration in every test environment after every merge 😞
- If you create a migration s

[2019-02-24 02:43] #8981 closed

[2019-02-24 05:44] qwefgh90 commented on #8286
@almothafar Hello. Did you find a solution without devSettings or system properties?
If there is no other solution, Is there other way to test a timeout of websocket automatically?

[2019-02-25 14:09] #9000 closed

[2019-02-26 22:22] aturner-tvpage commented on #4717
Nope - still seeing this error in 2019.  :/.

[2019-02-28 21:02] marcospereira opened #9066 "Make it possible to configure where the temporary files are created"
### API

Java & Scala.

### Expected Behavior

Have a configuration to indicate the directory where the temporary files are created. The directory should be created automatically or the application should fail to start if it is not possible to create it. The actual behavior should be the default though.

### Actual Behavior

`TemporaryFileCreator` always create files using the default temporary-fi

[2019-02-28 22:32] renatocaval opened #9067 "Add abstract class to easy DI for Routers defined with RoutingDsl"
This came to the surface while documenting `Additional Routers` in Lagom.

It's not easy to encode a Router using the RoutingDsl and have a specific type that we can later use in Lagom.

For instance, Lagom has the following API to add Additional Routers:

[code]

Where `additionalRouter` expects a `play.api.routing.Router`.

If we want to encode a router for it, we need to write:

[code]

Of cour

[2019-02-28 23:33] TimMoore commented on #9066
The default temporary file directory is already configurable with the `java.io.tmpdir` system property or the `TMPDIR` environment variable. Is there a need for a separate, Play-specific configuration?

[2019-03-01 08:59] mkurz commented on #9055
You are right, in dev mode this is inconsistent. I had a look at the source: prod mode should not be effected (I think).
For dev mode this line is relevant here:
https://github.com/playframework/playframework/blob/8d20cffb8a0bf25588907e55bbb62264fc6a0393/transport/server/play-server/src/main/scala/play/core/server/DevServerStart.scala#L49-L51

I will work on a fix as soon I have more time (already

[2019-03-01 09:31] mkurz commented on #9066
I agree with Marcos, I think it would be good to keep all the configs in `application.conf`. What if we just default to `java.io.tmpdir`?
[Config](https://github.com/playframework/playframework/blob/8d20cffb8a0bf25588907e55bbb62264fc6a0393/core/play/src/main/resources/reference.conf#L805-L815) would be like this:
[code]
(We don't need to care about `TMPDIR` or `TMP` env variables, because the JDK

[2019-03-05 17:08] ashleymercer commented on #8789
Also be aware of #6826

[2019-03-05 23:28] Mat2095 commented on #9006
Sorry, I was busy studying for exams. I've implemented it today, though it is untested. For now I'm happy it finally compiles ;)
I hope to be able to test it tomorrow.

[2019-03-07 23:24] koterpillar opened #9076 ""Latest stable release" documentation links broken"
The links to latest stable release documentation from older documentation are broken due to incorrect language tags.

### Expected Behavior

1. Open https://www.playframework.com/documentation/2.6.x/Home.
2. Select the "2.7.x" link from "You are viewing the documentation for the 2.6.x release series. The latest stable release series is 2.7.x." prompt.
3. The home page for 2.7.x documentation shoul

[2019-03-08 06:42] dwijnand commented on #8824
Fix coming in https://github.com/playframework/playframework/pull/9077 ?

[2019-03-09 22:08] nextdtinc opened #9079 "Java Play 2.7 processes stuck at 100% CPU on Linux server with no traffic"
Play deployed on a Linux server goes into an unexplained state of 100% CPU usage several times a day, for 15 minutes or more. The system is not serving any traffic (site is completely idle). Play was deployed using `sbt dist`. The application logs show no errors.

### Play Version 2.7

### API (Java)

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

`Linux api1 4.18.0-15-generic #16

[2019-03-10 13:36] Mat2095 commented on #9006
@mkurz CI reports binary-incompatibility. I don't really understand the consequences of that.
Do I have to fix it? Or does it just mean this change won't appear in 2.7.x, but in 2.8.0?

[2019-03-11 09:22] linsheng9731 commented on #8606
Use Http2 instead of Http method at server side works for me :
[code]

[2019-03-11 10:18] #9076 closed

[2019-03-11 19:51] njovy commented on #8795
I'm also having this issue when I try to use ```EpollEventLoopGroup``` on 2.6.21.

[2019-03-11 20:46] #9024 closed

[2019-03-11 23:28] jo-wil commented on #8873
Is it possible to update the Security API to return a generic parameter instead of just returning a String from getUsername? I see in the code on line 62 currently in https://github.com/playframework/playframework/blob/master/core/play/src/main/java/play/mvc/Security.java, the username is actually added to the request before calling the wrapped function. If this parameter was updated to be generic

[2019-03-12 09:08] mkurz commented on #8795
Hmm... Maybe one of your dependencies puts another version of netty onto the classpath?
Can you guys post your dependencies defined in `build.sbt` and `project/plugins.sbt`?
Maybe this could related: https://github.com/netty/netty/issues/6665?

[2019-03-12 09:21] mkurz commented on #8795
And what is the OS architecture? Please run `uname -a`

[2019-03-12 09:51] mkurz commented on #8795
Alright, I am pretty sure the problem is caused [by the shading](https://github.com/playframework/play-ws#shading) `play-ws` (and it's libs) uses, it puts `shaded-asynchttpclient-*.jar` on the classpath, which comes with it's own netty classes - however they are version 4.0.x and play uses 4.1.x.
Looks like the [shading setup](https://github.com/playframework/play-ws/blob/b002107bba48e39b393216f5a

[2019-03-12 10:12] mkurz commented on #8061
@defrancea I also find this very interesting. Are you still interested to work on this?

[2019-03-12 10:34] mkurz commented on #8795
BTW: This bug probably will fix itself when upgrading to Play 2.7 - because the shaded asynchttpclient version it comes with when using play-ahc-ws-standalone uses Nett 4.1 as well (same like Play uses).

However I still think we should have a look at setting the system property and/or renaming the `*.so` file like (mentioned in my posted links) in Play 2.7 as well.

However, I don't have time to

[2019-03-12 19:43] mkurz commented on #9055
Note to myself:
Also check `Reloader.scala` because it already reads to ports and passes it to `DevServerStart`:
https://github.com/playframework/playframework/blob/67ebebab145cd8073218f077428cc79df7c5aae3/dev-mode/run-support/src/main/scala/play/runsupport/Reloader.scala#L111-L120

[2019-03-13 03:23] masahitojp opened #9086 "Increase the version of HikariCP 3.x on Play2.6 as well as Play2.7"
HikariCP 2.x has a problem.

https://github.com/brettwooldridge/HikariCP/issues/1308

- We got incident following situations
  - DataBase deadlocked
  - Connection pool timeout (30 seconds) has elapsed. Connection pool makes new connection, but old connection is left as it is due to the above problem
  - Continue DB processing with a new connection, but deadlock again because the table is locked

[2019-03-13 08:41] mkurz commented on #9086
Upcoming 2.7.1 will contain latest HikariCP, see #9017

[2019-03-13 10:23] Neverminder opened #9087 "[2.7.0 java] logger.info doesn't work"
### Play Version: 2.7.0

### API: Java

### Operating System: Ubuntu 18.04

### JDK: Oracle Java 11.0.2 2019-01-15 LTS

### Library Dependencies

### Expected Behavior

`logger.info("test info")` should output "test info" into the console

### Actual Behavior

It doesn't

### Reproducible Test Case

Create a new blank application:

`sbt new playframework/play-java-seed.g8`

Add logger testing code

[2019-03-13 10:32] mkurz commented on #9087
You need set the log level for the logger you are using. Have a look at your `conf/logback.xml` config.
The default config the `play-java-seed` project comes with is
[code]
This means by default only `WARN` logs (and therefor also `ERROR`) will be logged.
What you can to is either change `WARN` to `INFO` for your root logger or specify the log level for the `controllers` package or the `HomeContro

[2019-03-13 10:32] #9087 closed

[2019-03-13 12:03] kryptt opened #9088 "bindableOption[A].bind has return type Some[A]"
in QueryStringBindable, the helper function bindableOption returns a queryStringBindable instance who's bind method returns Some[Product with Serializable with scala.util.Either[String,Option[T]]] so it is obvious the type annotation is missing

see:

https://www.playframework.com/documentation/2.6.x/api/scala/index.html#play.api.mvc.QueryStringBindable$

[2019-03-13 17:07] benmccann opened #9091 "Cookie headers dropped if multiple present"
### Play Version (2.5.x / etc)

2.6

### API (Scala / Java / Neither / Both)

We encountered this in the Java API, but I expect it's present in both

### Expected Behavior

As @jroper pointed out in https://github.com/playframework/playframework/issues/3572, according to [RFC6265](http://tools.ietf.org/html/rfc6265#section-5.4):

However, in [HTTP/2 RFC 7540](https://tools.ietf.org/html/rfc7540#se

[2019-03-13 17:40] dwijnand commented on #9088
Fixed in #9089

[2019-03-13 17:40] #9088 closed

[2019-03-13 17:52] benmccann commented on #9091
Nevermind. This looks to be a bug in https://linkedin.github.io/rest.li/ and not in Play

[2019-03-13 17:52] #9091 closed

[2019-03-14 09:11] masahitojp commented on #9086
@mkurz Oh, I see.I look forward to 2.7.1 being released!

By the way, do you plan to make this change(#9017) for 2.6.x?
In the opinion of those who develop services using Play Framework, it is likely that it will take time to test the speed and behavior to upgrade versions.

[2019-03-15 15:59] #9022 closed

[2019-03-16 21:45] ertra commented on #8861
Hello,

if you configre your cache (ehcache.xml in conf directory) using
            timeToIdleSeconds="1200"
            timeToLiveSeconds="0"

does it solve you problem?

regards
tomas

[2019-03-17 14:38] co-category commented on #7877
This is one of my pet hates about Play, the overloading semantics are insane and poorly documented.

[2019-03-18 05:22] mkurz commented on #8824
Should be fixed in #9077

[2019-03-18 05:23] #8824 closed

[2019-03-18 13:42] henricook opened #9101 "Trailing dot ('.') in Host headers confuses CORSFilter"
I'm using Play 2.7 as a backend, with a React frontend. This is an issue that occurs when the frontend talks to the backend via CORS

In my Play CORSFilter's allowed hosts I have ['https://www.mywebsite.com'] - this works fine for CORS requests from `https://www.mywebsite.com` (no trailing '.')

It's a little known but valid fact that `https://www.mywebsite.com.` (note the trailing '.') is a valid

[2019-03-18 19:57] marcospereira commented on #9079
Hey @nextdtinc,

Our [forums](https://discuss.playframework.com) would be a better place to discuss this. Github issues are for reporting bugs and feature requests in Play, not for general discussion and getting help. Given that, I'm closing this.

Anyway, your application may not be receiving any traffic, but it does not mean it is doing nothing. Based on the thread-dump, there are some threads i

[2019-03-18 19:57] #9079 closed

[2019-03-20 15:49] renatocaval opened #9106 "ActorSystemProvider should accept a List of Setup"
https://github.com/playframework/playframework/blob/master/core/play/src/main/scala/play/api/libs/concurrent/Akka.scala#L151

`ActorSystemProvider.start` accept only one setup. This used by Lagom to setup the serializers. It will be very useful to overload that method with one that accepts a `List[Setup]`. As such we can add health-check setups.

[2019-03-20 20:43] mgilbertnz opened #9107 "Web Commands no longer working on 2.7.0 DevMode"
### Play Version (2.5.x / etc)
Play 2.7.0

### API (Scala / Java / Neither / Both)
Scala API

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Linux 4.20.14-200.fc29.x86_64

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
Java(TM) SE Runtime Environment (build 1.8.0_192-b12)

### Library Dependencies
Play-Flyway 5.2.0 is affected by this issue
https://github.com/flyway/flyway-pla

[2019-03-20 22:21] gmethvin commented on #9101
If you want to make requests with the trailing dot, it should be possible to use `["https://www.mywebsite.com", "https://www.mywebsite.com."]` as the list of origins. The browser considers these to be different origins from a CORS perspective, so it seems reasonable for Play to consider them different as well.

[2019-03-21 09:15] henricook commented on #9101
I think this is an interesting point @gmethvin

My personal pain is that nginx ignores the "." in `server_name` directives so it's "impossible" to stop serving my frontend at `www.myfrontend.com.` as well as `www.myfrontend.com`

Thinking on it, I do think Nginx are doing the right thing and server backends like Play should mimic the behaviour (`www.myfrontend.com` == `www.myfrontend.com.`). I  th

[2019-03-21 09:24] henricook commented on #9101
Admittedly i'm only asking this question because one day a user went to www.myfrontend.com. accidentally and the frontend loaded but didn't work (as CORS to my backend was failing) - I guess a user typing a '.' at the end of the URL accidentally is rare, but possible

[2019-03-21 10:41] PAStheLoD opened #9108 "RFE: execute arbitrary code between reloads"
### Play Version (2.5.x / etc)

2.7.0

### API (Scala / Java / Neither / Both)

Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Windows 10

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

jdk 11

openjdk version "11.0.2" 2019-01-15

[2019-03-21 16:00] patofp commented on #8722
I'm also experiencing the same issue as @bjaglin commented with Play 2.7. I was trying to set websockets ping-pong protocol with a custom Akka Http server provider, which already support this protocol, but I got this same error when starting the application in dev mode with ### sbt run.

[2019-03-21 16:35] raulsaeztapia commented on #8722
+1

[2019-03-21 16:37] rafaelgarrote commented on #8722
+1

[2019-03-21 21:31] mkurz commented on #8722
The problem here is that even though [the classloader](https://github.com/playframework/playframework/blob/af43be400c0c11742e16f4ab362e80e35f361640/transport/server/play-server/src/main/scala/play/core/server/DevServerStart.scala#L59), which is used [to load the class](https://github.com/playframework/playframework/blob/af43be400c0c11742e16f4ab362e80e35f361640/transport/server/play-server/src/main

[2019-03-21 21:56] gmethvin commented on #9101
I don't think this is a bug because `https://www.mywebsite.com` and `https://www.mywebsite.com.` are considered different origins, and `allowedOrigins` is simply a list of origins. So the "workaround" I suggested is in fact the correct way to allow origins with a trailing dot. If anything it's a feature request, but I don't think the need is strong enough to warrant the additional complexity.

A b

[2019-03-21 22:11] henricook commented on #9101
I can't believe I hadn't found that, thanks. In that case I agree with you! Thanks for reading and spending the time on this @gmethvin

[2019-03-21 22:11] #9101 closed

[2019-03-22 03:26] PAStheLoD commented on #9108
So after a bit of fiddling with sbt I managed to solve the problem outlined in this issue, but it led to a different one: Is there a way to hook into the reload process and switch JAR files in the `lib/` dir?

I guess not, as there's absolutely no hook called in [DevServerStart](https://github.com/playframework/playframework/blob/ab6697f494a000ba8d19768e9d04eed3bb8cdbf7/transport/server/play-serve

[2019-03-22 09:18] mkurz commented on #8330
I am pretty sure I found out what the real problem is here:

First of all we have to distinguish between
* failures produced from _compilation errors_ and
* failures produced by _exceptions_ thrown within the application.

When compilation errors occur, the app doesn't even start up, which means the `application.conf` won't even be loaded and any custom `play.editor` config will be ignored... That

[2019-03-22 09:42] mkurz commented on #9107
The WebCommands feature was not removed. It was moved inside application code, see: #7986
This means that now an the application will be started and _afterwards_ the webcommands will be called.

Because of that change we also had to do some modifications to Play's evolutions feature, see: #8592 and its fix #8875.
We also added an `ApplicationEvolutions.upToDate` method in #8943 which indicates if

[2019-03-22 09:58] patofp commented on #8722
Thx @mkurz for the awesome explanation and the workaround. When I have a bit of time I will try to provide the features I need to the AkkaHttpServer.

[2019-03-22 19:04] bjaglin commented on #8722
@mkurz great explanation, makes sense!

Regarding your BTW: my use case for a custom server was actually temporary, to mimic https://github.com/playframework/playframework/pull/8607/files until the PR got merged and released.

IMHO, your workaround is good enough, so maybe [docs](https://www.playframework.com/documentation/2.7.x/SettingsAkkaHttp#Direct-Akka-HTTP-configuration) could be updated to

[2019-03-22 19:50] mkurz commented on #8722
@bjaglin If you could provide a pull request that would be nice :wink:

[2019-03-22 21:17] mgilbertnz commented on #9107
Thanks for the quick and helpful reply!

[2019-03-22 21:26] mkurz commented on #9107
@mgilbertnz Could you fix your problem?

[2019-03-25 08:45] brownbonnie commented on #8779
I'd like to work on this - what changes are still left to do?

[2019-03-25 09:10] brownbonnie commented on #9106
I've made this change but when I go to push it I get the following error message:

"ERROR: Permission to playframework/playframework.git denied to brownbonnie.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists."

[2019-03-25 09:13] mkurz commented on #9106
@brownbonnie You need to push to your fork, not to the upstream repo. You can run `git remote -v` to see the available remote repos.

[2019-03-25 13:04] raboof opened #9112 "Linking to Akka javadoc from Play javadoc"
I see https://github.com/playframework/playframework/blob/master/project/Docs.scala#L167 is configured to link to the Akka javadocs when generating the Play javadocs.

If I understand correctly, this worked by downloading a `package-list` on java8, while this [was replaced by an element-list on java11](https://stackoverflow.com/questions/49457896/cant-link-to-jdk10-in-javadoc-comments).

Since Akk

[2019-03-25 15:24] brownbonnie commented on #9106
Thanks,

I've opened a PR on my fork

https://github.com/playframework/playframework/pull/9113/

[2019-03-26 15:53] ihostage commented on #6765
For the following discussion of integration with Flyway. Got this link from #9107
https://github.com/flyway/flyway-play

[2019-03-26 15:57] an-tex opened #9117 "EventSource.Event (SSE) can't be used to send comments / keep alive messages"
### Play Version (2.7.0)

### API (Scala)

### Expected Behavior

It should be possible to send comment events using play.api.libs.EventSource.Event (aka ServerSentEvents / SSE). These events start with a colon and can be used to keep the connection alive, e.g.:
[code]

As described in https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Examples

This way y

[2019-03-26 20:13] mgilbertnz commented on #9107
Hi @mkurz, @tototoshi has updated flyway-play and it's working now.

I'll close this issue as it isn't an issue with Play Framework.  Thanks again for your help earlier!

[2019-03-26 20:13] #9107 closed

[2019-03-26 20:14] mkurz commented on #9107
Great! Good to hear it is working :+1:

[2019-03-28 05:42] TimMoore commented on #8959
Related: https://github.com/lagom/lagom/issues/1714

[2019-03-29 07:32] dwijnand commented on #8383
Fixed in #9001

[2019-03-29 07:32] #8383 closed

[2019-03-29 09:34] brownbonnie commented on #9106
There's some issues with that PR so I'm going to amend them and open a new PR

[2019-03-30 08:16] mkurz commented on #9055
Fixes by #9093

[2019-03-30 08:16] #9055 closed

[2019-04-01 20:16] marcospereira commented on #9117
Hey @an-tex,

Yes, makes sense to support event comments, maybe as a new field in `play.api.libs.EventSource.Event` or even as its own type. For now, a possible workaround is to send events with `event: heartbeat`, for example:

[code]

And on the client side have an event listener for `heartbeat`.

[2019-04-01 20:19] marcospereira commented on #9112
Thank you, @raboof.

I've added this as something we should address in a 2.7.x release.

[2019-04-01 20:24] marcospereira commented on #9108
Not sure if I completely understood what you are trying to do, but there is `play.sbt.PlayRunHook` that you can use to hook into dev mode: https://www.playframework.com/documentation/2.7.x/SBTCookbook#Hooking-into-Plays-dev-mode

Moreover, our [forums](https://discuss.playframework.com) would be a better place to discuss this. We don't use Github issues for general discussion and getting help.

Be

[2019-04-01 20:24] #9108 closed

[2019-04-01 20:33] marcospereira commented on #9020
Thanks for the reproducer, @SattaiLanfear. I can confirm this is happening. Also, this is logged when exiting using `ctrl+c`:

[2019-04-03 22:33] eximius313 opened #9171 "Play does not display relevant Hibernate message on JDK12"
### Play Version (2.5.x / etc)
2.6.21

### API (Scala / Java / Neither / Both)
N/A

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Windows 7

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
[code]

### Expected Behavior
When I run exactly the same project on JDK 9.0.4 I get relevant message:
[code]

### Actual Behavior
Instead on JDK 12 I get:
[code]

### Reproducible Test Case

[2019-04-03 22:43] mkurz commented on #9171
Play officially only supports Java 8 right now (and I guess 2.7.x should work with Java 11 as well, however I would wait for Scala 2.13 support because AFAIK it comes with better support for JDK 11).
Also are you sure that the Hibernate version you use already officially supports Java 12?

If I were you I would not run any Play production applications on Java versions which are not LTS because you

[2019-04-04 08:13] eximius313 commented on #9171
@mkurz JDK11 in it's current OpenJDK version (11.0.2) is completly unusable with `Hibrnate metamodel generator` because of this bug: https://bugs.openjdk.java.net/browse/JDK-8220578
I'll migrate to 11.0.4 as soon as it is released

When do you plan to support Scala 2.13?

[2019-04-04 08:38] mkurz commented on #9171
@eximius313 Play 2.7.0 was published for Scala 2.13.0-M5 already, so I think you should be able to use that version until the final release approaches.

Scala 2.13.0-RC1 should be released today or tomorrow, see https://contributors.scala-lang.org/t/2-13-0-rc1-timing-january-2019/2375/9
Afterwards it will take another couple of weeks I guess until 2.13.0 final will be released and it will also tak

[2019-04-04 09:21] an-tex commented on #9117
Yep that workaround works. I'll try to squeeze in a PR over the next weeks.

[2019-04-04 17:45] PAStheLoD commented on #9108
Hello,

Thanks for the response. Alas PlayRunHook provides no way to hook at a point when all classes used by the actual play app are unloaded. The goal would be to switch/replace/change/modify JARs in the lib/ dir, for example a log4j appender. Which is currently not possible on Windows because the files are locked/used by the JVM.

Sorry, if this looks like general discussion. I hoped my request

[2019-04-05 11:58] porchy13 opened #9176 "Inconsistency between code and comment of method Result#as(String)"
### Play Version (2.5.x / etc)

2.6.x, 2.7.0

### API (Scala / Java / Neither / Both)

Both

### Expected Behavior

According to the JavaDoc of Result#as(String), it should _return a copy of the result with a different Content-Type header._ (Java version).

Two alternatives :
* it is expected that the ```session``` and the ```flash``` objects are copied from the original Result instance. That mean

[2019-04-08 11:23] marcospereira commented on #9176
Yeah, there is a bug in`Result.as`. Better to fix it instead of changing the docs.

See #9177.

[2019-04-08 21:13] eximius313 opened #9178 "Exception while downloading content"
### Play Version (2.5.x / etc)
`2.6.21`

### API (Scala / Java / Neither / Both)
Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Windows 7

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
JDK 9.0.4

### Expected Behavior
No exception is thrown

### Actual Behavior
[code]

### Reproducible Test Case
[code]

[2019-04-09 05:08] YiGene opened #9179 "Not able to enable https SSL"
i got an issue to enable the HTTPS in play, the reason is that i have different password for ssl.truststore.password and key.password, but in the configuration file we can only config the trust store path and password but not able to config the password of the key… (please note i am not able to make the 2 password to the same as it’s not generated by me)

here is the error

[code]

[2019-04-09 15:35] porchy13 commented on #9176
Many thanks for the quick fix !!

[2019-04-10 12:52] mkurz commented on #9176
Fixed by #9177

[2019-04-10 12:52] #9176 closed

[2019-04-10 22:36] ignasi35 commented on #6826
This no longer applies in Play 2.7.x.

Related https://github.com/playframework/playframework/pull/6681, https://github.com/playframework/playframework/pull/8691

[2019-04-10 22:36] #6826 closed

[2019-04-11 13:34] ignasi35 commented on #8039
https://github.com/playframework/play-scala-rest-api-example/pull/144

[2019-04-13 19:45] nerdydrew opened #9187 "Documentation claims CSRF check only required for request with Cookie"
### Play Version (2.5.x / etc)

2.7.0

### API (Scala / Java / Neither / Both)

Tested in Java, but I assume it applies to both.

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

MacOS Mojave (10.14.4)

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

[code]

### Library Dependencies

N/A

### Expected Behavior

[According to the CSRF documentation](https://www.playframework.com

[2019-04-14 00:08] benmccann commented on #4649
Some folks are suggesting this may be related to combination of sbt and scala versions chosen: https://github.com/sbt/sbt/issues/4166

[2019-04-15 12:01] dwijnand commented on #8555
Should be fixed now with #8918 and #8970.

[2019-04-15 12:01] #8555 closed

[2019-04-15 12:06] dwijnand commented on #7879
Should we close this ticket off now?  It's become a bit of a grab-bag of not-strictly-related Java 9+ issues, a bunch of which have been resolved.

@marcospereira @mkurz wdyt?

[2019-04-15 12:10] dwijnand opened #9188 "Fix integration tests on Java 11 & enforce"
The job "Run it tests for Scala 2.12 and Java 11" is failing: https://travis-ci.com/playframework/playframework/jobs/192016513

This tasks tracks fixing those issues and enforcing that it doesn't regress by removing the `allow_failures` for Java 11.

[2019-04-15 12:51] mkurz commented on #7879
@dwijnand OK for me.

[2019-04-15 13:28] ignasi35 commented on #9188
related https://github.com/playframework/playframework/issues/8829

[2019-04-15 13:30] #7879 closed

[2019-04-15 13:31] ignasi35 commented on #8829
In https://travis-ci.com/playframework/playframework/jobs/192016513, we no longer see:

[code]

but

[code]

I guess we've introduced change interacting with this since we raised the issue.

[2019-04-15 14:03] ignasi35 commented on #8829
Update:

I am using OpenJDK 11.0.1 (installed using Jabba) locally and:

 - I can't reproduce the test failure in `EndpointIntegrationSpecificationSpec` (mentioned in the issue description)
 - I can't reproduce the issue I linked on my last comment ( `SocketTimeoutException: timeout (Http2Stream.java:662)` running `play.it.http.FlashCookieSpec`)

[2019-04-15 14:42] ignasi35 commented on #9112
To fix this we will have to move the creation of the `javadocs` to a job run on Java 11.

[2019-04-15 21:02] dwijnand commented on #9188
Maybe we should delay working on this until upstream resolves its issues and improves its support: https://github.com/akka/akka-http/issues/2285

[2019-04-16 21:52] FranklinYinanDing opened #9190 "RequestHeader.path being decoded and inconsistent with RequestHeader.uri when using AkkaHttpServer"
### Play Version (2.5.x / etc)

2.6.x (issue also exists for master - need forward-port)

### Expected Behavior

Please describe the expected behavior of the issue, starting from the first action.

1. `RequestHeader.uri` matches `RequestHeader.path`
2. `RequestHeader.path` should be consistent between NettyServer and AkkaHttpServer

### Actual Behavior

1. When a request coming in with an encoded

[2019-04-18 17:34] #8829 closed

[2019-04-18 22:53] mkurz opened #9205 "Deprecate environment variable workarounds"
See https://github.com/playframework/playframework/pull/9201#issuecomment-484714847

Instead of setting e.g. `PLAY_EDITOR`, `PLAY_HTTP_PORT`, `PLAY_HTTP_ADDRESS`, etc. we can now just override any config via env variables [as described here](https://github.com/lightbend/config/pull/620/files#diff-04c6e90faac2675aa89e2176d2eec7d8).

[2019-04-18 23:07] mkurz commented on #9205
OK I was to fast here. I think the above environment variables still make sense because they should work out of the box, (even) in dev mode, without even setting `-Dconfig.override_with_env_vars=true` (Also forking in dev mode could make problems).
I should get some sleep btw.

[2019-04-18 23:07] #9205 closed

[2019-04-19 07:53] lvxudong commented on #3861
@gmethvin Hi, Can i know whether if it was solved in latest Play 2.7 release?

[2019-04-20 06:08] SattaiLanfear opened #9208 "STRICT TRANSPORT SECURITY not sent for X-Forwarded-Proto"
### Play Version (2.5.x / etc)

2.7

### API (Scala / Java / Neither / Both)

Both

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

N/A

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

N/A

### Library Dependencies

N/A

### Expected Behavior

1. Deploy to Prod behind a load balancer with:
    * `play.filters.https.RedirectHttpsFilter` enabled
    * `play.filters.https.xForwar

[2019-04-20 06:59] lvxudong opened #9209 "Can not send websocket ping frame periodically while setting akka.http.server.websocket.periodic-keep-alive-max-idle to 5 seconds"
### Play Version (2.5.x / etc)

Play 2.7

### API (Scala / Java / Neither / Both)

Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Windows 7

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

Oracle 1.8.0

### Library Dependencies

N/A

### Expected Behavior

1. setting akka.http.server.websocket.periodic-keep-alive-max-idle to 5 seconds for both dev and prod setting

2. C

[2019-04-22 08:17] kingsant opened #9211 "play2.7,HTTP header is larger than 8192 bytes"
I update play 2.6 to 2.7. it happen to occure this exception。
play.server.akka.max-header-value-length = 32k can not solve this problem.
so how can i change the max value?
2019-04-22 16:13:51,131 [ERROR] [or.default-dispatcher-17]  [utils.ResponseUtil:30] msg: HTTP header is larger than 8192 bytes.. cause by: play.shaded.ahc.io.netty.handler.codec.TooLongFrameException: HTTP header is larger than

[2019-04-22 09:58] ryancarville commented on #2983
has anyone found a solution to this?  I was able to capture the prams when using props easily with 'this.props.prams.match' but when using context this doesn't work obviously.

[2019-04-22 10:06] Flo354 commented on #2983
@ryancarville here is an adaptation of @kiamesdavies one that works with Play 2.7

[code]

You can use it like that:
[code]

[2019-04-22 10:10] ryancarville commented on #2983
Thank you @Flo354
This may not be the most proper way but I just set a variable to  window.location.pathname.substring(X); and it works.  Keeps from having to have the extra code as well.

[2019-04-22 15:31] Shapoval1van opened #9212 "Play Framework 2.7 evolutions don't work in combination with hibernate.hbm2ddl.auto “validate” properties"
I have already migrated to Play2.7, and I faced some problem. We use "hibernate.hbm2ddl.auto -> validate", so when our DB model, isn't consistent to Hibernate models we got deploy failing. In play 2.7 migration guide I see that some behaviour was changed

According to the guide recommends we should use compile-time dependency injection to get access to EvolutionsComponents and after that call appl

[2019-04-22 21:17] ertra commented on #9086
Hello, please will it be added to 2.6 as well?

regards
tomas

[2019-04-23 01:03] patrickliangli commented on #8167
I also ran into this issue, but only when I use Deadbolt to secure the controller method. If I remove it, the problem goes away.

[2019-04-23 13:31] sjaanus commented on #7775
@JFCote  did you solve this? I am having long compilation times and also see a lot of reverse routing in my logs. I would like to disable backend reverse routing and keep the JavaScript ones.

@gmethvin Or write the JavaScript functions myself. Could you point me to the source code of the JavaScript reverse router play framework has.

[2019-04-23 13:36] JFCote commented on #7775
@sjaanus After a lot of time wasted on many experiment, this is what I have compiled and the solution we still use today: https://medium.com/@jfcote/the-ultimate-solution-to-play-framework-slow-compilation-53f4fd499df4

[2019-04-23 13:48] sjaanus commented on #7775
@JFCote oh that was your article. I have read that multiple times. Also have playEnhancerEnabled set to false, but it did not much help. It is not really a huge too complicated project, about 150 routes, 74 db tables, REST based, lots of CRUD operations.

Compliation from 0 takes exactly 2 minutes.
Changing 1 class, reload takes ~35 seconds.

The first compilation time I can live with, but changin

[2019-04-23 13:59] JFCote commented on #7775
@sjaanus I don't think here is the best place to talk about this, feel free to come and talk to me on Gitter. I might not answer in real time but I can try to help you. But out of the box I would say that using interface everywhere has the best change to help you if it's not already done. For every service, have an interface instead of the implementation in your injection. That way, Play doesn't h

[2019-04-23 20:49] Jacoby6000 opened #9214 "Cookies.config references global state."
### Play Version

2.7.1

### API

Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

All

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

All

### Expected Behavior

methods like `mergeCookieHeader` should not reference global configuration.  Global configuration is deprecated.

### Actual Behavior

If you call a method on the `Cookies` companion object which eventually re

[2019-04-23 20:55] renatocaval commented on #9086
@ertra / @masahitojp, have you tried to update the HikariCP dependency directly on your Play 2.6 project?

That should work without problem unless you are using `play-slick`. In which case you will have an old version of Slick that won't work with recent HikariCP versions because of a deprecated method that got removed in recent versions.

Apart from that, I see no reason why it wouldn't be enough

[2019-04-23 21:10] marcospereira commented on #9214
Hey @Jacoby6000, the problem here is a missing `@deprecated` annotation on `play.api.mvc.Cookies` object. You should instead inject an instance of `play.api.mvc.CookieHeaderEncoding` which does not depends on global state.

I will keep this open since we need to add the annotation there.

[2019-04-23 21:53] marcospereira commented on #9211
This looks like a problem with play-ws instead since the problem is happening in the netty shaded code. I know [there is a configuration for header size](https://github.com/AsyncHttpClient/async-http-client/blob/master/client/src/main/resources/org/asynchttpclient/config/ahc-default.properties#L39), but we don't expose it and I'm not sure it is possible to have an `ahc.properties` with your own co

[2019-04-23 21:54] marcospereira commented on #9209
Duplicate of #3861.

[2019-04-23 21:54] #9209 closed

[2019-04-23 21:56] marcospereira commented on #9179
Hello @YiGene,

Our [forums](https://discuss.playframework.com) would be a better place to discuss this. Github issues are for reporting bugs and feature requests in Play, not for general discussion and getting help. Given that, I'm closing this.

If we later discover there is a bug, we can reopen this issue or create a new one with more information. I also recommend that you create a project that

[2019-04-23 21:56] #9179 closed

[2019-04-23 22:09] marcospereira commented on #8937
According to [Guava 23.6.1](https://github.com/playframework/playframework/blob/3935bfa9025cfa071b3658efcecb033021dc2fb1/framework/project/Dependencies.scala#L46) release notes, it has a fix for CVE-2018-10237 (the one reported by Snyk).

I'm closing this since it looks like a false positive from Snyk.

[2019-04-23 22:09] #8937 closed

[2019-04-23 22:21] marcospereira commented on #8779
Hey, @brownbonnie, Thanks for your interested here!

I'm not sure about all the changes. Better to inspect the code and see where we need to change the APIs.

[2019-04-23 22:23] marcospereira commented on #8773
Closing after #8776.

[2019-04-23 22:23] #8773 closed

[2019-04-23 22:24] marcospereira commented on #8679
Duplicate of #9190.

[2019-04-23 22:24] #8679 closed

[2019-04-23 22:26] marcospereira commented on #8636
I am closing this one since there are multiple ways to achieve what was initially described here.

[2019-04-23 22:26] #8636 closed

[2019-04-23 22:35] marcospereira commented on #8730
This was fixed for 2.7.x. So I'm closing it then.

[2019-04-23 22:35] #8730 closed

[2019-04-23 22:39] marcospereira commented on #8438
Closing since the current docs are referring to the latest version of play-enhancer.

[2019-04-23 22:39] #8438 closed

[2019-04-24 07:32] mkurz commented on #9022
@zoyaforever Play 2.7.1 is available, containing a fix for this issue:
https://blog.playframework.com/play-2-7-1-released/
Can you let us know if the problem is solved for you now? Please don't forget to remove the environment variables first. Thanks!

[2019-04-24 11:00] eximius313 commented on #9212
Is it related to: https://github.com/playframework/playframework/issues/7993?

[2019-04-24 11:57] ignasi35 opened #9216 "Improve Akka HTTP server shutdown / use Graceful Shutdown"
The current implementation only `unbind`'s the port but it doesn't use the Graceful Shutdown provided via `terminate`:

Finally, an explicit shutdown of all connection pools should be added too.

See https://github.com/akka/akka-http/issues/1210#issuecomment-484344006 for details.

[2019-04-24 12:34] Shapoval1van commented on #9212
@eximius313, looks very similar but the version 2.6.21 worked right, so I thought that it can be caused by migration to version 2.7, unlike the question that you mention

[2019-04-24 12:45] eximius313 commented on #9212
Which Java are you using? with `JDK11` exceptions were hidden, and I spent some time until I fugured it out: https://github.com/playframework/playframework/issues/9171

[2019-04-24 13:00] Shapoval1van commented on #9212
@eximius313, java version 1.8.0_201

[2019-04-24 17:58] marcospereira commented on #8384
Closing. See the last comment from @johanandren. :-)

[2019-04-24 17:58] #8384 closed

[2019-04-24 18:08] marcospereira commented on #8270
I was not able to reproduce this with newer versions of Play (2.6.21 and 2.7.1), so I'm closing it. @allanxp4, let me know if you still can reproduce this problem with these versions.

[2019-04-24 18:08] #8270 closed

[2019-04-24 18:10] marcospereira commented on #8284
Closing since we don't get any new pieces of information here. @playtowork, let me know if the comments above helped you to solve the problem or if it is still happening. A reproducer would be welcome if you can still reproduce the error.

[2019-04-24 18:10] #8284 closed

[2019-04-24 18:18] marcospereira commented on #8058
Closing since this is using play2-maven-plugin which we don't support.

[2019-04-24 18:18] #8058 closed

[2019-04-24 18:23] marcospereira commented on #8020
Closing. As explained by @cchantep, it would be better first to decide if there is something actionable using our [forums](https://discuss.playframework.com).

[2019-04-24 18:23] #8020 closed

[2019-04-24 22:27] ignasi35 commented on #5802
This change should also introduce `Accumulator` and other sections of the docs using  `Accumulator` (e.g. file upload) can cross-link to it.

[2019-04-25 00:53] zoyaforever commented on #9022
@mkurz
The problem is resolved. I have already removed the environment variables.
Thanks for your work.

[2019-04-25 03:14] masahitojp commented on #7943
@marcospereira Sorry to late reply.
 I checked for Play 2.6.21. I feel it fixed. Verrrrrry Thanks 😄

[2019-04-25 03:51] marcospereira commented on #7943
Thank, @masahitojp. Closing then. :-)

[2019-04-25 03:51] #7943 closed

[2019-04-25 04:53] marcospereira commented on #8921
Hey @realjax, I could not reproduce this using the same code you shared here and Play 2.6.21. I'm closing this for now, but if you manage to have a reproducer, we can reopen it. :-)

[2019-04-25 04:53] #8921 closed

[2019-04-25 05:03] marcospereira commented on #7768
If your proxy requires authentication, then you need to pass `http.proxyUser` and `http.proxyPassword` parameters when running sbt. See [more details here](https://stackoverflow.com/a/13804254/4600).

Anyway, since this is related to sbt and not Play, I'm closing the issue.

[2019-04-25 05:03] #7768 closed

[2019-04-25 05:15] marcospereira commented on #7702
Closed by #7876.

[2019-04-25 05:15] #7702 closed

[2019-04-25 09:14] ginastanford commented on #6696
ontent-Type:application/json;charset=utf-8

[2019-04-25 18:30] marcospereira commented on #7308
We are not maintaining 2.5.x anymore, so this documentation won't be fixed.

[2019-04-25 18:30] #7308 closed

[2019-04-25 18:35] marcospereira commented on #5802
This is also related to https://github.com/playframework/playframework/issues/7354.

[2019-04-25 18:37] marcospereira commented on #7215
Closing since Play 2.4.x is not maintained anymore.

[2019-04-25 18:37] #7215 closed

[2019-04-26 01:52] marcospereira commented on #6100
Closing since we don't maintain 2.4.x any more.

[2019-04-26 01:52] #6100 closed

[2019-04-26 01:56] marcospereira commented on #6046
Closing since there is now a Java API for LoggerConfigurator.

[2019-04-26 01:56] #6046 closed

[2019-04-26 07:38] dwijnand commented on #6967
Un-merged attempt in https://github.com/playframework/playframework/pull/6969.

[2019-04-26 18:37] ertra commented on #9086
@renatocaval , please how can I do it, I will try it.

[2019-04-26 20:24] mkurz opened #9225 "Deprecate getQueryString, it should return Optional"
`request.getQueryString(...)` returns `null` right now.
https://github.com/playframework/playframework/blob/e3de7a32386090ab85faa0bec7dbb36c09f0e72e/core/play/src/main/java/play/mvc/Http.java#L989-L995

We should do the same like we did for `getHeader`, deprecate and make it return `Optional`:
https://github.com/playframework/playframework/blob/6d2ddb92eeca5504ae1641a5fe98427ecc2d30c4/core/play/sr

[2019-04-27 19:08] marcospereira commented on #3861
It was not resolved in Play 2.7, @lvxudong.

[2019-04-27 19:12] marcospereira commented on #6107
It is now possible to do `router1.orElse(router2)`, so I'm closing this.

@schmitch feel free to reopen it if you think there is something missing.

[2019-04-27 19:12] #6107 closed

[2019-04-28 21:48] kapil-jain123 commented on #6049
I don't see an option for assigning this ticket to me?

[2019-04-30 13:38] stephandischer commented on #9043
just want to confirm that I am experiencing the same issues While just playing around with the latest 2.7.0 and 2.6.21 releases I am having this error only in 2.7.0
I am using sbt 1.2.8

[2019-04-30 13:44] mkurz commented on #9043
@stephandischer Just FYI, the latest Play release is 2.7.2 (however it wasn't announced yet officially)

[2019-05-01 04:03] mt40 commented on #9214
Shouldn't this be closed, it is fixed in #9215

[2019-05-01 06:36] #9214 closed

[2019-05-02 11:28] renatocaval commented on #9086
@ertra, you do that by including the HikariCP dependency on your `build.sbt` file like you do for any other dependency you are using.

[code]

[2019-05-02 16:08] laguiz commented on #8286
For me Play 2.7 in **dev** mode it works if I add `PlayKeys.devSettings += "play.server.http.idleTimeout" -> "infinite"` in build.sbt.

As mentioned by @gmethvin see https://www.playframework.com/documentation/2.7.x/ConfigFile#Extra-devSettings

[2019-05-03 09:23] marcadella commented on #7568
Why is that the default behavior? In addition, giving a default value in the form args such as in `@helper.inputText(form("Cutoff"), 'value -> "100")`, does not work either. What can we do then?

[2019-05-03 16:22] slisaasquatch opened #9235 "[Feature Suggestion] Support for X-HTTP-Method-Override header"
### Play Version (2.5.x / etc)
2.7.1

### API (Scala / Java / Neither / Both)
Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Windows 10

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
Oracle 1.8.0_181

### Library Dependencies
N/A

### Expected Behavior
When the client sends a `POST` request with the `X-HTTP-Method-Override` header being `PATCH`, then the request should

[2019-05-06 18:17] slisaasquatch opened #9243 "[Feature Suggestion] Request Content-Encoding support"
### Play Version (2.5.x / etc)
2.7.1

### API (Scala / Java / Neither / Both)
Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Windows 10

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
Oracle 1.8.0_181

### Library Dependencies
N/A

### Expected Behavior
The client should have the option of sending compressed request bodies. For example, the client can send gzipped data w

[2019-05-07 04:47] TimMoore commented on #9243
I think Play already supports this. Did you try it and it didn't work?

See for example:
https://github.com/playframework/playframework/blob/ab6697f494a000ba8d19768e9d04eed3bb8cdbf7/core/play-integration-test/src/it/scala/play/it/http/RequestBodyHandlingSpec.scala#L63-L89

[2019-05-07 07:47] kingsant opened #9245 "mock&the global application anyway, set play.allowGlobalApplication = true,"
### Play Version (2.5.x / etc)

2.7.0

### API (Scala / Java / Neither / Both)
scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

windows

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

1.8

### Expected Behavior

### Actual Behavior

Please provide a description of what actually happens, working from the same starting point.

I run sbt test.

[code]
### Reproducible Test

[2019-05-07 11:27] kingsant commented on #9245
@marcospereira please help me ...

[2019-05-07 12:44] kingsant commented on #9245
@gmethvin

[2019-05-07 14:29] renatocaval commented on #9245
@kingsant, what kind of help are you looking for?

You stated that you have an issue, but have you tried to do what the error message is suggesting?

Btw, I'm closing the issue because this is not a bug or change request, rather a call for help. It's better to ask for help on the developer forum. https://discuss.playframework.com

[2019-05-07 14:29] #9245 closed

[2019-05-07 16:05] slisaasquatch commented on #9243
Hi I did try it and it didn't work.
Here's my forked sample project with a test I wrote:
https://github.com/slisaasquatch/play-java-hello-world-tutorial/blob/issue-20190506/test/controllers/HomeControllerTest.java

[2019-05-07 16:24] marcospereira commented on #9216
Duplicated of #8453?

[2019-05-07 16:31] ignasi35 commented on #9216
It is. Closing

[2019-05-07 16:31] #9216 closed

[2019-05-07 16:31] ignasi35 commented on #8453
Some more details (wrt connection pool closing) at https://github.com/playframework/playframework/issues/9216#issue-436655119

[2019-05-07 19:10] marcospereira commented on #9235
Hey @slisaasquatch,

I'm pretty sure it is possible to do that by creating your [custom request handler](https://www.playframework.com/documentation/2.7.x/ScalaHttpRequestHandlers), where you rewrite the request header method if `X-HTTP-Method-Override` is present.

I'm not opposed to having this out-of-the-box in Play, but keep it is not a priority for us. But if you want to submit a pull request

[2019-05-07 19:25] marcospereira commented on #4798
I could not reproduce this problem anymore (Play 2.7). So I'm closing this.

@njovy, please let me know if you still see this happening with newer versions of Play.

Best.

[2019-05-07 19:25] #4798 closed

[2019-05-07 21:29] slisaasquatch commented on #9235
Oh OK. I was looking at adding a custom Filter, but looks like a request handler is what I want. I'll close the ticket.

[2019-05-07 21:29] #9235 closed

[2019-05-08 15:42] marcospereira commented on #8167
Related to #7751.

[2019-05-08 17:33] martinb3 opened #9249 "Trouble overriding limits, getting EntityStreamException: Request too large"
Hi there -- I'm seeing exceptions thrown from a project that depends on Play, from the underlying Akka Http library, and I'm unable to override it using your documentation. Happy to make a specific reproducible test case if needed.

### Play Version (2.5.x / etc)

[code]

### API (Scala / Java / Neither / Both)

Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

OS X (18.5.0 Da

[2019-05-08 18:55] marcospereira commented on #9249
Hey @martinb3,

That would be helpful, thanks!

What do you mean by HTTP client inside actors? Which HTTP client are you using? Also, which version of Play are you using?

[2019-05-08 19:30] marcospereira commented on #2337
I would say this is fixed in 2.6.latest and 2.7. as well. So closing.

[2019-05-08 19:30] #2337 closed

[2019-05-08 19:32] marcospereira commented on #1629
All these problems are now solved. So closing.

[2019-05-08 19:32] #1629 closed

[2019-05-08 19:48] marcospereira commented on #2485
Fixed. The following action does not log any errors:

[code]

I've tested both Akka HTTP and Netty server backends.

[2019-05-08 19:48] #2485 closed

[2019-05-08 20:16] mkurz commented on #8167
@patrickliangli Can you give more details? Which version of Play are you using? And also which version of deadbolt? Which deadbolt annotation did you use (I maintain deadbolt so this information would help)?

[2019-05-08 20:24] marcospereira commented on #3799
Duplicate of #4649.

[2019-05-08 20:24] #3799 closed

[2019-05-08 20:30] marcospereira commented on #5029
Closing since I've could not reproduce this in 2.6+.

[2019-05-08 20:30] #5029 closed

[2019-05-08 20:37] marcospereira commented on #5048
As far as I know, Caffeine (which is the new default cache framework used by Play) does not support counters. This explains why we keeping the API small is the right decision for Play. Summoning @ben-manes to confirm that. :-D

Other can provide extensions of the cache API with such methods, but I think this is now beyond the scope of what we have for this API.

[2019-05-08 20:37] #5048 closed

[2019-05-08 20:48] mkurz commented on #8167
I am pretty sure this issue here, as well as #7751 and #7615 (which has been fixed with another workaround meanwhile) **will be fixed automagically with upcoming Play 2.8**.

Why?
Because Play 2.8 will [switch to Akka 2.6](9236)! :laughing:
As it turns out, up until Akka 2.5 (and therefore up to Play 2.7), Akka uses [it's own implementation](https://github.com/akka/akka/pull/22560) of [`ForkJoinPo

[2019-05-08 20:49] mkurz commented on #7751
Read [my comment here](https://github.com/playframework/playframework/issues/8167#issuecomment-490645264) why I belive this issue will be fixed with Play 2.8.

[2019-05-08 21:37] ben-manes commented on #5048
I would agree counters are out of scope for a local, in-memory cache. In that case you can be optimistic by using Java's `AtomicLong` or `LongAdder` if accounting for races, or use a `Map.compute` with a `Long` if pessimistic. The use of atomic computations is quite powerful and flexible, so we leave such things to users to work out.

A remote or distributed cache might make it a first class featu

[2019-05-09 08:49] martinb3 commented on #9249
I'm referring to the stack trace above, where `akka.actor.Actor` calls classes inside the akka.stream package, which then calls classes inside akka.http. I'm not directly choosing/using any HTTP client -- it seems that Play depends on one (either directly or indirectly), doesn't it?

[2019-05-09 09:35] martinb3 commented on #9249
Hi there -- I figured this out. It was actually a timeout for a longer HTTP request, showing up as a size issue. Once I adjusted the timeouts for Akka Http, this went away.

[2019-05-09 09:35] #9249 closed

[2019-05-09 18:14] marcospereira commented on #8167
It sounds like good news, @mkurz.

I would say that on our side, it could be useful to have a test to confirm this is not happening for 2.8+ and avoid regressions. While we don't have that, let's keep this issue open.

Best.

[2019-05-09 18:48] dwijnand opened #9260 "Cross-build to Scala 2.13.0"
This is the tracking issue for cross-building Play to Scala 2.13.0.

Currently blocked on the release of Scala 2.13.0.

[2019-05-09 18:54] mkurz commented on #9260
Is there something holding us back to also cross-build the 2.7.x branch to Scala 2.13?

[2019-05-09 19:00] dwijnand opened #9261 "Support Java 11"
This is the tracking issue for supporting Java 11 in Play.

The current known blocker for this is tracked in https://github.com/playframework/play-samples/issues/17

[2019-05-09 19:11] dwijnand opened #9262 "Export Netty support from the play repo"
(Additionally, this would drop netty-reactive-streams as a supported module.)

[2019-05-09 19:20] dwijnand opened #9263 "Remove Play app global state"
This is the tracking issue for removing Play app global state.

To my knowledge what's left to do is remove the already deprecated APIs.

[2019-05-09 19:24] dwijnand opened #9264 "Allow for web socket backends to be defined by a typed actor"
(forked from #8999)

[2019-05-09 19:29] dwijnand opened #9265 "Play module for Akka HTTP management (from Lagom)"
(Lagom-side issue: https://github.com/lagom/lagom/issues/1928)

[2019-05-09 19:37] dwijnand opened #9266 "Play module for Akka Cluster (from Lagom)"
(Lagom-side issue: https://github.com/lagom/lagom/issues/1929)

[2019-05-09 19:39] dwijnand opened #9267 "Play module for Akka Cluster bootstrap (from Lagom)"
(Lagom-side issue: https://github.com/lagom/lagom/issues/1930)

[2019-05-10 10:36] #7242 closed

[2019-05-10 12:41] dwijnand opened #9275 "Review impact of ActorSystem#terminate calling Coordinated Shutdown"
This is a change coming in Akka 2.6.

(Lagom-side issue: https://github.com/lagom/lagom/issues/1932)

[2019-05-10 12:47] dwijnand opened #9276 "Switch to the default dispatcher in Akka 2.6"
This is a tracking issue for switching to the default dispatcher in Akka 2.6.

- trailing changes, see comments in #9213
- Remove overrides in Play and evaluate the performance impact
- Document the changes to users

[2019-05-10 12:51] dwijnand opened #9277 "Dependency Injection for ClusterSharding Typed when using Akka Persistence Typed"
Implement a binding for ClusterSharding Typed.

Part of #9278 ("Introduce a Play CQRS / Event Sourcing (write-side) incubating module")

It is related to #8999 ("Dependency Injection for typed actors").

[2019-05-10 13:00] dwijnand opened #9278 "Introduce a Play CQRS / Event Sourcing module (write-side)"
- requires #9277 (DI for ClusterSharding Typed)
- feature parity with the Lagom persistence API
- in message serializers deal with serialising `replyTo` `ActorRef[T]`s (inter-service)
- message serializers - journal / sharded tag (TBD @renatocaval)

[2019-05-10 15:07] renatocaval commented on #9278
@dwijnand, each of the above can be split on separated issues with more context and details. We can keep it like that for now and expand it when we pick to add on the sprint.

[2019-05-10 21:18] mkurz commented on #9059
Not setting an attribute for the akka-http server was done deliberately, because of concerns regarding performance. See [this](https://github.com/playframework/playframework/pull/6951/files#diff-282ac2c77c7d39e33ad66c32904b4ebdL84) and [this](https://github.com/playframework/playframework/pull/6951/files#diff-591d0c41805033f6b0a185df83b21b9aR165) comment.

Closing, however we can of course still c

[2019-05-10 21:18] #9059 closed

[2019-05-10 23:07] #9225 closed

[2019-05-13 10:22] dwijnand commented on #9260
Nope, we're already cross-building to 2.13.0-M5 so, barring anything extreme that impacts the stability of the 2.11/2.12 releases of Play 2.7.x, we should be able to update to 2.13.0 and back-publish.

[2019-05-13 11:55] mkurz opened #9297 "After 2.8.0: Rename methods back to their original names"
Let's collect:
* #9225 `request.queryString` back to `getQueryString` (?)
* #9296 `request.getCookie` back to `cookie`

[2019-05-13 12:13] zy4 opened #9298 "running multiple tasks on different ports broken"
Running multiple tasks on different ports used to work as follows:

[code]

Since 2.7.1 / 2.7.2 the second task crashes with:

[code]

Might be related to: https://github.com/playframework/playframework/pull/9099 (not sure). Running only one task works as usual. It only happens in DEV mode.

[2019-05-13 14:06] domdorn commented on #6390
For everyone stumbling over this in search for a trampoline (e.g. when you want to subclass `PlayBodyParsers`), you can access the trampoline in your code like this (I'm on Play 2.7.x):
[code]

[2019-05-13 20:29] KyleU commented on #9043
Can reproduce on 2.7.2, it dumps that MatchError, and also triggers a recompile/reload of the running play application before it exits

[2019-05-14 07:53] #8344 closed

[2019-05-17 09:03] mkurz commented on #8167
@marcospereira https://github.com/akka/akka/issues/26180 has been fixed (https://github.com/akka/akka/pull/26893). As soon as we upgrade to akka 2.6.0-M2 in master we should be able to write a test that confirms this is fixed. I will assign myself.

[2019-05-17 09:11] henricook opened #9321 "Play Framework (play-scala-seed) does not compile with sbt 1.3.0-RC1"
sbt 1.3.0-RC1 is due to final release in the next couple of weeks

This morning I did:

`sbt new playframework/play-scala-seed.g8` [Accept all default options]
`echo "sbt.version=1.3.0-RC1" >> play-scala-seed/project/build.properties`
`cd play-scala-seed`
`sbt compile`

and received this error:

[code]

Java version: OpenJDK8 (8u212-b03-0ubuntu1.19.04.2)

Anecdotally I have the same issue with vie

[2019-05-17 09:54] mkurz commented on #9321
See https://github.com/sbt/sbt/issues/4681

[2019-05-17 09:55] mkurz commented on #9321
Also https://github.com/playframework/twirl/pull/215

[2019-05-17 10:36] henricook commented on #9321
Thanks, should we keep this issue open?

[2019-05-17 11:33] mkurz commented on #9298
Are you sure you did shutdown all running apps so nothing is blocking port 9001 when running `runAll`?

[2019-05-17 11:34] zy4 commented on #9298
yes

[2019-05-17 11:41] mkurz commented on #9298
When changing it randomly then it's the random port that is blocking? Or always 9001?

[2019-05-17 11:44] zy4 commented on #9298
The first one.

[2019-05-17 11:48] zy4 commented on #9298
I also tried to not pass the port as an input parameter to the input task but to configure it as
`play.http.port = ... ` in an application.conf in the respective sub projects.
Then always port 9000 is used, also with the blocking behaviour.

[2019-05-17 14:35] Tryking opened #9325 "How can I download the 1.5 version zip file?"
How can I download the 1.5 version zip file?

[2019-05-17 14:40] arambau commented on #9325
Visit https://www.playframework.com/releases, scroll down to 1.5.

[2019-05-17 14:45] #9325 closed

[2019-05-17 17:36] dwijnand commented on #9321
Yep, let's track this.

[2019-05-17 19:45] mkurz commented on #9298
Please try `-D...` syntax:
[code]

[2019-05-17 21:17] zy4 commented on #9298
This seems to work. Should we close the issue? Since this is a breaking change (there are examples of the version without -D, even in books).

[2019-05-17 22:07] mkurz commented on #9298
What happens here is a result of fixing a couple of issues:

Until now `-Dplay.server.http.port` was [_not_ taken into account](https://github.com/playframework/playframework/blob/ad7ed0c2c0e107a183d47885592044926b38a833/framework/src/run-support/src/main/scala/play/runsupport/Reloader.scala#L104) when supplied via command line, _but_ it was taken into account when setting it via `PlayKeys.devSett

[2019-05-17 22:07] #9298 closed

[2019-05-20 10:26] sizer opened #9331 "Hard to understand assets path for child module..."
This Issue related to https://github.com/playframework/playframework/issues/2944

### Play Version (2.5.x / etc)

2.7.2

### API (Scala / Java / Neither / Both)

Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

MacOS 10.13.8

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

[code]

### Expected Behavior

Assets path for child module should like a parent's one.

[code]

###

[2019-05-21 16:25] dwijnand opened #9336 "Play on 2.13.0-RC2"
- [x] https://github.com/playframework/interplay/pull/74
- [x] https://github.com/playframework/play-json/pull/270
- [x] https://github.com/playframework/twirl/pull/217
- [x] https://github.com/akka/akka/pull/26967 (for 2.5.x https://github.com/akka/akka/pull/26992)
- [x] https://github.com/playframework/cachecontrol/pull/62
- [x] https://github.com/playframework/play-ws/pull/350
- [x] https://git

[2019-05-23 16:45] marcospereira opened #9341 "[TEST]: New issue to validate triage bot"
Will be closed after validation.

[2019-05-23 16:45] #9341 closed

[2019-05-24 11:41] dwijnand commented on #9336
@marcospereira or I will try to release 2.8.0-M1 to close this out.

[2019-05-24 14:37] mkurz commented on #8782
Fixed by #9332

[2019-05-24 14:37] #8782 closed

[2019-05-24 15:22] dwijnand opened #9345 "Add ActorRef[T] JSON serialization for persistence command replyTo"
In Akka Persistence Typed the actor ref to respond to (old "sender") is now part of the message.  This means that it must be possible to serialise such an `ActorRef[T]`.

Part of #9278 ("Introduce a Play CQRS / Event Sourcing (write-side) incubating module")

[2019-05-24 15:24] dwijnand opened #9346 "Handle journal / shared event tags"
Needs the means to shard the events tags so it can later be processed in a distributed fashion. We must do that in a way that is compatible with Lagom sharded tags and can be consumed by Lagom's read-side processors

Part of #9278 ("Introduce a Play CQRS / Event Sourcing (write-side) incubating module")

[2019-05-27 01:55] fabianedl777 commented on #8600
Hello guys, Any solution for play framework with? I'm using version 2.6.21.

[2019-05-27 13:12] dwijnand commented on #9336
All tasks complete.  Release is almost complete: https://github.com/playframework/play-meta/issues/83

[2019-05-27 13:12] #9336 closed

[2019-05-27 23:03] domdorn commented on #9265
As this issue just links to the lagom issue and the lagom issue links back to this one..
Is this about providing an easy way to integrate
https://doc.akka.io/docs/akka-management/current/cluster-http-management.html
into play?

[2019-05-28 06:55] dwijnand commented on #9265
I believe this is the Play-side issue tracking the upstreaming of https://github.com/lagom/lagom/blob/1.5.1/akka-management/core/src/main/scala/com/lightbend/lagom/internal/akka/management/AkkaManagementTrigger.scala (and related code/config).

[2019-05-28 07:50] renatocaval commented on #9265
@domdorn, we do plan to add a module in Play to easy cluster formation, much like the one in Lagom. Actually, the goal is to have it in Play and Lagom would rely on it.

Once we have Cluster module in Play, it makes sense to have Akka Management in Play, like we have in Lagom.

That issue is about the Akka Management part, the Cluster and Cluster Bootstrap are  https://github.com/playframework/pla

[2019-05-28 12:09] dwijnand commented on #9261
With https://github.com/playframework/play-samples/issues/17 fixed, this is fixed as of Play 2.8.0-M1 (last fix was the play-ws fix to upgrade to latest ssl-config).

[2019-05-28 12:09] #9261 closed

[2019-05-29 15:03] ZwS opened #9355 "JPA API doesn't provide support for DI in EntityListeners"
### Play Version (2.5.x / etc)
2.5.x and higher

### API (Scala / Java / Neither / Both)
Java

### Expected Behavior

1. Mark entity with `@EntityListeners` annotation
2. Create entity listener class and mark it's constructor with `@Inject` annotation
3. Injected objects should be accessible at runtime

### Actual Behavior

JPA integration doesn't support injectable EntityListeners.

If DI couldn'

[2019-05-29 18:24] ranjithv opened #9356 "Unable to change default 'max-uri-length' within play 2.6"
### Play Version (2.5.x / etc)
2.6.21

### API (Scala / Java / Neither / Both)
Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Mac OS - Darwin Kernel Version 18.6.0

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

java version "1.8.0_192"

### Library Dependencies
None

### Expected Behavior

max-uri-length setting should take effect in play 2.6.21 and allow characters m

[2019-05-29 21:36] jpablo commented on #8511
I got bitten by the same issue :/

[2019-05-30 06:51] dounine opened #9358 "actor ActorSystemImpl 400 Bad Request within play 2.7"
### Are you looking for help?

I want to use the actor system of the play framework to receive messages and send them to the client, but the client never received the messages from the server in the past. There will be an error message of'400 Bad Request'on the server side. I don't know how to solve it. The actor of the client is independent.

### Play Version (2.7.0 / etc)

**server code**
[code]

[2019-05-30 15:10] Shnick opened #9361 "Checkbox no longer supports HTML labels in Play 2.7"
This use to work in Play 2.6.x but does not work in Play 2.7.x. Can't spot any documentation saying this is no longer supported so assuming it's a bug?

Page looks like
[code]
Messages looks like
[code]

Expect to see a check box with a click able link.  E.G

Instead I'm seeing HTML on the page. E.G

[2019-05-31 05:03] dounine commented on #9358
My problem has been solved、the project：https://github.com/dounine/play-actor

[2019-05-31 05:03] #9358 closed

[2019-05-31 11:06] mkurz commented on #9361
Seems to be related to #8656. I will have a look.

[2019-05-31 20:41] malliina opened #9365 "Returning from triggered execution does not work"
### Play Version

2.7.2

### API

Scala

### Operating System

MacOS Mojave 10.14.5

### JDK

java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)

### Expected Behavior

1. git clone git@github.com:playframework/play-samples.git
2. cd play-samples/play-scala-hello-world-tutorial/
3. sbt
4. ~ run
5. After th

[2019-06-03 03:56] marcospereira commented on #9365
Thanks for reporting, @malliina. I can confirm this is happening. I didn't have time to investigate further, but it can be related to https://github.com/playframework/playframework/pull/8565.

[2019-06-03 09:57] dwijnand commented on #9297
There's already a PR ready for this: #9364.  When we can merge it, let's reopen it and merge it.

[2019-06-03 13:37] marcospereira opened #9366 "Run documentation tests in Java 11"
On our Travis build, we need to run the documentation tests on Java 11 as well.

[2019-06-03 13:39] marcospereira opened #9367 "Run documentation tests using Scala 2.13"
To ensure all the code snippets in our docs also work correctly with Scala 2.13.

[2019-06-03 14:16] marcospereira commented on #9355
Hey @ZwS,

Could you better explain your use case here? The way I see `@EntityListeners` they should be used to change data in the current entity, so it is unclear to me why do you need dependency injection here.

[2019-06-04 21:19] malliina commented on #9365
Ok no problem, it's useful to know it is not only specific to my computer.

[2019-06-04 21:27] jtjeferreira opened #9368 "Play does not run sbt 1.3.0-M5"
### Play Version (2.5.x / etc)
2.6.20

### API (Scala / Java / Neither / Both)
Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Arch Linux

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

Paste the output from `java -version` at the command line.

### Expected Behavior

1. sbt -sbt-version 1.3.0-M5
2. run
3. should start the play server in dev mode

### Actual Behavior

P

[2019-06-04 21:28] jtjeferreira commented on #9321
I can report that this is fixed in sbt 1.3.0-M5. However I still cant run the app (see #9368)

[2019-06-04 21:31] jtjeferreira commented on #9368
There is an workaround which is to `set sbtVersion := "1.3.0"` in sbt shell.

[2019-06-04 21:32] jtjeferreira commented on #9368
The problematic line https://github.com/playframework/playframework/blob/ab6697f494a000ba8d19768e9d04eed3bb8cdbf7/dev-mode/sbt-plugin/src/main/scala-sbt-1.0/play/sbt/run/PlayRunCompat.scala#L63.

Is there some better way to parse a version string? Maybe sbt provides something?

[2019-06-04 22:06] marcospereira commented on #9368
Hey @jtjeferreira,

Yeah, there is a problem there. Thanks for taking the time to test and report the problem.

Not sure if `sbt.CrossVersion` has some helper to parse the version getting epoch, minor and patch info, but if not, we can correct the parsing.

[2019-06-04 22:14] marcospereira commented on #9368
@jtjeferreira see #9369.

[2019-06-04 23:35] marcospereira commented on #9321
Wait, so it works with M5 but does not work with RC1?

[2019-06-04 23:45] jtjeferreira commented on #9321
As far as I understand M5 is more recent than RC1...

[2019-06-05 00:39] #9368 closed

[2019-06-05 04:35] marcospereira opened #9372 "Play 2.6.24"
### Are you looking for help?

This is an issue tracker, used to manage and track the development of Play. It is not a support system and so it is not a place to ask questions or get help. If you're not sure if you have found a bug, or if you have a feature request, the best place to start is with either the [Discuss Play Forum](https://discuss.playframework.com) or [Stack Overflow](http://stackov

[2019-06-05 04:36] #9372 closed

[2019-06-05 05:43] dwijnand commented on #9321
All fixed

[2019-06-05 05:43] #9321 closed

[2019-06-05 10:08] ZwS commented on #9355
Hello @marcospereira

My main use-case is that I'm required to tell services via akka's `ActorSystem` that entity was changed. It triggers various things like publishing events to kafka or generating thumbnails. And unfortunately I cannot simply put this action together with the entity save due to project's architecture, which relies that entity would be stored not by triggering save method of rep

[2019-06-05 19:20] marcospereira commented on #9106
Fixed by #9237.

[2019-06-05 19:20] #9106 closed

[2019-06-05 20:35] marcospereira commented on #9356
`play.server` prefix does not translate to all Akka HTTP configurations, so what you need is to use Akka HTTP's configuration `akka.http.parsing.max-uri-length` as documented here:
https://doc.akka.io/docs/akka-http/current/configuration.html?language=scala
It is also possible that you need to configure it like explained here:
https://www.playframework.com/documentation/2.7.x/ConfigFile#Using-with

[2019-06-05 20:35] #9356 closed

[2019-06-05 20:47] ranjithv commented on #9356
Thanks @marcospereira! I figured it out from another stackoverflow but this below doc confused me. It would be better to explicitly mention for other akka settings use `akka.` directly.

https://www.playframework.com/documentation/2.7.x/ConfigFile#Using-with-Akka:
"In Play, Akka reads it's settings from within the play.akka setting, not from the akka setting."

[2019-06-05 21:29] bestcastor commented on #8239
Is this one fixed with play 2.7.2?

[2019-06-07 07:21] mkurz commented on #9006
Fixed by #9080

[2019-06-07 07:21] #9006 closed

[2019-06-07 08:48] riomus commented on #7119
In order to mitigate that issue, we are using preMaterialize with buffer and backpressure. In our case, we are not able to load the whole file into memory, using preMaterialize deadlock is not present.

`private def handleFilePartAsSource(implicit ec: ExecutionContext, m: Materializer): FilePartHandler[Source[ByteString, _]] = {
    case f @ FileInfo(partName, filename, contentType, dispositionTyp

[2019-06-07 09:44] mkurz commented on #9361
I know what the problem is and will provide a pull request asap.

[2019-06-07 09:56] Shnick commented on #9361
Thanks for looking into this so quickly :+1:

[2019-06-08 10:22] sizer opened #9382 "Cannot load grand-child routing PlayScala@2.7.2"
### Play Version

PlayScala@2.7.2

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

[code]

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

[code]

### Expected Behavior

1. make your sbt project as 'root'
2. add sub-project as 'buildA'
3. add sub-project as 'appA'
4. buildA include a appA.routes
5. -> Yay, you can create some builds in one root project !!

### Actual Behavior

[2019-06-09 19:15] novakov-alexey commented on #8716
Still having this issue, no earlier exception showing failure to generate a valid configuration. :-(

[2019-06-10 09:50] notflorian commented on #9260
Scala 2.13 is out https://github.com/scala/scala/releases/tag/v2.13.0 :tada:

[2019-06-11 09:15] dwijnand opened #9383 "Switch to Akka 2.6's Jackson serializer"
Play java jackson will adopt akka jackson defaults and will document on the migration guide how to tune play 2.8 to behave like 2.7

(Lagom-side issue is https://github.com/lagom/lagom/issues/1931)

Additional concerns that are related but haven't been further explored are the inconsistency in behaviours between:
* play-json and the unified Akka/Play/Lagom usage of Jackson; and
* play-json's Write

[2019-06-11 09:39] ignasi35 commented on #9345
This problem is solved in `akka-jackson` but needs solving for `play-json` users.

[2019-06-12 08:56] mkurz commented on #9361
Fix is here #9385

[2019-06-12 11:40] felixoi commented on #8516
We just suppress this warnings now.

[2019-06-12 11:40] #8516 closed

[2019-06-12 18:02] Lugghawk commented on #8716
I get this issue as well, and no prior exceptions about the configuration. However, after ctrl+c'ing the `sbt run`, the console outputs this before stopping:

[code]

[2019-06-12 18:16] mkurz commented on #8716
@novakov-alexey @Lugghawk
I assume you use the akka-http backend server. Can you switch to netty and tell us what you see then?
https://www.playframework.com/documentation/2.7.x/NettyServer#Netty-Server-Backend

[2019-06-13 10:45] marcospereira commented on #8716
@mkurz I assume this is the same as #9020.

[2019-06-13 10:55] mkurz commented on #9020
When running the provided example with the [netty backend](https://www.playframework.com/documentation/2.7.x/NettyServer#Netty-Server-Backend) I get much better error message:

<details>
<summary>Click here to view the stack trace</summary>

[code]

</details>

[2019-06-13 10:57] mkurz commented on #8716
Based on my findings [here](https://github.com/playframework/playframework/issues/9020#issuecomment-501654091) I guess the swallowed error message is something like `Reserved character '?' is not allowed outside quotes`...

@novakov-alexey @Lugghawk Try to put the config value in quotes:
[code]
and let us know if that fixes your problem.

[2019-06-13 12:30] Regan-Koopmans commented on #9066
@marcospereira I would really like to take this on as a first issue, would you be able to point me in the right direction on where to start? I presume the change will likely manifest in implementations of TemporaryFileCreator in [Files.java](https://github.com/playframework/playframework/blob/master/core/play/src/main/java/play/libs/Files.java). How would I access the global Config object?

[2019-06-13 12:56] marcospereira commented on #9066
Hey @Regan-Koopmans,

Thanks for your interest here. I think the initial place to change is to inject `play.api.Configuration` here:

https://github.com/playframework/playframework/blob/76185b80332327816a26625ad08bfa20a5b7dfcf/core/play/src/main/scala/play/api/libs/Files.scala#L239-L243

And then use the configuration where we are creating the temporary directory:

https://github.com/playframework

[2019-06-13 15:32] Regan-Koopmans commented on #9066
@marcospereira I have created a PR, but it is currently failing binary compatibility. I believe this is because of the new injection. Is there a workaround for this? Or have I done this injection incorrectly? Many thanks in advance for any assistance!

[2019-06-13 17:15] sergiuszkierat opened #9391 "java.lang.NumberFormatException: For input string: "0-RC2""
### Play Version

2.7.2

### Sbt Version

1.3.0-RC2

### API

Scala

### Operating System

Ubuntu 18.04.2 LTS

### JDK

openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-8u212-b03-0ubuntu1.18.04.1-b03)
OpenJDK 64-Bit Server VM (build 25.212-b03, mixed mode)

### Expected Behavior

1. git clone git@github.com:sergiuszkierat/play-samples.git
2. cd play-samples/play-scala-start

[2019-06-13 17:19] mkurz commented on #9391
Fixed by #9369 already. Will land in 2.7.2.

[2019-06-13 17:19] #9391 closed

[2019-06-13 17:25] sergiuszkierat commented on #9391
Thanks @mkurz

[2019-06-14 21:30] mkurz opened #9394 "Support querystring parameters for Java's redirect method"
The Scala API supports this a long time already:
https://github.com/playframework/playframework/blob/1af85d5ea8b1bc841079c60fdea6550ccddf0ef6/core/play/src/main/scala/play/api/mvc/Results.scala#L783-L803

We just need to overload the Java methods to be able to pass query params as well:
https://github.com/playframework/playframework/blob/1af85d5ea8b1bc841079c60fdea6550ccddf0ef6/core/play/src/main/

[2019-06-15 21:33] felipehaack commented on #9382
Hi @sizer, I believe this issue isn't related to Play, but focusing more on the way to configure your SBT project. Try to enable the Play plugin in the subproject instead of in the `buildApp` sbt file, or move out the `build sbt` code to the root level.
[code]

[code]

[2019-06-17 11:52] ignasi35 commented on #9382
Hi @sizer, did @felipehaack's solution work? Can we close this issue?

[2019-06-17 12:19] ignasi35 commented on #9066
hi @Regan-Koopmans , let's discuss the PR details on the PR (I'm going there)...

[2019-06-17 13:18] ignasi35 commented on #9366
fixed in #9395

[2019-06-17 13:18] #9366 closed

[2019-06-17 17:35] #9361 closed

[2019-06-18 09:28] aeismann commented on #8861
Hello,

@ertra my setup is similar to the initial post. I tried your configuration, but unfortunately it didn't work.

Ciao
Andi

[2019-06-18 09:34] domdorn commented on #9260
Is there something blocking for 2.13.0?
I've seen that we've published for 2.13.0-M5 and RC2 before.

[2019-06-18 10:00] mkurz commented on #9260
@domdorn see #9399

[2019-06-18 12:28] felipehaack commented on #9394
Hi @ignasi35, would be possible to assign this ticket to me? I will take care of the changes.

[2019-06-18 13:25] gurkankaymak commented on #9394
Hi i created a pull request #9401 for this issue

[2019-06-18 14:24] gilles-degols opened #9402 "Support GraalVM and native-image compilation"
### Are you looking for help?

Oracle has released "GraalVM", which allows, among other things, to build a native application out of any java/scala code. The drop in resource consumption (specifically the RAM) is extremely useful for a micro-service architecture.
An example of the performance improvement was done [here](https://medium.com/graalvm/instant-netty-startup-using-graalvm-native-image-ge

[2019-06-18 15:19] ignasi35 commented on #9402
Hi @gilles-degols.
This is not in our short-term plan but is definitely an interesting investigation.

[2019-06-18 16:42] ignasi35 opened #9403 "UnEncoded key on key-value serialisation"
Searching for `URLEncoder.encode` we find a few places converting `Map[String,String]` into `key1=val1&key2=val2` for queryString representation of body as forlUrlEncoded.

Some of these serialisers fail to use `URLEncoder.encode` for the key. E.g. https://github.com/playframework/playframework/blob/282cb7905f3b4a1b4dc97b2fbc8e8eca9224158b/core/play/src/main/scala/play/api/http/Writeable.scala#L99

[2019-06-18 17:08] ignasi35 commented on #9394
Issues and PRs can only be assigned to maintainers. :-(

[2019-06-19 09:20] renatocaval commented on #9260
Fixed in #9399

[2019-06-19 09:20] #9260 closed

[2019-06-19 11:39] bfdes commented on #7615
This sort of thing also crops up when trying to use `bindFromRequest` in forms (Play 2.6.9).
Please see https://stackoverflow.com/questions/47344249, where @marcospereira referenced this issue.

My solution was to wrap the controller action in a `CompletableFuture` and to supply an explicit `Executor`, as above.

[2019-06-19 12:12] mkurz commented on #7615
I guess this issue will finally be fixed with Play 2.8.0 - see [this comment here](https://github.com/playframework/playframework/issues/8167#issuecomment-490645264).
@bfdes Can you try with Play 2.8.0-M1 and let us know if the problem still occurs?

[2019-06-19 14:57] ignasi35 opened #9406 "Plugin version bumps"
Once #9397 has landed we could bump a few other plugins:

[code]

[2019-06-19 18:27] gabrielgiussi commented on #9190
Hi, I wonder why was decided to make AkkaHttpServer return the encoded path instead of making NettyServer return the decoded one.
Also, if I want the decoded path the best way to get it will be with `Uri.Path(request.path).toString`, where request is a `RequestHeader`?
Thanks.

[2019-06-20 00:22] sizer commented on #9382
@felipehaack yay! you solved my problem 👍 thx.

[2019-06-20 00:22] #9382 closed

[2019-06-20 09:25] pjfanning opened #9409 "play-omnidocs 2.7.3 not released"
My team uses sbt-play plugin and when I upgraded to use v2.7.3, the build fails because play-omnidocs 2.7.3 is not released.

http://repo1.maven.org/maven2/com/typesafe/play/play-omnidoc_2.12/

[2019-06-20 09:42] co-category opened #9410 "How to Use CSP Filter in Play 2.7"
Hello,

I was wondering if I could get some assistance with this issue I am facing:

https://stackoverflow.com/questions/56670344/correct-way-to-use-csp-filter-in-play-2-7

[2019-06-20 10:29] ihostage commented on #9410
@co-category Please, use [forum](https://discuss.lightbend.com/c/play) for questions 😉

[2019-06-20 10:29] renatocaval commented on #9409
It's being released right now. We have some other blockers.

[2019-06-20 10:29] #9409 closed

[2019-06-20 11:13] ignasi35 commented on #9410
Like @ihostage said, this seems more appropriate for [discuss](https://discuss.lightbend.com/c/play) or SO. I'll close.

[2019-06-20 11:13] #9410 closed

[2019-06-20 14:29] ignasi35 opened #9411 "Document Twirl syntax changes on Play 2.7 migration"
See https://github.com/playframework/twirl/issues/222

[2019-06-21 14:13] renatocaval opened #9414 "Review MiMa settings for 2.8.0"
We have a huge list of exclusions in master.
https://github.com/playframework/playframework/blob/master/project/BuildSettings.scala#L218

For 2.8.0, we can consider a clean-up.

[2019-06-21 15:11] #9406 closed

[2019-06-21 20:53] ignasi35 commented on #9262
Maybe related to [this discussion](https://discuss.lightbend.com/t/integration-tests-using-play-2-7-2-are-using-the-nettyserver/4458)

[2019-06-22 13:20] eed3si9n opened #9418 "Unable to Ctrl-C out of 'run' with sbt 1.3.0-RC2"
This was originally reported by @dwijnand as https://github.com/sbt/sbt/issues/4822

## steps

* Take https://github.com/playframework/play-samples/tree/f6519a15096fd7eb49f4f19ae444faade936b479/play-scala-compile-di-example
* Update to sbt 1.3.0-RC2
* Also update Play to 2.7.3
* Start `sbt`
* Execute `run`
* Visit http://localhost:9000/
* Hit `Ctrl-C`

or alternatively set `Global / cancelable :=

[2019-06-23 04:29] eed3si9n commented on #9418
[Using the play commands directly](https://www.playframework.com/documentation/2.7.x/PlayConsole#Using-the-play-commands-directly) says:

So maybe the solution is use `Enter`.

[2019-06-23 08:25] schmitch commented on #9402
actually the problem here is that you use Guice @gilles-degols if you use play without guys it will work if you include everything necessary inside the image. with guice you basically need to add all classes to the image that will be included dynamically.

[2019-06-23 09:50] gilles-degols commented on #9402
@schmitch you are right! By using a project [here](https://github.com/ygor-sk/scala-play-examples/tree/master/minimalistic-playframework-macwire) not relying on Guice, and meddling a bit with it I was able to compile & run the native-image.
I guess we can close this ticket, but it would be interesting for the future to update the initial post you wrote [here](https://blog.playframework.com/play-on

[2019-06-23 09:54] #9402 closed

[2019-06-25 08:22] dwijnand commented on #9414
What do you mean by a clean-up?

It's there just as a way to assist PR review.

[2019-06-25 13:45] renatocaval commented on #9414
I mean remove everything that is not relevant anymore. Is that all checking agains 2.7.x?

[2019-06-25 14:45] dwijnand commented on #9414
Yep.

I think Marcos prefers how it is, so he can use it as a reference for everything that's changed at the binary level compared to 2.7.

[2019-06-25 16:04] ignasi35 opened #9422 "Enable docs build fatal warnings"
In order to cross-compile the `docs` code, we dropped -Xfatal-warnings` and `-WError` in https://github.com/playframework/playframework/pull/9413.

If/when the docs build goes to only run in scala `2.13` fatal warnings should be enabled back.

[2019-06-25 16:50] ignasi35 commented on #9275
Did a quick code review back in the day.

We've been using Akka `2.6.0-Mx` for some time now without any issues.

Closing.

[2019-06-25 16:50] #9275 closed

[2019-06-26 11:38] dadepo commented on #8566
I am running into this issue with Play Framework version 2.7.2 running with Java-11. Anything I am doing wrong, or this is a sign of a regression?

[2019-06-26 11:46] mkurz commented on #8566
@dadepo You can upgrade to 2.7.3 already. However, which Scala version do you use?

[2019-06-26 11:50] dadepo commented on #8566
@mkurz sure I can...
but in the meantime, I am using Scala `2.11.12`...thoughts?

[2019-06-26 11:51] mkurz commented on #8566
@dadepo Can you post the exception? Is it exactly the same like in the initial post of this issue?

[2019-06-26 11:53] mkurz commented on #8566
BTW: I recommend to upgrade to Scala 2.12.8 or even 2.13.0 (which is supported as of Play 2.7.3). Newer Scala versions come with much better support for Java 11.

[2019-06-26 11:57] dadepo commented on #8566
The exception looks exactly like the initial post. But I have copied part of it below:

[code]

In the meantime, i will also upgrade to 2.12.8 as you suggested

[2019-06-26 11:59] mkurz commented on #8566
@dadepo Try to upgrade to 2.13 if possible (again, you need 2.7.3 for it to work). Not sure if all your dependencies are published for 2.13 already, but you will see.

[2019-06-26 12:07] dadepo commented on #8566
I just upgraded to 2.12.8, still got the error. Here is the fuller stacktrace:

[code]

I am not sure I mentioned it before, the application actually starts and run. I am just worried/wondering if this stacktrace is a sign that something is silently broken.

[2019-06-26 12:27] mkurz commented on #8566
@dadepo Check this out: https://github.com/netty/netty/issues/7817
This is not an error, but just a debug message which contains the stacktrace:

That's also why your app runs smoothly, because it's not a bug.

Also see: https://stackoverflow.com/a/56226705/810109
Add something like this to your `logback.xml`:
[code]

[2019-06-26 12:58] dwijnand commented on #8566
Not all features of Java 9+ are implemented in Scala (even Scala 2.13), such as java modules.  Similarly about disabled reflection access.

[2019-06-26 13:20] arkebuzer opened #9423 "Typo in defaults section of play-caffeine-cache reference.conf"
Hello!

[play-caffeine-cache/src/main/resources/reference.conf](https://github.com/playframework/playframework/blob/master/cache/play-caffeine-cache/src/main/resources/reference.conf) has two "weak-keys" options, while "maximum-size" option is missing.

[2019-06-26 14:36] renatocaval commented on #9414
In that case, I'm closing this. I thought it needed some clean-up. Good if it's ony 2.7.x. Impressed anyway by the number of deprecations.

[2019-06-26 14:36] #9414 closed

[2019-06-26 16:30] dwijnand commented on #9414
We deleted lots of deprecated API.

[2019-06-26 19:41] marcospereira commented on #9422
@ignasi35 is this something we plan to tackle in 2.8 milestones?

[2019-06-27 08:53] ignasi35 commented on #9422
Should happen as soon as we drop cross-building docs in `2.12`. If we decided all snippets in 2.8 docs will only support 2.13, then yes.

[2019-06-28 07:22] #9367 closed

[2019-06-30 09:17] ourgit commented on #8873
@mkurz @marcospereira,
deprecated the Http.Context sounds make sense,however, howto retrieve the actionMethod with the request under play 2.7?  I use method below  under play 2.6+
[code]
I need the actionMethod to identify and authorize the requests, now it seems play  2.7 do not provide the way to us, what should be the correct way to do so under play 2.7+,thank you very much.

[2019-06-30 10:52] mkurz commented on #8873
@ourgit See https://www.playframework.com/documentation/2.7.x/Migration26#Router-tags-are-now-attributes

[2019-06-30 12:30] ourgit commented on #8873
Thank you. That is exactly what i need.

[2019-07-01 02:38] bovery opened #9432 "this is"
### Play Version (2.6.x / etc)

### API ( Java )

### Operating System (cent os)
### JDK (Oracle 1.8.0_72,)

### Library Dependencies

mysql8 --- hikaricp
### Expected Behavior

Please describe the expected behavior of the issue, starting from the first action.

1. Normal operation of service

### Actual Behavior

Please provide a description of what actually happens, working from the same startin

[2019-07-03 08:23] ignasi35 opened #9438 "Break play - omnidoc circular dependency"
When releasing Play a.b.c the following steps are required:

1. release upstream projects
2. release play a.b.c
3. release satellite projects
4. release omnidoc a.b.c

After running `2.` above, there are issue running/building play until `4.` has completed. The cause is related to this code:

https://github.com/playframework/playframework/blob/d9965b5612e6043c53827a499791dccf81a5e057/dev-mode/sbt-

[2019-07-03 08:26] ignasi35 commented on #9438
I am not familiar with the use cases where `play-omnidoc` as a dependency is used. Put another way: why is there a dependency to `"com.typesafe.play" %% "play-omnidoc" ...` at all?

My other doubt is that `"com.typesafe.play" %% "play-omnidoc" ...` seems to only be used in dev mode _and_ when explicitly enabling the `PlayDocsPlugin` plugin. with `PlayDocsPlugin` users can access `localhost:9000/@d

[2019-07-03 08:26] ignasi35 commented on #9438
It seems to me like [the `playOmnidoc` setting](https://github.com/playframework/playframework/blob/d9965b5612e6043c53827a499791dccf81a5e057/dev-mode/sbt-plugin/src/main/scala/play/sbt/PlaySettings.scala#L69-L73) should be moved from `sbt-plugin` to `play-docs-sbt-plugin` and then `play-docs-sbt-plugin` could be released separately.

[2019-07-03 10:32] mahesh2492 commented on #8611
@marcospereira I am facing the same issue with my application.
Play version: 2.39
So will this solution work for us too? Or is it applicable to the specified version in question?

[2019-07-04 16:39] bfdes commented on #7615
Unfortunately not. I had performed the upgrades 2.4 -> 2.5 -> 2.6 and I'm unable to go any further.
I will see if I can recreate it in a fresh Play 2.8 project.

[2019-07-05 08:04] ignasi35 opened #9447 "Overload Helpers so Symbol is not required"
The `Symbol` syntax sugar `'name` was deprecated in Scala 2.13 so requiring users to write `Symbol("name")` is more inconvenient than just letting them use a `String`.

From https://github.com/playframework/play-samples/pull/38#discussion_r300432651 /cc @marcospereira

Related to https://github.com/playframework/playframework/pull/9445 (and other PRs).

IMHO: we could even deprecate the overload w

[2019-07-05 08:05] ignasi35 opened #9448 "Scalafix rule for Symbol->String in helpers"
Once https://github.com/playframework/playframework/issues/9447 is completed, we could have a scalafix rule do the work. Even get [`scala-steward`](https://github.com/fthomas/scala-steward/issues/149) to run the rule.

[2019-07-07 22:31] Jacke commented on #9043
Fixed on 2.7.3

[2019-07-09 13:54] renatocaval commented on #9448
Do you mean, a scalafix rule that users could use to fix their code?

[2019-07-09 16:27] renatocaval commented on #9438
As discussed on call, we have the following options:

1. remove the offline documentation. The burden to maintain offline documentation is too heavy.
2. if option 1 is too intrusive, we could instead have the omnidoc integrated back into Play. We release Play and we get the docs. The downstream projects (play-slick, play-ebean) won't have offline documentation in that case.

I don't know if I unde

[2019-07-10 14:42] dwijnand opened #9460 "Export play-ehcache from the play repo"
* from supported module to community-driven
* play-caffeine is the new default

[2019-07-10 16:11] renatocaval commented on #9432
Hi @bovery, could you provide a reproducer for it?

I don't think this is related to akka-http tough. It looks more to a problem with the ebean integration. It is not shutting down properly.

[2019-07-11 07:11] #9394 closed

[2019-07-12 13:40] raghumy opened #9465 "Wrong Content-Length causes 504 errors"
With Play 2.7, the behavior of Content-Length header has changed when using WSClient. I have several controllers that proxy calls and prior to this release, it didn't matter what the Content-Length was. Starting with 2.7, it seems that having a Content-Length which is > the actual length causes a 504 error.

One of the reasons the length is less is that when you get back the JSON, it removes any n

[2019-07-12 15:35] marcospereira commented on #9465
Hey @raghumy, can you create a small project that reproduces the problem? I cannot fully understand it, and a reproducer will help to understand better what is happening.

[2019-07-15 05:58] #9418 closed

[2019-07-15 19:09] raghumy commented on #9465
Sure, @marcospereira  - Here's a small project https://github.com/raghumy/play_2_7_bug.git. Switch it over to 2.6 and you should see different behavior.

[2019-07-17 14:25] brbrown25 commented on #9403
@ignasi35 I'd be interested in working on this issue if it's up for grabs.

[2019-07-17 16:43] renatocaval commented on #9403
@brbrown25 Yep, you can take it. Thanks

[2019-07-18 12:09] fagossa commented on #8474
Hello, @marcospereira, @kubukoz ,

What is the expected output for the exception message? Something along these lines would be acceptable?

[2019-07-18 12:34] jthangavel86 opened #9473 "Not able to Manipulate the header in Web socket Response"
### Play Version (2.7.2 / etc)

### Expected Behavior

Upgrade to web socket is abstracted in play frame work(2.X).
Before accepting a websocket request from client
The Websocket-server does not agree to using one of the subprotocols offered by the client, it must complete the Web Socket handshake with a response without a Sec-WebSocket-Protocol header and then immediately close the WebSocket conn

[2019-07-18 17:26] cookiee01 commented on #9447
I would like to work on this !

Are we planning to add a secondary constructor which takes `String` instead of `Symbol` and leave the case class definition as it is? Or are we looking at changing the case class definition itself. In second scenario, we will have to change from `Symbol` to `String` at all the places where we are using `args.get('something)`.

Thanks !

[2019-07-19 03:06] zhengcan opened #9476 "Clarify whether CacheApi.getOrElseUpdate support null as value or not"
### Play Version (2.5.x / etc)

Play 2.7.2

### API (Scala / Java / Neither / Both)

Both

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

MacOS Mojave 10.14.5

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

openjdk version "1.8.0_212"

### Library Dependencies

n/a

### Expected Behavior

I use SyncCacheApi to cache entity. The code looks like:
[code]

I expected the functio

[2019-07-19 19:30] limpid-kzonix commented on #9476
It depends on the implementation of cache API.
 Have a look at the internal implementation of cache what you want to use.
[code]
e.g with EhCache impl it works "fine" (returns "null").

[2019-07-19 20:36] marcospereira commented on #9447
Hey @cookiee01,

We can add change the case class definition and add a deprecated constructor that accepts `Symbol` instead. I think this is better than keep the definition as is.

Yep, one thing we can do here is to define the case class like this:

[code]

So that we retain source compatibility and have the change to explain what people using `args` need to do.

Again, thanks for your help here.

[2019-07-20 09:47] limpid-kzonix commented on #9465
This is an error returned by the server to which the wrong request was sent.

[2019-07-20 11:08] ghw59 opened #9487 "Play not working well with the docker plugin in sbt-native-packager"
### Play Version (2.5.x / etc)
2.7.0

### API (Scala / Java / Neither / Both)
Both

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
MacOS 10.14

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)
### Library Dependencies

### Expected Behav

[2019-07-20 18:04] #9276 closed

[2019-07-20 22:04] gmethvin commented on #9465
Doesn't seem like a bug in Play.

Your example doesn't do anything with JSON. It simply provides an incorrect content length for the body, and the 504 response probably occurs because the server on the other end is waiting for you to send additional bytes.

If you are attempting to serialize a JSON body you've already parsed, Play WS will take care of adding the Content-Length for you. If you're t

[2019-07-20 22:04] #9465 closed

[2019-07-20 22:14] gmethvin commented on #8474
We should list the valid constructors. Something like:

[code]

[2019-07-20 22:28] gmethvin commented on #9187
The current default behavior is correct from a CSRF protection point of view. Just like cookies, browsers will automatically send the basic authorization header with the request once the user has authenticated, so a request using basic auth is still vulnerable to CSRF.

As you pointed out, the documentation does say in one place "Play only checks requests with cookies in the header", though in oth

[2019-07-20 22:55] gmethvin commented on #9243
@slisaasquatch The reason your test doesn't work is because the controller action expects a parsed version of the body. Your test is really more like a unit test, just testing your action code handling the already-parsed body provided by Play. If you test with an actual HTTP request to the server you'll see the body gets decoded from gzip just like it does in the integration test linked above.

[2019-07-20 22:55] #9243 closed

[2019-07-21 01:33] zhengcan commented on #9476
I think the adapter should provide the same behavior for different implementations.
For example, in play.api.cache.caffiene.SyncCaffeineCacheApi, it can check the value and return null instead of Exception when orElse returns null.

[2019-07-21 17:06] limpid-kzonix commented on #9476
I would propose:
-  to change API ```scala
def getOrElseUpdate[A: ClassTag](key: String, expiration: Duration = Duration.Inf)(orElse: => Future[A]): Future[A]``` to ```scala
def getOrElseUpdate[A: ClassTag](key: String, expiration: Duration = Duration.Inf)(orElse: => Future[A]): Future[Option[A]]```
since orElse can return a null value.
(and for sync cache api accordingly)
- and to add additional

[2019-07-22 10:27] ignasi35 opened #9491 "Test Failure: expected IOException is wrapped in Akka Stream exception"
Seen in travis:

[code]

This is probably a change in upstream Akka and this exception only happens if/When the [CRON job](https://travis-ci.com/playframework/playframework/jobs/218060206) uses an Akka snapshot.

[2019-07-22 11:36] jeberdson commented on #3826
I am using play version 2.7

How to add this filter in Global.filters method?

[2019-07-22 15:35] raghumy commented on #9465
The only issue I have with this is that it works with Play 2.6 with the exact same code. Something seems to have changed - maybe it wasn't sending content length and it is now? Seems worth documenting at the very least.

[2019-07-22 16:31] marcospereira commented on #3826
@jeberdson see documentation here: https://www.playframework.com/documentation/2.7.x/ScalaHttpFilters

Moreover, our [forums](https://discuss.playframework.com) would be a better place to discuss this. Github issues are for reporting bugs and feature requests in Play, not for general discussion and getting help.

Best.

[2019-07-23 07:43] emmanuelGuiton opened #9495 "Form input constraint truncates dates to the minute"
The date constraint on form inputs ( https://www.playframework.com/documentation/2.7.x/api/scala/play/api/data/Forms$.html#date(pattern:String,timeZone:java.util.TimeZone):play.api.data.Mapping[java.util.Date] ) truncates values such as '2019-07-22T07:00:57+00:00' to the minute (i.e. '2019-07-22T07:00:00+00:00')
Indeed, the conversion in https://github.com/playframework/playframework/blob/master/c

[2019-07-23 22:18] marcospereira commented on #9465
Hey @raghumy, if you change the log level to `DEBUG`, you can see better what is happening. For Play 2.6, the header was being discarded and a new one was calculated based on the `POST` payload, so that the request execute was:

[code]

It is possible that Async-Http-Client was doing the `Content-Length` calculations since Play-WS is still trying to consume 200 bytes and you can see logs like:

[c

[2019-07-24 05:23] #9066 closed

[2019-07-24 14:05] fagossa commented on #8474
Hello, I have simple implementation that fixes this problem in here https://github.com/fagossa/playframework/commit/91778d190a8a77631d4292373bce9abec03141e2

Before doing the PR I was wondering, how you want it to be unit-tested? add another test for `ConstructorUtils`? `ModulesSpec`?

[2019-07-24 16:35] raghumy commented on #9465
@marcospereira that makes sense now. Yes, we were relying on this behavior because the part of code that failed was essentially a proxy. Thanks for the clarification.

[2019-07-25 06:59] wyb008 commented on #8336
Hi everynone. Appreciate you can help on my Big File upload issue.
We need to allow the user to upload big files(hundred MB or even GB) to our PLAY Server. I have added the mentioned congifurations in my application.conf:
play.server.akka.max-content-length = 100MB
play.http.parser.maxMemoryBuffer = 100MB
parsers.MultipartFormData.maxLength = 100MB
parsers.formUrlEncoded.maxLength=102400K
akka.htt

[2019-07-25 10:50] dwijnand commented on #8999
### DI for child actors

I'm going to descope adding support for https://www.playframework.com/documentation/2.8.0-M1/ScalaAkka#Dependency-injecting-child-actors, because it seems like a "nice-to-have".  @marcospereira let me know if you feel differently.

### General DI and actors

https://www.playframework.com/documentation/2.8.0-M1/ScalaAkka#Dependency-injecting-actors.

Both akka-actor and in

[2019-07-25 17:29] ignasi35 opened #9504 "sbt 1.3.0-RCx manual testing"
As part of the acceptance testing for sbt 1.3.0 there are a few areas worth looking into with manual tests (e.g.Play does some classloader magic in dev mode to implement hot reload):

- [ ] use the [`play-java-ebean`](https://github.com/playframework/play-samples/tree/2.7.x/play-java-ebean-example) to try out Play _evolutions_
- [ ] test code changes (with and without errors):
  - [ ] In Java/Scal

[2019-07-25 18:22] #9383 closed

[2019-07-26 08:17] ignasi35 commented on #9491
Note this is a consistent failure (not a flaky test).

[2019-07-26 08:25] ignasi35 commented on #9491
related to https://github.com/playframework/playframework/pull/8917#issuecomment-452032487

related to https://github.com/akka/akka/issues/26187 and https://github.com/akka/akka/pull/26811 (which deprecates `IOResult`).

[2019-07-26 10:44] ignasi35 commented on #8999
I think we should provide two options:

a) when creating the binding a name is required and it works exactly as classic untyped actors in Play: the `name` value is used both as the actor name and the binding qualifier so the injection point must use it. This feels familiar/consistent while also providing support for multiple instances of the same type under different names.

b) no name is provided

[2019-07-26 14:25] giannoug opened #9505 "sbt bgRun crashes with NoSuchMethodException: play.core.server.DevServerStart.main"
### Play Version (2.5.x / etc)

2.7.3

### API (Scala / Java / Neither / Both)

2.12

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Windows 10 Pro (Version 1903)

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

[code]

### Expected Behavior

Please describe the expected behavior of the issue, starting from the first action.

1. First open an sbt shell
2. Use bgRun to make Pl

[2019-07-29 07:29] sim-jac commented on #2983
You can also use the original code - just extract the Route-Pattern from the request typed attrs instead of the context:

` String routePattern = req.attrs().get(Router.Attrs.HANDLER_DEF).path();`

[2019-07-29 08:23] renatocaval commented on #9504
@eed3si9n, similar to https://github.com/lagom/lagom/issues/2112, but for Play.

[2019-07-29 08:59] renatocaval commented on #9505
This is probably happening because `brRun` is not using the same classloader as Play's `run` uses.

@marcospereira, do you have some more hints on this?

[2019-07-29 12:24] renatocaval opened #9514 "Move dev-mode specific settings to DevServerStart"
_Originally posted by @ignasi35 in https://github.com/playframework/playframework/pull/9503_

[2019-07-29 12:28] kingsant opened #9515 "java.lang.OutOfMemoryError: Java heap space"
we develop web app on play framework,  `-xmx4000m` after the big amount of concurrency, app always OOM, what result in it!!!!
i see there is 900+ thread, but 800+ is blocked. but i donot know how to resolve it.
so what should i do to analyse this?

### Play Version (2.6.x / etc)

### API (Scala)

### Operating System (Ubuntu 16)

### JDK (OpenJDK 1.8.x)

[code]

[2019-07-29 12:34] mkurz commented on #9515
Please add your Play version, sbt version, Java version, Windows or Linux, etc.? Thanks!

[2019-07-29 15:07] renatocaval commented on #9515
Hello,  

Our [forums](https://discuss.playframework.com) would be a better place to discuss this. Github issues are for reporting bugs and feature requests in Play, not for general discussion and getting help.

As @mkurz mentioned, add your Play version, sbt version, Java version, Windows or Linux, when posting there.

Given that, I'm closing this.  

Best.

[2019-07-29 15:07] #9515 closed

[2019-07-29 15:50] renatocaval commented on #9505
@giannoug, I looked it further and here is what is happening.

When you run `bgRun` you are relying solely on sbt and therefore it tries to find a `main` method which is not present in `play.core.server.DevServerStart`.

Play redefines the `run` task in other to support the reloading. Play's run task know about `play.core.server.DevServerStart` and how to start it.

So, basically you can't use `bg

[2019-07-29 15:50] #9505 closed

[2019-07-29 15:55] renatocaval commented on #9487
@ghw59, Play is also deployed in non-containerized environments so choosing a default that makes sense for docker is not the best option.

On the other hand, I agree that the documentation can be improved to make it easier for users to learn about this specific situation.

I'll open another issue to improve the docs. Closing this one for now. Thanks.

[2019-07-29 15:55] #9487 closed

[2019-07-29 15:56] renatocaval opened #9516 "Better document how to config Play for containerized env"
We should have better documentation for the PID file problem in Docker. The documentation is not so clear about it.

[2019-07-29 18:34] marcospereira commented on #9473
Hey @jthangavel86,

Yeah, upgrading is abstracted from users, but you can still influence it based on the `Sec-WebSocket-Protocol` header. For example, you can have a check like this:

[code]

And your controller will be something like:

[code]

So, if you fire a request like below, where the headers are all valid according to the checks:

[code]

You will see an output similar to:

[code]

But if

[2019-07-29 23:33] sasankad opened #9518 "Result returned by the fakeRequest() doesn't have Play session cookie"
### Play Version (2.5.x / etc)
2.7.x

### Expected Behavior

**We had IntegrationTest Class which extends WithServer. With 2.5.x when we execute a fakeRequest, the Result had the play session cookie.**

### Actual Behavior

**But once upgraded to play 2.7.3, the Result doesn't have session cookie.**

[2019-07-30 18:09] eed3si9n commented on #9504
@renatocaval I have issue here https://github.com/sbt/sbt/issues/4891.

Specifically for Play, there's a pending issue https://github.com/sbt/zinc/issues/690 that's failing on Community Builds as well (which may or may not be fixed during RC of 1.3.0 since it seems to also exist in 1.2.8), so I'm more interested in the result of play-samples.

[2019-07-31 06:27] qq727127158 opened #9522 "Why is there no Chinese document?"
![image](https://user-images.githubusercontent.com/22268134/62188436-fcdc2000-b39e-11e9-8253-cd920cbed974.png)

This doesn't seem very friendly to Chinese developers

[2019-07-31 06:32] TimMoore commented on #9522
Documentation translations rely on contributions from community members. If you'd like to contribute a Chinese translation, we would be very grateful!

You can read the [Play contributor guidelines](https://github.com/playframework/playframework/blob/master/CONTRIBUTING.md) for help on getting started.

[2019-07-31 15:56] renatocaval commented on #9522
It seems that none of the translations is available right now on the website.

[2019-07-31 19:59] renatocaval commented on #9518
@sasankad, thanks for reporting this.

I added this issue to the backlog, but it can take sometime before someone can find time to pick it. Would you be interested in sending a PR?

[2019-07-31 23:36] marcospereira commented on #9522
@renatocaval it depends on the version, for example, https://www.playframework.com/documentation/fr/2.4.x/Home. Right now most of the translations are outdated and stopped in Play 2.4.x.

Anyway, I'm closing this issue since we won't do the translation to Chinese ourselves and this work should be track somewhere else.

[2019-07-31 23:36] #9522 closed

[2019-08-01 00:51] marcospereira commented on #9518
Hey @sasankad, even better if you can provide a reproducer.

[2019-08-01 07:17] #9403 closed

[2019-08-01 07:48] ashok4ch commented on #2717
I am facing the same issue. My envi details : OS: Windows 10 pro, play: 2.2.3  what is the fix?

[2019-08-01 12:03] renatocaval commented on #2717
@ashok4ch, you are using Play 2.2.3. The current version is 2.7.3, you are quite behind. I suggest you upgrade your app.

Play 2.2.x is not being maintained anymore so don't expect any fix for this.

[2019-08-02 03:13] j-chimienti commented on #8286
I am unable to set the idleTimeout in production mode using either application.conf or command line vars.

When app is running, I am seeing the variable is set, but is ignored in production mode. Development works fine

[2019-08-02 03:40] j-chimienti commented on #8286
@laguiz any luck in production?

[2019-08-02 05:29] ashok4ch commented on #2717
Issue fixed by installing JNotify correctly on Windows 10 pro. Apps using Play 2.2.3 work fine now.

[2019-08-02 05:31] ashok4ch commented on #2717
@renatocaval   Thank you.  sure will update.

[2019-08-02 16:17] renatocaval commented on #9345
Some more info explain the current situation in Lagom.

---
Lagom handles serialization different for Scala and Java.

For Java, it uses a marked interface (`Jsonable`) and behind the scenes use Jackson.

For Scala, we have the `JsonSerializerRegistry`. When defining a `PersistentEntity` the user has to provide a serializer registry.

In Play, we could default to Jackson for both Scala and Java, b

[2019-08-02 17:09] renatocaval opened #9529 "Migration for Play Json"
Part of #9278

[2019-08-02 18:55] rogerzxu commented on #9262
I don't necessary think Netty support needs to be dropped, but I think it would be much nicer to make the Netty/akka-http choice more explicit than, "if netty is in the classpath, it might be chosen for the backend."

Seems like a common scenario where netty might accidentally be included by a transitive dependency.

[2019-08-05 08:02] flostadler commented on #9518
Hey I'd like to tackle this issue. Any heads up on where to start?

[2019-08-05 08:51] ngu04 opened #9532 "helper.form action to route controller doesn't pick play.http.context or prefix in action while using compile time DI injection"
### Are you looking for help?

This is an issue tracker, used to manage and track the development of Play. It is not a support system and so it is not a place to ask questions or get help. If you're not sure if you have found a bug, or if you have a feature request, the best place to start is with either the [Discuss Play Forum](https://discuss.playframework.com) or [Stack Overflow](http://stackov

[2019-08-05 14:49] dwijnand commented on #9491
Fixed in #9506

[2019-08-05 14:49] #9491 closed

[2019-08-05 21:04] StanfordMCP opened #9536 "Assets not loaded into classloader during testPlayBinary"
### Play Version

2.6.20

### API

Scala, Java

### Operating System

MacOS 10.14.5

### JDK

1.8.0_212

### Library Dependencies

None

### Expected Behavior

When running testPlayBinary we expect the asset files to be present in the classloader as it is when running runPlayBinary

### Actual Behavior

The asset files are not present in the classloader during testPlayBinary, however, they are pre

[2019-08-06 10:28] ngu04 commented on #9532
I got this working by using withPrefix rather than providing prefix as parameter while create Routes object.

[2019-08-06 10:28] #9532 closed

[2019-08-06 10:59] ngu04 commented on #9532
Also I think there are few proper example of compile-time DI for most of functionality .

[2019-08-06 12:01] laguiz commented on #8286
@j-chimienti What version of Play? https://www.playframework.com/documentation/2.7.x/Migration26#Akka-HTTP-server-timeouts

[2019-08-06 17:15] marcospereira commented on #9536
Hey @StanfordMCP,

Gradle support is not maintained by Play team, but instead by Gradle Inc. Depending on the version you are using, you either need to open an issue in https://github.com/gradle/playframework or https://github.com/gradle/gradle.

Given that, I'm closing this issue.

[2019-08-06 17:15] #9536 closed

[2019-08-06 17:16] marcospereira commented on #9532
Hey @ngu04,

In the future, please use our [forums](https://discuss.playframework.com) since it is a better place to discuss this. Github issues are for reporting bugs and feature requests in Play, not for general discussion and getting help.

Best.

[2019-08-06 20:22] EdozdeDandez opened #9543 "play 2.7.3 java dependency injection error"
### Play Version

2.7.3

### API

Java

### Operating System

Mac

### JDK

openjdk version "1.8.0_152-release"
OpenJDK Runtime Environment (build 1.8.0_152-release-1248-b01)
OpenJDK 64-Bit Server VM (build 25.152-b01, mixed mode)

### Library Dependencies

### Expected Behavior

1. I'm injecting into a controller using the @Inject diretive
2.
3.

### Actual Behavior

1. The application gives an e

[2019-08-06 20:25] marcospereira commented on #9543
Hey @EdozdeDandez, this does not sound like a bug, but possibly a missing dependency. Is the application adding `guice` to `libraryDependencies` like documented here:

https://www.playframework.com/documentation/2.7.x/JavaDependencyInjection#Dependency-Injection

Anyway, our [forums](https://discuss.playframework.com) would be a better place to discuss this. Github issues are for reporting bugs an

[2019-08-06 20:25] #9543 closed

[2019-08-08 08:57] lylqccnu opened #9545 "CompletionStage（redirect）"
public CompletionStage<Result> register() {
  return completedFuture(redirect("http://www.baidu.com"));
}

我想要跳转到  www.baidu.com 如何实现？

[2019-08-08 17:13] dwijnand opened #9546 "no-package-declaration-in-routes-file on Java 11"
Forked from https://github.com/playframework/playframework/pull/9521#issuecomment-518799836, `scripted routes-compiler-plugin/no-package-declaration-in-routes-file` on Java 11 (not all versions?) returns:

[code]

I tweaked the test and I'm seeing this source:

[code]

and confirmed with javap:

[code]

So is `RouterSpec.scala` failing to access `router.routes`'s `public static final router.Revers

[2019-08-08 17:27] eed3si9n commented on #9546
Should it be `target/scala-2.12/classes/router/Routes.class` or `routes.class` with lowercase?

[2019-08-08 17:51] dwijnand commented on #9546
Huh.  I wonder who's responsible for the classfile being `Routes.scala`.

[2019-08-08 18:00] eed3si9n commented on #9546
So do you generate `Routes.scala` and `routes.java` and output under the same package?
https://github.com/playframework/playframework/pull/4490

[2019-08-08 18:16] eed3si9n commented on #9546
If you pause scripted:

[code]

you should see

[code]

[2019-08-08 18:28] eed3si9n commented on #9546
Maybe all you need is a macOS or Windows, not even JDK 11.

[2019-08-08 20:37] marcospereira commented on #9518
Hey @flostadler, I think the best way to start is trying to create a reproducer where you can debug the problem and see the differences between 2.5.x and 2.7.x. You can see in the docs how to write an integration test that uses `WithServer` and `fakeRequest`.

Let me know if you need some more help with it.

Best.

[2019-08-08 21:13] SethTisue commented on #9546
case insensitive filesystem?

[2019-08-08 21:22] mkurz commented on #9546
Related: #6702
Also have a look at this comment regarding case (in)sensitive filesystems: https://github.com/playframework/playframework/issues/6702#issuecomment-453507755

[2019-08-08 21:29] mkurz commented on #9546
I guess so as well. It's about the filesystem being case in/sensitive.

[2019-08-09 10:43] dwijnand commented on #9546
Thanks for the links and info.  My best guess is something in recent Java 11 changed something in the filesystem handling that made this more of a problem?

Anyways, I guess we'll have to fix this with that breaking rename of `Routes`?

[2019-08-09 12:02] mkurz commented on #9546
No, I don't think Java 11 changed. The behaviour didn't change. You guys now bump into this issue because you run this scripted test locally on your machines on a case insensitive filesystem. Travis never had this issue (see [this comment](https://github.com/playframework/playframework/pull/9521#issuecomment-518799836): _"Travis failure is not relevant since this job is flaky, but it is possible t